<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>租金扣划-申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
			<form id="formSerach" method="post" action="payment!pay_Detail_DB_Mg.action">
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
                    <td align="right">供应商：</td>
					<td>
						<input type="text" name="SUPPER_NAME" id="SUPPER_NAME" class="paramData" size="20" value="$!param.SUPPER_NAME">
					</td>
                    <td align="right">项目编号：</td><td><input name="PROJECT_CODE" id="PROJECT_CODE" type="text" size="20" value="$!param.PROJECT_CODE" class="paramData"></td>
                    <td align="right">
						预付日：
					</td>
					<td colspan="3">
						<input name="RESERVE_DATE1" id="RESERVE_DATE1" type="text" size="15" class="easyui-datebox paramData" value="$!param.RESERVE_DATE1"> 至 <input name="RESERVE_DATE2" id="RESERVE_DATE2" type="text" size="15" class="easyui-datebox paramData" value="$!param.RESERVE_DATE2"> 
                    </td>
					
					
						
					<td align="center" rowspan="2">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='seach();'>查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
                    </td>
				</tr>
                <tr>
                    <td align="right">厂商：</td>
					<td>
						<input type="text" name="COMP_NAME" id="COMP_NAME" class="paramData" value="$!param.COMP_NAME" size="20">
					</td>
                   <td align="right">租赁物名称：</td>
					<td>
						<select name="PRODUCT_NAME" id="PRODUCT_NAME" class="paramData" style="width:135px">
								<option value="">--请选择--</option>
            				#foreach($ite in $!toGetProduct)
            						<option value="$!ite.PRODUCT_NAME" #if($!param.PRODUCT_NAME==$!ite.PRODUCT_NAME) selected #end>
    									$!ite.PRODUCT_NAME
                                    </option>
    						#end
						</select>
					</td>
					<td align="right">客户名称：</td><td><input name="CUST_NAME" id="CUST_NAME" type="text" size="20" value="$!param.CUST_NAME" class="paramData"></td>
					<td align="right">收款单位：</td><td><input name="PAYEE_NAME" id="PAYEE_NAME" type="text" size="20" value="$!param.PAYEE_NAME" class="paramData"></td>
				</tr>
		</table>
		</form>
    		<hr />
		</div>
		 <table id="pageTable" fit="true" class="easyui-datagrid" pagination="true" data-options="rownumbers:true,url:'$_basePath/payment/payment!pay_Detail_DB_Mg_AJAX.action',toolbar:'#pageForm'">
			<thead>
    			<tr>			
        			 <th  data-options="field:'SUPPER_NAME',width:200">供应商</th>
        			 <th  data-options="field:'PROJECT_CODE',width:150">项目编号</th>
        			 <th  data-options="field:'CUST_NAME',width:150">客户名称</th>
        			 <th  data-options="field:'COMP_NAME',width:200">厂商</th>
        			 <th  data-options="field:'PRODUCT_NAMES',width:200">租赁物名称</th>
        			 <th  data-options="field:'ENGINE_TYPES',width:150">机型</th>
        			 <th  data-options="field:'WHOLE_ENGINE_CODES',width:150">出厂编号</th>
        			 <th  data-options="field:'EQUIPMENT_AMOUNTS',width:50">台量</th>
        			 <th  data-options="field:'START_DATE',width:150">起租确认日</th>
        			 <th  data-options="field:'ACCEPTANCE_DATE',width:150">预付日期</th>
        			 <th  data-options="field:'LEASE_TOPRIC',width:150">租赁物购买价款</th>
        			 <th  data-options="field:'PAY_MONEY',width:150">实际放款金额</th>
        			 <th  data-options="field:'PAY_NAME',width:100">款项名称</th>
        			 <th  data-options="field:'PAYEE_NAME',width:200">收款单位</th>
        			 <th  data-options="field:'PAY_BANK_ACCOUNT',width:150">放款账号</th>
        			 <th  data-options="field:'INVOICE_NUM',width:150">发票号</th>
        			 <th  data-options="field:'INVOICE_DATE',width:150">发票日期</th>
        			 <th  data-options="field:'GUARANTEE_NUM',width:150">担保号</th>
        			 <th  data-options="field:'GUARANTEE_DATE',width:150">担保日期</th>
        		</tr>
    		</thead>
		</table>
	</div>	

	
</body>
<script>
		function seach(){
			var SUPPER_NAME=$("input[name='SUPPER_NAME']").val();
			var PROJECT_CODE=$("input[name='PROJECT_CODE']").val();
			var PRODUCT_NAME=$("select[name='PRODUCT_NAME']").find("option:selected").val();
			var COMP_NAME=$("input[name='COMP_NAME']").val();
			var RESERVE_DATE1=$("input[name='RESERVE_DATE1']").val();
			var RESERVE_DATE2=$("input[name='RESERVE_DATE2']").val();
			var CUST_NAME=$("input[name='CUST_NAME']").val();
			var PAYEE_NAME=$("input[name='PAYEE_NAME']").val();
			$('#pageTable').datagrid('load', {"PROJECT_CODE":PROJECT_CODE,"SUPPER_NAME":SUPPER_NAME,"PAYEE_NAME":PAYEE_NAME,"PRODUCT_NAME":PRODUCT_NAME,"COMP_NAME":COMP_NAME,"RESERVE_DATE1":RESERVE_DATE1,"RESERVE_DATE2":RESERVE_DATE2,"CUST_NAME":CUST_NAME});
		
		}
		
		
        function emptyData(){
        	$('#pageForm').form('clear');
        }
    </script>
</html>