#parse("content/importBase.vm")

<script type="text/javascript" src="$!_basePath/analysis/report/js/rep_project.js"></script>
   #*
<form id="frm" action="Report!goReportView.action" method="post" style="height:20px;">
    <input type="hidden" id="ID" name="ID" value="$!ID" />
    <table class="tab01">
        <tr>
            <td style="text-align:right;width:100px">
                报表版本:
            </td>
            <td style="text-align:left">
                <select name="REPORT_NAME" id="REPORT_NAME" class="headClass" onchange="goVersion(this.options[this.options.selectedIndex].value)">
                    #foreach($item in $versionList)<option #if($!ID==$!item.ID)selected#end  value="$!item.ID">$!item.REPORT_NAME </option>
                    #end
                </select>
            </td>
        </tr>
    </table>
</form>   *#
<table class="tab01">
    <tr >
    	<td >
    		
			<embed type="application/x-shockwave-flash" src="../analysis/biReport/charts/MSLine.swf" id="ChartId" name="ChartId" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="chartWidth=99%&chartHeight=99%&debugMode=0&DOMId=ChartId&registerWithJS=0&scaleMode=noScale&lang=EN&baseFontSize=10&dataURL=$request.contextPath/fusionChart/ReportCredit!goReportView.action" height="480px" width="98%">
			
        </td>
   </tr>
   #*
    <tr >
    	<td >
	        <embed type="application/x-shockwave-flash" src="../analysis/biReport/charts/StackedColumn2D.swf" id="ChartId" name="ChartId" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="chartWidth=99%&chartHeight=99%&debugMode=0&DOMId=ChartId&registerWithJS=0&scaleMode=noScale&lang=EN&baseFontSize=10&dataURL=$request.contextPath/fusionChart/DataRelease!doSelectDataXML.action?ID=$!ID%26CHART_ID=1" height="350px" width="49%">
	        <embed type="application/x-shockwave-flash" src="../analysis/biReport/charts/StackedColumn2D.swf" id="ChartId" name="ChartId" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="chartWidth=99%&chartHeight=99%&debugMode=0&DOMId=ChartId&registerWithJS=0&scaleMode=noScale&lang=EN&baseFontSize=10&dataURL=$request.contextPath/fusionChart/DataRelease!doSelectDataXML.action?ID=$!ID%26CHART_ID=1" height="350px" width="49%">
        </td>
   </tr>
   *#
</table>