#parse("content/importBase.vm")	
<script type="text/javascript"  src="$_basePath/financeScreen/js/financeScreenMG.js"></script>
<input type="hidden" name="FID" id="FID" value="$!data.JG_ID"/>
<input type="hidden" name="PAY_WAY" id="PAY_WAY" value="$!data.BAILOUTWAY_ID"/>
<table cellpadding="0" cellspacing="0" class="table_01">
  <tr>
      <td width="18%" class="text_right">项目名称：</td>
      <td width="15%">$!data.PROJECT_NAME</td>
      <td width="18%" class="text_right">项目编号 ：</td>
      <td width="15%">$!data.PROJECT_CODE</td>
      <td width="18%"class="text_right">支付方式：</td>
      <td width="15%">$!data.BAILOUTWAY_NAME</td>
  </tr>
  <tr>
      <td class="text_right">保证金比例(%)：</td>
      <td>$!data.MARGIN_SCALE %</td>
      <td class="text_right">融资比例(%)：</td>
      <td>$!data.BAILOUTWAY_NSFR %</td>
      <td class="text_right">手续费比例(%)：</td>
      <td>$!data.POUNDAGE_SCALE %</td>
  </tr>
  <tr>
      <td class="text_right">融资基数：</td>
      <td>
		#if($!data.FINANCING_BASE==1)设备金额#end
		#if($!data.FINANCING_BASE==2)剩余本金#end
		#if($!data.FINANCING_BASE==3)剩余租金#end
		#if($!data.FINANCING_BASE==4)融资额#end
	  </td>
      <td class="text_right">保险费比例(%)：</td>
      <td>$!data.PREMIUM_SCALE %</td>
      <td class="text_right">利率类型：</td>
      <td>
		#if($!data.RATE_TYPE==1)上浮#end
		#if($!data.RATE_TYPE==2)固定#end
		#if($!data.RATE_TYPE==3)下浮#end
	  </td>
  </tr>
  <tr>
      <td class="text_right">其他比例(%)：</td>
      <td>$!data.REST_SCALE %</td>
      <td class="text_right">利率比例(%)：</td>
      <td>$!data.RATE_SCALE %</td>
      <td class="text_right">项目金额：</td>
      <td>$!data.PAY_TOTAL</td>
  </tr>
  <tr>
      <td class="text_right">方案授信余额：</td>
      <td colspan="5"><span #if($!data.PAY_TOTAL>$!data.LAST_PRICE)style="color : red"#end>
							$!data.LAST_PRICE
                    </span></td>
  </tr>
  
</table>
<div style="height:20px;"></div>
<table cellpadding="0" cellspacing="0" class="table_01">
	<thead >
		<tr class="text_left" align="center">
			<td width="5%" align="center">序号</td>
			<td width="15%">名称</td>
			<td width="15%">提交人</td>
			<td width="15%">提交时间</td>
			<td width="10%">操作</td>
		</tr>
	</thead>
	<tbody>
		#foreach($item in $filelist)
			<tr>
				<td align="center">$velocityCount</td>
				<td>$!item.FILE_NAME &nbsp;</td>
				<td>$!item.USER_NAME &nbsp;</td>
				<td>$!item.CREATE_DATE &nbsp;</td>
				<td>
					<a href="$!_basePath/refundProject/RefundProject!doDownload.action?id=$!item.ID&FILE_NAME=$!item.FILE_NAME" >下载</a>
				</td>
			</tr>
		#end
	</tbody>
</table>
<div style="height:20px;"></div>
<table cellpadding="0" cellspacing="0" class="table_01">
<thead>
<tr class="text_left" align="center">
<td width="5%" align="center">序号</td>
<td width="15%">客户名称</td>
<td width="15%">项目编号</td>
<td width="15%">支付表号</td>
<td width="10%">创建时间</td>
<td width="10%">起租日</td>
<td width="10%">状态</td>
<td width="10%">资料是否齐全</td>
</tr>
</thead>
<tbody>
#foreach($item in $paylist)
	<tr >
		<td style="text-align:center;">$velocityCount</td>
		<td style="text-align:center;">$!item.NAME</td>
		<td style="text-align:center;">$!item.PRO_CODE</td>
		<td style="text-align:center;">$!item.PAYLIST_CODE</td>
		<td style="text-align:center;">$!item.CREATE_DATE</td>
		<td style="text-align:center;">$!item.START_DATE</td>
		<td style="text-align:center;">#if($!item.STATUS=='0')正常(执行中)#elseif($!item.STATUS=='1')作废 (结束)#elseif($!item.STATUS=='3')正常结清(结束)#elseif($!item.STATUS=='4')回购(结束)#elseif($!item.STATUS=='5')转法务(执行中)#elseif($!item.STATUS=='6')提前结清(结束)#elseif($!item.STATUS=='8')转让(执行中)#elseif($!item.STATUS=='9')退换货(执行中)#elseif($!item.STATUS=='10')收回(结束)#end</td>
		<td style="text-align:center;">
			#if($!item.FLAG=='true')
				<a href=javascript:void('0') onclick=showFileList('$!item.NAME','$!item.LEASE_CODE','$!item.PAYLIST_CODE')>齐全</a>";
			#else
				<a href=javascript:void('0') onclick=showFileList('$!item.NAME','$!item.LEASE_CODE','$!item.PAYLIST_CODE')><font color=red>不齐全</font></a>
			#end
		</td>
	</tr>
#end
</tbody>
</table>
<div style="height:20px;"></div>
<table cellpadding="0" cellspacing="0" class="table_01">
<thead>
<tr class="text_left" align="center">
<td width="5%" align="center">序号</td>
<td width="15%">应收时间</td>
<td width="15%">应收租金</td>
<td width="15%">应收本金</td>
<td width="10%">应收利息</td>
</tr>
</thead>
<tbody>
#foreach($item in $toMgRentDeatil)
	<tr >
		<td style="text-align:center;">$velocityCount</td>
		<td style="text-align:center;">$!item.PAY_DATE</td>
		<td style="text-align:center;">$!item.ZUJIN</td>
		<td style="text-align:center;">$!item.BENJIN</td>
		<td style="text-align:center;">$!item.LIXI</td>
	</tr>
#end
</tbody>
</table>