 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>还款计划变更</title>
		#parse("content/importBase.vm")
		<style type="text/css">
		</style>
    </head>
 <body  class="easyui-layout" style="background-image:none;">
 <script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
	<div region="center" id="pageForm" style="height:auto;" border="true">
	<form id="changePay" class="easyui-form">
		<input type="hidden" name="code" id="code_">
		<input type="hidden" name="ID" id="ID_">
		<input type="hidden" name="status" id="status_">
		<table width="100%" cellspacing="0" cellpadding="4px;"  border="0">
            <tr>
               <td align="right">融资租赁合同号</td>
			   <td>
                	<input type="text" readonly value="$!data.map.PRO_CODE" /> 
               </td>
               <td align="right">承租人</td>
			   <td>
                	<input type="text" readonly value="$!data.map.NAME" /> 
               </td>
			   <td align="right">还款计划编号</td>
			   <td>
                	<input type="text" readonly value="$!data.map.PAYLIST_CODE" /> 
               </td>
           </tr>
      </table>
	  </form>
	    <table  id="pageTable1" fit="true" fitColumns="true" class="easyui-datagrid" data-options="rownumbers:true,singleSelect:false,showFooter:true,toolbar:'#changePay'">
	         <thead>
			 	<tr>
					<th data-options="field:'PAY_DATE',width:12">支付时间</th>
					<th data-options="field:'qc',width:8,sortable:true">期次</th>
					##<th data-options="field:'PMTzj',width:12">PMT租金</th>
					<th data-options="field:'zj',width:12">租金</th>
					<th data-options="field:'bj',width:12,editor:'text'">本金</th>
					<th data-options="field:'lx',width:12,editor:'text'">利息</th>
					<th data-options="field:'sybj',width:12">剩余本金</th>
	        	</tr>
	        </thead>
		 </table>
	</div>
	<script type="text/javascript">
		$(function(){
			var payDetail = eval($!data.list);
			var map = eval($!data.map2);
			if(map!=null){//如果map不为空及为已经申请了提前结清，现在为查看页面
				var PARAM_VALUE = map.PARAM_VALUE;
				var re=/^totalMoney:([^,]+),changeIssue:([^-]+)-([^,]+),/g;
				if(re.test(PARAM_VALUE)){
					$("input[name='totalMoney']").val(RegExp.$1);
					$("input[name='start_issue']").val(RegExp.$2);
					$("input[name='end_issue']").val(RegExp.$3);
					$("input[name='totalMoney']").attr("readonly","readonly");
					$("input[name='start_issue']").attr("readonly","readonly");
					$("input[name='end_issue']").attr("readonly","readonly");
					$("#operation_").hide();
				}
			}
			 //计算合计
		    //var tmp = totalColumn($(payDetail),"PMTzj");
		    var footer_ = [{
		        PAY_DATE: "合计：",
		        //PMTzj: totalColumn($(payDetail), "PMTzj"),
		        zj: totalColumn($(payDetail), "zj"),
		        bj: totalColumn($(payDetail), "bj"),
		        lx: totalColumn($(payDetail), "lx")
		    }];
		    var msg = {
		        flag: true,
		        total: payDetail.length,
		        rows: payDetail,
		        footer: footer_
		    };
		    $('#pageTable1').datagrid("loadData", msg);
		})
		var flag_ = false;
		function calculate(){
			 var selections = $('#pageTable1').datagrid("getSelections");
			 var strTime =selections[0].PAY_DATE;
			 var date = new Date(Date.parse(strTime.replace(/-/g,   "/"))); //转换成Data();
			 var flag = false;
			 var start_issue;
			 var end_issue;
			 var totalMoney = 0;
			 if(date.getTime()>new Date().getTime()){
				 for(var i=0;i<selections.length;i++){
				 	var row = selections[i];
				 	if(i==0){
						start_issue = row.qc;
						end_issue = row.qc;
					}else{
						flag_ = true;
						row.zj = formatNumber(parseFloat(row.zj) - parseFloat(row.lx),"0.00");
						//row.PMTzj = formatNumber(parseFloat(row.PMTzj) - parseFloat(row.lx),"0.00");
						row.lx=0;
						$('#pageTable1').datagrid('updateRow',{
							index: parseInt(row.qc)-1,
							row: {
								PAY_DATE: row.PAY_DATE,
								qc: row.qc,
								//PMTzj: row.PMTzj,
								zj: row.zj,
								bj: row.bj,
								lx: row.lx,
								sybj: row.sybj
							}
						});
						end_issue = row.qc;
					}
				 	totalMoney = totalMoney + parseFloat(row.zj);
				 }
			 }else{
			 	  for(var i=0;i<selections.length;i++){
				 	var row = selections[i];
				 	if(i==0){
						start_issue = row.qc;
						end_issue = row.qc;
					}else{
						end_issue = row.qc;
					}
				 	totalMoney = totalMoney + parseFloat(row.zj);
				 }
			 }
			 $("input[name='start_issue']").val(start_issue);
			 $("input[name='end_issue']").val(end_issue);
			 $("input[name='totalMoney']").val(formatNumber(totalMoney,"0.00"));
			 $('#nex_').linkbutton('enable');     
		}
		function nex_(){
			var myData = $('#pageTable1').datagrid('getRows');
			var data_ = "myData="+JSON.stringify(myData)+"&PAYLIST_CODE="+getUrl_().PAYLIST_CODE+"&code_="+9;
			data_ = data_+"&PAYCHANGE_PARAMETER=totalMoney:"+$("input[name='totalMoney']").val()+",changeIssue:"
			+$("input[name='start_issue']").val()+"-"+$("input[name='end_issue']").val()+",flag_:"+flag_;
		    jQuery.ajax({
	        type: "POST",
	        dataType: "json",
			async:false,
	        url: _basePath + "/pay/PayTask!calculateSave.action",
	        data: data_,
	        success: function(msg){
				 //点击保存后下一步和测算按钮不可用
	            $('#nex_').linkbutton('disable');
				$('#calculate_').linkbutton('disable');
				jQuery.messager.show({
					title:'操作提示',
					msg:msg.data,
					showType:'show'
				});
				$('#start_jbpm').linkbutton('enable');
	        }
		    })
		}
		function start_jbpm(){
			jQuery.ajax({
	        type: "POST",
	        dataType: "json",
			async:false,
	        url: _basePath + "/pay/PayTask!forwardRepaymentJBPM.action",
	        data: "PAYLIST_CODE="+getUrl_().PAYLIST_CODE+"&code_=99",
	        success: function(msg){
				 //点击保存后下一步和测算按钮不可用
	            $('#nex_').linkbutton('disable');
	            $('#start_jbpm').linkbutton('disable');
				$('#calculate_').linkbutton('disable');
				jQuery.messager.show({
					title:'操作提示',
					msg:msg.data,
					showType:'show'
				});
	        }
		    })
		}
	</script>
</body>
</html>