 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>还款计划变更</title>
		#parse("content/importBase.vm")
		<style type="text/css">
		</style>
    </head>
     <body class="easyui-layout">
    	<DIV style="HEIGHT: 53px" border="false" region="north">
            <div style="padding:5px;border:1px solid #ddd;">
                <a href="javascript:void(0)" onclick="showDiv('showPay')" class="easyui-linkbutton" iconCls="icon-multitasking" plain="true" data-options="toggle:true,group:'taskGroup',cache:false">还款计划</a>
                ##<a href="javascript:void(0)" onclick="showDiv('showFile')" class="easyui-linkbutton"  iconCls="icon-track-start" plain="true" data-options="toggle:true,group:'taskGroup'">$!chang_name</a>
                <a href="javascript:void(0)" onclick="showDiv('projectFile')" class="easyui-linkbutton"  iconCls="icon-track-start" plain="true" data-options="toggle:true,group:'taskGroup'">合同附件</a>
            </div>
        </DIV>
    	
    	<DIV border="false" region="center" style="overflow-y:auto">
			<iframe id="showPay" src="$_basePath/pay/PayTask!toMgshowDetailChangeJBPM.action?ID=$!param_.PAY_ID&PROJECT_ID=$!param_.PROJECT_ID" width="100%" align="center" height="100%" frameborder="0" border="0"></iframe>
            ##<iframe id="showPay" src="$_basePath/pay/PayTask!changeToShow.action?PAYLIST_CODE=$!param_.PAYLIST_CODE" width="100%" align="center" height="100%" frameborder="0" border="0"></iframe>
            <iframe id="showFile" src="$_basePath$!url_" width="100%" align="center" height="100%" frameborder="0" border="0"></iframe>
            <iframe id="projectFile" src="$_basePath$!url_2" width="100%" align="center" height="100%" frameborder="0" border="0"></iframe>
        </DIV>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".easyui-linkbutton:first").click();
            });
            function showDiv(name){
				$("iframe").hide();
			    //eval("$('#"+name+"').show();");
				$("#"+name).show();
            }
        </script>
    </body>
</html>