 <!DOCTYPE html>
<html>
    <head>
    	#parse("content/importBase.vm")
        <meta charset="UTF-8">
		<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
		<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/pay.js"></script>
        <title>提前还款管理</title>
    </head>
 <body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;" border="true">
		   <form id="queryForm">
    		<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
                <tr>
                   <td align="right">还款计划编号</td>
				   <td>
                    	<input class="input_03" type="text" size ="20" name="PAYLIST_CODE" />
                   </td>
                   <td align="right">起租状态</td>
				   <td>
                    	<select name="STATUS" style="width:100px;">
						<option value="">--全部--</option>
						<option value="0">未起租</option>
						<option value="1">已起租</option>
						</select>
                   </td>
				    <td align="right">创建时间</td>
				   <td colspan="2">
                    	<input class="easyui-datebox" type="text" size ="10" name="B_CREATE_DATE"  />到
						<input class="easyui-datebox" type="text" size ="10" name="E_CREATE_DATE" />
                   </td>
               </tr>
			   <tr>
			   	   <td align="right">项目编号</td>
				   <td>
                    	<input class="input_03" type="text" size ="20" name="LEASE_CODE" />
                   </td>
			   	   <td align="right">还款计划状态</td>
				   <td>
                    	<select name="DATE_STATUS" style="width:100px;">
							<option value="">--全部--</option>
							#foreach($!item in $queryDataDictionary)
							<option value="$!item.CODE">$!item.FLAG</option>
							#end
						</select>
                   </td>
			   	   <td align="right">起租日期</td>
				   <td  colspan="2">
                    	<input class="easyui-datebox" type="text" size ="10" name="B_START_DATE" />到
						<input class="easyui-datebox" type="text" size ="10" name="E_START_DATE" />
                   </td>
				   
			   </tr>
			   <tr>
			   	 <td align="right">客户经理</td>
				   <td>
                    	<input class="input_03" type="text" size ="20" name="CLERK_NAME" />
                   </td>
			<!--   	 <td align="right">厂商</td>
				   <td>
                    	<input class="input_03" type="text" size ="20" name="COMPANY_NAME" />
                   </td>
			   	 <td align="right">供应商</td>
				   <td>
                    	<input class="input_03" type="text" size ="20" name="SUPPLIERS_NAME" />
				   </td> Modify By YangJ 2014年6月10日 10:51:51-->
			<td></td><td></td><td></td><td></td>
				   <td>
				   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>搜 索</a>
				   </td>
			   </tr>
			   <tr><td colspan="7">
				<!-- 
									
				<div>
			   	#if(!$flag)
	                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="forwardRepayment()">提前还款</a>
				#end
				</div>-->
				</td></tr>
          </table>
		  </form>
		</div>
		
        <table fitColumns="true"   id="pageTable" fit="true" class="easyui-datagrid"  data-options="pageSize:20,pagination:true,rownumbers:true,singleSelect:true,url:'$_basePath/pay/PayTask!payListing_stuts.action?P_STATUS=9',toolbar:'#pageForm'">
             <tr>
				<thead>
    				<th data-options="field:'STATUS_NAME',width:8">状态</th>
    				<th data-options="field:'RENTER_NAME',width:14">承租人名称</th>
    				<th data-options="field:'LEASE_CODE',width:12">合同编号</th>
    				<th data-options="field:'START_DATE',width:10">起租日</th>
    				<th data-options="field:'PAYLIST_CODE',width:12">还款计划编号</th>
    				<th data-options="field:'VERSION_CODE',width:4">版本号</th>
    				<th data-options="field:'CLERK_NAME',width:8">客户经理</th>
    				<th data-options="field:'CREATE_DATE',width:10">创建时间</th>
                </thead>
            </tr>
		 </table>
	</div>
	<script type="text/javascript" language="JavaScript">
		function forwardRepayment(){
			//alert("变更");
			var row = $('#pageTable').datagrid('getSelected');
			if(!row){//等于空的时候表示为选择任何行
				alert("请选择提前还款的还款计划");
				return null;
			}else{
				var status = row.STATUS;
				if(status!=0){//支付表状态正常的才能变更
					alert("该还款计划不允许提前还款");
					return null;
				}else{
					window.location.href=_basePath + "/pay/PayTask!forwardRepaymentShow.action?PAYLIST_CODE="+row.PAYLIST_CODE+"&PAY_ID="+row.ID
				}
			}
		}
	</script>
</body>
</html>