 <!DOCTYPE html>
<html>
    <head>
    	#parse("content/importBase.vm")
		<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
        <meta charset="UTF-8">
        <title>租前息管理</title>
		<style type="text/css">
			.dataDiv{
				width:auto;
				height:365px;
			}
		</style>
    </head>
 <body  class="easyui-layout" style="background-image:none;">
	<div region="center" id="pageForm" style="height:auto;" border="true">
	<form id="changePay" class="easyui-form">
		<input type="hidden" name="code" id="code_"value="$!pay.PAYLIST_CODE" >
		<input type="hidden" name="ID" id="ID_">
		<table width="100%" cellspacing="0" cellpadding="4px;"  border="0" class="table_02">
            <tr>
               <td align="right">融资租赁合同号</td>
			   <td>
                	<input class="input_03" type="text" size ="20" readonly="readonly" name="" value="$!pay.projectInfo.PRO_CODE" />
               </td>
               <td align="right">承租人</td>
			   <td>
                	<input class="input_03" type="text" size ="20" name=""  readonly="readonly" value="$!pay.projectInfo.NAME"/>
               </td>
			    <td align="right">还款计划编号</td>
			   <td>
                	<input class="input_03" type="text" size ="20" value="$!pay.projectInfo.PAYLIST_CODE" readonly="readonly" name="PAYLIST_CODE" id="PAYLIST_CODE" />
               </td>
			   <td align="right">当前年利率</td>
			   <td >
			   	<input class="input_03" type="text" size ="20" value="$!pay.YEAR_INTEREST" readonly="readonly" name="YEAR_INTEREST" id="YEAR_INTEREST"/>
               </td>
           </tr>
		   <tr>
		   	   <td align="right">开始/结束时间</td>
			   <td>
                	<input class="easyui-datebox" type="text" size ="14" id="START_DATE" name="START_DATE" />
					<font color="red">*</font>
					至
					<input class="easyui-datebox" type="text" size ="14" id ="END_DATE" name="END_DATE" />
					<font color="red">*</font>
               </td>
			    <td align="right">还款日</td>
			   <td>
                	<input class="easyui-datebox" type="text" size ="14" id ="H_START_DATE" name="H_START_DATE" />
               		<font color="red">*</font>
			   </td>
			   <td align="right">租前息计划编号</td>
			   <td>
                	<input class="input_03" type="text" size ="25" name="PAYLIST_CODE_ZQX" readonly id="PAYLIST_CODE_ZQX" value="$!pay.PAYLIST_CODE_ZQX"/>
               		<font color="red">*</font>
			   </td>
		   	 <td align="right">租前息利率</td>
			   <td>
                	<input class="input_03" type="text" size ="20" value=$FORMAT.number($!pay.TIAN_YEAR_INTEREST,'#############0.000000') name="TIAN_YEAR_INTEREST" id ="TIAN_YEAR_INTEREST"/>
					<font color="red">*</font>
			   </td>
		   </tr>
		   <tr>
		   	   <td align="right">计算方式</td>
			   <td>
                	<select name="TYPE" style="width:80px;">
						<option value="0">天</option>
						</select>
					<font color="red">*</font>
               </td>
			    <td align="right">还款周期</td>
			   <td>
                	<select name="LEASE_PERIOD" style="width:80px;">
						<option value="1">月</option>
						<option value="2">双月</option>
						<option value="3">季度</option>
						<option value="6">半年</option>
						<option value="12">年</option>
						</select>
               		<font color="red">*</font>
			   </td>
			   <td align="right">支付表总额</td>
			   <td>
                	<input class="input_03" type="text" size ="20" name="LEASE_TOPRIC" readonly id="LEASE_TOPRIC" value="$!pay.projectInfo.LEASE_TOPRIC"/>
               		<font color="red">*</font>
			   </td>
			   <td align="right">还款期数</td>
			   <td>
                	<input class="input_03" type="text" size ="20" name="LEASE_TERM" readonly id="LEASE_TERM" />
			   </td>
		   </tr>
      </table>
	  
	  </form>
	  <table width="100%" cellspacing="0" cellpadding="4px;"  border="0" class="table_02">
			<tr>
		   	<td colspan="8">
		   		<a href="javascript:void(0)" id="calculate_rent_" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="calculate_rent()">测算</a>
            	<a href="javascript:void(0)" id="rent_nex_" class="easyui-linkbutton" iconCls="icon-next" plain="true"  disabled onclick="rent_nex_()">下一步</a>
		   	</td>
		   </tr>
		 </table>
	  <div class="dataDiv">
	    <table  id="pageTable" fit="true" fitColumns="true" class="easyui-datagrid" data-options="rownumbers:true,singleSelect:true,showFooter:true">
	         <thead>
			 	<tr>
					<th data-options="field:'PAY_DATE',width:12">支付时间</th>
					<th data-options="field:'qc',width:8,sortable:true">期次</th>
					<th data-options="field:'zj',width:12,editor:'text'">租金</th>
					<th data-options="field:'bj',width:12">本金</th>
					<th data-options="field:'lx',width:12">利息</th>
					<th data-options="field:'sybj',width:12">剩余本金</th>
	        	</tr>
	        </thead>
		 </table>
	</div>
	</div>
		<script type="text/javascript" language="JavaScript">
		$(function(){
			//如果status=6或者status=6表示提前结清、正常结清，提前结清只需要修改利息然后直接提交，不需要测算
			if(getUrl_().status==6||getUrl_().status==3){
				$("#calculate_").linkbutton('disable');  
				$("#nex_").linkbutton('enable'); 
			}
			//如果code=8，则此页面为不等额可修改的页面
			if(getUrl_().code==8){
				$("input[name='shortLengthenIssue']").numberbox({value:0,disabled:true});//缩短/延长期次自动添加上0，且不能修改
			}else{
				$("input[name='shortLengthenIssue']").numberbox();//验证“缩短/延长期次”
			}
			 $("#ID_").val(getUrl_().ID);
		    
		});
	</script>
	<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/shortenExtend.js"></script>
	<script type="text/javascript">
		//初始化参数
		$(function(){
			var changeIssue=$("#changeIssue").val();
			if(changeIssue==null||changeIssue==""){
				changeIssue = 1;
			}
			$("#changeIssue").val(parseInt(changeIssue)+1)
			var residualPrincipal;
			var data = $('#pageTable').datagrid('getData');
			data = data.rows;
			$(data).each(function(){
				if(changeIssue==0&&this.qc==1){
					residualPrincipal = parseFloat(this.sybj)+parseFloat(this.bj);
				}else if(this.qc==changeIssue){
					residualPrincipal = this.sybj;
				}
			});
			$("#residualPrincipal").val(residualPrincipal);
			
			var END_YEAR_INTEREST = $("inputp[name='END_YEAR_INTEREST']").val();
			if(END_YEAR_INTEREST==""||END_YEAR_INTEREST==null){
				$("input[name='END_YEAR_INTEREST']").val($("input[name='YEAR_INTEREST']").val());
			}
			
			$(".payment").click(function(){
			        var checkMoney = 0;
            		$("[name = PAYMENT_TYPES]:checkbox").each(function(){
            			if($(this).is(":checked")){
            				checkMoney = parseFloat($(this).attr("paymentmoney"))+ parseFloat(checkMoney) ;
            			}
            		});
					$("#residualPrincipal").val(checkMoney);
					
					
			});
		})
		function changeZJ(param){
			var pv = $(param).val();
			var data = $('#pageTable').datagrid('getData').rows;
			var row;
			try {
				pv = parseInt(pv);
				row = data[pv-2];
				$("#residualPrincipal").val(row.sybj);
			} catch (e) {
				alert("输入的开始期次不对");
			}

		}
	</script>
	
</body>
</html>