#parse("content/importBase.vm")
<script type="text/javascript">
$(function(){
	$("td").each(function(){
		$(this).attr("title",$(this).text());
	});
});

function showDetailNEW(ID,PAYLIST_CODE){
	top.addTab(PAYLIST_CODE+"还款明细",_basePath+"/pay/PayTask!toMgshowDetail.action?ID="+ID);
}
</script>
<table  cellpadding="0" cellspacing="0" class="table_01">
	<tr>
			   <td align="right">承租人</td>
			   <td>
                	$!settleInfo.CUST_NAME &nbsp;
               </td>
			   <td align="right">项目编号</td>
			   <td>
                	$!settleInfo.PRO_CODE &nbsp;
               </td>
              <td align="right">合同编号</td>
			   <td>
					$!settleInfo.LEASE_CODE &nbsp;
               </td>
			   <td align="right">还款计划编号</td>
			   <td>
                    <a href="javascript:void(0)" onclick="showDetailNEW('$!settleInfo.ID','$!settleInfo.PAYLIST_CODE')">$!settleInfo.PAYLIST_CODE</a> &nbsp;
               </td>
           </tr>
            <tr>
				
               <td align="right">租金合计</td>
			   <td>
					$Format.currency($!settleInfo.TOTAL_RENT) &nbsp;
               </td>
			    <td align="right">已收租金合计</td>
			   <td>
					$Format.currency($!settleInfo.RECEIVED_RENT) &nbsp;
               </td>
			    <td align="right">剩余租金合计</td>
			   <td>
					$Format.currency($!settleInfo.NO_RECEIVED_RENT) &nbsp;
               </td>
			   <td align="right">是否保证金抵扣</td>
			   <td >
				#if($!settleInfo.STATUS=='0') 保证金抵扣 #else 不抵扣 #end
               </td>
           </tr>
		   <tr>
			   <td align="right">客户保证金金额</td>
			   <td>
					$Format.currency($!settleInfo.DEPOSIT_CUST) &nbsp;
               </td>
			   <td align="right">待分解来款</td>
			   <td>
				$Format.currency($!settleInfo.FUND_RECEIVE_MONEY) &nbsp;<font color="red">(以来款核销待分解为准)</font>
               </td>
			   <td align="right">结清期次</td>
			   <td>$!settleInfo.JQ_PERIOD &nbsp;</td>
			   <td align="right">预计来款日</td>
			   <td>$!settleInfo.RENT_DATE &nbsp;</td>
           </tr>
		   
		   <tr>
			<td align="right">(1+)结清前未收租金</td>
    			 <td>
					$Format.currency($!settleInfo.NO_RENT_MEONY) &nbsp;
                 </td>
			 <td align="right">(2+)结清期次后租金合计</td>
			 <td>
				$Format.currency($!settleInfo.ZUJIN_AFTER) &nbsp;
             </td>
		   	
			 <td align="right">(3+)留购价</td>
			 <td>
				$Format.currency($!settleInfo.LGJ) &nbsp;
             </td>
			  <td align="right">(4-)保证金抵扣金额</td>
			 <td>
				$Format.currency($!settleInfo.DEPOSIT) &nbsp;
             </td>
		   </tr>
		   
		    <tr>
			 <td align="right">应收罚息金额</td>
			 <td>
				$Format.currency($!settleInfo.PENALTY_RECE_YS) &nbsp;
             </td>
			 <td align="right">罚息减免金额</td>
			 <td>
				$Format.currency($!settleInfo.PENALTY_RECE_JM) &nbsp;
             </td>
			 <td align="right">(5+)实收罚息金额</td>
			 <td>
				$Format.currency($!settleInfo.PENALTY_RECE) &nbsp;
             </td>
			 <td align="right">(6)合计</td>
		   	 <td >$Format.currency($!settleInfo.TOTAL_MONEY) &nbsp;</td>
		   </tr>
		    <tr>
		   	 <td align="right">备注</td>
			 <td colspan="7">
              	<textarea id="REMARK" name="REMARK" rows="5" cols="120" disabled>$!settleInfo.REMARK</textarea>
             </td>
		   </tr>
</table>

#if($DIKOUFUND)
	<div style="height:20px"></div>
	<table  cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td colspan="19"  class="table_th">客户保证金转抵扣来款</td>
        </tr>
		<tr class="trHead">
			<td bgcolor="#fbfcfc"  width="120" >
        		资金编号
        	</td>
			<td bgcolor="#fbfcfc"  width="120" >
        		来款人
        	</td>
        	
			<td bgcolor="#fbfcfc" width="120">
				承租人
        	</td>
        	<td bgcolor="#fbfcfc" width="200" >
        		摘要
        	</td>
			<td bgcolor="#fbfcfc"  width="100" >
        		来款金额
        	</td>
        </tr>
		#foreach($item in $DIKOUFUND)
			<tr>
    			<td>
            		$!item.FUND_FUNDCODE &nbsp;
            	</td>
    			<td>
            		$!item.FUND_COMENAME &nbsp;
            	</td>
            	
    			<td>
    				$!item.FUND_CLIENT_NAME &nbsp;
            	</td>
            	<td>
            		$!item.FUND_DOCKET &nbsp;
            	</td>
				<td align="right">
            		$Format.currency($!item.FUND_RECEIVE_MONEY) &nbsp;
            	</td>
			</tr>
		#end
	</table>
		
#end

<div style="height:20px"></div>
	<table  cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td colspan="19"  class="table_th">客户来款</td>
        </tr>
		<tr class="trHead">
			<td bgcolor="#fbfcfc"  width="120" >
        		资金编号
        	</td>
			<td bgcolor="#fbfcfc"  width="120" >
        		收款人
        	</td>
			<td bgcolor="#fbfcfc"  width="120" >
        		来款人
        	</td>
        	
			<td bgcolor="#fbfcfc" width="120">
				承租人
        	</td>
			<td bgcolor="#fbfcfc" width="120">
				认款人
        	</td>
        	<td bgcolor="#fbfcfc" width="200" >
        		摘要
        	</td>
			<td bgcolor="#fbfcfc"  width="100" >
        		来款金额
        	</td>
        </tr>#set($MONEYCOM=0)
		#foreach($item in $listFund)
			<tr>
    			<td>
            		$!item.FUND_FUNDCODE &nbsp;
            	</td>
				<td>
            		$!item.FUND_ACCEPT_NAME &nbsp;
            	</td>
    			<td>
            		$!item.FUND_COMENAME &nbsp;
            	</td>
            	
    			<td>
    				$!item.FUND_CLIENT_NAME &nbsp;
            	</td>
				<td>
    				$!item.FUND_PIDENTIFY_PERSON &nbsp;
            	</td>
            	<td>
            		$!item.FUND_DOCKET &nbsp;
            	</td>
				<td align="right">
            		$Format.currency($!item.FUND_RECEIVE_MONEY) &nbsp; #set($MONEYCOM=$MONEYCOM+$!item.FUND_RECEIVE_MONEY)
            	</td>
			</tr>
		#end
		<tr>
            <td colspan="6" class="text_right">合计</td>
            <td align="right">$Format.currency($MONEYCOM)</td>
         </tr>
	</table>

<div style="height:20px"></div>
 <table  cellpadding="0" cellspacing="0" class="table_02">
	<thead >
     	<tr>
    		<td class="text_left">期次</td>
    		<td class="text_left">应收时间</td>
			<td class="text_left">结清时间</td>
			<td class="text_left">款项名称</td>
			<td class="text_left">应收金额</td>
			<td class="text_left">实收金额</td>
    		<td class="text_left">未收金额</td>
    	</tr>
    </thead>
	<tbody >
    	#set($MONEY=0)
    	#foreach($!item in $!detailList)
    	 <tr>
            <td>$!item.BEGINNING_NUM &nbsp;</td>
            <td>$!item.RENT_DATE &nbsp;</td>
			<td>$!item.REALITY_TIME &nbsp;</td>
			<td>$!item.BEGINNING_NAME &nbsp;</td>
			<td align="right">$Format.currency($!item.BEGINNING_MONEY) &nbsp;</td>
			<td align="right">$Format.currency($!item.BEGINNING_PAID) &nbsp;</td>
            <td align="right">$Format.currency($!item.RENT_MONEY) &nbsp;</td>
         </tr>
    	 #set($MONEY=$MONEY+$!item.RENT_MONEY)
    	#end
    	<tr>
            <td colspan="6" class="text_right">合计</td>
            <td>$Format.currency($MONEY)</td>
         </tr>
    </tbody>
 </table>
