#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/mortgage/js/toMgMortgage.js"></script>
<div id="pageForm" border="true" style="padding:20px;height:auto;">
	<table border="0" cellpadding="0" cellspacing="0" class="table_01">
        <tr>
            <td>序号</td>
			<td>合同编号</td>
			<td>客户名称</td>
			<td>设备名称</td>
			<td>合格证号</td>
			<td>设备型号</td>
			<td>操作</td>
		</tr>
		#foreach($!ite in $!equ)
            <tr>
				<td >$velocityCount</td>
                <td>$!ite.LEASE_CODE</td>
				<td>$!ite.CLIENT_NAME</td>
				<td>$!ite.PRODUCT_NAME</td>
				<td>$!ite.CAR_SYMBOL</td>
				<td>$!ite.SPEC_NAME</td>
                <td><a href="#" onclick="toAdd($!ite.FPE_ID);">抵押</a></td>
			</tr>
		#end
    </table>
</div>

<!--添加抵押-->
<div id="addMortgageP" class="easyui-dialog"  modal="true" title="添加抵押" closed="true" buttons="#addMortgageBut" style="width:300px;height:230px;margin：0px;padding:0px">
	<form id="addMortgage" method="post">
		<input type="hidden" name="FE_ID" id="FE_ID"/>
		<table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>抵押时间：</td>
				<td><input type="text" class="easyui-datebox" name="MORTGAGE_TIME"/></td>
			</tr>
            <tr>
                <td>抵押权人：</td>
				<td ><input type="text" class="easyui-textbox" name="MORTGAGE_PER"/></td>
			</tr>
			<tr>
                <td>办理人：</td>
				<td ><input type="text" class="easyui-textbox" name="TRANSACT_PER" /></td>
			</tr>
        </table>
</form></div>
<div id="addMortgageBut">
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save"  onclick="save();">保存</a>
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="closeDailog('addMortgageP');">关闭</a>
</div>
			