<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
		<script type="text/javascript"  src="$!_basePath/credentials/js/credentials.js"></script>
	</head>
	<body>
		<table id="pageTable" fit="true" pagination="true" pageSize="100" rownumbers="true" singleSelect="true" toolbar="#pageForm" >
		</table>
		<div id="pageForm" style="padding:20px;height:auto">
			<div>
				凭证类别：<select name="TYPE" id="TYPE" style="width:135px;" class="paramData">
							<option value="">--请选择--</option>
							#foreach($item in $!TYPE_LIST)
                                <option value="$!item.CODE" #if($!PARAM.TYPE==$!item.CODE) selected #end>$!item.FLAG</option>
							#end	
                    	</select>
				记账日期：
						<input name="START_DATE" id="START_DATE" type="text" size="15"  class="easyui-datebox paramData" value="$!param.START_DATE"> 至 <input name="END_DATE" id="END_DATE" type="text" size="15" class="easyui-datebox paramData" value="$!param.END_DATE"> 
				
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" id="search">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				起始凭证号：<input id="START_CREDENTIALS_NUM" name="START_CREDENTIALS_NUM">
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-down" onclick="PZDC();">导出</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				最大凭证号：$!CREDENTIALS_NUM
			</div>
		</div>
		
		<div id="divFrom"></div>
	</body>
</html>