	    #parse("content/importBase.vm")
		<script type="text/javascript">
		function chgTab(tabThis) {
			$(".tab01-nav_active").attr("class","tab01-nav");
        	$(tabThis).attr("class","tab01-nav_active");
			var CUST_ID = $("#CUST_ID").val();
			var CUST_TYPE=$("#CUST_TYPE").val();
			var params = "?CUST_ID="+CUST_ID+"&CUST_TYPE="+CUST_TYPE;
			var url = "";
        	var page = $(tabThis).attr("page");
			switch(page) {
				case 'tab_1':
					url = "ReturnVisit!addReturnVisitJB.action";
					break;
				case 'tab_2':
					url = "ReturnVisit!addReturnVisitFR.action";
					break;
				case 'tab_3':
					url = "ReturnVisit!addReturnVisitHXTD.action";
					break;
				case 'tab_4':
					url = "ReturnVisit!addReturnVisitZLW.action";
					break;
				case 'tab_5':
					url = "ReturnVisit!addReturnVisitHKNL.action";
					break;
				case 'tab_6':
					url = "ReturnVisit!addReturnVisitZHPJ.action";
					break;
			}
			$("#showPage").load(url+params);
			
		}
		$(function(){
			var url = "ReturnVisit!addReturnVisitJB.action";
			var CUST_ID = $("#CUST_ID").val();
			var CUST_TYPE=$("#CUST_TYPE").val();
			var params = "?CUST_ID="+CUST_ID+"&CUST_TYPE="+CUST_TYPE;
			$("#showPage").load(url+params);
		});
		
		function detection(ID,TYPE,NUM){
				var CUST_ID = $("#CUST_ID").val();
				jQuery.ajaxFileUpload({
					url:_basePath+"/returnVisit/ReturnVisit!returnVisitFile.action?CUST_ID="+CUST_ID+"&TYPE="+TYPE,
					secureuri:false,
					fileElementId:ID,
					dataType: 'String',
					success : function(json){
						//返回文件名称和文件路径
						var dateMap=eval(json);
						
							var	name = dateMap[0].FILE_NAME;
							var	url = dateMap[0].FILE_URL;
							var ADD="_ADD";
							var NAMEFILE="_NAME";
							$("#"+ID+NAMEFILE).val(name);
							$("#"+ID+ADD).val(url);
							
							
					}
				});
		     }
			 function save(FLAG,TYPE){
				var data="";
				var CUST_ID = $("#CUST_ID").val();
				var CUST_TYPE = $("#CUST_TYPE").val();
				var P_TIME ="";
				if(TYPE=='1'){
					P_TIME=$("input[name='P_TIME1']").val();
				}else if(TYPE=='2'){
					P_TIME=$("input[name='P_TIME2']").val();
				}else if(TYPE=='3'){
					P_TIME=$("input[name='P_TIME3']").val();
				}else if(TYPE=='4'){
					P_TIME=$("input[name='P_TIME4']").val();
				}else if(TYPE=='5'){
					P_TIME=$("input[name='P_TIME5']").val();
				}else if(TYPE=='6'){
					P_TIME=$("input[name='P_TIME6']").val();
				}
				 
				if(!P_TIME){
					alert("巡视时间不能为空！");
					return;
				}
				var file_name="";
				var file_url="";
				var html="<tr>";
			    $("#showdata"+TYPE).find("[name]").each(function(){
				    var ele=$(this);
				    if(ele.is(":text")||ele.is("textarea")||ele.is(":hidden")||ele.is("select")||ele.is(":radio:checked")){
				    	data+="&"+ele.attr("name")+"="+ele.val();
						if(ele.attr("name")=='JB_PICTURE_NAME'){
							file_name=ele.val();
						}
						else if(ele.attr("name")=='JB_PICTURE_ADD'){
							file_url=ele.val();﻿
						}
						else if(ele.attr("name")=='FR_PICTURE_NAME'){
							file_name=ele.val();﻿
						}
						else if(ele.attr("name")=='FR_PICTURE_ADD'){
							file_url=ele.val();﻿
						}
						else if(ele.attr("name")=='FE_PICTURE_NAME'){
							file_name=ele.val();﻿
						}
						else if(ele.attr("name")=='FE_PICTURE_ADD'){
							file_url=ele.val();
						}
						else {
							html=html+"<td style='text-align: center;'>"+ele.val()+"</td>";﻿
						}
						
				    }
			    });
				
				if(TYPE=='1' || TYPE=='2' || TYPE=='4'){
    				
					html=html+"<td style='text-align: center;'><a href='$!_basePath/returnVisit/ReturnVisit!download.action?PATH="+file_url+"&FILE_NAME="+file_name+"'><font color='blue'>"+file_name+"</font></a>&nbsp;</td>";
				}
				
				html=html+"</tr>";
			    data=data.substring(1,data.length)+"&CUST_ID="+CUST_ID+"&P_TIME="+P_TIME+"&TYPE="+TYPE+"&CUST_TYPE="+CUST_TYPE;
				jQuery.ajax({
					url : "ReturnVisit!addReturnVisitSave.action",
					data : data,
					dataType: "json",
					success : function(json){
						if(json.flag){
							alert("保存成功");
							
    						$("#Monitor"+TYPE).append(html);
						}else{
							alert("保存失败");
						}	
					}
				});
			}
        </script>
		<style type="text/css">
	.table_01 tr td:nth-child(1) {text-align:right}
</style>
    </head>
<body style="padding:0; margin:0;">
	<input type="hidden" id="CUST_ID" name="CUST_ID" value="$!param.CUST_ID"/>
	<input type="hidden" id="CUST_TYPE" name="CUST_TYPE" value="$!param.CUST_TYPE"/>
<div region="north" class="tab01">
    <div class="tab01-th">
		<ul class="tab01_title">
			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav_active" onclick="chgTab(this)"  page="tab_1">基本信息</a></li>
			##<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="chgTab(this)"  page="tab_2">法定代表人信息</a></li>
			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="chgTab(this)"  page="tab_3">核心团队</a></li>
			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="chgTab(this)"  page="tab_4">租赁物</a></li>
			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="chgTab(this)"  page="tab_5">还款能力情况</a></li>
			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="chgTab(this)"  page="tab_6">综合评价</a></li>
		</ul>
  </div>
</div>
<div id="showPage" region="center" border="false" style="height:100%">
</div>
</body>