#parse("content/importBase.vm")
<script type="text/javascript" src="$!_basePath/returnVisit/js/ajaxfileupload.js"></script>
<form id="showdata2">
	<table class="table_01" cellpadding="0" cellspacing="0">
		<tr>
    		<td>巡视时间:</td>
    		<td><input  type="text" class="easyui-datebox" id="P_TIME2" name="P_TIME2" value=""/><font color="red">*</font></td>
    	</tr>
		<tr>
			<td>法定代表人变更:</td>
			<td><input type="text" id="FR_NAME" name="FR_NAME" value="" style="width:300px"/></td>
		</tr>
		<tr>
			<td>联系方式变更:</td>
			<td><input type="text" id="FR_PHONE" name="FR_PHONE" value="" style="width:300px"/></td>
		</tr>
		<tr>
			<td>配偶变更:</td>
			<td><input type="text" id="FR_SPOUSE" name="FR_SPOUSE" value="" style="width:300px"/></td>
		</tr>
		<tr>
			<td>照片:</td>
			<td>
					<input type="file" id="FR_PICTURE" name="FR_PICTURE" onchange="detection('FR_PICTURE','FR','2')"/><br>
						<input type="hidden" name="FR_PICTURE_NAME" id="FR_PICTURE_NAME">
						<input type="hidden" name="FR_PICTURE_ADD" id="FR_PICTURE_ADD">
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td  style="text-align: left;">
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-save" onclick="save('FR','2');">保存</a>
			</td>
		</tr>
	</table>
</form>
	

<DIV style="height:20PX"></DIV>
<table class="table_01" cellpadding="0" cellspacing="0" width="98%" id="Monitor2">
		<tr>
		<td class="table_th" width="100" style="text-align: center;">巡视时间</td>
		<td class="table_th" width="100" style="text-align: center;">法定代表人变更</td>
		<td class="table_th" width="100" style="text-align: center;">联系方式变更</td>
		<td class="table_th" width="100" style="text-align: center;">配偶变更</td>
		<td class="table_th" width="100"  style="text-align: center;">照片</td>
        </tr>
		#foreach($!item in $!FRDBXX_LIST)
			<tr >
				<td  style="text-align: center;">$!item.P_TIME &nbsp;</td>
				<td  style="text-align: center;">$!item.FR_NAME &nbsp;</td>
				<td  style="text-align: center;">$!item.FR_PHONE &nbsp;</td>
				<td  style="text-align: center;">$!item.FR_SPOUSE &nbsp;</td>
				<td  style="text-align: center;">
					<a href='$!_basePath/returnVisit/ReturnVisit!download.action?PATH=$!item.FR_PICTURE_ADD&FILE_NAME=$!item.FR_PICTURE_NAME'>
    					<font color='blue'>$!item.FR_PICTURE_NAME</font>
    				</a>
				&nbsp;</td>
            </tr>
		#end
    </table>