<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>保险理赔-退款</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/capitalPool/claimsPool/js/claimsPoolManager.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;" onload="dd()">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
			<div id="pageForm1" style="height:auto;padding:20px" border="true">
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
                    
                    <td align="right">项目编号：</td><td><input name="PROJECT_CODE" id="PROJECT_CODE" type="text" size="20" value="$!param.PROJECT_CODE" class="paramData"></td>
                    <td align="right">客户名称：</td><td><input name="CUST_NAME" id="CUST_NAME" type="text" size="20" value="$!param.CUST_NAME" class="paramData"></td>
					<td align="right">租赁物名称：</td>
					<td>
						<select name="PRODUCT_NAME" id="PRODUCT_NAME" class="paramData" style="width:135px">
								<option value="">--请选择--</option>
            				#foreach($ite in $!toGetProduct)
            						<option value="$!ite.PRODUCT_NAME">
    									$!ite.PRODUCT_NAME
                                    </option>
    						#end
						</select>
					</td>
					
						
					<td align="center" rowspan="2">
						<a href="javascript:void(0);" id="seachBut" class="easyui-linkbutton" iconCls="icon-search" onclick='seach();'>查询</a>
						<a href="javascript:void(0);" id="emptyBut" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData1();'>清空</a>
						<a href="javascript:void(0)" id="submitBut" class="easyui-linkbutton" iconCls="icon-ok" onClick="IS_Claims_Submit()">保存</a>
                    </td>
				</tr>
                <tr>
                   <td  align="right">供应商：</td><td><input name="SUP_NAME" id="SUP_NAME" type="text" size="20" value="$!param.SUP_NAME" class="paramData"></td>
					
                    <td align="right">项目状态：</td>
					<td>
							<select name="PROJECT_STATUS" id="PROJECT_STATUS" class="paramData" style="width:135px">
        						<option value="">--请选择--</option>
                				#foreach($ite in $!PROJECT_STATUS_LIST)
                						<option value="$!item.CODE" #if($!param.PROJECT_STATUS==$!item.CODE) selected #end>$!item.FLAG</option>
								#end
							</select>
					</td>
					<td align="right">是否逾期：</td>
					<td>
							<select name="IS_DUN" id="IS_DUN" class="paramData" style="width:135px">
        						<option value="">--请选择--</option>
                				<option value="ISY" #if($!param.IS_DUN=='ISF') selected #end>是</option>
								<option value="ISN" #if($!param.IS_DUN=='ISN') selected #end>否</option>
							</select>
					</td>
					
				</tr>
          </table>
		  </div>
		  
    		<div style="height:10px;"> </div>
			<form id="formSub" method="post" action="ClaimsPool!claims_C_Submit.action">
			<input name="IDS_S" id="IDS_S" type="hidden">
			<input name="SUP_NAME_S" id="SUP_NAME_S" type="hidden">
			<input name="SUP_ID_S" id="SUP_ID_S" type="hidden">
			<input name="COMP_ID_S" id="COMP_ID_S" type="hidden">
			<input name="COMP_NAME_S" id="COMP_NAME_S" type="hidden">
					
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
    		    <tr>
					<td align="right">退款金额：</td>
					<td align="left"><input type="text" size="30" class="" name="PROJECT_MONEY" id="PROJECT_MONEY" readonly/></td>
					<td align="right">项目数量：</td>
					<td align="left"><input type="text" size="30" class="" name="PROJECT_NUM" id="PROJECT_NUM" readonly/></td>
				</tr>
    		</table>
            </form>
		</div>
        <table id="claims_PageTable"  >
            
		 </table>
	</div>	

	
	<div class="easyui-dialog" align="left" title="修改信息" style="width:700px;height:200px;padding:10px" id="PAYMENT_CASE">
            <table class="table_01" cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td align="right">项目编号</td>
					<td align="left">
						<input name="PROJECT_CODE_U" id="PROJECT_CODE_U" value="" type="text" readonly>
						<input name="POOL_ID_U" id="POOL_ID_U" value="" type="hidden">
					</td>
					<td align="right">客户名称</td>
					<td align="left">
						<input name="CUST_NAME_U" id="CUST_NAME_U" value="" type="text" readonly>
					</td>
				</tr>
				<tr>
					<td align="right">收款单位</td>
					<td align="left">
						<input name="PAYEE_NAME_U" id="PAYEE_NAME_U" value="" type="text">&nbsp;<font color="red">*</font>
					</td>
					<td align="right">收款帐号</td>
					<td align="left">
						<input name="PAY_BANK_ACCOUNT_U" id="PAY_BANK_ACCOUNT_U" value="" >&nbsp;<font color="red">*</font>
					</td>
				</tr>
				<tr>
					<td align="right">开户行行名</td>
					<td align="left">
						<input name="PAY_BANK_NAME_U" id="PAY_BANK_NAME_U" value="">&nbsp;<font color="red">*</font>
					</td>
					<td align="right">开户行所在地</td>
					<td align="left">
						<input name="PAY_BANK_ADDRESS_U" id="PAY_BANK_ADDRESS_U" value="">&nbsp;<font color="red">*</font>
					</td>
				</tr>
				<tr height="30">
					<td colspan="4" align="center"><input type="button" value="保存" class="Button btnn" onclick="updatePaymentHead()"></td>
				</tr>
			</table>
		</div>
		
	<script>
		function seach(){
			var PROJECT_CODE=$("input[name='PROJECT_CODE']").val();
			var CUST_NAME=$("input[name='CUST_NAME']").val();
			var SUP_NAME=$("input[name='SUP_NAME']").val();
			var PRODUCT_NAME=$("select[name='PRODUCT_NAME']").find("option:selected").val();
			var PROJECT_STATUS=$("select[name='PROJECT_STATUS']").find("option:selected").val();
			var IS_DUN=$("select[name='IS_DUN']").find("option:selected").val();
			$('#claims_PageTable').datagrid({url:'ClaimsPool!claimsPool_C_PageAjax.action',queryParams:{"PROJECT_CODE":PROJECT_CODE,"CUST_NAME":CUST_NAME,"PRODUCT_NAME":PRODUCT_NAME,"SUP_NAME":SUP_NAME,"PROJECT_STATUS":PROJECT_STATUS,"IS_DUN":IS_DUN}});
		}
		
		function emptyData1(){
			$('#pageForm1').form('clear');
		}
    </script>
	
	<div id="divFrom"></div>
</body>
</html>