<!DOCTYPE html>
<html>
    <head>
    	#parse("content/importBase.vm")
        <meta charset="UTF-8">
        <script type="text/javascript" src="$_basePath/leaseDate/js/leaseDate.js"></script>
        <title></title>
    </head>
 <body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;" border="true">
		   <form id="queryForm">
    		<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
                <tr>
						<td align="right">客户名称：</td>
						<td align="left"><input class="input_03" type="text"  name="RENTER_NAME" /></td>
						<td align="right">融资租赁合同号：</td>
						<td align="left"><input class="input_03" type="text"  name="LEASE_CODE" /></td>
						<td align="right">支付表号：</td>
						<td align="left"><input class="input_03" type="text"  name="PAYLIST_CODE" /></td>
						<td align="right">客户经理：</td>
						<td align="left"><input class="input_03" type="text"  name="CLERK_NAME" /></td>
						
						<td rowspan="2">
								<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查 &nbsp;&nbsp;询&nbsp;&nbsp;&nbsp;</a>
								<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick='clear_();'>&nbsp;&nbsp;&nbsp;清&nbsp;&nbsp; 空</a></br>
						</td>
						
               </tr>
			   <tr>
			   	 <td align="right">业务类型：</td>
				 <td align="left">		 
                    	<select name="PLATFORM_TYPE" style="width:100px;">
							<option value="">--全部--</option>
							#foreach($!item in $ywlx)
							<option value="$!item.CODE">$!item.FLAG</option>
							#end
						</select>
				 </td>
				 <td align="right">支付表状态：</td>
				<td align="left">
                    	<select name="DATE_STATUS" style="width:100px;">
							<option value="">--全部--</option>
							#foreach($!item in $queryDataDictionary)
							<option value="$!item.CODE">$!item.FLAG</option>
							#end
						</select>
				 </td>
                 <td align="right">起租日期：</td>
                 <td align="left"><input class="easyui-datebox" type="text"  name="B_START_DATE" />-<input class="easyui-datebox" type="text" size ="14" name="E_START_DATE" /></td>
				 <td algin="right">&nbsp;&nbsp;全部版本 :</td>
				 <td align="left">
				 	<input type="checkbox" name="PLANFLAG" id="PLANFLAG" VALUE="ALL"/>&nbsp;
					
				 </td>
			   </tr>
          </table>
		  </form>
		</div>
		  
		 <table id="pageTable" fit="true" ></table>
		 <iframe name="myframe" id="myframe" style="display:none;"></iframe>
	</div>
	<div id="lease-dialog" class="easyui-dialog" title="设定起租日">
		<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
			<tr>
				<td align="right">
					起租日：
				</td>
				<td>
					<input class="easyui-datebox" type="text"  name="LEASE_DATE" id="LEASE_DATE"/>
				</td>
			</tr>
		</table>
	</div>
</body>

<script type="text/javascript" language="JavaScript">
		$(document).ready(function(){
        	$('#pageTable').datagrid({
        		url:_basePath+"/leaseDate/LeaseDate!pageDate.action",
        		pagination:true,//是否分页 true为是
        		rownumbers:true,//左侧自动显示行数
        		singleSelect:true,
        		fit : true,
        		pageSize:20,
        		toolbar:'#pageForm',
        		frozenColumns:[[
        		       {field:'aaa',title:'操作',width:140,align:'center',formatter:function(value,rowData,rowIndex){
        		    		var approval ="<a href='javascript:void(0);' onclick=setLease('"+rowData.PAYLIST_CODE+"')>设定起租日</a>";
        		    		return approval;
        		    	}
        		       }
        		 ]],
        		 columns:[[
        		         {field:'PLATFORM_NAME',title:'业务类型',width:100,align:'center'},
        		         {field:'STATUS_NAME',title:'状态',width:100,align:'center'}, 
        		         {field:'ZRZ_STATUS',title:'融资状态',width:80,align:'center'}, 
        		         {field:'RENTER_NAME',title:'客户名称',width:150,align:'center',formatter:function(value,rowData,rowIndex){
        		        	 return "<a href='#' onclick='toViewCust("+ JSON.stringify(rowData) +")'>"+value+"</a>";
        		         }}, 
        		         {field:'LEASE_CODE',title:'融资租赁合同号',width:120,align:'center'}, 
        		         {field:'START_DATE',title:'起租日',width:100,align:'center'}, 
        		         {field:'PAYLIST_CODE',title:'支付表号',width:150,align:'center',formatter:function(value,rowData,rowIndex){
        		        	 return "<a href='javascript:void(0)' onclick=showDetail('"+rowData.ID+"','"+rowData.PROJECT_ID+"','"+rowData.PAYLIST_CODE+"')>"+ value +"</a>　";
        		         }}, 
        		         {field:'VERSION_CODE',title:'版本号',width:50,align:'center'}, 
        		         {field:'CLERK_NAME',title:'客户经理',width:100,align:'center'}, 
        		         {field:'CREATE_DATE',title:'创建时间',width:100,align:'center'}, 
        		         {field:'LEASE_TERM',title:'租赁期数',width:70,align:'center'},
        		         {field:'PAY_PERIOD',title:'已还期次',width:70,align:'center'},
        		         {field:'PAY_MONEY',title:'未还金额',width:100,align:'center'},
        		         {field:'IS_DUN_FLAG',title:'是否逾期',width:100,align:'center'}
        		 ]]
        	});
        	$('#lease-dialog').dialog("close");
        });
        
        function setLease(PAYLIST_CODE){
        	$('#LEASE_DATE').datebox('setValue','');
        	$('#lease-dialog').dialog({
        		height:100,
        		width:300,
        		buttons: [{ 
							text: '确定', 
							iconCls: 'icon-ok', 
							handler: function() { 
								var LEASE_DATE = $('#LEASE_DATE').datebox('getValue');
								if(LEASE_DATE==''){
					        		return alert('起租日不能为空');
					        	}
								jQuery.ajax({
									url:'$_basePath/leaseApplication/LeaseApplication!toUpdateStartDay.action',
									data:'PAYLIST_CODE='+PAYLIST_CODE+'&START_DATE='+LEASE_DATE,
									dataType:'json',
									type:'post',
									success: function(data){
										if(data.flag){
											alert(data.msg);
											$('#pageTable').datagrid('load');
										}else
											alert(data.msg);
									}
								});
								$('#lease-dialog').dialog('close'); 
							} 
						}, { 
							text: '取消',
							handler: function() { 
								$('#lease-dialog').dialog('close'); 
							} 
						}]
        	});
        }
</script>
</html>