<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>信审综合报告</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/reportexcel/js/ReportExportCreadit.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center"  border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
		
			<table width="100%" cellspacing="0" cellpadding="0 " border="0">
			     <tr>
					
                    <td align="right">
						进件时间：
					</td>
					<td>
						<input name="SJJSJ" id="SJJSJ" type="text" size="15"  class="easyui-datebox paramData" value="$!param.SJJSJ"/> -  
						<input name="EJJSJ" id="EJJSJ" type="text" size="15"  class="easyui-datebox paramData" value="$!param.EJJSJ"/> 
                    </td>
					<td align="right">
						客户姓名：
					</td>
					<td>
						<input name="NAME" id="NAME" type="text" size="20"   value="$!param.NAME"/> 
                    </td>
                    <td align="right">
						销售部门：
					</td>
					<td>
						<select name="PLATFORM_TYPE" id ="PLATFORM_TYPE" width="100px">
						<option value="">请选择</option>
						<option value="1" #if($!param.PLATFORM_TYPE==1) selected#end>业务一部</option>
						<option value="2" #if($!param.PLATFORM_TYPE==2) selected#end>业务二部</option>
						</select>
                    </td>
				</tr>
				<tr>
                    <td align="center" rowspan="5">&nbsp;</td>
					<td align="right" >
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="seach()">查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
                    	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" id="LOCKTYPENO" onclick="exportData()">导出</a>
					</td>
                </tr>
			
				
          </table>
		
		  </div>
        <table id="ReportCreaditPageTable">
            
		 </table>
		 
	</div>	
  <div id="divFrom">
  </div>
	
</body>
<script type="text/javascript">
		
       function seach(){
       		var EJJSJ=$("input[name='EJJSJ']").val();
			var SJJSJ=$("input[name='SJJSJ']").val();
			var NAME = $("input[name='NAME']").val();
			var PLATFORM_TYPE = $("select[name='PLATFORM_TYPE']").val();
	     	$('#ReportCreaditPageTable').datagrid({url:_basePath+ '/reportexcel/ReportExcelCreadit!queryData.action',queryParams:{"EJJSJ":EJJSJ,"SJJSJ":SJJSJ,"NAME":NAME,"PLATFORM_TYPE":PLATFORM_TYPE}});//
		}
        function emptyData(){
        	$('#pageForm').form('clear');
        	$(".paramData").each(function(){
        		$(this).val("");
        	});
        }
       
    </script>
</html>