#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/customers/js/customersM.js"></script>
<body class="easyui-layout" style="background-image:none;">
	<div region="center" fit="true" border="false">
        <div id="base_ifo" class="easyui-tabs" fit="true">
        	<script>
        		$(function(){
        			$('#base_ifo').tabs({tabPosition:"left"});
        		});
        	</script>
			<div title="基本信息" style="padding:10px" #if("$!CUST_TYPE" == "")data-options="href:'$_basePath/customers/Customers!toAddCust.action?CUST_TYPE=NP',cache:false"#else data-options="href:'$_basePath/customers/Customers!toAddCust.action?CUST_TYPE=$!CUST_TYPE',cache:false"#end></div>
             <div title="资产档案" style="padding:10px" data-options="href:'$_basePath/crm/AssetsDossier.action',cache:false"></div>
        </div>
    </div>
</body>
