#parse("content/importBase.vm")
<body style="background-image:none;height:auto!important; min-height:550px; min-width:980px; width:100%; margin:0; padding:0;">
<div class="easyui-panel" title="" fit="true">
    <form id="" method="" >
        <table cellpadding="0" cellspacing="0" class="table_01">
        <tr>
       
        <td align="right" bgcolor="#fbfbfb">客户类型：</td>
        <td><select class="warmL" name="TYPE" id="TYPE" onchange="choseCustType(this.value)" disabled>
						#foreach($item in $!type.list)
    					<option value="$!item.CODE" #if($!item.CODE == $!custInfo.TYPE)selected#end>$!item.FLAG</option>
						#end
				</select><font color="red">*</font>
			</td>
		 <td align="right" bgcolor="#fbfbfb">企业名称:：</td>
        <td><input type="text" class="warmL" name="CUST_NAME" id="CUST_NAME" value ="$!custInfo.NAME" disabled/><font color="red">*</font></td>
        <td colspan="2" rowspan="15">1111111111111111111111</td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">企业性质：</td>
          <td><select class="warmL" name="BUSINESS_TYPE" id="BUSINESS_TYPE" disabled>
						#foreach($item in $!type.com_typeL)
    					<option value="$!item.CODE" #if($!item.CODE == $!custInfo.BUSINESS_TYPE)selected#end>$!item.FLAG</option>
						#end
				</select><font color="red">*</font></td>
          <td align="right" bgcolor="#fbfbfb">营业执照：</td>
          <td><input type="text" name="CORP_BUSINESS_LICENSE" id="CORP_BUSINESS_LICENSE" value ="$!custInfo.CORP_BUSINESS_LICENSE" size="25" disabled/></td>
        </tr>
		<tr>
          <td align="right" bgcolor="#fbfbfb">法人代表：</td>
          <td><input type="text" name="LEGAL_PERSON" id="LEGAL_PERSON" value ="$!custInfo.LEGAL_PERSON" size="25" disabled/></td>
          <td align="right" bgcolor="#fbfbfb">法人代表联系方式：</td>
          <td><input type="text" name="LEGAL_PERSON_PHONE" id="LEGAL_PERSON_PHONE" value ="$!custInfo.LEGAL_PERSON_PHONE" size="25" disabled/></td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">税务识别号：</td>
          <td><input type="text" name="TAX_CODE" size="25" value="$!custInfo.TAX_CODE" disabled></td>
          <td align="right" bgcolor="#fbfbfb">组织机构代码证号：</td>
          <td><input type="text" name="ORAGNIZATION_CODE" size="25" value="$!custInfo.ORAGNIZATION_CODE" disabled></td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">成立日期：</td>
          <td><input type="text" class="easyui-datebox warmL" name="SETUP_DATE" value="$!custInfo.SETUP_DATE" disabled/><font color="red">*</font></td>
          <td align="right" bgcolor="#fbfbfb">有效期：</td>
          <td><input type="text" class="easyui-datebox warmL" name="PERIOD_OF_VALIDITY" value="$!custInfo.PERIOD_OF_VALIDITY" disabled/><font color="red">*</font></td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">注册时间：</td>
          <td><input type="text" class="easyui-datebox" name="REGISTE_DATE" value="$!custInfo.REGISTE_DATE" disabled/></td>
        <td align="right" bgcolor="#fbfbfb">注册资本：</td>
        <td><input type="text" name="REGISTE_CAPITAL" size="25" value="$!custInfo.REGISTE_CAPITAL" disabled></td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">注册电话：</td>
          <td><input type="text" name="REGISTE_PHONE"  id="REGISTE_PHONE" size="25" value="$!custInfo.REGISTE_PHONE" class="validate[custom[phone]]" disabled></td>
		  <td align="right" bgcolor="#fbfbfb">传真：</td>
          <td><input type="text" name="FAX" id="FAX" size="25" size="25" value="$!custInfo.FAX" class="validate[custom[fax]]" disabled></td>
        </tr>
        <tr>
		  <td align="right" bgcolor="#fbfbfb">公司邮编：</td>
          <td><input type="text" name="POST" size="25" value="$!custInfo.POST" id="POST" class="validate[custom[zipcode]]" disabled></td>
          <td align="right" bgcolor="#fbfbfb">员工人数：</td>
          <td><input type="text" name="NUMBER_PER" size="25" value="$!custInfo.NUMBER_PER" disabled></td>
         </tr>
		<tr>
		<td align="right" bgcolor="#fbfbfb">省：</td>
		<td colspan=""><select name="PROVINCE" id="PROVINCE" style="width:100px" class="" disabled panelHeight="auto" onchange="getCity(this.value)">
					    <option value="">--请选择--</option>
						#foreach($item in $!getProvince)
    					<option value="$!item.AREA_ID" #if($!custInfo.PROVINCE==$!item.AREA_ID)selected#end>$!item.NAME</option>
						#end
				</select></td>
        <td align="right" bgcolor="#fbfbfb">市：</td>
		<td colspan=""><select name="PROJECT_CITY" class="cityClass" id="PROJECT_CITY" disabled>
					<option value="$!custInfo.CITY">$!custInfo.CITY_NAME</option>						
				</select>
        </td></tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">纳税资质：</td>
          <td><select class="warmL" name="TAX_QUALIFICATION" id="TAX_QUALIFICATION" disabled >
						#if("$!custInfo.TAX_QUALIFICATION"=="")
                            <option vlaue="">--请选择--</option>
					    #else
							<option vlaue="">--请选择--</option>
						#end
						#foreach($item in $!type.seniority)
    					<option value="$!item.CODE" #if($!item.CODE == $!custInfo.TAX_QUALIFICATION)selected#end>$!item.FLAG</option>
						#end
				</select><font color="red">*</font></td>
          <td align="right" bgcolor="#fbfbfb">纳税情况：</td>
          <td><select class="" name="RATEPAYING" id="RATEPAYING" disabled>
						<option value="">--请选择--</option>
						#foreach($item in $!type.situation)
    					<option value="$!item.CODE" #if($!item.CODE ==  $!custInfo.RATEPAYING)selected#end >$!item.FLAG</option>
						#end
				</select></td>
          </tr>
		 <tr>
		  <td align="right" bgcolor="#fbfbfb">是否对外担保：</td>
          <td colspan=""><select class="" name="IS_GUARANTEE" id="IS_GUARANTEE" disabled>
						<option value="0" #if("$!custInfo.IS_GUARANTEE"=="0")selected#end)>无</option>
    					<option value="1" #if("$!custInfo.IS_GUARANTEE"=="1")selected#end>有</option>
				</select></td>
		  <td align="right" bgcolor="#fbfbfb">主营业务：</td>
          <td colspan=""><input type="text" name="MAIN_BUSINESS" size="25" value="$!custInfo.MAIN_BUSINESS" disabled></td>
		</tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">注册地址：</td>
          <td colspan="3"><input type="text" name="REGISTE_ADDRESS" size="90" value="$!custInfo.REGISTE_ADDRESS" disabled></td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">公司办公地址：</td>
          <td colspan="3"><input type="text" name="WORK_ADDRESS" size="90" value="$!custInfo.WORK_ADDRESS" disabled/></td>
        </tr>
        <tr>
          <td align="right" bgcolor="#fbfbfb">备注：</td>
          <td colspan="3"><textarea  cols="70" rows="3" name="REMARK" disabled>$!custInfo.REMARK</textarea></td>
        </tr>
        </table>        
    </form>
	
	<div title="银行信息" id="bankInfo" class="easyui-panel" data-options="href:'$_basePath/customers/Customers!toViewLegalBank1.action?CLIENT_ID=$!custInfo.CLIENT_ID&tab=view',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#bankInfo').panel('refresh', '$_basePath/customers/Customers!toViewLegalBank1.action?CLIENT_ID=$!custInfo.CLIENT_ID&tab=view');}}]" >
	</div>
	
	<a href='javascript:void(0)'  onclick="toMgCallLog1('$!custInfo.CLIENT_ID')">沟通记录</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="findMgRelation1('$!custInfo.CLIENT_ID')">企业关联</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="findMgCustWorkExp1('$!custInfo.CLIENT_ID')">客户从业历程</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="toMgCredit1('$!custInfo.CLIENT_ID')">信用档案</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="toMgZupu1('$!custInfo.CLIENT_ID')">族谱</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="goAssetsMg1('$!custInfo.CLIENT_ID')">资产档案</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="goAssetsMg1('$!custInfo.CLIENT_ID')">担保人</a>&nbsp;|&nbsp;
	 <a href='javascript:void(0)'  onclick="goElectronicPhotoAlbumMg1('$!custInfo.CLIENT_ID')">电子档案</a>&nbsp;
</div> 
</body>