
<head>
	<title>租金扣划-申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
		<script type="text/javascript" src="$_basePath/bpm/js/eq_Head_Ms_del_jbpm.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div id="divFrom"></div>
	<div id="pageForm" style="padding:10px;height:auto;" border="true">
		##<table cellspacing="5" cellpadding="0" border="0">
		##	<tr>
        ##        <td >
        ##			<a href="javascript:void('0')" id="save_Deductible" class="easyui-linkbutton" data-options="iconCls:'icon-down'" onclick="exp_Pay_Detail()">导出放款单</a>
        ##			<a href="javascript:void('0')" id="save_Deductible" class="easyui-linkbutton" data-options="iconCls:'icon-down'" onclick="exp_Pay_ProDetail()">导出放款单明细</a>
		##	   </td>
		##	</tr>
        ##</table>
	</div>
	<div region="center" border="false">
		<input name="PAYMENT_JBPM_ID" id="PAYMENT_JBPM_ID" value="$!param.PAYMENT_JBPM_ID" type="hidden">
        <table id="eq_Head_Query_PageTable" fit="true">
            
		 </table>
	</div>	
</body>
</html>