<div style="text-align:center"><font color='red'>$!flag</font></div>
<table cellspacing="0" cellpadding="0" border="0" class="table_01">
	<tr >
		<td >协议编号</td>
		<td >$!param.CUGP_CODE &nbsp;</td>
		<td height="24px;">融资机构授信状态</td>
		<td >#if($!param.STATUS == 0) 正常</font>#else <font color="red">取消授信</font> #end &nbsp;</td>
	</tr>
	<tr >
		<td >融资机构编号</td>
		<td >$!param.FK_ID &nbsp;</td>
		<td height="24px;">授信金额</td>
		<td >$!param.GRANT_PRICE &nbsp;</td>
	</tr>
	<tr >
		<td >授信时间</td>
		<td >$!param.START_DATE &nbsp; —— &nbsp;$!param.END_DATE &nbsp;</td>
		<td height="24px;">是否循环授信&nbsp;</td>
		<td colspan="3">#if($!param.REPEAT_CREDIT==0)是&nbsp;#else 否#end</td>
	</tr>	
	<tr >
		<td >备注</td>
		<td  colspan="3">$!param.REMARK &nbsp;</td>
	</tr>
	#if($!param.FILE_PATHURL)
		<tr >
			<td colspan="4">
				<a href="javascript:void('0')" onclick="downloadFile('$!param.FILE_PATHURL')">查看文件</a>
			</td>
		</tr>
	#end
</table>
</div>
