<script type="text/javascript">
    $('#START_DATE1').datebox({    
        required:true    
    });
	
	 $('#END_DATE1').datebox({    
        required:true    
    });
</script>
<body >
<form id="reupdateform" name="re">
  <table cellspacing="0" cellpadding="0" border="0" class="table_01">
	<input type="hidden" name="ID" id="ID" value="$!param.ID "/>
	<input type="hidden" name="FK_ID" id="FK_ID" value="$!param.FK_ID "/>
	<tr >
		<td height="24px;">协议编号</td>
		<td><input type="text" name="CUGP_CODE" id="CUGP_CODE" value="$!param.CUGP_CODE" style="width: 150px"></input></td>
		<td>授信状态</td>
		<td> 
			<span style="float:left;margin-left:20%;">
							#if($!param.STATUS==0)正常 #else 取消授信 #end
			</span>
		</td>
	</tr>
	<tr >
		<td width="20%">融资机构编号</td>
		<td width="20%">$!param.FK_ID &nbsp;</td>					
		<td >是否循环授信</td>
		<td>
			<span style="float:left;margin-left:20%;">
				<input type="radio" name="REPEAT_CREDIT" #if($!param.REPEAT_CREDIT==1)checked="checked"#end value="1")>否</input>
					<input type="radio" name="REPEAT_CREDIT" #if($!param.REPEAT_CREDIT==0)checked="checked"#end value="0")>是</input>
			</span>
		</td>
	</tr>
	<tr>
		<td height="24px;">授信金额</td>
		<td>
			<input type="hidden" class="aaaa" name="GRANT1" id="GRANT1" value="$!param.GRANT_PRICE" style="width: 150px" /> 
			<input type="text" class="aaaa" name="GRANT_PRICE1" id="GRANT_PRICE1" value="$!param.GRANT_PRICE" style="width: 150px" /></td>
		<td height="24px;">授信日期</td>
		<td ><input type="text" class="width1 easyui-datebox" name="START_DATE" id="START_DATE1" date="$!param.START_DATE" value="$!param.START_DATE" style="width:130px;"></input>
			—<input type="text" class="width1 easyui-datebox" name="END_DATE" id="END_DATE1" date="$!param.END_DATE" value="$!param.END_DATE" style="width:130px;"></input>
		</td>
	</tr>
	
	<tr >
		<td height="24px;">备注</td>
		<td colspan="3" style="text-align: left;"><textarea name="REMARK" id="REMARK" style="width: 450px; margin-left:5%">$!param.REMARK</textarea></td>
	</tr>
  </table>
  </form>
	
</body>