<script type="text/javascript">
    $("#START_DATE_2").datebox({    
        required:true    
    });
	
	 $("#END_DATE_2").datebox({    
        required:true    
    });
</script>
<form action="$_basePath/reCreditManagement/ReCreditManagement!addGrantplan.action" name="formaddupd" id="formaddupd" method="post" enctype="multipart/form-data">##onsubmit="return subNum()" 
		<table cellspacing="0" cellpadding="0" border="0" class="table_01">
			<input type="hidden" name="FAFH_ID" id="FAFH_ID" value="$!GRANTPLAN.ID "/>
			<tr >
				<td width="12%" height="24px;">融资机构名称</td>
				<td width="20%">$!GRANTPLAN.ORGAN_NAME &nbsp;</td>
				<td width="10%">融资机构地址</td>
				<td width="20%">$!GRANTPLAN.ORGAN_ADD &nbsp;</td>
			</tr>
			<tr >
				<td height="24px;">协议编号</td>
				<td><input type="text" name="CUGP_CODE" id="CUGP_CODE" value="$!GRANTPLAN.CUGP_CODE" style="width: 150px"></td>
				<td>授信状态</td>
				<td>#if($!GRANTPLAN.CREDIT_STATUS == '1') <font color="red">已授信</font> #elseif($!GRANTPLAN.CREDIT_STATUS == '0') <font color="red">未授信</font> #else <font color="red">取消授信</font> #end &nbsp;</td>
			</tr>
			<tr >
				<td height="24px;">授信金额</td>
				<td><input type="text" name="GRANT_PRICE" id="GRANT_PRICE" value="$!GRANTPLAN.GRANT_PRICE" style="width: 150px" />&nbsp;</td>
				<td height="24px;">授信日期</td>
				<td ><input type="text" class="easyui-datebox" style="width:100px;" name="START_DATE" id="START_DATE_2"  date="$!GRANTPLAN.START_DATE"/>
						—<input type="text" class="easyui-datebox" style="width:100px;" name="END_DATE" id="END_DATE_2"  date="$!GRANTPLAN.END_DATE"/>
				</td>
			</tr>
			<tr >
				<td>是否循环授信&nbsp;</td>
				<td>#if($!GRANTPLAN.REPEAT_CREDIT==0)
					<input type="radio" name="REPEAT_CREDIT" value="0" checked="checked" >是&nbsp;
					<input type="radio" name="REPEAT_CREDIT" value="1" >否
					#else
						<input type="radio" name="REPEAT_CREDIT" value="0"  >是&nbsp;
							<input type="radio" name="REPEAT_CREDIT" checked="checked" value="1" >否
					#end
				</td>
				<td colspan="2"><input id="file" name="file" type="file" size="0" style=""></td>
			</tr>
        </table>		
</form>