<div id="grantplanList">
	<table width="100%" cellspacing="0" class="table_01 openInfo" cellpadding="0" border="0" id="openInfo">
		<tr bgcolor="#fbfcfc">
			<td width="3%">&nbsp;</td>
			<td>授信状态</td>
			<td>协议编号</td>
			<td>起始日期</td>
			<td>结束日期</td>
			<td>授信额度</td>
			<td>已使用额度</td>
			<td>授信余额</td>
			<td>授信类型</td>
			<td>操作</td>
		</tr>
		#foreach($!item in $GRANTPLANLIST)
			<tr class="datatr" align="center" id="$velocityCount">
				<td align="center"  >$!velocityCount</td>
				<td id="STATUS" name="STATUS">#if($!item.STATUS=='0') 正常 #elseif($!item.STATUS=='1') 取消授信 #elseif($!item.STATUS=='-1') 审批中 #elseif($!item.STATUS=='-2') 审批不通过 #end</td>
				<td>$!item.CUGP_CODE </td>
				<td>$!item.START_DATE </td>
				<td><span #if($item.DAYCOUNT<=10)style="color:red;"#end>$!item.END_DATE</span></td>
				<td>$!item.GRANT_PRICE </td>
				<td>$!item.USERING_PRICE </td>
				<td>$!item.LAST_PRICE </td>
				<td>#if($!item.REPEAT_CREDIT=='0') 循环授信 #else 非循环授信 #end</td>
				<td>
					##<a target="_blank" href="$!_basePath/reCreditManagement/ReCreditManagement!GrantplanUpd.action?ID=$item.ID" class="xg">修改</a>
					<a href="javascript:void(0);" onclick="_XgSx(this);" sxId="$!item.ID" sxFk="$!item.FK_ID" class="xgSx">修改</a>
					##<a target="_blank" href="$!_basePath/reCreditManagement/ReCreditManagement!selGrantplan.action?ID=$item.ID" class="xg">查看</a>
					<a href="javascript:void(0);" sxId="$!item.ID" sxFk="$!item.FK_ID" class="ckSx">查看</a>
					
					#if($!item.STATUS=='0')
						<a href="javascript:void(0);" type="hidden" sxId="$!item.ID" sxFk="$!item.FK_ID" class="qxsx">取消授信</a>
					#elseif($!item.STATUS=='1')
						<a href="javascript:void(0);" qycg="$!item.ID" sxFk="$!item.FK_ID" class="qycg">启用</a>
					#end
				</td>
			</tr>
		#end
   </table>
</div>	
