#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/zcfl/titleStandard/js/titleStandard.js"></script>
<body class="easyui-layout">
	<div region="center" border="false">
		<div id="pageForm" style="padding: 20px ">
			<table border="0" cellpadding="4" cellspacing="0">
				<tr >
					<td style="text-align:right">
        				模版名称：
                    </td>
					<td >
						<input name="NAME" id="NAME" style="width:100px"/>
                    </td>
					<td style="text-align:right">
        				模版类型：
                    </td>
					<td >
						<select class="easyui-combobox" name="TEMPLATE_TYPE" id="TEMPLATE_TYPE" >
							<option value="">全部</option>
							<option value="1">打分模版</option>
							<option value="0">资产等级初始化</option>
						</select>
                    </td>
					<td style="text-align:right">
        				业务类型：
                    </td>
					<td >
						<select class="easyui-combobox" name="ID_CARD_TYPE" id="ID_CARD_TYPE" >
						<option value="">全部</option>
							#foreach($item in $businessTypeList)
								<option value="$!item.CODE">$item.FLAG</option>
							#end
						</select>
                    </td>
					<td style="text-align:right">
        				打分方式：
                    </td>
					<td >
						<select class="easyui-combobox" name="TYPE" id="TYPE" >
							<option value="">全部</option>
							<option value="human">人为打分</option>
							<option value="system">系统打分</option>
						</select>
                    </td>
					<td colspan="2">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="conditionsSelect()">查 询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearInput()">清 空</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" onclick="addTS()">添 加</a>
						##<a href="$_basePath/zcfl/TitleStandard!toAssessmentConfigurAddAndUpdate.action" class="easyui-linkbutton" iconCls="icon-add">添 加</a>
                    </td>
				</tr>
            </table>
		</div>
		<table id="pageTable"
			   class="easyui-datagrid"
			   url="$_basePath/zcfl/TitleStandard!getMgTitleStandardData.action"
			   pagination="true"
			   rownumbers="true"
			   fitColumns="true"
			   fit="true"
			   singleSelect="true"
			   pageSize="20"
			   toolbar="#pageForm"
		>
			<thead>
				<tr>
				<th field="ID" align="center" width="1" formatter="getOperation">操作</th>
					<th field="NAME" align="center" width="1">模版名称</th>
					<th field="TEMPLATE_TYPE" align="center" width="1">模版类型</th>
					<th field="ID_CARD_TYPE" align="center" width="1">业务类型</th>
					<th field="TYPE" align="center" width="1">打分方式</th>
					
				</tr>
			</thead>
		</table>
    </div>
	
	<div id="dialogDiv" class="easyui-dialog" closed="true" modal="true" resizable="true" style="width:300px; height:240px;">
		<form id="fromDate" >
			<input type="hidden" id="ID" name="ID"/>
    		<table border="0" cellpadding="5" cellspacing="0">
    			<tr >
					<td style="text-align:right">模版名称：</td>
					<td >
						<input name="NAME" style="width: 180px;margin:0px" />
                    </td>
                </tr>
				<tr >
    				<td style="text-align:right">
        				打分方式：
                    </td>
					<td >
						<select class="easyui-combobox" name="TYPE" id="TYPE_UPDATE" style="width: 180px;">
							<option value="">请选择</option>
							<option value="human">人为打分</option>
							<option value="system">系统打分</option>
						</select>
                    </td>
				</tr>
    			<tr >
    				<td style="text-align:right">
        				业务类型：
                    </td>
					<td >
						<select class="easyui-combobox" name="ID_CARD_TYPE" id="ID_CARD_TYPE_UPDATE" style="width: 180px;">
						<option value="">请选择</option>
							#foreach($item in $businessTypeList)
								<option value="$!item.CODE">$item.FLAG</option>
							#end
						</select>
                    </td>
				</tr>
    			<tr >
    				<td style="text-align:right">
        				模版类型：
                    </td>
					<td >
						<select class="easyui-combobox" name="TEMPLATE_TYPE" id="TEMPLATE_TYPE_UPDATE" style="width: 180px;">
							<option value="">请选择</option>
							<option value="1">打分模版</option>
							<option value="0">资产等级初始化</option>
						</select>
                    </td>
				</tr>
            </table>
        </form>
    </div>
</body>