<!DOCTYPE html>
<html>
<head>
<title>基本资料录入（个人）</title>
<script type="text/javascript">var _basePath = '$!_basePath';</script>
#parse("/content/weixin/importBaseWx.vm")
<script type="text/javascript">
$(function (){
	$('.sex_js').on('click',function(){
		$('.sex_js').removeClass('btn-primary').removeClass('active').addClass('btn-default');
		$(this).addClass('active').addClass('btn-primary').removeClass('btn-default');
	});
});
</script>
</head>
<body >
	<nav class="navbar small navbar-fixed-top" >
		<div class="container-fluid ">
		  <ul class="pager" style="margin:3px 0px">
		    #if( $PGT eq 1 ) 
		    <li class="previous pre_page"><a href="#"><span aria-hidden="true">&larr;</span> 后退</a></li>
		    #end 
		    <li class="next next_page"><a href="#">前进 <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
      </div>
	</nav>
	<div style="height: 60px;"></div>
	<section class="section form-horizontal container" id="save_FM">
		<input type="hidden" name="PROJECT_ID" value="$!requestBody3.PROJECT_ID" />
		#if( $PGT ne 1 )
		<div class="form-group">
			<label for="CLIENT_NAME_FORM" class="col-sm-2 control-label">客户姓名</label>
			<div class="col-sm-10">
				<input title="客户名称" id="CLIENT_NAME_FORM" placeholder="客户名称" class="contain_number_check form-control" name="CLIENT_NAME" value="$!requestBody3.CLIENT_NAME" />
			</div>
		</div>
		<div class="form-group">
			<label for="CLIENT_MOBILE_FORM" class="col-sm-2 control-label">手机号码</label>
			<div class="col-sm-10">
				<input title="移动电话" id="CLIENT_MOBILE_FORM" placeholder="例：13800000000" type="tel" maxlength="11" name="CLIENT_MOBILE"
					class="phone_check form-control" value="$!requestBody3.CLIENT_MOBILE"
				/>
			</div>
		</div>
		#end
		<div class="form-group">
			<label for="AGE_FORM" class="col-sm-2 control-label">年龄</label>
			<div class="col-sm-10">
				<input title="年龄" id="AGE_FORM" type="number" placeholder="例：28" maxlength="3" name="AGE" class="age_check form-control"
					value="$!requestBody3.AGE"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="SEX_FORM" class="col-sm-2 control-label">性别</label>
			<div class="col-sm-10">
				<div class="row">
					<div id="SEX_FORM" class="btn-group col-sm-12" data-toggle="buttons">
						<label class="sex_js btn  col-sm-6 #if($!requestBody3.SEX ne 1) btn-primary active #else btn-default #end"> 
							<input class="btn-block" type="radio" type="radio" name="SEX" value="0"
							#if($!requestBody3.SEX ne 1)checked="checked" #end autocomplete="off"
						/> 男
						</label> <label class="sex_js btn  col-sm-6 #if($!requestBody3.SEX==1) btn-primary active #else btn-default #end"> 
							<input class="sex_jsbtn-block" type="radio" type="radio" name="SEX" value="1"
							#if($!requestBody3.SEX==1)checked#end autocomplete="off"
						/> 女
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="IS_MARRY_FORM" class="col-sm-2 control-label">婚姻状况</label>
			<div class="col-sm-10">
				<select title="婚姻状况" id="IS_MARRY_FORM" name="IS_MARRY" class="form-control"> #foreach($!item in $!MARRY)
					<option #if($!item.CODE== $!requestBody3.IS_MARRY) selected #end value="$!item.CODE">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="DEGREE_EDU_FORM" class="col-sm-2 control-label">文化程度</label>
			<div class="col-sm-10">
				<select id="DEGREE_EDU_FORM" name="DEGREE_EDU" class="form-control"> #foreach($item in $!degree_edu)
					<option #if($!item.CODE== $!requestBody3.DEGREE_EDU) selected #end value="$!item.CODE">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="HUKOUXINGZHI_FORM" class="col-sm-2 control-label">户口性质</label>
			<div class="col-sm-10">
				<select id="HUKOUXINGZHI_FORM" name="HUKOUXINGZHI" class="form-control"> #foreach($item in $!HKXZ)
					<option #if($!item.FLAG== $!requestBody3.HUKOUXINGZHI) selected #end value="$!item.FLAG">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
	</section>
	<!-- 立项过程各页面数据 -->
	#parse("/content/weixin/financialScheme/form_param.vmf")
	<div style="height: 48px;"></div>
	#parse('/content/weixin/flooter.vmf')
</body>
</html>
