
<!DOCTYPE html>
<html>
<head>
<title>基本资料录入（企业）</title>
<script type="text/javascript">	var _basePath = '$!_basePath';</script>
#parse("/content/weixin/importBaseWx.vm")
<script type="text/javascript" src="$!_basePath/weixin/js/Select_car.js"></script>
<script type="text/javascript">
	new Select_car();
</script>
<style type="text/css" >
body { padding-top: 70px; }
</style>
</head>
<body>
	<div id="main_div" class="container">
	<nav class="navbar small navbar-fixed-top">
		<div class="container-fluid ">
		  <ul class="pager" style="margin:3px 0px">
		    #if($PGT eq 0)
		    <li class="previous pre_page"><a href="#"><span aria-hidden="true">&larr;</span> 后退</a></li>
		    #end
		    <li class="next next_page"><a href="#">前进 <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
      </div>
	</nav>
	<section class="form-horizontal" id="save_FM">
		<input type="hidden" name="CLIENT_TYPE" value="LP" /> 
		<input type="hidden" name="brand_id" value="$!requestBody1.brand_id" /> 
		<input type="hidden" name="car_series_id" value="$!requestBody1.car_series_id" /> 
		<input type="hidden" name="car_model_id" value="$!requestBody1.car_model_id" /> 
		<input type="hidden" name="SUP_NAME" value="$!requestBody1.SUP_NAME" /> 
		<input type="hidden" name="COMPANY_NAME" value="$!requestBody1.COMPANY_NAME" /> 
		<input type="hidden" name="COMPANY_ID" value="$!requestBody1.COMPANY_ID" /> 
		<input type="hidden" name="PROJECT_ID" value="$!requestBody1.PROJECT_ID" /> 
		<input type="hidden" name="car_price_zd" value="$!requestBody1.car_price_zd" /> 
<!-- 		<input type="hidden" name="PGT" value="$!PGT" /> -->
		#if($PGT ne 0)
		<div class="form-group">
			<label for="CLIENT_NAME_FORM" class="col-sm-2 control-label">企业名称</label>
			<div class="col-sm-10">
				<input title="企业名称" id="CLIENT_NAME_FORM" placeholder="企业名称" class="contain_number_check form-control" 
					name="CLIENT_NAME" value="$!cust_name" 
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="CLIENT_MOBILE_FORM" class="col-sm-2 control-label">移动电话</label>
			<div class="col-sm-10">
				<input title="移动电话" id="CLIENT_MOBILE_FORM" placeholder="例：13800000000" type="tel" maxlength="11" name="LEGAL_PERSON_PHONE"
					class="phone_check form-control" value="$!cust_phone"
				/>
			</div>
		</div>
		#end
		#parse("/content/weixin/financialScheme/form_select_car_params.vmf")
	</section>
	<!-- 立项过程各页面数据 -->
	#parse("/content/weixin/financialScheme/form_param.vmf")
	<div style="height: 48px;"></div>
	</div>
	#parse('/content/weixin/flooter.vmf')
	<!-- 选择品牌页面  -->
	#parse("/content/weixin/financialScheme/select_brand.vmf")
	<!-- 选择车系页面  -->
	#parse("/content/weixin/financialScheme/select_series.vmf")
	<!-- 选择车型页面  -->
	#parse("/content/weixin/financialScheme/select_car.vmf")
</body>
</html>