<!DOCTYPE html>
<html>
<head>
<title>基本资料录入</title>
<script type="text/javascript"> var _basePath = '$!_basePath';</script>
#parse("/content/weixin/importBaseWx.vm")
<script type="text/javascript">
		$(function (){
			
			calcGZS('$!requestBody1.car_price','$!requestBody1.car_price_zd');
			
			var selectDate = function (){
				$('.js_select_date a').on('click', function (){
					$('.js_select_date li').removeClass('active');
					$('.js_select_date [name="date"]').val($(this).attr("dv")) ;
					$(this).parent('li').addClass('active');
				});
				var selectedDate = '$!requestBody2.date';
				if(!selectedDate || isNaN(selectedDate)){
					selectedDate = 1;
				}
				$('.js_select_date a').eq(selectedDate-1).trigger('click');
			}
			selectDate();
			//XXX 优化--------------------------------- start -------------------------------
			// 我的抽屉
			
			// 反回按钮： 车型车系
			$(document.body).on('click','.scheme_back',function (){
				$('#scheme_page').hide();
				$('#main_div').show();
			});
			
			
			// 确认scheme
			$(document.body).on('click', '.scheme_ok', function (){
				
				/* if($('#scheme_page .__select_me').size() == 0){
					return alert("请先选择一个方案。");
				} */
				
				var cs_table_obj = $('.cs_table_json','#scheme_page .__select_me');
				var my_data_obj = $('.my_data_json','#scheme_page .__select_me');
				console.group("cs_table_obj");
				console.debug(cs_table_obj.text());
				console.groupEnd("cs_table_obj");
				console.group("my_data_obj");
				console.debug(my_data_obj.text());
				console.groupEnd("my_data_obj");
				
				if(cs_table_obj.size() != 1 || my_data_obj.size() != 1){ // 参数不全： 确认 == 反回
					alert("请先选择一个方案。");
					return false;
				}
				
				//取值
				var obj = JSON.parse( my_data_obj.html() );
				for(var attr in obj){
					$('[name="'+ attr +'"]', '#save_FM').val( obj[attr] );
				}
				
				if(/\s*\[\s*\]\s*/ig.test(cs_table_obj.html() ) ){
					return alert('此方案信息有误，请选择其它方案');
				}
				$('[name=cs_table]', '#save_FM').val( cs_table_obj.html() );
				$('.next_page').trigger('click');
			});
			
			// 事件源 显示 方案
			$('.show_scheme_page').on('click', function (){
				getSchemeJson(1, $('#scheme_page [name=rows]').val(), false);
			});
			/**
			* 金融产品方案金融产品方案金融产品方案金融产品方案金融产品方案金融产品方案
			* 
			*/
			function getSchemeJson(curentMaxPage, rows ,isappend){
				if( !'$!requestBody1.brand_id'){
					return alert('请选择定车型');
				}
				if( !'$!requestBody1.car_series_id' ){
					return alert('请选择定车型');
				}
				if( !'$!requestBody1.car_model_id' ){
					return alert('请选择定车型');
				}
				if( !'$!requestBody1.car_price' ){
					return alert('请选择定车型');
				}
				if( !$('[name="date"]').val() ){
					return alert('请选择定期限');
				}
				var param = $('input:not(:hidden),select','#save_FM').serialize();
				var param1 ={
					  			page: curentMaxPage?curentMaxPage : 1 
								, rows:rows ? rows : 20 
								, brand_id	: '$!requestBody1.brand_id'
								, car_series_id : '$!requestBody1.car_series_id' 
								, car_model_id : '$!requestBody1.car_model_id'
								, car_price : '$!requestBody1.car_price'
								, supplier_id : '$!requestBody1.SUP_ID'
								, company_id : '$!requestBody1.COMPANY_ID'
								, year : $('[name="date"]').val()
						};
				param = jQuery.param(param1)+"&"+param;
				
				
				jQuery.ajax({
					url :'$_basePath/weixin/FinancialScheme!recommend_scheme.action',
					type:'post',
					data: param ,
					dataType: 'html',
					success: function (html){
						if(isappend){
							$('#scheme_page .scheme_content').append(html);
						}else{
							$('#scheme_page .scheme_content').html(html);
						}
						$('#scheme_page').show();
						$('#main_div').hide();
					}
				});
				return $('#scheme_page');
			}
			
		});
		
		
</script>
</head>
<body class="">
	<div style="display: none;" class="btn btn-danger next_page" >保存</div> 
	<nav class="navbar small navbar-fixed-top" >
		<div class="container-fluid ">
		  <ul class="pager" style="margin:3px 0px">
		    <li class="previous pre_page"><a href="#"><span aria-hidden="true">&larr;</span> 后退</a></li>
		    <li class="next show_scheme_page"><a href="#">前进 <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
      </div>
	</nav>
	<div id="main_div" class="container">
	<div style="height: 60px;"></div>
	<section class="form-horizontal " id="save_FM">
		<input type="hidden" name="CBL" value="$!requestBody2.CBL" /> <!-- 成本率 -->
		<input type="hidden" name="YEAR_INTEREST" value="$!requestBody2.YEAR_INTEREST" /> <!-- 年利率 -->
		<input type="hidden" name="FINANCE_TOPRIC" value="$!requestBody2.FINANCE_TOPRIC" /> <!-- 润资额 -->
		<input type="hidden" name="LEASE_TERM" value="$!requestBody2.LEASE_TERM" /> <!-- 租赁期限 -->
		<input type="hidden" name="LEASE_PERIOD" value="$!requestBody2.LEASE_PERIOD" /> <!--租赁周期 -->
		<input type="hidden" name="PAY_WAY" value="$!requestBody2.PAY_WAY" /> <!--还款政策  等额 不等额 -->
		<input type="hidden" name="LAST_MONEY" value="$!requestBody2.LAST_MONEY"> <!--尾款 -->
		<input type="hidden" name="FIRST_MONEY" value="$!requestBody2.FIRST_MONEY"> <!-- 首期租款 -->
		<input type="hidden" name="FIRSTPAYALL" value="$!requestBody2.FIRSTPAYALL" /> <!-- 首付总款 -->
		<input type="hidden" name="DEPOSIT_MONEY" value="$!requestBody2.DEPOSIT_MONEY" title="保证金" /> 
		<input type="hidden" name="POUNDAGE_RATE" value="$!requestBody2.POUNDAGE_RATE" title="手续费率" /> 
		<input type="hidden" name="POUNDAGE_PRICE" value="$!requestBody2.POUNDAGE_PRICE" title="手续费" /> 
		<input type="hidden" name="MANAGEMENT_FEETYPE" value="$!requestBody2.MANAGEMENT_FEETYPE" title="手续费方式" />
		<input type="hidden" name="MONTH_RENT" value="$!requestBody2.MONTH_RENT" title="月供" /> 
		<input type="hidden" name="SCHEME_CODE" value="$!requestBody2.SCHEME_CODE" /> 
		<input type="hidden" name="DISCOUNT_MONEY" value="$!requestBody2.DISCOUNT_MONEY" /> <!--贴息金额 -->
		<input type="hidden" name="GPS_PRICE" value="$!requestBody2.GPS_PRICE" title="GPS息金额" />  
		
		<input type="hidden" name="cs_table" value='$!requestBody2.cs_table' />
		<div class="form-group js_select_date">
			<label for="date_FORM" class="col-sm-2 control-label">融资期限</label>
			<div class="col-sm-10">
				<input type="hidden" class="ignore_item" name="date" value="$!requestBody2.date" /> 
				<nav>
				  <ul class="pagination" style="margin:0;">
					#foreach( $item in [1.. 5])  <li><a href="javascript:void(0);" dv="$foreach.count">$foreach.count 年</a></li>#end
				  </ul>
				</nav>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">首付比例</label>
			##<input type="hidden"  name="START_PERCENT" value="#if(!$requestBody2.START_PERCENT)50#else$!requestBody2.START_PERCENT#end"/>
			<div class="col-sm-10">
				<select title="首付比例" id="START_PERCENT_FORM" name="START_PERCENT" class="form-control"> 
					<option value="0" #if($requestBody2.START_PERCENT == 0)selected="selected" #end >0 %</option>
					<option value="2" #if($requestBody2.START_PERCENT == 2)selected="selected" #end >2 %</option>
					<option value="5" #if($requestBody2.START_PERCENT == 5)selected="selected" #end >5 %</option>
					<option value="7" #if($requestBody2.START_PERCENT == 7)selected="selected" #end >7 %</option>
					#foreach($item in [0.. 12])
						#set($tempSfbl = $item * 5)
						#if($tempSfbl >= 10 )
						<option value="$!tempSfbl"
							#if($tempSfbl== $!requestBody2.START_PERCENT ) 
							selected="selected"
							#elseif( !$requestBody2.START_PERCENT and $tempSfbl eq 10 )
							selected="selected" 
							#end 
						>$!tempSfbl %</option>
						#else
						
						#end
					
					#end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="GZS_MONEY_FORM" class="col-sm-2 control-label">购置税 </label>
			<div class="col-sm-10">
				<input id="GZS_MONEY_FORM" type="number" onclick="this.value = ''" name="GZS_MONEY" class="number_check form-control" title="购置税" value="$!requestBody2.GZS_MONEY" placeholder="默认为所选方案中的值"/>
			</div>
		</div>
		<div class="form-group">
			<label for="INSURANCE_MONEY_FORM" class="col-sm-2 control-label">保险费 </label>
			<div class="col-sm-10">
				<input id="INSURANCE_MONEY_FORM" type="number" name="INSURANCE_MONEY" class="number_check form-control" title="保险" value="$!requestBody2.INSURANCE_MONEY" placeholder="默认为所选方案中的值"/>
			</div>
		</div>
		<div class="form-group">
			<label for="CCS_MONEY_FORM" class="col-sm-2 control-label">车船税 </label>
			<div class="col-sm-10">
				<input id="CCS_MONEY_FORM" type="number" name="CCS_MONEY" class="number_check form-control" title="车船税" value="$!requestBody2.CCS_MONEY" placeholder="默认为所选方案中的值"/>
			</div>
		</div>
	</section>
	</div>
	<!-- 立项过程各页面数据 -->
	#parse("/content/weixin/financialScheme/form_param.vmf")
	<div style="height: 48px;"></div>
	#parse('/content/weixin/flooter.vmf')
	<!-- 选择方案页面  -->
	#parse("/content/weixin/financialScheme/select_scheme.vmf")
</body>
</html>
