<!DOCTYPE html>
<html>
<head>
<title>基本资料录入（个人）</title>
<script type="text/javascript">	var _basePath = '$!_basePath';</script>
#parse("/content/weixin/importBaseWx.vm")
<script type="text/javascript">
	$(function (){
		$('.local_decimal_check').on('keyup',function (){
			console.debug( this.value);
			console.debug(isNaN(this.value));
			if( isNaN(this.value)){
				this.value = '';
				return false;
			}
			if(parseFloat(this.value) >= 99){
				this.value = '';
				return false;
			}
		});
	});

</script>
</head>
<body>
	<nav class="navbar small navbar-fixed-top" >
		<div class="container-fluid ">
		  <ul class="pager" style="margin:3px 0px">
		    <li class="previous pre_page"><a href="#"><span aria-hidden="true">&larr;</span> 后退</a></li>
		    <li class="next next_page"><a href="#">#if($PGT eq 1)保存#else前进 <span aria-hidden="true">&rarr;</span>#end</a></li>
		  </ul>
      </div>
	</nav>
	<div style="min-height: 66px;"></div>
	<section class="form-horizontal container" id="save_FM">
		<div class="form-group">
			<label for="ENTERPRISE_QY_FORM" class="col-sm-2 control-label">单位性质</label>
			<div class="col-sm-10">
				<select id="ENTERPRISE_QY_FORM" name="ENTERPRISE_QY" class="form-control"> #foreach($item in $!GSXZ)
					<option #if($!item.FLAG== $!requestBody4.ENTERPRISE_QY) selected #end value="$!item.FLAG">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="EXPERIENCE_GZ_FORM" class="col-sm-2 control-label">当前工作年限(年)</label>
			<div class="col-sm-10">
				<input id="EXPERIENCE_GZ_FORM" maxlength="4"   type="number"  name="EXPERIENCE_GZ" class="local_decimal_check form-control" title="当前工作年限(年)"
					value="#if($requestBody4.EXPERIENCE_GZ)$!requestBody4.EXPERIENCE_GZ#end" placeholder="请输入数字"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="SQSHNSR_GR_FORM" class="col-sm-2 control-label">本人平均月收入</label>
			<div class="col-sm-10">
				<input id="SQSHNSR_GR_FORM" type="number" name="SQSHNSR_GR" class="number_check form-control" title="平均月收入"
					value="#if($requestBody4.SQSHNSR_GR)$requestBody4.SQSHNSR_GR#end" placeholder="请输入数字"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="HOME_XZ_FORM" class="col-sm-2 control-label">住房情况</label>
			<div class="col-sm-10">
				<select id="HOME_XZ_FORM" name="HOME_XZ" class="form-control"> #foreach($item in $!FWXZ)
					<option #if($!item.FLAG== $!requestBody4.HOME_XZ) selected #end value="$!item.FLAG">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="LIVING_LIFE_FORM" class="col-sm-2 control-label">现居住年限</label>
			<div class="col-sm-10">
				<select id="LIVING_LIFE_FORM" name="LIVING_LIFE" class="form-control"> #foreach($item in $!JZNX)
					<option #if($!item.FLAG== $!requestBody4.LIVING_LIFE) selected #end value="$!item.FLAG">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="XYCLQK_FORM" class="col-sm-2 control-label">现有车辆情况</label>
			<div class="col-sm-10">
				<select id="XYCLQK_FORM" name="XYCLQK" class="form-control"> #foreach($item in $!XYCLQK)
					<option #if($!item.FLAG== $!requestBody4.XYCLQK) selected #end value="$!item.FLAG">$!item.FLAG</option> #end
				</select>
			</div>
		</div>
	</section>
	
	<!-- 立项过程各页面数据 -->
	#parse("/content/weixin/financialScheme/form_param.vmf")
	<div style="height: 48px;"></div>
	#parse('/content/weixin/flooter.vmf')
</body>
</html>
