<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<title>授权</title>
        #parse("content/importBase.vm")
		<script type="text/javascript">
			$(document).ready(function(){
            	$("#dlg").dialog('close');
            	$("#dlgUp").dialog('close');
            	
            });	
		
			
			function btnGetRole(){
				var type=$("select[name='TARGETSTYPE']").val();
				$("input[name='TYPE']").val(type);
            	jQuery.post(_basePath+"/targets/TargetsBase!getTypeList.action?TYPE="+type,function(html){
            		$("#roleContent").html(html);
            		
            	});
				
				var INDICATORS_TYPE=$("input[name='INDICATORS_TYPE']").val();
				jQuery.ajax({
            		url:_basePath+"/targets/TargetsBase!queryBaseTimeType.action?INDICATORS_TYPE="+INDICATORS_TYPE+"&TYPE="+type,
            		type:"post",
            		dataType:"json",
            		success:function(json){
						var BASE_TIMETYPE=json.BASE_TIMETYPE;
						$("#BASE_TIMETYPE option[value='"+BASE_TIMETYPE+"']").attr("selected", true);
						if(BASE_TIMETYPE == 1){
							$("#SpanBaseTimeType").html("本年");
						}else if(BASE_TIMETYPE == 2){
							$("#SpanBaseTimeType").html("上年");
						}else if(BASE_TIMETYPE == 3){
							$("#SpanBaseTimeType").html("本季度");
						}else if(BASE_TIMETYPE == 4){
							$("#SpanBaseTimeType").html("上季度");
						}else if(BASE_TIMETYPE == 5){
							$("#SpanBaseTimeType").html("本月");
						}else if(BASE_TIMETYPE == 6){
							$("#SpanBaseTimeType").html("上月");
						}else{
							$("#SpanBaseTimeType").html("您还没有设置");
						}
						
					}
            	});
            	
            }
			
			function radioType(obj){
					  var RADIOTYPE_NAME=$(obj).val();
					  var type=$("input[name='TYPE']").val();
					  var INDICATORS_TYPE=$("input[name='INDICATORS_TYPE']").val();
					  $("input[name='ADD_NAME']").val(RADIOTYPE_NAME);
					  $("input[name='ADD_INDICATORS_VALUE']").val("");
                      jQuery.post(_basePath+"/targets/TargetsBase!getTargetsDetail.action?TYPE="+type+"&INDICATORS_TYPE="+INDICATORS_TYPE+"&RADIOTYPE_NAME="+encodeURI(RADIOTYPE_NAME),function(html){
                    		$("#resContent").html(html);
                    		
                    	});
			}
			
			function queryTime(obj){
            	var TIMETYPE=$(obj).find("option:selected").val();
            	jQuery.ajax({
            		url:_basePath+"/targets/TargetsBase!queryDateType.action?TIMETYPE="+TIMETYPE,
            		type:"post",
            		dataType:"json",
            		success:function (data)
            		{
            			$("input[name='ADD_START_DATE']").val(data.START_DATE);
						$("input[name='ADD_END_DATE']").val(data.END_DATE);
            		}
            	});
            }
			
			function queryUpdateTime(obj){
            	var TIMETYPE=$(obj).find("option:selected").val();
            	jQuery.ajax({
            		url:_basePath+"/targets/TargetsBase!queryDateType.action?TIMETYPE="+TIMETYPE,
            		type:"post",
            		dataType:"json",
            		success:function (data)
            		{
            			$("input[name='UPDATE_START_DATE']").val(data.START_DATE);
						$("input[name='UPDATE_END_DATE']").val(data.END_DATE);
            		}
            	});
            }
			
			function deleteDetail(ID,NAME){
				var INDICATORS_TYPE=$('input[name=INDICATORS_TYPE]').val();
				var TYPE=$('input[name=TYPE]').val();
				jQuery.ajax({
            		url:_basePath+"/targets/TargetsBase!deleteDetail.action?ID="+ID,
            		type:"post",
            		dataType:"json",
            		success:function(json){
    					if(json.flag==true){
    						alert(json.errorMsg);
    						jQuery.post(_basePath+'/targets/TargetsBase!getTargetsDetail.action?TYPE='+TYPE+'&INDICATORS_TYPE='+INDICATORS_TYPE+'&RADIOTYPE_NAME='+encodeURI(NAME),function(html){
                        		$('#resContent').html(html);
                        	});
    					}else{
    						alert(json.errorMsg);
    					}
					}
            	});
			}
			
			function updateDetail(ID,NAME,TIMETYPE,START_DATE,END_DATE,INDICATORS_VALUE){
				$("input[name='UPDATE_ID']").val(ID);
				$("input[name='UPDATE_NAME']").val(NAME);
				$("input[name='UPDATE_START_DATE']").val(START_DATE);
				$("input[name='UPDATE_END_DATE']").val(END_DATE);
				$("input[name='UPDATE_INDICATORS_VALUE']").val(INDICATORS_VALUE);
				$("input[name='UPDATE_ID']").val(ID);
				$("#UPDATE_TIMETYPE option[value='"+TIMETYPE+"']").attr("selected", true);
				$("#dlgUp").dialog("open");
			}
			
			function updateBaseTimeType(){
				var INDICATORS_TYPE=$('input[name=INDICATORS_TYPE]').val();
				var TYPE=$('input[name=TYPE]').val();
				var BASE_TIMETYPE=$('select[name=BASE_TIMETYPE]').val();
				var BASE_TIMETYPE_NAME=$('select[name=BASE_TIMETYPE]').find("option:selected").text();
				jQuery.ajax({
            		url:_basePath+"/targets/TargetsBase!updateBaseTimeType.action?INDICATORS_TYPE="+INDICATORS_TYPE+"&TYPE="+TYPE+"&TIMETYPE="+BASE_TIMETYPE,
            		type:"post",
            		dataType:"json",
            		success:function(json){
    					if(json.flag==true){
    						alert(json.errorMsg);
    						$("#SpanBaseTimeType").html(BASE_TIMETYPE_NAME);
    					}else{
    						alert(json.errorMsg);
    					}
					}
            	});
			}
			
		</script>
    </head>
    <body class="easyui-layout">
        <div data-options="region:'north',split:true" style="height:50px;padding:10px"><input name="INDICATORS_TYPE" type="hidden" value="$!param.INDICATORS_TYPE"/><input name="TYPE" type="hidden" value="$!param.TYPE"/>
			类型：<select ID="TARGETSTYPE" name="TARGETSTYPE">
					#foreach($item in $targetsList)
						<option value="$item.CODE" #if($!param.TARGETSTYPE==$!item.CODE) selected #end>$item.FLAG</option>
					#end
					
				</select>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="btnGetRole()">查询</a>
				
##				&nbsp;&nbsp;
##				报表显示：<font color="red" id="SpanBaseTimeType"> #if($!param.BASE_TIMETYPE == 1) 本年 #elseif($!param.BASE_TIMETYPE == 2) 上年 #elseif($!param.BASE_TIMETYPE == 3) 本季度 #elseif($!param.BASE_TIMETYPE == 4) 上季度 #elseif($!param.BASE_TIMETYPE == 5) 本月 #elseif($!param.BASE_TIMETYPE == 6) 上月 #else 您还没有设置 #end </font>
##				&nbsp;&nbsp;
##				<select id="BASE_TIMETYPE" name="BASE_TIMETYPE">
##					<option value="1" #if($!param.BASE_TIMETYPE == 1) selected #end>本年</option>
##					<option value="2" #if($!param.BASE_TIMETYPE == 2) selected #end>上年</option>
##					<option value="3" #if($!param.BASE_TIMETYPE == 3) selected #end>本季度</option>
##					<option value="4" #if($!param.BASE_TIMETYPE == 4) selected #end>上季度</option>
##					<option value="5" #if($!param.BASE_TIMETYPE == 5) selected #end>本月</option>
##					<option value="6" #if($!param.BASE_TIMETYPE == 6) selected #end>上月</option>
 ##               </select> &nbsp;&nbsp;<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" onclick="updateBaseTimeType()">修改</a>
        </div>
        <div data-options="region:'west',split:true" style="width:400px;padding:10px">
				<div id="roleContent" style="overflow-y: auto;">
					
				</div>
        </div>
        <div data-options="region:'center'" style="padding:10px">
				<div id="resContent" style="overflow-y: auto;">
				</div>
        </div>
		 <div id="dlg" class="easyui-dialog" title="添加" style="width:400px;height:300px;padding:10px"  data-options="
            buttons: [{
            text:'保存',
            iconCls:'icon-save',
            handler:function(){
				var ADD_INDICATORS_VALUE = $('#ADD_INDICATORS_VALUE').val();
				if(ADD_INDICATORS_VALUE == null || ADD_INDICATORS_VALUE == ''){
					alert('请填写带星号的必填项！');
					return;
				}
				var INDICATORS_TYPE=$('input[name=INDICATORS_TYPE]').val();
				var TYPE=$('input[name=TYPE]').val();
				var ADD_NAME=$('input[name=ADD_NAME]').val();
				var ADD_START_DATE=$('input[name=ADD_START_DATE]').val();
				var ADD_END_DATE=$('input[name=ADD_END_DATE]').val();
				var ADD_TIMETYPE=$('select[name=ADD_TIMETYPE]').val();
				jQuery.ajax({
					url:_basePath+'/targets/TargetsBase!addTargetsInfo.action',
					data:'NAME='+encodeURI(ADD_NAME)+'&INDICATORS_VALUE='+ADD_INDICATORS_VALUE+'&INDICATORS_TYPE='+INDICATORS_TYPE+'&TYPE='+TYPE+'&START_DATE='+ADD_START_DATE+'&END_DATE='+ADD_END_DATE+'&TIMETYPE='+ADD_TIMETYPE,
					dataType: 'json',
					success:function(json){
    					if(json.flag==true){
    						alert(json.errorMsg);
    						$('#dlg').dialog('close');
    						jQuery.post(_basePath+'/targets/TargetsBase!getTargetsDetail.action?TYPE='+TYPE+'&INDICATORS_TYPE='+INDICATORS_TYPE+'&RADIOTYPE_NAME='+encodeURI(ADD_NAME),function(html){
                        		$('#resContent').html(html);
                        	});
    					}else{
    						alert(json.errorMsg);
    					}
					}
				});
            }},{
                text:'取消',
				iconCls:'icon-cancel',
                handler:function(){
    				$('#dlg').dialog('close');
                }
            }]
           ">
            <table>
				<tr>
					<td>指标名称：</td>
					<td>
						<input type="text"  id="ADD_NAME" name="ADD_NAME" style="width:150px;" readonly/>
					</td>
                </tr>
				<tr>
					<td>起始时间：</td>
					<td>
						<input type="text"  id="ADD_START_DATE" name="ADD_START_DATE" style="width:150px;" value="$!param.START_DATE" readonly/>
					</td>
                </tr>
				<tr>
					<td>终止时间：</td>
					<td>
						<input type="text"  id="ADD_END_DATE" name="ADD_END_DATE" style="width:150px;" value="$!param.END_DATE" readonly/>
					</td>
                </tr>
				<tr>
					<td>指标类型：</td>
					<td>
                        <select name="ADD_TIMETYPE" style="width:155px;" onchange="queryTime(this)">
							<option value="1" selected>本年</option>
							<option value="2">上年</option>
							<option value="3">本季度</option>
							<option value="4">上季度</option>
							<option value="5">本月</option>
							<option value="6">上月</option>
						</select>
					</td>
                </tr>
				<tr>
					<td>标准值：</td>
					<td>
						<input type="text" id="ADD_INDICATORS_VALUE" name="ADD_INDICATORS_VALUE" style="width:150px;" onkeyup="doubleValue(this)" onblur="changeMoney(this)"/>#if($!param.INDICATORS_TYPE == 1) 元 #else % #end<font color="red">*</font>
					</td>
                </tr>
				
            </table>
        </div>
		
		<div id="dlgUp" class="easyui-dialog"  title="修改" style="width:400px;height:300px;padding:10px"  data-options="
            buttons: [{
            text:'修改',
            iconCls:'icon-save',
            handler:function(){
    				var UPDATE_INDICATORS_VALUE = $('#UPDATE_INDICATORS_VALUE').val();
    				if(UPDATE_INDICATORS_VALUE == null || UPDATE_INDICATORS_VALUE == ''){
    					alert('请填写带星号的必填项！');
    					return;
    				}
    				var INDICATORS_TYPE=$('input[name=INDICATORS_TYPE]').val();
    				var TYPE=$('input[name=TYPE]').val();
    				var UPDATE_NAME=$('input[name=UPDATE_NAME]').val();
    				var UPDATE_START_DATE=$('input[name=UPDATE_START_DATE]').val();
    				var UPDATE_END_DATE=$('input[name=UPDATE_END_DATE]').val();
    				var UPDATE_TIMETYPE=$('select[name=UPDATE_TIMETYPE]').val();
					var UPDATE_ID=$('input[name=UPDATE_ID]').val();
					jQuery.ajax({
						url:_basePath+'/targets/TargetsBase!updateTargetsInfo.action',
    					data:'ID='+UPDATE_ID+'&NAME='+encodeURI(UPDATE_NAME)+'&INDICATORS_VALUE='+UPDATE_INDICATORS_VALUE+'&INDICATORS_TYPE='+INDICATORS_TYPE+'&TYPE='+TYPE+'&START_DATE='+UPDATE_START_DATE+'&END_DATE='+UPDATE_END_DATE+'&TIMETYPE='+UPDATE_TIMETYPE,
    					dataType: 'json',
    					success:function(json){
        					if(json.flag==true){
        						alert(json.errorMsg);
        						$('#dlgUp').dialog('close');
        						jQuery.post(_basePath+'/targets/TargetsBase!getTargetsDetail.action?TYPE='+TYPE+'&INDICATORS_TYPE='+INDICATORS_TYPE+'&RADIOTYPE_NAME='+encodeURI(UPDATE_NAME),function(html){
                            		$('#resContent').html(html);
                            	});
        					}else{
        						alert(json.errorMsg);
        					}
    					}
					});
					
            }},{
                text:'取消',
				iconCls:'icon-cancel',
                handler:function(){
    				$('#dlgUp').dialog('close');
                }
            }]
           ">
           <table>
            	<tr>
					<td>指标名称：</td>
					<td><input type="hidden"  id="UPDATE_ID" name="UPDATE_ID" style="width:150px;" readonly/>
						<input type="text"  id="UPDATE_NAME" name="UPDATE_NAME" style="width:150px;" readonly/>
					</td>
                </tr>
				<tr>
					<td>起始时间：</td>
					<td>
						<input type="text"  id="UPDATE_START_DATE" name="UPDATE_START_DATE" style="width:150px;" value="" readonly/>
					</td>
                </tr>
				<tr>
					<td>终止时间：</td>
					<td>
						<input type="text"  id="UPDATE_END_DATE" name="UPDATE_END_DATE" style="width:150px;" value="" readonly/>
					</td>
                </tr>
				<tr>
					<td>指标类型：</td>
					<td>
                        <select name="UPDATE_TIMETYPE" id="UPDATE_TIMETYPE" style="width:155px;" onchange="queryUpdateTime(this)">
							<option value="1">本年</option>
							<option value="2">上年</option>
							<option value="3">本季度</option>
							<option value="4">上季度</option>
							<option value="5">本月</option>
							<option value="6">上月</option>
						</select>
					</td>
                </tr>
				<tr>
					<td>标准值：</td>
					<td>
						<input type="text" id="UPDATE_INDICATORS_VALUE" name="UPDATE_INDICATORS_VALUE" style="width:150px;" onkeyup="doubleValue(this)" onblur="changeMoney(this)"/>#if($!param.INDICATORS_TYPE == 1) 元 #else % #end<font color="red">*</font>
					</td>
                </tr>
            </table>
        </div>
    </body>
</html>