<table cellpadding="0" cellspacing="0" class="table_02">
	<thead>
		<tr>
             <td class="text_left">文件名称</td>
             ##<td class="text_left">文件编号</td>
             <td class="text_left">文件份数</td>
             <td class="text_left">文件页数</td>
             <td class="text_left">档案袋编号</td>
             <td class="text_left">档案柜编号</td>
             <td class="text_left">还款计划编号</td>
        </tr>
    </thead>
	<tbody >
		#foreach($!item in $!subList)
		<tr>
				 <td>$!item.FILE_NAME &nbsp;</td>
                 ##<td>$!item.DOSSIER_CODE &nbsp;</td>
                 <td>$!item.DOSSIER_COUNT &nbsp;</td>
                 <td>$!item.FILEPAGE &nbsp;</td>
                 <td>$!item.DOSSIERBAGNUMBER &nbsp;</td>
                 <td>$!item.CABINET_NUMBER &nbsp;</td>
                 <td>$!item.PAYLIST_CODE &nbsp;</td>
        </tr>
		#end
    </tbody>
</table>