#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/documentApp/js/toAddDossierApp.js"></script>
<div>
	<table class="table_01" cellpadding="0" cellspacing="0">
		<thead><tr><td colspan="6">
					客户名称: $!param.CLIENT_NAME &nbsp;&nbsp;&nbsp;&nbsp; <input type="hidden" name="CLIENT_NAME" id="CLIENT_NAME$velocityCount" value="$!param.CLIENT_NAME"/> 
					融资租赁合同编号: $!param.LEASE_CODE &nbsp;&nbsp;&nbsp;&nbsp; <input type="hidden" name="LEASE_CODE" id="LEASE_CODE$velocityCount"value="$!param.LEASE_CODE"/>
        </td></tr></thead>									
		<tbody>
		<tr style="background:#F0FFFF">
			<td ></td><td colspan="5"></td><td></td>
		</tr>
		
		<tr>
		  <td><input type="checkbox" name="DATA_ID_ALL" id="DATA_ID_ALL"/></td>
		  <td>权证类型</td>
		  <td>权证资料</td>
		  <td>原件/复印件</td>
		  <td>文件份数</td>
		  <td>是否退回</td>
		  <td>错误原因</td>
        </tr>
		#foreach($alt in $!list)
		#if($!alt.FILE_NAME!='权证资料')
		<tr>
			<td><input type="checkbox" name="DATA_ID" class="dataid"  value="$!alt.METRIAL_ID"/></td>
			<td > $!alt.FILE_NAME </td>
			<td > $!alt.FILF_FLAG</td>
			<td > #if($!alt.DOSSIER_TEMP==1)原件 #else 复印件 #end </td>
			<td > $!alt.DOSSIER_COUNT</td>
			<td > #if($!alt.IS_RETURN==1)是 #else 否  #end </td>
			<td > $!alt.RETURN_REASON </td>
        </tr>#end#end
        </tbody>
    </table>
	
	<!-- 有支付表编号的权证资料部分-->
	#foreach($apt in $!payList)
	<table class="table_02" cellpadding="0" cellspacing="0">
		<thead>										
		<tr style="background:#F0FFFF">
			<td >支付表编号</td><td colspan="5">$!apt.PAYLIST_CODE</td><td></td>
		</tr>
        </thead>
		<tbody>
		<tr>
		  <td><input type="checkbox" name="DATA_ID_ALL" id="DATA_ID_ALL"/></td>
		  <td>权证类型</td>
		  <td>权证资料</td>
		  <td>原件/复印件</td>
		  <td>文件份数</td>
		  <td>是否退回</td>
		  <td>错误原因</td>
        </tr>
		#foreach($blt in $!list)
		#if($!blt.FILE_NAME=='权证资料')
	    #if($!apt.PAYLIST_CODE==$!blt.PAYLIST_CODE)
		<tr>
			<td><input type="checkbox" name="DATA_ID" class="dataid"  value="$!blt.METRIAL_ID"/></td>
			<td > $!blt.FILE_NAME </td>
			<td > $!blt.FILF_FLAG</td>
			<td > #if($!blt.DOSSIER_TEMP==1)原件 #else 复印件 #end </td>
			<td > $!blt.DOSSIER_COUNT</td>
			<td > #if($!blt.IS_RETURN==1)是 #else 否  #end </td>
			<td > $!blt.RETURN_REASON </td>
        </tr>#end#end#end
        </tbody>
    </table>#end
</div>