<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>租金扣划-网银-申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/rentWrite/js/rentWriteJs.js"></script>
		<script type="text/javascript" src="$_basePath/rentWrite/js/cyberBankNot_ADMIN_C_Manger.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center"  border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
			
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
                    <td  align="right">持卡人：</td><td><input name="ACCOUNT_NAME" id="ACCOUNT_NAME" type="text" size="20" value="$!param.ACCOUNT_NAME" class="paramData"></td>
                    <td  align="right">项目编号：</td><td><input name="PROJECT_CODE" id="PROJECT_CODE" type="text" size="20" value="$!param.PROJECT_CODE" class="paramData"></td>
                    <td  align="right">客户类型：</td><td>
                    	<select name="CUST_TYPE" id="CUST_TYPE" style="width:135px;" class="paramData">
							<option value="">--请选择--</option>
							#foreach($item in $!CUST_TYPE_LIST)
                                <option value="$!item.CODE" #if($!PARAM.CUST_TYPE==$!item.CODE) selected #end>$!item.FLAG</option>
							#end	
                    	</select>
                    </td>
					<td align="center" rowspan="3">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="seach()">查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onClick="creatNotBankFund()">提交</a>
                    </td>
                </tr>
                <tr>
                    <td  align="right">供应商：</td><td><input name="SUP_NAME" id="SUP_NAME" type="text" size="20" value="$!param.SUP_NAME" class="paramData"></td>
                    <td align="right">租赁物名称：</td>
					<td>
						<select name="PRODUCT_NAME" id="PRODUCT_NAME" class="paramData" style="width:135px">
								<option value="">--请选择--</option>
            				#foreach($ite in $!toGetProduct)
            						<option value="$!ite.PRODUCT_NAME" #if($!param.PRODUCT_NAME==$!ite.PRODUCT_NAME) selected #end>
    									$!ite.PRODUCT_NAME
                                    </option>
    						#end
						</select>
					</td>
					<td  align="right">签约状态：</td>
					<td><select name="SIGN_FLAG" id="SIGN_FLAG" style="width:135px;" class="paramData">
							<option value="">--请选择--</option>
							#foreach($item in $!SIGN_FLAG_LIST)
                                <option value="$!item.CODE" #if($!param.SIGN_FLAG==$!item.CODE) selected #end>$!item.FLAG</option>
							#end
						</select>
                    </td>
				</tr>
				<tr>
					<td align="right">开户行：</td>
					<td>
						<select name="BANK_NAME" id="BANK_NAME" class="paramData" style="width:135px">
								<option value="">--请选择--</option>
            					<option value="中国建设银行" #if($!param.BANK_NAME=='中国建设银行') selected #end>中国建设银行</option>
								<option value="中国农业银行" #if($!param.BANK_NAME=='中国农业银行') selected #end>中国农业银行</option>
								<option value="中国邮政储蓄银行" #if($!param.BANK_NAME=='中国邮政储蓄银行') selected #end>中国邮政储蓄银行</option>
								<option value="中国工商银行" #if($!param.BANK_NAME=='中国工商银行') selected #end>中国工商银行</option>
						</select>
					</td>
					<td align="right">扣划失败原因：</td>
					<td>
						<input name="BEGINNING_FALSE_REASON" id="BEGINNING_FALSE_REASON" class="paramData" value="$!param.BEGINNING_FALSE_REASON">
					</td>
                    <td align="right">
						还款日：
					</td>
					<td>
						<input name="PLAN_START_DATE" id="PLAN_START_DATE" type="text" size="15"  class="easyui-datebox paramData" value="$!param.PLAN_START_DATE"> 至 <input name="PLAN_END_DATE" id="PLAN_END_DATE" type="text" size="15" class="easyui-datebox paramData" value="$!param.PLAN_END_DATE"> 
                    </td>
				</tr>
          </table>
		  <div style="height:10px;text-align:center"></div>
    		<hr />
		</div>
		
        <table id="cyberBankNot_C_PageTable">
            
		 </table>
		 
	</div>	

	
	<div id="divFrom"></div>
</body>
<script>
		function seach(){
			var ACCOUNT_NAME=$("input[name='ACCOUNT_NAME']").val();
			var PROJECT_CODE=$("input[name='PROJECT_CODE']").val();
			var CUST_TYPE=$("select[name='CUST_TYPE']").find("option:selected").val();
			var FEE_TYPE=$("select[name='FEE_TYPE']").find("option:selected").val();
			var SUP_NAME=$("input[name='SUP_NAME']").val();
			var BANK_NAME=$("select[name='BANK_NAME']").find("option:selected").val();
			var PLAN_START_DATE=$("input[name='PLAN_START_DATE']").val();
			var PLAN_END_DATE=$("input[name='PLAN_END_DATE']").val();
			var SIGN_FLAG=$("select[name='SIGN_FLAG']").find("option:selected").val();
			var PRODUCT_NAME=$("select[name='PRODUCT_NAME']").find("option:selected").val();
			var BEGINNING_FALSE_REASON=$("input[name='BEGINNING_FALSE_REASON']").val();
			var FI_REALITY_BANK_FLAF=$("select[name='bankFlag']").find("option:selected").val();
        	var FI_REALITY_BANK="";
        	if(FI_REALITY_BANK_FLAF=='1'){
        		FI_REALITY_BANK=$("select[name='bankFlag']").find("option:selected").text();
        	}
			var BANK_NAME=$("select[name='BANK_NAME']").find("option:selected").val();
			$('#cyberBankNot_C_PageTable').datagrid({url:'rentNotWrite!cyberBankNot_C_PageAjax.action',queryParams:{"ACCOUNT_NAME":ACCOUNT_NAME,"PRODUCT_NAME":PRODUCT_NAME,"PROJECT_CODE":PROJECT_CODE,"CUST_TYPE":CUST_TYPE,"FEE_TYPE":FEE_TYPE,"SUP_NAME":SUP_NAME,"BANK_NAME":BANK_NAME,"PLAN_START_DATE":PLAN_START_DATE,"PLAN_END_DATE":PLAN_END_DATE,"SIGN_FLAG":SIGN_FLAG,"FI_REALITY_BANK":FI_REALITY_BANK,"BEGINNING_FALSE_REASON":BEGINNING_FALSE_REASON,"BANK_NAME":BANK_NAME}});
		}
		
		
    </script>
</html>