#parse("content/importBase.vm")

<body class="easyui-panel" style="background-image:none; height:auto">	
	<input type="hidden" name="moneyOrderSave${f_data.FUND_ID}" id="moneyOrderSave${f_data.FUND_ID}" #if($!f_data.MONEYORDERSAVE) value="$!f_data.MONEYORDERSAVE" #end readonly/>
<div region="center" border="false">	
	<div id="tb" style=" padding-bottom:10px;">
        <table cellpadding="0" cellspacing="0" width="100%" id="checkedData">
              <tr>
                 <td colspan="1">
                  <a href="javascript:void(0)" name="saveHref" class="easyui-linkbutton" iconCls="icon-save" style="display:block;" plain="true" onClick="toCommit(this)">保存</a>
				  <a href="javascript:void(0)" name="heXsHref" class="easyui-linkbutton" iconCls="icon-pass" style="display:none;" plain="true" onClick="toCommitHexiao(this)">核销</a>
                 </td>
				 <td colspan="9">
					&nbsp;
                 </td>
              </tr>
              <tr>
				#set($LKR='')
				#foreach($item in $listTage)
                                #set($LKR=$!item.FI_TAGE_NAME)
							#end
                  <td align="right">付款单号：</td><td><input type="text" size="15" name="FUND_ID" id="FUND_ID" value="$!f_data.FUND_ID" readonly="readonly"></td>
                  <td align="right">计划还款日：</td><td><input type="text"  size="15" name="FI_PAY_DATE" id="FI_PAY_DATE" value="$!f_data.FI_PAY_DATE"  readonly="readonly"></td>
                  <td align="right">付款银行：</td><td><input type="text"  size="15" name="FI_PAY_BANK" id="FI_PAY_BANK" value="$!f_data.FI_PAY_BANK"></td>
                  <td align="right">来款人：</td><td><input type="text"  size="15" name="FI_TO_THE_PAYEE" id="FI_TO_THE_PAYEE"  #if($!f_data.FI_TO_THE_PAYEE) value="$!f_data.FI_PAY_DATE" #else value="$LKR" #end/></td>
                  <td align="right">核销银行：</td><td><select style="width:120px" name="FI_REALITY_BANK" id="FI_REALITY_BANK">
                             <option value="中国建设银行" #if($!f_data.FI_REALITY_BANK=='中国建设银行') selected #end>中国建设银行</option>
                             <option value="中国民生银行" #if($!f_data.FI_REALITY_BANK=='中国民生银行') selected #end>中国民生银行</option>
                             <option value="中国交通银行" #if($!f_data.FI_REALITY_BANK=='中国交通银行') selected #end>中国交通银行</option>
                          </select></td>
              </tr>
              <tr style="height:5px;">&nbsp;</tr>
              <tr>
                  <td align="right">供应商：</td><td><input type="text" size="15" name="SUP_NAME" value="$!f_data.SUP_NAME" readonly></td>
                  <td align="right">核销时间：</td><td><input type="text"  size="15" name="FI_ACCOUNT_DATE" id="FI_ACCOUNT_DATE" value="$!f_data.FI_ACCOUNT_DATE" class="easyui-datebox"></td>
                  <td align="right">本次实付：</td><td><input type="text"  size="15" FUND_ID_TYPE="${f_data.FUND_ID}" name="FI_REALITY_ACCOUNT" class="date${f_data.FUND_ID}" id="FI_REALITY_ACCOUNT" #if($!f_data.FI_PAY_YUE && $!f_data.FI_PAY_YUE >0) value="$!f_data.FI_REALITY_ACCOUNT" #else value="$!f_data.FI_PAY_MONEY" #end  onChange="doubleValue(this),toChange(this);">
							<input type="hidden"  size="15" name="FI_PAY_MONEY" id="FI_PAY_MONEY" value="$!f_data.FI_PAY_MONEY">&nbsp;<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="updateMoneyOrder('$!f_data.FUND_ID')">&nbsp;</a></td>
                  <td align="right">本次来款余额：</td><td><input type="text"  size="15" name="FI_PAY_YUE" id="FI_PAY_YUE" readonly="readonly" value="$!f_data.FI_PAY_YUE"></td>
                  <td align="right">余款挂账：</td>
				  <td><select style="width:80px" name="FI_TAGE" id="FI_TAGE">
						     #if($!f_data.FI_FLAG=='3')
                                <option value="2">承租人</option>
							#elseif($!f_data.FI_FLAG=='5')
								<option value="1">供应商</option>
							 #end
                          </select>
                        <select  style="width:120px" name="FI_TAGE_ID" id="FI_TAGE_ID">
						     #foreach($item in $listTage)
                                <option value="$!item.FI_TAGE_ID" FI_TAGE_NAME="$!item.FI_TAGE_NAME">$!item.FI_TAGE_NAME</option>
							#end
                          </select> 
				</td>
              </tr>
              <tr >
                  <td colspan="10">
                      <div id="poolTab" #if($!f_data.POOLSTATE<=0) style="display:none;" #end>
							<table cellpadding="0" cellspacing="0" class="table_01" id="pool_tab">
                                <tr bgcolor="#f4f4f4" align="center">
                                    <td width="15%" >项目备注</td>
                                    <td width="20%">可用余额合计</td>
                                    <td width="20%">所选冲抵款合计</td>
                                </tr>
								#set($moneyAll=0)
            					#foreach($item in $!poolList)
                                    <tr align="center">
            							<td >
            								$!item.POOLNAME
											<input type="hidden" name="POOLID" id="POOLID" value="$!item.POOLID" readonly/>
                                        </td>
                                        <td><input type="text" name="POOLUSERMONEY" id="POOLUSERMONEY" value="$!item.POOLUSERMONEY" readonly/></td>
                                        <td><input type="text" name="dichong_money" id="dichong_money" value="0.00" onchange="toChangePool(this);" /></td>
            						</tr>
									#set($moneyAll=$moneyAll+$!item.POOLUSERMONEY)
            					#end 
                                <tr>
                                    <td align="right" style="font-weight:bold">合计：</td>
                                    <td align="right" style="font-weight:bold"><input type="text" name="spareMoneyTotal" value="$!moneyAll" readonly></td>
        							<td align="right" style="font-weight:bold"><input type="text" name="realityMoneyTotal" id="realityMoneyTotal" value="" readonly></td>
                                </tr>
                  </table>
					  </div>
                  </td>
              </tr>
               <tr>
                  <td colspan="10" align="right" style="line-height:24px; font-size:14px; font-weight:bold">本次应收核销：$!f_data.FI_PAY_MONEY<input type="hidden" name="fi_pay_money_" id="fi_pay_money_" value="$!f_data.FI_PAY_MONEY"/></td>
              </tr>
        </table>
    </div>
	 <table fitColumns="true"  id="pageTable_" fit="true" class="easyui-datagrid" data-options="rownumbers:true,singleSelect:true,collapsible:true,url:'$_basePath/rentWrite/rentWrite!getFundDetailDataPage.action?HEAD_ID=$!param.FUND_ID'">
         <tr>
			<thead>
				<th data-options="field:'PRO_CODE',width:40">项编号</th>
    			<th data-options="field:'CUSTNAME',width:50">客户名称</th>
    			<th data-options="field:'COMPANY_NAME',width:35">厂商</th>
				<th data-options="field:'SUP_NAME',width:45">供应商</th>
				<th data-options="field:'EQUIPMENINFOS',width:60">租赁物</th>
				<th data-options="field:'FI_PRO_NAME',width:50">款项名称</th>
				<th data-options="field:'BEGINNING_NUM',width:50">期次</th>
				<th data-options="field:'D_RECEIVE_DATE',width:55">计划收取日期</th>
				<th data-options="field:'BEGINNING_MONEY',width:50">本次应收金额</th>
           </thead>
        </tr>
	</table>
</div>


	<div id="dlgUp${f_data.FUND_ID}" class="easyui-dialog" title="本次来款金额" style="width:600px;height:150px;padding:10px"  data-options="
            buttons: [{
            text:'确定',
            iconCls:'icon-save',
            handler:function(){
				var moneyOrder = $('#moneyOrder${f_data.FUND_ID}').val();
				if(moneyOrder == null || moneyOrder == ''){
					alert('请填写分拆金额在确定！');
					return;
				}
				$('#moneyOrderSave${f_data.FUND_ID}').val(moneyOrder);
				
				var arr=moneyOrder.split(',');
				var money=0;
                for(var i=0;i<arr.length;i++)
                {
					money=fomatFloat(accAdd(money,arr[i]),2);
                }
				$('.date${f_data.FUND_ID}').val(money);
				var obj=$('.date${f_data.FUND_ID}');
				toChange(obj);
				$('#dlgUp${f_data.FUND_ID}').dialog('close');
            }},{
                text:'取消',
				iconCls:'icon-cancel',
                handler:function(){
    				$('#dlgUp${f_data.FUND_ID}').dialog('close');
                }
            }]
           ">
            <table>
				<tr>
					<td><input name="moneyOrder${f_data.FUND_ID}" id="moneyOrder${f_data.FUND_ID}" type="text" size="45" #if($!f_data.MONEYORDERSAVE) value="$!f_data.MONEYORDERSAVE" #else value="$!f_data.FI_PAY_MONEY" #end </td>
					<td><font color="red">举例(英文标点)：1000,1000,1000</font></td>
				</tr>
            </table>
        </div>
</body>
   