	#parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
	<script type="text/javascript">
    	function search0(){
    	    var SUP_SHORTNAME = $("#SUP_SHORTNAME").val(); 
			var RE_PAYEE_UNIT = $("#RE_PAYEE_UNIT").val();
			var RE_DATE = $("#RE_DATE").datebox("getValue");
    	    $('#pageTable2').datagrid('load', {"SUP_SHORTNAME":SUP_SHORTNAME,"RE_PAYEE_UNIT":RE_PAYEE_UNIT,"RE_DATE":RE_DATE});
    	}
		
		function addConfig(value,row,index){
		     return "<a href=javascript:void(0) onclick=revRefundApp("+value+") >解冻退款</a>";
		}
		
		function exportRefundMess(){
        	var url = "$_basePath/capitalPool/supplierPool/SupplierBailPool!exportRefundMess.action";
        	var datagridList=$("#pageTable2").datagrid('getChecked');
        	var sqlData = [];		
        	for(var i = 0; i < datagridList.length; i++) {
        		sqlData.push("'"+datagridList[i].RE_ID+"'");
        	}
        	
    		if(datagridList.length == 0){
    			alert("请选择要导出的数据");
    			return;
    		}
        	$('#form01').form('submit',{
                url:url,
                onSubmit: function(){
        			//导出标识
        			if($('#sqlData').length<=0){
        				$('#form01').append('<input name=\"sqlData\"  id=\"sqlData\" type=\"hidden\" />');
        			}
        			$('#sqlData').val(sqlData.join(','));
                },
                success : function(){
                	se();
                }
            });
        	$('#sqlData').remove();
        	se();
		}

		function submitMethod(){
		    var url = "$_basePath/refund/RefundDBApply!submitMethod.action";
		    var datagridList=$("#pageTable2").datagrid('getChecked');
			if($("#pageTable2").datagrid('getRows').length <= 0){
    			$.messager.alert('提示','无数据请勿点击提交','info',null);
    			return;
    		}
        	var sqlSubmitData = [];		
        	for(var i = 0; i < datagridList.length; i++){
			    var pa = {"RE_ID":datagridList[i].RE_ID,"RE_STATUS":1}
        		sqlSubmitData.push(pa);
        	}
    		
			if(datagridList.length>0){
    			$('#form01').form('submit',{
                    url:url,
                    onSubmit: function(){
            			//导出标识
            			if($('#sqlSubmitData').length<=0){
            				$('#form01').append('<input name=\"sqlSubmitData\"  id=\"sqlSubmitData\" type=\"hidden\" />');
            			}
            			$('#sqlSubmitData').val(JSON.stringify(sqlSubmitData));
                    },
                     success : function(data){
                    	alert(JSON.parse(data).msg);
                    	search0();
                    }
                });
            	$('#sqlSubmitData').remove();
			}
        	
		}
		
			
		function rollback(){
		    var url = "$_basePath/refund/RefundDBApply!submitMethod.action";
		    var datagridList=$("#pageTable2").datagrid('getChecked');
			if($("#pageTable2").datagrid('getRows').length <= 0){
    			$.messager.alert('提示','无数据可驳回','info',null);
    			return;
    		}
        	var sqlSubmitData = [];		
        	for(var i = 0; i < datagridList.length; i++){
			    var pa = {"RE_ID":datagridList[i].RE_ID,"RE_STATUS":'0'}
        		sqlSubmitData.push(pa);
        	}
    		
			if(datagridList.length>0){
			    if(confirm("确认驳回该退款单吗?")){
        			$('#form01').form('submit',{
                        url:url,
                        onSubmit: function(){
                			if($('#sqlSubmitData').length<=0){
                				$('#form01').append('<input name=\"sqlSubmitData\"  id=\"sqlSubmitData\" type=\"hidden\" />');
                			}
                			$('#sqlSubmitData').val(JSON.stringify(sqlSubmitData));
                        },
                         success : function(data){
                        	alert(JSON.parse(data).msg);
                        	search0();
                        }
                    });
                	$('#sqlSubmitData').remove();
				}
			}
        	
		}
		
        function revRefundApp(vl){
        	var url = "$_basePath/refund/RefundDBApply!revRefundApp.action?RE_ID="+vl+"&RE_STATUS=11";
			if(confirm('确定要解冻当前资金，用来冲抵租金')){ 
				jQuery.ajax({
					url:url,
            		type:"post", 
            		dataType:"json",
            		success:function(res){
            			if (res.flag==true){
                           jQuery.messager.alert("提示",res.msg);
        				   $('#pageTable2').datagrid('reload');
                        }else{
        				   jQuery.messager.alert("提示",res.msg);
                		}
        			}
				});
        	}
        }
		
        $(function(){
            $('#pageTable2').datagrid({
                view: detailview,
                detailFormatter:function(index,row){
                    return '<div style="padding:2px"><table id="ddv-'+index+'"></table></div>';
                },
                onExpandRow: function(index,row){
                    $('#ddv-'+index).datagrid({
                        url:'$_basePath/refund/RefundDBApply!getDebtDropDownList.action?RE_ID='+row.RE_ID,
                        singleSelect:true,
                        rownumbers:true,
                        loadMsg:'',
                        height:'auto',
                        columns:[[
                            {field:'CUST_NAME',title:'承租人',width:100,align:'right'},
                            {field:'PRO_CODE',title:'项目编号',width:100,align:'right'},
							{field:'PRO_NAME',title:'项目名称',width:200,align:'right'},
							{field:'BASE_MONEY',title:'DB保证金',width:100,align:'right'},
							{field:'CANUSE_MONEY',title:'退款金额',width:100,align:'right'},
							{field:'PAY_TIME',title:'来款时间',width:100,align:'right'},
							{field:'THAW_TIME',title:'解冻时间',width:100,align:'right'},
							{field:'STATUS',title:'状态',width:100,align:'right'} 
                        ]],
                        onResize:function(){
                            $('#pageTable2').datagrid('fixDetailRowHeight',index);
                        },
                        onLoadSuccess:function(){
                            setTimeout(function(){
                                $('#pageTable2').datagrid('fixDetailRowHeight',index);
                            },0);
                        }
                    });
                    $('#pageTable2').datagrid('fixDetailRowHeight',index);
                }
            });
            $('.linkbutton').linkbutton();
            $('.datebox').datebox();
        });
    </script>
		<div id="pageForm2" style="padding:20px;height:auto">    
			<form id="form01" method="post">
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
				  <td>
				    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="exportRefundMess()">导出选中项</a>&nbsp;
##					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="submitMethod()">提交</a>&nbsp;
##					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="rollback()">驳回</a>&nbsp;
                  </td>
				</tr>
    			<tr>
            	  <td>
					供应商名称：
					<input class="input_03" type="text" size ="20" id="SUP_SHORTNAME" value="$!param.SUP_SHORTNAME" />
					收款人单位：
					<input class="input_03" type="text" size ="20" id="RE_PAYEE_UNIT" value="$!param.RE_PAYEE_UNIT" />
					退款日期：
					<input type="text" size ="20" id="RE_DATE" class="datebox" />
					<a href="javascript:void(0);" class="linkbutton" iconCls="icon-search" onclick="search0()">查询</a>
    			  </td>
                </tr>
    	    </table>
            </form>
		</div>		    
		<table id="pageTable2" fit="true"  fitColumns="true" pagination="true" rownumbers="true" url="$_basePath/capitalPool/supplierPool/SupplierBailPool!getRefundPagedata.action" toolbar="#pageForm2" >
    		<tr>
				<thead>
					<th data-options="field:'ck',checkbox:true"></th>
		            <th data-options="field:'RE_CODE',width:100">退款单号</th>
    				<th data-options="field:'SUP_SHORTNAME',width:100">供应商名称</th>
    				<th data-options="field:'RE_PAYEE_UNIT',width:100">收款单位</th>
			        <th data-options="field:'RE_PAYEE_ADDRESS',width:150">地址</th>
					<th data-options="field:'RE_PAYEE_BANK',width:150">开户行</th>
					<th data-options="field:'RE_PAYEE_BANK_ADDR',width:150">开户行所在地</th>
					<th data-options="field:'RE_PAYEE_ACCOUNT',width:150">退款账号</th>
					<th data-options="field:'RE_MONEY',width:150">退款金额</th>
					<th data-options="field:'RE_APPLY_TIME',width:150">退款日期</th>
					<th data-options="field:'STATUS',width:100">状态</th>
##    				<th data-options="field:'RE_ID',width:150,formatter: addConfig" align="center">操作</th>
                </thead>
    		</tr>
         </table>