	<script type="text/javascript">
    	function search3(){
    	    var SUP_SHORTNAME = $("#SUP_SHORTNAME").val(); 
			var RE_PAYEE_UNIT = $("#RE_PAYEE_UNIT").val();
			var RE_DATE = $("#RE_DATE").datebox("getValue");
    	    $('#pageTable2').datagrid('load', {"SUP_SHORTNAME":SUP_SHORTNAME,"RE_PAYEE_UNIT":RE_PAYEE_UNIT,"RE_DATE":RE_DATE});
    	}
		
		function addConfig(value,row,index){
		     return "<a href=javascript:void(0) onclick=submitRefundApp("+value+") >提交评审</a>&nbsp;<a href=javascript:void(0) onclick=revRefundApp("+value+") >撤销退款</a>";
		}
 
		function submitRefundApp(value){
		    if(confirm("确定要发起退款评审流程吗？")){
    		    jQuery.ajax({
            		url:"$_basePath/capitalPool/supplierPool/EqPayBalancePool!startRefundApp.action?RE_ID="+value,
            		type:"post", 
            		dataType:"json",
            		success:function(res){
            			if (res.flag==true){
                           jQuery.messager.alert("提示",res.msg);
						   $('#pageTable2').datagrid('reload');
                        }else{
						   jQuery.messager.alert("提示",res.msg);
                		} 
            		}
            	 });
			 }
		}
		
		function revRefundApp(value){
		    if(confirm("确定撤销此次退款，删除此退款单吗？")){
            	jQuery.ajax({
            		url:"$_basePath/capitalPool/supplierPool/EqPayBalancePool!delRefundDan.action?RE_ID="+value,
            		type:"post", 
            		dataType:"json",
            		success:function(res){
            			if (res.flag==true){
                           jQuery.messager.alert("提示",res.msg);
						   $('#pageTable2').datagrid('reload');
                        }else{
						   jQuery.messager.alert("提示",res.msg);
                		} 
            		}
            	});
			}
		}

		function removeMoney(value,re_id){
		    if(confirm("确定从退款单中移除该款项吗？")){
    		    jQuery.ajax({
            		url:"$_basePath/capitalPool/supplierPool/EqPayBalancePool!removeMoney.action?POOL_ID="+value+"&RE_ID="+re_id,
            		type:"post", 
            		dataType:"json",
            		success:function(res){
            			if (res.flag==true){
                           jQuery.messager.alert("提示",res.msg);
						   $('#pageTable2').datagrid('reload');
                        }else{
						   jQuery.messager.alert("提示",res.msg);
                		}
					}
            	});
			}
		}

        $(function(){
            $('#pageTable2').datagrid({
                view: detailview,
                detailFormatter:function(index,row){
                    return '<div style="padding:2px"><table id="ddv-'+index+'"></table></div>';
                },
                onExpandRow: function(index,row){
                    $('#ddv-'+index).datagrid({
                        url:'$_basePath/capitalPool/supplierPool/EqPayBalancePool!getEqPayPoolList.action?SUP_ID='+row.SUP_ID+'&STATUS2=2',
                        singleSelect:true,
                        rownumbers:true,
                        loadMsg:'',
                        height:'auto',
                        columns:[[
                            {field:'SUP_SHORTNAME',title:'供应商',width:100,align:'right'},
							{field:'PAYMENT_CODE',title:'放款单号',width:100,align:'right'},
							{field:'PAYMENT_MONEY',title:'预计放款额',width:100,align:'right'},
							{field:'BASE_MONEY',title:'设备付款余款金额',width:100,align:'right'},
							{field:'CANUSE_MONEY',title:'可用余款',width:100,align:'right'},
							{field:'PAY_TIME',title:'来款时间',width:100,align:'right'},
							{field:'THAW_TIME',title:'解冻时间',width:100,align:'right'},
							{field:'STATUS',title:'状态',width:100,align:'right'},
							{field:'POOL_ID',title: '操作',width:80,align:'center',formatter:function(value,rowData,rowIndex){
						            var html = "";
						            if(rowData.STATUS=='预退款' && row.RE_STATUS=='0'){
									   html += "<a href='javascript:void(0);' onclick='removeMoney("+value+","+rowData.RE_ID+")'>移除款项</a>&nbsp;&nbsp;";
									} 
                                    return html;  
                                    }
        					}
                        ]],
                        onResize:function(){
                            $('#pageTable2').datagrid('fixDetailRowHeight',index);
                        },
                        onLoadSuccess:function(){
                            setTimeout(function(){
                                $('#pageTable2').datagrid('fixDetailRowHeight',index);
                            },0);
                        }
                    });
                    $('#pageTable2').datagrid('fixDetailRowHeight',index);
                }
            });
			$(".datebox").datebox();
			$(".linkbutton").linkbutton();
        });
    </script>
		<div id="pageForm2" style="padding:20px;height:auto">                        	
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
    			<tr>
            	  <td>
					供应商名称：
					<input class="input_03" type="text" size ="20" id="SUP_SHORTNAME" value="$!param.SUP_SHORTNAME" />
					收款人单位：
					<input class="input_03" type="text" size ="20" id="RE_PAYEE_UNIT" value="$!param.RE_PAYEE_UNIT" />
					退款日期：
					<input type="text" size ="20" id="RE_DATE" class="datebox" />
					<a href="javascript:void(0);" class="linkbutton" iconCls="icon-search" onclick="search3()">查询</a>
    			  </td>
                </tr>
    	    </table>
		</div>
		<table id="pageTable2" fit="true"  fitColumns="true" pagination="true" rownumbers="true" singleSelect="true" url="$_basePath/capitalPool/supplierPool/EqPayBalancePool!getEqPayRefundPageData.action" toolbar="#pageForm2" >
    		<tr>
				<thead>
		            <th data-options="field:'RE_CODE',width:100">退款单号</th>
    				<th data-options="field:'SUP_SHORTNAME',width:100">供应商名称</th>
    				<th data-options="field:'RE_PAYEE_UNIT',width:100">收款单位</th>
			        <th data-options="field:'RE_PAYEE_ADDRESS',width:150">地址</th>
					<th data-options="field:'RE_PAYEE_BANK',width:150">开户行</th>
					<th data-options="field:'RE_PAYEE_BANK_ADDR',width:150">开户行所在地</th>
					<th data-options="field:'RE_PAYEE_ACCOUNT',width:150">退款账号</th>
					<th data-options="field:'RE_MONEY',width:150">退款金额</th>
					<th data-options="field:'RE_APPLY_TIME',width:150">退款日期</th>
					<th data-options="field:'STATUS',width:100">状态</th>
    				<th data-options="field:'RE_ID',width:150,formatter: addConfig" align="center">操作</th>
                </thead>
    		</tr>
         </table>