
            <table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-center:0;width:100%;text-align:center">
				<tr><td colspan="4"  align="left">承租人财报</td></tr>
				<tr class="text-r" style="height:30px">
					<td align="center">单位名称：$!data.UNIT_NAME</td>
					<td align="center">查验人员：$!data.CHECK_PEOPLE</td>
					<td align="center">日期：$!data.CHECK_DATE</td>
					<td align="center">索引号：$!data.INDEX_CODE</td>
				</tr>
				<tr class="text-r" style="height:30px">
					<td align="center">所属时间和附属时间：$!data.BELONG_DATE</td>
					<td align="center">复核人员：$!data.REVIEW_PEOPLE</td>
					<td align="center">日期：$!data.REVIEW_DATE</td>
					<td align="center">金额单位：人民币元</td>
				</tr>
				</table>
      
	<table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-center:0;width:100%;text-align:center">
				<tr>
					<td style="text-align:center" bgcolor="#fbfcfc" style="border-bottom:0" width="40%"><strong>项目名称</strong></td>
					<td bgcolor="#fbfcfc" style="border-left:0" width="20%">前年：$!data.IN_DATE.IN_DATE1</td>
					<td bgcolor="#fbfcfc" style="border-left:0" width="20%">上年：$!data.IN_DATE.IN_DATE2</td>
					<td bgcolor="#fbfcfc" style="border-left:0" width="20%">本年：$!data.IN_DATE.IN_DATE3</td>
				</tr>
				
				<tr>
                    <td align="center"><strong>一、经营活动产生的现金流量</strong></td>
					<td align="center"></td>
					<td align="center"></td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">销售商品，提供劳务收到的现金</td>
					<td align="center"> #if($data.PROVIDE_SERVICE_CASH.PROVIDE_SERVICE_CASH1) $!data.PROVIDE_SERVICE_CASH.PROVIDE_SERVICE_CASH1 #else 0 #end</td>
					<td align="center"> #if($data.PROVIDE_SERVICE_CASH.PROVIDE_SERVICE_CASH2) $!data.PROVIDE_SERVICE_CASH.PROVIDE_SERVICE_CASH2 #else 0 #end</td>
					<td align="center"> #if($data.PROVIDE_SERVICE_CASH.PROVIDE_SERVICE_CASH3) $!data.PROVIDE_SERVICE_CASH.PROVIDE_SERVICE_CASH3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">收到的税费返还</td>
					<td align="center"> #if($data.TAX_RETURN.TAX_RETURN1) $!data.TAX_RETURN.TAX_RETURN1 #else 0 #end</td>
					<td align="center"> #if($data.TAX_RETURN.TAX_RETURN2) $!data.TAX_RETURN.TAX_RETURN2 #else 0 #end</td>
					<td align="center"> #if($data.TAX_RETURN.TAX_RETURN3) $!data.TAX_RETURN.TAX_RETURN3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">收到的其他与经营活动有关的现金</td>
					<td align="center"> #if($data.OTHER_OPERATE.OTHER_OPERATE1) $!data.OTHER_OPERATE.OTHER_OPERATE1 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_OPERATE.OTHER_OPERATE2) $!data.OTHER_OPERATE.OTHER_OPERATE2 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_OPERATE.OTHER_OPERATE3) $!data.OTHER_OPERATE.OTHER_OPERATE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金流入小计</td>
					<td align="center" title="(前年)销售商品，提供劳务收到的现金+(前年)收到的税费返还+(前年)收到的其他与经营活动有关的现金"> #if($data.OPERATE_INTO_TOTAL.OPERATE_INTO_TOTAL1) $!data.OPERATE_INTO_TOTAL.OPERATE_INTO_TOTAL1 #else 0 #end</td>
					<td align="center" title="(上年)销售商品，提供劳务收到的现金+(上年)收到的税费返还+(上年)收到的其他与经营活动有关的现金"> #if($data.OPERATE_INTO_TOTAL.OPERATE_INTO_TOTAL2) $!data.OPERATE_INTO_TOTAL.OPERATE_INTO_TOTAL2 #else 0 #end</td>
					<td align="center" title="(本年)销售商品，提供劳务收到的现金+(本年)收到的税费返还+(本年)收到的其他与经营活动有关的现金"> #if($data.OPERATE_INTO_TOTAL.OPERATE_INTO_TOTAL3) $!data.OPERATE_INTO_TOTAL.OPERATE_INTO_TOTAL3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">购买商品，接受劳务支付的现金</td>
					<td align="center"> #if($data.PROVIDE_PAYMENT_CASH.PROVIDE_PAYMENT_CASH1) $!data.PROVIDE_PAYMENT_CASH.PROVIDE_PAYMENT_CASH1 #else 0 #end</td>
					<td align="center"> #if($data.PROVIDE_PAYMENT_CASH.PROVIDE_PAYMENT_CASH2) $!data.PROVIDE_PAYMENT_CASH.PROVIDE_PAYMENT_CASH2 #else 0 #end</td>
					<td align="center"> #if($data.PROVIDE_PAYMENT_CASH.PROVIDE_PAYMENT_CASH3) $!data.PROVIDE_PAYMENT_CASH.PROVIDE_PAYMENT_CASH3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">支付给职工以及为职工支付的现金</td>
					<td align="center"> #if($data.PAYMENT_STAFF_CASH.PAYMENT_STAFF_CASH1) $!data.PAYMENT_STAFF_CASH.PAYMENT_STAFF_CASH1 #else 0 #end</td>
					<td align="center"> #if($data.PAYMENT_STAFF_CASH.PAYMENT_STAFF_CASH2) $!data.PAYMENT_STAFF_CASH.PAYMENT_STAFF_CASH2 #else 0 #end</td>
					<td align="center"> #if($data.PAYMENT_STAFF_CASH.PAYMENT_STAFF_CASH3) $!data.PAYMENT_STAFF_CASH.PAYMENT_STAFF_CASH3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">支付的各项税费</td>
					<td align="center"> #if($data.PAY_ITEM_TAX.PAY_ITEM_TAX1) $!data.PAY_ITEM_TAX.PAY_ITEM_TAX1  #else 0 #end</td>
					<td align="center"> #if($data.PAY_ITEM_TAX.PAY_ITEM_TAX2) $!data.PAY_ITEM_TAX.PAY_ITEM_TAX2  #else 0 #end</td>
					<td align="center"> #if($data.PAY_ITEM_TAX.PAY_ITEM_TAX3) $!data.PAY_ITEM_TAX.PAY_ITEM_TAX3  #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">支付的其他与经营活动有关的现金</td>
					<td align="center"> #if($data.PAY_PROVIDE_CASH.PAY_PROVIDE_CASH1) $!data.PAY_PROVIDE_CASH.PAY_PROVIDE_CASH1 #else 0 #end</td>
					<td align="center"> #if($data.PAY_PROVIDE_CASH.PAY_PROVIDE_CASH2) $!data.PAY_PROVIDE_CASH.PAY_PROVIDE_CASH2 #else 0 #end</td>
					<td align="center"> #if($data.PAY_PROVIDE_CASH.PAY_PROVIDE_CASH3) $!data.PAY_PROVIDE_CASH.PAY_PROVIDE_CASH3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金流出小计</td>
					<td align="center" title="(前年)购买商品，接受劳务支付的现金+(前年)支付给职工以及为职工支付的现金+(前年)支付的各项税费+(前年)支付的其他与经营活动有关的现金">  #if($data.OPERATE_OUT_TOTAL.OPERATE_OUT_TOTAL1) $!data.OPERATE_OUT_TOTAL.OPERATE_OUT_TOTAL1 #else 0 #end</td>
					<td align="center" title="(上年)购买商品，接受劳务支付的现金+(上年)支付给职工以及为职工支付的现金+(上年)支付的各项税费+(上年)支付的其他与经营活动有关的现金">  #if($data.OPERATE_OUT_TOTAL.OPERATE_OUT_TOTAL2) $!data.OPERATE_OUT_TOTAL.OPERATE_OUT_TOTAL2 #else 0 #end</td>
					<td align="center" title="(本年)购买商品，接受劳务支付的现金+(本年)支付给职工以及为职工支付的现金+(本年)支付的各项税费+(本年)支付的其他与经营活动有关的现金">  #if($data.OPERATE_OUT_TOTAL.OPERATE_OUT_TOTAL3) $!data.OPERATE_OUT_TOTAL.OPERATE_OUT_TOTAL3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">经营活动产生的现金流量净额(A)</td>
					<td align="center" title="(前年)现金流入小计-(前年)现金流出小计"> #if($data.OPERATE_NET.OPERATE_NET1) $!data.OPERATE_NET.OPERATE_NET1 #else 0 #end</td>
					<td align="center" title="(上年)现金流入小计-(上年)现金流出小计"> #if($data.OPERATE_NET.OPERATE_NET2) $!data.OPERATE_NET.OPERATE_NET2 #else 0 #end</td>
					<td align="center" title="(本年)现金流入小计-(本年)现金流出小计"> #if($data.OPERATE_NET.OPERATE_NET3) $!data.OPERATE_NET.OPERATE_NET3 #else 0 #end</td>
				</tr>
				
				<tr>
                    <td align="center"><strong>二、投资活动产生的现金流量</strong></td>
					<td align="center"></td>
					<td align="center"></td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">收回投资所收到的现金</td>
					<td align="center"> #if($data.INVEST_CASH.INVEST_CASH1) $!data.INVEST_CASH.INVEST_CASH1 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_CASH.INVEST_CASH2) $!data.INVEST_CASH.INVEST_CASH2 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_CASH.INVEST_CASH3) $!data.INVEST_CASH.INVEST_CASH3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">取得投资收益所收到的现金</td>
					<td align="center"> #if($data.INVEST_INCOME.INVEST_INCOME1) $!data.INVEST_INCOME.INVEST_INCOME1 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_INCOME.INVEST_INCOME2) $!data.INVEST_INCOME.INVEST_INCOME2 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_INCOME.INVEST_INCOME3) $!data.INVEST_INCOME.INVEST_INCOME3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">处置固定资产无形资产其他资产收到的现金净额</td>
					<td align="center"> #if($data.ASSETS_CASH.ASSETS_CASH1) $!data.ASSETS_CASH.ASSETS_CASH1 #else 0 #end</td>
					<td align="center"> #if($data.ASSETS_CASH.ASSETS_CASH2) $!data.ASSETS_CASH.ASSETS_CASH2 #else 0 #end</td>
					<td align="center"> #if($data.ASSETS_CASH.ASSETS_CASH3) $!data.ASSETS_CASH.ASSETS_CASH3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">收到的其他与投资活动有关的现金</td>
					<td align="center"> #if($data.OTHER_INVEST.OTHER_INVEST1) $!data.OTHER_INVEST.OTHER_INVEST1 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_INVEST.OTHER_INVEST2) $!data.OTHER_INVEST.OTHER_INVEST2 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_INVEST.OTHER_INVEST3) $!data.OTHER_INVEST.OTHER_INVEST3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金流入小计</td>
					<td align="center" title="(前年)收回投资所收到的现金+(前年)取得投资收益所收到的现金+(前年)处置固定资产无形资产其他资产收到的现金净额+(前年)收到的其他与投资活动有关的现金"> #if($data.INVEST_INTO.INVEST_INTO1) $!data.INVEST_INTO.INVEST_INTO1 #else 0 #end</td>
					<td align="center" title="(上年)收回投资所收到的现金+(上年)取得投资收益所收到的现金+(上年)处置固定资产无形资产其他资产收到的现金净额+(上年)收到的其他与投资活动有关的现金"> #if($data.INVEST_INTO.INVEST_INTO2) $!data.INVEST_INTO.INVEST_INTO2 #else 0 #end</td>
					<td align="center" title="(本年)收回投资所收到的现金+(本年)取得投资收益所收到的现金+(本年)处置固定资产无形资产其他资产收到的现金净额+(本年)收到的其他与投资活动有关的现金"> #if($data.INVEST_INTO.INVEST_INTO3) $!data.INVEST_INTO.INVEST_INTO3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">购建固定资产无形资产其他资产支付的现金</td>
					<td align="center"> #if($data.ASSET_PAY.ASSET_PAY1) $!data.ASSET_PAY.ASSET_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.ASSET_PAY.ASSET_PAY2) $!data.ASSET_PAY.ASSET_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.ASSET_PAY.ASSET_PAY3) $!data.ASSET_PAY.ASSET_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">投资所支付的现金</td>
					<td align="center"> #if($data.INVEST_PAY.INVEST_PAY1) $!data.INVEST_PAY.INVEST_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_PAY.INVEST_PAY2) $!data.INVEST_PAY.INVEST_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_PAY.INVEST_PAY3) $!data.INVEST_PAY.INVEST_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">支付的其他与投资活动有关的现金</td>
					<td align="center"> #if($data.OTHER_INVEST_PAY.OTHER_INVEST_PAY1) $!data.OTHER_INVEST_PAY.OTHER_INVEST_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_INVEST_PAY.OTHER_INVEST_PAY2) $!data.OTHER_INVEST_PAY.OTHER_INVEST_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_INVEST_PAY.OTHER_INVEST_PAY3) $!data.OTHER_INVEST_PAY.OTHER_INVEST_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金流出小计</td>
					<td align="center" title="(前年)购建固定资产无形资产其他资产支付的现金+(前年)投资所支付的现金+(前年)支付的其他与投资活动有关的现金"> #if($data.INVEST_OUT.INVEST_OUT1) $!data.INVEST_OUT.INVEST_OUT1 #else 0 #end</td>
					<td align="center" title="(上年)购建固定资产无形资产其他资产支付的现金+(上年)投资所支付的现金+(上年)支付的其他与投资活动有关的现金"> #if($data.INVEST_OUT.INVEST_OUT2) $!data.INVEST_OUT.INVEST_OUT2 #else 0 #end</td>
					<td align="center" title="(本年)购建固定资产无形资产其他资产支付的现金+(本年)投资所支付的现金+(本年)支付的其他与投资活动有关的现金"> #if($data.INVEST_OUT.INVEST_OUT3) $!data.INVEST_OUT.INVEST_OUT3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">投资活动产生的现金流量净额</td>
					<td align="center" title="(前年)现金流入小计-(前年)现金流出小计"> #if($data.INVEST_NET.INVEST_NET1) $!data.INVEST_NET.INVEST_NET1 #else 0 #end</td>
					<td align="center" title="(上年)现金流入小计-(上年)现金流出小计"> #if($data.INVEST_NET.INVEST_NET2) $!data.INVEST_NET.INVEST_NET2 #else 0 #end</td>
					<td align="center" title="(本年)现金流入小计-(本年)现金流出小计"> #if($data.INVEST_NET.INVEST_NET3) $!data.INVEST_NET.INVEST_NET3 #else 0 #end</td>
				</tr>
				
				<tr>
                    <td align="center"><strong>三、筹资活动产生的现金流量</strong></td>
                    <td align="center"></td>
					<td align="center"></td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">吸收投资收到的现金</td>
					<td align="center"> #if($data.ABSORB_INVEST.ABSORB_INVEST1) $!data.ABSORB_INVEST.ABSORB_INVEST1 #else 0 #end</td>
					<td align="center"> #if($data.ABSORB_INVEST.ABSORB_INVEST2) $!data.ABSORB_INVEST.ABSORB_INVEST2 #else 0 #end</td>
					<td align="center"> #if($data.ABSORB_INVEST.ABSORB_INVEST3) $!data.ABSORB_INVEST.ABSORB_INVEST3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">借款所收到的现金</td>
					<td align="center"> #if($data.LOAN.LOAN1) $!data.LOAN.LOAN1 #else 0 #end</td>
					<td align="center"> #if($data.LOAN.LOAN2) $!data.LOAN.LOAN2 #else 0 #end</td>
					<td align="center"> #if($data.LOAN.LOAN3) $!data.LOAN.LOAN3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">收到的其他与筹资活动有关的现金</td>
					<td align="center"> #if($data.OTHER_PREPARE_IN.OTHER_PREPARE_IN1) $!data.OTHER_PREPARE_IN.OTHER_PREPARE_IN1 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_PREPARE_IN.OTHER_PREPARE_IN2) $!data.OTHER_PREPARE_IN.OTHER_PREPARE_IN2 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_PREPARE_IN.OTHER_PREPARE_IN3) $!data.OTHER_PREPARE_IN.OTHER_PREPARE_IN3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金流入小计</td>
					<td align="center" title="(前年)吸收投资收到的现金+(前年)借款所收到的现金+(前年)收到的其他与筹资活动有关的现金"> #if($data.PREPARE_INCOM_TOTAL.PREPARE_INCOM_TOTAL1) $!data.PREPARE_INCOM_TOTAL.PREPARE_INCOM_TOTAL1 #else 0 #end</td>
					<td align="center" title="(上年)吸收投资收到的现金+(上年)借款所收到的现金+(上年)收到的其他与筹资活动有关的现金"> #if($data.PREPARE_INCOM_TOTAL.PREPARE_INCOM_TOTAL2) $!data.PREPARE_INCOM_TOTAL.PREPARE_INCOM_TOTAL2 #else 0 #end</td>
					<td align="center" title="(本年)吸收投资收到的现金+(本年)借款所收到的现金+(本年)收到的其他与筹资活动有关的现金"> #if($data.PREPARE_INCOM_TOTAL.PREPARE_INCOM_TOTAL3) $!data.PREPARE_INCOM_TOTAL.PREPARE_INCOM_TOTAL3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">偿还债务所支付的现金</td>
					<td align="center"> #if($data.DEBT_PAY.DEBT_PAY1) $!data.DEBT_PAY.DEBT_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.DEBT_PAY.DEBT_PAY2) $!data.DEBT_PAY.DEBT_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.DEBT_PAY.DEBT_PAY3) $!data.DEBT_PAY.DEBT_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">分配股利利润或偿付利息支付的现金</td>
					<td align="center"> #if($data.INTEREST_PAY.INTEREST_PAY1) $!data.INTEREST_PAY.INTEREST_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.INTEREST_PAY.INTEREST_PAY2) $!data.INTEREST_PAY.INTEREST_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.INTEREST_PAY.INTEREST_PAY3) $!data.INTEREST_PAY.INTEREST_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">支付的其他与筹资活动有关的现金</td>
					<td align="center"> #if($data.OTHER_PREPARE_PAY.OTHER_PREPARE_PAY1) $!data.OTHER_PREPARE_PAY.OTHER_PREPARE_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_PREPARE_PAY.OTHER_PREPARE_PAY2) $!data.OTHER_PREPARE_PAY.OTHER_PREPARE_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.OTHER_PREPARE_PAY.OTHER_PREPARE_PAY3) $!data.OTHER_PREPARE_PAY.OTHER_PREPARE_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金流出小计</td>
					<td align="center" title="(前年)偿还债务所支付的现金+(前年)分配股利利润或偿付利息支付的现金+(前年)支付的其他与筹资活动有关的现金"> #if($data.PREPARE_OUT_TOTAL.PREPARE_OUT_TOTAL1) $!data.PREPARE_OUT_TOTAL.PREPARE_OUT_TOTAL1 #else 0 #end</td>
					<td align="center" title="(上年)偿还债务所支付的现金+(上年)分配股利利润或偿付利息支付的现金+(上年)支付的其他与筹资活动有关的现金"> #if($data.PREPARE_OUT_TOTAL.PREPARE_OUT_TOTAL2) $!data.PREPARE_OUT_TOTAL.PREPARE_OUT_TOTAL2 #else 0 #end</td>
					<td align="center" title="(本年)偿还债务所支付的现金+(本年)分配股利利润或偿付利息支付的现金+(本年)支付的其他与筹资活动有关的现金"> #if($data.PREPARE_OUT_TOTAL.PREPARE_OUT_TOTAL3) $!data.PREPARE_OUT_TOTAL.PREPARE_OUT_TOTAL3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">筹资活动产生的现金流量净额</td>
					<td align="center" title="(前年)现金流入小计-(前年)现金流出小计"> #if($data.PREPARE_NET.PREPARE_NET1) $!data.PREPARE_NET.PREPARE_NET1 #else 0 #end</td>
					<td align="center" title="(上年)现金流入小计-(上年)现金流出小计"> #if($data.PREPARE_NET.PREPARE_NET2) $!data.PREPARE_NET.PREPARE_NET2 #else 0 #end</td>
					<td align="center" title="(本年)现金流入小计-(本年)现金流出小计"> #if($data.PREPARE_NET.PREPARE_NET3) $!data.PREPARE_NET.PREPARE_NET3 #else 0 #end</td>
				</tr>
				
				<tr>
                    <td align="center"><strong>四，汇率变动对现金的影响</strong></td>
					<td align="center"> #if($data.CHANGE_RATE.CHANGE_RATE1) $!data.CHANGE_RATE.CHANGE_RATE1 #else 0 #end</td>
					<td align="center"> #if($data.CHANGE_RATE.CHANGE_RATE2) $!data.CHANGE_RATE.CHANGE_RATE2 #else 0 #end</td>
					<td align="center"> #if($data.CHANGE_RATE.CHANGE_RATE3) $!data.CHANGE_RATE.CHANGE_RATE3 #else 0 #end</td>
				</tr>
				
				<tr>
                    <td align="center"><strong>五，现金及现金等价物增加净额(B)</strong></td>
					<td align="center" title="(前年)经营活动产生的现金流量净额(A)+(前年)投资活动产生的现金流量净额+(前年)筹资活动产生的现金流量净额+(前年)汇率变动对现金的影响"> #if($data.CASH_NET.CASH_NET1) $!data.CASH_NET.CASH_NET1 #else 0 #end</td>
					<td align="center" title="(上年)经营活动产生的现金流量净额(A)+(上年)投资活动产生的现金流量净额+(上年)筹资活动产生的现金流量净额+(上年)汇率变动对现金的影响"> #if($data.CASH_NET.CASH_NET2) $!data.CASH_NET.CASH_NET2 #else 0 #end</td>
					<td align="center" title="(本年)经营活动产生的现金流量净额(A)+(本年)投资活动产生的现金流量净额+(本年)筹资活动产生的现金流量净额+(本年)汇率变动对现金的影响"> #if($data.CASH_NET.CASH_NET3) $!data.CASH_NET.CASH_NET3 #else 0 #end</td>
				</tr>
				
				
				
				<tr>
					<td  bgcolor="#fbfcfc" style="border-left:0"><strong>补充资料:</strong></td>
					<td  bgcolor="#fbfcfc" style="border-left:0"></td>
					<td  bgcolor="#fbfcfc" style="border-left:0"></td>
					<td  bgcolor="#fbfcfc" style="border-left:0"></td>
				</tr>
				
				
				<tr>
					<td align="center">1、将净利润调节为经营活动现金流量:</td>
					<td align="center"></td>
					<td align="center"></td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">净利润(C)</td>
					<td align="center"> #if($data.NET.NET1) $!data.NET.NET1 #else 0 #end</td>
					<td align="center"> #if($data.NET.NET2) $!data.NET.NET2 #else 0 #end</td>
					<td align="center"> #if($data.NET.NET3) $!data.NET.NET3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">加：计提的资产减值准备</td>
					<td align="center"> #if($data.ASSET_REDUCE.ASSET_REDUCE1) $!data.ASSET_REDUCE.ASSET_REDUCE1 #else 0 #end</td>
					<td align="center"> #if($data.ASSET_REDUCE.ASSET_REDUCE2) $!data.ASSET_REDUCE.ASSET_REDUCE2 #else 0 #end</td>
					<td align="center"> #if($data.ASSET_REDUCE.ASSET_REDUCE3) $!data.ASSET_REDUCE.ASSET_REDUCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">固定资产折旧</td>
					<td align="center"> #if($data.FIXED_DEP.FIXED_DEP1) $!data.FIXED_DEP.FIXED_DEP1 #else 0 #end</td>
					<td align="center"> #if($data.FIXED_DEP.FIXED_DEP2) $!data.FIXED_DEP.FIXED_DEP2 #else 0 #end</td>
					<td align="center"> #if($data.FIXED_DEP.FIXED_DEP3) $!data.FIXED_DEP.FIXED_DEP3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">无形资产摊销</td>
					<td align="center"> #if($data.INVISIBLE_DEP.INVISIBLE_DEP1) $!data.INVISIBLE_DEP.INVISIBLE_DEP1 #else 0 #end</td>
					<td align="center"> #if($data.INVISIBLE_DEP.INVISIBLE_DEP2) $!data.INVISIBLE_DEP.INVISIBLE_DEP2 #else 0 #end</td>
					<td align="center"> #if($data.INVISIBLE_DEP.INVISIBLE_DEP3) $!data.INVISIBLE_DEP.INVISIBLE_DEP3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">长期待摊费用摊销</td>
					<td align="center"> #if($data.PREPAID_FEE.PREPAID_FEE1) $!data.PREPAID_FEE.PREPAID_FEE1 #else 0 #end</td>
					<td align="center"> #if($data.PREPAID_FEE.PREPAID_FEE2) $!data.PREPAID_FEE.PREPAID_FEE2 #else 0 #end</td>
					<td align="center"> #if($data.PREPAID_FEE.PREPAID_FEE3) $!data.PREPAID_FEE.PREPAID_FEE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">待摊费用减少(减:增加)</td>
					<td align="center"> #if($data.PREPAID_REDUCE.PREPAID_REDUCE1) $!data.PREPAID_REDUCE.PREPAID_REDUCE1 #else 0 #end</td>
					<td align="center"> #if($data.PREPAID_REDUCE.PREPAID_REDUCE2) $!data.PREPAID_REDUCE.PREPAID_REDUCE2 #else 0 #end</td>
					<td align="center"> #if($data.PREPAID_REDUCE.PREPAID_REDUCE3) $!data.PREPAID_REDUCE.PREPAID_REDUCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">预提费用增加(减:减少)</td>
					<td align="center"> #if($data.HOLD_ADD.HOLD_ADD1) $!data.HOLD_ADD.HOLD_ADD1 #else 0 #end</td>
					<td align="center"> #if($data.HOLD_ADD.HOLD_ADD2) $!data.HOLD_ADD.HOLD_ADD2 #else 0 #end</td>
					<td align="center"> #if($data.HOLD_ADD.HOLD_ADD3) $!data.HOLD_ADD.HOLD_ADD3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">处理固定资产无形资产其他资产的损失(减:收益)</td>
					<td align="center"> #if($data.ASSET_LOSS.ASSET_LOSS1) $!data.ASSET_LOSS.ASSET_LOSS1 #else 0 #end</td>
					<td align="center"> #if($data.ASSET_LOSS.ASSET_LOSS2) $!data.ASSET_LOSS.ASSET_LOSS2 #else 0 #end</td>
					<td align="center"> #if($data.ASSET_LOSS.ASSET_LOSS3) $!data.ASSET_LOSS.ASSET_LOSS3 #else 0 #end</td>
				</tr>
				
				<input value="0" id="E14" type="hidden">
				<input value="0" id="F14" type="hidden">
				<input value="0" id="I14" type="hidden">
				
				<tr>
					<td align="center">固定资产报废损失</td>
					<td align="center"> #if($data.FIXED_LOSS.FIXED_LOSS1) $!data.FIXED_LOSS.FIXED_LOSS1 #else 0 #end</td>
					<td align="center"> #if($data.FIXED_LOSS.FIXED_LOSS2) $!data.FIXED_LOSS.FIXED_LOSS2 #else 0 #end</td>
					<td align="center"> #if($data.FIXED_LOSS.FIXED_LOSS3) $!data.FIXED_LOSS.FIXED_LOSS3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">财务费用</td>
					<td align="center"> #if($data.FINANCE_FEE.FINANCE_FEE1) $!data.FINANCE_FEE.FINANCE_FEE1 #else 0 #end</td>
					<td align="center"> #if($data.FINANCE_FEE.FINANCE_FEE2) $!data.FINANCE_FEE.FINANCE_FEE2 #else 0 #end</td>
					<td align="center"> #if($data.FINANCE_FEE.FINANCE_FEE3) $!data.FINANCE_FEE.FINANCE_FEE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">投资损失(减:收益)</td>
					<td align="center"> #if($data.INVEST_LOSS.INVEST_LOSS1) $!data.INVEST_LOSS.INVEST_LOSS1 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_LOSS.INVEST_LOSS2) $!data.INVEST_LOSS.INVEST_LOSS2 #else 0 #end</td>
					<td align="center"> #if($data.INVEST_LOSS.INVEST_LOSS3) $!data.INVEST_LOSS.INVEST_LOSS3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">递延税款贷项(减:借项)</td>
					<td align="center"> #if($data.DEFERR.DEFERR1) $!data.DEFERR.DEFERR1 #else 0 #end</td>
					<td align="center"> #if($data.DEFERR.DEFERR2) $!data.DEFERR.DEFERR2 #else 0 #end</td>
					<td align="center"> #if($data.DEFERR.DEFERR3) $!data.DEFERR.DEFERR3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">存货的减少(减:增加)</td>
					<td align="center"> #if($data.STOCK_REDUCE.STOCK_REDUCE1) $!data.STOCK_REDUCE.STOCK_REDUCE1 #else 0 #end</td>
					<td align="center"> #if($data.STOCK_REDUCE.STOCK_REDUCE2) $!data.STOCK_REDUCE.STOCK_REDUCE2 #else 0 #end</td>
					<td align="center"> #if($data.STOCK_REDUCE.STOCK_REDUCE3) $!data.STOCK_REDUCE.STOCK_REDUCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">经营性应收项目的减少(减:增加)</td>
					<td align="center"> #if($data.OPERATE_INCOME.OPERATE_INCOME1) $!data.OPERATE_INCOME.OPERATE_INCOME1 #else 0 #end</td>
					<td align="center"> #if($data.OPERATE_INCOME.OPERATE_INCOME2) $!data.OPERATE_INCOME.OPERATE_INCOME2 #else 0 #end</td>
					<td align="center"> #if($data.OPERATE_INCOME.OPERATE_INCOME3) $!data.OPERATE_INCOME.OPERATE_INCOME3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">经营性应付项目的增加(减:减少)</td>
					<td align="center"> #if($data.OPERATE_PAY.OPERATE_PAY1) $!data.OPERATE_PAY.OPERATE_PAY1 #else 0 #end</td>
					<td align="center"> #if($data.OPERATE_PAY.OPERATE_PAY2) $!data.OPERATE_PAY.OPERATE_PAY2 #else 0 #end</td>
					<td align="center"> #if($data.OPERATE_PAY.OPERATE_PAY3) $!data.OPERATE_PAY.OPERATE_PAY3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">其他</td>
					<td align="center"> #if($data.OTHE.OTHE1) $!data.OTHE.OTHE1 #else 0 #end</td>
					<td align="center"> #if($data.OTHE.OTHE2) $!data.OTHE.OTHE2 #else 0 #end</td>
					<td align="center"> #if($data.OTHE.OTHE3) $!data.OTHE.OTHE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">经营活动产生的现金流量净额(D)</td>
					<td align="center" title="(前年)净利润(C)+(前年)计提的资产减值准备+(前年)固定资产折旧+(前年)无形资产摊销+(前年)长期待摊费用摊销+(前年)待摊费用减少+(前年)预提费用增加+(前年)处理固定资产无形资产其他资产的损失+(前年)固定资产报废损失+(前年)财务费用+(前年)投资损失+(前年)递延税款贷项+(前年)存货的减少+(前年)经营性应收项目的减少+(前年)经营性应付项目的增加+(前年)其他"> #if($data.OPERATE_NET_D.OPERATE_NET_D1) $!data.OPERATE_NET_D.OPERATE_NET_D1 #else 0 #end</td>
					<td align="center" title="(上年)净利润(C)+(上年)计提的资产减值准备+(上年)固定资产折旧+(上年)无形资产摊销+(上年)长期待摊费用摊销+(上年)待摊费用减少+(上年)预提费用增加+(上年)处理固定资产无形资产其他资产的损失+(上年)固定资产报废损失+(上年)财务费用+(上年)投资损失+(上年)递延税款贷项+(上年)存货的减少+(上年)经营性应收项目的减少+(上年)经营性应付项目的增加+(上年)其他"> #if($data.OPERATE_NET_D.OPERATE_NET_D2) $!data.OPERATE_NET_D.OPERATE_NET_D2 #else 0 #end</td>
					<td align="center" title="(本年)净利润(C)+(本年)计提的资产减值准备+(本年)固定资产折旧+(本年)无形资产摊销+(本年)长期待摊费用摊销+(本年)待摊费用减少+(本年)预提费用增加+(本年)处理固定资产无形资产其他资产的损失+(本年)固定资产报废损失+(本年)财务费用+(本年)投资损失+(本年)递延税款贷项+(本年)存货的减少+(本年)经营性应收项目的减少+(本年)经营性应付项目的增加+(本年)其他"> #if($data.OPERATE_NET_D.OPERATE_NET_D3) $!data.OPERATE_NET_D.OPERATE_NET_D3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">2、不涉及现金收支的投资及筹资活动</td>
					<td align="center"></td>
					<td align="center"></td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">债务转为资本</td>
					<td align="center"> #if($data.DEBT_TO_CAPITAL.DEBT_TO_CAPITAL1) $!data.DEBT_TO_CAPITAL.DEBT_TO_CAPITAL1 #else 0 #end</td>
					<td align="center"> #if($data.DEBT_TO_CAPITAL.DEBT_TO_CAPITAL2) $!data.DEBT_TO_CAPITAL.DEBT_TO_CAPITAL2 #else 0 #end</td>
					<td align="center"> #if($data.DEBT_TO_CAPITAL.DEBT_TO_CAPITAL3) $!data.DEBT_TO_CAPITAL.DEBT_TO_CAPITAL3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">一年内到期的可转换公司债券</td>
					<td align="center"> #if($data.YEAR_BOND.YEAR_BOND1) $!data.YEAR_BOND.YEAR_BOND1 #else 0 #end</td>
					<td align="center"> #if($data.YEAR_BOND.YEAR_BOND2) $!data.YEAR_BOND.YEAR_BOND2 #else 0 #end</td>
					<td align="center"> #if($data.YEAR_BOND.YEAR_BOND3) $!data.YEAR_BOND.YEAR_BOND3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">融资租入固定资产</td>
					<td align="center"> #if($data.FINANCE.FINANCE1) $!data.FINANCE.FINANCE1 #else 0 #end</td>
					<td align="center"> #if($data.FINANCE.FINANCE2) $!data.FINANCE.FINANCE2 #else 0 #end</td>
					<td align="center"> #if($data.FINANCE.FINANCE3) $!data.FINANCE.FINANCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">3、现金及现金等价物净增加情况</td>
                    <td align="center">#if($data.CASH_VALUE.CASH_VALUE1) $!data.CASH_VALUE.CASH_VALUE1 #else 0 #end</td>
					<td align="center">#if($data.CASH_VALUE.CASH_VALUE2) $!data.CASH_VALUE.CASH_VALUE2 #else 0 #end</td>
					<td align="center">#if($data.CASH_VALUE.CASH_VALUE3) $!data.CASH_VALUE.CASH_VALUE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金的期末余额(E)</td>
					<td align="center"> #if($data.END_BALANCE.END_BALANCE1) $!data.END_BALANCE.END_BALANCE1 #else 0 #end</td>
					<td align="center"> #if($data.END_BALANCE.END_BALANCE2) $!data.END_BALANCE.END_BALANCE2 #else 0 #end</td>
					<td align="center"> #if($data.END_BALANCE.END_BALANCE3) $!data.END_BALANCE.END_BALANCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">减:现金的期初余额(F)</td>
					<td align="center"> #if($data.BEGIN_BALANCE.BEGIN_BALANCE1) $!data.BEGIN_BALANCE.BEGIN_BALANCE1 #else 0 #end</td>
					<td align="center"> #if($data.BEGIN_BALANCE.BEGIN_BALANCE2) $!data.BEGIN_BALANCE.BEGIN_BALANCE2 #else 0 #end</td>
					<td align="center"> #if($data.BEGIN_BALANCE.BEGIN_BALANCE3) $!data.BEGIN_BALANCE.BEGIN_BALANCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">加:现金等价物的期末余额</td>
					<td align="center"> #if($data.THING_END_BALANCE.THING_END_BALANCE1) $!data.THING_END_BALANCE.THING_END_BALANCE1 #else 0 #end</td>
					<td align="center"> #if($data.THING_END_BALANCE.THING_END_BALANCE2) $!data.THING_END_BALANCE.THING_END_BALANCE2 #else 0 #end</td>
					<td align="center"> #if($data.THING_END_BALANCE.THING_END_BALANCE3) $!data.THING_END_BALANCE.THING_END_BALANCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">减:现金等价物的期初余额</td>
					<td align="center"> #if($data.THING_BEGIN_BALANCE.THING_BEGIN_BALANCE1) $!data.THING_BEGIN_BALANCE.THING_BEGIN_BALANCE1 #else 0 #end</td>
					<td align="center"> #if($data.THING_BEGIN_BALANCE.THING_BEGIN_BALANCE2) $!data.THING_BEGIN_BALANCE.THING_BEGIN_BALANCE2 #else 0 #end</td>
					<td align="center"> #if($data.THING_BEGIN_BALANCE.THING_BEGIN_BALANCE3) $!data.THING_BEGIN_BALANCE.THING_BEGIN_BALANCE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">现金及现金等价物净增加额(G)</td>
					<td align="center" title="(前年)现金的期末余额(E)-(前年)现金的期初余额(F)+(前年)现金等价物的期末余额-(前年)现金等价物的期初余额"> #if($data.CASH_INCREASE.CASH_INCREASE1) $!data.CASH_INCREASE.CASH_INCREASE1 #else 0 #end</td>
					<td align="center" title="(上年)现金的期末余额(E)-(上年)现金的期初余额(F)+(上年)现金等价物的期末余额-(上年)现金等价物的期初余额"> #if($data.CASH_INCREASE.CASH_INCREASE2) $!data.CASH_INCREASE.CASH_INCREASE2 #else 0 #end</td>
					<td align="center" title="(本年)现金的期末余额(E)-(本年)现金的期初余额(F)+(本年)现金等价物的期末余额-(本年)现金等价物的期初余额"> #if($data.CASH_INCREASE.CASH_INCREASE3) $!data.CASH_INCREASE.CASH_INCREASE3 #else 0 #end</td>
				</tr>
				
				<tr>
					<td align="center">1、前年A和D比较:</td>
					<td align="center" title="(前年)经营活动产生的现金流量净额(D)-(前年)经营活动产生的现金流量净额(A)"> #if($data.A_COMPARE_D.A_COMPARE_D1) $!data.A_COMPARE_D.A_COMPARE_D1 #else 0 #end</td>
					<td align="center" title="IF((前年)A和D比较=0,正确,不正确)"> #if($data.A_COMPARE_D.A_COMPARE_D1 && $data.A_COMPARE_D.A_COMPARE_D1!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">2、上年A和D比较:</td>
					<td align="center" title="(上年)经营活动产生的现金流量净额(D)-(上年)经营活动产生的现金流量净额(A)"> #if($data.A_COMPARE_D.A_COMPARE_D2) $!data.A_COMPARE_D.A_COMPARE_D2 #else 0 #end</td>
					<td align="center" title="IF((上年)A和D比较=0,正确,不正确)"> #if($data.A_COMPARE_D.A_COMPARE_D2 && $data.A_COMPARE_D.A_COMPARE_D2!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">3、本年A和D比较:</td>
					<td align="center" title="(本年)经营活动产生的现金流量净额(D)-(本年)经营活动产生的现金流量净额(A)"> #if($data.A_COMPARE_D.A_COMPARE_D3) $!data.A_COMPARE_D.A_COMPARE_D3 #else 0 #end</td>
					<td align="center" title="IF((本年)A和D比较=0,正确,不正确)"> #if($data.A_COMPARE_D.A_COMPARE_D3 && $data.A_COMPARE_D.A_COMPARE_D3!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">4、前年B和G比较:</td>
					<td align="center" title="(前年)现金及现金等价物净增加额(G)-(前年)现金及现金等价物增加净额(B)"> #if($data.B_COMPARE_G.B_COMPARE_G1) $!data.B_COMPARE_G.B_COMPARE_G1 #else 0 #end</td>
					<td align="center" title="IF((前年)B和G比较=0,正确,不正确)"> #if($data.B_COMPARE_G.B_COMPARE_G1 && $data.B_COMPARE_G.B_COMPARE_G1!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">5、上年B和G比较:</td>
					<td align="center" title="(上年)现金及现金等价物净增加额(G)-(上年)现金及现金等价物增加净额(B)"> #if($data.B_COMPARE_G.B_COMPARE_G2) $!data.B_COMPARE_G.B_COMPARE_G2 #else 0 #end</td>
					<td align="center" title="IF((上年)B和G比较=0,正确,不正确)"> #if($data.B_COMPARE_G.B_COMPARE_G2 && $data.B_COMPARE_G.B_COMPARE_G2!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">6、本年B和G比较:</td>
					<td align="center" title="(本年)现金及现金等价物净增加额(G)-(本年)现金及现金等价物增加净额(B)"> #if($data.B_COMPARE_G.B_COMPARE_G3) $!data.B_COMPARE_G.B_COMPARE_G3 #else 0 #end</td>
					<td align="center" title="IF((本年)B和G比较=0,正确,不正确)"> #if($data.B_COMPARE_G.B_COMPARE_G3 && $data.B_COMPARE_G.B_COMPARE_G3!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">7、前年C和利润表净利润比较:</td>
					<td align="center" title="(前年)净利润(C)-利润及利润分配表!(前年)净利润"> #if($data.C_COMPARE_PROFIT.C_COMPARE_PROFIT1) $!data.C_COMPARE_PROFIT.C_COMPARE_PROFIT1 #else 0 #end</td>
					<td align="center" title="IF((前年)C和利润表净利润比较=0,正确,不正确)"> #if($data.C_COMPARE_PROFIT.C_COMPARE_PROFIT1 && $data.C_COMPARE_PROFIT.C_COMPARE_PROFIT1!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">8、上年C和利润表净利润比较:</td>
					<td align="center" title="(上年)净利润(C)-利润及利润分配表!(上年)净利润"> #if($data.C_COMPARE_PROFIT.C_COMPARE_PROFIT2) $!data.C_COMPARE_PROFIT.C_COMPARE_PROFIT2 #else 0 #end</td>
					<td align="center" title="IF((上年)C和利润表净利润比较=0,正确,不正确)"> #if($data.C_COMPARE_PROFIT.C_COMPARE_PROFIT2 && $data.C_COMPARE_PROFIT.C_COMPARE_PROFIT2!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">9、本年C和利润表净利润比较:</td>
					<td align="center" title="(本年)净利润(C)-利润及利润分配表!(本年)净利润"> #if($data.C_COMPARE_PROFIT.C_COMPARE_PROFIT3) $!data.C_COMPARE_PROFIT.C_COMPARE_PROFIT3 #else 0 #end</td>
					<td align="center" title="IF((本年)C和利润表净利润比较=0,正确,不正确)"> #if($data.C_COMPARE_PROFIT.C_COMPARE_PROFIT3 && $data.C_COMPARE_PROFIT.C_COMPARE_PROFIT3!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">10、前年E和资产负债表货币资金期初数比较:</td>
					<td align="center" title="(前年)现金的期末余额(E)-资产负债表!(前年)货币资金"> #if($data.E_COMPARE_BEGIN.E_COMPARE_BEGIN1) $!data.E_COMPARE_BEGIN.E_COMPARE_BEGIN1 #else 0 #end</td>
					<td align="center" title="IF((前年)E和资产负债表货币资金期初数比较=0,正确,不正确)"> #if($data.E_COMPARE_BEGIN.E_COMPARE_BEGIN1 && $data.E_COMPARE_BEGIN.E_COMPARE_BEGIN1!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">11、上年E和资产负债表货币资金期初数比较:</td>
					<td align="center" title="(上年)现金的期末余额(E)-资产负债表!(上年)货币资金"> #if($data.E_COMPARE_BEGIN.E_COMPARE_BEGIN2) $!data.E_COMPARE_BEGIN.E_COMPARE_BEGIN2 #else 0 #end</td>
					<td align="center" title="IF((上年)E和资产负债表货币资金期初数比较=0,正确,不正确)"> #if($data.E_COMPARE_BEGIN.E_COMPARE_BEGIN2 && $data.E_COMPARE_BEGIN.E_COMPARE_BEGIN2!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">12、本年E和资产负债表货币资金期初数比较:</td>
					<td align="center" title="(本年)现金的期末余额(E)-资产负债表!(本年)货币资金"> #if($data.E_COMPARE_BEGIN.E_COMPARE_BEGIN3) $!data.E_COMPARE_BEGIN.E_COMPARE_BEGIN3 #else 0 #end</td>
					<td align="center" title="IF((本年)E和资产负债表货币资金期初数比较=0,正确,不正确)"> #if($data.E_COMPARE_BEGIN.E_COMPARE_BEGIN3 && $data.E_COMPARE_BEGIN.E_COMPARE_BEGIN3!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">13、本年F和资产负债表货币资金期初数比较:</td>
					<td align="center" title="(本年)现金的期初余额(F)-资产负债表!(上年)货币资金"> #if($data.F_COMPARE_BEGIN.F_COMPARE_BEGIN2) $!data.F_COMPARE_BEGIN.F_COMPARE_BEGIN2 #else 0 #end</td>
					<td align="center" title="IF((本年)F和资产负债表货币资金期初数比较=0,正确,不正确)"> #if($data.F_COMPARE_BEGIN.F_COMPARE_BEGIN2 && $data.F_COMPARE_BEGIN.F_COMPARE_BEGIN2!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">14、本年B和资产负债表货币资金差额比较:</td>
					<td align="center" title="(本年)现金及现金等价物增加净额(B)-(资产负债表!(本年)货币资金-资产负债表!(上年)货币资金)"> #if($data.B_COMPARE_DEFFERENCE.B_COMPARE_DEFFERENCE) $!data.B_COMPARE_DEFFERENCE.B_COMPARE_DEFFERENCE #else 0 #end</td>
					<td align="center" title="IF((本年)B和资产负债表货币资金差额比较=0,正确,不正确)"> #if($data.B_COMPARE_DEFFERENCE.B_COMPARE_DEFFERENCE && $data.B_COMPARE_DEFFERENCE.B_COMPARE_DEFFERENCE!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				<tr>
					<td align="center">15、前年先进及先进等久增加净额差额比较:</td>
					<td align="center" title="(前年)现金及现金等价物增加净额(B)-(前年)现金及现金等价物净增加情况"><input type="text" name="CASH_HOUJIA_VAVLE1" id="B52" readonly="readonly" style="background-color:#CCC"  #if($data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE1) value="$!data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE1"  #else value="0" #end/></td>
					<td align="center" title="IF((前年)先进及先进等久增加净额差额比较=0,正确,不正确)">#if($data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE1 && $data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE1!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">16、上年先进及先进等久增加净额差额比较:</td>
					<td align="center" title="(上年)现金及现金等价物增加净额(B)-(上年)现金及现金等价物净增加情况"><input type="text" name="CASH_HOUJIA_VAVLE2" id="B53" readonly="readonly" style="background-color:#CCC"  #if($data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE2) value="$!data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE2"  #else value="0" #end/></td>
					<td align="center" title="IF((上年)先进及先进等久增加净额差额比较=0,正确,不正确)"> #if($data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE2 && $data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE2!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
				
				<tr>
					<td align="center">17、本年先进及先进等久增加净额差额比较:</td>
					<td align="center" title="(本年)现金及现金等价物增加净额(B)-(本年)现金及现金等价物净增加情况"><input type="text" name="CASH_HOUJIA_VAVLE3" id="B54" readonly="readonly" style="background-color:#CCC"  #if($data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE3) value="$!data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE3"  #else value="0" #end/></td>
					<td align="center" title="IF((本年)先进及先进等久增加净额差额比较=0,正确,不正确)"> #if($data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE3 && $data.CASH_HOUJIA_VAVLE.CASH_HOUJIA_VAVLE3!='0') 不正确 #else 正确 #end</td>
					<td align="center"></td>
				</tr>
			 </table>
				
			 <table  class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-center:0;width:100%;text-align:center">
				<tr>
					<td><strong>统计</strong></td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）计提的资产减值准备-资产负债表!（上年数）合计=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）计提的资产减值准备-资产负债表!上年数合计,"0.00")))'> #if($data.UNKNOWN_ONE) $!data.UNKNOWN_ONE #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）固定资产折旧-(资产负债表!（本年数）减:累计折旧-资产负债表!（上年数）减:累计折旧)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）固定资产折旧-(资产负债表!（本年数）减:累计折旧-资产负债表!（上年数）减:累计折旧),"0.00")))'> #if($data.UNKNOWN_TWO) $!data.UNKNOWN_TWO  #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）待摊费用减少(减:增加)-(资产负债表!（上年数）待摊费用-资产负债表!（本年数）待摊费用)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）待摊费用减少(减:增加)-(资产负债表!（上年数）待摊费用-资产负债表!（本年数）待摊费用),"0.00")))'> #if($data.UNKNOWN_THREE) $!data.UNKNOWN_THREE #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）预提费用增加(减:减少)-(资产负债表!（本年数）预提费用-资产负债表!（上年数）预提费用)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）预提费用增加(减:减少)-(资产负债表!（本年数）预提费用-资产负债表!（上年数）预提费用),"0.00")))'> #if($data.UNKNOWN_FOUR) $!data.UNKNOWN_FOUR #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）财务费用-利润及利润分配表!（本年数）财务费用=0,"与利润表数值相符",CONCATENATE("差额",TEXT(（本年数）财务费用-利润及利润分配表!（本年数）财务费用,"0.00")))'> #if($data.UNKNOWN_FIVE) $!data.UNKNOWN_FIVE #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）投资损失(减:收益)+利润及利润分配表!（本年数）加:投资收益=0,"与利润表数值相符",CONCATENATE("差额",TEXT(（本年数）投资损失(减:收益)+利润及利润分配表!（本年数）加:投资收益,"0.00")))'> #if($data.UNKNOWN_SIX) $!data.UNKNOWN_SIX  #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）递延税款贷项(减:借项)-(资产负债表!（本年数）递延税款贷项-资产负债表!（本年数）递延税款借项)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）递延税款贷项(减:借项)-(资产负债表!（本年数）递延税款贷项-资产负债表!（本年数）递延税款借项),"0.00")))'> #if($data.UNKNOWN_SEVEN) $!data.UNKNOWN_SEVEN #end</td>
				</tr>
				<tr>
					<td align="center" title='IF(（本年数）存货的减少(减:增加)-(资产负债表!（上年数）存货-资产负债表!（本年数）存货)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）存货的减少(减:增加)-(资产负债表!（上年数）存货-资产负债表!（本年数）存货),"0.00")))'> #if($data.UNKNOWN_EIGHT) $!data.UNKNOWN_EIGHT #end</td>
				</tr>
			 </table>
