@charset "utf-8";
/*滚动条样式*/
Body {
scrollbar-arrow-color: #457ABC; /*图6,三角箭头的颜色*/
scrollbar-face-color: #333; /*图5,立体滚动条的颜色*/
scrollbar-3dlight-color: #666; /*图1,立体滚动条亮边的颜色*/
scrollbar-highlight-color: #666; /*图2,滚动条空白部分的颜色*/
scrollbar-shadow-color: #999; /*图3,立体滚动条阴影的颜色*/
scrollbar-darkshadow-color: #666; /*图4,立体滚动条强阴影的颜色*/
scrollbar-track-color: #666; /*图7,立体滚动条背景颜色*/
scrollbar-base-color:#f8f8f8; /*滚动条的基本颜色*/
Cursor:url(mouse.cur); /*自定义个性鼠标*/
}
table {
    font-size: 12px;
}
* {
    font-family: "Microsoft Yahei" !important;
    font-size: 12px;
}
ul li {
    list-style: none outside none;
}
p {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #333333;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.panel {
    font-size: 12px;
    overflow: hidden;
    text-align: left;
}
.panel {
    overflow: hidden;
    text-align: left;
}
.panel-header, .panel-body {
    border-style: solid;
    border-width: 1px;
}
.panel-header {
    padding: 5px;
    position: relative;
}
.panel-title {
    background: url("../image/blank.gif") no-repeat scroll 0 0  ;
}
.panel-header-noborder {
    border-width: 0 0 1px;
}
.panel-body {
    border-top-width: 0;
    overflow: auto;
}
.panel-body-noheader {
    border-top-width: 0;
}
.panel-body-noborder {
    border-width: 0;
}
.panel-with-icon {
    padding-left: 18px;
}
.panel-icon, .panel-tool {
    height: 16px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
}
.panel-icon {
    left: 5px;
    width: 16px;
}
.panel-tool {
    right: 5px;
    width: auto;
}
.panel-tool a {
    display: inline-block;
    height: 16px;
    margin: 0 0 0 2px;
    opacity: 0.6;
    vertical-align: top;
    width: 16px;
}
.panel-tool a:hover {
    background-color: #457abc;
    border-radius: 3px;
    opacity: 1;
}
.panel-loading {
    padding: 11px 0 10px 30px;
}
.panel-noscroll {
    overflow: hidden;
}
.panel-fit, .panel-fit body {
    border: 0 none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.panel-loading {
    background: url("../image/loading.gif") no-repeat scroll 10px 10px  ;
}
.panel-tool-close {
    background: url("../image/panel_tools.png") no-repeat scroll -16px 0  ;
}
.panel-tool-min {
    background: url("../image/panel_tools.png") no-repeat scroll 0 0  ;
}
.panel-tool-max {
    background: url("../image/panel_tools.png") no-repeat scroll 0 -16px  ;
}
.panel-tool-restore {
    background: url("../image/panel_tools.png") no-repeat scroll -16px -16px  ;
}
.panel-tool-collapse {
    background: url("../image/panel_tools.png") no-repeat scroll -32px 0  ;
}
.panel-tool-expand {
    background: url("../image/panel_tools.png") no-repeat scroll -32px -16px  ;
}
.panel-header, .panel-body {
    border-color: #ccc;
}
.panel-header {
    background: none repeat scroll 0 0 #3A3A3A;
}
.panel-body {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
}
.panel-title {
    color: #457ABC;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
}
.accordion {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}
.accordion .accordion-header {
    border-width: 0 0 1px;
    cursor: pointer;
}
.accordion .accordion-body {
    border-width: 0 0 1px;
}
.accordion-noborder {
    border-width: 0;
}
.accordion-noborder .accordion-header {
    border-width: 0 0 1px;
}
.accordion-noborder .accordion-body {
    border-width: 0 0 1px;
}
.accordion-collapse {
    background: url("../image/accordion_arrows.png") no-repeat scroll 0 0  ;
}
.accordion-expand {
    background: url("../image/accordion_arrows.png") no-repeat scroll -16px 0  ;
}
.accordion {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #61A733;
}
.accordion .accordion-header {
    background: none repeat scroll 0 0 #E0ECFF;
    filter: none;
}
.accordion .accordion-header-selected {
    background: none repeat scroll 0 0 #fff;
}
.accordion .accordion-header-selected .panel-title {
    color: #333333;
}
.window {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 5px;
}
.window .window-header {
    background: none repeat scroll 0 0  ;
    padding: 0 0 6px;
}
.window .window-body {
    border-style: solid;
    border-width: 0 1px 1px;
}
.window .window-body-noheader {
    border-top-width: 1px;
}
.window .window-header .panel-icon, .window .window-header .panel-tool {
    margin-top: -11px;
    top: 50%;
}
.window .window-header .panel-icon {
    left: 1px;
}
.window .window-header .panel-tool {
    right: 1px;
}
.window .window-header .panel-with-icon {
    padding-left: 18px;
}
.window-proxy {
    overflow: hidden;
    position: absolute;
}
.window-proxy-mask {
    opacity: 0.05;
    position: absolute;
}
.window-mask {
    font-size: 1px;
    height: 100%;
    left: 0;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.window, .window-shadow {
    border-radius: 5px;
    position: absolute;
}
.window-shadow {
    background: none repeat scroll 0 0 #CCCCCC;
    box-shadow: 2px 2px 3px #CCCCCC;
}
.window, .window .window-body {
    border-color: #ccc;
}
.window {
    background: none repeat scroll 0 0 #f8f8f8;
}
.window-proxy {
    border: 1px dashed #61A733;
}
.window-proxy-mask, .window-mask {
    background: none repeat scroll 0 0 #CCCCCC;
}
.dialog-content {
    overflow: auto;
}
.dialog-toolbar {
    padding: 2px 5px;
}
.dialog-tool-separator {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 24px;
    margin: 2px 1px;
}
.dialog-button {
    padding: 5px;
    text-align: right;
}
.dialog-button .l-btn {
    margin-left: 5px;
}
.dialog-toolbar, .dialog-button {
    background: none repeat scroll 0 0 #F4F4F4;
}
.dialog-toolbar {
    border-bottom: 1px solid #DDDDDD;
}
.dialog-button {
    border-top: 1px solid #DDDDDD;
}
.combo {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}
.combo .combo-text {
    border: 0 none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 2px;
    vertical-align: baseline;
}
.combo-arrow {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
}
.combo-arrow-hover {
    opacity: 1;
}
.combo-panel {
    overflow: auto;
}
.combo-arrow {
    background: url("../image/combo_arrow.png") no-repeat scroll center center  ;
}
.combo, .combo-panel {
    background-color: #FFFFFF;
}
.combo {
    background-color: #FFFFFF;
    border-color: #cccccc;
}
.combo-arrow {
    background-color: #E0ECFF;
}
.combo-arrow-hover {
    background-color: #EAF2FF;
}
.combobox-item, .combobox-group {
    font-size: 12px;
    padding: 3px 0 3px 3px;
}
.combobox-gitem {
    padding-left: 10px;
}
.combobox-group {
    font-weight: bold;
}
.combobox-item-hover {
    background-color: #EAF2FF;
    color: #61A733;
}
.combobox-item-selected {
    background-color: #FBEC88;
    color: #61A733;
}
.layout {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 0;
}
.layout-panel {
    overflow: hidden;
    position: absolute;
}
.layout-panel-east, .layout-panel-west {
    z-index: 2;
}
.layout-panel-north, .layout-panel-south {
    z-index: 3;
}
.layout-expand {
    cursor: pointer;
    font-size: 1px;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.layout-expand .panel-header, .layout-expand .panel-body {
    background: none repeat scroll 0 0  ;
    filter: none;
    overflow: hidden;
}
.layout-expand .panel-header {
    border-bottom-width: 0;
}
.layout-split-proxy-h, .layout-split-proxy-v {
    display: none;
    font-size: 1px;
    position: absolute;
    z-index: 5;
}
.layout-split-proxy-h {
    cursor: e-resize;
    width: 5px;
}
.layout-split-proxy-v {
    cursor: n-resize;
    height: 5px;
}
.layout-mask {
    background: none repeat scroll 0 0 #FAFAFA;
    opacity: 0.1;
    position: absolute;
    z-index: 4;
}
.layout-button-up {
    background: url("../image/layout_arrows.png") no-repeat scroll -16px -16px  ;
}
.layout-button-down {
    background: url("../image/layout_arrows.png") no-repeat scroll -16px 0  ;
}
.layout-button-left {
    background: url("../image/layout_arrows-white.png") no-repeat scroll 0 0  ;
}
.layout-button-right {
    background: url("../image/layout_arrows-white.png") no-repeat scroll 0 -16px  ;
}
.layout-split-proxy-h, .layout-split-proxy-v {
    background-color: #AAC5E7;
}
.layout-split-north {
    border-bottom: 5px solid #E6EEF8;
}
.layout-split-south {
    border-top: 5px solid #E6EEF8;
}
.layout-split-east {
    border-left: 5px solid #E6EEF8;
}
.layout-split-west {
    border-right: 5px solid #333333;
}
.layout-expand {
    background-color: #3A3A3A;
}
.layout-expand-over {
    background-color: #3a3a3a;
}
.tabs-container {
    overflow: hidden;
}
.tabs-header {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.tabs-header-plain {
    background: none repeat scroll 0 0  ;
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
}
.tabs-scroller-left {
    border-style: solid;
    border-width: 0;
    bottom: 0;
    cursor: pointer;
    display: none;
    font-size: 1px;
    height: 28px !important;
    position: absolute;
    top: 0;
    width: 18px;
}
.tabs-scroller-right {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 0;
    bottom: 0;
    cursor: pointer;
    display: none;
    font-size: 1px;
    height: 28px !important;
    position: absolute;
    top: 0;
    width: 18px;
}
.tabs-scroller-left {
}
.tabs-scroller-right {
    right: 0;
}
.tabs-header-plain .tabs-scroller-left {
    height: 25px !important;
}
.tabs-header-plain .tabs-scroller-right {
    height: 25px !important;
}
.tabs-tool {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
}
.tabs-header-plain .tabs-tool {
    padding: 0 1px;
}
.tabs-wrap {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.tabs-scrolling {
    margin-left: 18px;
    margin-right: 18px;
}
.tabs-disabled {
    opacity: 0.3;
}
.tabs {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 0;
    font-size: 12px;
    height: 26px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 2000px;
}
.tabs LI {
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
    display: inline-block;
    float: left;
    margin: 0 4px -1px 0;
    padding: 0;
    position: relative;
}
.tabs LI A.tabs-inner {
    border-color: -moz-use-text-color;
    border-radius: 5px 5px 0 0;
/*    border-style: solid;*/
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-top: 1px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.tabs LI.tabs-selected A.tabs-inner {
    font-weight: bold;
    outline-style: none;
    outline-width: medium;
}
.tabs LI.tabs-selected A.tabs-inner:hover {
    cursor: default;
}
.tabs LI A.tabs-close {
    display: block;
    font-size: 1px;
    height: 12px;
    margin-top: -6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
}
.tabs-p-tool {
    display: block;
    font-size: 1px;
    height: 12px;
    margin-top: -6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
}
.tabs LI A.tabs-close {
    opacity: 0.6;
    right: 6px;
    width: 12px;
}
.tabs-wrap ul .closeall {
    background-position: 0 -720px;
    background-repeat: repeat-x;
    cursor: pointer;
    float: left;
    height: 18px;
    line-height: 22px;
    margin-top: 7px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 0;
}
.closeall .closealla {
    background-image: url("../image/bg.png");
    background-position: -480px 0;
    background-repeat: no-repeat;
    display: block;
    height: 18px;
    width: 18px;
}
.top-tabs ul .closeall .closealla:hover {
    background-position: -512px 0;
}
.tabs-p-tool {
    right: 16px;
}
.tabs-p-tool A {
    display: inline-block;
    font-size: 1px;
    height: 12px;
    margin: 0;
    opacity: 0.6;
    width: 12px;
}
.tabs LI A.tabs-close:hover {
    cursor: pointer;
    opacity: 1;
}
.tabs-p-tool A:hover {
    cursor: pointer;
    opacity: 1;
}
.tabs-with-icon {
    padding-left: 18px;
}
.tabs-icon {
    height: 16px;
    left: 10px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.tabs-closable {
    padding-right: 8px;
}
.tabs-panels {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 0 1px 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.tabs-header-bottom {
    border-width: 0 1px 1px;
    padding: 0 0 2px;
}
.tabs-header-bottom .tabs {
    border-width: 1px 0 0;
}
.tabs-header-bottom .tabs LI {
    margin: -1px 4px 0 0;
}
.tabs-header-bottom .tabs LI A.tabs-inner {
    border-radius: 0 0 5px 5px;
}
.tabs-header-bottom .tabs-tool {
    top: 0;
}
.tabs-header-bottom .tabs-scroller-left {
    bottom: auto;
    top: 0;
}
.tabs-header-bottom .tabs-scroller-right {
    bottom: auto;
    top: 0;
}
.tabs-panels-top {
    border-width: 1px 1px 0;
}
.tabs-header-left {
    border-width: 1px 0 1px 1px;
    float: left;
    padding: 0;
}
.tabs-header-right {
    border-width: 1px 1px 1px 0;
    float: right;
    padding: 0;
}
.tabs-header-left .tabs-wrap {
    height: 100%;
}
.tabs-header-right .tabs-wrap {
    height: 100%;
}
.tabs-header-left .tabs {
    border-width: 0 1px 0 0;
    height: 100%;
    padding: 4px 0 0 4px;
}
.tabs-header-right .tabs {
    border-width: 0 0 0 1px;
    height: 100%;
    padding: 4px 4px 0 0;
}
.tabs-header-left .tabs LI {
    display: block;
    position: relative;
    width: 100%;
}
.tabs-header-right .tabs LI {
    display: block;
    position: relative;
    width: 100%;
}
.tabs-header-left .tabs LI {
    float: right;
    left: auto;
    margin: 0 -1px 4px 0;
    right: 0;
}
.tabs-header-right .tabs LI {
    float: left;
    left: 0;
    margin: 0 0 4px -1px;
    right: auto;
}
.tabs-header-left .tabs LI A.tabs-inner {
    border-radius: 5px 0 0 5px;
    display: block;
    text-align: center;
}
.tabs-header-right .tabs LI A.tabs-inner {
    border-radius: 0 5px 5px 0;
    display: block;
    text-align: left;
}
.tabs-panels-right {
    border-width: 1px 1px 1px 0;
    float: right;
}
.tabs-panels-left {
    border-width: 1px 0 1px 1px;
    float: left;
}
.tabs-header-noborder {
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
}
.tabs-panels-noborder {
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
}
.tabs-header-plain {
    background: none repeat scroll 0 0  ;
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
}
.tabs-scroller-left {
    background: url("../image/tabs_icons-white.png") no-repeat scroll 1px center  ;
}
.tabs-scroller-right {
    background: url("../image/tabs_icons-white.png") no-repeat scroll -15px center  ;
}
.tabs LI A.tabs-close {
    background: url("../image/tabs_icons.png") no-repeat scroll -34px center  ;
}
.tabs LI A.tabs-inner:hover {
    background-image: url("../image/bgx.png");
    background-position: 0 -756px;
    background-repeat: repeat-x;
    color: #000000;
    filter: none;
}
.tabs LI.tabs-selected A.tabs-inner {
    background-image: url("../image/bgx.png");
	background-position: 0 -756px;
	background-repeat: repeat-x;
    color: #000;
}
.tabs-header-bottom .tabs LI.tabs-selected A.tabs-inner {
    background-repeat: repeat-x;
}
.tabs-header-left .tabs LI.tabs-selected A.tabs-inner {
    background-repeat: repeat-x;
}
.tabs-header-right .tabs LI.tabs-selected A.tabs-inner {
    background-repeat: repeat-x;
}
.tabs LI A.tabs-inner {
    background: none repeat scroll 0 0 #ECECEC;
    color: #000000;
}
.tabs-header {
    background: none repeat-x scroll 0 0 #3a3a3a;
}
.tabs-tool {
    background-color: #457ABC;
    background-repeat: repeat-x;
}
.tabs-header-plain {
    background: none repeat scroll 0 0  ;
}
.tabs-header {
    border-color: #CCCCCC;
}
.tabs-scroller-left {
    border-color: #333333;
}
.tabs-scroller-right {
    border-color: #333333;
}
.tabs-tool {
    border-color: #FCE1E1;
}
.tabs {
    background: none repeat scroll 0 0 #3A3A3A;
}
.tabs-panels {
    border-color: #CCCCCC;
}
.tabs LI A.tabs-inner {
    border-color: #61A733;
}
.tabs LI.tabs-selected A.tabs-inner {
    border-color: #61A733;
}
.tabs-header-bottom .tabs LI.tabs-selected A.tabs-inner {
    border-color: #61A733;
}
.tabs-header-left .tabs LI.tabs-selected A.tabs-inner {
    border-color: #61A733;
}
.tabs-header-right .tabs LI.tabs-selected A.tabs-inner {
    border-color: #61A733;
}
.tabs-p-tool A:hover {
    background-color: #EAF2FF;
}
.tabs LI A.tabs-close:hover {
    background-color: #E4E4E4;
}
.tabs-scroller-over {
    background-color: #457ABC;
}
.tabs LI.tabs-selected A.tabs-inner {
}
.tabs-header-bottom .tabs LI.tabs-selected A.tabs-inner {
    border-top: 1px solid #FFFFFF;
}
.tabs-header-left .tabs LI.tabs-selected A.tabs-inner {
    border-right: 1px solid #FFFFFF;
}
.tabs-header-right .tabs LI.tabs-selected A.tabs-inner {
    border-left: 1px solid #FFFFFF;
}
a.l-btn {
    background-position: right 0;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    outline: medium none;
    padding-right: 18px;
    text-decoration: none;
}
a.l-btn-plain {
    border: 0 none;
    padding: 1px 6px 1px 1px;
}
a.l-btn-disabled {
    color: #CCCCCC;
    cursor: default;
    opacity: 0.5;
}
a.l-btn span.l-btn-left {
    background-position: 0 -48px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 4px 0 4px 18px;
}
a.l-btn-plain span.l-btn-left {
    padding-left: 5px;
}
a.l-btn span span.l-btn-text {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: auto;
}
a.l-btn span span.l-btn-icon-left {
    background-position: left center;
    padding: 0 0 0 20px;
}
a.l-btn span span.l-btn-icon-right {
    background-position: right center;
    padding: 0 20px 0 0;
}
a.l-btn span span span.l-btn-empty {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
}
a.l-btn:hover {
    background-position: right -24px;
    outline: medium none;
    text-decoration: none;
}
a.l-btn:hover span.l-btn-left {
    background-position: 0 bottom;
}
a.l-btn-plain:hover {
    padding: 0 5px 0 0;
}
a.l-btn-disabled:hover {
    background-position: right 0;
}
a.l-btn-disabled:hover span.l-btn-left {
    background-position: 0 -48px;
}
a.l-btn .l-btn-focus {
    outline: thin dotted #0000FF;
}
a.l-btn {
    background-image: url("../image/linkbutton_bg.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #444444;
}
a.l-btn span.l-btn-left {
    background-image: url("../image/linkbutton_bg.png");
    background-repeat: no-repeat;
}
a.l-btn-plain, a.l-btn-plain span.l-btn-left {
    background: none repeat scroll 0 0  ;
    border: 0 none;
    filter: none;
}
a.l-btn-plain:hover {
    background: none repeat scroll 0 0 #EAF2FF;
    border: 1px solid #B7D2FF;
    border-radius: 5px;
    color: #333333;
}
a.l-btn-disabled, a.l-btn-disabled:hover {
    color: #444444;
}
a.l-btn-plain-disabled, a.l-btn-plain-disabled:hover {
    background: none repeat scroll 0 0  ;
}
a.l-btn-selected, a.l-btn-selected:hover {
    background-position: right -24px;
}
a.l-btn-selected span.l-btn-left, a.l-btn-selected:hover span.l-btn-left {
    background-position: 0 bottom;
}
a.l-btn-plain-selected, a.l-btn-plain-selected:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.datagrid .panel-body {
    overflow: hidden;
    position: relative;
}
.datagrid-view {
    overflow: hidden;
    position: relative;
}
.datagrid-view1, .datagrid-view2 {
    overflow: hidden;
    position: absolute;
    top: 0;
}
.datagrid-view1 {
    left: 0;
}
.datagrid-view2 {
    right: 0;
}
.datagrid-mask {
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
.datagrid-mask-msg {
    border-style: solid;
    border-width: 2px;
    display: none;
    height: 16px;
    margin-top: -20px;
    padding: 12px 5px 10px 30px;
    position: absolute;
    top: 50%;
    width: auto;
}
.datagrid-sort-icon {
    padding: 0;
}
.datagrid-toolbar {
    border-style: solid;
    border-width: 0 0 1px;
    height: auto;
    padding: 1px 2px;
}
.datagrid-btn-separator {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 24px;
    margin: 2px 1px;
}
.datagrid .datagrid-pager {
    border-style: solid;
    border-width: 1px 0 0;
    margin: 0;
}
.datagrid .datagrid-pager-top {
    border-width: 0 0 1px;
}
.datagrid-header {
    border-style: solid;
    border-width: 0 0 1px;
    cursor: default;
    overflow: hidden;
}
.datagrid-header-inner {
    float: left;
    width: 10000px;
}
.datagrid-header-row, .datagrid-row {
    height: 25px;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: dotted;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 0;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    padding: 0 4px;
    white-space: nowrap;
    word-wrap: normal;
}
.datagrid-header .datagrid-cell {
    height: auto;
}
.datagrid-header .datagrid-cell span {
    font-size: 12px;
}
.datagrid-cell-group {
    text-align: center;
}
.datagrid-header-rownumber, .datagrid-cell-rownumber {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 25px;
}
.datagrid-body {
    margin: 0;
    overflow: auto;
    padding: 0;
}
.datagrid-view1 .datagrid-body-inner {
    padding-bottom: 20px;
}
.datagrid-view1 .datagrid-body {
    overflow: hidden;
}
.datagrid-footer {
    overflow: hidden;
}
.datagrid-footer-inner {
    border-style: solid;
    border-width: 1px 0 0;
    float: left;
    width: 10000px;
}
.datagrid-row-editing .datagrid-cell {
    height: auto;
}
.datagrid-header-check, .datagrid-cell-check {
    font-size: 1px;
    height: 18px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 27px;
}
.datagrid-header-check input, .datagrid-cell-check input {
    height: 18px;
    margin: 0;
    padding: 0;
    width: 15px;
}
.datagrid-resize-proxy {
    cursor: e-resize;
    display: none;
    height: 10000px;
    position: absolute;
    top: 0;
    width: 1px;
}
.datagrid-body .datagrid-editable {
    margin: 0;
    padding: 0;
}
.datagrid-body .datagrid-editable table {
    height: 100%;
    width: 100%;
}
.datagrid-body .datagrid-editable td {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.datagrid-body .datagrid-editable .datagrid-editable-input {
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 2px;
}
.datagrid-sort-desc .datagrid-sort-icon {
    background: url("../image/datagrid_icons.png") no-repeat scroll -16px center  ;
    padding: 0 13px 0 0;
}
.datagrid-sort-asc .datagrid-sort-icon {
    background: url("../image/datagrid_icons.png") no-repeat scroll 0 center  ;
    padding: 0 13px 0 0;
}
.datagrid-row-collapse {
    background: url("../image/datagrid_icons.png") no-repeat scroll -48px center  ;
}
.datagrid-row-expand {
    background: url("../image/datagrid_icons.png") no-repeat scroll -32px center  ;
}
.datagrid-mask-msg {
    background: url("../image/loading.gif") no-repeat scroll 5px center #FFFFFF;
}
.datagrid-header, .datagrid-td-rownumber {
    background: none repeat scroll 0 0 #EFEFEF;
}
.datagrid-cell-rownumber {
    color: #333333;
}
.datagrid-resize-proxy {
    background: none repeat scroll 0 0 #AAC5E7;
}
.datagrid-mask {
    background: none repeat scroll 0 0 #CCCCCC;
}
.datagrid-mask-msg {
    border-color: #61A733;
}
.datagrid-toolbar, .datagrid-pager {
    background: none repeat scroll 0 0 #F4F4F4;
}
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner {
    border-color: #DDDDDD;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #CCCCCC;
}
.datagrid-htable, .datagrid-btable, .datagrid-ftable {
    color: #333333;
}
.datagrid-row-alt {
    background: none repeat scroll 0 0 #FAFAFA;
}
.datagrid-row-over, .datagrid-header td.datagrid-header-over {
    background: none repeat scroll 0 0 #EAF2FF;
    color: #333333;
    cursor: default;
}
.datagrid-row-selected {
    background: none repeat scroll 0 0 #FBEC88;
    color: #333333;
}
.datagrid-body .datagrid-editable .datagrid-editable-input {
    border-color: #61A733;
}
.propertygrid .datagrid-view1 .datagrid-body td {
    border-width: 0 1px 0 0;
    padding-bottom: 1px;
}
.propertygrid .datagrid-group {
    border-style: solid;
    border-width: 0 0 1px;
    height: 21px;
    overflow: hidden;
}
.propertygrid .datagrid-group span {
    font-weight: bold;
}
.propertygrid .datagrid-view1 .datagrid-body td {
    border-color: #DDDDDD;
}
.propertygrid .datagrid-view1 .datagrid-group {
    border-color: #E0ECFF;
}
.propertygrid .datagrid-view2 .datagrid-group {
    border-color: #DDDDDD;
}
.propertygrid .datagrid-group, .propertygrid .datagrid-view1 .datagrid-body, .propertygrid .datagrid-view1 .datagrid-row-over, .propertygrid .datagrid-view1 .datagrid-row-selected {
    background: none repeat scroll 0 0 #E0ECFF;
}
.pagination {
}
.pagination table {
    float: left;
    height: 30px;
}
.pagination td {
    border: 0 none;
}
.pagination-btn-separator {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 24px;
    margin: 3px 1px;
}
.pagination .pagination-num {
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 0 2px;
    padding: 2px;
    width: 2em;
}
.pagination-page-list {
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 0 6px;
    padding: 1px 2px;
    width: auto;
}
.pagination-info {
    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 6px 0 0;
    padding: 0;
}
.pagination span {
    font-size: 12px;
}
.pagination-first {
    background: url("../image/pagination_icons.png") no-repeat scroll 0 0  ;
}
.pagination-prev {
    background: url("../image/pagination_icons.png") no-repeat scroll -16px 0  ;
}
.pagination-next {
    background: url("../image/pagination_icons.png") no-repeat scroll -32px 0  ;
}
.pagination-last {
    background: url("../image/pagination_icons.png") no-repeat scroll -48px 0  ;
}
.pagination-load {
    background: url("../image/pagination_icons.png") no-repeat scroll -64px 0  ;
}
.pagination-loading {
    background: url("../image/loading.gif") no-repeat scroll 0 0  ;
}
.pagination-page-list, .pagination .pagination-num {
    border-color: #ccc;

}
.calendar {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 1px;
}
.calendar table {
    border-collapse: separate;
    font-size: 12px;
    height: 100%;
    width: 100%;
}
.calendar table td, .calendar table th {
    font-size: 12px;
}
.calendar-noborder {
    border: 0 none;
}
.calendar-header {
    height: 22px;
    position: relative;
}
.calendar-title {
    height: 22px;
    text-align: center;
}
.calendar-title span {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    position: relative;
    top: 2px;
}
.calendar-prevmonth, .calendar-nextmonth, .calendar-prevyear, .calendar-nextyear {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1px;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 14px;
}
.calendar-prevmonth {
    background: url("../image/calendar_arrows.png") no-repeat scroll -18px -2px  ;
    left: 20px;
}
.calendar-nextmonth {
    background: url("../image/calendar_arrows.png") no-repeat scroll -34px -2px  ;
    right: 20px;
}
.calendar-prevyear {
    background: url("../image/calendar_arrows.png") no-repeat scroll -1px -2px  ;
    left: 3px;
}
.calendar-nextyear {
    background: url("../image/calendar_arrows.png") no-repeat scroll -49px -2px  ;
    right: 3px;
}
.calendar-body {
    position: relative;
}
.calendar-body th, .calendar-body td {
    text-align: center;
}
.calendar-day {
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px;
}
.calendar-other-month {
    opacity: 0.3;
}
.calendar-menu {
    display: none;
    font-size: 12px;
    height: 150px;
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 180px;
}
.calendar-menu-year-inner {
    padding-bottom: 5px;
    text-align: center;
}
.calendar-menu-year {
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 40px;
}
.calendar-menu-prev, .calendar-menu-next {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    vertical-align: top;
    width: 21px;
}
.calendar-menu-prev {
    background: url("../image/calendar_arrows.png") no-repeat scroll 2px 2px  ;
    margin-right: 10px;
}
.calendar-menu-next {
    background: url("../image/calendar_arrows.png") no-repeat scroll -45px 2px  ;
    margin-left: 10px;
}
.calendar-menu-month {
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.calendar-body th, .calendar-menu-month {
    color: #4D4D4D;
}
.calendar-day {
    color: #333333;
}
.calendar-sunday {
    color: #CC2222;
}
.calendar-saturday {
    color: #00EE00;
}
.calendar-today {
    color: #0000FF;
}
.calendar-menu-year {
    border-color: #61A733;
}
.calendar {
    border-color: #61A733;
}
.calendar-header {
    background: none repeat scroll 0 0 #E0ECFF;
}
.calendar-body, .calendar-menu {
    background: none repeat scroll 0 0 #FFFFFF;
}
.calendar-body th {
    background: none repeat scroll 0 0 #F4F4F4;
}
.calendar-hover, .calendar-nav-hover, .calendar-menu-hover {
    background-color: #EAF2FF;
    color: #333333;
}
.calendar-hover {
    border: 1px solid #B7D2FF;
    padding: 0;
}
.calendar-selected {
    background-color: #FBEC88;
    border: 1px solid #E2C608;
    color: #333333;
    padding: 0;
}
.datebox-calendar-inner {
    height: 180px;
}
.datebox-button {
    height: 18px;
    padding: 2px 5px;
    text-align: center;
}
.datebox-button a {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.6;
    text-decoration: none;
}
.datebox-button a:hover {
    opacity: 1;
}
.datebox-current, .datebox-close {
    float: left;
}
.datebox-close {
    float: right;
}
.datebox .combo-arrow {
    background-image: url("../image/datebox_arrow.png");
    background-position: center center;
}
.datebox-button {
    background-color: #F4F4F4;
}
.datebox-button a {
    color: #444444;
}
.spinner {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}
.spinner .spinner-text {
    border: 0 none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 2px;
    vertical-align: baseline;
}
.spinner-arrow {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
}
.spinner-arrow-up, .spinner-arrow-down {
    display: block;
    font-size: 1px;
    height: 10px;
    opacity: 0.6;
    width: 18px;
}
.spinner-arrow-hover {
    opacity: 1;
}
.spinner-arrow-up {
    background: url("../image/spinner_arrows.png") no-repeat scroll 1px center  ;
}
.spinner-arrow-down {
    background: url("../image/spinner_arrows.png") no-repeat scroll -15px center  ;
}
.spinner {
    border-color: #61A733;
}
.spinner-arrow {
    background-color: #E0ECFF;
}
.spinner-arrow-hover {
    background-color: #EAF2FF;
}
.progressbar {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    position: relative;
}
.progressbar-text {
    position: absolute;
    text-align: center;
}
.progressbar-value {
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    position: relative;
    width: 0;
}
.progressbar {
    border-color: #61A733;
}
.progressbar-text {
    color: #333333;
    font-size: 12px;
}
.progressbar-value .progressbar-text {
    background-color: #FBEC88;
    color: #333333;
}
.searchbox {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}
.searchbox .searchbox-text {
    border: 0 none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.searchbox .searchbox-prompt {
    color: #CCCCCC;
    font-size: 12px;
}
.searchbox-button {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
}
.searchbox-button-hover {
    opacity: 1;
}
.searchbox a.l-btn-plain {
    border: 0 none;
    border-radius: 0;
    height: 20px;
    opacity: 0.6;
    padding: 0 6px 0 0;
    vertical-align: top;
}
.searchbox a.l-btn .l-btn-left {
    padding: 2px 0 2px 4px;
}
.searchbox a.l-btn-plain:hover {
    border: 0 none;
    border-radius: 0;
    opacity: 1;
    padding: 0 6px 0 0;
}
.searchbox a.m-btn-plain-active {
    border-radius: 0;
}
.searchbox-button {
    background: url("../image/searchbox_button.png") no-repeat scroll center center  ;
}
.searchbox {
    background-color: #FFFFFF;
    border-color: #61A733;
}
.searchbox a.l-btn-plain {
    background: none repeat scroll 0 0 #E0ECFF;
}
.slider-disabled {
    opacity: 0.5;
}
.slider-h {
    height: 22px;
}
.slider-v {
    width: 22px;
}
.slider-inner {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 6px;
    position: relative;
    top: 7px;
}
.slider-handle {
    display: block;
    height: 20px;
    margin-left: -10px;
    outline: medium none;
    position: absolute;
    top: -7px;
    width: 20px;
}
.slider-tip {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: -22px;
    white-space: nowrap;
}
.slider-rule {
    position: relative;
    top: 15px;
}
.slider-rule span {
    border-style: solid;
    border-width: 0 0 0 1px;
    display: inline-block;
    font-size: 0;
    height: 5px;
    position: absolute;
}
.slider-rulelabel {
    position: relative;
    top: 20px;
}
.slider-rulelabel span {
    display: inline-block;
    font-size: 12px;
    position: absolute;
}
.slider-v .slider-inner {
    float: left;
    left: 7px;
    top: 0;
    width: 6px;
}
.slider-v .slider-handle {
    left: 3px;
    margin-top: -10px;
}
.slider-v .slider-tip {
    left: -10px;
    margin-top: -6px;
}
.slider-v .slider-rule {
    float: left;
    left: 16px;
    top: 0;
}
.slider-v .slider-rule span {
    border-left: 0 solid;
    border-style: solid;
    border-width: 1px 0 0;
    width: 5px;
}
.slider-v .slider-rulelabel {
    float: left;
    left: 23px;
    top: 0;
}
.slider-handle {
    background: url("../image/slider_handle.png") no-repeat scroll 0 0  ;
}
.slider-inner {
    background: none repeat scroll 0 0 #E0ECFF;
    border-color: #61A733;
}
.slider-rule span {
    border-color: #61A733;
}
.slider-rulelabel span {
    color: #333333;
}
.menu {
    border-style: solid;
    border-width: 1px;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    position: absolute;
}
.menu-item {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.menu-text {
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 28px;
}
.menu-icon {
    height: 16px;
    left: 2px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.menu-rightarrow {
    height: 16px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 16px;
}
.menu-line {
    font-size: 1px;
    height: 2000px;
    left: 26px;
    position: absolute;
    top: 0;
}
.menu-sep {
    font-size: 1px;
    margin: 3px 0 3px 25px;
}
.menu-active {
    border-radius: 5px;
}
.menu-item-disabled {
    cursor: default;
    opacity: 0.5;
}
.menu-text, .menu-text span {
    font-size: 12px;
}
.menu-shadow {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #CCCCCC;
    position: absolute;
}
.menu-rightarrow {
    background: url("../image/menu_arrows.png") no-repeat scroll -32px center  ;
}
.menu-line {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #FFFFFF;
}
.menu-sep {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #CCCCCC;
}
.menu {
    background-color: #FAFAFA;
    border-color: #DDDDDD;
    color: #444444;
}
.menu-content {
    background: none repeat scroll 0 0 #FFFFFF;
}
.menu-item {
}
.menu-active {
    background: none repeat scroll 0 0 #EAF2FF;
    border-color: #B7D2FF;
    color: #333333;
}
.menu-active-disabled {
    background: none repeat scroll 0 0  ;
    color: #444444;
}
.m-btn-downarrow {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    width: 16px;
}
a.s-btn-active {
    background-position: right bottom;
}
a.s-btn-active span.l-btn-left {
    background-position: left bottom;
}
a.s-btn-plain-active {
    background: none repeat scroll 0 0  ;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 5px 0 0;
}
.s-btn-downarrow {
    background: url("../image/menu_arrows.png") no-repeat scroll 2px center  ;
    border-color: #AAC5E7;
}
a.l-btn:hover .s-btn-downarrow, a.s-btn-active .s-btn-downarrow, a.s-btn-plain-active .s-btn-downarrow {
    background-position: 1px center;
    border-width: 0 0 0 1px;
    padding: 0;
}
a.s-btn-plain-active {
    background-color: #EAF2FF;
    border-color: #B7D2FF;
    color: #333333;
}
.messager-body {
    overflow: hidden;
    padding: 10px;
}
.messager-button {
    padding-top: 10px;
    text-align: center;
}
.messager-icon {
    float: left;
    height: 32px;
    margin: 0 10px 10px 0;
    width: 32px;
}
.messager-error {
    background: url("../image/messager_icons.png") no-repeat scroll -64px 0  ;
}
.messager-info {
    background: url("../image/messager_icons.png") no-repeat scroll 0 0  ;
}
.messager-question {
    background: url("../image/messager_icons.png") no-repeat scroll -32px 0  ;
}
.messager-warning {
    background: url("../image/messager_icons.png") no-repeat scroll -96px 0  ;
}
.messager-progress {
    padding: 10px;
}
.messager-p-msg {
    margin-bottom: 5px;
}
.messager-body .messager-input {
    border: 1px solid #61A733;
    padding: 1px 0;
    width: 100%;
}
.tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tree LI {
    white-space: nowrap;
}
.tree LI UL {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tree-node {
    border-bottom: 1px dashed #457ABC;
    cursor: pointer;
    height: 28px;
    padding-left: 30px;
    white-space: nowrap;
}
.tree-hit {
    cursor: pointer;
}
.tree-expanded {
    display: inline-block;
    height: 18px;
    margin: 5px 0 0;
    overflow: hidden;
    vertical-align: top;
    width: 16px;
}
.tree-collapsed {
    display: inline-block;
    height: 18px;
    margin: 5px 0 0;
    overflow: hidden;
    vertical-align: top;
    width: 16px;
}
.tree-folder {
    display: inline-block;
    height: 18px;
    overflow: hidden;
    vertical-align: top;
    width: 8px;
}
.tree-file {
    display: inline-block;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    vertical-align: top;
    width: 16px;
}
.tree-checkbox {
    display: inline-block;
    height: 18px;
    overflow: hidden;
    vertical-align: top;
    width: 16px;
}
.tree-indent {
    display: inline-block;
    height: 18px;
    overflow: hidden;
    vertical-align: top;
    width: 16px;
}
.tree-expanded {
    background: url("../image/tree_icons.png") no-repeat scroll -18px 0  ;
}
.tree-expanded-hover {
}
.tree-collapsed {
    background: url("../image/tree_icons.png") no-repeat scroll 0 0  ;
}
.tree-collapsed-hover {
}
.tree-lines .tree-expanded {
    background: url("../image/tree_icons.png") no-repeat scroll -144px 0  ;
}
.tree-lines .tree-root-first .tree-expanded {
    background: url("../image/tree_icons.png") no-repeat scroll -144px 0  ;
}
.tree-lines .tree-collapsed {
    background: url("../image/tree_icons.png") no-repeat scroll -128px 0  ;
}
.tree-lines .tree-root-first .tree-collapsed {
    background: url("../image/tree_icons.png") no-repeat scroll -128px 0  ;
}
.tree-lines .tree-node-last .tree-expanded {
    background: url("../image/tree_icons.png") no-repeat scroll -80px 0  ;
}
.tree-lines .tree-root-one .tree-expanded {
    background: url("../image/tree_icons.png") no-repeat scroll -80px 0  ;
}
.tree-lines .tree-node-last .tree-collapsed {
    background: url("../image/tree_icons.png") no-repeat scroll -64px 0  ;
}
.tree-lines .tree-root-one .tree-collapsed {
    background: url("../image/tree_icons.png") no-repeat scroll -64px 0  ;
}
.tree-line {
    background: url("../image/tree_icons.png") no-repeat scroll -176px 0  ;
}
.tree-join {
    background: url("../image/tree_icons.png") no-repeat scroll -192px 0  ;
}
.tree-joinbottom {
    background: url("../image/tree_icons.png") no-repeat scroll -160px 0  ;
}
.tree-folder {
}
.tree-folder-open {
}
.tree-file {
    background: url("../image/tree_icons.png") no-repeat scroll -240px 0  ;
}
.tree-loading {
    background: url("../image/loading.gif") no-repeat scroll center center  ;
}
.tree-checkbox0 {
    background: url("../image/tree_icons.png") no-repeat scroll -208px -18px  ;
}
.tree-checkbox1 {
    background: url("../image/tree_icons.png") no-repeat scroll -224px -18px  ;
}
.tree-checkbox2 {
    background: url("../image/tree_icons.png") no-repeat scroll -240px -18px  ;
}
.tree-title {
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}
.tree-node-proxy {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 2px 0 20px;
    z-index: 9900000;
}
.tree-dnd-icon {
    display: inline-block;
    height: 18px;
    left: 2px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.tree-dnd-yes {
    background: url("../image/tree_icons.png") no-repeat scroll -256px 0  ;
}
.tree-dnd-no {
    background: url("../image/tree_icons.png") no-repeat scroll -256px -18px  ;
}
.tree-node-top {
    border-top: 1px dotted #FF0000;
}
.tree-node-bottom {
    border-bottom: 1px dotted #FF0000;
}
.tree-node-append .tree-title {
    border-color: #FF0000;
    border-style: dotted;
    border-width: 1px;
}
.tree-editor {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    height: 14px !important;
    line-height: 14px;
    padding: 1px 2px;
    position: absolute;
    top: 0;
    width: 80px;
}
.tree-node-proxy {
    background-color: #FFFFFF;
    border-color: #61A733;
    color: #333333;
}
.tree-node-hover {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
}
.tree-node-selected {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
}
.validatebox-tip {
    display: none;
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 9900000;
}
.validatebox-tip-content {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 12px;
    left: 8px;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    width: 150px;
    z-index: 9900001;
}
.validatebox-tip-pointer {
    display: inline-block;
    height: 16px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 8px;
    z-index: 9900002;
}
.validatebox-tip-left .validatebox-tip-content {
    left: auto;
    right: 8px;
}
.validatebox-tip-left .validatebox-tip-pointer {
    background-position: -20px center;
    left: auto;
    right: 1px;
}
.validatebox-invalid {
    background-color: #FFF3F3;
    background-image: url("../image/validatebox_warning.png");
    background-position: right center;
    background-repeat: no-repeat;
    border-color: #FFA8A8;
    color: #333333;
}
.validatebox-tip-pointer {
    background: url("../image/validatebox_arrows.png") no-repeat scroll -4px center  ;
}
.validatebox-tip-content {
    background-color: #FFFFCC;
    border-color: #CC9933;
    color: #333333;
}
.tooltip {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: none;
    opacity: 1;
    outline: medium none;
    padding: 5px;
    position: absolute;
    z-index: 9900000;
}
.tooltip-content {
    font-size: 12px;
}
.tooltip-arrow-outer, .tooltip-arrow {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 6px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
.tooltip-right .tooltip-arrow-outer {
    left: 0;
    margin: -6px 0 0 -13px;
    top: 50%;
}
.tooltip-right .tooltip-arrow {
    left: 0;
    margin: -6px 0 0 -12px;
    top: 50%;
}
.tooltip-left .tooltip-arrow-outer {
    margin: -6px -13px 0 0;
    right: 0;
    top: 50%;
}
.tooltip-left .tooltip-arrow {
    margin: -6px -12px 0 0;
    right: 0;
    top: 50%;
}
.tooltip-top .tooltip-arrow-outer {
    bottom: 0;
    left: 50%;
    margin: 0 0 -13px -6px;
}
.tooltip-top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin: 0 0 -12px -6px;
}
.tooltip-bottom .tooltip-arrow-outer {
    left: 50%;
    margin: -13px 0 0 -6px;
    top: 0;
}
.tooltip-bottom .tooltip-arrow {
    left: 50%;
    margin: -12px 0 0 -6px;
    top: 0;
}
.tooltip {
    background-color: #FFFFFF;
    border-color: #95B8E7;
    color: #000000;
}
.tooltip-right .tooltip-arrow-outer {
    border-right-color: #95B8E7;
}
.tooltip-right .tooltip-arrow {
    border-right-color: #FFFFFF;
}
.tooltip-left .tooltip-arrow-outer {
    border-left-color: #95B8E7;
}
.tooltip-left .tooltip-arrow {
    border-left-color: #FFFFFF;
}
.tooltip-top .tooltip-arrow-outer {
    border-top-color: #95B8E7;
}
.tooltip-top .tooltip-arrow {
    border-top-color: #FFFFFF;
}
.tooltip-bottom .tooltip-arrow-outer {
    border-bottom-color: #95B8E7;
}
.tooltip-bottom .tooltip-arrow {
    border-bottom-color: #FFFFFF;
}
input[type="text"] {
    border: 1px solid #CCCCCC;
    height: 20px;
    margin: 0;
    text-indent: 0.2em;
    vertical-align: middle;
    width:100px;
}
select {
    border: 1px solid #CCCCCC;
    margin: 0;
    width:100px;
}
textarea {
    border: 1px solid #CCCCCC;
    font-size: 12px;
    text-indent: 0.2em;
}
#fm {
    margin: 0;
    padding: 10px 30px;
}
.ftitle {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0;
}
.fitem {
    margin-bottom: 5px;
}
.fitem label {
    color: #333333;
    display: inline-block;
    width: 80px;
}
.tubiao {
    float: left;
    height: 130px;
    margin: 20px;
    width: 99px;
}
.tubiao img {
    margin-top: 10px;
}
.tubiao p {
    line-height: 40px;
    text-align: center;
}
.tubiao a:hover {
    background-image: url("../image/tubiao-bg_07.png");
    font-weight: bold;
    height: 130px;
    width: 99px;
}
.tubiao:active {
    background-image: url("../image/tubiao-bg_07.png");
    font-weight: bold;
    height: 130px;
    width: 99px;
}
.table_01 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBDBDC;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0 0;
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
}
.table_01 td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBDBDC;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 1px 1px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    text-indent: 0.2em;
}
.table_02 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBDBDC;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0 0;
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
}
.table_02 td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBDBDC;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 1px 1px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    text-indent: 0.2em;
}
.table_03 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #771D18;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0 0;
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
}
.table_03 td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #771D18;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px 1px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    text-indent: 0.2em;
}
.table_gd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBDBDC;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0 0;
    font-size: 12px;
    margin: 0 auto;
    width: 1600px;
}
.table_gd td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DBDBDC;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 1px 1px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    text-indent: 0.2em;
}
.table_th {
    background-image: url("../image/bgx.png");
    background-position: 0 -756px;
    background-repeat: repeat-x;
    color: #333333;
    font-weight: bold;
    padding-left: 10px;
}
.tianjia {
    background: url("../image/chart_pie_add.png") no-repeat scroll center center  ;
    float: left;
    height: 16px;
    padding: 0 5px;
    width: 16px;
}
.text_color {
    color: #FF0000;
}
.tab01 {
    border-bottom: 0 solid #CCDCE0;
    font-size: 14px;
    height: auto;
    width: 100%;
}
.tab01-th {
    background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px solid #CCCCCC;
    color: #61A733;
    height: 33px;
    line-height: 32px;
	margin-top:-12px;
}
.tab01_title {
    padding: 0 2%;
    width: 94%;
}
.tab01_title li {
    float: left;
}
.tab01-nav {
    background-image: url("../image/bgx.png");
    background-position: 0 -792px;
    background-repeat: repeat-x;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 5px 5px 0 0;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
}
.tab01-nav:hover {
    background-image: url("../image/bgx.png");
    background-position: 0 -828px;
    background-repeat: repeat-x;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    float: left;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 5px 5px 0 0;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
}
.tab01-nav_active {
    background-image: url("../image/bgx.png");
    background-position: 0 -828px;
    background-repeat: repeat-x;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    float: left;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 5px 5px 0 0;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
}
.Search {
    font-size: 12px;
    width: 100%;
}
.Search table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    font-size: 12px;
    margin: 1%;
    width: 98%;
}
.Search table td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
}
.m1 {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #DDDDDD;
}
.button {
    background: url("../image/button_bg.png") repeat-x scroll 0 0  ;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    color: #444444;
    cursor: pointer;
    height: 22px;
    padding: 0 10px;
    text-decoration: none;
}
.button-hui {
    background: none repeat-x scroll 0 0 #CCCCCC;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    color: #444444;
    cursor: pointer;
    height: 22px;
    padding: 0 10px;
    text-decoration: none;
}
.text_right {
    background-color: #FBFBFB;
    text-align: right;
}
.text_left {
    background-color: #EFEFEF;
    text-align: left;
}
.DW {
    border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    height: 24px;
    line-height: 24px;
}
.DW span {
    background: url("../image/Switch.png") no-repeat scroll left center  ;
    float: right;
    padding-left: 20px;
    width: 50px;
}