#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
<script type="text/javascript" src="$_basePath/dossier/js/dossierManager.js"></script>
<body>
	<div id="pageForm" style="height:auto;" border="true">
		<div class="tab01">
            <div class="tab01-th">
    			<ul class="tab01_title">
        			#set($count = 0)
        			#foreach($item in $!tabsList)
        				#if($count == 0)
        					<li style="list-style:none;"><a href="javascript:void('0');" class="tab01-nav_active" onclick="changeTab(this)" BStype="$item.FLAG">$item.FLAG</a></li>
        				#else
        					<li style="list-style:none;"><a href="javascript:void('0');" class="tab01-nav" onclick="changeTab(this)" BStype="$item.FLAG">$item.FLAG</a></li>
        				#end
        				#set($count = $count + 1)
        			#end
        		</ul>
            </div>
		</div>
		<table width="100%" id="pageForm1" cellspacing="0" cellpadding="0" style="padding:20px;"  border="0">
            <tr>
               <td>
					<input type="hidden" name="DOSSIER_TYPE" id="DOSSIER_TYPE"/>
                	<span style="color:  #15428b">客户名称：</span><input class="input_03" type="text" size ="20" id="CLIENT_NAME" name="CLIENT_NAME"/>
               </td>
			   <td>
					&nbsp;<span style="color:  #15428b">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;档案袋编号：</span>
					<input type="text" name="PORTFOLIO_NUMBER" id="PORTFOLIO_NUMBER"/>
               </td>
			   <td>
					<span style="color:  #15428b">档案柜编号：</span><input type="text" name="CABINET_NUMBER" id="CABINET_NUMBER"/>
               </td>
           </tr>
		   <tr>
    			<td><span style="color:  #15428b">业务类型：</span><select NAME="PLATFORM_TYPE_NAME" id="PLATFORM_TYPE_NAME">
							<option VALUE="">--请选择--</option>
							#foreach($!item in $!YEWU)
                                <option value="$!item.CODE">$!item.FLAG</option>
							#end
                        </select>
                </td>
				<td>
					 <span style="color:  #15428b">融资租赁合同号：</span>&nbsp;<input type="text" name="PROJECT_CODE" ID="PROJECT_CODE"/>
                </td>
				<td colspan="3">
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查询</a>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick='clean();'>清空</a>
                </td>
           </tr>
           <tr><td colspan="5" align="right" height="20"></td></tr>
           <tr>
           	  <td colspan="5" align="right"><span style="float:right; margin:0px 20px 10px 10px"><img src="../dossier/icon/red2.gif">未归档<img src="../dossier/icon/yellow_light.gif">已接受未归档<img src="../dossier/icon/green.gif">已归档</span></td>
           </tr>
      </table>
	</div>
	<table id="pageTable" fit="true" fitColumns="true" data-options="singleSelect:true,method:'post',url:'$_basePath/dossier/DossierManager!doShowDossierList.action',rownumbers:true,pagination:true,toolbar:'#pageForm'">
	</table>
	
	<div id="upDiv" style="display:none;width:280px;height:170px;"
		data-options="title:'上传文件',modal:true,resizable:true,
			buttons:[{
			      id:'btnbc',
				text:'上 传',
				iconCls:'icon-up',
				handler:function(){upLoadFile()}
			},{
				text:'关 闭',
				iconCls:'icon-cancel',
				handler:function(){close('upDiv','upForm')}
			}]">
		<form id="upForm" enctype="multipart/form-data" method="post">
			<input type="hidden" id="FILE_TYPE" name="FILE_TYPE">
			<input type="hidden" id="ID" name="ID">
			<table  border="0" cellpadding="5" cellspacing="0">
				<tr >
					<td style="text-align:right">
	    				选择文件：
					</td>
					<td>
						<span class="combo" style="border-width: 0px;">
							<input type="file" style="width: 150px;margin:0px" name="upload" id="upload"/>
						</span>
	                </td>
	            </tr>
				<tr >
					<td style="text-align:right">
	    				备注：
					</td>
					<td>
						<span class="combo" style="border-width: 0px;">
							<textarea id="REMARK" name="REMARK" style="width: 150px;height:20;margin:0px"></textarea>
						</span>
	                </td>
	            </tr>
	        </table>
		</form>
	</div>
	
	<div id="upShowDiv" style="display:none;width:700px;height:300px;"
		data-options="title:'文件列表',modal:true,resizable:true,
			buttons:[{
				text:'关 闭',
				iconCls:'icon-cancel',
				handler:function(){close('upShowDiv','upShowForm')}
			}]">
			<div id="upShowDiv1"></div>
	</div>
</body>
