<div>
     <table class="table_02" cellpadding="0" cellspacing="0">
		<thead class="text-left">
            <tr>
                <td>序号</td>
				<td>归类集对象简称</td>
                <td>归类集对象名称</td>
                <td>操作</td>
			</tr>
        </thead>
        <tbody>
			#foreach($ite in $!list)
                <tr>
                    <td>$velocityCount</td>
					<td>$!ite.SHORT_AFFIRM_NAME</td>
                    <td>$!ite.AFFIRM_NAME</td>
					<td><a href="#" onclick="toAllocationPer('$ite.AFFIRM_ID','$ite.AFFIRM_NAME')">选择</a></td>
				</tr>
			#end
		</tbody>
	 </table>
</div>