#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/jiafang/js/toMgVisit.js"> </script>
<form id="addVisit">
	<input  type="hidden" class="easyui-textbox" id="project_id" name="TYPE" value="7"/>
	<table class="table_01" cellpadding="0" cellspacing="0">
		<tr>
    		<td>客户编号: </td>			
    		<td><input  type="hidden" class="easyui-textbox" id="project_id" name="PROJECT_ID" value="$!param.project_id"/>
				<input  type="text"  id="client_id" name="client_id" value="$!param.CUST_ID"/></td>
			<td>客户名称:</td>
    		<td><input  type="hidden"  id="CUST_ID" name="CUST_ID" value="$!param.client_id"/>
				<input  type="text"  id="CLIENT_NAME" name="CLIENT_NAME" value="$!param.CLIENT_NAME"/></td>
			<td></td>
    		<td>申请人<input  type="radio"  id="" name="ZX_ACCESS_TYPE" value="0" checked/>担保人<input  type="radio"  id="" name="ZX_ACCESS_TYPE" value="1" /></td>
    	</tr>
		<tr>
			<td>访问地点:</td>
			<td colspan="5">#foreach($item in $!addr)<input type="radio" name="ZX_VISIT_ADDR" value="$!item.CODE"/>$!item.FLAG#end</td>
		</tr>
		<tr>
			<td>实际访问地点:</td>
			<td colspan="5"><input type="text" id="ZX_VISIT_ADDR_TRUE" name="ZX_VISIT_ADDR_TRUE" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>居住地址:</td>
			<td colspan="5"><input type="text" id="ZX_DWELL_ADDR" name="ZX_DWELL_ADDR" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>公司地址:</td>
			<td  colspan="5"><input type="text" id="ZX_COMPANY_ADDR" name="ZX_COMPANY_ADDR" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>其他地址:</td>
			<td colspan="5"><input type="text" id="ZX_OTHER_ADDR" name="ZX_OTHER_ADDR" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>现驾驶车辆品牌：</td>
			<td colspan=""><input type="text" id="ZX_NOW_CARNUM" name="ZX_NOW_CARNUM" value="" size="35"/></td>
			<td>所有权人:</td>
    		<td><input  type="text"  id="ZX_OWNER" name="ZX_OWNER" value=""/></td>
			<td>购买/使用时间:</td>
    		<td><input  type="text" class="easyui-datebox" id="ZX_BUGTIME" name="ZX_BUGTIME" value=""/></td>
		</tr>
		<tr>
			<td>是否贷款购买:</td>
			<td  colspan="5">#foreach($item in $!daikuan)<input type="radio" name="ZX_IS_DAIKUAN" value="$!item.CODE"/>$item.FLAG#end</td>
		</tr>
		<tr>
			<td>其他使用车辆：</td>
			<td colspan=""><input type="text" id="ZX_OTHERCAR" name="ZX_OTHERCAR" value="" size="35"/></td>
			<td>所有权人:</td>    	
			<td><input  type="text"  id="ZX_OTHER_OWNER" name="ZX_OTHER_OWNER" value="" size="35"/></td>
			<td>购买/使用时间:</td>
    		<td><input  type="text" class="easyui-datebox" id="ZX_OTHER_BUGTIME" name="ZX_OTHER_BUGTIME" value="" size="35"/></td>
		</tr>
		<tr>
			<td>补充客户资料:</td>
			<td  colspan="5"><input  type="radio"  id="" name="ZX_IS_BCKJHZL" value="0" checked/>有<input  type="radio"  id="" name="ZX_IS_BCKJHZL" value="1" />无</td>
		</tr>
		<tr>
			<td>修改/补充客户信息:</td>
			<td  colspan="5"><input  type="radio"  id="" name="ZX_IS_XGKHZL" value="0" checked/>有<input  type="radio"  id="" name="ZX_IS_XGKHZL" value="1" />无</td>
		</tr>
		<tr>
			<td colspan="6">调查情况陈述:</td>
			##<td  colspan="5"><input  type="radio"  id="P_TIME2" name="P_TIME2" value="" checked/>有<input  type="radio"  id="P_TIME2" name="P_TIME2" value="" />无</td>
		</tr>
		<tr>
			<td>家庭成员情况:</td>
			<td  colspan="5"><input  type="text"  id="ZX_JTCY" name="ZX_JTCY" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>家庭资产情况:</td>
			<td  colspan="5"><input  type="text"  id="ZX_ZC_INFO" name="ZX_ZC_INFO" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>家庭财务情况:</td>
			<td  colspan="5"><input  type="text"  id="ZX_CW_INFO" name="ZX_CW_INFO" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>工作生活情况:</td>
			<td  colspan="5"><input  type="text"  id="ZX_GZSH_INFO" name="ZX_GZSH_INFO" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>车辆使用情况:</td>
			<td  colspan="5"><input  type="text"  id="ZX_CLSY_INFO" name="ZX_CLSY_INFO" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>个人信用情况:</td>
			<td  colspan="5"><input  type="text" id="ZX_GRXY_INFO" name="ZX_GRXY_INFO" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>疑点类别:</td>
			<td  colspan="5">#foreach($item in $!type)<input type="radio" name="ZX_YD_TYPE" value="$!item.CODE"/>$!item.FLAG#end</td>
		</tr>
		<tr>
			<td>疑点内容:</td>
			<td  colspan="5"><input  type="text"  id="ZX_YD_NR" name="ZX_YD_NR" value="" style="width:860px;"/></td>
		</tr>
		<tr>
			<td>客户配合程度:</td>
			<td  colspan="5">#foreach($item in $!peihe)<input type="radio" name="ZX_CUST_PH" value="$!item.CODE"/>$item.FLAG#end</td>
		</tr>
		<tr>
			<td>调查人员：</td>
			<td colspan=""><input type="text" id="ZX_SURVEY" name="ZX_SURVEY" value="" size="35"/></td>
			<td>调查日期:</td>    	
			<td><input  type="text" class="easyui-datebox" id="ZX_SURVEY_TIME" name="ZX_SURVEY_TIME" value="" size="35"/></td>
			<td>调查时间:</td>
    		<td><input  type="text" class="easyui-datebox" id="P_TIME" name="P_TIME" value="" size="35"/></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td  style="text-align: center;" colspan="5">
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-save" onclick="save('ZX','7');">保存</a>
			</td>
		</tr>
	</table>
</form>
	