<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户巡视</title>
	<!-- 路径定义-->
	#set ( $_basePath = $request.ContextPath )
	#parse("content/importBase.vm")
	<script type="text/javascript">
		var _basePath = "$!_basePath";
	</script>
	<script type="text/javascript"  src="$!_basePath/custTour/js/custTour.js"></script>
</head>
<body  class="easyui-layout">
<div  region="center" border="false">
	<div id="pageForm" style="padding:10px;height:auto">	
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td align="right"><label>项目编号：</label></td>
				<td align="left"><input id="PROJ_ID" name="PROJ_ID" size ="25" class="easyui-validatebox paramData" /></td>
				<td align="right"><label>客户名称：</label></td>
				<td align="left"><input id="KHMC" name="KHMC" size ="25" class="easyui-validatebox paramData" /></td>
				<td align="right"><label>供应商：</label></td>
				<td align="left"><input id="DLD" name="DLD" size ="25" class="easyui-validatebox paramData" /></td>
				<td align="left"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="dosearch()">查询</a></td>
				<td align="left"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData()">清空</a></td>
			</tr>
		</table>
	</div>
	<table id="dg" class="easyui-datagrid" pagination="true" data-options="singleSelect:true,pageSize:50,rownumbers:true,url:'$_basePath/custTour/CustTour!pageData.action',toolbar:'#pageForm',fit:true,fitColumns:false">
		<tr>
            <thead>
                <th data-options="field:'PROJ_ID',align:'center',width:200">项目编号</th>
                <th data-options="field:'KHMC',align:'center',width:200">客户名称</th>
                <th data-options="field:'DLD',align:'center',width:200">供应商</th>
                <th data-options="field:'DZ_DATE',align:'center',width:90">验收日期</th>
                <th data-options="field:'TEMP1',align:'center',width:200,formatter:setEquipOperation">设备巡视</th>
                <th data-options="field:'TEMP2',align:'center',width:200,formatter:setContactOperation">交往巡视</th>
                <th data-options="field:'TEMP3',align:'center',width:200,formatter:setClaimOperation">理赔巡视</th>
            </thead>
        </tr>
	</table>
</div>
</body>
</html>