  <table id="cityPriceForUpdTab" cellpadding="0" cellspacing="0" class="table_02" >
	<tr>
		<td  colspan="20"  class="table_th"><input name="TYPE_ID" id="TYPE_ID" type="hidden" value="$!param.TYPE_ID"/>区域价格：
			<input type="button" onclick="copyTrToAddQYJG()"  id="btnAddProduct"  class="ui-corner-all"  value="添加"/>&nbsp;&nbsp;&nbsp;
			<input type="button" onclick="deleteTr('eq_bodyToAdd')"  id="btnAddProduct"  class="ui-corner-all"  value="删除"/>
		</td>
	</tr>
	<tr  class="trHead">
		<td bgcolor="#fbfcfc" width="30">
			<a style="width:30px; display: block; color:#000;">操作</a>
		</td>
		<td bgcolor="#fbfcfc" width="210px">
			<a style="width:210px; display: block; color:#000;">所属区域</a>
		</td>
		<td bgcolor="#fbfcfc"  width="130px" >
			价格
		</td>
		<td bgcolor="#fbfcfc"  width="130px" >
			集采价格
		</td>
		<td bgcolor="#fbfcfc"  width="130px" >
			真实采购价
		</td>
		
		<td bgcolor="#fbfcfc"  width="130px" >
			商业险
		</td>
		<td bgcolor="#fbfcfc"  width="130px" >
			交强险
		</td>
		<td bgcolor="#fbfcfc"  width="130px" >
			车船税
		</td>
	</tr>
	<tbody id="eq_bodyToAdd" >
	  #foreach($cityPriceInfo in $cityPriceList)
		<tr id="eq_body_tr">
			 <td><input name="biaoji" id="biaoji" type="hidden" value="0"/>
	            <input type="checkbox" >
			</td>
			<td>
				<select name="PROJECT_PROVINCE_0_$cityPriceInfo.index" id="PROJECT_PROVINCE_0_$cityPriceInfo.index" class="headClass" onchange="getCity(this);">
					<option value="">--请选择--</option>	
					#foreach($item in $AREAS)
						<option sid="$!item.PROVINCE" #if($!cityPriceInfo.PROVINCE==$!item.ID)selected#end value="$!item.ID">$!item.NAME</option>						
					#end
				</select>
				<select name="PROJECT_CITY_0_$cityPriceInfo.index" id="PROJECT_CITY_0_$cityPriceInfo.index" class="headClass">
					<option value="">--请选择--</option>	
					#foreach($item in $cityPriceInfo.cityList)
						<option #if($!cityPriceInfo.CITY==$!item.ID)selected#end value="$!item.ID">$!item.NAME</option>						
					#end
				</select>
			</td>
			<td>
				<input type="text" name="PRICE_0_$cityPriceInfo.index" value='$!cityPriceInfo.PRICE' style="width: 130px;"/>
			</td>
			<td>
				<input type="text" name="CC_PRICE_0_$cityPriceInfo.index" value='$!cityPriceInfo.CC_PRICE' style="width: 130px;"/>
			</td>
			<td>
				<input type="text" name="REAL_PRICE_0_$cityPriceInfo.index" value='$!cityPriceInfo.REAL_PRICE' style="width: 130px;"/>
			</td>
			
			<td>
				<input type="text" name="SYX_0_$cityPriceInfo.index" value='$!cityPriceInfo.SYX' style="width: 130px;"/>
			</td>
			<td>
				<input type="text" name="JQX_0_$cityPriceInfo.index" value='$!cityPriceInfo.JQX' style="width: 130px;"/>
			</td>
			<td>
				<input type="text" name="CCS_0_$cityPriceInfo.index" value='$!cityPriceInfo.CCS' style="width: 130px;"/>
			</td>
			
		</tr>
	  #end
	</tbody>
	<tr style="display:none"  id="eq_templateToAdd">
		 <td><input name="biaoji" id="biaoji" type="hidden" value="0"/>
            <input type="checkbox" >
		</td>
		<td>
			<select name="PROJECT_PROVINCE" id="PROJECT_PROVINCE" class="headClass" onchange="getCity(this);">
				<option value="">--请选择--</option>	
				#foreach($item in $AREAS)
					<option sid="$!item.PROVINCE" #if($!mapAreaSup.PROV_ID==$!item.ID)selected#end value="$!item.ID">$!item.NAME</option>						
				#end
			</select>
			<select name="PROJECT_CITY" id="PROJECT_CITY" class="headClass">
				<option value="">--请选择--</option>	
				#foreach($item in $cityList)
					<option #if($!mapAreaSup.CITY_ID==$!item.ID)selected#end value="$!item.ID">$!item.NAME</option>						
				#end
			</select>
		</td>
		<td>
			<input type="text" name="PRICE" style="width: 130px;"/>
		</td>
		<td>
			<input type="text" name="CC_PRICE" style="width: 130px;"/>
		</td>
		<td>
			<input type="text" name="REAL_PRICE" style="width: 130px;"/>
		</td>
		<td>
			<input type="text" name="SYX" style="width: 130px;"/>
		</td>
		<td>
			<input type="text" name="JQX" style="width: 130px;"/>
		</td>
		<td>
			<input type="text" name="CCS" style="width: 130px;"/>
		</td>
	</tr>
</table>
<input type="hidden" ID="eq_template_ValueToAdd" value="eq_templateToAdd">
<input type="hidden" ID="eq_body_ValueToAdd" value="eq_bodyToAdd">
<script type="text/javascript">
 var tempIndex = 1;
	function copyTrToAddQYJG() {
		var fromId=$("#eq_template_ValueToAdd").val();
		var toId=$("#eq_body_ValueToAdd").val();
		var tr=$("#"+fromId).clone();
		$(tr).removeAttr("style");
		$(tr).removeAttr("id");
		$(tr).attr("class","eq_body_tr");
		$(tr).find("select[name*=PROJECT_PROVINCE]").attr("name",'PROJECT_PROVINCE_'+tempIndex).attr("id",'PROJECT_PROVINCE_'+tempIndex);
		$(tr).find("select[name*=PROJECT_CITY]").attr("name",'PROJECT_CITY_'+tempIndex).attr("id",'PROJECT_CITY_'+tempIndex);
		$(tr).find("input[name='PRICE']").attr("name",'PRICE_'+tempIndex);
		$(tr).find("input[name='CC_PRICE']").attr("name",'CC_PRICE_'+tempIndex);
		$(tr).find("input[name='REAL_PRICE']").attr("name",'REAL_PRICE_'+tempIndex);
		
		$(tr).find("input[name='SYX']").attr("name",'SYX_'+tempIndex);
		$(tr).find("input[name='JQX']").attr("name",'JQX_'+tempIndex);
		$(tr).find("input[name='CCS']").attr("name",'CCS_'+tempIndex);
		
		$("#"+toId).append(tr);
		$.parser.parse(tr);
		tempIndex++;
	}
	function deleteTr(tbodyId) {
		$("#"+tbodyId+"> tr").each(function (){
			var box=$(this).find(":checkbox");
			if ($(box).attr("checked"))
			{
				$(this).remove();
			}
		});
	}
	
	/**
 * 根据区域id获取城市名称
 * @param ID
 * @return
 */
function getCity(obj) {
	var AREA_ID=$(obj).val();
	var AREA_ID_Index = $(obj).attr('id');
	
	$.ajax({
		url:_basePath+"/project/project!getFilSystemCity.action?AREA_ID="+AREA_ID,
		type:"post",
		dataType:"json",
		success:function (data){
			//将本行的输入框初始化
			$("#PROJECT_CITY"+AREA_ID_Index.replace('PROJECT_PROVINCE','')).each(function (){
				//初始化
				if ($(this).is("select")){
					$(this).empty();
					$(this).append($("<option>").val("").text("--请选择--"));
					
				}
			});
			for(var i=0;i<data.length;i++){
				$("#PROJECT_CITY"+AREA_ID_Index.replace('PROJECT_PROVINCE','')).append($("<option value='"+data[i].ID+"'>"+data[i].NAME+"</option>"));				
			}
		}
	});
}
</script>