#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
<script type="text/javascript" src="$_basePath/rentWriteVinual/js/bank_S_MangerVinual.js"></script>
<script>
        function toSeacher() {
        	var HEAD_ID = $("input[name='HEAD_ID']").val();
        	var FI_PAY_MONEY = $("input[name='FI_PAY_MONEY']").val();
        	var FI_PAY_DATE1 = $("input[name='FI_PAY_DATE1']").val();
        	var FI_PAY_DATE2 = $("input[name='FI_PAY_DATE2']").val();
        	var FI_STATUS = $("select[name='FI_STATUS']").attr("selected",true).val();
			var APP_CREATE=$("input[name='APP_CREATE']").val();
			$('#pageTable').datagrid({url:'rentWriteVinual!toAjaxData.action',queryParams:{"HEAD_ID" : HEAD_ID,"FI_PAY_MONEY" : FI_PAY_MONEY,"FI_PAY_DATE1" : FI_PAY_DATE1,"FI_PAY_DATE2" : FI_PAY_DATE2,"FI_STATUS" : FI_STATUS,"APP_CREATE":APP_CREATE}});
        }

function emptyData(){
	$('#pageForm').form('clear');
	$(".paramData").each(function(){
		$(this).val("");
	});
}
</script>
<body class="easyui-layout" style="background-image:none;">
<div region="center" border="false">
	
    <div id="pageForm" style="padding:20px;height:auto;" border="true">
		<table cellspacing="5" cellpadding="0" border="0">
            <tr>
                <td align="right" style="color:#15428b;">付款单号：</td>
				<td align="left"><input type="text" class="paramData"  name="HEAD_ID"/></td>
				<td align="right" style="color:#15428b;">付款金额：</td>
				<td align="left"><input type="text" class="paramData"  name="FI_PAY_MONEY"/></td>
				<td align="right" style="color:#15428b;">申请人：</td>
				<td align="left"><input type="text" class="paramData"  name="APP_CREATE"/></td>
                <td align="right" rowspan="2">
    				<a class="easyui-linkbutton" iconCls="icon-search" onclick="toSeacher();" href="javascript:void(0);">查询</a>
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData();">清空</a>
					#if($!SUP_ID || $!COMPANY_ID)
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="toAppPaymentSUPP();">添加</a>
					#else
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="toAppPayment();">添加</a>
					#end
    				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="toSubmitPayment();">提交</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-invalid" onclick="toZuoFPayment();">作废</a>
			   </td>
			</tr>
            <tr><td colspan="5" height="3"></td></tr>
            <tr>
				
				<td align="right" style="color:#15428b;">确认状态：</td>
				<td align="left"><select name="FI_STATUS" class="paramData" >
						<option value="">--请选择--</option>
        				#foreach($ite in $!checkedStatus)
        					#if($!ite.CODE != "-1" && $!ite.CODE != "1")
        						<option value="$!ite.CODE">
									$!ite.FLAG
                                </option>
        				    #end
        			    #end</select></td>
				<td align="right" style="color:#15428b;">计划还款日：</td>
				<td ><input type="text"  class="easyui-datebox" name="FI_PAY_DATE1" id="FI_PAY_DATE1"/>-<input type="text"  class="easyui-datebox" name="FI_PAY_DATE2" id="FI_PAY_DATE2"/></td>
                <td colspan="4" align="center"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="exportData('select')">导出选中</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="exportData('all')">全导出</a></td>
			</tr>
        </table>
		<div style="height:10px;text-align:center"> </div>
    		<hr />
	</div>
	
	 <table id="pageTable">
         
	</table>
</div>

<div id="divFrom"></div>
</body>