#if($param.QD && $!param.QD=='show')
	#parse("content/importBase.vm")
#end
<script type="text/javascript">
$(function() {
		$("#showPage").html("");
    	$("#showPage").load(_basePath+"/analysisBySynthesis/BankWater!queryBank.action?CLIENT_ID=$!param.CUST_ID&CREDIT_ID=$!param.CREDIT_ID");
		
});

function changeTab(tabThis) {
	$(".tab01-nav_active").attr("class", "tab01-nav");
	$(tabThis).attr("class", "tab01-nav_active");
	var pageType = $(".tab01-nav_active").attr("page");	
	if(pageType=="index"){
    	$("#showPage").html("");
    	$("#showPage").load(_basePath+"/customers/FinancialStatistics!searchTask.action?SORT=4&CUST_ID=$!param.CUST_ID&CREDIT_ID="+$("#CREDIT_ID").val());
	}else if(pageType=="yingli"){
		$("#showPage").html("");
    	$("#showPage").load(_basePath+"/analysisBySynthesis/RepaymentSource!queryForProfit.action?CUST_ID=$!param.CUST_ID&CREDIT_ID="+$("#CREDIT_ID").val());
	}else if(pageType=="xiaofei"){
		$("#showPage").html("");
    	$("#showPage").load(_basePath+"/analysisBySynthesis/RepaymentSource!toAddConsumptIonaim.action?CUST_ID="+$("#CUST_ID").val()+"&CREDIT_ID="+$("#CREDIT_ID").val());
	}else if(pageType=="yinghang"){
		$("#showPage").html("");
    	$("#showPage").load(_basePath+"/analysisBySynthesis/BankWater!queryBank.action?CLIENT_ID="+$("#CUST_ID").val()+"&CREDIT_ID="+$("#CREDIT_ID").val());
	}
}
</script>
<script type="text/javascript" src="$_basePath/analysisBySynthesis/js/jquery.parser.js"></script>
<script type="text/javascript" src="$_basePath/analysisBySynthesis/forProfit/js/toAddForProfit.js"></script>
<script type="text/javascript" src="$_basePath/analysisBySynthesis/consumptIonaim/js/toAddConsumptIonaim.js"></script>
<script type="text/javascript" src="$_basePath/analysisBySynthesis/bankwater/js/toMgBankwater.js"></script>
<body style="padding:0; margin:0px;">
<script type="text/javascript">
$(function() {
		$("#showPage1").html("");
    	$("#showPage1").load(_basePath+"/analysisBySynthesis/BankWater!queryBank.action?CLIENT_ID=$!param.CUST_ID&CREDIT_ID=$!param.CREDIT_ID");
		
});

function changeTab1(tabThis) {
	$(".tab01-nav_active").attr("class", "tab01-nav");
	$(tabThis).attr("class", "tab01-nav_active");
	var pageType = $(".tab01-nav_active").attr("page");	
	if(pageType=="index"){
    	$("#showPage1").html("");
    	$("#showPage1").load(_basePath+"/customers/FinancialStatistics!searchTask.action?SORT=4&CUST_ID=$!param.CUST_ID&CREDIT_ID="+$("#CREDIT_ID").val());
	}else if(pageType=="yingli"){
		$("#showPage1").html("");
    	$("#showPage1").load(_basePath+"/analysisBySynthesis/RepaymentSource!queryForProfit.action?CUST_ID=$!param.CUST_ID&CREDIT_ID="+$("#CREDIT_ID").val());
	}else if(pageType=="xiaofei"){
		$("#showPage1").html("");
    	$("#showPage1").load(_basePath+"/analysisBySynthesis/RepaymentSource!queryConsumptIonaim.action?CUST_ID="+$("#CUST_ID").val()+"&CREDIT_ID="+$("#CREDIT_ID").val());
	}else if(pageType=="yinghang"){
		$("#showPage1").html("");
    	$("#showPage1").load(_basePath+"/analysisBySynthesis/BankWater!queryBank.action?CLIENT_ID="+$("#CUST_ID").val()+"&CREDIT_ID="+$("#CREDIT_ID").val());
	}
}
</script>
	        <input  type="hidden" name="CUST_ID" id="CUST_ID" value="$!param.CUST_ID"/>
			<input  type="hidden" name="CREDIT_ID" id="CREDIT_ID" value="$!param.CREDIT_ID"/>
	<div region="north" class="tab01">
        <div class="tab01-th">
    		<ul class="tab01_title">
				<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav_active" onclick="changeTab1(this);" page="yinghang">银行流水</a></li>
    		<!--	<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="changeTab1(this);" page="index">财务指标</a></li>-->
    			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="changeTab1(this);" page="yingli">收支分析</a></li>
##    			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="changeTab1(this);" page="yingli">还款来源分析-盈利目的</a></li>
##    			<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="changeTab1(this);" page="xiaofei">还款来源分析-消费目的</a></li>
    			##<li style="list-style:none;"><a href="javascript:void(0);" class="tab01-nav" onclick="changeTab(this);" page="4">财务指标</a></li>
    		</ul>
      </div>
    </div>
    <div id="showPage1" region="center" border="false" style="height:100%">
    </div>
</body>