<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<title>租金扣划-申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		
		<script type="text/javascript"  src="$_basePath/Index.action_files/js/easyui-rtl.js"></script>
		<link  rel="stylesheet" type="text/css" href="$_basePath/Index.action_files/css/easyui-rtl.css"/>
		<script type="text/javascript" src="$_basePath/litigation_case/js/litigation.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td align="right">客户名称：</td><td  align="left"><input name="CUST_NAME" id="CUST_NAME" type="text" size="18" value="$!param.CUST_NAME" class="paramData"></td>
                    <td align="right">项目编号：</td><td align="left"><input name="PRO_CODE" id="PRO_CODE" type="text" size="18" value="$!param.PRO_CODE" class="paramData"></td>
					<td align="right">还款计划：</td><td align="left"><input name="PAYLIST_CODE" id="PAYLIST_CODE" type="text" size="18" value="$!param.PAYLIST_CODE" class="paramData"></td>
					<td align="center">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='seach();'>查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
                    </td>
				</tr>
          </table>
		</div>
		
        <table id="litigation_MG">
            
		 </table>
</div>
	<div class="easyui-dialog" align="left" title="添加案件记录" style="width:700px;height:350px;padding:10px" id="LITIG_CASE">
            <table class="table_01" cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td align="right">客户名称</td>
					<td align="left">
						<input name="CUST_NAME_C" id="CUST_NAME_C" value="" type="text" readonly>
						<input name="CUST_ID_C" id="CUST_ID_C" value="" type="hidden">
					</td>
					<td align="right">项目编号</td>
					<td align="left">
						<input name="PROJECT_CODE_C" id="PROJECT_CODE_C" value="" type="text" readonly>
						<input name="PROJECT_ID_C" id="PROJECT_ID_C" value="" type="hidden">
					</td>
				</tr>
				<tr>
					<td align="right">还款计划编号</td>
					<td align="left">
						<input name="PAYLIST_CODE_C" id="PAYLIST_CODE_C" value="" type="text" readonly>
						<input name="PAYLIST_ID_C" id="PAYLIST_ID_C" value="" type="hidden">
					</td>
					<td align="right">供应商</td>
					<td align="left">
						<input name="SUPPER_NAME_C" id="SUPPER_NAME_C" value="" type="text" readonly>
						<input name="SUPPER_ID_C" id="SUPPER_ID_C" value="" type="hidden">
					</td>
				</tr>
				<tr>
					<td align="right">区域</td>
					<td align="left">
						<input name="AREA_NAME_C" id="AREA_NAME_C" value="" type="text" readonly>
						<input name="AREA_ID_C" id="AREA_ID_C" value="" type="hidden">
					</td>
					<td align="right">案件名称</td>
					<td align="left">
						<input name="TITLE_NAME_C" id="TITLE_NAME_C" value="" >
					</td>
				</tr>
				<tr>
					<td align="right">案件编号</td>
					<td align="left">
						<input name="CASE_CODE_C" id="CASE_CODE_C" value="">
					</td>
					<td align="right">涉嫌金额(元)</td>
					<td align="left">
						<input name="ALLEGED_MONEY_C" id="ALLEGED_MONEY_C" value="" onkeyup="doubleValue(this)">
					</td>
				</tr>
				<tr>
					<td align="right">管辖法院</td>
					<td align="left">
						<input name="AREA_COURT_C" id="AREA_COURT_C" value="">
					</td>
					<td align="right">法院联系方式</td>
					<td align="left">
						<input name="COURT_TEL_C" id="COURT_TEL_C" value="" onchange="phoneValue(this)">
					</td>
				</tr>
				<tr>
					<td align="center" colspan="4"><input type="radio" name="LAW_TYPE_C" id="LAW_TYPE_C" value="0" checked/>我司作为原告 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="LAW_TYPE_C" id="LAW_TYPE_C" value="1"/>我司作为被告  &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="LAW_TYPE_C" id="LAW_TYPE_C" value="2"/>执行异议或其他)</td>
				</tr>
				<tr>
					<td align="right">说明</td>
					<td align="left" colspan="3">
						<textarea name="REMARK_C" id="REMARK_C" cols="70" rows="3"> </textarea>
					</td>
				</tr>
				<tr height="30">
					<td colspan="4" align="center"><input type="button" value="保存" class="Button btnn" onclick="subLitigation()"></td>
				</tr>
			</table>
		</div>

	<div id="divFrom"></div>
	<script>
		function seach(){
			var PRO_CODE=$("input[name='PRO_CODE']").val();
			var PAYLIST_CODE=$("input[name='PAYLIST_CODE']").val();
			var CUST_NAME=$("input[name='CUST_NAME']").val();
			$('#litigation_MG').datagrid('load', {"PRO_CODE":PRO_CODE,"PAYLIST_CODE":PAYLIST_CODE,"CUST_NAME":CUST_NAME});
		}
    </script>
</body>
</html>