<title>档案借阅申请</title>
 #parse("content/importBase.vm")

     <table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
            <td class="text_right">状态</td>
    		<td>社会案例 &nbsp; </td>
            <td class="text_right">案件编号</td>
            <td>$!param.S_CASE_CODE &nbsp;</td>
			<td class="text_right">案件名称</td>
            <td>$!param.S_TITLE_NAME &nbsp;</td>
			<td class="text_right">管理法院</td>
            <td>$!param.S_AREA_COURT &nbsp;</td>
			<td class="text_right">涉案金额</td>
            <td>$!param.S_ALLEGED_MONEY &nbsp;</td>
        </tr>
	</table>
	
	<DIV style="height:20PX"></DIV>
		
		<table  cellpadding="0" cellspacing="0" class="table_01">
			<tr>
                <td class="text_right">诉讼结果</td>
        		<td>$!param.RESULT_NAME &nbsp;</td>
                <td class="text_right">开庭时间</td>
                <td>$!param.S_TRIAL_DATE &nbsp;</td>
    			<td class="text_right">结案时间</td>
                <td>$!param.S_TRIAL_END &nbsp;</td>
            </tr>
			<tr>
				<td class="text_right">记录</td>
				<td colspan="5"><textarea cols="100%" rows="3" name="S_JILU" id="S_JILU" disabled>$!param.S_JILU</textarea></td>
			</tr>
			<tr>
				<td class="text_right">诉讼资料上传</td>
				<td colspan="5">
					#if($!param.FILEPATH_NAME) <a  href="litigationCase!downLoadRecordFile.action?file_url=$!param.FILEPATH&file_name=$!param.FILEPATH_NAME"  >&nbsp;$!param.FILEPATH_NAME （下载）</a> #end
				</td>
			</tr>
			<tr>
				<td class="text_right">分析</td>
				<td colspan="5"><textarea cols="100%" rows="3" name="S_FENXI" id="S_FENXI" disabled>$!param.S_FENXI</textarea></td>
			</tr>
        </table>
    </form>
    </table>
