<!DOCTYPE HTML>
<html>
	<head>
		<title>菜单管理</title>
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/systemManagement/js/menu.js"></script>
		<script type="text/javascript">
			$(function(){
			    $('#menu').tree({
               		url:'$_basePath/systemManagement/Menu!getMenuTree.action'
                });
			});
        </script>
    </head>
    <body>
		<ul id="menu"></ul>
    </body>
</html>