<div region="center" border="false" fit="true">
	<table class="easyui-datagrid" title="" style="" shadow="false" data-options="fil:true,fitColumns:'true',singleSelect:true,collapsible:true,url:'$_basePath/customers/Customers!toViewRelationDetail.action?CLIENT_ID=$!param.CLIENT_ID&TYPE=$!param.TYPE&tab=child&flag=view',method:'get'">
		<thead >
    		<tr >
    			<th data-options="field:'LINK_NAME',width:100">姓名</th>
    			<th data-options="field:'LINK_IDCARD',width:120">身份证</th>
				<th data-options="field:'LINK_SEX',width:80">性别</th>
    			<th data-options="field:'LINK_BIRTHDAY',width:100">出生日期</th>
				<th data-options="field:'PHYSICAL_STATE',width:50">身体状况</th>
				<th data-options="field:'LINK_WORK_UNITS',width:250">工作单位</th>
    			<th data-options="field:'REMARK',width:300">备注</th>
            </tr>
        </thead>
    </table>
</div>