<!DOCTYPE html>
<html>
<head>
	<title>起租债权</title>
	<script type="text/javascript" >
		$(document).ready(function(){
        	var PRO_CODE=$("input[name='PRO_CODE']").val();
			var LEASE_CODE=$("input[name='LEASE_CODE']").val();
			var CUST_NAME=$("input[name='CUST_NAME']").val();
			
        	$("#pageTable").datagrid({
        		url:_basePath+"/fiReport/FiReport!getFiStartPageAjax.action",
        		pagination:true,//是否分页 true为是
        		rownumbers:true,//左侧自动显示行数
        		singleSelect:true,
        		fit : true,
        		pageSize:20,
        		fitColumns:true,
        		toolbar:'#pageForm',
        		queryParams:{"PRO_CODE":PRO_CODE,"LEASE_CODE":LEASE_CODE,"CUST_NAME":CUST_NAME},
        		columns:[[
        				    {field:'ROWNO',title:'序号',width:70,align:'center'},
        				    {field:'START_DATE',title:'起租日期',width:100,align:'center'},
        				    {field:'LEASE_CODE',title:'合同号',width:130,align:'center'},
        			      	{field:'SUPPLIERS_NAME',title:'经销商',width:180,align:'center'},
        			        {field:'CUST_NAME',title:'客户名称',width:180,align:'center'},
        			      	{field:'CAR_TYPE',title:'车辆类型',width:130,align:'center'},
        			      	{field:'BJ_MONEY',title:'融资额(本金)',width:130,align:'center'},
							{field:'LX_MONEY',title:'利息总额',width:130,align:'center'},
							{field:'TOTAL_MONEY',title:'总计还款金额',width:130,align:'center'}
        			     ]]
        	});
        });
	</script>
</head>
<body>
    <table id="pageTable" fit="true" ></table>
</body>
</html>