<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	#parse("content/importBase.vm")		
	<title>客户保证金期末冲抵提醒</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript">
		var sysaccountDialog;
			$(function(){
				sysaccountDialog=$(".sysaccountDialog");
				$(".sysaccount").click(function(){
					sysaccountDialog.load("$_basePath/cashBzjQmth/CashBzjQmth!getBankInfo.action");
					sysaccountDialog.dialog({
						autoOpen:true,
						width:500,
						height:400,
						title:'公司帐户信息',
						modal:true
					});
				});
				
			});
			function aa(FA_ACCOUNT,FA_BINK){
				$(".sysaccountCode").val(FA_ACCOUNT);
				$("#dvF input[name='FA_BINK']").val(FA_BINK);
				sysaccountDialog.dialog("close");
			}
		function startApplay(){
			var RENT_PLAN_HEAD_ID = $("#dvT input[name='ID']").val();
			var DEPOSIT_SY = $("#dvF input[name='DEPOSIT_SY']").val();
			var GOBACK_TIME = $("#dvF input[name='GOBACK_TIME']").val();
			var BANK_ACCOUNT = $("#dvF input[name='BANK_ACCOUNT']").val();
			var BANK_NAME = $("#dvF input[name='BANK_NAME']").val();
			var FA_ACCOUNT = $("#dvF input[name='FA_ACCOUNT']").val();
			var FA_BINK = $("#dvF input[name='FA_BINK']").val();
			var FA_NAME = '$!map.FA_NAME';
			var PAYLIST_CODE = '$!map.PAYLIST_CODE';
            var CUST_NAME = '$!map.NAME';
			jQuery.ajax({
				url:'$_basePath/cashBzjQmth/CashBzjQmth!getDeposit_syInfo.action',
				data:'PAYLIST_CODE='+PAYLIST_CODE,
				dataType:'json',
				success:function(js){
					if(js.flag==true){
    					var sy_money = js.data.DEPOSIT_SY;
    					if(DEPOSIT_SY==''||DEPOSIT_SY<=0 || DEPOSIT_SY>sy_money){
            				return $.messager.alert("提示","退回客户保证金不能为空，并且在区间 (0 , "+sy_money+"] 之间！！");
            			}else{
            				if(GOBACK_TIME==''){
        						return $.messager.alert("提示","保证金退还时间不能为空！！");
            				}else{
            					if(BANK_ACCOUNT=='' || BANK_NAME==''){
            						return $.messager.alert("提示","收款账号和银行不能为空！！");
            					}else{
            						if(FA_ACCOUNT==''){
            							return $.messager.alert("提示","付款账号和银行不能为空！！");
            						}else{
            							jQuery.ajax({
                            				url:'$_basePath/cashBzjQmth/CashBzjQmth!checkApplay_QMTH.action?ID='+RENT_PLAN_HEAD_ID,
                            				dataType:'json',
                            				success:function(jsonId){
                            					if(jsonId.data==25){
                            						return $.messager.alert("锁定提示","流程已经被发起,请刷新页面在操作！");
                            					}else{
                            						jQuery.ajax({
                                        				url:'$_basePath/cashBzjQmth/CashBzjQmth!startApplay_QMTH.action',
                                        				dataType:'json',
                        								data:{
                        									'RENT_PLAN_HEAD_ID':RENT_PLAN_HEAD_ID,
                        									'STATUS':jsonId.data,
                        									'DEPOSIT_SY':DEPOSIT_SY,
                        									'FA_NAME':FA_NAME,
                        									'FA_ACCOUNT':FA_ACCOUNT,
                        									'FA_BINK':FA_BINK,
                        									'GOBACK_TIME':GOBACK_TIME,
                        									'PAYLIST_CODE':PAYLIST_CODE,
                        									'CUST_NAME':CUST_NAME,
            												'BANK_ACCOUNT':BANK_ACCOUNT,
            												'BANK_NAME':BANK_NAME
                        								},
                                        				success:function(json){
                                        					if(json.flag==true){
                                        						$.messager.alert("提示","流程发起成功！！",'info',function(){
                                        							$.messager.alert("提示",""+json.msg+json.data,'info',function(){
                                        							   window.location.href="$_basePath/cashBzjQmth/CashBzjQmth.action";	
                                        							});
                                        						});
                                        					}
                                        				}
                                        			});
                            					}
                            				}
                            			});
            						}
            					}
                			}
						}
            		}
				}
			});
		}
	</script>
</head>
<body>
	<div >
		<div id="dvF" style="padding:20px;height:auto" border="true">
			<table cellspacing="0" cellpadding="2" border="0" width="100%" class="table_01">
				<tr>
					<td align="right">还款表状态：</td>
					<td align="left">
						<span>
							#if($!map.STATUS==3)
							正常结清
							#elseif($!map.STATUS==6)
							提前结清
							#elseif($!map.STATUS==25)
							期末退回申请中
							#end
						</span>
						
					</td>
					<td align="right">合同编号：</td>
					<td align="left">$!map.LEASE_CODE</td>
					<td align="right">项目编号：</td>
					<td align="left">$!map.PRO_CODE</td>
                </tr>
				<tr>
					<td align="right">客户：</td>
					<td align="left">$!map.NAME</td>
					<td align="right">客户联系电话：</td>
					<td align="left">$!map.TEL_PHONE</td>
					<td align="right">客户经理：</td>
					<td align="left">$!map.MANAGER_NAME</td>
				</tr>
				<tr>
					<td align="right">还款计划编号：</td>
					<td align="left">$!map.PAYLIST_CODE</td>
					<td align="right">保证金金额：</td>
					<td align="left">
						<input type="text" name="DEPOSIT_SY" style="width:auto;height:auto" style="width:150px" /><span style="color:red">*不能为空</span>
					</td>
					<td align="right">创建时间：</td>
					<td align="left">$!map.CREATE_TIME</td>
				</tr>
				<tr>
					<td align="right">收款账号</td>
					<td align="left" ><input name="BANK_ACCOUNT" value="$!map.BANK_ACCOUNT" style="width:150px" /></td>
					<td align="right">收款开户行</td>
					<td align="left" ><input name="BANK_NAME" value="$!map.BANK_NAME" style="width:150px" /></td>
					<td align="right">保证金退回时间</td>
					<td align="left" ><input name="GOBACK_TIME" class="easyui-datebox" required="true" /></td>
				</tr>
				<tr>
					<td align="right">付款户名</td>
					<td align="left" >$!map.FA_NAME</td>
					<td align="right">付款账号</td>
					<td align="left" >
						<input type="text" readonly class="sysaccountCode sysaccount noEmpty" name="FA_ACCOUNT" style="width:152px"/>
				    </td>
					<td align="right">付款开户行</td>
					<td align="left" >
						<input readonly name="FA_BINK" style="width:150px" value="" />
					</td>
				</tr>
            </table>
		</div>
		<div class="sysaccountDialog ui-jqgrid"></div>
		<div id="dvT">
			<input name="ID" value="$!map.ID" type="hidden" />
			<center><a href="javascript:void(0);" class="easyui-linkbutton" onclick="startApplay();">发起流程</a></center>
		</div>
		<hr/>
		<div>
			<span style="color:red">还款计划表</span>
			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="table_01">
				<tr>
					<td align="center">期次</td>
					<td align="center">应收时间</td>
					<td align="center">类型</td>
					<td align="center">应收金额</td>
					<td align="center">实收金额</td>
					<td align="center">未收金额</td>
					<td align="center">总期数</td>
				</tr>
				#foreach($!item in $!list)
					<tr style="padding:20px;height:auto">
    					<td align="center">$!item.BEGINNING_NUM</td>
    					<td align="center">$!item.BEGINNING_RECEIVE_DATA</td>
    					<td align="center">#if($!item.ITEM_FLAG==1) 首期款 #elseif($!item.ITEM_FLAG==2) 租金 #elseif($!item.ITEM_FLAG==3) 保证金 #end</td>
    					<td align="right">$!item.YS_MONEY</td>
    					<td align="right">$!item.SS_MONEY</td>
    					<td align="right">$!item.WS_MONEY</td>
    					<td align="center">$!item.LEASE_TERM</td>
					</tr>
				#end
            </table>
		</div>
	</div>
</body>
</html>