<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		#parse("content/importBase.vm")		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript">
		$(function(){
			$("#pageTab").datagrid({
					url:"$_basePath/cashDeposit/CashDeposit!getBzjSYRecord.action?PAYLIST_CODE=$!PAYLIST_CODE",
					fit:true,
					fitColumns:true,
					rownumbers:true,
					pagination:false,
					columns:[[
						{field:'PAYLIST_CODE',title:'支付表编号',width:200,align:'center'},
						{field:'BEGIN_BZJ',title:'原始保证金',width:200,align:'center'},
						{field:'SY_BZJ',title:'剩余保证金',width:200,align:'center'},
						{field:'CREATE_TIME',title:'创建时间',width:200,align:'center'},
						{field:'OPERATOR_MAN',title:'操作人',width:200,align:'center'},
						{field:'REMARK',title:'备注',width:200,align:'center'},
						{field:'TYPE',title:'类型',width:200,align:'center'}
					]]
			});
		});
	</script>	
	</head>
	<body>
		<table id="pageTab"></table>
	</body>
</html>