
<div region="center" border="false" fit="true">
	#if($!param.tab_1=="update")
    <div id="equipmentForm" style="height:auto;" border="true">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td >
					<a  href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addEquipment()">
								添加
					</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="openUpdateEquipment()">
								修改
					</a>
					<a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon-remove',plain:true" onclick="delEquipment()">
								删除
					</a>
                </td>
            </tr>
        </table>
    </div>
	#end
    <table fitColumns="true" id="equipmentTable" cellspacing="0" cellpadding="0" border="0" class="easyui-datagrid" style="" pagination="false" data-options="rownumbers:true,rownumbers:true,autoRowHeight:false,singleSelect:true,url:'$_basePath/base/suppliersInfo/AssetsDossier!doSelectEquipment.action?SUP_ID='+$!param.SUP_ID,toolbar:'#pForm'">
            <thead>
        <tr>
                <th data-options="field:'EQUIPMENT_NAME',width:30,formatter:setCallLogTool">
                    设备名称 
                </th>
                <th data-options="field:'TYPE_ID',width:30,formatter:setCallLogTool">
                    设备型号
                </th>
                <th data-options="field:'OWNER_NAME',width:30,formatter:setCallLogTool">
                    所有人
                </th>
                <th data-options="field:'EQUIPMENT_PRICE',width:30,formatter:setCallLogTool">
                    单价(万元)
                </th>
                <th data-options="field:'EQUIPMENT_NUMBER',width:30,formatter:setCallLogTool">
                    数量
                </th>				 				  				
                <th data-options="field:'EQUIPMENT_VALUATION',width:30,formatter:setCallLogTool">
                    估值(万元)
                </th>
                <th data-options="field:'EQUIPMENT_PROFIT',width:30,formatter:setCallLogTool">
                    收益(万元)
                </th>
                <th data-options="field:'BUY_TIME',width:30,formatter:setCallLogTool">
                    购买时间
                </th>
				<th data-options="field:'CREATE_COMPANY',width:30,formatter:setCallLogTool">
                    生产厂家
                </th>
				<th data-options="field:'SUP_NAME',width:30,formatter:setCallLogTool">
                    经销商
                </th>
				##<th data-options="field:'PERIOD',formatter:setCallLogTool">   付款期限 </th>
				<th data-options="field:'PAY_REMARK',width:30,formatter:setCallLogTool">
                    付款情况
                </th>
				<th data-options="field:'BILL_NUM',width:30,formatter:setCallLogTool">
                    发票号
                </th>
				<th data-options="field:'BILL_DATE',width:30,formatter:setCallLogTool">
                    发票日期
                </th>
				<th data-options="field:'PERIOD_MONTH',width:30,formatter:setCallLogTool">
                    付款期限(月)
                </th>
                <th data-options="field:'REMARK',width:30,formatter:setCallLogTool">
                    备注
                </th>
        </tr>
            </thead>
    </table>
</div>
## 添加设备
<div id="equipmentDialog" modal="true"  class="easyui-dialog" style="width:600px;height:auto" closed="true" buttons="#equipment-buttons">
    <form id="equipmentAdd" method="post">
    	<input type="hidden" id="equipment_SUP_ID" name="SUP_ID" value="$!param.SUP_ID">
        <table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>
                    设备名称：
                </td>
                <td>
                    <input type="text" name="EQUIPMENT_NAME" size="20">
                </td>
                <td>
                    设备型号：
                </td>
                <td>
                	<input type="text" name="TYPE_ID" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    所有人：
                </td>
                <td>
                    <input type="text" name="OWNER_NAME" size="20">
                </td>
                <td>
                    单价(万元)：
                </td>
                <td>
                    <input type="text" name="EQUIPMENT_PRICE" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    数量：
                </td>      
                <td>
                    <input type="text" name="EQUIPMENT_NUMBER" size="20">
                </td>
                <td>
                    估值(万元)：
                </td>
                <td>
                    <input type="text" name="EQUIPMENT_VALUATION" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    收益(万元)：
                </td>
                <td >
                    <input type="text" name="EQUIPMENT_PROFIT" size="20">
                </td>
                <td>
                    购买时间：
                </td>
                <td >
                    <input type="text" name="BUY_TIME" id="BUY_TIME" class="easyui-datebox"/>
                </td>
            </tr>
			
			
			
            <tr>
                <td>
                    生产厂家：
                </td>
                <td >
                    <input type="text" name="CREATE_COMPANY" size="20">
                </td>
                <td>
                    经销商：
                </td>
                <td >
                    <input type="text" name="SUP_NAME" size="20">
                </td>
            </tr>
            <tr>
               <td>
                    付款期限(月)：
                </td>
                <td>
                    <input type="text" name="PERIOD_MONTH" size="20">
                </td>
                <td>
                    付款情况：
                </td>
                <td >
                    <input type="text" name="PAY_REMARK" size="20">
                </td>
            </tr>
			
            <tr>
                <td>
                    发票号：
                </td>
                <td >
                    <input type="text" name="BILL_NUM" size="20">
                </td>
                <td>
                    发票日期：
                </td>
                <td >
                    <input type="text" name="BILL_DATE" id="BILL_DATE" class="easyui-datebox"/>
                </td>
            </tr>
            <tr>
                <td>
                    备注：
                </td>
                <td colspan="3">
                    <textarea name="REMARK" cols=60>
                    </textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="equipment-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="if(validForm('equipmentAdd')) saveEquipment()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#equipmentDialog').dialog('close')">关闭</a>
</div>



## 修改设备
<div id="equipmentUpdateDialog" modal="true"  class="easyui-dialog" style="width:600px;height:auto" closed="true" buttons="#equipment-Update">
    <form id="equipmentUpdate" method="post">
    	<input type="hidden" id="equipment_SUP_ID" name="SUP_ID" value="$!param.SUP_ID">
        <table cellpadding="0" cellspacing="0" class="table_01">
        	<input type="hidden" id="UPDATE_ID" name="ID">
            <tr>
                <td>
                    设备名称：
                </td>
                <td>
                    <input type="text" id="UPDATE_EQUIPMENT_NAME" name="EQUIPMENT_NAME" size="20">
                </td>
                <td>
                    设备型号：
                </td>
                <td>
                	<input type="text" id="UPDATE_TYPE_ID"  name="TYPE_ID" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    所有人：
                </td>
                <td>
                    <input type="text" id="UPDATE_OWNER_NAME"  name="OWNER_NAME" size="20">
                </td>
                <td>
                    单价(万元)：
                </td>
                <td>
                    <input type="text" id="UPDATE_EQUIPMENT_PRICE"  name="EQUIPMENT_PRICE" size="20">
                </td> 
            </tr>
            <tr>
                <td>
                    数量：
                </td>      
                <td>
                    <input type="text" id="UPDATE_EQUIPMENT_NUMBER"  name="EQUIPMENT_NUMBER" size="20">
                </td>
                <td>
                    估值(万元)：
                </td>
                <td>
                    <input type="text" id="UPDATE_EQUIPMENT_VALUATION"  name="EQUIPMENT_VALUATION" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    收益(万元)：
                </td>
                <td >
                    <input type="text" id="UPDATE_EQUIPMENT_PROFIT"  name="EQUIPMENT_PROFIT" size="20">
                </td>
                <td>
                    购买时间：
                </td>
                <td >
                    <input type="text" name="BUY_TIME" id="UPDATE_BUY_TIME" class="easyui-datebox"/>
                </td>
            </tr>
			
			
			
            <tr>
                <td>
                    生产厂家：
                </td>
                <td >
                    <input type="text" id="UPDATE_CREATE_COMPANY"  name="CREATE_COMPANY" size="20">
                </td>
                <td>
                    经销商：
                </td>
                <td >
                    <input type="text" id="UPDATE_SUP_NAME"  name="SUP_NAME" size="20">
                </td>
            </tr>
            <tr>
               <td>
                    付款期限(月)：
                </td>
                <td>
                    <input type="text" id="UPDATE_PERIOD_MONTH"  name="PERIOD_MONTH" size="20">
                </td>
                <td>
                    付款情况：
                </td>
                <td >
                    <input type="text" id="UPDATE_PAY_REMARK"  name="PAY_REMARK" size="20">
                </td>
            </tr>
			
            <tr>
                <td>
                    发票号：
                </td>
                <td >
                    <input type="text" id="UPDATE_BILL_NUM"  name="BILL_NUM" size="20">
                </td>
                <td>
                    发票日期：
                </td>
                <td >
                    <input type="text" name="BILL_DATE" id="UPDATE_BILL_DATE" class="easyui-datebox"/>
                </td>
            </tr>
            <tr>
                <td>
                    备注：
                </td>
                <td colspan="3">
                    <textarea name="REMARK" id="UPDATE_EQUIPMENT_REMARK" cols=60>
                    </textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="equipment-Update">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="updateEquipment()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#equipmentUpdateDialog').dialog('close')">关闭</a>
</div>
