
<div region="center" border="false" fit="true">
    <table fitColumns="true" id="estateTable" class="easyui-datagrid" cellspacing="0" cellpadding="0" border="0" pagination="false" data-options="rownumbers:true,autoRowHeight:false,singleSelect:true,url:'$_basePath/base/suppliersInfo/AssetsDossier!doSelectEstate.action?SUP_ID='+$!param.SUP_ID,toolbar:'#pForm'">
        <tr>
            <thead>
                <th data-options="field:'OWNER_NAME',width:30">
                    所有人
                </th>
                <th data-options="field:'ESTATE_AREA',width:30">
                    土地面积(㎡) 
                </th>
                <th data-options="field:'ESTATE_ADDR',width:30">
                    地址
                </th>
                <th data-options="field:'ESTATE_VALUATION',width:30">
                    估值(万元)
                </th>
                <th data-options="field:'ESTATE_PROFIT',width:30">
                    收益(万元)
                </th>
                <th data-options="field:'BUY_TIME',width:30">
                    购买时间
                </th>
                <th data-options="field:'REMARK',width:30">
                    备注
                </th>
            </thead>
        </tr>
    </table>
</div>


