#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/datalist/js/datalistMg.js"></script>
 <style>
	html,body{margin:200px 400px;}
	#search{color:#aaa;border:1px solid #CC0000;padding:1px; }
</style> 
<body class="easyui-layout">
	<div region="center" border="false">
		<div id="pageForm" style="padding: 20px ">
			<table border="0" cellpadding="4" cellspacing="0">
				<tr >
					<td style="text-align:right">
        				权证名称：
                    </td>
					<td >
						<input name="WARRANT_NAME" id="WARRANT_NAME"  style="width:100px" />
                    </td>
					
					<td style="text-align:right">
        				权证类别：
                    </td>
					<td >
						<select class="easyui-combobox" editable="false"  name="WARRANT_TYPE" id="WARRANT_TYPE" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!listType)	
								<option value="$!item.CODE" #if($!item.CODE == $!listType.CODE)selected#end>$!item.FLAG</option>
						#end
						 </select>
                    </td>
					<td style="text-align:right">
        				权证级别：
                    </td>
					<td >
						<select class="easyui-combobox" editable="false"  name="WARRANT_GRADE" id="WARRANT_GRADE" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list)	
								<option value="$!item.CODE" #if($!item.CODE == $!list.CODE)selected#end>$!item.FLAG</option>
						#end
						 </select>
                    </td>
					
					<td style="text-align:right">
                    </td>
					<td colspan="2">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="conditionsSelect();">查 询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearInput();">清 空</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" onclick="addDataList()">添 加</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-down" onclick="exportExcel()">导出excel</a>
						##<a href="$_basePath/zcfl/TitleStandard!toAssessmentConfigurAddAndUpdate.action" class="easyui-linkbutton" iconCls="icon-add">添 加</a>
                    </td>
				</tr>
            </table>
		</div>
		<table id="pageTable"
			   class="easyui-datagrid"
			   url="DataList!getMgDataListData.action"
			   pagination="true"
			   rownumbers="true"
			   fitColumns="true"
			   fit="true"
			   singleSelect="true"
			   pageSize="20"
			   toolbar="#pageForm"
		>
			<thead>
				<tr>
					<th field="WARRANT_NAME" align="center" width="1">权证名称</th>
					<th field="WARRANT_TYPE" align="center" width="1">权证类别</th>
					<th field="WARRANT_GRADE" align="center" width="1">权证级别</th>
					<th field="CUSTOMER_TYPE" align="center" width="1">客户类型</th>
					<th field="MARRIAGE_SITUATION" align="center" width="1">婚姻情况</th>
					<th field="ID" align="center" width="1" formatter="getOperation">操作</th>
				</tr>
			</thead>
		</table>
    </div>
	
	<div id="dialogDiv" class="easyui-dialog" closed="true" modal="true" resizable="true" style="width:300px; height:280px;">
		<form id="fromDate" >
			<input type="hidden" id="ID1" name="ID"/>
    		<table border="0" cellpadding="5" cellspacing="0">
               <tr>
					<td style="text-align:center " colspan="4">  </td>
				</tr>
				<tr >
    				<td style="text-align:right">
        				权证名称：
                    </td>
					<td >
						<input id="WARRANT_NAME1" class="easyui-validatebox " data-options="required:true"  editable="false" onchange="ifRepeat()" name="WARRANT_NAME" style="width:180px">
                    </td>
				</tr>	
				<tr>
					<td style="text-align:right">
        				权证类别：
                    </td>
					<td >
						<select class="easyui-combobox checkInput" data-options="required:true"  editable="false" name="WARRANT_TYPE" id="WARRANT_TYPE1" style="width: 180px;">
							<option value="">---请选择---</option>
							#foreach($!item in $!listType)
								<option value="$!item.CODE" #if($!item.CODE == $!listType.CODE)selected#end>$!item.FLAG</option>
							#end
						 </select>
                    </td>
				</tr>	
				<tr>
					<td style="text-align:right">
        				权证级别：
                    </td>
					<td >
						<select class="easyui-combobox" data-options="required:true" editable="false"  name="WARRANT_GRADE" id="WARRANT_GRADE1" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list)	
								<option value="$!item.CODE" #if($!item.CODE == $!list.CODE)selected#end>$!item.FLAG</option>
						#end
                        </select>
                    </td>
				</tr>
				<tr>
					<td style="text-align:right">
        				客户类型：
                    </td>
					<td >
						<select class="easyui-combobox" data-options="required:true"  editable="false" name="CUSTOMER_TYPE" id="CUSTOMER_TYPE1" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list1)	
								<option value="$!item.CODE" #if($!item.CODE == $!list1.CODE)selected#end>$!item.FLAG</option>
						#end
                        </select>
                    </td>
				</tr>
				<tr>
					<td style="text-align:right">
        				婚姻情况：
                    </td>
					<td >
						<select class="easyui-combobox" data-options="required:true"  editable="false" name="MARRIAGE_SITUATION" id="MARRIAGE_SITUATION1" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list2)	
								<option value="$!item.CODE" #if($!item.CODE == $!list2.CODE)selected#end>$!item.FLAG</option>
						#end
                        </select>
                    </td>
				</tr>
            </table>
        </form>
    </div>
	<div id="dialogDivShow" class="easyui-dialog" closed="true" modal="true" resizable="true" style="width:300px; height:280px;">
		<form id="fromDate1" >
			<input type="hidden" id="ID1" name="ID"/>
    		<table border="0" cellpadding="5" cellspacing="0">
                <tr>
					<td style="text-align:center " colspan="4">  </td>
				</tr>
				<tr >
    				<td style="text-align:right">
        				权证名称：
                    </td>
					<td >
						<input id="WARRANT_NAME2"   readonly = true editable="false"  name="WARRANT_NAME" style="width:180px">
                    </td>
				</tr>	
				<tr>
					<td style="text-align:right">
        				权证类别：
                    </td>
					<td >
						<select class="easyui-combobox"  readonly = true editable="false" name="WARRANT_TYPE" id="WARRANT_TYPE2" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!listType)	
							
								<option value="$!item.CODE" #if($!item.CODE == $!listType.CODE)selected#end>$!item.FLAG</option>
						#end
						 </select>
                    </td>
				</tr>	
				<tr>
					<td style="text-align:right">
        				权证级别：
                    </td>
					<td >
						<select class="easyui-combobox"  editable="false" readonly = true name="WARRANT_GRADE" id="WARRANT_GRADE2" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list)	
								<option value="$!item.CODE" #if($!item.CODE == $!list.CODE)selected#end>$!item.FLAG</option>
						#end
                        </select>
                    </td>
				</tr>
				<tr>
					<td style="text-align:right">
        				客户类型：
                    </td>
					<td >
						<select class="easyui-combobox" data-options="required:true" readonly = true editable="false" name="CUSTOMER_TYPE" id="CUSTOMER_TYPE2" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list1)	
								<option value="$!item.CODE" #if($!item.CODE == $!list1.CODE)selected#end>$!item.FLAG</option>
						#end
                        </select>
                    </td>
				</tr>
				<tr>
					<td style="text-align:right">
        				婚姻情况：
                    </td>
					<td >
						<select class="easyui-combobox" data-options="required:true" readonly = true editable="false" name="MARRIAGE_SITUATION" id="MARRIAGE_SITUATION2" style="width: 180px;">
							<option value="">---请选择---</option>
						#foreach($!item in $!list2)	
								<option value="$!item.CODE" #if($!item.CODE == $!list2.CODE)selected#end>$!item.FLAG</option>
						#end
                        </select>
                    </td>
				</tr>
            </table>
        </form>
    </div>
	
</body>