<table cellpadding="0" cellspacing="0" class="table_02">
	<thead>
		<tr>
		 	 ##<td class="text_left"><input type="checkbox" checked="true" onclick="choseAllFile(this)"/></td>
             <td class="text_left">权证类型</td>
             <td class="text_left">权证名称</td>
			 <td class="text_left">资料状态</td>
             <td class="text_left">文件份数</td>
             <td class="text_left">原件/复印件</td>
             ##<td class="text_left">操作</td>
        </tr>
    </thead>
	<tbody >
		#foreach($!item in $!listMap)
		  #if($!remind.size()>0)
		   #foreach($!ite in $!remind)
		    #if($!item.WARRANT_NAME != $!ite.FILE_NAME)
			<tr>
				 ##<td><input type="checkbox" checked="true"  id="ID" name="ID" class="ID" value="$!item.ID"/></td>
	             <td>$!item.WARRANT_TYPE</td>
	             <td>$!item.WARRANT_NAME</td>
	             <td>未归档</td>
	             <td>$!item.FENSHU</td>
	             <td>
		            #if($!item.TYPE == 0)
						原件
					#elseif($!item.TYPE == 1) 
						复印件
					#end
	              </td>
	             ##<td></td>
	        </tr>
        		#end
          	#end
          #else
         	 <tr>
			 ##<td><input type="checkbox" checked="true"  id="ID" name="ID" class="ID" value="$!item.ID"/></td>
             <td>$!item.WARRANT_TYPE</td>
             <td>$!item.WARRANT_NAME</td>
             <td>未归档</td>
             <td>$!item.FENSHU</td>
             <td>
	            #if($!item.TYPE == 0)
					原件
				#elseif($!item.TYPE == 1) 
					复印件
				#end
              </td>
             ##<td></td>
        	</tr>
          #end
		#end

    </tbody>
</table>
