#parse("content/importBase.vm")
<script >
function addConfig(value,row,index){
	return '<a href="javascript:void(0);" onclick="downloadFile('+value+');" >下载</a>';
}

function downloadFile(id){
	window.location.href='$!_basePath/creditReports/CreditReports!download.action?ID='+id;
}
</script>

<table id="bankOpen" fitColumns="true" class="easyui-datagrid" pagination="false"　 
		data-options="fil:true,fitColumns:true,toolbar: '#bank',rownumbers:true,autoRowHeight:false,singleSelect:true,url:'$!_basePath/creditReports/CreditReports!toData.action?PROJECT_ID=$!param.PROJECT_ID'">
	<thead>
		<tr>
		  	<th data-options="field:'FILE_NAME',width:200">文件名</th>
		  	<th data-options="field:'ID',width:200,formatter:addConfig">操作</th>
		</tr>
	</thead>
</table>