<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>经纪人信息修改</title>
	<!-- 路径定义-->
	#set ( $_basePath = $request.ContextPath )
	<script type="text/javascript">
		var _basePath = "$!_basePath";
	</script>
	  #parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/res/jquery/plugins/jquery.form.js"></script>
	<script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>
	<script type="text/javascript"  src="js/broker.js"></script>
	<script >
		$.ajaxSetup ({
   			 cache: false //关闭AJAX相应的缓存
		});
		
		function selectArea(a){
		    var tr=$(a).parent().parent();
        	jQuery.ajax({
        		url:"$_basePath/base/suppliers/Suppliers!getAreaMess.action?PARENT_ID="+a.value,
        		type:"post", 
        		dataType:"json",
        		success:function(data){
        			//将本行的输入框初始化
        			$(tr).find(".eqProv").each(function (){
        				//初始化
        				if ($(this).is("select"))
        				{
        					$(this).empty();
        					$(this).append($("<option>").val("").text("--请选择--"));
        				}
        			});
        			var PROV_ID = $(tr).find("select[name='PROV_ID']");
        			for (var i=0; i<data.provs.length;i++) {
        				$(PROV_ID).append($("<option>").val(data.provs[i].ID).text(data.provs[i].NAME));
        			}
        		}
        	});
		
		}
		
		function selectProv(b){
		    var tr=$(b).parent().parent();
        	jQuery.ajax({
        		url:"$_basePath/base/suppliers/Suppliers!getAreaMess.action?PARENT_ID="+b.value,
        		type:"post", 
        		dataType:"json",
        		success:function(data){
        			//将本行的输入框初始化
        			$(tr).next().find(".cityMess").each(function (){
        				//初始化
        				if ($(this).is("select"))
        				{
        					$(this).empty();
        					$(this).append($("<option>").val("").text("--请选择--"));
        				}
        			});
        			var CITY_ID = $(tr).next().find("select[name='CITY_ID']");
        			for (var i=0; i<data.provs.length;i++) {
						$(CITY_ID).append($("<option>").val(data.provs[i].ID).text(data.provs[i].NAME));
        			}
        		}
        	});
		}
		
		

		//关闭dialog
		function closeDialog(name){
		   $('#'+name).dialog('close')
		}
		
		//打开dialog
		function openDialog(div,name){
			if(div=='dialogNatural')
			{
				//添加，清ID
				 $("#invesNaturalForm input[name='ID']").val("");
			}
			else if(div=='dialogLegal'){
				//添加，清ID
				  $("#invesLegalForm input[name='ID']").val("");
			}
			else if(div=='dialogLinkMan'){
				//添加，清ID
				  $("#dialogLinkMan input[name='LINK_ID']").val("");
			}
		    $('#'+div).dialog('open').dialog('setTitle',name);
		}
		
		//根据条件取数据，需jQuery json支持
        function getFromData(str){
        	var data={};
        	$(str +' [name]').each(function(){
        		if($(this).is(":checkbox,:radio")){
        			if($(this).attr("checked")){
        				data[$(this).attr("name")]=$(this).val();
        			}
        		}else{
        			if($(this).is("select")){
        				data[$(this).attr("name")]=$(this).find(":selected").val();
        			}else{
        				data[$(this).attr("name")]=$(this).val();
        			}
        		}
        	});
        	 
        	return JSON.stringify(data);
        }
		
		function saveSupplier(){
    		var data = getFromData("#frmSearch");
			
			if(!$("#frmSearch").form('validate'))
				return ;  
			var SUP_ID = $("#SUP_ID").val();
        	jQuery.ajax({
        		type: "POST",
        		url: "Broker!saveSupplierNP.action",
        		data: "json="+data+"&SUP_ID="+SUP_ID,
        		dataType: "json",
        		success: function(data){
        			 if(data.flag==false){
					     jQuery.messager.alert("提示",data.msg) ;
					 }else{
					    jQuery.messager.alert("提示",data.msg,"info",function(){
							top.addTab("经纪人管理",_basePath+"/base/broker/Broker.action");
							top.closeTab("添加经纪人");
						}); 
					 }
        		}
        	});
		}
		
    </script>
    </head>
    <body style="margin:0">	
 
	<form id="frmSearch" name="frmSearch" action ="ProSupPliers!modifySupPage.action"   method="post"> 
		<input type="hidden" name="SUPPLIERS_NAME" id="SUPPLIERS_NAME" value="$!supplier.SUP_NAME"/>
		<input type="hidden" name="SUP_ID" id="SUP_ID" value="$!supplier.SUP_ID"/>
        <table class="table_01" cellpadding="0" cellspacing="0" >
          <tr align="left">
            <td width="2%" rowspan="37" align="center"  bgcolor="#fbfbfb" style="border-left:1;">
		 		经<br/>纪<br/>人<br/>基<br/>本<br/>情<br/>况
        	</td>
        	<td class="text_right" style="width:10%">经纪人类型：</td>
            <td style="width:35%;"><select class="warmlegal" name="TYPE" id="TYPE" onchange="changeType(this.value);"  #if($!supplierInfo.TYPE)disabled#end>
					#foreach($item in $!type.list)
					<option value="$!item.CODE" #if($!item.CODE == 'NP')selected#end>$!item.FLAG</option>
					#end
    			</select><font color="red">*</font>
    		</td>
    		<td class="text_right" style="width:10%;">经纪人名称：</td>
			<td style="width:35%;">
				<input type="text" name="CUST_NAME" id="CUST_NAME" value="$!supplierInfo.NAME" >
				<font color="red">*</font>
			</td>
         </tr>
         <tr>
         	<td align="right" bgcolor="#fbfbfb">性别：</td>
			<td><select name="SEX" id="SEX" >
					<option value="0" #if($!supplierInfo.SEX == 0)selected #end >男</option>
					<option value="1" #if($!supplierInfo.SEX == 1)selected #end>女</option>
			</select>
			</td>
			<td align="right" bgcolor="#fbfbfb">出生年月：</td>
			<td width="20%">
				<input type="text" name="BIRTHDAY" id="BIRTHDAY" class="easyui-datebox" value="$!supplierInfo.BIRTHDAY">
			</td>
         </tr>
         <tr>
             <td align="right" bgcolor="#fbfbfb">证件类型：</td>
			 <td>
			 	<select class="warm " panelHeight="auto"  name="ID_CARD_TYPE" id="ID_CARD_TYPE">
						#foreach($item in $!type.id_typeL)
    					<option value="$!item.CODE" #if($!item.CODE == "$!supplierInfo.ID_CARD_TYPE")selected#end >$!item.FLAG</option>
						#end
				</select>
				</td>
			 <td align="right" bgcolor="#fbfbfb">证件号：</td>
			 <td>
			 	<input type="text" class="warm validate[required,custom[card]]" value="$!supplierInfo.ID_CARD_NO" name="ID_CARD_NO" id="ID_CARD_NO" onchange="checkCardNo('ID_CARD_NO')">
			 </td>
 		</tr>
        <tr>
    		<td align="right" bgcolor="#fbfbfb">手机号码：</td>
    		<td>
    			<input type="text" class="validate[required,custom[mobilephone]] warm" value="$!supplierInfo.TEL_PHONE" name="TEL_PHONE" id="TEL_PHONE" onchange="isMobilephone('TEL_PHONE')">
    		</td>
    		<td align="right" bgcolor="#fbfbfb">家庭电话：</td>
    		<td>
    			<input type="text" name="PHONE" id="PHONE" class="validate[custom[phone]]" value="$!supplierInfo.PHONE" onchange="isPhoneNo('PHONE')">
    		</td>
        </tr>
		<tr>
            <td align="right" bgcolor="#fbfbfb">文化程度：</td>
			<td>
				<select name="DEGREE_EDU" id="DEGREE_EDU">
						#foreach($item in $!type.degree_edu)
    					<option value="$!item.CODE" #if($!item.CODE=="$!supplierInfo.DEGREE_EDU")selected#end>$!item.FLAG</option>
						#end
				</select>
			</td>
		<td align="right" bgcolor="#fbfbfb">婚姻状况：</td>
		<td>
			<select name="IS_MARRY" id="IS_MARRY" onchange="choustSpoust(this.value);isHasSpouse() ;">
				    <option value="">--请选择--</option>
					#foreach($item in $!type.marital_status)
					<option value="$!item.CODE" #if($!item.CODE==$!supplierInfo.IS_MARRY)selected #end>$!item.FLAG</option>
					#end
			</select>
		</td>
        </tr>
		<tr>
        <td align="right" bgcolor="#fbfbfb">入职时间：</td>
        <td>
        	<input type="text" class="easyui-datebox warmlegalDate" value="$!supplierInfo.ENTRY_TIME" name="ENTRY_TIME" id="ENTRY_TIME">
        </td>		
		<td align="right" bgcolor="#fbfbfb">职务：</td>
        <td colspan="">
        	<select class="" panelHeight="auto" name="POSITION" id="POSITION">
					#foreach($item in $!type.profession)
					<option value="$!item.CODE" #if($!item.CODE=="$!supplierInfo.POSITION")selected #end>$!item.FLAG</option>
					#end
			</select>
		</td>
		 
			
        </tr>
        <tr>
        	<td align="right" bgcolor="#fbfbfb">子女：</td>
    		<td colspan="" >
    				<select panelHeight="auto" name="IS_CHILDRED" id="IS_CHILDRED">
        					<option value="0" #if($!supplierInfo.IS_CHILDRED=="0")selected #end >无</option>
    						<option value="1" #if($!supplierInfo.IS_CHILDRED=="1")selected #end>有</option>
    				</select>
    		</td>
    		<td align="right" bgcolor="#fbfbfb">民族：</td>
			<td>
			<select name="NATION" id="NATION" >
					#foreach($item in $!type.nationL)
					<option value="$!item.CODE" #if($!item.CODE=="$!supplierInfo.NATION")selected #end>$!item.FLAG</option>
					#end
			</select>
			</td>
        </tr>
        <tr>
			<td align="right" bgcolor="#fbfbfb">现单位名称：</td>
			<td>
				<input type="text" value="$!supplierInfo.WORK_UNIT" name="WORK_UNIT" id="WORK_UNIT">
			</td>
			<td align="right" bgcolor="#fbfbfb">行业分类：</td>
    		 <td>
##    		 	<select class="warm" name="INDUSTRY_FICATION" id="INDUSTRY_FICATION">
##                        <option value="">--请选择--</option>
##						#foreach($item in $!type.INDUSTRY_FICATION_List)
##    					<option value="$!item.ID" #if($!item.CODE=="$!supplierInfo.INDUSTRY_FICATION")selected #end>$!item.INDUSTRY_NAME</option>
##						#end
##				</select>
				<input type="text" value="$!supplierInfo.INDUSTRY_FICATION" name="INDUSTRY_FICATION" id="INDUSTRY_FICATION">
			 </td>	
		</tr>
        
        <tr>
        <td  align="right" bgcolor="#fbfbfb">工作地址：</td>
        <td colspan="3">
			<!-- 地址增加   省市县  start -->
			<select name="COMPANY_ADDR_PROVINCE" id="COMPANY_ADDR_PROVINCE" onchange="getChildArea(this.value,'COMPANY_ADDR_CITY','COMPANY_ADDR_COUNTY')">
					<option value="">--请选择--</option>	
					#foreach($item in $!getProvince)
    				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.COMPANY_ADDR_PROVINCE")selected #end >$!item.NAME</option>
					#end
			</select>
			<select name="COMPANY_ADDR_CITY" id="COMPANY_ADDR_CITY" onchange="getChildArea(this.value,'COMPANY_ADDR_COUNTY',null)">
					<option value="">--请选择--</option>	
					#foreach($item in $!companyCity)
    				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.COMPANY_ADDR_CITY")selected #end >$!item.NAME</option>
					#end
			</select>
			<select name="COMPANY_ADDR_COUNTY" id="COMPANY_ADDR_COUNTY" >
				<option value="">--请选择--</option>	
				#foreach($item in $!companyArea)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.COMPANY_ADDR_COUNTY")selected #end >$!item.NAME</option>
				#end						
			</select>
			<input type="text" name="COMPANY_ADDR" value="$!supplierInfo.COMPANY_ADDR" id="COMPANY_ADDR" style="width:300px;">
		</td>
		</tr>
        <tr>
        <td  align="right" bgcolor="#fbfbfb">家庭地址：</td>
        <td colspan="3">
			<!-- 地址增加   省市县  start -->
			<select name="HOUSE_ADDRESS_PROVINCE" id="HOUSE_ADDRESS_PROVINCE" onchange="getChildArea(this.value,'HOUSE_ADDRESS_CITY','HOUSE_ADDRESS_COUNTY')">
				<option value="">--请选择--</option>	
				#foreach($item in $!getProvince)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.HOUSE_ADDRESS_PROVINCE")selected #end>$!item.NAME</option>
				#end					
			</select>
			<select name="HOUSE_ADDRESS_CITY" id="HOUSE_ADDRESS_CITY" onchange="getChildArea(this.value,'HOUSE_ADDRESS_COUNTY',null)">
				<option value="">--请选择--</option>	
				#foreach($item in $!houseCity)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.HOUSE_ADDRESS_CITY")selected #end >$!item.NAME</option>
				#end
			</select>
			<select name="HOUSE_ADDRESS_COUNTY" id="HOUSE_ADDRESS_COUNTY">
				<option value="">--请选择--</option>	
				#foreach($item in $!houseArea)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.HOUSE_ADDRESS_COUNTY")selected #end >$!item.NAME</option>
				#end
			</select>
			<!-- 地址增加   省市县  end -->
			<input type="text" name="HOUSE_ADDRESS" value="$!supplierInfo.HOUSE_ADDRESS" id="HOUSE_ADDRESS" style="width:300px;">
		</td>
		</tr>
		
        <tr>
        <td align="right" bgcolor="#fbfbfb">邮寄地址：</td>
        <td colspan="3">
			<!-- 地址增加   省市县  start -->
			<select name="MAIL_ADDRESS_PROVINCE" id="MAIL_ADDRESS_PROVINCE" onchange="getChildArea(this.value,'MAIL_ADDRESS_CITY','MAIL_ADDRESS_COUNTY')">
				<option value="">--请选择--</option>	
				#foreach($item in $!getProvince)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.MAIL_ADDRESS_PROVINCE")selected #end>$!item.NAME</option>
				#end		
			</select>
			<select name="MAIL_ADDRESS_CITY" id="MAIL_ADDRESS_CITY" onchange="getChildArea(this.value,'MAIL_ADDRESS_COUNTY',null)">
				<option value="">--请选择--</option>	
				#foreach($item in $!mailCity)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.MAIL_ADDRESS_CITY")selected #end >$!item.NAME</option>
				#end
			</select>
			<select name="MAIL_ADDRESS_COUNTY" id="MAIL_ADDRESS_COUNTY">
				<option value="">--请选择--</option>	
				#foreach($item in $!mailArea)
				<option value="$!item.ID" #if($!item.ID=="$!supplierInfo.MAIL_ADDRESS_COUNTY")selected #end >$!item.NAME</option>
				#end
			</select>
			<input type="text" name="MAIL_ADDRESS" value="$!supplierInfo.MAIL_ADDRESS" id="MAIL_ADDRESS" style="width:300px;"/>
		</td>
		</tr>
		
		<tr style="display:none;" id="marriage_type">
			<td colspan="6">
				<table class="table_01" width="100%" cellspacing="0" cellpadding="0" style="margin-top:1px; margin-left:1px; ">
					<tbody >
						 <tr>
							<td width="3%" bgcolor="#fbfcfc" style="text-align:center" rowspan="9">配  <br /> 偶 <br />信 <br />息</td>
							<td align="right" bgcolor="#fbfbfb">配偶姓名：</td>
							<td ><input type="text" name="SPOUST_NAME" id="SPOUST_NAME"
									title="姓名（配偶）" class="warm" requiredF="$findCustField.SPOUST_NAME"/>
								#if($findCustField.SPOUST_NAME==2) <font color="red">*</font>#end
								</td>
							<td align="right"  bgcolor="#fbfbfb">性别：</td>
							<td >
								<select class="warm " panelHeight="auto" name="SPOUST_SEX" id="SPOUST_SEX"
									title="性别（配偶）" class="warm" requiredF="$findCustField.SPOUST_SEX"
								>
                    					<option value="0">男</option>
                						<option value="1"selected >女</option>
                				</select>
                				#if($findCustField.SPOUST_SEX==2) <font color="red">*</font>#end
								##<input type="radio" name="SPOUST_SEX" value="0" size="5">男<input type="radio" size="5" name="SPOUST_SEX" value="1" checked>女
                            </td>
						 </tr>
						  <tr>
							<td align="right"  bgcolor="#fbfbfb">民族：</td>
							<td ><select name="SPOUST_NATION" id="SPOUST_NATION" panelHeight="auto" 
								title="民族(配偶)" class="warm" requiredF="$findCustField.SPOUST_NATION"
								>
            						#foreach($item in $!type.nationL)
                					<option value="$!item.CODE">$!item.FLAG</option>
            						#end
            						#if($findCustField.SPOUST_NATION==2) <font color="red">*</font>#end
                            </select></td>
                            <td align="right"  bgcolor="#fbfbfb">身份证号码：</td><td >
                            	<input type="text" name="SPOUDT_ID_CARD_NO" id="SPOUDT_ID_CARD_NO"  onchange="checkCardNo('SPOUDT_ID_CARD_NO')" class="validate[required,custom[card]]"
                            		title="身份证号码(配偶)" requiredF="$findCustField.SPOUDT_ID_CARD_NO"
                            	/>
                            	#if($findCustField.SPOUDT_ID_CARD_NO==2) <font color="red">*</font>#end
                            </td>
						 </tr>
						 
						 <tr>
						 	<td  align="right" bgcolor="#fbfbfb">出生日期：</td>
							<td ><input type="text" name="SPOUST_BIRTHDAY" id="SPOUST_BIRTHDAY" class="easyui-datebox warmlegalDate"
								title="出生日期（配偶）"  requiredF="$findCustField.SPOUST_BIRTHDAY"
							/>
							 #if($findCustField.SPOUST_BIRTHDAY==2) <font color="red">*</font>#end
							</td>
							<td align="right"  bgcolor="#fbfbfb">手机：</td><td >
							<input type="text" name="SPOUDT_TEL_PHONE" id="SPOUDT_TEL_PHONE" class="validate[required,custom[mobilephone]]  warm"
							title="手机(配偶)" requiredF="$findCustField.SPOUDT_TEL_PHONE" onchange="isMobilephone('SPOUDT_TEL_PHONE')"
							/>
							#if($findCustField.SPOUDT_TEL_PHONE==2) <font color="red">*</font>#end
							</td>
						 </tr>
						 
                         <tr>   
							<td  align="right" bgcolor="#fbfbfb">单位属性：</td>
                            <td><select  panelHeight="auto" name="SPOUST_COMPANY_PROPERTY" id="SPOUST_COMPANY_PROPERTY"
                            	title="单位属性(配偶)" class="warm" requiredF="$findCustField.SPOUST_COMPANY_PROPERTY"
                            >
            						#foreach($item in $!type.com_typeL)
                					<option value="$!item.CODE">$!item.FLAG</option>
            						#end
            				</select>
            				#if($findCustField.SPOUST_COMPANY_PROPERTY==2) <font color="red">*</font>#end
            				</td>
                            <td align="right"  bgcolor="#fbfbfb">职务：</td>
							<td >#*<select class="warm " panelHeight="auto" style="width:135px;" name="SPOUST_POSITION" id="SPOUST_POSITION" style="width:120">
            						#foreach($item in $!type.profession)
                					<option value="$!item.CODE">$!item.FLAG</option>
            						#end
            				</select>*#
							<input type="text" name="SPOUST_POSITION" 
								title="职务(配偶)" class="warm" requiredF="$findCustField.SPOUST_POSITION"
							>
							#if($findCustField.SPOUST_POSITION==2) <font color="red">*</font>#end
							</td>
						 </tr>
                        
						  <tr>							
							<!--
							<td bgcolor="#fbfbfb" >
								传真
                            </td>
							<td >
								<input type="text" name="SPOUST_FAX" id="SPOUST_FAX" class="validate[required,custom[fax]] warm"
								title="传真(配偶)"  requiredF="$findCustField.SPOUST_FAX" onchange="isFax('SPOUST_FAX');" 
								/>
								#if($findCustField.SPOUST_FAX==2) <font color="red">*</font>#end
							</td>
							-->
                            <td  align="right" bgcolor="#fbfbfb">文化程度：</td>
							<td >
								<select  panelHeight="auto" name="SPOUST_DEGREE_EDU" id="SPOUST_DEGREE_EDU"
									title="文化程度(配偶)" class="warm" requiredF="$findCustField.SPOUST_DEGREE_EDU" 
								>
        						#foreach($item in $!type.degree_edu)
            					<option value="$!item.CODE">$!item.FLAG</option>
        						#end</select>
        						#if($findCustField.SPOUST_DEGREE_EDU==2) <font color="red">*</font>#end
        					</td>
							<td align="right"  bgcolor="#fbfbfb">
								单位电话：
                            </td>
							<td>
								<input type="text" name="SPOUST_WORK_PHONE" id="SPOUST_WORK_PHONE" class="validate[required,custom[phone]]"
								title="单位电话(配偶)"  requiredF="$findCustField.SPOUST_WORK_PHONE warm"
								/>
								#if($findCustField.SPOUST_WORK_PHONE==2) <font color="red">*</font>#end
                            </td>
							<!--<td bgcolor="#fbfbfb">身体状况</td>
							<td colspan="" width="20%">
								<select  panelHeight="auto" name="SPOUST_PHYSICAL_STATE" id="SPOUST_PHYSICAL_STATE" style="width:135px"
									title="身体状况(配偶)" class="warm" requiredF="$findCustField.SPOUST_PHYSICAL_STATE"
								>
            					#foreach($item in $!type.STZT_List) 
            					<option value="$!item.CODE" #if($!custLinkInfo.SPOUST_PHYSICAL_STATE==$!item.CODE)selected#end>$!item.FLAG</option>
        						#end</select>
        						#if($findCustField.SPOUST_PHYSICAL_STATE==2) <font color="red">*</font>#end
							</td>-->
						 </tr>
						 <tr>
                            <td  align="right" bgcolor="#fbfbfb">户籍所在地： </td><td colspan="5">
                            	<input type="text" size="100" name="SPOUST_HOUSR_RE_ADDRESS"
                            	title="户籍所在地(配偶)" class="warm" requiredF="$findCustField.SPOUST_HOUSR_RE_ADDRESS"  style="width:415px;"
                            	>
                            #if($findCustField.HOUSR_RE_ADDRESS==2) <font color="red">*</font>#end
                            </td>
                         </tr>
						 <tr>
                            <td  align="right" bgcolor="#fbfbfb">工作单位：</td><td colspan="5">
                            
                            	<input type="text" size="100" name="SPOUST_WORK_UNIT"
                            	title="工作单位(配偶)" class="warm" requiredF="$findCustField.SPOUST_WORK_UNIT"  style="width:415px;"
                            	>
                            #if($findCustField.SPOUST_WORK_UNIT==2) <font color="red">*</font>#end
                            </td>
                         </tr>
						  <tr>
                            <td  align="right" bgcolor="#fbfbfb">单位地址：</td>
							<td colspan="5">
									<!-- 地址增加   省市县  start -->
                        			<select name="SPOUST_COMPANY_ADDR_PROVINCE" class="warm" id="SPOUST_COMPANY_ADDR_PROVINCE" onchange="getChildArea(this.value,'SPOUST_COMPANY_ADDR_CITY','SPOUST_COMPANY_ADDR_COUNTY')"
                        				title="省(工作地址)"  requiredF="$findCustField.SPOUST_COMPANY_ADDR_PROVINCE"
                        			>
                        					<option value="">--请选择--</option>	
                        					#foreach($item in $!getProvince)
                            				<option value="$!item.ID" >$!item.NAME</option>
                        					#end
                        				</select>
                        				#if($findCustField.SPOUST_COMPANY_ADDR_PROVINCE==2) <font color="red">*</font>#end	
                        			
                        			<select name="SPOUST_COMPANY_ADDR_CITY" class="warm" id="SPOUST_COMPANY_ADDR_CITY"  onchange="getChildArea(this.value,'SPOUST_COMPANY_ADDR_COUNTY',null)"
                        				title="市(工作地址)"  requiredF="$findCustField.SPOUST_COMPANY_ADDR_CITY"
                        			>
                        					<option value="">--请选择--</option>	
                        				</select>
                        				#if($findCustField.SPOUST_COMPANY_ADDR_CITY==2) <font color="red">*</font>#end	
                        			
                        			<select name="SPOUST_COMPANY_ADDR_COUNTY" class="warm" id="SPOUST_COMPANY_ADDR_COUNTY"
                        				title="区/县(工作地址)"  requiredF="$findCustField.SPOUST_COMPANY_ADDR_COUNTY"
                        			>
                        					<option value="">--请选择--</option>							
                        				</select>
                        			<input type="text" size="100" name="SPOUST_COMPANY_ADDR"
									title="单位地址(配偶)" class="warm" requiredF="$findCustField.SPOUST_COMPANY_ADDR" style="width:300px;"
									/>
									#if($findCustField.SPOUST_COMPANY_ADDR==2) <font color="red">*</font>#end
                            </td>
						 
						 <!--
						 <tr>
                            <td bgcolor="#fbfbfb">邮寄地址</td>
							<td colspan="5">
								<input type="text" size="100" name="SPOUST_MAILING_ADDR"
									title="邮寄地址(配偶)" class="warm" requiredF="$findCustField.SPOUST_MAILING_ADDR"
								/>
								#if($findCustField.SPOUST_MAILING_ADDR==2) <font color="red">*</font>#end
                            </td>
						 </tr>
						 -->
                    </tbody>
                </table>
            </td>
		</tr>
		<tr>
        <td class="text_right">备注：
        	#if($findCustField.REMARK==2) <font color="red">*</font>#end
        </td>
        <td colspan="5"><textarea style="border: #c0c0c0 solid rgb(192, 192, 192); font-size: 12px;width:100%" name="REMARK" rows="3" 
        title="备注" class="warm" requiredF="$findCustField.REMARK"
        	>$!supplierInfo.REMARK</textarea>
        </td>
        </tr>
		
         <tr>
            <td colspan="5" align="center" style="height:50px">
                <a class="easyui-linkbutton" iconCls="icon-save" onclick="saveSupplier()">保存</a>
			</td>
		 </tr>
	</table>
   </form>
   
	
  </body>
</html>