<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>租金扣划-申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/payment/js/flPayMent.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
			
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
                    <td align="right">支付表号：</td><td><input name="PAYLIST_CODE" id="PAYLIST_CODE" type="text" size="20" value="$!param.PAYLIST_CODE" class="paramData"></td>
                   
					<td align="right">项目编号：</td>
					<td>
						<input name="PRO_CODE" id="PRO_CODE" type="text" size="20" value="$!param.PRO_CODE" class="paramData">
					</td>
					<td align="right">融资租赁合同号：</td>
					<td>
						<input name="LEASE_CODE" id="LEASE_CODE" type="text" size="20" value="$!param.LEASE_CODE" class="paramData">
					</td>
					<td align="center" rowspan="2">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='seach();'>查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
                    </td>
				</tr>
				<tr>
					<td align="right">出卖人：</td><td><input name="PAYEE_NAME" id="PAYEE_NAME" type="text" size="20" value="$!param.PAYEE_NAME" class="paramData"></td>
					<td align="right">客户名称：</td><td><input name="CUST_NAME" id="CUST_NAME" type="text" size="20" value="$!param.CUST_NAME" class="paramData"></td>
					<td align="right">
						预付日期：
					</td>
					<td>
						<input name="BEGGIN_DATE1" id="BEGGIN_DATE1" type="text" size="15" class="easyui-datebox paramData" value="$!param.BEGGIN_DATE1">-<input name="BEGGIN_DATE2" id="BEGGIN_DATE2" type="text" size="15" class="easyui-datebox paramData" value="$!param.BEGGIN_DATE2"> 
                    </td>
				</tr>
                
          </table>
		</div>
        <table id="fl_JL_PageTable" fit="true" singleSelect="false" pagination="true" >
            
		 </table>
	</div>	

	<div id="divFrom"></div>
	
	
	<script>
		function seach(){
			var PAYLIST_CODE=$("input[name='PAYLIST_CODE']").val();
			var PRO_CODE=$("input[name='PRO_CODE']").val();
			var LEASE_CODE=$("input[name='LEASE_CODE']").val();
			var CUST_NAME=$("input[name='CUST_NAME']").val();
			var PAYEE_NAME=$("input[name='PAYEE_NAME']").val();
			var BEGGIN_DATE1=$("input[name='BEGGIN_DATE1']").val();
			var BEGGIN_DATE2=$("input[name='BEGGIN_DATE2']").val();
			$('#fl_JL_PageTable').datagrid('load', {"PAYLIST_CODE":PAYLIST_CODE,"PRO_CODE":PRO_CODE,"LEASE_CODE":LEASE_CODE,"CUST_NAME":CUST_NAME,"PAYEE_NAME":PAYEE_NAME,"BEGGIN_DATE1":BEGGIN_DATE1,"BEGGIN_DATE2":BEGGIN_DATE2});
		}
    </script>
</body>
</html>