<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>	
	#parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
	<script type="text/javascript">
    	function se(){
    	    var SUP_SHORTNAME = $("#SUP_SHORTNAME").val(); 
			var START_TIME = $("#START_TIME").datebox("getValue");
			var END_TIME = $("#END_TIME").datebox("getValue");
			var PROJ_CODE = $("#PROJ_CODE").val();
			var CLIENT_NAME = $("#CLIENT_NAME").val();
			var INVOICE_TYPE  = $("#INVOICE_TYPE").val();
			var INVOICE_TYPENAME = $("#INVOICE_TYPENAME").val();
			var PAYLIST_CODE  = $("#PAYLIST_CODE").val();
			var LEASE_CODE  = $("#LEASE_CODE").val();
			var PLATFORM_TYPE  = $("#PLATFORM_TYPE").val();
    	    $('#pageTable').datagrid('load', {"PAYLIST_CODE":PAYLIST_CODE,"LEASE_CODE":LEASE_CODE,"PLATFORM_TYPE":PLATFORM_TYPE,"SUP_SHORTNAME":SUP_SHORTNAME,"START_TIME":START_TIME,"END_TIME":END_TIME,"PROJ_CODE":PROJ_CODE,"CLIENT_NAME":CLIENT_NAME,"INVOICE_TYPE":INVOICE_TYPE,"INVOICE_TYPENAME":INVOICE_TYPENAME});
    	}
		
		function addConfig(value,row,index){
		    var html ="";
		    if(row.INVOICE_STATUS ==1 && row.STATUS ==1){
		    //    html += "<a href=javascript:void(0) onclick=invalidInvoice("+JSON.stringify(row)+") >作废发票</a>&nbsp;";
		        html += "<a href=javascript:void(0) onclick=forRendInvoice("+JSON.stringify(row)+") >冲红发票</a>";
			}
			 return html;
		}
		
		function forRendInvoice(row){
		   var param = "ID="+row.ID+"&INVOICE_CODE="+row.INVOICE_CODE ;
		   if(confirm("确定要红冲发票号为【"+row.INVOICE_CODE+"】的发票吗？")){
    		   jQuery.ajax({
            		url:"$_basePath/invoiceForRed/InvoiceForRed!applyForRedMethod.action",
    				data: param,
            		type:"post", 
            		dataType:"json",
            		success:function(data){
            			if(data.flag==true){
    					   jQuery.messager.alert("提示",data.msg);
    					   $('#pageTable').datagrid('reload');
    					}else{
    					   jQuery.messager.alert("提示",data.msg);
    					}
            		}
            	});
			}
		}
 
		function clearMess(){
		    $("#form01").form('clear');
		}
		
        function applyFee(){
        	//url
        	var url = "$_basePath/invoiceForRed/InvoiceForRed!invalidInvoiceMethod.action";
        	var datagridList=$("#pageTable").datagrid('getChecked');
        	var sqlData = [];		
        	for(var i = 0; i < datagridList.length; i++)
        	{
        		var pa = {"ID":datagridList[i].ID,"INVOICE_CODE":datagridList[i].INVOICE_CODE};
        		sqlData.push(pa);
        	}
    		if(datagridList.length == 0){
    			alert("请选择要申请的数据");
    			return;
    	    }
			if(confirm("确认作废选中的【"+datagridList.length+"】条发票吗？")){
            	$('#form01').form('submit',{
                    url:url,
                    onSubmit: function(){
            			//导出标识
            			if($('#sqlData').length<=0){
            				$('#form01').append('<input name=\"sqlData\"  id=\"sqlData\" type=\"hidden\" />');
            			}
            			$('#sqlData').val(JSON.stringify(sqlData));
                    },
                    success : function(){
                    	se();
                    }
                });
            	$('#sqlData').remove();
			}
        }
 
    </script>
	</head>
	<body >
   <div id="pageForm" style="padding:20px;height:auto"> 
	  <form id="form01" method="post">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr >
			   <td colspan="8">
                 <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="applyFee()">作废选中发票</a>
               </td>
            </tr>
			<tr>
				 <td align="right">项目编号： </td>
    			  <td > 
    				<input class="input_03" type="text" size ="20" name="PROJ_CODE" id="PROJ_CODE"/>&nbsp;&nbsp;
                  </td>
				  <td align="right">融资租赁合同号： </td>
				 <td >
					<input class="input_03" type="text" size ="20" id="LEASE_CODE" name="LEASE_CODE" value="$!param.LEASE_CODE" />&nbsp;&nbsp;
				 </td>
				 <td align="right">支付表号： </td>
				 <td >
					<input class="input_03" type="text" size ="20" id="PAYLIST_CODE" name="PAYLIST_CODE" value="$!param.PAYLIST_CODE" />&nbsp;&nbsp;
				 </td>
				 <td rowspan="3" align="center">
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="se()">查询</a>&nbsp;
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearMess()">清空</a>
                  </td>	 
			</tr>
			<tr>
        	 	 
			  <td align="right">经销商： </td>
			  <td>
				<input class="input_03" type="text" size ="20" name="SUP_SHORTNAME" id="SUP_SHORTNAME" />&nbsp;&nbsp;
              </td>
			  <td align="right">
				客户名称：
              </td>
			  <td>
				<input class="input_03" type="text" size ="20" name="CLIENT_NAME" id="CLIENT_NAME" />&nbsp;
              </td>
			  <td align="right">业务类型：</td>
			  <td  align="left">
						   <select name="PLATFORM_TYPE" id="PLATFORM_TYPE" style="width:100px">
								 <option value="">--请选择--</option>
            						#foreach($item in $!PLATFORMTYPEList)
                                        <option value="$!item.CODE" #if($!PContext.PLATFORM_TYPE==$!item.CODE) selected #end>$!item.FLAG</option>
            						#end
						   </select>
			  </td>
			  
            </tr>
			<tr>
			  <td align="right">发票/收据： </td>
			  <td >
				<select id="INVOICE_TYPE" name="INVOICE_TYPE" style="width:100px">
                     <option value="">--请选择--</option>
					 <option value="营业税发票">营业税发票</option>
					 <option value="增值税发票">增值税发票</option>
					 <option value="收据">收据</option>
                </select>&nbsp;
			  </td>
			  <td align="right">票据内容： </td>
			  <td >
				<select id="INVOICE_TYPENAME" name="INVOICE_TYPENAME" style="width:100px">
					<option value="">--请选择--</option>
                    #foreach($item in $!dic_invoice_typename)
                     <option value="$item.FLAG">$item.FLAG</option>
    				#end
                </select>&nbsp;
              </td>	
               <td align="right">发票开具日期： </td>
			  <td >
				<input class="easyui-datebox" name="START_TIME" type="text" id="START_TIME"  style="width:100px"/>-<input class="easyui-datebox" name="END_TIME" type="text" id="END_TIME"  style="width:100px"/>
              </td>
            </tr>
	    </table>
		</form>
	</div>		
	<table id="pageTable"  class="easyui-datagrid" fit="true" singleSelect="false" selectOnCheck="true" checkOnSelect="true"  pagination="true" rownumbers="true" url="$_basePath/invoiceForRed/InvoiceForRed!getForRedPageData.action" toolbar="#pageForm" >
		<tr>
			<thead>
			<th data-options="field:'a',width:150,formatter: addConfig" align="center">操作</th>
                <th data-options="field:'ck',checkbox:true"></th>
				<th data-options="field:'ID',width:100" align="center">唯一标识</th>
			    <th data-options="field:'SUP_SHORTNAME',width:150" align="center">经销商</th>
				<th data-options="field:'CUST_NAME',width:150" align="center">客户名称</th>
				<th data-options="field:'PROJECT_MODEL',width:150" align="center">业务类型</th>
	            <th data-options="field:'LEASE_CODE',width:150" align="center">融资租赁合同号</th>
		        <th data-options="field:'PAYLIST_CODE',width:150" align="center">支付表号</th>
				<th data-options="field:'INVOICE_TYPE',width:100" align="center">发票/收据</th>
                <th data-options="field:'FUND_TYPE',width:100" align="center">发票类型</th>
				<th data-options="field:'FUND_NAME',width:100" align="center">发票内容</th>
				<th data-options="field:'INVOICE_CODE',width:100" align="center">发票/收据号</th>
				<th data-options="field:'INVOICE_DATE',width:100"  align="center">发票/收据日期</th>
				<th data-options="field:'INVOICE_AMT',width:100" align="center">总金额</th>
				<th data-options="field:'RENT_LIST',width:100" align="center">期次</th>
				<th data-options="field:'STATUS',width:100" align="center">发票状态</th>
				
            </thead>
		</tr>
     </table>
	 </body>
</html>