<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
	</head>
	<body>
		<input type="hidden" id="isSup" value="$!isSup"/>
		<div id="pageForm" style="padding:20px;height:auto">
			<div>
				<table width="100%" cellspacing="0" cellpadding="0" border="0" class="">
	        		<tr>
	        			<td align="right">
	        				<span style="font-size:12">客户名称：</span> 
	                    </td>
	        			<td align="left">
	        				<input type="text" size="30" id="NAME" name="NAME" class="input_03">
	        			</td>
	        			<td align="right">
	        				<span style="font-size:12">融资租赁合同号：</span> 
	                    </td>
	        			<td align="left">
	        				<input type="text" size="30" id="LEASE_CODE" name="LEASE_CODE" class="input_03">
	        			</td>
	        			<td align="left" colspan="">
							<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" id="search">查询</a>
							<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-down" onclick='exportExcel();'>导出</a>
	                    </td>
	                </tr>
	            </table>
			</div>
		</div>
		<table id="pageTable"></table>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#search").click(function(){
    				$('#pageTable').datagrid('load', { "LEASE_CODE":$("[name='LEASE_CODE']").val(),"NAME":$("[name='NAME']").val()});
				});
				
				$("#pageTable").datagrid({
					url:"$_basePath/payment/LoanSupervision!getPage.action",
					pageSize:20,
					fit : true,
					pagination : true,
					rownumbers : true,
					singleSelect : true,
					toolbar : "#pageForm",
					frozenColumns:[[
					]],
                    columns:[[
                        {field:'NAME',width:100,title:'客户名称'},
                        {field:'PRO_NAME',width:150,title:'项目名称'},
                        {field:'LEASE_CODE',width:150,title:'融资租赁合同号'},
                        {field:'SUP_NAME',width:200,title:'经销商'},
                        {field:'JBPM_ID',width:130,title:'流程ID'},
                        {field:'TPM_TYPE',width:400,title:'未上传类型'}
                    ]]
                });
			});
        </script>
	</body>
</html>