<!DOCTYPE HTML>
<html >
    <head >
    	#parse("content/importBase.vm")
    	<title >银行卡信息</title>
    </head>
    <script type="text/javascript" src="$_basePath/payment/js/customersM.js"></script>
    <body >
<div style="width:950px;">
 <br>
  <table align="left"  class="table_01" cellspacing="0" cellpadding="0"   >
  <tr>
     <td class="text_right" width="20%" colspan="">客户名称：</td>
     <td width="20%">
      <input id="CLIENT_NAME" type="text"  title="客户名称"  value="$!param.CLIENT_NAME" style="width:120px;"  readonly="readonly"></td>
   	<td class="text_right" width="20%" colspan="">证件号码：</td>
     <td width="20%">
      <input id="ID_CARD_NO" type="text"  title="" value="$!param.ID_CARD_NO"  style="width:135px;" readonly="readonly"></td>
  </tr>
  </table>
  <br>
  <br>
<div class="panel-header" >
<div class="panel-title">银行信息</div>
<div class="panel-tool">
</div>
</div>
    <table id="bankOpen" class="easyui-datagrid"
        data-options="toolbar: '#bank',method: 'post',rownumbers:true,singleSelect:true,url:'$!_basePath/customers/Customers!toViewLegalBank.action?CLIENT_ID=$!param.CLIENT_ID&PROJECT_ID=$param.PROJECT_ID'" >
        <thead>
            <tr>
            	<th data-options="field:'CO_ID',hidden:true"></th>
            	#if($!param.PROJECT_ID !='')
					<th data-options="field:'BANK_P_STATUS',width:150,editor:'text'">代扣类型</th>
            	#end
                <th data-options="field:'FLAG',width:150,editor:'text'">账号类型</th>
                <th data-options="field:'BANK_CUSTNAME',width:150,editor:'text'">持卡人</th>
                <th data-options="field:'BANK_ACCOUNT',width:200,editor:'numberbox'">银行帐号</th>
                <th data-options="field:'BANK_NAME',width:150,editor:'text'">所属总行</th>
                <th data-options="field:'HEAD_OFFICE',width:200,editor:'text'">开户行全称</th>
            </tr>
        </thead>
    </table>

<div id="bank" style="width:auto">
    <a  href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="toAddBank()">
        添加
    </a>
    <a  href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="toUpdateBank()">
        修改
    </a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">
        删除
    </a>
    #if($!param.PROJECT_ID !='')
    	<input type="hidden" name="PROJECT_ID_BANK" id="PROJECT_ID_BANK" value="$!param.PROJECT_ID"> 
    	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="qyBankit()">
        	代扣
    	</a>
    #end
</div>
<div class="easyui-dialog" id="bankAdd" title="银行信息" modal="false" buttons="#bank_" data-options="resizable:true,shadow:false" closed="true" style="width:400px; height:320px;">
    <form id="doAddBank" method="post">
        <input type="hidden" name="CLIENT_ID" id="BNAK_CLIENT_ID" value="$!param.CLIENT_ID"/>
        <input type="hidden" name="PROJECT_ID" id="PROJECT_ID_ADD" value="$!param.PROJECT_ID"/>
        <table class="table_01" cellpadding="0" cellspacing="0">
            <tr >
                <td>账号类型：</td>
                <td >
                    <select name="FLAG" id="FLAG" class="easyui-combobox" required="true" style="width:160px">
                        #foreach($!item in $!account_type)
                            <option value="$!item.CODE" selected>$!item.FLAG</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr >
                <td>持卡人：</td>
                <td>
                    <input type="text" name="BANK_CUSTNAME" class="easyui-validatebox" value="$!param.CLIENT_NAME" required="true" style="width:160px" onkeyup="noNumber(this)"></td>
</tr>
<tr >
    <td>银行帐号：</td>
    <td>
        <input type="text" name="BANK_ACCOUNT" id="BANK_ACCOUNT" class="easyui-validatebox" onkeyup="zeroKG(this)" style="width:160px" required="true" onchange="checkBankAccount(this.value);"></td>
</tr>

<tr >
    <td>所属总行：</td>
    <td>
        <select name="BANK_NAME" id="BANK_NAME" style="width:160px">
            #foreach($!item in $!head_office)
                <option value="$!item.FLAG" #if($!item.FLAG==$!param.HEAD_OFFICE)selected#end>$!item.FLAG</option>
            #end
        </select>
    </td>
</tr>
<tr >
    <td>开户行全称：</td>
    <td>
        <input type="text" name="HEAD_OFFICE"  class="easyui-validatebox"   style="width:160px">
            <font color='red'style="font-size:12px">如：XXX分行</font>
</td>
</tr>
<tr >
    <td>支行名称：</td>
    <td>
        <input type="text" name="HEAD_BRANCH"  class="easyui-validatebox"   style="width:160px">
            <font color='red'style="font-size:12px">如：XXX分行</font>
</td>
</tr>
<tr >
	<td>省份：</td>
    <td>
    			<select name="HEAD_PROVINCE" onchange="getChildAreaBank(this)" title="省">
					<option value="">--请选择--</option>	
					#foreach($item in $!getProvince)
    				<option value="$!item.ID" #if($!EMERGENCY.ADDR_PROVINCE==$!item.ID) selected #end>$!item.NAME</option>
					#end
				</select>
	</td>
</tr>
<tr>
	<td>市/县：</td>
		<td>
				<select name="HEAD_CITY" title="市">
					<option value="222">--请选择--</option>	
				</select>
		</td>
</tr>
<tr >
    <td align="center" colspan="2">
        <a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="toSaveBank();">保存</a>
        <a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeDailog('bankAdd');">关闭</a>
    </td>
</tr>
</table>
</form>
</div>
<div id="bank_"></div>
<div class="easyui-dialog" id="bankUpdate" title="银行信息" modal="false" buttons="#bank_" data-options="resizable:true" shadow="false" closed="true" style="width:400px; height:320px;">
    <form id="doUpdateBank" method="post">
        <input type="hidden" name="CO_ID" id="CO_ID" value=""/>
        <input type="hidden" name="PROJECT_ID" id="PROJECT_ID" value="$!param.PROJECT_ID"/>
        <table class="table_01" cellpadding="0" cellspacing="0">
            <tr >
                <td>账号类型：</td>
                <td>
                    <select name="FLAG" id="FLAG1" class="easyui-combobox" required="true" style="width:160px"> 
                        #foreach($!item in $!account_type)
                            <option value="$!item.CODE" >$!item.FLAG</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr >
                <td>持卡人：</td>
                <td>
                    <input type="text" name="BANK_CUSTNAME" id="BANK_CUSTNAME1" required="true" style="width:160px" onkeyup="noNumber(this)"></td>
</tr>
<tr >
    <td>银行帐号：</td>
    <td>
        <input type="text" style="width:160px" name="BANK_ACCOUNT" id="BANK_ACCOUNT1" class="easyui-validatebox" required="true" onkeyup="zeroKG(this)" onchange="checkBankAccount(this.value);"></td>
</tr>

<tr >
    <td>所属总行：</td>
    <td>
        <select name="BANK_NAME" id="BANK_NAME1" style="width:160px">
            #foreach($!item in $!head_office)
                <option value="$!item.FLAG" #if($!item.FLAG==$!param.HEAD_OFFICE)selected#end>$!item.FLAG</option>
            #end
        </select>
    </td>
</tr>
<tr >
    <td>开户行全称：</td>
    <td>
        <input type="text" name="HEAD_OFFICE" id="HEAD_OFFICE1" class="easyui-validatebox"  required="true" style="width:160px">
            <font color='red'style="font-size:12px">如：XXX分行</font>
</td>
</tr>
<tr >
    <td>支行名称：</td>
    <td>
        <input type="text" name="HEAD_BRANCH" id="HEAD_BRANCH1" class="easyui-validatebox"   style="width:160px">
            <font color='red'style="font-size:12px">如：XXX分行</font>
</td>
</tr>
<tr >
	<td>省份：</td>
    <td>
    			<select name="HEAD_PROVINCE" id="HEAD_PROVINCE1" onchange="getChildAreaBank(this)" title="省">
					<option value="">--请选择--</option>	
					#foreach($item in $!getProvince)
    				<option value="$!item.ID" #if($!EMERGENCY.ADDR_PROVINCE==$!item.ID) selected #end>$!item.NAME</option>
					#end
				</select>
	</td>
</tr>
<tr>
	<td>市/县：</td>
	<td>
		<select name="HEAD_CITY" id="HEAD_CITY1" title="市">
		</select></td>
</tr>
<tr >
    <td align="center" colspan="2">
        <a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="toSaveUpdateBank();">保存</a>
        <a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeDailog('bankUpdate');">关闭</a>
    </td>
</tr>
</table>
</form>
</div>
</body>
</html>