<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
	</head>
	<body>
		<table id="pageTable" fit="true" fitColumns="true" pagination="true" rownumbers="true" singleSelect="true" toolbar="#pageForm" >
		</table>
		<div id="pageForm" style="padding:20px;height:auto">
			<div>
				<table>
				  <tr>
					<td align="right">客户：<input name="name" style="width:100px" /></td>
					<td></td>
					<td align="right">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" id="search">查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" id="clear">清空</a>
					</td>
				  </tr>
				</table>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#search").click(function(){
    				$('#pageTable').datagrid('load', { "name":$("[name='name']").val()});
				});
				$("#clear").click(function(){
					$("input[name='name']").val('');
				});
				$("#pageTable").datagrid({
					url:"$_basePath/fi/Statement!toPage2.action",
					pageSize:50,
                    columns:[[
                        {field:'CLIENT_NAME',width:200,title:'客户名',align:'center'},
                        {field:'TEL_PHONE',width:200,title:'客户电话',align:'center'},
						{field:'ID',title: '操作',align:'center',width:100,formatter:function(value,rowData,rowIndex){
							var re = "<a href='javascript:void(0);' onclick='checkStyle(\""+rowData.CLIENT_NAME+"\","+value+")'>查看</a> | <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-return' onclick='exportExcelFund(\""+rowData.CLIENT_NAME+"\","+value+");'>导出</a>";
						    return re;
						}}
                    ]]
                });
				
			});
			function checkStyle(name,id){
				top.addTab(name,_basePath+"/fi/Statement!toInfoNew.action?CLIENT_NAME="+name+"&ID="+id);
			}
			function toInfo(tabName,id){
				top.addTab(tabName,_basePath+"/fi/Statement!toInfo.action?PAYLIST_CODE="+id);
			}
			function exportExcelFund(name,id){
				jQuery.messager.confirm("导出","确定要导出查询记录吗？",function(r){
					if(r){
						window.location.href = _basePath + "/fi/Statement!exportExcelFund.action?CLIENT_ID="+id+"&CLIENT_NAME="+name;
					}
				});
			}
        </script>
	</body>
</html>