<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
	</head>
	<body>
		<table id="pageTable" >
		</table>
		<div id="pageForm" style="padding:20px;height:auto">
			<div>
				<table>
				  <tr>
					<td align="left">客户：<span style="color:red">$!map.CLIENT_NAME&nbsp;对账函</span></td>
				  </tr>
				  <tr>
					<td>
						来款时间：<input type="text" name="RECEIVE_DATE_BEGIN" style="width:100px;" id="RECEIVE_DATE_BEGIN" class="easyui-datebox"/>-<input type="text" name="RECEIVE_DATE_END" style="width:100px;" id="RECEIVE_DATE_END" class="easyui-datebox"/>
					</td>
					<td align="right">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="searchNew();">查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="clearNew();">清空</a>
					</td>
				  </tr>
				</table>
			</div>
		</div>
		<script type="text/javascript">
			$(function(){
				$("#pageTable").datagrid({
				url:'$_basePath/fi/Statement!toPageFund.action?CLIENT_ID='+$!map.ID,
				fitColumns:true,
				fit:true,
				rownumbers:true,
				pagination:true,
				pageSize:20,
				singleSelect:true,
				toolbar:'#pageForm',
				columns:[[
					{field:'FUND_NOTDECO_STATE',width:100,title:'来款类型',align:'center',formatter:function(value,rowData,rowIndex){
						if(value == 0){
							return "源资金";
						}else if(value == 1){
							return "待分解";
						}else if(value == 8){
							return "冲红作废";
						}
					}},
					{field:'FUND_ACCEPT_DATE',width:150,title:'来款时间',align:'center'},
					{field:'FUND_RECEIVE_MONEY',width:150,title:'来款金额',align:'right',formatter:function(value,rowData,rowIndex){
						return "￥"+value.toFixed(2);
					}},
					{field:'FUND_SY_MONEY',width:150,title:'剩余金额',align:'right',formatter:function(value,rowData,rowIndex){
						return "￥"+value.toFixed(2);
					}},
					{field:'FUND_ID',width:150,title:'ID',align:'center',hidden:true}
				]],
				 view:detailview,
			 		detailFormatter : function(index, row) {
			 			return '<div id="ddv-' + row.FUND_ID + '" style="padding:5px 0;"></div>';
			 		},
					 onExpandRow : function(index, row) {
					jQuery.ajax({
						url:_basePath+"/fi/Statement!searchDetail.action?FUND_ID="+row.FUND_ID,
						type:'post',
						dataType:'json',
					    success: function(json){
							var data = {flag:json.flag,total:json.data.length,rows:json.data};
							var pRowIndex = "ddv-"+row.FUND_ID;
							$('#ddv-'+row.FUND_ID).datagrid({
								fitColumns:true,
								columns:[[
				                            {field:'D_PAY_CODE',align:'center',width:15,title:'支付表编号'},
				                            {field:'LEASE_CODE',align:'center',width:15,title:'合同编号'},
				                            {field:'PERIOD',align:'center',width:15,title:'应收款项名称',formatter:function(value,rowData,rowIndex){
												if(value==null||value==''){
													return rowData.D_PAY_PROJECT;
												}else{
													return "第"+value+"期"+rowData.D_PAY_PROJECT;
												}
											}},
				                            {field:'D_PAY_MONEY',align:'right',width:15,title:'应收金额',formatter:function(value,rowData,rowIndex){
												return "￥"+value.toFixed(2);
											}},
											{field:'D_PAY_PROJECT',align:'center',width:15,title:'实分款项名称',formatter:function(value,rowData,rowIndex){
												var val = rowData.PERIOD;
												if(val==null||val==''){
													return value;
												}else{
													return "第"+val+"期"+value;
												}
											}},
				                            {field:'D_RECEIVE_MONEY',align:'right',width:15,title:'实分金额',formatter:function(value,rowData,rowIndex){
												return "￥"+value.toFixed(2);
											}}
								         ]],
								onResize:function(){
			                        $('#pageTable').datagrid('fixDetailRowHeight',index);
			                    },
			                    onLoadSuccess:function(){
			                        setTimeout(function(){
			                            $('#pageTable').datagrid('fixDetailRowHeight',index);
			                        },0);
			                    }
							});
							 $('#pageTable').datagrid('fixDetailRowHeight',index);
							 $('#ddv-'+row.FUND_ID).datagrid("loadData",data);
						}
					});
			 	}
				});	
			});
			function searchNew(){
				var RECEIVE_DATE_BEGIN = $("input[name='RECEIVE_DATE_BEGIN']").val();
				var RECEIVE_DATE_END = $("input[name='RECEIVE_DATE_END']").val();
				$("#pageTable").datagrid('load',{
					'RECEIVE_DATE_BEGIN' : RECEIVE_DATE_BEGIN,
					'RECEIVE_DATE_END' : RECEIVE_DATE_END
				});
			}
			function clearNew(){
				$("#RECEIVE_DATE_BEGIN").datebox('setValue','');
				$("#RECEIVE_DATE_END").datebox('setValue','');
			}
        </script>
	</body>
</html>