<script type="text/javascript" src="$_basePath/renterpool/cashDeposit/js/util.js"></script>
<div region="center" border="false"  height="480px;">	
	<div id="tb" style=" padding-bottom:10px;">
		<input type="hidden" name="moneyOrderSave${jqdkM.FUND_ID}" id="moneyOrderSave${jqdkM.FUND_ID}" #if($!jqdkM.MONEYORDERSAVE) value="$!jqdkM.MONEYORDERSAVE" #end readonly/>
        <table cellpadding="0" cellspacing="0" width="100%" id="checkedData">
              #if($!jqdkM.FI_STATUS!='2')
			  <tr>
                 <td colspan="10">
                  <a href="javascript:void(0)" name="saveHref" class="easyui-linkbutton" iconCls="icon-save" plain="true" onClick="toCommit($!param.FUND_ID)">保存</a>
                  <a href="javascript:void(0)" name="HeXaioFirst" class="easyui-linkbutton" iconCls="icon-pass" style="display:none;" plain="true" onClick="toCommitHexiao($!param.FUND_ID)">核销</a>
                 </td>
			  </tr>
			  #end
              <tr>
                  <td align="right">付款单号：</td><td><input type="text" size="15" name="FUND_ID$!param.FUND_ID" id="FUND_ID$!param.FUND_ID" value="$!param.FUND_ID" readonly="readonly"></td>
                  <td align="right">付款日期：</td><td><input type="text"  size="15" name="FI_PAY_DATE$!param.FUND_ID" id="FI_PAY_DATE$!param.FUND_ID" value="$!jqdkM.FI_PAY_DATE" readonly="readonly"></td>
                  <td align="right">付款银行：</td><td><input type="text"  size="15" name="FI_PAY_BANK$!param.FUND_ID" id="FI_PAY_BANK$!param.FUND_ID" value="$!jqdkM.FI_PAY_BANK"></td>
                  <td align="right">来款人：</td><td><input type="text"  size="15" name="FI_TO_THE_PAYEE$!param.FUND_ID" id="FI_TO_THE_PAYEE$!param.FUND_ID" value="$!jqdkM.FI_TO_THE_PAYEE"/></td>
                  <td align="right">核销银行：</td><td><select  name="FI_REALITY_BANK$!param.FUND_ID" id="FI_REALITY_BANK$!param.FUND_ID">
                             <option value="中国建设银行" #if($!jqdkM.FI_REALITY_BANK=='中国建设银行') selected #end>中国建设银行</option>
                             <option value="中国民生银行" #if($!jqdkM.FI_REALITY_BANK=='中国民生银行') selected #end>中国民生银行</option>
                             <option value="中国交通银行" #if($!jqdkM.FI_REALITY_BANK=='中国交通银行') selected #end>中国交通银行</option>
                          </select></td>
              </tr>
              <tr style="height:5px;">&nbsp;</tr>
              <tr>
                  <td align="right">申请人：</td><td><input type="text" size="15" name="FI_APP_NAME$!param.FUND_ID" value="$!jqdkM.FI_APP_NAME"></td>
                  <td align="right">核销时间：</td><td><input type="text"  size="15" name="FI_ACCOUNT_DATE$!param.FUND_ID" id="FI_ACCOUNT_DATE$!param.FUND_ID" value="$!jqdkM.FI_ACCOUNT_DATE" class="easyui-datebox"></td>
                  <td align="right">本次实付：</td><td><input type="text"  size="15" class="date${jqdkM.FUND_ID}" name="FI_REALITY_ACCOUNT$!param.FUND_ID" id="FI_REALITY_ACCOUNT$!param.FUND_ID" #if("$!jqdkM.FI_REALITY_ACCOUNT" == "") value="$!jqdkM.FI_REALITY_MONEY" #else value="$!jqdkM.FI_REALITY_ACCOUNT" #end onchange="toChange($!param.FUND_ID);">##onmouseout="toChange();"
							<input type="hidden"  size="15" name="FI_REALITY_MONE$!param.FUND_IDY" id="FI_REALITY_MONEY1$!param.FUND_ID" value="$!jqdkM.FI_REALITY_MONEY">&nbsp; #if($!jqdkM.FI_STATUS!='2')<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="updateMoneyOrder('$!jqdkM.FUND_ID')">&nbsp;</a>#end</td>
                  <td align="right">本次来款余额：</td><td><input type="text"  size="15" name="FI_PAY_YUE$!param.FUND_ID" id="FI_PAY_YUE$!param.FUND_ID" #if("$!jqdkM.FI_TAGE_MONEY"!= "") value="$!jqdkM.FI_TAGE_MONEY" #else value="0" #end readonly="readonly"></td>
                  <td align="right">余款挂账：</td><td><select  name="FI_TAGE$!param.FUND_ID" id="FI_TAGE$!param.FUND_ID">
						       #if($!jqdkM.FI_FLAG=='7')
                                 <option value="2">承租人</option>
								#elseif($!jqdkM.FI_FLAG=='8')
								  <option value="1">供应商</option>
							    #end
                          </select> <select  name="FI_TAGE_ID$!param.FUND_ID" id="FI_TAGE_ID$!param.FUND_ID" width="90">
							 #foreach($item in $!listTage)
                                <option value="$!item.FI_TAGE_ID" FI_TAGE_NAME="$!item.FI_TAGE_NAME">$!item.FI_TAGE_NAME</option>
							 #end
						  </select>
                          ##<input type="text"  size="15" name="FI_SUPPLIERS" id="FI_SUPPLIERS" value=""></td>
              </tr>
              <tr>
              <td colspan="10" style="height:10px">&nbsp;</td>
              </tr>
              <tr id="poolTab" style="display:none;">
                  <td colspan="10">		
					<table cellpadding="0" cellspacing="0" class="table_01" id="pool_tab">
						<tr bgcolor="#f4f4f4" align="center">
							<td width="15%" >项目备注</td>
							<td width="20%">可用余额合计</td>
							<td width="20%">所选冲抵款合计</td>
						</tr>
						#set($moneyAll=0)
						#foreach($item in $!poolList)
							<tr align="center">
								<td >
									$!item.POOLNAME
									<input type="hidden" name="POOLID" id="POOLID" value="$!item.POOLID" readonly/>
								</td>
								<td><input type="text" name="POOLUSERMONEY" id="POOLUSERMONEY" value="$!item.POOLUSERMONEY" readonly/></td>
								<td><input type="text" name="dichong_money" id="dichong_money" value="0.00" onchange="toChangePool(this);" /></td>
							</tr>
							#set($moneyAll=$moneyAll+$!item.POOLUSERMONEY)
						#end 
						<tr>
							<td align="right" style="font-weight:bold">合计：</td>
							<td align="right" style="font-weight:bold"><input type="text" name="spareMoneyTotal" value="$!moneyAll" readonly></td>
							<td align="right" style="font-weight:bold"><input type="text" name="realityMoneyTotal" id="realityMoneyTotal" value="0.00" readonly></td>
                        </tr>
                  	</table>
                  </td>
              </tr>
               <tr>
                  <td colspan="10" align="right" style="line-height:24px; font-size:14px; font-weight:bold">本次应收核销：$!jqdkM.FI_REALITY_MONEY <input type="hidden" name="fi_pay_money_" id="fi_pay_money_" value="$!jqdkM.FI_REALITY_MONEY"/></td>
              </tr>
        </table>
    </div>
	 <table fitColumns="true"  id="pageTable_detail" fit="true" class="easyui-datagrid" data-options="rownumbers:true,singleSelect:true,collapsible:true,url:'$_basePath/renterpool/CashDeposit!getCheckedDetailData.action?FUND_ID=$!param.FUND_ID'">
         <tr>
			<thead>
				##<th data-options="field:'PRO_ID',align:'center',width:20,checkbox:true"></th>
				<th data-options="field:'PRO_CODE',width:40">项编号</th>
				<th data-options="field:'PAYLIST_CODE',hidden:true,width:50"></th>
				<th data-options="field:'CLIENT_ID',hidden:true,width:50"></th>
    			<th data-options="field:'CUST_NAME',width:50">客户名称</th>
				<th data-options="field:'EQUIPMENINFOS',width:45">租赁物类型</th>
				<th data-options="field:'COMPANY_NAMES',width:50">厂商</th>
				<th data-options="field:'WS_NUM',width:60">未交期次</th>
				##<th data-options="field:'BJ_MONEY',width:60">未收本金</th>
				##<th data-options="field:'LX_MONEY',width:50">未收利息</th>
				<th data-options="field:'ZJ_MONEY',width:50">未收租金</th>
				<th data-options="field:'WS_YQ',width:50">未收违约金</th>
				<th data-options="field:'VALUE_STR',width:55">保证金</th>
				<th data-options="field:'DEDUCTION_YUE',width:50">抵扣后需交金额</th>
				<th data-options="field:'SY_BZJ',width:50">剩余保证金</th>
           </thead>
        </tr>
	</table>
</div>


<div id="dlgUp${jqdkM.FUND_ID}" class="easyui-dialog" title="本次来款金额" closed="true" style="width:600px;height:150px;padding:10px"  data-options="
            buttons: [{
            text:'确定',
            iconCls:'icon-save',
            handler:function(){
				var moneyOrder = $('#moneyOrder${jqdkM.FUND_ID}').val();
				if(moneyOrder == null || moneyOrder == ''){
					alert('请填写分拆金额在确定！');
					return;
				}
				$('#moneyOrderSave${jqdkM.FUND_ID}').val(moneyOrder);
				
				var arr=moneyOrder.split(',');
				var money=0;
                for(var i=0;i<arr.length;i++)
                {
					money=fomatFloat(accAdd(money,arr[i]),2);
                }
				$('.date${jqdkM.FUND_ID}').val(money);
				toChange(${jqdkM.FUND_ID});
				$('#dlgUp${jqdkM.FUND_ID}').dialog('close');
            }},{
                text:'取消',
				iconCls:'icon-cancel',
                handler:function(){
    				$('#dlgUp${jqdkM.FUND_ID}').dialog('close');
                }
            }]
           ">
			<table>
				<tr>
					<td><input name="moneyOrder${jqdkM.FUND_ID}" id="moneyOrder${jqdkM.FUND_ID}" type="text" size="45" #if($!jqdkM.MONEYORDERSAVE) value="$!jqdkM.MONEYORDERSAVE" #else value="$!jqdkM.FI_PAY_MONEY" #end </td>
					<td><font color="red">举例(英文标点)：1000,1000,1000</font></td>
				</tr>
            </table>
</div>