<!DOCTYPE html>
<html>
<head>
#parse("/content/page/importBaseWx.vmf")
<title>项目基本信息</title>
</head>
<body >
<div data-role="page" id="detail_div">
	
	<div class=" text-center" data-fullscreen="true" data-role="header" data-position="fixed">
		<h2>项目基本信息</h2>
	</div>
	
	<div role="main" class="ui-content" style="padding:70px 0px;">
		<table  id="detail_table" data-role="table" data-mode="columntoggle" 
			class="ui-responsive table-stroke" data-column-btn-text="过滤列"
		>
			<thead>
				<tr>
				<th data-priority="1">支付表编号</th>
				<th data-priority="3">合同编号</th>
				<th data-priority="1">应收款项名称</th>
				<th data-priority="1">应收金额</th>
				<th data-priority="3">实分款项名称</th>
				<th data-priority="3">实分金额</th>
				</tr>
			</thead>
			<tbody>
				#foreach($item in $results)
				<tr>
					<td>$!item.D_PAY_CODE </td>
					<td>$!item.LEASE_CODE </td>
					<td>
						#if( !$!item.PERIOD || $!item.PERIOD == '' )
							$!item.D_PAY_PROJECT
						#else 	
							第$!item.PERIOD期$!item.D_PAY_PROJECT
						#end
					</td>
					<td>$!item.D_PAY_MONEY </td>
					<td>
						#if( !$!item.PERIOD || $!item.PERIOD =='')
							$!item.D_PAY_PROJECT
						#else
							第$!item.PERIOD期$!item.D_PAY_PROJECT
						#end
					</td>
					<td>$!item.D_RECEIVE_MONEY </td>
				</tr>
				#end
			</tbody>
		</table>
		<a href="#" class="ui-btn ui-shadow show-page-loading-msg goback" 
			data-transition="flip" 
			data-prefetch="true">返回列表</a>
	</div>
	
	#parse("/content/page/flooter.vmf")
</div>
</body>
</html>