<!DOCTYPE html>
<html>
<head>
#parse("/content/page/importBaseWx.vmf")
<title>项目基本信息</title>
</head>
<body >
<div data-role="page" id="detail_div">
	
	<div class=" text-center" data-fullscreen="true" data-role="header" data-position="fixed">
		<h2>项目基本信息</h2>
	</div>
	
	<div role="main" class="ui-content" style="padding:70px 0px;">
		<table  id="detail_table" >
			<tbody>
				<tr><td>名称：</td><td>$!result.PRO_NAME</td></tr>
				<tr><td>编号：</td><td>$!result.PRO_CODE</td></tr>
				<tr><td>业务类型：</td><td>$!result.PLATFORM_TYPE_STR</td></tr>
				<tr><td>客户经理：</td><td>$!result.CLERK_NAME</td></tr>
				<tr><td>租赁物：</td><td>$!result.EQUIPMENINFOS </td></tr>
				<tr><td>租赁物类型：</td><td>$!result.THING_KIND</td></tr>
				<tr><td>项目总额：</td><td>$!result.LEASE_TOPRIC</td></tr>
				<tr><td>融资额：</td><td>$!result.FINANCE_TOPRIC</td></tr>
				<tr><td>还款期限：</td><td>#set($hhqx = $!result.LEASE_TERM * $!result.LEASE_PERIOD  )$!hhqx 月</td></tr>
				<tr><td>手续费：</td><td>$!MyNumberTool.currency($!result.FEES_PRICE ,2)</td></tr>
				<tr><td>首期付款日期：</td><td>$!result.SQFKYD_DATE </td></tr>
				
				<tr><td>租赁物：</td><td>数量$!result. <a href="#">点击查看</a> </td></tr>
			</tbody>
		</table>
		<a href="#" class="ui-btn ui-shadow show-page-loading-msg goback" 
			data-transition="flip" 
			data-prefetch="true">返回列表</a>
	</div>
	
	#parse("/content/page/flooter.vmf")
</div>
</body>
</html>