<div region="center" border="false" fit="true">
    #if($!param.tab_1=="update")
	<div id="interestForm" style="height:auto;" border="true">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td >
					<a  href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addInterest()">
								添加
					</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="openUpdateInterest()">
								修改
					</a>
					<a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon-remove',plain:true" onclick="delInterest()">
								删除
					</a>
                </td>
            </tr>
        </table>
    </div>
	#end
    <table fitColumns="true" id="interestTable" cellspacing="0" cellpadding="0" border="0" class="easyui-datagrid" style="" pagination="false" data-options="rownumbers:true,autoRowHeight:false,singleSelect:true,url:'$_basePath/credit/CreditAssetsDossier!doSelectInterest.action?CREDIT_ID=$!param.CREDIT_ID&CLIENT_ID='+$!param.CLIENT_ID,toolbar:'#pForm'">
        <tr>
            <thead>
                <th data-options="field:'INTEREST_NAME',width:40">
                    产权名称
                </th>
                <th data-options="field:'INTEREST_HUMAN',width:30"> 
                    产权权益人
                </th>
                <th data-options="field:'INTEREST_DATE',width:30">
                    产权取得日期
                </th>
                <th data-options="field:'VALIDITY_DATE',width:30">
                    产权有效期
                </th>
				<th data-options="field:'INTEREST_TYPE',width:30">
                    产权类型
                </th>
				<th data-options="field:'INTEREST_TYPE_CODE',hidden:true">
                </th>
            </thead>
        </tr>
    </table>
</div>
## 添加其他资产
<div id="interestDialog"  modal="true" class="easyui-dialog" style="width:600px;height:auto" closed="true" buttons="#interest-buttons">
    <form id="interestAdd" method="post">
    	<input type="hidden" id="interest_CLIENT_ID" name="CLIENT_ID" value="$!param.CLIENT_ID">
        <input type="hidden" id="interest_CREDIT_ID" name="CREDIT_ID" value="$!param.CREDIT_ID">
		<table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>
                    产权名称：
                </td>
                <td>
                    <input type="text" name="INTEREST_NAME" size="20">
                </td>
                <td>
                    产权权益人：
                </td>
                <td>
                    <input type="text" name="INTEREST_HUMAN" size="20">
                </td>
            </tr>
            <tr> 
                <td>
                    产权取得日期：
                </td>
                <td>
                    <input type="text" name="INTEREST_DATE" size="20" class="easyui-datebox">
                </td>
                <td>
                   产权有效期：
            			
                </td>
                <td>
                    <input type="text" name="VALIDITY_DATE" size="20" class="easyui-datebox">
                </td>
            </tr>
            <tr>
                <td>
                   产权类型：
                </td>
                <td >
					<select name ="INTEREST_TYPE" id="INTEREST_TYPE">
						#foreach($item in $!TypeList)
							<option value="$item.DATA_ID">$item.FLAG</option>
						#end
                    </select>
				</td>
			</TR>
				
        </table>
    </form> 
</div>
<div id="interest-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveInterest()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#interestDialog').dialog('close')">关闭</a>
</div>


## 修改设备
<div id="interestUpdateDialog" modal="true"  class="easyui-dialog" style="width:600px;height:auto" closed="true" buttons="#interest-Update">
    <form id="interestUpdate" method="post">
    	<input type="hidden" id="interest_CLIENT_ID" name="CLIENT_ID" value="$!param.CLIENT_ID">
        <input type="hidden" id="interest_CREDIT_ID" name="CREDIT_ID" value="$!param.CREDIT_ID">
		<table cellpadding="0" cellspacing="0" class="table_01">
        	<input type="hidden" id="UPDATE_INTEREST_ID" name="ID">
            <tr>
                <td>
                    产权名称：
                </td>
                <td>
                    <input type="text" id ="UPDATE_INTEREST_NAME" name="INTEREST_NAME" size="20">
                </td>
                <td>
                    产权权益人：
                </td>
                <td>
                    <input type="text" id ="UPDATE_INTEREST_HUMAN" name="INTEREST_HUMAN" size="20">
                </td>
            </tr>
            <tr> 
                <td>
                    产权取得日期：
                </td>
                <td>
                    <input type="text" id ="UPDATE_INTEREST_DATE" name="INTEREST_DATE" size="20" class="easyui-datebox">
                </td>
                <td>
                   产权有效期：
				</td>		
                <td>
                    <input type="text" name="VALIDITY_DATE" id ="UPDATE_VALIDITY_DATE" size="20" class="easyui-datebox">
                </td>
            </tr>
            <tr>
                <td>
                   产权类型：
                </td>
                <td >
					<select name ="INTEREST_TYPE" id ="UPDATE_INTEREST_TYPE" >
						#foreach($item in $!TypeList)
							<option value="$item.DATA_ID">$item.FLAG</option>
						#end
                    </select>
				</td>
				<td></td><td></td>
			</TR>
        </table>
    </form>
</div>
<div id="interest-Update">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="updateInterest()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#interestUpdateDialog').dialog('close')">关闭</a>
</div>
