<script type="text/javascript"  src="$!_basePath/project/js/project.js"></script>
	<form id="updateTeamCompany" enctype="multipart/form-data" method="post">
		<input type="hidden" name="COMTEAM_ID" id="COMTEAM_ID" value="$!comTeam.COMTEAM_ID">
         <table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                
                <td>职务：</td>
				<td ><input type="hidden" name="TYPE" id="TYPE2_" value="$!comTeam.TYPE"/>
					<select name="TYPE1" id="TYPE1" onchange="choseRelation1_(this.value,'duty')">
						#foreach($item in $!duty)
							<option value="$!item.CODE" #if($!item.CODE==$!comTeam.TYPE)selected #end>
								$!item.FLAG
                            </option>
						#end
                    </select>
					##<input type="text" class="easyui-datebox" style="width:100px;" name="LINK_BIRTHDAY"/>
                </td>
				<td >姓名：</td>
                <td ><input type="text" name="NAME" id="NAME" value="$!comTeam.NAME"/></td>
                <td rowspan="5" width="150px"  align="center" id="SPOUSE_PHOTO">
				#if($!comTeam.IDCARD_CHECK=="CHECKSUCCESS")
    					<img src="data:image/png;base64,$!comTeam.IDCARD_PHOTO" style="padding:5px;margin:0px;"/>
    			#else
    					<img src="$_basePath/img/on-ph.jpg" style="padding:5px;margin:0px;"/>
    			#end
			</tr>
			<tr>
                <td>证件类型：</td>
                <td><input type="hidden" name="ID_CARD_TYPE" id="ID_CARD_TYPE2" value="$!comTeam.ID_CARD_TYPE"/>
					<select name="ID_CARD_TYPE1" id="ID_CARD_TYPE1" onchange="choseRelation1_(this.value,'card_type')">
						#foreach($item in $!id_typeL)
							<option value="$!item.CODE" #if($!item.CODE==$!comTeam.ID_CARD_TYPE)selected#end>
								$!item.FLAG
                            </option>
						#end
                    </select></td>
                 <td>证件号：</td>
                <td colspan=""><input type="text" style="" name="ID_CARD" id="ID_CARD" value="$!comTeam.ID_CARD" class="validate[required,custom[card]]"/>
						#if(!$comTeam.IDCARD_CHECK)
		    					<span id="idCardCheckSpan">
		    						<a href="javascript:void(0);" class="easyui-linkbutton" onclick="idCardCheck3('$!comTeam.COMTEAM_ID')">验证</a>
		    					</span>
		    			#elseif($comTeam.IDCARD_CHECK=="CHECKSUCCESS")
		    					<span id="idCardCheckSpan" style="color:green">验证通过</span>
		    			#elseif($comTeam.IDCARD_CHECK!="CHECKSUCCESS")
		    					<span id="idCardCheckSpan" style="color:red">验证不通过
		    						<a href="javascript:void(0);" class="easyui-linkbutton" onclick="idCardCheck3('$!comTeam.COMTEAM_ID')">重新验证</a>
		    					</span>
		    			#end </td>
			</tr>
			<tr>
                <td>手机：</td>
                <td><input type="text" name="TEL_PHONE" id="TEL_PHONE" value="$!comTeam.TEL_PHONE" class="validate[required,custom[mobilephone]]"/></td>
                 <td>固话：</td>
                <td colspan=""><input type="text" style="" name="PHONE" id="PHONE" value="$!comTeam.PHONE" class="validate[required,custom[phone]]"/></td>
			</tr>
			<tr>
                <td>办公电话：</td>
                <td><input type="text" name="WORK_PHONE" id="WORK_PHONE" value="$!comTeam.WORK_PHONE"/></td>
                 <td>邮箱：</td>
                <td><input type="text" name="EMAIL" id="EMAIL" value="$!comTeam.EMAIL"/></td>
			</tr>
			<tr>
                 <td>微信：</td>
                <td colspan=""><input type="text" style="" name="MICRO_MESSAGE" id="MICRO_MESSAGE" value="$!comTeam.MICRO_MESSAGE"/></td>
                <td>QQ：</td>
                <td><input type="text" name="QQ" id="QQ" value="$!comTeam.QQ"/></td>
			</tr>
			<tr>
				<td>家庭地址：</td>
                <td colspan="4"><input type="text" style="width:680px;" name="FAMILY_ADDR" id="FAMILY_ADDR" value="$!comTeam.FAMILY_ADDR"/></td>
			</tr>
			<tr>
				<td>户籍地址：</td>
                <td colspan="4"><input type="text" style="width:680px;" name="HOUSE_ADDR" id="HOUSE_ADDR" value="$!comTeam.HOUSE_ADDR"/></td>
			</tr>
			<tr>
				<td>通讯地址：</td>
                <td colspan="4"><input type="text" style="width:680px;" name="COMMUNICATION_ADDR" id="COMMUNICATION_ADDR" value="$!comTeam.COMMUNICATION_ADDR"/></td>
			</tr>
			<tr>
				<td>联系地址：</td>
                <td colspan="4"><input type="text" style="width:680px;" name="CONTACT_ADDR" id="CONTACT_ADDR" value="$!comTeam.CONTACT_ADDR"/></td>
			</tr>
			<tr>
                <td>学历：</td>
                <td><input type="hidden" name="DEGREE_EDU" id="DEGREE_EDU2" value="$!comTeam.DEGREE_EDU" />
					<select name="DEGREE_EDU1" id="DEGREE_EDU1" onchange="choseRelation1_(this.value,'edu')">
						#foreach($item in $!degree_edu)
							<option value="$!item.CODE" #if($!item.CODE==$!comTeam.DEGREE_EDU)selected#end>
								$!item.FLAG
                            </option>
						#end
                    </select></td>
                <td>民族：</td>
                <td colspan=""><input type="hidden" name="NATION" id="NATION2" value="$!comTeam.NATION"/>
					<select name="NATION1" id="NATION1" onchange="choseRelation1_(this.value,'nation')">
						#foreach($item in $!nationL)
							<option value="$!item.CODE" #if($!item.CODE==$!comTeam.NATION)selected#end>
								$!item.FLAG
                            </option>
						#end
                    </select></td>
                    <td></td>
			</tr>
            <tr>
				<td>违法记录：</td>
                <td><input type="hidden" name="IS_ILLEGAL" id="IS_ILLEGAL2" value="$!comTeam.IS_ILLEGAL"/>
					<select name="IS_ILLEGAL1" id="IS_ILLEGAL1" onchange="choseRelation1_(this.value,'illegal')">
						<option value="0" #if("0"==$!comTeam.IS_ILLEGAL)selected#end>
							无
                        </option>
						<option value="1" #if("1"==$!comTeam.IS_ILLEGAL)selected#end>
							有
                        </option>
                    </select></td>
                <td></td>
                <td colspan="2"></td>
			</tr>
			<tr >
                <td>上传照片：</td>
                <td colspan="3">
					<input type='file' name='FILE1_PATH' class='uploadfile' id='FILE1_PATH' size='10' />
					#if($comTeam.FILE_PATH)
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-down" filePath='$comTeam.FILE_PATH' onclick="download1(this)">下载</a>
						$comTeam.FILE_NAME
					#end
				</td>
            </tr>
			<tr >
				<td>备注：</td>
				<td colspan="4">
					<textarea name="REMARK" style="width:680px;">$!comTeam.REMARK</textarea>
                </td>
            </tr>
		 </table>
    </form>