 <!DOCTYPE html>
<html>
    <head>
    	#parse("content/importBase.vm")
		<script type="text/javascript" language="JavaScript" src="$_basePath/insure/js/hj_util.js"></script>
        <meta charset="UTF-8">
        <title>保险管理</title>
    </head>
 <body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;" border="true">
		   <form id="queryForm">
    		<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
                <tr>
                   <td align="right">项目编号</td>
				   <td>
                    	<input class="input_03" type="text" size ="20" name="PRO_CODE" />
                   </td>
                   <td align="right">供应商</td>
				    <td>
                    	<input class="input_03" type="text" size ="20" name="SUPPLIERS_NAME" />
                   </td>
				    <td align="right">客户名称</td>
				    <td>
                    	<input class="input_03" type="text" size ="20" name="NAME" />
                   </td>
				    <td align="right">出厂编号</td>
				    <td>
                    	<input class="input_03" type="text" size ="20" name="WHOLE_ENGINE_CODE" />
                   </td>
				    <td>
				   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>搜 索</a>
				   </td>
               </tr>
			   <tr>
			   	  <td align="right">租赁物名称</td>
				   <td>
                    	<select name="PRODUCT_NAME" style="width:100px;">
						<option value="">　　　</option>
						#foreach($!item in $data.products)
						<option value="$!item.PRODUCT_NAME">$!item.PRODUCT_NAME</option>
						#end
						</select>
                   </td>
                   <td align="right">厂商</td>
				    <td>
                    	<select name="COMPANY_NAME" style="width:100px;">
						<option value="">　　　</option>
						#foreach($!item in $data.companys)
						<option value="$!item.COMPANY_NAME">$!item.COMPANY_NAME</option>
						#end
						</select>
                   </td>
				    <td align="right">验收日期</td>
				    <td colspan="3">
                    	<input class="easyui-datebox" type="text" size ="10" name="B_DELIVER_DATE"  />到
						<input class="easyui-datebox" type="text" size ="10" name="E_DELIVER_DATE" />
                   </td>
				    <td>
				   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-cancel" onclick='clear_();'>清 空</a>
				   </td>
			   </tr>
			   <tr><td colspan="9"><div>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-return" plain="true" onclick="revocation('no')">撤销</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="approval('yes')">确认</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" id="exportEXCEL" onclick="exportEXCEL()">导出</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true"  onclick="importEXCEL()">导入</a>
               
				<input type="checkbox" id="check1" onclick="selectPage(this)">
				<label for="check1">页面全选</label>
                <input type="checkbox" id="check2"  name="selectAll"> 
				<label for="check2">数据全选</label>
        		</div>
				</td></tr>
          </table>
		  </form>
		  <div id="dialog" title="保险模板导入" style="width:600px;height:150px;display:none;">  
		  	  <form action="$_basePath/insure/Insure!importEXCEL.action" enctype="multipart/form-data" method="post">
				    <table cellspacing="5"  cellpadding="3"  class="table_01"  style=" width:96%; margin:6% 2%;"  >
				    	<tr>
				    		<td align="right">上传文件:</td>
							<td align="left">
								<input name="insurFile" style="width: 250px;" type="file"/>
								<SPAN style="color:red;">允许上传的文件类型.xls</SPAN>
							</td>
						</tr>
						<tr>
							<td colspan=2  align="center">
								<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="import_()" >确认导入</a>
								<input type="submit" value="确认导入">
							</td>
						</tr>
				    </table>
				</form>
		   </div>  
		</div>
        <table fitColumns="true"   id="pageTable" fit="true" class="easyui-datagrid" 
		data-options="pageSize:20,pagination:true,rownumbers:true,onClickRow: onClickRow,url:'$_basePath/insure/Insure!insureAffirmListing.action',toolbar:'#pageForm'">
             <tr>
				<thead>
    				<th data-options="field:'PRO_CODE',width:12">项目编号</th>
    				<th data-options="field:'SUPPLIERS_NAME',width:12">供应商</th>
    				<th data-options="field:'NAME',width:12">客户名称</th>
    				<th data-options="field:'PRODUCT_NAME',width:12">租赁物名称</th>
    				<th data-options="field:'SPEC_NAME',width:10">租赁物型号</th>
    				<th data-options="field:'WHOLE_ENGINE_CODE',width:10">出厂编号</th>
    				<th data-options="field:'INSUR_NO',width:10,editor:'text'">保单号</th>
    				<th data-options="field:'INSUR_DATE',width:12,editor:'datebox'">保单日期</th>
    				<th data-options="field:'INVOICE_NO',width:10,editor:'text'">发票号</th>
    				<th data-options="field:'INVOICE_DATE',width:12,editor:'datebox'">发票日期</th>
    				<th data-options="field:'DELIVER_DATE',width:12,editor:'datebox'">保险起期</th>
    				<th data-options="field:'TOTAL_PERIODS',width:6,editor:'text'">保险期限</th>
    				<th data-options="field:'END_DATE',width:8">保险止期</th>
    				<th data-options="field:'UNIT_PRICE',width:6">保险金额</th>
    				<th data-options="field:'INSURE_MONEY',width:6">实收保费</th>
    				<th data-options="field:'ID',hidden:true">ID</th>
                </thead>
            </tr>
		 </table>
	</div>
	<script type="text/javascript" src="$_basePath/insure/js/insureAffirm.js"></script>
</body>
</html>