<!DOCTYPE html>
<html>
    <head>
    	#parse("content/importBase.vm")
		<script type="text/javascript" language="JavaScript" src="$_basePath/insure/js/hj_util.js"></script>
        <meta charset="UTF-8">
        <title>保险管理</title>
    </head>
 <body style="background-image:none;">
	<div id="pageForm" style="height:auto;" border="true">
	   <form id="queryForm">
		<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
            <tr>
               <td align="right">项目编号</td>
			   <td>
                	<input class="input_03" type="text" size ="20" name="PROJ_ID" />
               </td>
               <td align="right">供应商</td>
			    <td>
                	<input class="input_03" type="text" size ="20" name="DLD" />
               </td>
			    <td align="right">客户名称</td>
			    <td>
                	<input class="input_03" type="text" size ="20" name="KHMC" />
               </td>
			    <td align="right">出厂编号</td>
			    <td>
                	<input class="input_03" type="text" size ="20" name="EQUIP_SN" />
               </td>
			    <td>
			   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>搜 索</a>
			   </td>
           </tr>
		   <tr>
		   	  <td align="right">租赁物名称</td>
			   <td>
                	<select name="PROD_ID" style="width:100px;">
					<option value="">　　　</option>
					#foreach($!item in $data.products)
					<option value="$!item.PRODUCT_NAME">$!item.PRODUCT_NAME</option>
					#end
					</select>
               </td>
               <td align="right">厂商</td>
			    <td>
                	<select name="MANUFACTURER" style="width:100px;">
					<option value="">　　　</option>
					#foreach($!item in $data.companys)
					<option value="$!item.COMPANY_NAME">$!item.COMPANY_NAME</option>
					#end
					</select>
               </td>
			    <td align="right"></td>##验收日期
			    <td colspan="3">
                	#*<input class="easyui-datebox" type="text" size ="10" name="B_DELIVER_DATE"  />到
					<input class="easyui-datebox" type="text" size ="10" name="E_DELIVER_DATE" />*#
               </td>
			    <td>
			   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-cancel" onclick='clear_();'>清 空</a>
			   </td>
		   </tr>
		   <tr><td colspan="9"><div>
			##<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" id="exportEXCEL" onclick="exportEXCEL()">导出</a>
			##<input type="checkbox" id="check1" onclick="selectPage(this)">
			##<label for="check1">页面全选</label>
            ##<input type="checkbox" id="check2"  name="selectAll"> 
			##<label for="check2">数据全选</label>
    		</div>
			</td></tr>
      </table>
	  </form>
	</div>
    <table style="width:900px"  id="pageTable" fit="true" class="easyui-datagrid" 
		data-options="pageSize:20,pagination:true,rownumbers:true,url:'$_basePath/insure/InsureMonitor!toHalfPage.action',toolbar:'#pageForm'">
         <tr>
			<thead>
				<th data-options="field:'PROJ_ID',width:102">项目编号</th>
				<th data-options="field:'DLD',width:100">供应商</th>
				<th data-options="field:'BXGS',width:102">保险公司</th>
				<th data-options="field:'XZ',width:100">险种</th>
				<th data-options="field:'TBR',width:80">TBR</th>
				<th data-options="field:'BBXR',width:102">BBXR</th>
				<th data-options="field:'SYR',width:102">受益人</th>
				<th data-options="field:'KHMC',width:100">客户名称</th>
				<th data-options="field:'MANUFACTURER',width:100">厂商</th>
				<th data-options="field:'USEAREA',width:80">地区</th>
				<th data-options="field:'PROD_ID',width:80">租赁名称</th>
				<th data-options="field:'MODEL_ID',width:80">型号</th>
				<th data-options="field:'EQUIP_SN',width:60">出厂编号</th>
				<th data-options="field:'INSUR_NO',width:60">保单号</th>
				<th data-options="field:'INSUR_DATE',width:60">保险日期</th>
				<th data-options="field:'INSUR_START_DATE',width:60">保险起期</th>
				<th data-options="field:'INSUR_END_DATE',width:60">保险止期</th>
				<th data-options="field:'INSUR_TERM',width:60">保险期限</th>
				<th data-options="field:'INSURANCE',width:60">保险金额</th>
				<th data-options="field:'INSURANCE_TYPE',width:60">保险方式</th>
				<th data-options="field:'INVOICE_NO',width:60">发票号</th>
				<th data-options="field:'INVOICE_DATE',width:60">发票日期</th>
				<th data-options="field:'INSURANCE',hidden:true">ID</th>
            </thead>
        </tr>
	 </table>
	<script type="text/javascript">
		function clear_(){
			 $('#queryForm').form('clear');
		}
		function se(){
			$('#pageTable').datagrid('load', { 
				"PROJ_ID":$("[name='PROJ_ID']").val(),
				"DLD":$("[name='DLD']").val(),
				"KHMC":$("[name='KHMC']").val(),
				"EQUIP_SN":$("[name='EQUIP_SN']").val(),
				"PROD_ID":$("[name='PROD_ID']").val(),
				"MANUFACTURER":$("[name='MANUFACTURER']").val()
			});
		}
		
		function selectPage(checkbox){
			var tt = checkbox;
			if(tt.checked){
				$('#pageTable').datagrid("selectAll");
			}else{
				$('#pageTable').datagrid("unselectAll");
			}
		}
		function exportEXCEL(){
			var data = $('#pageTable').datagrid("getSelections");
			var PRO_CODES = new Array();
			$(data).each(function(){
				PRO_CODES.push(this.ID);
			})
			//
			var jsonData = $("#queryForm").serialize();
			var jsonData = $("#queryForm").serialize()+"&PRO_CODES="+PRO_CODES.toString();
			$('#exportEXCEL').linkbutton('disable');
			var url_ = "$_basePath/insure/Insure!exportExcel.action?"+jsonData;
			if (getUrl_().type_ == 2) {
				url_ = "$_basePath/insure/Insure!insureCheckExportExcel.action?"+jsonData;
			}
			window.location.href=url_;
		}
		
		function approval(parm){
			//alert(parm);
			var data = $('#pageTable').datagrid("getSelections");
			var PRO_CODES = new Array();
			$(data).each(function(){
				PRO_CODES.push(this.ID);
			})
			//
			var jsonData = $("#queryForm").serialize();
			var jsonData = $("#queryForm").serialize()+"&PRO_CODES="+PRO_CODES.toString()+"&parm="+parm;
			var url_ = "$_basePath/insure/Insure!insureCheckApproval.action";
			jQuery.ajax({
			   type: "POST",
			   dataType:"json",
			   url: url_,
			   data: jsonData,
			   success: function(msg){
				alert (msg.data);
				window.location.href="$_basePath/insure/Insure.action?type_=2"
			   }
			});
		}
	</script>
</body>
</html>