<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>   
      #parse("content/importBase.vm")
	  <script type="text/javascript" language="JavaScript" src="$_basePath/insure/js/insurance_xb.js"></script>
  </head>
	<body  class="easyui-layout">
		<div id="pageForm" style="padding:20px;height:auto"> 
        	<form id="form01" method="post">
        		<table width="100%">
					<tr>
						<td style="text-align:right;">保险公司:</td>
						<td><select id="NAME" name="NAME">
								<option value="">请选择</option>
								#foreach($!item in $!insuCompany)
									<option value="$!item.COMPANY_NAME">$!item.COMPANY_NAME</option>
								#end
                        </select></td>
						<td style="text-align:right;">内容(保险公司、保险费、缴费凭证号、投保人、被保险人、支付表号、客户名称):</td>
						<td><input class="easyui-validatebox paramData" type="text"  name="CONTENT" value="$!param.CONTENT" /></td>
						<td>
							<a href="javascript:void(0);" class="easyui-linkbutton"  iconCls="icon-search" onclick='se();'>查 询</a>&nbsp;
							<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData()">清 空</a>
						</td>
                    </tr>
                </table>
        </form>
        </div>	
    		<table id="pageTable" fitColumns="true"   class="easyui-datagrid" fit="true" singleSelect="false" selectOnCheck="true" checkOnSelect="true"  pagination="true" rownumbers="true" url="$_basePath/insure/Insurance!getRenewal.action" toolbar="#pageForm" >
            	<tr class="BOX_title" align="center" becr_id="" becr_type="" seq="">
            			<thead>
            				<th data-options="field:'INCU_ID',align:'center',width:120,formatter:setOperation">操作</th>
                			<th data-options="field:'STATUS',width:100,align:'center'">保单状态</th>
                        	<th data-options="field:'COMPANY_NAME',width:100,align:'center'">保险公司</th>
                            <th data-options="field:'CUST_NAME',width:100,align:'center'">客户名称</th>
                			<th data-options="field:'INCU_CODE',width:100,align:'center'">保单号</th>
                			<th data-options="field:'INSURE_NAME',width:100,align:'center'">险种</th>
                			<th data-options="field:'INSU_END_DATE',width:100,align:'center'">保险终止日期 </th>
							<th data-options="field:'INSU_NAME',width:100,align:'center'">被保险人</th>
							<th data-options="field:'TO_INSU_NAME',width:100,align:'center'">投保人</th>
                            
            			</thead>
            		</tr>
            </table>
	</body>
</html>	