<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>险种管理</title>
	<!-- 路径定义-->
	#set ( $_basePath = $request.ContextPath )
	#parse("content/importBase.vm")
	<link type="text/css" href="$_basePath/css/index/css.css" rel="stylesheet"></link>
	<script type="text/javascript">
		var _basePath = "$!_basePath";
	</script>
	<script type="text/javascript"  src="$!_basePath/insure/js/insureTypeManagement.js"></script>
</head>
<body  class="easyui-layout">
<div  region="center" border="false">
	<div id="pageForm" style="padding:20px;height:auto">	
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td align="right"><label>险种名称：</label></td>
				<td align="left"><input id="INSURE_NAME" name="INSURE_NAME" style="width:100px" class="easyui-validatebox paramData" /></td>
				<td align="right"><label>险种类型：</label></td>
				<td align="left">
					<select id="INSURE_TYPE" name="INSURE_TYPE"  class="paramData">
    					<option value="">全部</option>
    					<option value="必保险种">必保险种</option>
    					<option value="选保险种">选保险种</option>
					</select>
				</td>
				<td align="right"><label>品牌类型：</label></td>
				<td align="left">
					<select id="EQUIP_TYPE" name="EQUIP_TYPE"  class="paramData">
						<option value="">全部</option>
    					<option value="机动车">机动车</option>
    					<option value="非机动车">非机动车</option>
					</select>
				</td>
				<td align="left"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="dosearch()">查询</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData()">清空</a>
			    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="newOne()">添加</a></td>
				
			</tr>
		</table>
	</div>
	<table id="pageTable" class="easyui-datagrid" pagination="true" data-options="rownumbers:true,singleSelect:true,url:'$_basePath/insure/InsureTypeManagement!pageData.action',toolbar:'#pageForm',fit:true,fitColumns:true">
		<tr>
            <thead>
                 <th data-options="field:'ID',align:'center',width:60,formatter:setOperation">操作</th>
                <th data-options="field:'INSURE_NAME',align:'center',width:60">险种名称</th>
                <th data-options="field:'INSURE_TYPE',align:'center',width:80">险种类型</th>
                <th data-options="field:'EQUIP_TYPE',align:'center',width:60">品牌类别</th>
                <th data-options="field:'INSURE_RATE',align:'center',width:100">初始费率</th>

            </thead>
        </tr>
	</table>
</div>
<div id="dlg" class="easyui-dialog"  style="overflow:hidden;width:400px;height:310px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate>
        <div class="fitem">
			<table style="border:0px;" align="left">
				<tr>
                    <td><label>险种名称:</label></td><td><input id="i1" name="INSURE_NAME" class="easyui-validatebox" required="true" ></td>
                </tr>
				<tr>
					<td><label>险种类型:</label></td>
					<td>
						<select id="s1" name="INSURE_TYPE" style="width:175px">
        					<option value="必保险种">必保险种</option>
        					<option value="选保险种">选保险种</option>
						</select>
					</td>
                </tr>
				<tr>
					<td><label>设备类别:</label></td>
					<td>
						<select id="s2" name="EQUIP_TYPE" style="width:175px">
        					<option value="机动车">机动车</option>
        					<option value="非机动车">非机动车</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>保险险种费率:</label></td>
					<td><input id="i2" name="INSURE_RATE" class="easyui-validatebox" required="true" ></td>
                </tr>
				<tr>
					<td>
					  <label>备注:</label></td>
					<td>
						<textarea id="REMARK" style="border: #c0c0c0 solid rgb(192, 192, 192); width: 180px; height: 64px; font-size: 12px;" name="REMARK"></textarea>
                    </td>
                </tr>
				<tr>
					<td>
						<input type="hidden" class="easyui-validatebox" name="ID"/>
					</td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div id="dlg-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="save()">保存</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">关闭</a>
</div>
</body>
</html>