#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/project/js/project.js"></script>
<script type="text/javascript" src="$_basePath/baseScheme/js/schemeCompute.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
    	jQuery("#FIRSTMONEYHELP").dialog('close');
    });
	
	function saveStartDate(){
	jQuery.messager.confirm("询问","确定要发起流程？",function(r){
		if(r){
			var START_DATE=jQuery("input[name='START_DATE']").val();
			var REPAYMENT_DATE=jQuery("input[name='REPAYMENT_DATE']").val();
			var PAY_ID=jQuery("input[name='PAY_ID']").val();
			var PLATFORM_TYPE=jQuery("input[name='PLATFORM_TYPE']").val();
			var PROJECT_ID=jQuery("input[name='PROJECT_ID']").val();
			var CUST_ID=jQuery("input[name='CUST_ID']").val();
			jQuery.ajax({
                type: "POST",
                dataType: "json",
        		url:_basePath+"/leaseApplication/LeaseApplication!saveStartDate.action",
        		data:"START_DATE="+START_DATE+"&REPAYMENT_DATE="+REPAYMENT_DATE+"&PAY_ID="+PAY_ID+"&PLATFORM_TYPE="+PLATFORM_TYPE+"&PROJECT_ID="+PROJECT_ID+"&CUST_ID="+CUST_ID,
        		success:function(json){
        			if(json.flag){
        				jQuery.messager.alert("提示",json.msg+json.data);
        				jQuery("#saveDate").attr("onclick","");
            			jQuery("#saveDate").attr("disabled",true);
            			jQuery("#saveDate").linkbutton("disable");
        			}else{
        				jQuery.messager.alert("提示","发起流程失败!");
        				
        			}
        		}
        	});	
        }
     });   	
}
</script>

<table cellpadding="0" cellspacing="0" class="table_01"  fit="true">
	<tr>
		<td colspan="4" class="table_th">基本信息</td>
	</tr>
    <tr>
        <td align="right" bgcolor="#fbfbfb">客户名称：</td>
        <td>$!baseMap.CUST_NAME &nbsp;</td>
		<td align="right" bgcolor="#fbfbfb">客户类型：</td>
        <td>#if($!baseMap.CUST_TYPE=='LP') 法人 #else 个人 #end &nbsp;</td>
        
    </tr>
	<tr>
        <td align="right" bgcolor="#fbfbfb">项目编号：</td>
        <td>$!baseMap.PRO_CODE &nbsp;</td>
        <td align="right" bgcolor="#fbfbfb">项目名称：</td>
        <td>$!baseMap.PRO_NAME &nbsp;</td>
    </tr>
	<tr>
		 <td align="right" bgcolor="#fbfbfb">使用区域：</td>
        <td>
        	$!baseMap.PROVINCE_NAME - $!baseMap.CITY_NAME &nbsp;
		</td>
		 <td align="right" bgcolor="#fbfbfb">行业分类：</td>
        <td>
        	 $!baseMap.INDUSTRY_FICATION_NAME &nbsp;
		</td>
	</tr>
	<tr>
        <td align="right" bgcolor="#fbfbfb">起租日：</td>
        <td>$!baseMap.START_DATE &nbsp;<input name="START_DATE" id="START_DATE" value="$!baseMap.START_DATE" type="hidden"/></td>
        <td align="right" bgcolor="#fbfbfb">还款起始日：</td>
        <td>$!baseMap.REPAYMENT_DATE &nbsp;<input name="REPAYMENT_DATE" id="REPAYMENT_DATE" value="$!baseMap.REPAYMENT_DATE" type="hidden"/></td>
		<input name="PAY_ID" id="PAY_ID" value="$!param.PAY_ID" type="hidden">
    </tr>
	
</table>
<input type="hidden" id="PROJECT_NAME" name="PROJECT_NAME" value="$!baseMap.PRO_NAME">
<input type="hidden" id="PLATFORM_TYPE" name="PLATFORM_TYPE" value="$!baseMap.PLATFORM_TYPE">
<input type="hidden" id="PROJECT_ID" name="PROJECT_ID" value="$!baseMap.PROJECT_ID">
<input type="hidden" id="CUST_ID" name="CUST_ID" value="$!baseMap.CUST_ID">
<DIV style="height:20PX"></DIV>

<div style="overflow-x:scroll;height:auto;width:100%;"  data-options="border:false">
<table  cellpadding="0" cellspacing="0" class="table_01" fit="true">
	<tr>
		<td  colspan="17" class="table_th">
			设备信息 
			#if($!baseMap.PLATFORM_TYPE=='11')
				<a href="#" onclick="QUERYZCBModel()" class="easyui-linkbutton"  plain="true" iconCls="icon-search">查看资产包明细</a>
			#end
		</td>
	</tr>
       <tr class="trHead">
								
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						厂商
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						供应商
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						设备名称
            					</th>
            					<th   bgcolor="#fbfcfc" style="width:90px;">
            						设备系列
            					</th>
                                <th   bgcolor="#fbfcfc" style="width:90px;">
									型号
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						留购价(元)
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;"> 
            						#if($!param.PLATFORM_TYPE=='11') 拆分金额(元) #else 指导价(元) #end
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						数量
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						单位
            					</th>
								<th  bgcolor="#fbfcfc" style="width:90px;">
            						小计
            					</th>
								<th  bgcolor="#fbfcfc" style="width:90px;text-align:center;">
									合格证编号
								</th>
								<th   bgcolor="#fbfcfc" style="width:90px;">
									出厂编号
            					</th>
								<th   bgcolor="#fbfcfc" style="width:90px;">
									出厂日期
            					</th>
								<th   bgcolor="#fbfcfc" style="width:90px;">
									发动机编号
            					</th>
								<th  bgcolor="#fbfcfc" style="width:90px;text-align:center;">
									发动机号/许可证号
								</th>
								<th  bgcolor="#fbfcfc" style="width:120px;">
									整机编号/车架号
            					</th>
							</tr>
							
							#set($eq_count=0)
							#set($eqTotalView=0)
							#foreach($item in $!eqList)
								#set($eqTotalView=$eqTotalView+$!item.UNIT_PRICE)
								<tr class="eqTr">
                					<td style="text-align: center;">
										<input type="hidden" name="COMPANY_NAME1" id="COMPANY_NAME1" value="$!param.COMPANY_NAME1"/>
                						 <input type="text"  value="$!item.COMPANY_NAME" size=10  style="width:150px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.SUPPLIERS_NAME" size=10  style="width:150px;"  disabled>
                					</td>
									<td style="text-align: center;">
                						<input type="text"  value="$!item.PRODUCT_NAME" size=10  style="width:140px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.CATENA_NAME" size=10  style="width:90px;"  disabled>
                					</td>
                                    <td style="text-align: center;">
                                        <input type="text"  value="$!item.SPEC_NAME" size=10  style="width:90px;"  disabled>
                					</td>
									
                					<td style="text-align: center;">
										<input type="text"  value="$!item.STAYBUY_PRICE" size=10  style="width:90px;"  disabled>
                					</td>
                					<td style="text-align: center;"> 
										<input type="text"  value="$!item.UNIT_PRICE" size=10  style="width:90px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.AMOUNT" size=10  style="width:60px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.UNITTEST" size=10  style="width:60px;"  disabled>
                					</td>
									<td style="text-align: center;">
									#if($!param.PLATFORM_TYPE=='11')<input type="text"  value="$!item.UNIT_PRICE" size=10  style="width:120px;"  disabled> #else <input type="text"  value="$!item.TOTAL" size=10  style="width:120px;"  disabled> #end
                					</td>
									<td>
										<input type="text"  value="$!item.CERTIFICATE_NUM" size=10  style="width:150px;"  disabled>
                               		</td>
									<td style="text-align: center;">
    									<input type="text"  value="$!item.WHOLE_ENGINE_CODE" size=10  style="width:150px;"  disabled>
                					</td>
    								<td style="text-align: center">
    									<input type="text"  value="$!item.CERTIFICATE_DATE" size=10  style="width:150px;"  disabled>
                					</td>
    								<td style="text-align: center">
    									<input type="text"  value="$!item.ENGINE_TYPE" size=10  style="width:150px;"  disabled>
                					</td>
									<td>
										<input type="text"  value="$!item.ENGINE_CODE" size=10  style="width:150px;"  disabled>
        							</td>
    								<td style="text-align: center">
    									<input type="text"  value="$!item.CAR_SYMBOL" size=10  style="width:150px;"  disabled>
                					</td>
								</tr>
							#end
</table>
</div>
<table cellpadding="0" cellspacing="0" class="table_01">
	<tr  align="right">
		<td colspan="4">合计（大写）：<span id="chinaAllTotal"></span><script type="text/javascript"> document.getElementById("chinaAllTotal").innerHTML=atoc('$!eqTotalView')</script></td>
		<td colspan="7">合计（小写：￥）：$FORMAT.currency($!eqTotalView)</td>
	</tr>
</table>
<DIV style="height:20PX"></DIV>
	
	<table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
    		<td colspan="8" class="table_th">方案信息
				&nbsp;&nbsp;
                <a href="javascript:void('0')" onclick="showHelp()"><font color='red'>友情提示</font></a>
			</td>
    	</tr>
     <tr>
                <td class="text_right">设备总额</td>
                <td>$FORMAT.currency($!schemeBase.LEASE_TOPRIC)</td>
        		<td class="text_right">融资额</td>
                <td>$FORMAT.currency($!schemeBase.FINANCE_TOPRIC)</td>
                <td  class="text_right">业务类型</td>
				<td>
    				$dicTag.getFLAG("业务类型","$!baseMap.PLATFORM_TYPE")
                </td>
                <td class="text_right">租金总额</td>
                <td>$FORMAT.currency($!schemeBase.TOTAL_MONTH_PRICE)</td>
    	</tr>
    	 <tr>
				<td class="text_right">期限</td>
                <td>
					$!schemeBase.LEASE_TERM $dicTag.getFLAG("租赁周期","$!schemeBase.LEASE_PERIOD")  
				</td>
                <td class="text_right">租金收益率</td>
    			<td>$!schemeBase.INTERNAL_RATE%</td>
                <td class="text_right">首期付款日期</td>
                <td>$!schemeBase.FIRSTPAYDATE</td>
                <td class="text_right">首期付款合计</td>
                <td>$FORMAT.currency($!schemeBase.FIRSTPAYALL)</td>
    		</tr>
    		<tr>
                <td class="text_right">年利率</td>
        		<td>
					#set($yearRate=$!schemeBase.YEAR_INTEREST*100)
					$yearRate % </td>
				<td class="text_right">手续费率</td>
				<td>$!schemeBase.POUNDAGE_RATE % </td>
				<td class="text_right">手续费</td>
    			<td>$FORMAT.currency($!schemeBase.POUNDAGE_PRICE)</td>
               <td class="text_right">
    				手续费收取方式
    			</td>
                <td>$dicTag.getFLAG("收取方式","$!schemeBase.MANAGEMENT_FEETYPE")</td>
            </tr>
			<tbody id="addSchemeForm">
		#foreach($!item in $!SCHEMEDETAIL)
			#if($velocityCount%4==1)
				<tr>
			#end
				<td class="text_right">
					$!item.KEY_NAME_ZN 
                </td>
				<td 
				#if($velocityCount==$!SCHEMEDETAIL.size())
					#set($col=(4-$velocityCount%4+1)*2)
					colspan="$col"
				#end
				>
				 #if($item.KEY_NAME_EN.contains('MONEY')||$item.KEY_NAME_EN.contains('PRICE'))
					$FORMAT.currency(${item.VALUE_STR}) &nbsp;
				 #else
					$dicTag.getFLAG($!item.KEY_NAME_ZN,$!item.VALUE_STR) &nbsp;
				 #end
				 #if($item.KEY_NAME_EN.contains('PERCENT')) % #end
                </td>
			#if($velocityCount%4==0)
            </tr>
			#end
		#end
            </tbody>
         </table>

<DIV style="height:20PX"></DIV>
<table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
    		<td colspan="4" class="table_th">计入首期款 </td>
    	</tr>
	
     	<tr class="trHead">
    		<th  bgcolor="#fbfcfc" >费用类型</th>
    		<th  bgcolor="#fbfcfc" >费用名称</th>
    		<th  bgcolor="#fbfcfc" >费用金额</th>
    		<th  bgcolor="#fbfcfc" >应收时间</th>
    	</tr>
   
		#foreach($!item in $!qtSQ)
				<tr>
					<td align="center">首期款</td>
					<td align="center">$!item.ITEM_NAME  &nbsp;</td>
					<td align="right">$FORMAT.currency($!item.ITEM_MONEY) &nbsp;</td>
					<td align="center">$!item.PAY_DATE</td>
				</tr>
		#end
</table>

<DIV style="height:20PX"></DIV>
<table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
    		<td colspan="4" class="table_th">计入其他费用 </td>
    	</tr>
	
     	<tr class="trHead">
    		<th  bgcolor="#fbfcfc" >费用类型</th>
    		<th  bgcolor="#fbfcfc" >费用名称</th>
    		<th  bgcolor="#fbfcfc" >费用金额</th>
    		<th  bgcolor="#fbfcfc" >应收时间</th>
    	</tr>
		#foreach($!item in $!qtFy)
				<tr>
					<td align="center">其他费用</td>
					<td align="center">$!item.ITEM_NAME  &nbsp;</td>
					<td align="right">$FORMAT.currency($!item.ITEM_MONEY) &nbsp;</td>
					<td align="center">$!item.PAY_DATE</td>
				</tr>
		#end
</table>
<DIV style="height:20PX"></DIV>
 <div style="text-align:center">
           <a href="javascript:void(0)" class="easyui-linkbutton" id="saveDate" iconCls="icon-next" onclick="saveStartDate();">发起流程</a>
</div>
<DIV style="height:20PX"></DIV>	
 <table  cellpadding="0" cellspacing="0" class="table_01">
	<thead >
     	<tr>
    		<td class="text_left">期次</td>
    		<td class="text_left">支付时间</td>
    		<td class="text_left">租金</td>
    		<td class="text_left">本金</td>
    		<td class="text_left">利息</td>
    		<td class="text_left">剩余本金</td>
    	</tr>
    </thead>
	<tbody >
    	##set($PMTZJ=0)
    	#set($ZJ=0)
    	#set($BJ=0)
    	#set($LX=0)
    	#foreach($!item in $!detailList)
    	 <tr>
            <td>$!item.PERIOD_NUM</td>
            <td>$!item.PAY_DATE</td>
            <td style="text-align:right">$FORMAT.currency($!item.ZJ)</td>
            <td style="text-align:right">$FORMAT.currency($!item.BJ)</td>
            <td style="text-align:right">$FORMAT.currency($!item.LX)</td>
            <td style="text-align:right">$FORMAT.currency($!item.SYBJ)</td>
         </tr>
    	 
    	 #set($ZJ=$ZJ + $toNum.getDoubled("$!item.ZJ"))
    	 #set($BJ=$BJ + $toNum.getDoubled("$!item.BJ"))
    	 #set($LX=$LX + $toNum.getDoubled("$!item.LX"))
    	#end
    	<tr>
            <td colspan="2" class="text_right">合计</td>
            <td style="text-align:right">$FORMAT.currency($ZJ)</td>
            <td style="text-align:right">$FORMAT.currency($BJ)</td>
            <td style="text-align:right">$FORMAT.currency($LX)</td>
            <td>&nbsp;</td>
         </tr>
    </tbody>
 </table>

<div class="easyui-dialog"  id="FIRSTMONEYHELP" title="首期付款合计帮助说明" style="width:400px;height:100px;">
	首期付款合计=首期租金+手续费+保证金+保险费+担保费+(其他在金融产品中设置计入首期款的费用)<br/>
	注意：当为期初模式时，首期付款合计中包含第一期租金
</div>
