<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>发货申请</title>
		#parse("content/importBase.vm")
		<!-- JQuery Core -->
		<link href="../css/css.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="$request.ContextPath/deliveryProduct/js/DeliveryProductaddpageNew.js"></script>
		<script Language="JavaScript">
		$(function(){
				//日期控件
        		jQuery('.date').datepicker({
        			changeMonth: true,
        			changeYear: true
        		});
				jQuery('.date').datepicker('option',{dateFormat: 'yy-mm-dd'});
		})
		
		function payNext(PAY_ID){
			$("input[name='PAY_ID']").val(PAY_ID);
    		var START_DATE=$("input[name='START_DATE']").val();
    		if(START_DATE==null||START_DATE==''||START_DATE=='undefined'||START_DATE==undefined){
    			alert("请输入起租日");
    			return false;
    		}
    		$("input[name='START_DATE_CHANGE']").val(START_DATE);
    		
    		var REPAYMENT_DATE=$("input[name='REPAYMENT_DATE']").val();
    		if(REPAYMENT_DATE==null||REPAYMENT_DATE==''||REPAYMENT_DATE=='undefined'||REPAYMENT_DATE==undefined){
    			alert("请输入还款起始日");
    			return false;
    		}
    		$("input[name='REPAYMENT_DATE_CHANGE']").val(REPAYMENT_DATE);
    		
    		if(START_DATE>REPAYMENT_DATE){
    			alert("还款起始日应该不小于起租日");
    			return false;
    		}
        	
        	$("#mainForm").submit();
    }

function SchemeView(SCHEME_ROW_NUM,PROJECT_ID,PROJECT_CODE,ROWNUMBER,PLATFORM_TYPE){
	top.addTab(PROJECT_CODE+"项目方案"+ROWNUMBER+"查看",_basePath+"/project/project!SchemeView.action?SCHEME_ROW_NUM="+SCHEME_ROW_NUM+"&PROJECT_ID="+PROJECT_ID+"&PLATFORM_TYPE="+PLATFORM_TYPE);
}
		
        </script>
	</head>
	<body>
		<div class="BOX">
			<form id="mainForm" name="mainForm" action="LeaseApplication!PAYVIEW_DATE.action" method="post">
			<table cellpadding="0" cellspacing="0" class="table_01" fit="true">
                <tr>
					<input name="PROJECT_ID" id="PROJECT_ID" value="$!param.PROJECT_ID" type="hidden">
					<input name="PAY_ID" id="PAY_ID" value="" type="hidden">
            		<input name="CUST_ID" id="CUST_ID" value="$!param.CUST_ID" type="hidden">
					<input name="START_DATE_CHANGE" id="START_DATE_CHANGE" value="" type="hidden">
            		<input name="REPAYMENT_DATE_CHANGE" id="REPAYMENT_DATE_CHANGE" value="" type="hidden">
					<input type="hidden" id="PLATFORM_TYPE" name="PLATFORM_TYPE" value="$!param.PLATFORM_TYPE">
                    <td align="right" bgcolor="#fbfbfb">客户名称：</td>
                    <td>$!param.CUST_NAME</td>
            		<td align="right" bgcolor="#fbfbfb">客户类型：</td>
                    <td>#if($!param.CUST_TYPE=='LP') 法人 #else 个人 #end</td>
                </tr>
            	<tr>
                    <td align="right" bgcolor="#fbfbfb">项目编号：</td>
                    <td>$!param.PRO_CODE</td>
                    <td align="right" bgcolor="#fbfbfb">项目名称：</td>
                    <td>$!param.PRO_NAME</td>
                </tr>
            </table>
		</form>
<DIV style="height:20PX"></DIV>

<div style="overflow-x:scroll;height:auto;width:100%"  data-options="border:false">
<table cellpadding="0" cellspacing="0" class="table_01" fit="true">
	<tr>
		<td  colspan="15"  class="table_th">
			还款计划
		</td>
	</tr>
       <tr class="trHead">
								<th  bgcolor="#fbfcfc" style="width:150px;">
                						&nbsp;&nbsp;&nbsp;&nbsp;操&nbsp;&nbsp;&nbsp;作&nbsp;&nbsp;&nbsp;&nbsp;
                				</th>
            					<th  bgcolor="#fbfcfc" style="width:150px;">
            						支付表编号
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:120px;">
            						设备总价值
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						租赁期数
            					</th>
            					<th   bgcolor="#fbfcfc" style="width:90px;">
            						租赁周期
            					</th>
							</tr>
							
							
							#foreach($item in $!PAYLIST)
								<tr>
									<td style="text-align: center">
										<a href="javascript:void(0)"  onclick="payNext('$!item.PAY_ID');">选择</a>
                					</td>
                					<td style="text-align: center">
                						$!item.PAYLIST_CODE
                					</td>
                					<td style="text-align: right">
                						$FORMAT.currency($!item.LEASE_TOPRIC)
                					</td>
									<td style="text-align: center">
                						$!item.LEASE_TERM
                					</td>
                					<td style="text-align: center">
                						$!item.FLAG
                					</td>
								</tr>
							#end
							
                    </table>
                    </DIV>
					<br/>
							
                </table>
							</div>
							<table cellpadding="0" cellspacing="0" class="table_01"  fit="true">
								<tr>
									<td align="right" bgcolor="#fbfbfb">起租日期：</td>
                                    <td><input name="START_DATE" id="START_DATE" value="" class="easyui-datebox"/></td>
                                    <td align="right" bgcolor="#fbfbfb">还款起始日：</td>
                                    <td>
										<input name="REPAYMENT_DATE" id="REPAYMENT_DATE" value="" class="easyui-datebox"/>
									</td>
								</tr>
								
                            </table>
							 </div>
	</body>
	</html>
