<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>验收单</title>
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/leaseApplication/js/project_scheme_show.js"></script>
		<script Language="JavaScript" src="../js/ajaxfileupload.js"></script>
		<script Language="JavaScript" src="../js/ajaxfileuploadUtil.js"></script>	
		<script Language="JavaScript">
		
    		function addSendNotice(){
    			var flag = true;
    			var s_date=$("input[name='SEND_DATE']").val();
    			var R_date=$("input[name='RECEIVE_DATE']").val();
    			if(s_date=='' || s_date==null)
    			{
    				alert('请填写实际发货时间!');
    			}
    			else if(R_date=='' || R_date==null){
    				alert('请填写实际收货时间!');
    			}else if(s_date>R_date)
    			{
    				alert('实际收货时间应大于实际发货时间!');
    			}else
    			{
    			    if(confirm("确定要保存验收单吗？"))
    				{			
                    	$("#mainForm").submit();
                    }
    			}
            }
			
			  // 上传附件
        function upFile() {
			var pathRoot = jQuery.trim($("#upfile").val());
			var id =$(".upfile").attr("id");
			var RE_ID=$("#ID").val();
			
        	jQuery.ajaxFileUpload({
				type:"post",
				url:"LeaseApplication!uploadReceiptFile.action?RE_ID="+RE_ID,
				dataType:"json",
				fileElementId:id,
				success:function(e){
						alert("上传成功");
						$("#fileDown").empty();
						json = jQuery.parseJSON(e);
						$("#fileDown").append("<a href='LeaseApplication!downLoadRecordFile.action?file_url="+json.data+"&file_name="+pathRoot+"'><font color='red'>"+pathRoot+"</font></a><br>");
					
				},
				error:function(e){alert("上传失败");}
			});
        }
        $("#SEND_DATE").datebox({
			onSelect: function(date){
				alert($("#SEND_DATE").datebox("getValue"));
			}
		});
        
        </script>
	</head>
	<body >
		<div id="label1" class="Label">发货验收单</div>
<div style="overflow-x:scroll;height:auto;width:100%"  data-options="border:false">						
<table cellpadding="0" cellspacing="0" class="table_01" fit="true">
	<tr>
		<td  colspan="17" class="table_th">
			设备信息
			
		</td>
	</tr>
       <tr class="trHead">
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						厂商
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						供应商
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						设备名称
            					</th>
            					<th   bgcolor="#fbfcfc" style="width:90px;">
            						设备系列
            					</th>
                                <th   bgcolor="#fbfcfc" style="width:90px;">
									型号
            					</th>
								
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						留购价(元)
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;"> 
            						指导价(元)
            					</th>
								
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						数量
            					</th>
            					<th  bgcolor="#fbfcfc" style="width:90px;">
            						单位
            					</th>
								<th  bgcolor="#fbfcfc" style="width:90px;">
            						小计
            					</th>
								<th  bgcolor="#fbfcfc" style="width:90px;" >
								合格证编号
								</th>
								<th   bgcolor="#fbfcfc" style="width:90px;">
									出厂编号
            					</th>
								<th   bgcolor="#fbfcfc" style="width:90px;">
									出厂日期
            					</th>
								<th   bgcolor="#fbfcfc" style="width:90px;">
									发动机编号
            					</th>
								<th  bgcolor="#fbfcfc" style="width:200px;" >
									发动机号/许可证号
								</th>
								<th  bgcolor="#fbfcfc" style="width:200px;">
									整机编号/车架号
            					</th>
								
							</tr>
							
							#set($eq_count=0)
							#set($eqTotalView=0)
							#foreach($item in $!eqList)
								#set($eqTotalView=$eqTotalView+$!item.TOTAL)
								<tr class="eqTr">
                					<td style="text-align: center;">
										<input type="hidden" name="COMPANY_NAME1" id="COMPANY_NAME1" value="$!param.COMPANY_NAME1"/>
                						 <input type="text"  value="$!item.COMPANY_NAME" size=10  style="width:150px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.SUPPLIERS_NAME" size=10  style="width:150px;"  disabled>
                					</td>
									<td style="text-align: center;">
                						<input type="text"  value="$!item.PRODUCT_NAME" size=10  style="width:140px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.CATENA_NAME" size=10  style="width:90px;"  disabled>
                					</td>
                                    <td style="text-align: center;">
                                        <input type="text"  value="$!item.SPEC_NAME" size=10  style="width:90px;"  disabled>
                					</td>
									
                					<td style="text-align: center;">
										<input type="text"  value="$!item.STAYBUY_PRICE" size=10  style="width:90px;"  disabled>
                					</td>
                					<td style="text-align: center;"> 
										<input type="text"  value="$!item.UNIT_PRICE" size=10  style="width:90px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.AMOUNT" size=10  style="width:60px;"  disabled>
                					</td>
                					<td style="text-align: center;">
                						<input type="text"  value="$!item.UNITTEST" size=10  style="width:60px;"  disabled>
                					</td>
									<td style="text-align: center;">
										<input type="text"  value="$!item.TOTAL" size=10  style="width:120px;"  disabled>
                					</td>
									<td>
										<input type="text"  value="$!item.CERTIFICATE_NUM" size=10  style="width:150px;"  disabled>
                               		</td>
									<td style="text-align: center;">
    									<input type="text"  value="$!item.WHOLE_ENGINE_CODE" size=10  style="width:150px;"  disabled>
                					</td>
    								<td style="text-align: center">
    									<input type="text"  value="$!item.CERTIFICATE_DATE" size=10  style="width:150px;"  disabled>
                					</td>
    								<td style="text-align: center">
    									<input type="text"  value="$!item.ENGINE_TYPE" size=10  style="width:150px;"  disabled>
                					</td>
									<td>
										<input type="text"  value="$!item.ENGINE_CODE" size=10  style="width:150px;"  disabled>
        							</td>
    								<td style="text-align: center">
    									<input type="text"  value="$!item.CAR_SYMBOL" size=10  style="width:150px;"  disabled>
                					</td>
								</tr>
							#end
							
</table>
</DIV>
<table cellpadding="0" cellspacing="0" class="table_01">
	<tr  align="right">
		<td colspan="4">合计（大写）：<span id="chinaAllTotal"></span><script type="text/javascript"> document.getElementById("chinaAllTotal").innerHTML=atoc('$!eqTotalView')</script></td>
		<td colspan="7">合计（小写：￥）：$FORMAT.currency($!eqTotalView)</td>
	</tr>
</table>
  <DIV style="height:20PX"></DIV>
			<form id="mainForm" name="mainForm" action="LeaseApplication!doAddReceipt.action" method="post">
				<input type="hidden" name="ID" id="ID" value="$!BaseMap.ID">
				<input type="hidden" name="PAY_ID" id="PAY_ID" value="$!BaseMap.PAY_ID"/>
				<input type="hidden" name="PRO_CODE" id="PRO_CODE" value="$!BaseMap.PRO_CODE"/>
				<input type="hidden" name="BECR_NAME" id="BECR_NAME" value="$!BaseMap.BECR_NAME"/>
				<input type="hidden" name="CUST_ID" id="CUST_ID" value="$!BaseMap.CUST_ID"/>
				<input type="hidden" name="PAY_CODE" id="PAY_CODE" value="$!BaseMap.PAY_CODE">
					
					<table class="table_01"  cellpadding="0" cellspacing="0" width="98%">
                			<tr >
    							<td width="9%">承租人</td>
                                <td width="20%" style="text-align:left">$!BaseMap.BECR_NAME</td>
                            	<td width="9%">发货单编号</td>
                                <td width="20%" style="text-align:left">$!BaseMap.SEND_LEASE_CODE</td>	
                            </tr>
                			<tr >
    							<td width="9%">融资租赁合同号</td>
                                <td width="20%" style="text-align:left">$!BaseMap.LEASE_CODE</td>
                            	<td width="9%">还款计划编号</td>
                                <td width="20%" style="text-align:left">$!BaseMap.PAY_CODE</td>
                            </tr>							
                			<tr >
								<td>实际发货时间</td>
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="SEND_DATE" class="easyui-datebox" id="SEND_DATE" value="$!BaseMap.SEND_DATE"><font color="red">*</font></td>
								<td>实际收货时间</td>
								<td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="RECEIVE_DATE" class="easyui-datebox" id="RECEIVE_DATE" value="$!BaseMap.RECEIVE_DATE"><font color="red">*</font></td>
                            </tr>
							<tr>
                                <td>承运公司</td>                                             
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="SHIPPING_COMPANY" id="SHIPPING_COMPANY" value="$!BaseMap.SHIPPING_COMPANY"></td> 
								<td>承运公司联系人</td>                                             
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="SHIPPING_COMPANY_NAME" id="SHIPPING_COMPANY_NAME" value="$!BaseMap.SHIPPING_COMPANY_NAME"></td> 
                            </tr>
							<tr>
                                <td>承运公司联系人电话</td>                                             
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="SHIPPING_COMPANY_PHONE" onblur="IsTelephone(this)" id="SHIPPING_COMPANY_PHONE" value="$!BaseMap.SHIPPING_COMPANY_PHONE"></td>
    							<td>收货地址</td>
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="RECEIPT_ADDRESS" id="RECEIPT_ADDRESS" size="40" value="$!BaseMap.RECEIPT_ADDRESS"></td>
                          	</tr>
                             <tr>
                                <td>收货联系人</td>
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="RECEIPT_USER" id="RECEIPT_USER" value="$!BaseMap.RECEIPT_USER"></td>
                                <td>收货联系人电话</td>                                             
                                <td style="text-align:left"><input #if($!param.SHOW_FLAG==1) disabled #end type="text" name="RECEIPT_PHONE" onblur="IsTelephone(this)" id="RECEIPT_PHONE" value="$!BaseMap.RECEIPT_PHONE"></td> 
                             </tr>
                        </table>
						
						<table class="table_01"  cellpadding="0" cellspacing="0" width="98%">
                        	 <tr>
        							   <td style="width:20%;text-align:right">&nbsp;
        									上传验收单：
        							   </td>
        							   #if($!param.SHOW_FLAG==1)
        							   #else
                                       <td align="center" colspan='4' style="width:50%">
        									<div style="float:left; width:30% ;text-align:right;">验收申请单：</div>
        									<div style="float:left; width:70% ;text-align:left;">
        										<input type="file" id="upfile" name="file" size="20" style="margin-left: 3px;" class="upfile"/>
        										<input type="button" value="上  传" onclick="upFile();" class="Button"/></div>
                                	   </td>
                                	   #end
        							   <td id="fileDown">&nbsp;
        										<a href="LeaseApplication!downLoadRecordFile.action?file_url=$!BaseMap.FILE_URL&file_name=$!BaseMap.FILE_NAME">
        												<font color="red">$!BaseMap.FILE_NAME</font>
        										</a><br>
        							   </td>
                            </tr>      
                                   
                         </table>
						 <table class="table_01"  cellpadding="0" cellspacing="0" width="98%">
						 	#if($!param.SHOW_FLAG==1)
						 	#else
                        	<tr>
                                <td align="center" colspan='4'><input type="button" class="Button" #if($!BaseMap.SEND_DATE) value="修改" #else value="添加" #end onclick="addSendNotice();"/>
                        	   </td>
                        	   
                            </tr>
                            #end
                           </table>	
			</form>
	</body>
</html>
	