<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LoanServiceMapper">

    <!-- 贷款业务映射 -->
    <resultMap id="sMap" type="com.pqsoft.creditData.model.LoanService">
        <result property="projectId" column="PROJECT_ID" jdbcType="DECIMAL"/>
        <result property="serviceNo" column="SERVICE_NO" jdbcType="VARCHAR"/>
        <result property="accountEstablishmentDate" column="ACCOUNT_ESTABLISHMENT_DATE" jdbcType="VARCHAR"/>
        <result property="deadline" column="DEADLINE" jdbcType="VARCHAR"/>
        <result property="creditLine" column="FINANCE_TOPRIC" jdbcType="DECIMAL"/>
        <result property="sharedCreditLine" column="FINANCE_TOPRIC" jdbcType="DECIMAL"/>
        <result property="maxLiabilities" column="FINANCE_TOPRIC" jdbcType="DECIMAL"/>
        <result property="occurrenceLocation" column="OCCURRENCE_LOCATION" jdbcType="DECIMAL"/>
        <result property="guaranteeWay" column="GUARANTEE_WAY" jdbcType="DECIMAL"/>
        <result property="totalMonthsToRepay" column="LEASE_TERM" jdbcType="VARCHAR"/>
        <result property="agreedPeriodsToRepay" column="LEASE_TERM" jdbcType="VARCHAR"/>
        <result property="agreedPeriodAmount" column="AGREED_PERIOD_AMOUNT" jdbcType="DECIMAL"/>
        <result property="leftMonthsToRepay" column="LEFT_MONTHS_TO_REPAY" jdbcType="VARCHAR"/>
        <result property="settlementDate" column="SETTLEMENT_DATE" jdbcType="VARCHAR"/>
        <result property="latestRepaymentDate" column="LATEST_REPAYMENT_DATE" jdbcType="VARCHAR"/>
        <result property="expectedAmountOfThisMonth" column="EXPECTED_AMOUNT_OF_THIS_MONTH" jdbcType="DECIMAL"/>
        <result property="actualAmountOfThisMonth" column="ACTUAL_AMOUNT_OF_THIS_MONTH" jdbcType="DECIMAL"/>
        <result property="balance" column="BALANCE" jdbcType="DECIMAL"/>
        <result property="currentOverduePeriods" column="CURRENT_OVERDUE_PERIODS" jdbcType="DECIMAL"/>
        <result property="currentOverdueAmount" column="CURRENT_OVERDUE_AMOUNT" jdbcType="DECIMAL"/>
        <result property="totalOverDueAmount" column="TOTAL_OVERDUE_AMOUNT" jdbcType="DECIMAL"/>
        <result property="overdue31To60Days" column="OVERDUE_31_60_DAYS" jdbcType="DECIMAL"/>
        <result property="overdue61To90Days" column="OVERDUE_61_90_DAYS" jdbcType="DECIMAL"/>
        <result property="overdue91To180Days" column="OVERDUE_91_180_DAYS" jdbcType="DECIMAL"/>
        <result property="overdueOver180Days" column="OVERDUE_OVER_180_DAYS" jdbcType="DECIMAL"/>
        <result property="totalOverduePeriods" column="TOTAL_OVERDUE_PERIODS" jdbcType="DECIMAL"/>
        <result property="hintForAccountOwner" column="HINT_FOR_ACCOUNT_OWNER" jdbcType="DECIMAL"/>
        <result property="firstPeriodSettlementDate" column="FIRST_PERIOD_SETTLEMENT_DATE" jdbcType="DECIMAL"/>
        <result property="lastPeriodSettlementDate" column="LAST_PERIOD_SETTLEMENT_DATE" jdbcType="DECIMAL"/>
        <association property="identity" resultMap="IdentityMapper.idMap"/>
        <association property="loanContract" resultMap="LoanContractMapper.cMap"/>
    </resultMap>

    <!-- 查找贷款业务信息 -->
    <select id="extractService" parameterType="integer" resultMap="sMap">
        select fph.ID PROJECT_ID,
            fcc.NAME FULL_NAME,  -- 姓名
            ct.VALUE CREDENTIAL_TYPE, -- 证件类型
            fcc.ID_CARD_NO CREDENTIAL_NO, -- 证件号
            fph.LEASE_CODE CONTRACT_NO, -- 贷款合同号码
            fph.PRO_CODE SERVICE_NO, -- 业务号
            to_char(fph.SIGNED_DATE, 'yyyyMMdd') ACCOUNT_ESTABLISHMENT_DATE, -- 开户日期
            (select to_char(max(BEGINNING_RECEIVE_DATA), 'yyyyMMdd')
            from FI_R_BEGINNING
            where PROJECT_ID = fph.ID and BEGINNING_NAME = '本金') DEADLINE, -- 到期日期
            fph.FINANCE_TOPRIC, -- 授信额度， 共享授信额度， 最大负债额
            a.STANDARD_CODE OCCURRENCE_LOCATION, -- 发生地点
            fph.GUARANTEE GUARANTEE_WAY, -- 担保方式
            fps.LEASE_TERM, -- 还款月数 协定还款期数
            (select sum(BEGINNING_MONEY)
            from fi_R_BEGINNING
            where PROJECT_ID = fph.ID and BEGINNING_NUM = 1) AGREED_PERIOD_AMOUNT, -- 协定期还款额
            fps.LEASE_TERM - (select nvl(max(BEGINNING_NUM), 0)
                              from FI_R_BEGINNING
                              where PROJECT_ID = fph.ID and BEGINNING_NAME = '利息' and BEGINNING_FLAG = 1) LEFT_MONTHS_TO_REPAY, -- 剩余还款月数
            (select to_char(nvl(max(REALITY_TIME), fph.SIGNED_DATE), 'yyyyMMdd')
            from FI_R_BEGINNING
            where PROJECT_ID = fph.ID and BEGINNING_NAME = '本金') LATEST_REPAYMENT_DATE, -- 最近还款日期
            (select sum(BEGINNING_MONEY) - sum(BEGINNING_PAID)
            from FI_R_BEGINNING
            where PROJECT_ID = fph.ID and BEGINNING_NAME = '本金') BALANCE, -- 余额
            (select nvl(count(fot.PERIOD), 0)
            from Fi_Overdue_Treatmente fot
            where fph.ID = fot.PROJECT_ID)  TOTAL_OVERDUE_PERIODS, -- 累计逾期期数
            case when sysdate between fph.SIGNED_DATE and frb.BEGINNING_RECEIVE_DATA then 2 else 1 end HINT_FOR_ACCOUNT_OWNER, -- 账户拥有者信息提示
            frb.BEGINNING_RECEIVE_DATA FIRST_PERIOD_SETTLEMENT_DATE -- 第一期的还款日期
        from FIL_CUST_CLIENT fcc -- fcc 客户信息
        left outer join T_CODE_ITEM ct
        on ct.REF_TYPE = '证件类型' and ct.REF_CODE = fcc.ID_CARD_TYPE -- ct 码表证件类型
        left outer join FIL_PROJECT_HEAD fph
        on fcc.ID = fph.CLIENT_ID -- fph 贷款业务信息
        left outer join T_SYS_AREA a
        on fph.CITY_ID = a.ID -- a 地址表行政区划代码
        left outer join FIL_PROJECT_SCHEME fps
        on fph.ID = fps.PROJECT_ID -- fps 贷款业务信息拓展
        left outer join FI_OVERDUE_TREATMENTE fot
        on fph.ID = fot.PROJECT_ID -- fot 逾期信息
        left outer join fi_r_beginning frb
        on fph.ID = frb.PROJECT_ID and frb.BEGINNING_NUM = 1 and frb.BEGINNING_NAME = '利息' --frb 还款表
        where fph.SIGNED_DATE is not null and fph.status >= 20 and fcc.ID = #{id, jdbcType=INTEGER}
    </select>

    <insert id="insertBatch">
        insert into T_CREDIT_LOAN_SERVICE (ID, LOAN_TYPE, SERVICE_NO, OCCURRENCE_LOCATION, ACCOUNT_ESTABLISHMENT_DATE, DEADLINE, CURRENCY, CREDIT_LINE, SHARED_CREDIT_LINE,
          MAX_LIABILITIES, GUARANTEE_WAY, REPAYMENT_FREQUENCY, TOTAL_MONTHS_TO_REPAY, LEFT_MONTHS_TO_REPAY, AGREED_PERIODS_TO_REPAY, AGREED_PERIOD_AMOUNT, SETTLEMENT_DATE,
          LATEST_REPAYMENT_DATE, EXPECTED_AMOUNT_OF_THIS_MONTH, ACTUAL_AMOUNT_OF_THIS_MONTH, BALANCE, CURRENT_OVERDUE_PERIODS, CURRENT_OVERDUE_AMOUNT, OVERDUE_31_60_DAYS,
          OVERDUE_61_90_DAYS, OVERDUE_91_180_DAYS, OVERDUE_OVER_180_DAYS, TOTAL_OVERDUE_PERIODS, MAX_OVERDUER_PERIODS, CLASSIFICATION_STATE, ACCOUNT_STATUS,
          LATEST_24_MONTHS_STATUS, HINT_FOR_ACCOUNT_OWNER, IDENTITY_ID, LOAN_CONTRACT_ID, FORMER_ROW_NO)
        <foreach collection="list" open="(" close=")" item="service" separator=" union all ">
            select #{service.id, jdbcType=DECIMAL}, #{service.loanType, jdbcType=CHAR}, #{service.serviceNo, jdbcType=VARCHAR}, #{service.occurrenceLocation, jdbcType=CHAR},
                #{service.accountEstablishmentDate, jdbcType=CHAR}, #{service.deadline, jdbcType=CHAR}, #{service.currency, jdbcType=CHAR}, #{service.creditLine, jdbcType=DECIMAL},
                #{service.sharedCreditLine, jdbcType=DECIMAL}, #{service.maxLiabilities, jdbcType=DECIMAL}, #{service.guaranteeWay, jdbcType=CHAR},
                #{service.repaymentFrequency, jdbcType=CHAR}, #{service.totalMonthsToRepay, jdbcType=VARCHAR}, #{service.leftMonthsToRepay, jdbcType=VARCHAR},
                #{service.agreedPeriodsToRepay, jdbcType=VARCHAR}, #{service.agreedPeriodAmount, jdbcType=DECIMAL}, #{service.settlementDate, jdbcType=CHAR},
                #{service.latestRepaymentDate, jdbcType=CHAR}, #{service.expectedAmountOfThisMonth, jdbcType=DECIMAL}, #{service.actualAmountOfThisMonth, jdbcType=DECIMAL},
                #{service.balance, jdbcType=DECIMAL}, #{service.currentOverduePeriods, jdbcType=DECIMAL}, #{service.currentOverdueAmount, jdbcType=DECIMAL},
                #{service.overdue31To60Days, jdbcType=DECIMAL}, #{service.overdue61To90Days, jdbcType=DECIMAL}, #{service.overdue91To180Days, jdbcType=DECIMAL},
                #{service.overdueOver180Days, jdbcType=DECIMAL}, #{service.totalOverduePeriods, jdbcType=DECIMAL}, #{service.maxOverduePeriods, jdbcType=DECIMAL},
                #{service.classificationState, jdbcType=CHAR}, #{service.accountStatus, jdbcType=CHAR}, #{service.latest24MonthsStatus, jdbcType=CHAR},
                #{service.hintForAccountOwner, jdbcType=CHAR}, #{service.identity.id, jdbcType=DECIMAL}, #{service.loanContract.id, jdbcType=DECIMAL},
                #{service.formerRowNo, jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

    <!--查找最近的结算期次和日期-->
    <select id="selectSettlementPeriodAndDate" parameterType="map" resultType="map">
        select to_char(max(BEGINNING_NUM)) SETTLEMENT_PERIOD, max(BEGINNING_RECEIVE_DATA) SETTLEMENT_DATE
        from FI_R_BEGINNING
        where <![CDATA[ BEGINNING_RECEIVE_DATA - sysdate < 0 ]]> and PROJECT_ID = #{projectId, jdbcType=DECIMAL}
    </select>

    <!--查找提前结清的结算期次和日期-->
    <select id="selectSettlementDateInAdvance" parameterType="map" resultType="map">
        select max(BEGINNING_NUM) LATEST_SETTLEMENT_PERIOD, to_char(max(BEGINNING_RECEIVE_DATA), 'yyyyMMdd') SETTLEMENT_DATE
        from FI_R_BEGINNING
        where BEGINNING_PAID - BEGINNING_MONEY > 0 and PROJECT_ID = #{projectId, jdbcType=DECIMAL} and BEGINNING_NAME = '利息'
    </select>

    <!--查找结算期的应还款额-->
    <select id="selectExpectedAmount" parameterType="map" resultType="bigDecimal">
        select sum(BEGINNING_MONEY)
        from FI_R_BEGINNING
        where BEGINNING_NUM = #{latestSettlementPeriod, jdbcType=DECIMAL} and PROJECT_ID = #{projectId, jdbcType=DECIMAL}
    </select>

    <!--查找结算期实际还款额-->
    <select id="selectActualAmount" parameterType="map" resultType="bigDecimal">
        select nvl(sum(BEGINNING_PAID), 0)
        from FI_R_BEGINNING
        where
        -- 结算期在本结算期的结算日期和上一个结算期的结算日期之间
          trunc(REALITY_TIME) > trunc(#{lastSettlementDate, jdbcType=TIMESTAMP}) + #{freeDays, jdbcType=INTEGER}
          and trunc(REALITY_TIME) <![CDATA[<=]]> trunc(#{settlementDate, jdbcType=TIMESTAMP}) + #{freeDays, jdbcType=INTEGER}
        and PROJECT_ID = #{projectId, jdbcType=DECIMAL}
    </select>

    <!--查找截止到某一期时的逾期期数和金额-->
    <select id="selectOverduePeriodsAndAmount" parameterType="map" resultMap="sMap">
        select count(PERIOD) CURRENT_OVERDUE_PERIODS, nvl(sum(RENT_RECE), 0) CURRENT_OVERDUE_AMOUNT
        from FI_OVERDUE_TREATMENTE
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL} and PERIOD <![CDATA[<=]]> #{settlementPeriod, jdbcType=INTEGER}
        and
        -- 罚息未结清或者已结清但是结清的日期晚于当期应缴日期(也就是后来结清了， 但是在当期来看还是未结清的逾期)
        (PENALTY_DATE is null or trunc(CREATE_DATE) > trunc(RENT_DATE) + #{freeDays, jdbcType=INTEGER})
    </select>

    <!--查找截止到某一期时的逾期期数和金额（超期）-->
    <select id="selectExtendedOverduePeriodsAndAmount" parameterType="map" resultMap="sMap">
        select count(PERIOD) CURRENT_OVERDUE_PERIODS, nvl(sum(RENT_RECE), 0) CURRENT_OVERDUE_AMOUNT
        from FI_OVERDUE_TREATMENTE
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL} and PERIOD <![CDATA[<=]]> #{settlementPeriod, jdbcType=INTEGER}
        and
        -- 罚息未结清或者已结清但是结清的日期晚于当期应缴日期(也就是后来结清了， 但是在当期来看还是未结清的逾期)
        (PENALTY_DATE is null or trunc(CREATE_DATE) > trunc(#{settlementDate, jdbcType=TIMESTAMP}) + #{freeDays, jdbcType=INTEGER})
    </select>

    <!--截止到某一期时具体的逾期期次集合-->
    <select id="selectOverduePeriodsDetail" parameterType="map" resultType="integer">
        select PERIOD
        from FI_OVERDUE_TREATMENTE
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL} and PERIOD <![CDATA[<=]]> #{settlementPeriod, jdbcType=INTEGER}
        and
        -- 罚息未结清或者已结清但是结清的日期晚于当期应缴日期(也就是后来结清了， 但是在当期来看还是未结清的逾期)
        (PENALTY_DATE is null or trunc(CREATE_DATE) > trunc(#{settlementDate, jdbcType=TIMESTAMP}) + #{freeDays, jdbcType=INTEGER})
    </select>

    <!--查找逾期未归还本金-->
    <select id="selectOverduePrinciple" parameterType="map" resultType="bigDecimal">
        select sum(frb1.BEGINNING_MONEY) - nvl(sum(frb2.BEGINNING_PAID), 0)
        from FI_R_BEGINNING frb1
        inner join FI_R_BEGINNING frb2
        on frb1.BEGINNING_NUM = frb2.BEGINNING_NUM and frb1.BEGINNING_NAME = frb2.BEGINNING_NAME and frb1.PROJECT_ID = frb2.PROJECT_ID
        where trunc(frb2.REALITY_TIME) <![CDATA[<=]]> trunc(#{settlementDate, jdbcType=TIMESTAMP}) + #{freeDays, jdbcType=INTEGER}
            and frb1.BEGINNING_NAME = '本金' and frb1.PROJECT_ID = #{projectId, jdbcType=DECIMAL}
            and frb1.BEGINNING_NUM = #{period, jdbcType=INTEGER}
    </select>

    <!--查找超期的逾期未归还本金-->
    <select id="selectExtendedOverduePrinciple" parameterType="map" resultType="bigDecimal">
        select nvl(sum(BEGINNING_MONEY) - sum(BEGINNING_PAID), 0)
        from FI_R_BEGINNING
        where #{settlementDate, jdbcType=TIMESTAMP} - BEGINNING_RECEIVE_DATA >= #{from, jdbcType=INTEGER}
        <if test="to != null">
            and #{settlementDate, jdbcType=TIMESTAMP} - BEGINNING_RECEIVE_DATA <![CDATA[<=]]> #{to, jdbcType=INTEGER}
        </if>
        and PROJECT_ID = #{projectId, jdbcType=DECIMAL} and BEGINNING_FLAG = 0 and BEGINNING_NAME = '本金'
    </select>

    <!--查找累计逾期期数-->
    <select id="selectTotalOverduePeriods" parameterType="long" resultType="string">
        select nvl(count(PERIOD), 0)
        from FI_OVERDUE_TREATMENTE
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL}
    </select>

    <!--查找正常结清期数-->
    <select id="selectSettledCount" parameterType="long" resultType="string">
        select count(decode(BEGINNING_FLAG, 0, null, 1, 1))
        from FI_R_BEGINNING frb
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL} and BEGINNING_NAME = '本金' and frb.BEGINNING_PAID - frb.BEGINNING_MONEY = 0
    </select>

    <!--查找结清期数-->
    <select id="selectSettledCountInAdvance" parameterType="long" resultType="string">
        select count(decode(BEGINNING_FLAG, 0, null, 1, 1))
        from FI_R_BEGINNING frb
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL} and BEGINNING_NAME = '本金'
    </select>

    <!--超找截止到某个结算期的逾期天数-->
    <select id="selectOverdueDays" parameterType="map" resultType="integer">
        select #{settlementDate, jdbcType=TIMESTAMP} - min(RENT_DATE)
        from FI_OVERDUE_TREATMENTE
        where PROJECT_ID = #{projectId, jdbcType=DECIMAL} and PERIOD <![CDATA[<=]]> #{settlementPeriod, jdbcType=INTEGER}
        and
        -- 罚息未结清或者已结清但是结清的日期晚于当期应缴日期(也就是后来结清了， 但是在当期来看还是未结清的逾期)
        (PENALTY_DATE is null or trunc(CREATE_DATE) > trunc(#{settlementDate, jdbcType=TIMESTAMP}) + #{freeDays, jdbcType=INTEGER})
    </select>

    <delete id="deleteLoanServiceByIdentityId" parameterType="long">
        delete from T_CREDIT_LOAN_SERVICE
        where IDENTITY_ID = #{identityId, jdbcType=DECIMAL}
    </delete>

</mapper>
