<!DOCTYPE HTML>
<HTML>
    <HEAD>
        #parse("content/importBase.vm")
        <META content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <script src="$_basePath/js/echarts-plain.js"></script>
        <script>
            //列的总数量
            var colSize = -1;
            var rowSize = 50;
        </script>
</HEAD>
<body class="easyui-layout">
<div region="center">
	<div id="base_ifo" class="easyui-tabs" fit="true">
    	<script>
    		$(document).ready(function(){
    			$('#base_ifo').tabs({tabPosition:"left"});
    		});
    	</script> 
         <div title="项目统计"  cache='false' href="$_basePath/projectReport/ProjectReportTable!toChartNewProject.action"></div>
	     <div title="项目分析"  cache='false' href="$_basePath/projectReport/ProjectReportTable!toChartFXProject.action"></div>
    </div>
</div>
<div  id="chartShow" cache='false'  split="true"  region="east" style="width:400px;height:560px">
    $!chartReport
</div>
</div>
</body>
</HTML>