<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="$_basePath/shangpai/js/shangpai.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
    		<table  border="0" cellpadding="5" cellspacing="0">
			<tr >
					<td style="text-align:right">创建人：</td>
    				<td>
						$!looklist.CREATEREN
					</td>
                </tr>
    			<tr >
					<td style="text-align:right">上牌时间：</td>
    				<td>
						$!looklist.SHANGPAIDATE
					</td>
                </tr>
                <tr >
					<td style="text-align:right">上牌地点：</td>
    				<td>
						$!looklist.ADDRESS
					</td>
                </tr>
                 <tr >
					<td style="text-align:right">上牌单位：</td>
    				<td>
						$!looklist.DANWEI
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">发车时间：</td>
    				<td>
						$!looklist.FACHEDATE
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">车牌号：</td>
    				<td>
						$!looklist.CARNUM
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">修改人：</td>
    				<td>
						$!looklist.XIUGAI
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">修改时间：</td>
    				<td>
						$!looklist.XIUGAIDATE
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">备注：</td>
    				<td>
						$!looklist.BEIZHU
					</td>
                </tr>
                <tr>
			</tr>
			</table>
</body>
</html>