<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/shangpai/js/shangpai.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
		
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
	             <td align="right">客户名称：</td>
				 <td align="left"><input class="input_03" type="text"  name="CUST_NAME" /></td>
	             <td align="right">上牌地点：</td>
	             <td align="left"><input class="input_03" type="text"  name="PRODUCT_NAME" /></td>
				 <td align="right">融资租赁合同号：</td>
				 <td align="left"><input class="input_03" type="text"  name="LEASE_CODE" value="$!param.LEASE_CODE" /></td>
				 <td rowspan="2"  align="center">
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='seach();'>查询</a>
					<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
				 </td>
           </tr><!--
		   <tr> 
			    <td align="right">还款计划编号：</td>
			    <td align="left"><input class="input_03" type="text" size ="18" name="PAYLIST_CODE" /></td>
           </tr>
      --></table>
	  
	</div> 
   <table id="pageTable" fit="true" ></table>
   <div id="disDiv" >
    		<table  border="0" cellpadding="5" cellspacing="0" id="pageTable">
			<input type="hidden" name="ID" id="ID" />
			<input type="hidden" name="CUST_NAME" id="CUST_NAME" />
			<!--<tr >
					<td style="text-align:right">创建人：</td>
    				<td>
						<input  type="text" name="CUST_NAME" id="CUST_NAME"  style="width: 160px;height: 20px;margin:0px" />
					</td>
                </tr>
    			--><tr >
					<td style="text-align:right">上牌时间：</td>
    				<td>
						<input class="easyui-datebox" type="text" name="SHANGPAIDATE" id="SHANGPAIDATE"  />
					</td>
                </tr>
                <tr >
					<td style="text-align:right">上牌地点：</td>
    				<td>
						<input type="text" name="ADDRESS" id="ADDRESS"  style="width: 160px;height: 20px;margin:0px" />
					</td>
                </tr>
                 <tr >
					<td style="text-align:right">上牌单位：</td>
    				<td>
						<input type="text" name="DANWEI" id="DANWEI"  style="width: 160px;height: 20px;margin:0px" />
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">发车时间：</td>
    				<td>
						<input class="easyui-datebox" type="text" name="FACHEDATE" id="FACHEDATE" />
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">车牌号：</td>
    				<td>
						<input type="text" name="CARNUM" id="CARNUM"  style="width: 160px;height: 20px;margin:0px" />
					</td>
                </tr>
                <tr>
    				<td style="text-align:right">备注：</td>
    				<td>
						<textarea rows="3" cols="20" name="BEIZHU" id="BEIZHU"></textarea>
					</td>
                </tr>
                <tr>
				<td colspan="2" align="center">
					 <a href="javascript:void(0)" id="saveBtn" class="easyui-linkbutton"  iconCls="icon-save" onclick="baopei($('#ID').val(),$('#CUST_NAME').val(),$('#SHANGPAIDATE').datebox('getValue'),$('#ADDRESS').val(),$('#DANWEI').val(),$('#FACHEDATE').datebox('getValue'),$('#CARNUM').val(),$('#BEIZHU').val())">保存</a>
				</td>
				<td colspan="2" align="center">
					 <a href="javascript:void(0)" id="saveBtn" class="easyui-linkbutton"  iconCls="icon-save" onclick="qingkong()">清空</a>
				</td>
			</tr>
			</table>
	</div>
	<div id="dislook"></div>
	<div id="disupdate"></div>
</body>
<script>		
function qsd(val,rowData) {
	return "<a href='#'  onclick=\"saveqsd(\'"+rowData.CUST_NAME+"\',\'"+rowData.LEASE_CODE+"\',\'"+rowData.PAYLIST_CODE+"\',\'"+rowData.PLATFORM_TYPE+"\',\'"+rowData.COMPANY_NAME+"\',\'"+rowData.PRODUCT_NAME+"\',\'"+rowData.SPEC_NAME+"\',\'"+rowData.SUPPLIERS_NAME+"\',\'"+rowData.CAR_SYMBOL+"\',\'"+rowData.ENGINE_TYPE+"\')\">签收</a>";
}
function seach(){
	var CUST_NAME=$("input[name='CUST_NAME']").val();
	var PRODUCT_NAME=$("input[name='PRODUCT_NAME']").val();
	var LEASE_CODE=$("input[name='LEASE_CODE']").val();
	$('#pageTable').datagrid('load', {"CUST_NAME":CUST_NAME,"PRODUCT_NAME":PRODUCT_NAME,"LEASE_CODE":LEASE_CODE });
}
function emptyData(){
	$('#pageForm').form('clear');
	$('#disupdate').form('clear');
	$(".paramData").each(function(){
		$(this).val("");
	});
}
function qingkong()
{
	$('#disDiv').form('clear');
	$(".paramData").each(function(){
		$(this).val("");
	});
}
    </script>
</html>