##<input type="button" onclick="doDbBak()" value="备份到服务器"/>
<table cellpadding="0" cellspacing="0" width="96%" style="margin:10px auto">
    <tr>
    <td height="30">名称</td>
    <td>时间</td>
    <td><strong></strong></td>
    </tr>
	#foreach($!item in $list)
		#if(!$!item.name.contains('.sh')&&!$!item.name.contains('.log'))
		<tr>
        <td height="30">$!item.name</td>
        <td height="30">$FORMAT.date($!item.lastModified())</td>
        <td>
			<a href="javascript:void(0);" onclick="doDbBakDel('$item.name')">删除</a>
			<a href="$_basePath/Sys!doDbBakDown.action?name=$item.name" target="_blank">下载</a>
		</td>
        </tr>
        #end
	#end
</table>
<script >
	function doDbBak(){
		jQuery.ajax({
			url : "Sys!doDbBak.action",
			dataType : "json",
			success : function(json){
				if(json.flag){
					dbBak();
				}else{
					alert(json.msg);
				}
			}
		});
	}
	
	function doDbBakDel(name){
		jQuery.ajax({
			url : "Sys!doDbBakDel.action",
			data : {name:name},
			dataType : "json",
			success : function(json){
				if(json.flag){
					dbBak();
				}else{
					alert(json.msg);
				}
			}
		});
	}
</script>
