<!DOCTYPE html>
<html>
	<head>
		#set($_basePath = $request.ContextPath)
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript"> var _basePath = '$_basePath'; </script>
        <link rel="stylesheet" type="text/css" href="$_basePath/Index.action_files/css/easyui.css">
        <script type="text/javascript" src="$_basePath/res/jquery/jquery.min.js"></script>

        <style type="text/css">
        .table_02_tr_odd{ background:#FFF}
        .table_02_tr_even{ background:#fafafa}
        .table_02_tr_onmouseover{ background:#eaf2ff}
        .table_02_tr_click{ background:#fbec88}
        </style>
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" class="table_02">
			<tbody>
    				<tr>
                        <td>
                        	<embed type="application/x-shockwave-flash" src="$_basePath/charts/Pie2D.swf" id="ChartId" name="ChartId" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="chartWidth=99%&chartHeight=99%&debugMode=0&DOMId=ChartId&registerWithJS=0&scaleMode=noScale&lang=EN&baseFontSize=10&dataURL=$request.contextPath/Sys!getIndexChart.action?TYPE=1" height="290px" width="100%">
##							<embed type="application/x-shockwave-flash" src="$_basePath/charts/Column2D.swf" id="ChartId" name="ChartId" quality="high" wmode="transparent" allowscriptaccess="always" flashvars="chartWidth=99%&chartHeight=99%&debugMode=0&DOMId=ChartId&registerWithJS=0&scaleMode=noScale&lang=EN&baseFontSize=10&dataURL=$request.contextPath/Sys!getIndexChart.action?TYPE=2" height="290px" width="49%">
                        </td>
                    </tr>
			</tbody>
		</table>
	</body>
</html>