<!DOCTYPE html>
<html>
	<head>#parse("content/importBase.vm")</head>
    <title>日志</title>
	<script type="text/javascript">
		$(document).ready(function(){
			
			function log(point,level,timestamp){
				jQuery.ajax({
					url : "Sys!getLog.action",
					data : "point="+point+"&level="+level+"&"+new Date().getTime(),
					dataType : "json",
					success : function(json){
						if(json.flag){
    						$("#log").append(json.text);
    						log(json.point,level,timestamp);
						}else{
							alert(json.msg);
						}
					}
				});
			}
			
			log(-1,"",1);
		});
    </script>
</head>
<body>
    <div class="right" style="paddint:10px;">
        <div class="m3">
          ##<input class="button logBtn" type="button" level="ALL" value="全部日志"/>
          ##<input class="button logBtn" type="button" level="DEBUG" value="DEBUG日志"/>
          ##<input class="button logBtn" type="button" level="INFO" value="INFO日志"/>
          ##<input class="button logBtn" type="button" level="ERROR" value="ERROR日志"/>
          ##<input class="button" type="button" value="清空日志" onclick="$('#log').empty();"/>
        </div>
		<textarea id="log" style="width: 1128px; height: 681px;"></textarea>
    </div>
</body>
</html>
