    <title>查看接收文件</title>
	#parse("content/importBase.vm")
	<input type="hidden" name="PROJECT_ID" ID="PROJECT_ID" value="$!param.PROJECT_ID"/>
	<div class="BOX" style="margin-left:1%;margin-right:1%;width:98%;">
	  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
		<tr>
            <td class="tdLabel">序号</td>
			<td class="tdLabel">合同资料</td>
			<td class="tdLabel">应收份数</td>
            <td class="tdLabel">实收份数</td>
            <td class="tdLabel">是否真实</td>
            <td class="tdLabel">是否齐全</td>
            <td class="tdLabel">备注</td>
        </tr>
		#set($BQZLCNR='')
		#set($BQZLCNSJ='')
		#set($SENDTYPE='')
		#foreach($!item in $!fileList)
		#set($BQZLCNR=$!item.BQZLCNR)
		#set($BQZLCNSJ=$!item.BQZLCNSJ)
		#set($SENDTYPE=$!item.SENDTYPE)
			<tr>
                <td>
					$velocityCount
					<input type="hidden" name="NUM" ID="NUM" value="$velocityCount"/>
					<input type="hidden" name="DATAID" id="DATAID" value="$!item.DATAID"/>
				</td>
                <td>
					$!item.FILE_NAME
					<input type="hidden" name="FILE_NAME" id="FILE_NAME" value="$!item.FILE_NAME"/>
				</td>
                <td>
					$!item.FILECOUNT
					<input type="hidden" name="FILECOUNT" ID="FILECOUNT" value="$!item.FILECOUNT"/>
				</td>
                <td><input type="text" disabled  name="SH_COUNT" id="SH_COUNT" class="SH_COUNT" value="$!item.SH_COUNT"/></td>
                <td>
					<input type="radio"  name="SFZS$velocityCount" disabled  id="SFZS$velocityCount" #if($!item.SFZS=='0')checked #end value="0"/>是&nbsp;&nbsp;&nbsp;&nbsp; 
					<input type="radio" name="SFZS$velocityCount" disabled id="SFZS$velocityCount" #if($!item.SFZS=='1')checked #end value="1"/>否
				</td>
                <td>
					<input type="radio"  name="SFQQ$velocityCount" disabled  id="SFQQ$velocityCount" #if($!item.SFQQ=='0')checked #end value="0"/>是&nbsp;&nbsp;&nbsp;&nbsp; 
					<input type="radio" name="SFQQ$velocityCount" disabled id="SFQQ$velocityCount" #if($!item.SFQQ=='1')checked #end value="1"/>否
				</td>
                <td><input type="text" name="REMARK" id="REMARK" disabled value="$!item.REMARK"/></td>
            </tr>
		#end
		<tr>
            <td>&nbsp;</td>
            <td colspan="5">
			接收方式：
			<input type="radio" name="SENDTYPE" disabled  class="SENDTYPE" value="2"  #if($SENDTYPE=='2') checked#end />直接递送
			<input type="radio" name="SENDTYPE" disabled  class="SENDTYPE"  value="1" #if($SENDTYPE=='1') checked#end/>邮寄
			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;
			补齐资料承诺人：<input type="text" name="BQZLCNR" disabled  value="$BQZLCNR" id="BQZLCNR"/>&nbsp;&nbsp;&nbsp;&nbsp;
			补齐资料承诺时间：<input type="text" name="BQZLCNSJ" disabled  id="BQZLCNSJ" value="$BQZLCNSJ" class="datepicker" readonly />
			</td>
        </tr>
      </table>
	  ##begin add by zhangzhl date:2014-03-18 for:添加
      <center>
      	<a href="javascript:void(0);" class="easyui-linkbutton"  onclick="addFiles()">追加补齐文件</a>
      	&nbsp;&nbsp;
      	<a href="javascript:void(0);" class="easyui-linkbutton"  onclick="goback()">返回</a>
      </center>
	  <script type="text/javascript">
	  	function addFiles(){
			window.location.href="../creditlist/CreditCoreFileInfo!toRecieveProjectFile2.action?PROJECT_ID="+$("#PROJECT_ID").val();
		}
		function goback(){
			window.location.href="$_basePath/creditlist/CreditCoreFileInfo!toNotRecieveProjectPage.action";
		}
	  </script>
	  ##end add by zhangzhl date:2014-03-18 for:添加
    </div>