<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>资料管理</title>
		 #parse("content/importBase.vm")
		 <script type="text/javascript" src="$!_basePath/creditlist/js/creditCoreFile.js"></script>
<script type="text/javascript">
	$(function(){
    	 $("#projecttble").datagrid({
    		url:"$_basePath/creditlist/CreditCoreFileInfo!manageNotRecieveProject.action",
    		pagination:true,//是否分页 true为是
    		rownumbers:true,//左侧自动显示行数
    		singleSelect:true,
			fitColumns:true,
    		toolbar:'#qureyForm',
    		columns:[[
    		          {field:'ID',hidden:true},
    		          {field:'PRO_CODE',width:120,title:'项目编号'},
    		          {field:'PRO_NAME',width:120,title:'项目名称'},
    		          {field:'LEASE_TOPRIC',width:100,title:'项目总额'},
                      {field:'FLAG',width:100,title:'项目状态'},
                      {field:'LEASE_PERIOD',width:50,title:'还款周期'},
    				  {field:'CLERK_NAME',width:100,title:'客户经理'},
                      {field:'CREATE_TIME',width:100,title:'创建时间'},
                      {field:'UPDATE_TIME',width:100,title:'修改时间'},
    				  {field:'RECIEVE',width:100,title:'基础操作',formatter:function(value,rowData,rowIndex){
             			return "<a href='javascript:void(0)' onclick='recieveproj("+rowData.ID+")'>资料归档</a>";
    				  }}
    		         ]]
    	 });
	 
	});
		 function adviceQuery(){
        	 $('#projecttble').datagrid('load', {
        		"param" : getFromData("#select")
        	});
    	 }
</script>
	</head>
	<body>
			<div id="qureyForm" style="height:auto;padding:20px;" border="true">
				<form id="select" name="select">
            		<table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td>项目名称</td>
            					<td>
            						<input  name="PRO_NAME" id="PRO_NAME" value=""/>
                                </td>
                                <td>客户经理</td>
            					<td>
            						<input name="CLERK_NAME" id = "CLERK_NAME" />
                                </td>
            					<td>
            					创建时间
                                </td>
            					<td>
            							<input  id="CREATE_TIME" name="CREATE_TIME"  class="easyui-datebox"/>&nbsp;&nbsp;到&nbsp;&nbsp;<input  id="CREATE_TIME1" name="CREATE_TIME1"  class="easyui-datebox"/>
            								
                                </td>
            					<td>
            						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='adviceQuery();'>查询</a>
                                </td>
            				</tr>
                        </table>	
				</form>
        </div>
        <table  id="projecttble" fit="true"></table>

	</body>
</html>
