  ##parse("content/importBase.vm")
	<title>接收文件</title>
	<script type="text/javascript" src="$!_basePath/creditlist/js/recieveProjectFile.js"></script>
	
	<input type="hidden" name="PROJECT_ID" ID="PROJECT_ID" value="$!param.PROJECT_ID"/>
	<input type="hidden" name="PROJECT_CODE" ID="PROJECT_CODE" value="$!param.PROJECT_CODE"/>
	<input type="hidden" name="CLIENT_ID" ID="CLIENT_ID" value="$!param.CLIENT_ID"/>
	<input type="hidden" name="CrBecrCode" id="CrBecrCode" value="$!param.CR_BECR_CODE"/>
	<input type="hidden" name="LEASE_CODE" id="LEASE_CODE" value="$!param.LEASE_CODE"/>
	<input type="hidden" name="APPLY_TYPE" id="APPLY_TYPE" value="1"/>
	<input type="hidden" name="JBPM_ID" id="JBPM_ID" value="$!param.JBPM_ID"/>
	<div class="BOX" style="margin-left:1%;margin-right:1%;width:98%;">
	  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
		<tr>
            <td class="tdLabel">序号</td>
			<td class="tdLabel">合同资料</td>
			<td class="tdLabel">应收份数</td>
            <td class="tdLabel">实收份数</td>
            <td class="tdLabel">是否真实</td><!--Add By YangJ 2014-5-22 下午01:39:55-->
            <td class="tdLabel">是否齐全</td>
            <td class="tdLabel">备注</td>
        </tr>
		#set($BQZLCNR='')
		#set($BQZLCNSJ='')
		#set($SENDTYPE='')
		#foreach($!item in $!fileList)
		#set($BQZLCNR=$!item.BQZLCNR)
		#set($BQZLCNSJ=$!item.BQZLCNSJ)
		#set($SENDTYPE=$!item.SENDTYPE)
			<tr>
                <td>
					$velocityCount
					<input type="hidden" name="ID" ID="ID" class="ID" value="$!item.ID"/>
					<input type="hidden" name="NUM" ID="NUM" value="$velocityCount"/>
					<input type="hidden" name="DATA_ID" id="DATA_ID" value="$!item.DATA_ID"/>
					<input type="hidden" name="TYPE" ID="TYPE" VALUE="$!item.TYPE"/>
				</td>
                <td>
					$!item.FILE_NAME
					<input type="hidden" name="FILE_NAME" id="FILE_NAME" value="$!item.FILE_NAME"/>
				</td>
                <td>
					<!--update auther:yangyong date：2014-3-18 for：添加担保人资料数量计算 -->
					$!item.FILECOUNT
						<input type="hidden" name="FILECOUNT" ID="FILECOUNT" value="$!item.FILECOUNT"/>
				</td>
                <td><input type="text" name="SH_COUNT" id="SH_COUNT" class="SH_COUNT" value="$!item.SH_COUNT"/></td>
               
				<td><!--Add By YangJ 2014-5-22 下午01:39:55-->
					<input disabled type="radio"  name="SFZS$velocityCount" id="SFZS$velocityCount" #if($!item.SFZS=='0')checked #end value="0"/>是&nbsp;&nbsp;&nbsp;&nbsp; 
					<input disabled type="radio" name="SFZS$velocityCount" #if(!$!item.SFZS) checked #else  #end id="SFZS$velocityCount" #if($!item.SFZS=='1')checked #end value="1"/>否
				</td><!--Add By YangJ 2014-5-22 下午01:39:55-->
              
				<td>
					<input disabled type="radio"  name="SFQQ$velocityCount" id="SFQQ$velocityCount" #if($!item.SFQQ=='0')checked #end value="0"/>是&nbsp;&nbsp;&nbsp;&nbsp; 
					<input disabled type="radio" name="SFQQ$velocityCount" #if($!item.SFZS) #else checked #end  id="SFQQ$velocityCount" #if($!item.SFQQ=='1')checked #end value="1"/>否
				</td>
                <td><input type="text" name="REMARK" id="REMARK" value="$!item.REMARK" /></td>
            </tr>
		#end
		<tr>
            <td>&nbsp;</td>
            <td colspan="5">
			接收方式：
			<input type="radio" name="SENDTYPE" class="SENDTYPE" value="2" #if($!SENDTYPE=='2') checked#end  />直接递送
			<input type="radio" name="SENDTYPE" class="SENDTYPE"  value="1" #if($!SENDTYPE=='1') checked #end />邮寄
			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;
			补齐资料承诺人：<input type="text" name="BQZLCNR" value="$!BQZLCNR" id="BQZLCNR"/>&nbsp;&nbsp;&nbsp;&nbsp;
			补齐资料承诺时间：<input type="text" name="BQZLCNSJ" id="BQZLCNSJ" value="$!BQZLCNSJ"   class="easyui-datebox" />
			</td>
        </tr>
		<tr>
			<td colspan="6" align="center">
				<a href="javascript:void(0)" id="CHUSHENEBTN" class="easyui-linkbutton" iconCls="icon-save" onclick="CHUSHEN()">保存</a>
			</td>
        </tr>
      </table>
    </div>