<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>抵扣审批单</title>
	#parse("content/importBase.vm") 
	<script>
	function toChangePool(obj){
    	//1.判断输入金额要小于等于可使用金额
    	var tr=$(obj).parent().parent();
    	var money1=$(tr).find("input[name='POOLUSERMONEY']").val();//可使用金额
    	var money2=$(tr).find("input[name='dichong_money']").val();//想抵充金额
    	if(parseFloat(money2)>money1)
    	{
    		$(tr).find("input[name='dichong_money']").val(money1);
    	}
    	//2.总金额累加
    	var realityMoneyTotal = parseFloat(0);
    	$("#pool_tab input[name=dichong_money]").each(function(){
    		if(isNaN($(this).val())){
    			alert("请填写正确数字！！");
    			$(this).val("0.00");
    		}else{
    			realityMoneyTotal += parseFloat($(this).val());
    		}
    	});
    	$("#realityMoneyTotal").val(realityMoneyTotal);
		$("#DEDUCT_MONEY").val(realityMoneyTotal);
		var pay_money = $("#PAY_MONEY").val();
		var pay_total = parseFloat(realityMoneyTotal)+parseFloat(pay_money);
		$("#PAY_TOTAL").val(pay_total);
    }
	
	//打开dialog
	function openDialog(div,name){
	    $('#'+div).dialog('open').dialog('setTitle',name);
	}
	
	function changePay(value){
	   var deduct_money = $("#DEDUCT_MONEY").val();
	   var pay_total = parseFloat(value)+parseFloat(deduct_money);
	   $("#PAY_TOTAL").val(pay_total);
	}
	
	function saveMess(){
	   var pay_money = $("#PAY_MONEY").val();
	   var FUND_ID = $("#HEAD_ID").val();
	   var JBPM_ID = $("#JBPM_ID").val();
	   var DEDUCT_MONEY  = $("#DEDUCT_MONEY").val();
	   var deductList = [];
	   jQuery("tr[name='POOLMESS']").each(function(){
	      var item = {};
		  item.FUND_ID = $(this).find("input[name='FUND_ID']").val();
		  item.dichong_money = $(this).find("input[name='dichong_money']").val();
		  item.OWNER_ID = $(this).find("input[name='OWNER_ID']").val();
		  item.POOLID = $(this).find("input[name='POOLID']").val();
		  deductList.push(item);
	   })
	   jQuery.ajax({
			url:_basePath+"/rentWrite/RentDeductApproval!saveApplyMess.action",
		    type:'post',
		    data:"deductList="+JSON.stringify(deductList)+"&FI_REALITY_ACCOUNT="+pay_money+"&FUND_ID="+FUND_ID+"&JBPM_ID="+JBPM_ID+"&DEDUCT_MONEY="+DEDUCT_MONEY,
		    dataType:'json',
		    success:function(json){
			    if(json.flag == true){
			    	$.messager.alert("作废","付款单作废成功！");
			    	//页面刷新
			    	$('#pageTable').datagrid('reload');
			    }else {
			    	$.messager.alert("作废","付款单作废失败！");
			    	//页面刷新
			    	$('#pageTable').datagrid('reload');
			    }
		    }
		});
	}
    </script>
    </head>
    <body >
	   <div>
           <h3 style="color:red" align="center">填写扣划金额</h3>
    	   <table cellpadding="0" cellspacing="0" class="table_01" id="pool_tab">
                <tr>
					<td width="15%" >本次实付</td>
					<td width="15%" ><input type="text" id="PAY_MONEY" name="PAY_MONEY" value="0" onchange="changePay(this.value)"/></td>
                    <td width="15%">抵扣金额</td>
					<td width="15%"><input type="text" readonly id="DEDUCT_MONEY" name="DEDUCT_MONEY"/></td>
                    <td width="20%">付款合计</td>
					<td width="20%"><input type="text" readonly id="PAY_TOTAL" name="PAY_TOTAL"/></td>
                </tr>
                <tr bgcolor="#f4f4f4" align="center">
                    <td width="15%" colspan="2">项目备注</td>
                    <td width="20%" colspan="2">可用余额合计</td>
                    <td width="20%" colspan="2">所选冲抵款合计</td>
                </tr>
    			#set($moneyAll=0)
    			#foreach($item in $!poolList)
                <tr align="center" name="POOLMESS">
    				<td  colspan="2">
    					$!item.POOLNAME
    					<input type="hidden" name="POOLID" id="POOLID" value="$!item.POOLID" readonly/>
						<input type="hidden" name="OWNER_ID" value="$!item.OWNER_ID"/>
						<input type="hidden" name="FUND_ID" value="$!item.FUND_ID"/>
                    </td>
                    <td colspan="2"><input type="text" name="POOLUSERMONEY" id="POOLUSERMONEY" value="$!item.POOLUSERMONEY" readonly/></td>
                    <td colspan="2"><input type="text" name="dichong_money" id="dichong_money" value="0.0"  onchange="toChangePool(this);" /></td>
    			</tr>
    				#set($moneyAll=$moneyAll+$!item.POOLUSERMONEY)
    			#end 
                <tr>
                    <td align="right" style="font-weight:bold" colspan="2">合计：</td>
                    <td align="right" style="font-weight:bold" colspan="2"><input type="text" name="spareMoneyTotal" value="$!moneyAll" readonly></td>
    				<td align="right" style="font-weight:bold" colspan="2"><input type="text" name="realityMoneyTotal" id="realityMoneyTotal" value="" readonly></td>
                </tr>
                <tr>
				   <td align="center">
					  <input type="hidden" name="JBPM_ID" id="JBPM_ID" value="$!param.JBPM_ID"/>
				      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveMess()">保存</a>
				   </td>
				</tr>
             </table>
             <table id='subtab-dbgrid' class="table_01" cellpadding="0" cellspacing="0" >
    			<tr align="left" bgcolor="#fbfbfb">
    				<td colspan="5" ><strong>上传附件信息</strong></td>
    			</tr>	
                <tr>
    				<td align="center">文件名称</td>
    				<td align="center">文件描述</td>
                    <td width="18%" align="center">相关操作：<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="openDialog('dialoguploadfile1','附件上传')"></a></td>
    			</tr>
    			<tbody id="tblfsg">
        	    #foreach($!file in $!files)
        		<tr>
        			<td title="$!file.FIL_NAME" align="center" >$!file.FIL_NAME</td>
        			<td title="$!file.FIL_MEMO" align="center">$!file.FIL_MEMO</td>
                    <td align="center">
    					<a href="Suppliers!downLoadSupFile.action?FIL_ID=$!file.FIL_ID" class="easyui-linkbutton" iconCls="icon-down" plain="true">下载</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delFile($!file.FIL_ID,this)">删除</a>
    				</td>
        		</tr>
        	    #end 
    		    </tbody>
            </table>
		</div>
        <div align="center"><h2 style="color:red">$!REFUND_TYPE</h3></div>
        <table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
          <thead>
			<tr bgcolor="#fbfcfc" align="center">
			  <td width="5%" >序号</td>
              <td width="15%">付款单号</td>
			  <td width="10%">付款金额</td>
			  <td width="15%">项目数量</td>
              <td width="15%">申请人</td>
              <td width="20%">计划还款日</td>
			  <td width="10%">付款方式</td>
            </tr>
		 </thead>
        #foreach($item in $!deductMain)
         <tr>
          <td align="center">$velocityCount</td>
          <td align="center">$!item.HEAD_ID</td>
	      <td align="center">$FORMAT.currency($!item.FI_PAY_MONEY) </td>
	      <td align="center">$!item.FI_PROJECT_NUM</td>
	      <td align="center">$!item.FI_APP_NAME</td>
	      <td align="center">$!item.FI_PAY_DATE</td>
	      <td align="center">$!item.FI_FLAG <input type="hidden" name="HEAD_ID" id="HEAD_ID" value="$!item.HEAD_ID"/></td>
	    </tr>
	   #end
      </table>  
      <div align="center"><h2 style="color:red">明细</h3></div>
	  <table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
          <thead>
			<tr bgcolor="#fbfcfc" align="center">
			  <td width="5%" >序号</td>
			  <td width="5%">付款单号</td>
			  <td width="5%">计划还款日</td>
			  <td width="10%">项目编号</td>
			  <td width="10%">客户名称</td>
			  <td width="10%">厂商</td>
			  <td width="10%">供应商</td>
			  <td width="5%">租赁物名称</td>
			  <td width="5%">型号</td>
			  <td width="5%">发动机号</td>
			  <td width="5%">出厂编号</td>
			  <td width="5%">款项名称</td>
			  <td width="5%">期次</td>
			  <td width="10%">计划收取日期</td>
			  <td width="5%">本次应收金额</td>
            </tr>
		 </thead>
        #foreach($item in $!deductDetail)
         <tr>
          <td align="center">$velocityCount</td>
          <td align="center">$!item.HEAD_ID</td>
	      <td align="center">$!item.FI_PAY_DATE</td>
		  <td align="center">$!item.PRO_CODE</td>
	      <td align="center">$!item.CUSTNAME </td>
	      <td align="center">$!item.COMPANY_NAME</td>
	      <td align="center">$!item.SUP_NAME </td>
		  <td align="center">$!item.PRODUCT_NAME </td>
		  <td align="center">$!item.TYPE_NAME </td>
		  <td align="center">$!item.ENGINE_TYPE </td>
		  <td align="center">$!item.WHOLE_ENGINE_CODE </td>
		  <td align="center">$!item.FI_PRO_NAME </td>
		  <td align="center">$!item.BEGINNING_NUM </td>
		  <td align="center">$!item.D_RECEIVE_DATE</td>
		  <td align="center">$FORMAT.currency($!item.BEGINNING_MONEY)</td>
	    </tr>
	   #end
      </table>
	  
	  <div id ="dialoguploadfile1" class="easyui-dialog" style="width:350px;height:280px;padding:10px 20px" closed="true" buttons="#dialoguploadfile1-buttons" title="附件上传" >
        <form  enctype="multipart/form-data"  method="post" id="fileUploadFrom">
		  <table class="table_01" border="0" cellpadding="0" cellspacing="0" width="99%" id="#table1">
			 <tr>
				<td align="center">文件描述:</td>
				<td ><textarea  id="FIL_MEMO"  name="FIL_MEMO" style="width:230px"></textarea></td>
   			 </tr>
			 <tr>
				<td align="center">上传文件:</td>
				<td ><input type="file" id="fileid" name="fileid"/></td>
   			 </tr>
		   </table>
    	</form>	
      </div>
    
      <div id="dialoguploadfile1-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveUpLoad()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:closeDialog('dialoguploadfile1')">关闭</a>
      </div>
  </body>
</html>