#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
<script>
        $(document).ready(function(){
		var HEAD_ID=$("#HEAD_ID").val();
    	$("#pageTable_QueryM").datagrid({
    		pagination:true,//是否分页 true为是
    		rownumbers:true,//左侧自动显示行数
    		singleSelect:false,		
    		fit:true,
    		fitColumns:true,
    		toolbar:'#pageForm',
			url:_basePath+'/rentWrite/rentWriteNew!toQueryAjaxData.action?HEAD_ID='+HEAD_ID,
    		columns:[[
    		          	{field:'ID',checkbox:true,width:1},
    		          	{field:'HEAD_ID',title:'付款单号',width:3},
    		          	{field:'FPH',title:'发票号',width:3},
    		          	{field:'PZH',title:'凭证号',width:3},
    		          	{field:'FI_PROJECT_NUM',title:'项目数量',width:3},
    		          	{field:'FI_PAY_MONEY',title:'付款金额',width:3},
    		          	{field:'FI_PAY_DATE',title:'计划还款日',width:3},
    		          	{field:'FI_FLAG',title:'付款方式',width:4,formatter:function(value,rowData,rowIndex){
    		          		if(value=='3')
    		          		{
    		          			return "租金-非网银";
    		          		}
    		          		else if(value=='4')
    		          		{
    		          			return "供应商垫付-网银";
    		          		}
    		          		else if(value=='5')
    		          		{
    		          			return "供应商垫付-非网银";
    		          		}
							else if(value=='6')
    		          		{
    		          			return "资金-非网银";
    		          		}
    		          		else if(value=='2')
    		          		{
    		          			return "租金-网银";
    		          		}
    		          		else if(value=='15')
    		          		{
    		          			return "租金-网银-不足额";
    		          		}
    		          		else if(value=='16')
    		          		{
    		          			return "供应商垫付-网银-虚拟";
    		          		}
    		          		else if(value=='17')
    		          		{
    		          			return "供应商垫付-非网银-虚拟";
    		          		}
    		          		else if(value=='18')
    		          		{
    		          			return "退款-虚拟";
    		          		}
    		          		else if(value=='19')
    		          		{
    		          			return "退款-租金池-虚拟";
    		          		}  
    	                  }},
						{field:'STATUS_FLAG',title:'确认状态',width:4,formatter:function(value,rowData,rowIndex){
    		          		return "审核中";
    	                  }},
    		          	{field:'FI_STATUS',hidden:true},
    		          	{field:'TYPE',hidden:true}
    		         ]],
    		        view:detailview,
    		 		detailFormatter : function(index, row) {
    		 			return '<div id="ddv-' + row.HEAD_ID + '" style="padding:5px 0;"></div>';
    		 		},
    				onExpandRow : function(index, row) {
    					jQuery.ajax({
    						url:_basePath+"/rentWrite/rentWriteNew!getQueryFundDetailData.action?HEAD_ID="+row.HEAD_ID+"&TYPE="+row.TYPE,  
    						type:'post',
    						dataType:'json',
    					    success: function(json){
    							var data = {flag:json.flag,total:json.data.length,rows:json.data};
    							var pRowIndex = "ddv-"+row.HEAD_ID;
    							$('#ddv-'+row.HEAD_ID).datagrid({
    								fitColumns:true,
    								columns:[[
    				                            {field:'CUSTNAME',align:'center',width:15,title:'客户名称'},
    				                            {field:'COMPANY_NAME',align:'center',width:15,title:'厂商'},
    				                            {field:'SUP_NAME',align:'center',width:15,title:'供应商'},
												{field:'LEASE_CODE',align:'center',width:15,title:'合同编号'},
												{field:'PAYLIST_CODE',align:'center',width:15,title:'还款计划编号'},
    				                            {field:'EQUIPMENINFOS',align:'center',width:15,title:'租赁物'},
    				                            {field:'FI_PRO_NAME',align:'center',width:10,title:'款项名称'},
    				                            {field:'BEGINNING_NUM',align:'center',width:5,title:'期次'},
    				                            {field:'D_RECEIVE_DATE',align:'center',width:10,title:'计划收取日期'},
    				                            {field:'BEGINNING_MONEY',align:'center',width:10,title:'本次应收金额'},
    				                            {field:'D_RECEIVE_MONEY',align:'center',width:10,title:'本次实收金额'}
    								         ]],
    								onResize:function(){
    			                        $('#pageTable_QueryM').datagrid('fixDetailRowHeight',index);
    			                    },
    			                    onLoadSuccess:function(){
    			                        setTimeout(function(){
    			                            $('#pageTable_QueryM').datagrid('fixDetailRowHeight',index);
    			                        },0);
    			                    }
    							});
    							 $('#pageTable_QueryM').datagrid('fixDetailRowHeight',index);
    								$('#ddv-'+row.HEAD_ID).datagrid("loadData",data);
    					}
    				});
		 		}
	});
});

</script>
<body class="easyui-layout" style="background-image:none;">
<div region="center" border="false">
	<input type="hidden"  style="width:150px;" ID="HEAD_ID" name="HEAD_ID" value="$!param.FUND_HEAD_ID"/>
	
	 <table id="pageTable_QueryM">
         
	</table>
</div>
</body>