
<div region="center" border="false" fit="true">
	<table class="easyui-datagrid" title="" style="" id="Experience1" 
	data-options="fitColumns:'true',toolbar: '#Exp',singleSelect:true,collapsible:true,url:'$_basePath/base/tysales/Tysales!findSuppTysales.action?SUP_ID=$!param.SUP_ID&SS_ID=$!param.SS_ID',method:'post'">
		<thead >
    		<tr >
				<th data-options="field:'SS_YEAR',width:100">年份</th>
				<th data-options="field:'SALES_BRAND',width:100">销售品牌</th>
				<th data-options="field:'SALES_VOLUME',width:100">总销量</th>
				<th data-options="field:'PHASED_SALES_PROPORTION',width:100">融资数量(台)</th>
				<th data-options="field:'REMARK',width:100">备注</th>
            </tr>
        </thead>
    </table>
</div>



