
<script type="text/javascript">
   $(function () {
      $(".easyui-datebox").datebox();
   });
</script> 
<form id="upateExperience_" method="post" novalidate>
		<input type="hidden" name="SS_ID" id="SS_ID" value="$!workExp.SS_ID">
		<table class="table_01" cellpadding="0" cellspacing="0">

			<tr>
##                <td>开工日期：</td>
                <td>年份：</td>
                <td><input type="text" name="SS_YEAR" id="SS_YEAR" class="easyui-datebox" data-options="required:false" value="$!workExp.SS_YEAR"/></td>
##                <td>完工时间：</td>
                <td>销售品牌：</td>
                <td colspan=""><input type="text" name="SALES_BRAND" id="SALES_BRAND" value="$!workExp.SALES_BRAND"/></td>
			</tr>
			<tr>
                <td>总销量：</td>
                <td><input type="text" name="SALES_VOLUME" id="SALES_VOLUME" value="$!workExp.SALES_VOLUME"/></td>
                <td>融资数量(台)：</td>
                <td colspan=""><input type="text" name="PHASED_SALES_PROPORTION" id="PHASED_SALES_PROPORTION" value="$!workExp.PHASED_SALES_PROPORTION" /></td>
			</tr>
			<tr >
				<td>备注：</td>
				<td colspan="3">
					<textarea name="REMARK" style="width:460px;">$!workExp.REMARK</textarea>
                </td>
            </tr>
        </table>
    </form>
