#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/mortgageProduct/js/finceMorManager.js"></script>

<body class="easyui-layout" style="background-image:none;">
<div region="center" border="false">	
    <div id="pageForm" style="padding:10px;height:auto;" border="true">
		<table cellspacing="5" cellpadding="0" border="0">
            <tr>               
				<td align="right"><span style="color: #15248b">抵押状态：</span></td>
				<td align="left"><select name="MORTGATE_STATUS" id="MORTGATE_STATUS" style="width:90px;" class="paramData">
						<option value=''>全部</option>
						<option value='0' #if($!param.MORTGATE_STATUS==0) selected #end>未抵押</option>
						<option value='1' #if($!param.MORTGATE_STATUS==1) selected #end>已抵押</option>
						<option value='2' #if($!param.MORTGATE_STATUS==2) selected #end>已质押</option>
						<option value='3' #if($!param.MORTGATE_STATUS==3) selected #end>已解押</option>
                </select></td>
				<td align="right"><span style="color: #15248b">融资机构：</span></td>
				<td align="left"><input type="text" class="paramData" style="width:100px;" id="ORGAN_NAME" name="ORGAN_NAME" value="$!param.ORGAN_NAME"/></td>
				<td align="right"><span style="color: #15248b">项目名称：</span></td>
				<td ><input type="text" value="$!param.PROJECT_NAME" class="paramData" name="PROJECT_NAME" id="PROJECT_NAME" onclick="getProjectName('getProjectName')"/>
					<input type="hidden" value="$!param.PROJECT_ID" name="PROJECT_ID" id="PROJECT_ID" class=""></td>
				<td>
					<a class="easyui-linkbutton" iconCls="icon-search" onclick="toSeacher();" href="javascript:void(0);">查询</a>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearQuery();">清空</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="createMor()">添加抵押</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="createPledge()">添加质押</a>
                </td>
			</tr>
            <tr><td colspan="5" height="1"></td></tr>
        </table>
    </div>
	<table id="morManagerMg">
	</table>
</div>
	
<div id="getProjectName" title="查看项目" class="easyui-dialog"  modal="true" data-options="resizable:true" buttons="#dialogButtons" closed="true" style="width:700px;height：auto!important; min-height:200px;padding:10px;top:10px;">
<div id="openProject">
	<table cellpadding="0" cellspacing="0"  border="0" class="table_01">
		<tr height="35px">
			<td>项目名称:</td>
			<td colspan="2" class ="dialog_pre">
				<input type="text" name="PROJECT_NAME1" id="PROJECT_NAME1" value=""  style="width:120px;"/>
			</td>
			<td  width="20%">
				<input type="button" class="Button"  onclick="findProjectName()" value="搜  索" />
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<div id="getProName"></div>
			</td>
		</tr>
	</table>
</div>	
</div>
</div></body>