<!DOCTYPE html>
<html>
<head>
	<title>GPS管理</title>
	#parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/GPS/GPSInstall/js/GPS.js"></script>
	<style type="text/css">
		.command{
			width:100px;
		}
	</style>
</head>
<body>
<table  cellpadding="0" cellspacing="0" class="table_01">
			<tr>
				<td>GPS编号</td>
				<td>
					<input type="text" class="command" name="GPS_CODE1" readonly id="GPS_CODEDD" value="$item.GPS_CODE" />
				</td>
            </tr>
			<tr>
				<td>初始化里程</td>
				<td>
					<input type="text"  style="width:60px;" name="STAR_DISTANCE1" id="STAR_DISTANCEDD"  value="$item.STAR_DISTANCE" /> 千米
                </td>
            </tr>
			<tr>
				<td>保养里程</td>
				<td>
					<input type="text"  style="width:60px;" name="END_DISTANCE1" id="END_DISTANCEDD" value="$item.END_DISTANCE" /> 千米
                </td>
            </tr>
			<tr>
				<td colspan="2" align="center">
					 <a href="javascript:void(0)" id="saveBtn" class="easyui-linkbutton"  iconCls="icon-save" onclick="baoyang($('#GPS_CODEDD').val(),$('#STAR_DISTANCEDD').val(),$('#END_DISTANCEDD').val())">保存</a>
				</td>
			</tr>
        </table>
</body>
</html>