body {
	padding: 0;
	margin: 0;
	background-color: #217db8;
}

body,html {
	height: 100%;
}

.input_01 {
	margin-left: 229px;
	margin-top: 66px;
	width: 150px;
	border: 0;
	text-align: left;
	line-height: 22px;
	float: left;
}

.input_02 {
	margin-left: 228px;
	margin-top: 22px;
	border: 0;
	width: 150px;
	border: 0;
	text-align: left;
	line-height: 22px;
	float: left;
	clear: left;
}

.input_03 {
	margin-left: 228px;
	margin-top: 24px;
	float: left;
}

.but_01 {
	margin-left: 200px;
	margin-top: 18px;
	float: left;
	width: 90px;
	height: 34px;
	background: url(../img/but_01.png) no-repeat;
	border: 0;
	cursor: pointer;
	clear: left;
}

.but_02 {
	margin-left: 20px;
	margin-top: 18px;
	float: left;
	width: 90px;
	height: 34px;
	background: url(../img/but_02.png) no-repeat;
	border: 0;
	cursor: pointer;
}

.left {
	float: left;
}

.bg_01 {
	float: left;
	background: url(../img/bg_01.jpg) no-repeat;
	width: 264px;
	height: 222px;
}

.bg_02 {
	float: left;
	background: url(../img/bg_02.jpg) no-repeat;
	width: 495px;
	height: 222px;
}

.bg_03 {
	float: left;
	background: url(../img/bg_03.jpg) no-repeat;
	width: 264px;
	height: 222px;
}

.bg_04 {
	float: left;
	background: url(../img/bg_04.jpg) no-repeat;
	width: 264px;
	height: 301px;
}

.bg_05 {
	float: left;
	background: url(../img/bg_05.jpg) no-repeat;
	width: 495px;
	height: 301px;
	margin: 0 auto;
	text-align: left;
}

.bg_06 {
	float: left;
	background: url(../img/bg_06.jpg) no-repeat center top;
	width: 264px;
	height: 301px;
}

.bg_07 {
	float: left;
	background: url(../img/bg_07.jpg) no-repeat center top;
	width: 264px;
	height: 245px;
}

.bg_08 {
	float: left;
	background: url(../img/bg_08.jpg) no-repeat;
	width: 495px;
	height: 245px;
}

.bg_09 {
	float: left;
	background: url(../img/bg_09.jpg) no-repeat;
	width: 264px;
	height: 245px;
}

.Centent {
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	display: table;
}