<title>档案上传</title>
#if($param.TASK_NAME && ($!param.TASK_NAME=='登记入柜'||$!param.TASK_NAME=='档案上传资料'||$!param.TASK_NAME=='资料补齐'||$!param.TASK_NAME=='资料变更'))
	#parse("content/importBase.vm")
#end
<script type="text/javascript" src="$_basePath/pigeonhole/js/pigeonhole.js"></script>
<table  cellpadding="0" cellspacing="0" class="table_01">
    <tr>
        <td class="text_right">客户名称：</td>
        <td>$!BASEINFO.NAME
			<input type="hidden" name="CLIENT_ID_DOSSIER" id="CLIENT_ID_DOSSIER" VALUE="$!BASEINFO.CLIENT_ID"/>
			<input type="hidden" name="DOSSIER_CLIENT_NAME" id="DOSSIER_CLIENT_NAME" value="$!BASEINFO.NAME"/>
		</td>
		#if($BASEINFO.PROJECT_CODE && $!BASEINFO.PROJECT_CODE!='')
        <td class="text_right">项目编号：</td>
        <td>
			$!BASEINFO.PROJECT_CODE
			<INPUT TYPE="HIDDEN" NAME="PROJECT_CODE" VALUE="$!BASEINFO.PROJECT_CODE"/>
			&nbsp;&nbsp;
			还款计划编号：
			$!BASEINFO.PAYLIST_CODE
			<INPUT TYPE="HIDDEN" NAME="PAYLIST_CODE" VALUE="$!BASEINFO.PAYLIST_CODE"/>
			<INPUT TYPE="HIDDEN" NAME="FILE_TYPE" id="FILE_TYPE" VALUE="1"/>
		</td>
		#else
        <td colspan="2">&nbsp;
			<INPUT TYPE="HIDDEN" NAME="FILE_TYPE" id="FILE_TYPE" VALUE="2"/>
		</td>
		#end
	</tr>
	<tr>
        <td class="text_right">归档方式：</td>
        <td colspan="3">
			<input type="radio" #if($!BASEINFO.SEND_TYPE==0)checked #end readonly value="0" name="SEND_TYPE" id="DOSSIER_MODE"/>邮寄&nbsp;&nbsp;
			<input type="radio"  #if($!BASEINFO.SEND_TYPE==1)checked #end readonly value="1" name="SEND_TYPE" id="DOSSIER_MODE"/>直接递送&nbsp;&nbsp;
		</td>
    </tr>
</table>
<input type="HIDDEN" NAME="JBPM_ID" ID="JBPM_ID" value="$!param.JBPM_ID"/>
<div style="height:20px;"></div>
<table  cellpadding="0" cellspacing="0" class="table_01">
	<tr>
        <td class="text_right">文件柜编号</td>
        <td>
			<select name="PORTFOLIO_HEAD" id="PORTFOLIO_HEAD" onchange="chooseCabine()">
				<option VALUE="$!BASEINFO.HEAD">#if($BASEINFO.HEAD)$!BASEINFO.HEAD #else --请选择--#end</option>
				#foreach($!item in $!CABINETLIST)
                    <option value="$!item.PORTFOLIO_HEAD">$!item.PORTFOLIO_HEAD</option>
				#end
            </select>
			-
			<select name="PORTFOLIO_ROW" id="PORTFOLIO_ROW">
				<option VALUE="$!BASEINFO.ROW">#if($BASEINFO.ROW)$!BASEINFO.ROW #else --请选择--#end</option>
            </select>
			-
			<select NAME="PORTFOLIO_LINE" id="PORTFOLIO_LINE">
				<option VALUE="$!BASEINFO.LINE">#if($BASEINFO.LINE)$!BASEINFO.LINE #else --请选择--#end</option>
            </select>
		</td>
    </tr>
</table>
<input type="hidden" name="PLATFORM_TYPE" value="$!BASEINFO.PLATFORM_TYPE"/>
<input type="hidden" name="DOSSIER_APPLY_ID" value="$!BASEINFO.ID"/>
<table  cellpadding="0" cellspacing="0" class="table_02">
	<thead >
    	<tr>
			<td class="text_left"><input type="checkbox" checked="true" id="checkAll"/></td>
            <td class="text_left">文本类型</td>
            ##<td class="text_left">文本编号</td>
            <td class="text_left">原件/复印件</td>
            <td class="text_left">数量</td>
            <td class="text_left">文件页数</td>
            <td class="text_left">文件袋编号</td>
        </tr>
    </thead>
	<tbody id="detailForm">
    	#foreach($!item in $!FILELIST)
    	<tr class="detailTr">
            <td>$velocityCount
				<input type="checkbox" checked="true" class="checkId"/>
				<input type="hidden" name="TPM_BUSINESS_PLATE" value="$!item.TPM_BUSINESS_PLATE"/>
##				<INPUT TYPE="TEXT" NAME="FILE_TYPE" VALUE="$!item.FILE_TYPE"/>
			</td>
            <td>$!item.TPM_TYPE
				<input type="hidden" name="TPM_TYPE" value="$!item.TPM_TYPE"/>
				<INPUT TYPE="hidden" name="FILE_REMARK" VALUE="$!item.FILE_REMARK"/>
			</td>
           ## <td>#if($item.TPM_CODE&&$!item.TPM_CODE!='null')$!item.TPM_CODE#else &nbsp;#end
			##	<input type="hidden" name="TPM_CODE" value="#if($item.TPM_CODE&&$!item.TPM_CODE!='null')$!item.TPM_CODE#end"/>
			##</td>
            <td>
				<input type="radio" #if($!item.DOSSIERTYPE==1)checked #end value="1" readonly  name="DOSSIERTYPE$velocityCount">原件&nbsp;&nbsp;
				<input type="radio" #if($!item.DOSSIERTYPE==2)checked #end value="2" readonly name="DOSSIERTYPE$velocityCount">复印件&nbsp;&nbsp;
			</td>
            <td>
				<input type="text" name="DOSSIER_COUNT" readonly VALUE="$!item.DOSSIER_COUNT"/>
			</td>
            <td>
				<input type="text" name="DOSSIER_PAGE" readonly value="$!item.DOSSIER_PAGE"/>
			</td>
            <td>
				<input type="text" name="PORTFOLIO_NUMBER" value="$!BASEINFO.PORTFOLIO_NUMBER"/>
			</td>
        </tr>
		#end
		#if($param.SHOW_FLAG != '1')
		<tr>
            <td colspan="7" align="center">
				<a href="javascript:void(0)"  class="easyui-linkbutton"  iconCls="icon-Archives" name="save_button" onclick="saveDossier()" id="save_button">档案入柜</a>
			</td>
        </tr>
		#end
    </tbody>
</table>