<title>项目逾期率</title>
#parse("content/importBase.vm")
<script type="text/javascript">
	$(function(){
	 $("#pageTable").datagrid({
		url:"$_basePath/dunReport/DunFXReportTable!queryRateProjectData.action",
		pagination:true,//是否分页 true为是
		rownumbers:true,//左侧自动显示行数
		singleSelect:true,	
		toolbar:'#pageForm',
		fit:true,
		pageSize:20,
		columns:[[
		          {field:'CUST_NAME',width:120,title:'客户名称'},
				  {field:'CUST_TYPE_NAME',width:75,title:'客户类型'},
				  {field:'PRO_CODE',width:125,title:'项目编号'},
				  {field:'LEASE_CODE',width:135,title:'合同编号'},
				  {field:'CLERK_NAME',width:100,title:'客户经理'},
				  {field:'PLATFORM_NAME',width:135,title:'业务类型'},
		          {field:'STATUS_NAME',width:75,title:'支付表状态'},
		          {field:'PAYLIST_CODE',width:135,title:'支付表编号'},
		          {field:'START_DATE',width:85,title:'起租日期'},
		          {field:'PENALTY_DAY',width:75,title:'连续逾期天数'},
                  {field:'PERIOD',width:105,title:'开始逾期期数'},
                  {field:'ALLPERIOD',width:105,title:'总逾期期数'},
				  {field:'YQZJ',width:105,title:'逾期租金'},
                  {field:'YQL',width:85,title:'逾期率(%)'},
				  {field:'Compture',width:140,align:'center',title:'操作',formatter:function(value,rowData,rowIndex){
        			return "<a href='javascript:void(0)' onclick=toIrrLineChart('"+rowData.PROJECT_ID+"','"+rowData.PAYLIST_CODE+"')>项目逾期率</a>&nbsp;&nbsp;<a href='javascript:void(0)' onclick=toMoneyLineChart('"+rowData.PROJECT_ID+"','"+rowData.PAYLIST_CODE+"')>项目逾期金额</a>";
				  }}
		         ]]
	 });
	});
	function toIrrLineChart(PROJECT_ID,PAYLIST_CODE) {
    	top.addTab(PAYLIST_CODE+"支付表逾期率", _basePath + "/dunReport/DunFXReportTable!queryRateProjectChar.action?PROJECT_ID=" + PROJECT_ID+"&PAYLIST_CODE="+PAYLIST_CODE+"&TYPE=1");
	}
	
	function toMoneyLineChart(PROJECT_ID,PAYLIST_CODE){
		top.addTab(PAYLIST_CODE+"支付表逾期金额", _basePath + "/dunReport/DunFXReportTable!queryRateProjectChar.action?PROJECT_ID=" + PROJECT_ID+"&PAYLIST_CODE="+PAYLIST_CODE+"&TYPE=2");
	}
	
	function se() {
	    var PRO_CODE=$("#PRO_CODE").val();
		var CUST_NAME=$("#CUST_NAME").val();
		var LEASE_CODE=$("#LEASE_CODE").val();
		var PAYLIST_CODE=$("#PAYLIST_CODE").val();
		$('#pageTable').datagrid({url:'DunFXReportTable!queryRateProjectData.action',queryParams:{"PRO_CODE":PRO_CODE,"CUST_NAME":CUST_NAME,"LEASE_CODE":LEASE_CODE,"PAYLIST_CODE":PAYLIST_CODE}});
	}
	function clean(){
		$("#PRO_CODE").val('');
		$("#CUST_NAME").val('');
		$("#LEASE_CODE").val('');
		$("#PAYLIST_CODE").val('');
	}
</script>
	<div id="pageForm" style="height:auto;padding:20px;" border="true">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
               <td>
                	项目编号：<input class="input_03" type="text" size ="20" id="PRO_CODE" name="PRO_CODE"/>
					客户名称：<input class="input_03" type="text" size ="20" id="CUST_NAME" name="CUST_NAME"/>
					合同编号：<input class="input_03" type="text" size ="20" id="LEASE_CODE" name="LEASE_CODE"/>
					支付表编号：<input class="input_03" type="text" size ="20" id="PAYLIST_CODE" name="PAYLIST_CODE"/>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查询</a>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick='clean();'>清空</a>
               </td>
           </tr>
      </table>
	</div>

	<table id="pageTable"></table>