<script type="text/javascript">
	$(document).ready(function(){
		$("#week td").click(function(){
			var t = $(this);
			if(t.text()!=" " && /sd[0-9]{1,2}/.test(t.attr("id"))){
				var day = $("#year").val()+"-"+$("#month").val()+"-"+t.text();
				var dialogTemp = $("<div>");
				dialogTemp.append($("<input type='radio' id='dialogFISHOLIDAY' value='0' name='IS_HOLIDAY'>"))
					.append("非节假日")
					.append($("<input type='radio' id='dialogFISHOLIDAY' value='1' name='IS_HOLIDAY'>"))
					.append("节假日")
					.append("<BR>")
					.append("<input type='hidden' id='dialogFDATE' name='COMMON_DATE'>")
					.append($("<textarea id='dialogFMEMO' name='HOLIDAY_MEMO'>").css("width","240px").css("height","230px"));
				dialogTemp.find("#dialogFDATE").val(day);
				dialogTemp.attr("SID",t.attr("id"));
				dialogTemp.dialog({
					title : "设置节假日",
					modal : true,
					width : 270,
            		height : 370,
        			minWidth:270,
        			minHeight:370,
            		maxWidth:270,
            		maxHeight:370,
					close : function(){
						$(this).remove();
					},
					buttons : [{
							text:"取消",
							handler:function(){
								dialogTemp.dialog("close");
							}
						},{
							text:"确定",
							handler:function(){
							jQuery.ajax({
                           		type: "POST",
                               	url: _basePath+"/holiday/HolidayMain!doSetHolidayByDate.action",
                               	data: "COMMON_DATE="+$("#dialogFDATE").val()+"&IS_HOLIDAY="+$("#dialogFISHOLIDAY:checked").val()+"&HOLIDAY_MEMO="+$("#dialogFMEMO").val(),
                               	dataType:"json",
								success: function(json){
                                 	if(json.flag=true){
										if($("#dialogFISHOLIDAY:checked").val()==1){
											alert("设置成节假日成功！");
											$("#"+dialogTemp.attr("SID")).css("border","3px solid orange");
										}else{
											alert("取消节假日成功！");
											$("#"+dialogTemp.attr("SID")).css("border","");
										}
										dialogTemp.dialog("close");
									}else{
										alert("更新节假日信息失败！");
									}
                               	}
                            });
							}
						}]
				});
				dialogTemp.dialog("open");
			}
		});
	});
</script>