
* {font-family: "Microsoft Yahei" !important; font-size:12px;}

BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; PADDING-TOP: 0px;
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px; border:0;
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.clear {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 0; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.logo {
	WIDTH: 100%; HEIGHT: 51px
}
.logo_left{ background:url(../image/logo_tyloo.png); background-repeat:no-repeat; float:left; width:429px; height:51px;}
.input {
	BORDER-BOTTOM: #598ec5 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #1460ad; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 146px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 24px; BORDER-TOP: #598ec5 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.appsY {
	BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; MARGIN-BOTTOM: 7px; HEIGHT: 34px; OVERFLOW: visible
}
.appsN {
	BORDER-BOTTOM: #999999 1px solid; POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; MARGIN: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 34px; COLOR: #555555; FONT-SIZE: 14px; TOP: 0px; FONT-WEIGHT: bold; PADDING-TOP: 0px; LEFT: 0px
}
.appc {
	CLEAR: both; OVERFLOW: hidden
}
.appc LI IMG {
	BORDER-BOTTOM: 0px; FILTER: alpha(opacity =   50); BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; opacity: 0.6; transition: all 0.5s ease 0s
}
.appc LI IMG:hover {
	BORDER-BOTTOM: 0px; FILTER: alpha(opacity =   90); BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; opacity: 1
}
.appc LI {
	POSITION: relative; WIDTH: 253px; FLOAT: left; HEIGHT: 130px
}
.appc LI B {
	POSITION: absolute; WIDTH: 75px; HEIGHT: 75px; TOP: 22px; CURSOR: pointer; LEFT: 21px
}
.appc LI DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 111px; PADDING-RIGHT: 10px; PADDING-TOP: 22px
}
.appc LI DD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 53px; COLOR: #999999; OVERFLOW: hidden; PADDING-TOP: 5px
}
.appc LI DL A {
	LINE-HEIGHT: 16px; COLOR: #003399; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.footer{ background-image:url(../image/footer-bg_02.png); background-repeat:repeat-x; width:100%; height:25px; line-height:25px; color:#666;}