@charset "utf-8";
/* CSS Document */
.reType{width:90px; height:90px; background:url(../image/2-8.png) no-repeat; margin:0 auto;}
.reType-F{ background-position:-297px -127px;}
.reType-F-no{ background-position:-297px -350px;}
.reType-S{ background-position:-116px -127px;}
.reType-S-no{ background-position:-116px -350px;}
.reType-B{ background-position:-388px -127px;}
.reType-B-no{ background-position:-388px -350px;}
.reType-I{ background-position:-208px -127px;}
.reType-I-no{ background-position:-208px -350px;}
.reType-O{ background-position:-28px -18px;}
.reType-O-no{ background-position:-28px -235px;}
.reType-H{ background-position:-120px -18px;}
.reType-H-no{ background-position:-120px -235px;}
.reType-BS{ background-position:-120px -127px;}
.reType-BS-no{ background-position:-120px -350px;}
.reType-C{ background-position:-296px -18px;}
.reType-C-no{ background-position:-296px -235px;}
.reType-SL{ background-position:-388px -18px;}
.reType-SL-no{ background-position:-388px -235px;}
.reType-SC{ background-position:-208px -18px;}
.reType-SC-no{ background-position:-208px -235px;}
.reType-in{background-position:-477px -18px;}
.reType-in-no{background-position:-477px -235px;}
.reType-car{background-position:-477px -127px;}
.reType-car-no{background-position:-480px -350px;}
.reType-QK{ background-position:-564px -18px;}
.reType-QK-no{ background-position:-564px -235px;}
.reType-AJ{ background-position:-564px -127px;}
.reType-AJ-no{ background-position:-564px -348px;}
.reType-JH{ background-position:-652px -18px;}
.reType-JH-no{ background-position:-652px -235px;}
.reType-JC{ background-position:-652px -127px;}
.reType-JC-no{ background-position:-652px -348px;}
.reType-FQ{ background-position:-740px -18px;}
.reType-FQ-no{ background-position:-740px -235px;}
.reType-MP{ background-position:-740px -127px;}
.reType-MP-no{ background-position:-740px -348px;}
.reType-ZC{ background-position:-828px -18px;}
.reType-ZC-no{ background-position:-828px -235px;}

/*2014-01-02添加*/
.reType-01{ background-position:-828px -127px;}
.reType-01-no{ background-position:-828px -348px;}/*售后回租-法人客户*/
.reType-02{ background-position:-916px -18px;}
.reType-02-no{ background-position:-916px -235px;}/*售后回租-经销商做承租人*/
.reType-03{ background-position:-916px -127px;}
.reType-03-no{ background-position:-916px -348px;}/*售后回租-挂靠公司做承租人*/
.reType-04{ background-position:-1004px -18px;}
.reType-04-no{ background-position:-1004px -235px;}/*售后回租-资产包*/
.reType-05{ background-position:-1004px -130px;}
.reType-05-no{ background-position:-1004px -348px;}/*直租-不上牌*/
.reType-06{ background-position:-1091px -18px;}
.reType-06-no{ background-position:-1091px -235px;}/*分期*/