<html>
<head>
#parse("content/importBase.vm")
<script type="text/javascript" src="$!_basePath/leeds/DTI/js/DTI.js"></script>
<script type="text/javascript">
#if($!param.disabled==1)	
$(function(){
	$('input,select').each(function(){
		$(this).attr('disabled','disabled');
	});
})
#end
</script>
</head>
<body>
<div>
<form id="FM" name="FM" action="" method="post">
	<input type="hidden" id="PROJECT_ID" name="PROJECT_ID" value="$!param.PROJECT_ID"/>
	<table id="table0" cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td class="text_right" width="13%">不计算：</td>
			<td><input type="checkbox" id="count" #if($!dti.IS_COUNT==0)checked #end value="0" ></td>
		</tr>
		<tr>
			<td class="text_right" width="13%">客户分类：</td>
			<td>
				<select name="CUST_TYPE" id="CUST_TYPE">
					<option value="">--请选择--</option>
					#foreach($item in $!khfl)
						<option value="$!item.CODE" #if($!dti.CUST_TYPE)#if($!dti.CUST_TYPE==$!item.CODE)selected #end#else#if($!borrower.CUST_TYPE==$!item.CODE)selected#end#end>$!item.FLAG</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<td class="text_right">特批处理：</td>
			<td >
				<select name="TPCL" id="TPCL" >
					<option value="">--请选择--</option>
					#foreach($!item in $!tpcl)
						<option value="$!item.CODE" #if($!dti.TPCL)#if($!dti.TPCL==$!item.CODE)selected #end#else#if($!borrower.TPCL==$!item.CODE)selected #end#end>$!item.FLAG</option>
					#end
				</select>
				原因：
				<input type="text" name="REMARK" id="REMARK" value="#if($!dti.REMARK)$!dti.REMARK#else$!borrower.REMARK#end" style="width:300px;"/>
			</td>
			
		</tr>
		<tr>
			<td class="text_right">拒绝原因：</td>
			<td >
				<select name="REPULSE_CAUSE" id="REPULSE_CAUSE">
					<option value="">--请选择--</option>
					#foreach($!item in $!jjyy)
						<option value="$!item.CODE" #if($!dti.REPULSE_CAUSE)#if($!dti.REPULSE_CAUSE==$!item.CODE)selected #end#else#if($!borrower.REPULSE_CAUSE==$!item.CODE)selected #end#end>$!item.FLAG</option>
					#end
				</select>
				原因：
				<input type="text" name="REJECT" id="REJECT" value="#if($!dti.REJECT)$!dti.REJECT#else$!borrower.REJECT#end" style="width:300px;">
			</td>
		</tr>
##		<tr>
##        	<td class="tr0" style="text-align: center;#if($!dti.IS_COUNT!=0)display: none; #end" colspan="7">
##        		<a href="javascript:void(0);" id="save" class="easyui-linkbutton" iconCls="icon-save" onclick="save();">保存</a>
##        	</td>
##        <tr>
	</table>
	<table id="table1" cellpadding="0" cellspacing="0" class="table_01" >
		<tr>
			<td width="1%"></td>
			<td width="1%"></td>
			<td width="15%"></td>
			<td width="15%" style="text-align: center;">借款人</td>
			<td width="15%" style="text-align: center;">共同借款人</td>
			<td width="15%" style="text-align: center;">家庭</td>
			<td width="15%" style="text-align: center;">担保人</td>
		</tr>
        <tr>
			<td class="text_right" rowspan="17" >收<br/>入</td>
			<td class="text_right" rowspan="6" >工<br/>资</td>
			<td class="text_right" >工资 - 第一月</td>
			<td style="text-align: center;">
				<input tabindex="1" type="text" _type="借款人" name="SALARY_1" id="SALARY_11" value="$!borrower.SALARY_1" >
			</td>
			<td style="text-align: center;" >
				<input tabindex="100" type="text" _type="共同借款人" name="SALARY_1" id="SALARY_21" value="$!co-borrower.SALARY_1" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="200" type="text" _type="担保人" name="SALARY_1" id="SALARY_31" value="$!guarantor.SALARY_1" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >工资 - 第二月</td>
			<td style="text-align: center;" >
				<input tabindex="2" type="text" _type="借款人" name="SALARY_2" id="SALARY_12" value="$!borrower.SALARY_2" >
			</td>
			<td style="text-align: center;">
				<input tabindex="102" type="text" _type="共同借款人" name="SALARY_2" id="SALARY_22" value="$!co-borrower.SALARY_2" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="202" type="text" _type="担保人"  name="SALARY_2" id="SALARY_32" value="$!guarantor.SALARY_2" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >工资 - 第三月</td>
			<td style="text-align: center;" >
				<input tabindex="3" type="text" _type="借款人" name="SALARY_3" id="SALARY_13" value="$!borrower.SALARY_3" >
			</td>
			<td style="text-align: center;" >
				<input tabindex="103" type="text" _type="共同借款人" name="SALARY_3" id="SALARY_23" value="$!co-borrower.SALARY_3" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="203" type="text" _type="担保人" name="SALARY_3" id="SALARY_33" value="$!guarantor.SALARY_3" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >月平均工资</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="AVG_SALARY" id="AVG_SALARY_1" value="$!borrower.AVG_SALARY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="AVG_SALARY" id="AVG_SALARY_2" value="$!co-borrower.AVG_SALARY" disabled>
			</td>
			<td></td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="AVG_SALARY" id="AVG_SALARY_3" value="$!guarantor.AVG_SALARY" disabled>
			</td>
        </tr>
        <tr>
			<td class="text_right" >其他月收入</td>
			<td style="text-align: center;">
				<input tabindex="4" type="text" _type="借款人" name="OTHER_SALARY" id="OTHER_SALARY_1" value="$!borrower.OTHER_SALARY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="104" type="text" _type="共同借款人" name="OTHER_SALARY" id="OTHER_SALARY_2" value="$!co-borrower.OTHER_SALARY" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="204" type="text" _type="担保人" name="OTHER_SALARY" id="OTHER_SALARY_3" value="$!guarantor.OTHER_SALARY" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >月收入</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="SALARY" id="SALARY_1" value="$!borrower.SALARY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="SALARY" id="SALARY_2" value="$!co-borrower.SALARY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="家庭" name="SALARY" id="SALARY_0" value="$!family.SALARY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="SALARY" id="SALARY_3" value="$!guarantor.SALARY" disabled>
			</td>
        </tr>
        <tr>
        	<td class="text_right" rowspan="8" >入<br/>账<br/>金<br/>额</td>
			<td class="text_right" >入账 - 第一月</td>
			<td style="text-align: center;">
				<input tabindex="5" type="text" _type="借款人" name="NET_AMOUNT_1" id="NET_AMOUNT_11" value="$!borrower.NET_AMOUNT_1" >
			</td>
			<td style="text-align: center;">
				<input tabindex="105" type="text" _type="共同借款人" name="NET_AMOUNT_1" id="NET_AMOUNT_21" value="$!co-borrower.NET_AMOUNT_1" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="205" type="text" _type="担保人" name="NET_AMOUNT_1" id="NET_AMOUNT_31" value="$!guarantor.NET_AMOUNT_1" >
			</td>
        </tr>
		<tr>
			<td class="text_right" >入账 - 第二月</td>
			<td style="text-align: center;">
				<input tabindex="6" type="text" _type="借款人" name="NET_AMOUNT_2" id="NET_AMOUNT_12" value="$!borrower.NET_AMOUNT_2" >
			</td>
			<td style="text-align: center;">
				<input tabindex="106" type="text" _type="共同借款人" name="NET_AMOUNT_2" id="NET_AMOUNT_22" value="$!co-borrower.NET_AMOUNT_2" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="206" type="text" _type="担保人" name="NET_AMOUNT_2" id="NET_AMOUNT_32" value="$!guarantor.NET_AMOUNT_2" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >入账 - 第三月</td>
			<td style="text-align: center;">
				<input tabindex="7" type="text" _type="借款人" name="NET_AMOUNT_3" id="NET_AMOUNT_13" value="$!borrower.NET_AMOUNT_3" >
			</td>
			<td style="text-align: center;">
				<input tabindex="107" type="text" _type="共同借款人" name="NET_AMOUNT_3" id="NET_AMOUNT_23" value="$!co-borrower.NET_AMOUNT_3" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="207" type="text" _type="担保人" name="NET_AMOUNT_3" id="NET_AMOUNT_33" value="$!guarantor.NET_AMOUNT_3" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >平均入账金额</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="AVG_NET_AMOUNT" id="AVG_NET_AMOUNT_1" value="$!borrower.AVG_NET_AMOUNT" disabled>
			</td>
			<td style="text-align: center;" >
				<input type="text" _type="共同借款人" name="AVG_NET_AMOUNT" id="AVG_NET_AMOUNT_2" value="$!co-borrower.AVG_NET_AMOUNT" disabled>
			</td>
			<td></td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="AVG_NET_AMOUNT" id="AVG_NET_AMOUNT_3" value="$!guarantor.AVG_NET_AMOUNT" disabled>
			</td>
        </tr>
        <tr>
			<td class="text_right" >平均利润率</td>
			<td style="text-align: center;">
				<input tabindex="8" type="text" _type="借款人" name="NET_AMOUNT_A" id="NET_AMOUNT_A1" value="#if($!borrower.NET_AMOUNT_A)$!{borrower.NET_AMOUNT_A}#{else}20#end" >%
			</td>
			<td style="text-align: center;">
				<input tabindex="108" type="text" _type="共同借款人" name="NET_AMOUNT_A" id="NET_AMOUNT_A2" value="#if($!co-borrower.NET_AMOUNT_A)$!{co-borrower.NET_AMOUNT_A}#{else}20#end" >%
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="208" type="text" _type="担保人" name="NET_AMOUNT_A" id="NET_AMOUNT_A3" value="#if($!guarantor.NET_AMOUNT_A)$!{guarantor.NET_AMOUNT_A}#{else}20#end" >%
			</td>
        </tr>
        <tr>
			<td class="text_right" >持股比例</td>
			<td style="text-align: center;">
				<input tabindex="9" type="text" _type="借款人" name="NET_AMOUNT_B" id="NET_AMOUNT_B1" value="#if($!borrower.NET_AMOUNT_B)$!{borrower.NET_AMOUNT_B}#{else}100#end" >%
			</td>
			<td style="text-align: center;">
				<input tabindex="109" type="text" _type="共同借款人" name="NET_AMOUNT_B" id="NET_AMOUNT_B2" value="#if($!co-borrower.NET_AMOUNT_B)$!{co-borrower.NET_AMOUNT_B}#{else}100#end" >%
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="209" type="text" _type="担保人" name="NET_AMOUNT_B" id="NET_AMOUNT_B3" value="#if($!guarantor.NET_AMOUNT_B)$!{guarantor.NET_AMOUNT_B}#{else}100#end" >%
			</td>
        </tr>
        <tr>
			<td class="text_right" >其他月收入</td>
			<td style="text-align: center;">
				<input tabindex="10" type="text" _type="借款人" name="OTHER_AMOUNT" id="OTHER_AMOUNT_1" value="$!borrower.OTHER_AMOUNT" >
			</td>
			<td style="text-align: center;">
				<input tabindex="110" type="text" _type="共同借款人" name="OTHER_AMOUNT" id="OTHER_AMOUNT_2" value="$!co-borrower.OTHER_AMOUNT" >
			</td>
			<td></td>
			<td style="text-align: center;">
				<input tabindex="210" type="text" _type="担保人" name="OTHER_AMOUNT" id="OTHER_AMOUNT_3" value="$!guarantor.OTHER_AMOUNT" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >月收入</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="AMOUNT" id="AMOUNT_1" value="$!borrower.AMOUNT" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="AMOUNT" id="AMOUNT_2" value="$!co-borrower.AMOUNT" disabled>
			</td>
			<td style="text-align: center;" >
				<input type="text" _type="家庭" name="AMOUNT" id="AMOUNT_0" value="$!family.AMOUNT" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="AMOUNT" id="AMOUNT_3" value="$!guarantor.AMOUNT" disabled>
			</td>
        </tr>
        <tr>
        	<td rowspan="3"></td>
			<td class="text_right" >可核实总月收入</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="SUM_AMOUNT" id="SUM_AMOUNT_1" value="$!borrower.SUM_AMOUNT" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="SUM_AMOUNT" id="SUM_AMOUNT_2" value="$!co-borrower.SUM_AMOUNT" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="家庭" name="SUM_AMOUNT" id="SUM_AMOUNT_0" value="$!family.SUM_AMOUNT" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="SUM_AMOUNT" id="SUM_AMOUNT_3" value="$!guarantor.SUM_AMOUNT" disabled>
			</td>
        </tr>
        <tr>
			<td class="text_right" >自称月收入</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="ZC_AMOUNT" id="ZC_AMOUNT_1" value="$!ZC_AMOUNT_1" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="ZC_AMOUNT" id="ZC_AMOUNT_2" value="$!ZC_AMOUNT_2" disabled>
			</td>
			<td></td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="ZC_AMOUNT" id="ZC_AMOUNT_3" value="$!ZC_AMOUNT_3" disabled>
			</td>
        </tr>
        <tr>
			<td class="text_right" >偏差</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="DEVIATION" id="DEVIATION_1" value="$!borrower.DEVIATION" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="DEVIATION" id="DEVIATION_2" value="$!co-borrower.DEVIATION" disabled>
			</td>
			<td></td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="DEVIATION" id="DEVIATION_3" value="$!guarantor.DEVIATION" disabled>
			</td>
        </tr>
        <tr>
        	<td class="text_right" rowspan="4" >负<br/>债</td>
        	<td rowspan="4"></td>
			<td class="text_right" >当前申请车辆月供金额</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="CAR_MONTHLY" id="CAR_MONTHLY_1" value="$!monthRent" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="CAR_MONTHLY" id="CAR_MONTHLY_2" value="$!monthRent" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="家庭" name="CAR_MONTHLY" id="CAR_MONTHLY_0" value="$!monthRent" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="CAR_MONTHLY" id="CAR_MONTHLY_3" value="$!monthRent" disabled>
			</td>
        </tr>
        <tr>
			<td class="text_right" >房屋月供款</td>
			<td style="text-align: center;">
				<input tabindex="11" type="text" _type="借款人" name="HOUSE_MONTHLY" id="HOUSE_MONTHLY_1" value="$!borrower.HOUSE_MONTHLY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="111" type="text" _type="共同借款人" name="HOUSE_MONTHLY" id="HOUSE_MONTHLY_2" value="$!co-borrower.HOUSE_MONTHLY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="151" type="text" _type="家庭" name="HOUSE_MONTHLY" id="HOUSE_MONTHLY_0" value="$!family.HOUSE_MONTHLY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="211" type="text" _type="担保人" name="HOUSE_MONTHLY" id="HOUSE_MONTHLY_3" value="$!guarantor.HOUSE_MONTHLY" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >其他贷款月供款</td>
			<td style="text-align: center;">
				<input tabindex="12" type="text" _type="借款人" name="OTHER_MONTHLY" id="OTHER_MONTHLY_1" value="$!borrower.OTHER_MONTHLY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="112" type="text" _type="共同借款人" name="OTHER_MONTHLY" id="OTHER_MONTHLY_2" value="$!co-borrower.OTHER_MONTHLY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="152" type="text" _type="家庭" name="OTHER_MONTHLY" id="OTHER_MONTHLY_0" value="$!family.OTHER_MONTHLY" >
			</td>
			<td style="text-align: center;">
				<input tabindex="212" type="text" _type="担保人" name="OTHER_MONTHLY" id="OTHER_MONTHLY_3" value="$!guarantor.OTHER_MONTHLY" >
			</td>
        </tr>
        <tr>
			<td class="text_right" >总月供款</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="SUM_MONTHLY" id="SUM_MONTHLY_1" value="$!borrower.SUM_MONTHLY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="SUM_MONTHLY" id="SUM_MONTHLY_2" value="$!co-borrower.SUM_MONTHLY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="家庭" name="SUM_MONTHLY" id="SUM_MONTHLY_0" value="$!family.SUM_MONTHLY" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="SUM_MONTHLY" id="SUM_MONTHLY_3" value="$!guarantor.SUM_MONTHLY" disabled>
			</td>
        </tr>
        <tr>
        	<td class="text_right" rowspan="1" >担<br/>保</td>
        	<td rowspan="1"></td>
			<td class="text_right" >对外担保剩余本金</td>
			<td style="text-align: center;">
				<input tabindex="13" type="text" _type="借款人" name="GUARANTEE" id="GUARANTEE_1" value="$!borrower.GUARANTEE" >
			</td>
			<td style="text-align: center;">
				<input tabindex="113" type="text" _type="共同借款人" name="GUARANTEE" id="GUARANTEE_2" value="$!co-borrower.GUARANTEE" >
			</td>
			<td style="text-align: center;">
				<input tabindex="153" type="text" _type="家庭" name="GUARANTEE" id="GUARANTEE_0" value="$!family.GUARANTEE" >
			</td>
			<td style="text-align: center;">
				<input tabindex="213" type="text" _type="担保人" name="GUARANTEE" id="GUARANTEE_3" value="$!guarantor.GUARANTEE" >
			</td>
        </tr>
        <tr>
        	<td class="text_right" rowspan="1" >DTI</td>
        	<td rowspan="1"></td>
			<td class="text_right" >负债收入比</td>
			<td style="text-align: center;">
				<input type="text" _type="借款人" name="DTI" id="DTI_1" value="$!borrower.DTI" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="DTI" id="DTI_2" value="$!co-borrower.DTI" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="家庭" name="DTI" id="DTI_0" value="$!family.DTI" disabled>
			</td>
			<td style="text-align: center;">
				<input type="text" _type="担保人" name="DTI" id="DTI_3" value="$!guarantor.DTI" disabled>
			</td>
        </tr>
        <tr>
        	<td class="text_right" rowspan="1" >结<br/>息</td>
        	<td rowspan="1"></td>
			<td class="text_right" >最近一次结息金额</td>
			<td style="text-align: center;">
				<input tabindex="14" type="text" _type="借款人" name="ACCRUAL" id="ACCRUAL_1" value="$!borrower.ACCRUAL" >
			</td>
			<td style="text-align: center;">
				<input type="text" _type="共同借款人" name="ACCRUAL" id="ACCRUAL_2" value="$!co-borrower.ACCRUAL" disabled>
			</td>
			<td></td>
			<td class="text_right" >
			</td>
        </tr>
        #if($!param.disabled!=1)
        <tr>
        	<td style="text-align: center;" colspan="7">
        		<a href="javascript:void(0);" id="save" class="easyui-linkbutton" iconCls="icon-save" onclick="save();">保存</a>
        		<a href="javascript:void(0);" id="clean" class="easyui-linkbutton" iconCls="icon-clean" onclick="clean();">重置</a>
        	</td>
        <tr>
        #end
	</table>
</div>
</form>
</body>
</html>