<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fil_wx_account_mapper">

<select id="getMapperByOpenid" resultType="map" parameterType="string">
	select t.* 
		,t2.hasbind
		,t2.verify_time
		,t2.verify_code
		,t2.bind_time
		,t3.openid
	from fil_cust_client t
		left join fil_wx_account_mapper t2 on t2.client_id = t.id
		left join fil_wx_account t3 on t3.openid = t2.openid
		
	where t3.openid = #{openid} 
</select >

<update id="resetBindTime"  parameterType="string">
	update fil_wx_account_mapper set bind_time = sysdate  where openid = #{openid} 
</update >

<update id="updateMapperByOpenid"  parameterType="map">
	update fil_wx_account_mapper 
	<set>
	<if test="bind_time != null and bind_time != ''">bind_time = #{bind_time}  ,</if>
	<if test="verify_code != null and verify_code != ''">verify_code = #{verify_code}  ,</if>
	<if test="verify_time != null and verify_time != ''">verify_time = #{verify_time}  ,</if>
	<if test="hasbind != null and hasbind != ''">hasbind = #{hasbind}  </if>
	</set> 
	where openid = #{openid} 
</update >


<delete id="delMapperByOpenid"  parameterType="string">
	delete from fil_wx_account_mapper where openid = #{openid} 
</delete >


<select id="findClientByNo" resultType="map" parameterType="string">
	select t.* 
		,case when t.corp_business_license = #{client_no} then 0
		else 1
		end isnp	
	from fil_cust_client t
	where 
		 t.tel_phone is not null 
		 and (t.corp_business_license = #{client_no} or t.id_card_no = #{client_no} )
</select >

<insert id="addMapper" parameterType="map">
	<selectKey resultType="long" keyProperty="id" order="BEFORE">SELECT seq_fil_wx_account_mapper.nextval from dual</selectKey>
	insert into fil_wx_account_mapper(
		id,
		openid,
		client_id,
		bind_time,
		bind_appid,
		client_type,
		verify_code,
		verify_time,
		hasbind
	)values(
		#{id},
		#{openid},
		#{client_id},
		#{bind_time},
		#{bind_appid},
		#{client_type},
		#{verify_code, JdbcType=VARCHAR },
		#{verify_time },
		#{hasbind}
	)
</insert>

</mapper>