#parse("content/importBase.vm")
<script type="text/javascript"  src="../js/util.js"></script>
<script type="text/javascript" src="$_basePath/mgTargets/js/toTarget.js"></script>
<div id="pageForm" border="true" style="padding:20px;height:auto;">
	<table border="0" cellpadding="0" cellspacing="0" >
		<tr>
			<td >指标公司名称:</td>
			<td ><input type="text" name="SUP_SHORTNAME" id="SUP_SHORTNAME" class="paramData" value="" style="width: 100px;"/> </td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='tofindData();'>查询</a>
				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" id="qingkong">清空</a>
				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'" id="tianjia" >添加</a>
			</td>
		</tr>
	</table>
</div>
<table id="insDialog"></table>

<!--添加指标价格-->
<div id="addPriceP" class="easyui-dialog"  modal="true" title="添加指标价格" closed="true" buttons="#addPriceBut" style="width:730px; min-height:200px;margin：0px;padding:0px">
	<form id="addPrice" method="post">
		<table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>指标公司：</td>
				<td colspan="5"><select class="easyui-combobox" style="width:200px;" name="SUPPLIERS_ID" id="SUPPLIERS_ID_">
						#foreach($!item in $!sup)
						<option value="$!item.SUP_ID">$!item.SUP_SHORTNAME</option>
						#end
                </select></td>
			</tr>
            <tr>
                <td>指标单价：</td>
				<td ><input type="text" class="easyui-textbox" name="TARGET_PRICE" id="TARGET_PRICE_" onKeyUp="two(this)"/></td>
				<td>区域：</td>
				<td ><input type="text" class="easyui-textbox" name="DISTRICT" id="DISTRICT_" /></td>
				<td>指标个数：</td>
				<td ><input type="text" class="easyui-textbox" name="TARGET_TOTAL" id="TARGET_TOTAL_" onKeyUp="two(this)"/></td>
			</tr>
			<tr>
                <td>起始时间：</td>
				<td ><input type="text" class="easyui-datebox" name="SATRT_DATE" id="SATRT_DATE_" /></td>
				<td>结束时间：</td>
				<td ><input type="text" class="easyui-datebox" name="END_DATE" id="END_DATE_" /></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tbody id="">
                <tr>
                    <td colspan= "6">
						<table cellpadding="0" cellspacing="0" class="table_01" id="detailTarget">
							<tr>
                                <td colspan="4">添加每期应还款金额：<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" onclick="add('detailTarget');">添加</a></td>
                            </tr>
            				<tr>
                                <td>金额：</td>
                				<td>开始时间</td>
                				<td>结束时间</td>
                				<td>操作</td>
                			</tr>
                        </table>
					</td>
				</tr>
            </tbody>
			<tr>
                <td>备注：</td>
				<td colspan="5"><textarea name="REMARK" cols="30" rows="3"></textarea></td>
			</tr>
        </table>
</form></div>
<div id="addPriceBut">
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save"  onclick="save();">保存</a>
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="closeDailog('addPriceP');">关闭</a>
</div>
				
<!--查看指标价格-->
<div id="viewPrivceP" class="easyui-dialog"  modal="true" title="查看指标价格" closed="true" buttons="#viewPriceBut" style="width:730px;min-height:200px;margin：0px;padding:0px">
	<form id="" method="post">
		<table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>指标公司：</td>
				<td colspan="5"><input type="text" class="easyui-textbox" name="SUPPLIERS_ID" id="SUPPLIERS_ID" readonly/></td>
			</tr>
            <tr>
                <td>指标单价：</td>
				<td ><input type="text" class="easyui-textbox" name="TARGET_PRICE" id="TARGET_PRICE" onKeyUp="two(this)" readonly/></td>
				<td>区域：</td>
				<td ><input type="text" class="easyui-textbox" name="DISTRICT" id="DISTRICT" readonly/></td>
				<td>指标个数：</td>
				<td ><input type="text" class="easyui-textbox" name="TARGET_TOTAL" id="TARGET_TOTAL" onKeyUp="two(this)" readonly/></td>
			</tr>
			<tr>
                <td>起始时间：</td>
				<td ><input type="text" class="" name="SATRT_DATE" id="SATRT_DATE" readonly/></td>
				<td>结束时间：</td>
				<td ><input type="text" class="" name="END_DATE" id="END_DATE" readonly/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			 <tr>
				<td colspan= "6">
					<table cellpadding="0" cellspacing="0" class="table_01" id="detailTarget_1">
						<tr>
							<td colspan="4">添加每期应还款金额</td>
						</tr>
						<tr>
							<td>金额：</td>
							<td>开始时间</td>
							<td>结束时间</td>
							##<td>操作</td>
						</tr>
						<tbody id="dataDetail_A">
                        </tbody>
					</table>
				</td>
			 </tr>
			<tr>
                <td>备注：</td>
				<td colspan="5"><textarea name="REMARK" cols="30" rows="3" id="REMARK" readonly></textarea></td>
			</tr>
        </table>
</form></div>
<div id="viewPriceBut">
	##<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save"  onclick="save();">保存</a>
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="closeDailog('viewPrivceP');">关闭</a>
</div>

<!--修改指标价格-->
<div id="upPrivceP" class="easyui-dialog"  modal="true" title="修改指标价格" closed="true" buttons="#upPriceBut" style="width:730px;min-height:200px;margin：0px;padding:0px">
	<form id="upPrivce" method="post">
		<input type="hidden" name="FR_ID" id="TR_ID" value=""/>
		<table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>指标公司：</td>
				<td colspan="5"><select class="easyui-combobox" style="width:200px;" name="SUPPLIERS_ID" id="SUPPLIERS_ID1">
						#foreach($!item in $!sup)
						<option value="$!item.SUP_ID">$!item.SUP_SHORTNAME</option>
						#end
                </select></td>
			</tr>
            <tr>
                <td>指标单价：</td>
				<td ><input type="text" class="easyui-textbox" name="TARGET_PRICE" id="TARGET_PRICE1" onKeyUp="two(this)" /></td>
				<td>区域：</td>
				<td ><input type="text" class="easyui-textbox" name="DISTRICT" id="DISTRICT1" /></td>
				<td>指标个数：</td>
				<td ><input type="text" class="easyui-textbox" name="TARGET_TOTAL" id="TARGET_TOTAL1" onKeyUp="two(this)" /></td>
			</tr>
			<tr>
                <td>起始时间：</td>
				<td ><input type="text" class="easyui-datebox" name="SATRT_DATE" id="SATRT_DATE1" /></td>
				<td>结束时间：</td>
				<td ><input type="text" class="easyui-datebox" name="END_DATE" id="END_DATE1" /></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			 <tr>
				<td colspan= "6">
					<table cellpadding="0" cellspacing="0" class="table_01" id="detailTarget_2">
						<tr>
							<td colspan="4">添加每期应还款金额 &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" onclick="add1('dataDetail_B');">添加</a></td>
						</tr>
						<tr>
							<td>金额：</td>
							<td>开始时间</td>
							<td>结束时间</td>
							<td>操作</td>
						</tr>
						<tbody id="dataDetail_B">
                        </tbody>
					</table>
				</td>
			 </tr>
			<tr>
                <td>备注：</td>
				<td colspan="5"><textarea name="REMARK" cols="30" rows="3" id="REMARK1" ></textarea></td>
			</tr>
        </table>
</form></div>
<div id="upPriceBut">
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save"  onclick="save1();">保存</a>
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="closeDailog('upPrivceP');">关闭</a>
</div>
		