<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>资金管理-应实收统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/shouldPaid/js/shouldPaidMg.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="height:auto;padding:20px" border="true">
			
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
                    <td align="right">客户名称：</td><td><input name="CUST_NAME" id="CUST_NAME" type="text" style="width:150px" value="$!param.CUST_NAME" class="paramData"></td>
                    <td align="right">合同编号：</td><td><input name="LEASE_CODE" id="LEASE_CODE" type="text" style="width:150px" value="$!param.LEASE_CODE" class="paramData"></td>
					<td align="right">支付表号：</td><td><input name="PAYLIST_CODE" id="PAYLIST_CODE" type="text" style="width:150px" value="$!param.PAYLIST_CODE" class="paramData"></td>
					<td align="center">
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='seach();'>查询</a>
						<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
                    </td>
				</tr>
                
          </table>
		  <div style="height:5px;"> </div>
		<hr />
		<div style="height:5px;"> </div>
        	<table cellspacing="3" cellpadding="0" border="0" id="baseData">
        		<tr>
            		<td align="right" width="250px">应收总额合计 ：$param.ZJ_TOTAL_MONEY_HJ</td>
					<td align="right" width="250px">应收未收合计 ：$param.WH_ZJ_MONEY_HJ</td>
					<td align="right" width="250px">实收合计：$param.YH_ZJ_MONEY_HJ</td>
					
				</tr>
			</table>
		</div>
        <table  id="paid_PageTable" fit="true" pagination="true" >
            
		 </table>
	</div>	

	<div id="divFrom"></div>
	
	<script>
		function seach(){
			var CUST_NAME=$("input[name='CUST_NAME']").val();
			var LEASE_CODE=$("input[name='LEASE_CODE']").val();
			var PAYLIST_CODE=$("input[name='PAYLIST_CODE']").val();
			$('#paid_PageTable').datagrid('load', {"CUST_NAME":CUST_NAME,"LEASE_CODE":LEASE_CODE,"PAYLIST_CODE":PAYLIST_CODE});
		}
    </script>
</body>
</html>