<!DOCTYPE HTML >
<HTML>
    <HEAD>
		#parse("content/importBase.vm")
        <META content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<script type="text/javascript"  src="$_basePath/fundEbank/js/common.js"></script>
		<script type="text/javascript"  src="$_basePath/fundEbank/js/fundEbankConfirm.js"></script>
		<script >
			var url ='FundEbank!refreshSearch.action';
		</script>
		
    </HEAD>
	<body>
        <table id="table1" fit="true"></table>
		
	    <div id="toolbar" style="padding:10px;height:auto">
			<form id="form01" method="post">
    			<table>
                    <tr>
                        <td align="right">供应商：</td>
                        <td><input name="dld" type="text" style="width:150px;"/></td>
    					<td align="right">客户名称：</td>
                        <td><input name="cust_name" type="text" style="width:150px;"></td>
    					<td align="right">立项日期：</td>
                        <td><input name="create_date_start" type="text" class="easyui-datebox" >
    							-至-</td>
    					<td><input name="create_date_end" type="text" class="easyui-datebox" ></td>
    				
    					<td align="right">银行：</td>
                        <td>
                        	<input name="bank_name" type="text" style="width:150px;">
    					</td>
    				</tr>
					<tr>
						<td align="right"> 项目编号：</td>
                        <td  align="left">
    						<input name="pro_code" type="text" style="width:150px;">
    					</td>
    					<td align="right">状态：</td>
                        <td>
    						<select  name="FIRST_APP_STATE" id="FIRST_APP_STATE" class="easyui-combobox" panelHeight="auto" size="15"  style="width:150px">
    							<option selected value="0,1,2,3,6">--请选择--</option>
								<option value="0">未申请</option>
                                <option value="1">未核销</option>
                                <option value="2">已核销</option>
                                <option value="3">部分核销</option>
                                <option value="6">核销失败</option>
                            </select>
    					</td>
    					<td align="right">到账日期：</td>
                        <td><input name="sqfkss_date_start" type="text" class="easyui-datebox" >
    							-至-</td>
    					<td><input name="sqfkss_date_end" type="text" class="easyui-datebox" ></td>
                        <td colspan=2> 
							<a href="#" id="search" class="easyui-linkbutton"  iconCls="icon-search" onclick="se();">查询</a>
							<a href="#" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearQuery();">清空</a>
						</td>
    				</tr>
    			</table>
           </form>
		</div>
		
		
    </body>
</HTML>
