<!DOCTYPE HTML >
<HTML>
    <HEAD>
		#parse("content/importBase.vm")
        <META content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<script type="text/javascript"  src="$_basePath/fundEbank/js/common.js"></script>
		<script type="text/javascript"  src="$_basePath/fundEbank/js/fundEbankConfirm.js"></script>
		<script >
			var url ='FundEbank!refreshAccountsConfirm.action';
		</script>
    </HEAD>
	<body>
        <table id="table1" fit="true"></table>
		
	    <div id="toolbar" style="padding:10px;height:auto">
			<form id="form01" method="post">
    			<table>
                    <tr>
                        <td align="right">供应商：</td>
                        <td><input name="dld" type="text" style="width:150px;"/></td>
    					<td align="right">客户名称：</td>
                        <td><input name="cust_name" type="text" style="width:150px;"></td>
    					<td align="right">立项日期：</td>
                        <td><input name="create_date_start" type="text" class="easyui-datebox" >
    							-至-</td>
    					<td><input name="create_date_end" type="text" class="easyui-datebox" ></td>
    				
    					<td align="right">银行：</td>
                        <td>
                        	<input name="bank_name" type="text" style="width:150px;">
    					</td>
    				</tr>
    				<tr>
    					<td align="right"> 项目编号：</td>
                        <td  align="left">
    						<input name="pro_code" type="text" style="width:150px;">
    					</td>
                        <td colspan=2> 
							<a href="#" id="search" class="easyui-linkbutton"  iconCls="icon-search" onclick="se();">查询</a>
							<a href="#" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearQuery();">清空</a>
						</td>
    				</tr>
    			</table>
    			<div style="height:10px;"> </div>
				<hr />
				<div style="height:10px;"> </div>
                <div style="margin-bottom:5px" nowrap>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="uploadExcel()">上传回执</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="rollback()">驳回</a>
    				##<input name="data_ck_all" style="border:none;" type="checkbox" />&nbsp;全部选中
					<!--
    					<input name="ck_all" style="border:none;" type="checkbox" />&nbsp;页面全选
					-->
        		</div>
           </form>
		</div>
		
		<div id="uploadDialog" >
			<form id="fileUploadForm" method="post" enctype="multipart/form-data"> 
				<table cellpadding="0" cellspacing="0" class="table_01">
		            <tr>
		                <td>
		                    到账日期：
		                </td>
		                <td>
		                    <input name="fromDate" id="fromDate"  type="text" class="easyui-datebox"  >
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    核销银行：
		                </td>
		                <td>
		                    <select id="bankFlag" name="bankFlag"  class="easyui-combobox" panelHeight="auto" size="15" style="width:150px">
                                                 <option value="">民生银行</option>
                                                 <option value="1">建设银行</option>
                            </select>
		                </td>
		            </tr>
		            <tr>
		                <td>
		                    回执文件：
		                </td>
		                <td>
		                    <input  name="file" type="file" id="uploadFile" />
		                </td>
		            </tr>
		        </table>	
			</form>
		</div>
    </body>
</HTML>
