#parse("content/importBase.vm")
<script type="text/javascript">
	$(document).ready(function(){
		var OWNFUNDS=$("#OWNFUNDS").val();
		var PROPORTION=$("#PROPORTION").val();
		var SQK=$("#SQK").val();
		var YF=$("#YF").val();
		var ZUJIN=$("#ZUJIN").val();
		var OVERALLPLAN=(parseFloat(SQK)+parseFloat(ZUJIN))*parseFloat(PROPORTION)/100+parseFloat(OWNFUNDS)-parseFloat(YF);
		$("#OVERALLPLAN").text(Math.round(OVERALLPLAN*100)/100);
	});
	
	function conditionsSelect()
	{
		var CREATE_TIME1=jQuery("input[name=CREATE_TIME1]").val();
		var CREATE_TIME2=jQuery("input[name=CREATE_TIME2]").val();
		jQuery.ajax( {
				url : "Fundplan!getFund.action",
				data : "CREATE_TIME1="+CREATE_TIME1+"&CREATE_TIME2="+CREATE_TIME2,
				dataType : "html",
				success : function(html) {
					$("#fundplan").empty();
					$("#fundplan").append(html);
				}
			});
	}
	function clearInput() {
		$("#projectTab input").val("");
		$("#fundplan input").val("");
	}
	function Verification(e){
		var OWNFUNDS=$("#OWNFUNDS").val();
		var PROPORTION=$("#PROPORTION").val();
		var SQK=$("#SQK").val();
		var YF=$("#YF").val();
		var ZUJIN=$("#ZUJIN").val();
		var OVERALLPLAN=(parseFloat(SQK)+parseFloat(ZUJIN))*parseFloat(PROPORTION)/100+parseFloat(OWNFUNDS)-parseFloat(YF);
		$("#OVERALLPLAN").text(Math.round(OVERALLPLAN*100)/100);
	}
</script>
<table class="table_01" cellpadding="0" cellspacing="0" width="98%" id='projectTab'  fit="true">
	<tr align="center">
		<td align="right" width="35%">
			时间：
		</td>
		<td align="center" width="30%">
			<input class="easyui-datebox" name="CREATE_TIME1" id="CREATE_TIME1" style="width:150px"/>-<input class="easyui-datebox" name="CREATE_TIME2" id="CREATE_TIME2" style="width:150px"/>
        </td>
        <td align="left" width="35%">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="conditionsSelect()">查 询</a>
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearInput()">清 空</a>
        </td>
	 </tr>
</table>
<div id="fundplan">
</div>
		
