<chart caption='不同级别资产数量对比' yAxisName='数量' numberSuffix='个' xaxisname='$!dataTm'  showBorder='0' useRoundEdges='1'  baseFontSize="12" bgColor='FFFFFF,FFFFFF' showValues='0' >
	<categories >
		#foreach($item in $assetsTypeList)
			<category label='$item.CODE'/>
    	#end
	</categories>
        <dataSet>
    		#foreach($item1 in $assetsCountList)
				<set link="JavaScript:goLink()"  value='$item1.ASSERS_COUNT' />
    		#end
    	</dataSet>
</chart>