<chart palette='2' caption='$caption'  xaxisname='月份' Yaxisname='逾期率' showValues='1' numdivlines='3' numberSuffix='%' baseFontSize="12"   useRoundEdges='1' bgColor='FFFFFF,FFFFFF' showBorder='0' >
	<categories>
		#foreach($item in $monthList)
			<category label='$item.DATA_TIME'/>
    	#end
	</categories>
        <dataSet seriesName='山推楚天'  >
    		#foreach($item in $STGF_List)
				<set value='$item' />
    		#end
    	</dataSet>
        <dataSet seriesName='山推推道装'  >
    		#foreach($item in $STCT_List)
				<set value='$item' />
    		#end
    	</dataSet>
        <dataSet seriesName='山重建机'   >
    		#foreach($item in $STHJ_List)
				<set value='$item' />
    		#end
    	</dataSet>					

        <dataSet seriesName='建机板块'   >
    		#foreach($item in $STJX_List)
				<set value='$item' />
    		#end
    	</dataSet>
        <dataSet seriesName='山推机械'   >
    		#foreach($item in $SZJJ_List)
				<set value='$item' />
    		#end
    	</dataSet>
</chart>