<chart palette='2' yAxisName='行业类别收益率' numberSuffix='万' bgColor='FFFFFF,FFFFFF' showBorder='0' caption='行业、业务月同期租金收益分析' baseFontSize='12' useRoundEdges='1'>
	<categories font='Arial' fontSize='12'>
		<category label='行业:工程机械' toolText='工程机械'/>
		<category label='行业:工业企业' />
		<category label='行业:印刷'/>
		<category label='行业:机床' />
		<category label='行业:医疗设备' />   
		<category label='业务:直接租赁' />
		<category label='业务:售后回租'/>
		<category label='业务:大项目' />
		<category label='业务:其他' />

	</categories>
	
	<dataset seriesname='${lastDataTmMonth} 年租金收益' alpha='90' showValues='1' dashed='1'>
	<set link="JavaScript:goLink()"  value='9'  /> 
	<set link="JavaScript:goLink()"  value='17' /> 
	<set link="JavaScript:goLink()"  value='31' /> 
	<set link="JavaScript:goLink()"  value='20' /> 
	<set link="JavaScript:goLink()"  value='23' />
	<set link="JavaScript:goLink()"  value='31' /> 
	<set link="JavaScript:goLink()"  value='20' /> 
	<set link="JavaScript:goLink()"  value='17' /> 
	<set link="JavaScript:goLink()"  value='23' />
	</dataset>
	
	<dataset seriesname='${dataTmMonth} 年租金收益'  alpha='90' showValues='1' dashed='1'>
	<set link="JavaScript:goLink()"  value='12'  /> 
	<set link="JavaScript:goLink()"  value='18' /> 
	<set link="JavaScript:goLink()"  value='28' /> 
	<set link="JavaScript:goLink()"  value='23' /> 
	<set link="JavaScript:goLink()"  value='18' /> 
	<set link="JavaScript:goLink()"  value='28' /> 
	<set link="JavaScript:goLink()"  value='23' /> 
	<set link="JavaScript:goLink()"  value='29' />
	<set link="JavaScript:goLink()"  value='29' />
	
	</dataset>


	<trendLines>
		<line startValue='20' endValue='35' color='8BBA00' thickness='1' alpha='20' showOnTop='0' displayValue='区域' isTrendZone='1'/>		
	</trendLines>


</chart>