<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
		<script>
		function exportExcel(){
		   jQuery.messager.confirm("导出" ,"确定要导出查询记录吗?",function(r){
		      if(r){
			    window.location.href=_basePath+"/test/user/user!exportExcel.action";
			  }
		   });
		}
		//获取文件扩展名
			function get_ext(f_path){
				var ext = '';
				if(f_path != null && f_path != ''){
				   ext = f_path.substring(f_path.lastIndexOf(".") + 1, f_path.length);
				}
				return ext;
			}
			
			//验证文件扩展名
			function chk_ext(f_path){
				var ext = get_ext(f_path);
				
				//根据需求定制
				var accept_ext = new Array("xls","xlsx");
				var flag = false;
				if(ext != ''){
				   for(var i=0; i<accept_ext.length; i++){
				    if(ext == accept_ext[i])
				     flag = true;
				   }
				}
				return flag;
			}
			
			function readExcel(){
				var fileName = $('#uploadify').val();
				if(fileName==''){
					return alert('请选择Excel文件！');
				}
				if(chk_ext(get_ext(fileName))==false){
					return alert('请选择Excel文件！');
				}
				
				$('#readFile').submit();
			}
			function exportExcelNew(flag){
			 alert('aaaa');
			     var url="user!doExportApplyExcelNew.action";
				 var datagridList=table1.datagrid('getChecked');
	             var sqlData = [];		
	             for(var i = 0; i < datagridList.length; i++)
	             {
		            sqlData.push("'"+datagridList[i].ID+"'");
	             }
				 var searchParams = getFromData('#pageForm');
				
		           if(datagridList.length == 0){
			         alert("请选择要导出的数据");
			         return;
		           }
	             
				$('#form01').form({
				    url:url,
					onSubmit:function(){
					    if($('#sqlData').length<=0){
				            $('#form01').append('<input name=\"sqlData\"  id=\"sqlData\" type=\"hidden\" />');
			            }
			            $('#sqlData').val(sqlData.join(','));
					},
					 success : function(){
        	             ses();
                     }
				}); 
				$('#sqlData').remove(); 
			
			}
			
			//查询
           function ses(){
	                 var searchParams = getFromData('#pageForm');
	                 table1.datagrid('load',{"searchParams":searchParams});
           }
        </script>
    </head>
	<body >
    
		<table id="table1" fit="true"></table>
		<div id="pageForm" style="height:auto;padding:20px;" border="true">
		
			<div id="toolbar">
				<input type="hidden" name="delPermission" id="delPermission" value="$!delPermission"/>
    		</div>
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
               <td><form id="form01" method="post">
				          用户名称：
					<input class="input_03" type="text" size ="20" id="USERNAME" value="$!PContext.USERNAME" />
					用户职业：
					<input type="text" size ="20" id="JOB" value="$!PContext.JOB" />
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="se()">查询</a>
					&nbsp;&nbsp;
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" onclick="toEdit()">添加</a>
				    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-down" onclick='exportExcel();'>&nbsp;&nbsp;导&nbsp;出</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" onclick="exportExcelNew()">导出选中项</a>
               </form>
					<form id="readFile" name="file" action="$_basePath/test/user/user!readExcel.action" method="post" enctype="multipart/form-data">
					 	<br>
						<input type="file" name="uploadify" id="uploadify"/>
					 	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-down" onclick='readExcel();'>导入</a>
					 </form>
             </td>
           </tr>
      </table>        
</div>
	<!-- 	<table id="pageTable" cellpadding="0" cellspacing="0" class="table_02">
			<thead>
				<tr>
                    <td class="text_left" style="width:5%">列号 </td>
					<td class="text_left" style="width:20%">用户名称 </td>
					<td class="text_left" style="width:30%">用户密码</td>
					<td class="text_left" style="width:15%">职业</td>
					<td class="text_left" style="width:15%">年龄 </td>
			        <td class="text_left" style="width:15%">备注 </td>
                </tr>
            </thead>
			<tbody>
				#foreach($!item in $!list)
					<tr>
                          <td>$velocityCount</td>
				          <td>$!item.USERNAME</td>
				          <td>$!item.PASSWORD</td>
				          <td>$!item.JOB</td>
				          <td>$!item.AGE</td>
				          <td>$!item.RECORD</td>
                    </tr>
				#end
            </tbody>
        </table>-->

	<table  id="pageTable" class="easyui-datagrid" pagination="true" data-options="checkbox:true,rownumbers:true,checkOnSelect:true,url:'$_basePath/test/user/user!doShowUserConfgForPage.action',fit:true,fitColumns:true,toolbar:'#pageForm'">
		<tr>
			<thead>
			    <th data-options="field:'ID',checkbox:true,align:'center'"></th>
                <th data-options="field:'USERNAME',width:100,align:'center'">用户名称</th>
                <th data-options="field:'PASSWORD',width:100,align:'center'">用户密码</th>
                <th data-options="field:'JOB',width:100,align:'center'">职业</th>
                <th data-options="field:'AGE',width:100,align:'center'">年龄</th>
				<th data-options="field:'RECORD',width:100,align:'center'">备注</th>
                <th data-options="field:'COMPURE',width:60,align:'center',formatter:compure">操作</th>
            </thead>
        </tr>
	</table>
		<!-- add dialog  -->
		<div id="addDialog" class="easyui-dialog" title="添加用户信息" data-options="closed:true,height:400,width:550,resizable:true">
           <form id="addConfigForm">
			<table style="text-align:center;margin:10px;">
                <tr>
				    <td align="right">用户名称：</td>
					<td style="text-align:left;"><input type="text" style="width:200px" id="username" name="username"/></td>
				</tr>
				 <tr>
				    <td align="right">用户密码：</td>
					<td style="text-align:left;"><input type="text" style="width:200px" id="password" name="password"/></td>
				</tr>
				 <tr>
				    <td align="right">职业：</td>
					<td style="text-align:left;"><input type="text" style="width:200px" id="job" name="job"/></td>
				</tr>
				 <tr>
				    <td align="right">年龄：</td>
					<td style="text-align:left;"><input type="text" style="width:200px" id="age" name="age"/></td>
				</tr>
				 <tr>
				    <td align="right">备注：</td>
					<td style="text-align:left;"><input type="text" style="width:200px" id="record" name="record"/></td>
				</tr>
				<tr>
                <td colspan="2" style="text-align:center">
					<br>
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="save()">保存</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeAddTaskDic()">关闭</a>
				</td>
            </tr>
            </table>
            </form>
        </div>
		<!--add dialog  -->
		<!-- update dialog  -->
		<div id="updateDialog" class="easyui-dialog" title="修改用户信息" data-options="closed:true,height:400,width:550,resizable:true">
           <form id="updateForm"><input type="hidden" name="ID" id="ID"/>
			<table class="table_01" style="text-align:center;margin:10px;">
                <tr>
				    <td align="right">用户名称：</td>
					<td style="text-align:left;"><input type="text" class="easyui-validatebox" data-options="required:true" style="width:200px" id="USERNAME" name="USERNAME"/></td>
				</tr>
				 <tr>
				    <td align="right">用户密码：</td>
					<td style="text-align:left;"><input type="text" class="easyui-validatebox" data-options="required:true" style="width:200px" id="PASSWORD" name="PASSWORD"/></td>
				</tr>
				 <tr>
				    <td align="right">职业：</td>
					<td style="text-align:left;"><input type="text" class="easyui-validatebox" data-options="required:true" style="width:200px" id="JOB" name="JOB"/></td>
				</tr>
				 <tr>
				    <td align="right">年龄：</td>
					<td style="text-align:left;"><input type="text" class="easyui-validatebox" data-options="required:true" style="width:200px" id="AGE" name="AGE"/></td>
				</tr>
				 <tr>
				    <td align="right">备注：</td>
					<td style="text-align:left;"><input type="text" class="easyui-validatebox" data-options="required:true" style="width:200px" id="RECORD" name="RECORD"/></td>
				</tr>
				<tr>
                <td colspan="2" style="text-align:center">
					<br>
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="updateConfig()">保存</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeupdateConfig()">关闭</a>
				</td>
            </tr>
            </table>
            </form>
        </div>
		<!--update dialog  -->
		<script>
		 $(function(){
	         $("#addDialog").dialog("close");
	         $("#updateDialog").dialog("close");
         });
		function closeAddTaskDic(){
 		      $('#addDialog').dialog('close');
 	        }
		function closeupdateConfig(){
 		      $('#updateDialog').dialog('close');
 	         }
	    function se(){
			var USERNAME = $("#USERNAME").val();
			var JOB = $("#JOB").val();
			if(!$("#USERNAME").val()){
			  $('#pageTable').datagrid('load', {"JOB":JOB});
			}else if(!$("#JOB").val()){
			  $('#pageTable').datagrid('load', {"USERNAME":USERNAME});
			}else if($("#USERNAME").val()||$("#JOB").val()){
			  $('#pageTable').datagrid('load', {"USERNAME":USERNAME,"JOB":JOB});
			}						
		}		 
	    function compure(value, rowData, rowIndex) {
	         return "<a href='javaScript:void(0)' onClick=openEditConfig("+JSON.stringify(rowData)+")>修改</a>| <a href='javascript:void(0)' onclick=delConfig('"+rowData.ID+"')>删除</a>";
        }
        function openEditConfig(row){
	        $("#updateDialog").dialog("open");
	        $("#updateForm").form('load',row);
        }   
	 
			 function save(){
			   if(!$("#addConfigForm").form('validate')){
			       return false;
			   }
			    if(!$('#username').val()){
				  return alert('用户名称不能为空');				
				}
			    if(!$('#password').val()){
				  return alert('用户密码不能为空');				
				}
			    if(!$('#job').val()){
				  return alert('职业不能为空');				
				}
			    if(!$('#age').val()){
				  return alert('年龄不能为空');				
				}
			    if(!$('#record').val()){
				  return alert('备注不能为空');				
				}
				var cron_params = $('input,textarea' ,'#addDialog').serialize();
				jQuery.ajax({
				   url : "$_basePath/test/user/user!addUser.action",
			       data: cron_params,
			       type : "post",
			       dataType : "json",
			       success : function(json){
				       if(json.flag){
					      	$('#addDialog').dialog('close');
				            $("#pageTable").datagrid('load');
				       }else{
					      
				       }
			       }
				
				
				});
				
			 
			 }
			 /**
 	          * 打开一个对话框
 	          *有参就是更新
 	          */
		function toEdit(jobInfo){
			      $('input[type=text] ','#addDialog').val('');
		          $('textarea','#addDialog').val('');
		
 		       if(jobInfo){
 			      $('#new_user').hide();
 			      $('#old_user').show();
			
 			      console.debug(jobInfo);
 			      $('input[name=username]','#addDialog').val( jobInfo.username );
 			      $('input[name=password]','#addDialog').val( jobInfo.password );
 			      $('input[name=job]','#addDialog').val(jobInfo.job);
			      $('input[name=age]','#addDialog').val(jobInfo.age);
 			      $('textarea[name=record]','#addDialog').val(jobInfo.record);
 			      $('[value="advanced"]').trigger('click');
 		      }else{
 			      $('#new_user').hide();
 			      $('#old_user').show();
 			      $('[value="simple"]').trigger('click');
 		      }
 		      $('#addDialog').dialog('open');
			   
		}
        function updateConfig(){
          if(!$("#updateForm").form('validate')){
		       return false;
	      }
		  var USERNAME=$("#updateForm").find("[name=USERNAME]").val();
		  var PASSWORD=$("#updateForm").find("[name=PASSWORD]").val();
		  var JOB=$("#updateForm").find("[name=JOB]").val();
		  var AGE=$("#updateForm").find("[name=AGE]").val();
		  var RECORD=$("#updateForm").find("[name=RECORD]").val();
		  var ID=$("#updateForm").find("[name=ID]").val();
          jQuery.ajax({
		      type:"post",
		      url:_basePath+"/test/user/user!doUpdateUSERConfig.action",
		      data:"USERNAME="+USERNAME+"&PASSWORD="+PASSWORD+"&JOB="+JOB+"&AGE="+AGE+"&RECORD="+RECORD+"&ID="+ID,
		      dataType:"json",
		      success:function(json){
			      if(json.flag){
				      $("#updateDialog").dialog("close");
				      $("#pageTable").datagrid('load');
			      }else{
				      alert("错误");
			      }
		      }
		  });
        }	
		
		function delConfig(ID){
	     $.messager.confirm("提示","您确定要删除该条数据吗？",function(flag){
		if(flag){
			$.ajax({
				type:"post",
				url:_basePath+"/test/user/user!doDelUserConfig.action",
				data:"ID="+ID,
				dataType:"json",
				success:function(json){
				if(json.flag){
					$("#pageTable").datagrid('load');
				}else{
					$.messager.alert("错误",json.msg);
				}
			}
			});
		}
	});
}
        </script>
    </body>
</html>