<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>经销商入网保证金明细</title>
		#parse("content/importBase.vm")
		<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
        <script type="text/javascript" language="JavaScript" src="$_basePath/showMargin/js/margin.js"></script>
	</head>
	<body>
		<div class="BOX" style="margin-left:1%;margin-right:1%;width:98%;margin-top:10px;">
			<form action="BuyCertificate!certificateEntry.action" name="certificate" id="certificate" method="post">
				<table id="tableMain" class="table_01 openInfo" cellspacing="0" cellpadding="0" >
					<thead>
    					<tr bgcolor="#fbfcfc">
							<td style="text-align:center" bgcolor="#fbfcfc">项目编号</td>
							<td style="text-align:center" bgcolor="#fbfcfc">支付表编号</td>
                    		<td style="text-align:center" bgcolor="#fbfcfc">应缴保证金</td>
                    		<td style="text-align:center" bgcolor="#fbfcfc">实缴保证金</td>
                            <td style="text-align:center" bgcolor="#fbfcfc">保证金类型</td>
                    		<td style="text-align:center" bgcolor="#fbfcfc">时间</td>
							<td style="text-align:center" bgcolor="#fbfcfc">收款人</td>
							<td style="text-align:center" bgcolor="#fbfcfc">开户行</td>
							<td style="text-align:center" bgcolor="#fbfcfc">收款账户</td>
    					</tr>
					</thead>
    				<tbody>
            			#foreach($item in $marginDetailList)
                			<tr>
            					<td style="text-align:center" height="26px" >$!item.PROJECT_NO</td>
            					<td style="text-align:center" height="26px" >$!item.PAYMENT_NO</td>
                                <td style="text-align:center" height="26px" >$!item.RECEMARGIN</td>
                                <td style="text-align:center" height="26px" >$!item.PROMARGIN</td>
            					<td style="text-align:center" height="26px" >
            						#if($!item.TYPE == "1")
            							入网保证金
            						#elseif($!item.TYPE == "2")
            							逾期保证金
            						#elseif($!item.TYPE == "3")
            							入网保证金退款
            						#elseif($!item.TYPE == "4")
            							逾期保证金退款
            						#end
            					</td>
            					<td style="text-align:center" height="26px" >$!item.TIME</td>
            					<td style="text-align:center" height="26px" >$!item.OPERA_DATE</td>
            					<td style="text-align:center" height="26px" >$!item.OPERA_DATE</td>
            					<td style="text-align:center" height="26px" >$!item.OPERA_DATE</td>
            				</tr>	
        				#end 
                    </tbody>
				</table>
        		<center>
        			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-back" onclick="javascript:history.go(-1)">返回</a>
        		</center>
			</form>
		</div>
	</body>
</html>	