<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>评级标准管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")
		<script type="text/javascript" src="../resources/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="../resources/jquery/jquery-ui-1.8.1.min.js"></script>
		<script type="text/javascript"  src="$_basePath/SecuEvaluate/js/GradeStandard.js"></script>
</head>
<body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
		<div id="pageForm" style="padding:20px;height:auto;" border="true">
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                   <td>
                    	评级标准名称：<input class="input_03" type="text"  name="record_name" value="$!PContext.record_name" />
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查询</a>
						 <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="addType()">添加</a>
                   </td>
               </tr>
          </table>
		</div>
		
        <table fitColumns="true"  id="pageTable" fit="true" class="easyui-datagrid" pagination="true" data-options="rownumbers:true,singleSelect:true,url:'$_basePath/secuEvaluate/GradeStandard!pageAjax.action',toolbar:'#pageForm'">
             <tr>
				<thead>
					<th data-options="field:'STATUS',width:20,formatter:setHouserDel" align="center">操作</th>
    				<th data-options="field:'TYPE',width:20"  align="center">评级标准名称</th>
					<th data-options="field:'DESCRIBE',width:20,formatter:setType" align="center">评级标准类型</th>
					<th data-options="field:'MAIN_TYPE',width:20,formatter:setMainType" align="center">主体类型</th>
    				<th data-options="field:'NUM',width:10" align="center">选项总数</th>
				
                </thead>
            </tr>
		 </table>
	</div>	

	<script>
		function se(){
			var record_name=$("input[name='record_name']").val();
			$('#pageTable').datagrid('load', { "record_name":record_name});
		}
		
		function setHouserDel(val,row){
			if(val == "0"){
				return "<a href='#' class='easyui-linkbutton' iconCls='icon-edit' plain='true' onclick='editType(" + JSON.stringify(row) + ")'>修改</a>  |  <a href='#' class='easyui-linkbutton' iconCls='icon-remove' plain='true' onclick='destroyType(" + JSON.stringify(row) + ")'>停用</a>";
			}else if(val == "1"){
				return "<a href='#' class='easyui-linkbutton' iconCls='icon-edit' plain='true' onclick='editType(" + JSON.stringify(row) + ")'>修改</a>  |  <a href='#' class='easyui-linkbutton' iconCls='icon-remove' plain='true' onclick='destroyType(" + JSON.stringify(row) + ")'>启用</a>";
			}
		}
		
		function setType(val,row){
			if(val == "0"){
				return "选项";
			}else if(val == "1"){
				return "区间";
			}else if(val == "2"){
				return "等级";
			}
		}
		function setMainType(val,row){
			if(val == "0"){
				return "个人";
			}else if(val == "1"){
				return "法人";
			}
		}
		
		top.updateGradeStandard = function(){
			se();
		}
    </script>
</body>
</html>