<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>等级模版管理</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		#parse("content/importBase.vm")

		<link rel="stylesheet" type="text/css" href="$_basePath/SecuEvaluate/css/secueva.css"/>
		<script type="text/javascript" language="JavaScript">			
			function toAddUI(){
				top.addTab("添加等级模版",_basePath+"/secuEvaluate/GradeMolud!addUI.action");		
			}
			function seach(){
				var param = getFromData('#pageForm');
				$('#pageTable').datagrid('load',{"param":param});
			}
			//清空
			function clearQuery(){
				$('#pageForm').form('clear');
			}
			function setOperate(val,row){
				var str = "<a href='javascript:void(0);' onclick='doQuery("+val+")'>查看</a>";
				str += " | <a href='GradeMolud!deleted.action?ID="+val+"'>删除</a>";
				str += " | <a href='javascript:void(0);' onclick='doUpdat("+val+")'>修改</a>";
				str += " | <a href='GradeMolud!doCopy.action?ID="+val+"'>复制</a>";
				return str;
			}
			function doQuery(val){
				top.addTab("查看等级模版",_basePath+"/secuEvaluate/GradeMolud!query.action?id="+val);
			}
			function doUpdat(val){
				top.addTab("修改等级模版",_basePath+"/secuEvaluate/GradeMolud!updateUI.action?id="+val);
			}
			
			top.updateWhole = function(){
				seach();
			}
		</script>
    </head>
	
<body class="easyui-layout" style="background-image:none;">
	<div region="center" border="false">
    <div id="pageForm" style="height:auto;padding:10px" border="true">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>
                    等级模版名称：
                    <input class="input_01" id="TITLE_NAME" name="TITLE_NAME" value="" style="width: 100px" />
              　　主体：<select id="mains" name="mains" onchange="editRenterType(this.value)">
				    					<option value="" >--请选择--</option>
										#foreach($item in $!mainsList) 
											<option value="$item.CODE">$!item.FLAG</option>	
										#end		
										</select>
    	　　主体类型：<select id="renter_type" name="renter_type">
				    					<option value="" >--请选择--</option>
										#foreach($item in $!custTypes) 
											<option value="$item.CODE">$!item.FLAG</option>	
										#end		
										</select>
		　　#*行业类型：<select name="CR_TRADE_TYPE" id="CR_TRADE_TYPE" >
										<option value="" >--请选择--</option>
										#foreach($item in $!type) 
											<option value="$item.CODE">$!item.FLAG</option>	
										#end		
										</select>*#
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="seach()">查询</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearQuery();">清空</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="toAddUI()">添加</a>
                </td>
            </tr>
        </table>
    </div>
		
        <table id="pageTable" fit="true" class="easyui-datagrid" pagination="true" fitColumns="true" data-options="pageList:[20,50,100,200],rownumbers:true,singleSelect:true,url:'$_basePath/secuEvaluate/GradeMolud!toMgGradeMoludData.action',toolbar:'#pageForm'">
			<thead>
    			<tr>
        			 <th data-options="field:'ID',width:100,align:'center',formatter:setOperate">操作</th>
					 <th data-options="field:'TITLE',width:100,align:'center'">等级模版名称</th>
					 <th data-options="field:'MAINS',width:80,align:'center'">主体</th>
					 <th data-options="field:'CUST_TYPES',width:80,align:'center'">主体类型</th>
					 #*<th data-options="field:'INDUSTRY_TYPE',width:100,align:'center'">行业类型</th>*#
        		</tr>
			</thead>
		 </table>
	</div>
</body>	
</html>
