#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/documentApp/js/toAppTransfer.js"></script>
<form id="transferform">
 <table  cellpadding="0" cellspacing="0" class="table_01">
    <tr>
    	<td colspan="6"><font style="font-weight:bold">移交</font></td>
    </tr>
 	<tr>
 		<td>提交时间:</td>
 		<td><input type="text" class="easyui-datebox" name="HANDIN_DATE" id="HANDIN_DATE" value="$!HANDIN_DATE"/><font color="red">*</font></td>
 		<td>呈报人:</td>
 		<td><input type="text" class="easyui-textbox" name="HANDIN_PERSON" id="HANDIN_PERSON" value="$!REPORTER"/><font color="red">*</font></td>
 		<td>呈报人电话:</td>
 		<td><input type="text" class="easyui-textbox" name="HANDIN_PHONE" id="HANDIN_PHONE" /><font color="red">*</font></td>
 	</tr>
 	<tr>
    	<td colspan="6"><font style="font-weight:bold">接受人信息</font></td>
    </tr>
    <tr>
 		<td>接受档案人名称:</td>
 		<td><input type="text" class="easyui-textbox" name="RECEIVE_PER" id="RECEIVE_PER" /><font color="red">*</font></td>
 		<td>接受档案人身份证:</td>
 		<td><input type="text" class="easyui-textbox" name="RECEIVE_IDCARD" id="RECEIVE_IDCARD" /><font color="red">*</font></td>
 		<td>联系电话:</td>
 		<td><input type="text" class="easyui-textbox" name="RECEIVE_PHONE" id="RECEIVE_PHONE"/><font color="red">*</font></td>
 	</tr>
 	<tr>
 		<td>移交方式:<font color="red">*</font></td>
 		<td><input type="radio" class="easyui-textbox" name="TRANSFER_TYPE" id="" value="1" onclick="toChangeType(0);" checked/>直取<input type="radio" name="TRANSFER_TYPE" id="" value="2" onclick="toChangeType(1);"/>邮寄</td>
 		<td>邮寄地址:</td>
 		<td><input type="text" class="easyui-textbox sendByPost" name="MAILING_ADDRESS" id="MAILING_ADDRESS" disabled/><font color="red">*</font></td>
 		<td>邮编:</td>
 		<td><input type="text" class="easyui-textbox sendByPost" name="ZIP_CODE" id="ZIP_CODE" disabled/><font color="red">*</font></td>
 	</tr>
 	<tr>
 		<td colspan="6">
 			<textarea rows="3" cols="180" name="REMARK" id="REMARK"></textarea>
 		</td>
 	</tr>
 	<tr>
    	<td colspan="6"><font style="font-weight:bold">资料清单</font></td>
    </tr>
    <tr>
    	<td colspan="6">
			#foreach($item in $!proList)
			<table  cellpadding="0" cellspacing="0" class="table_01">
				<thead>
					<tr>
						<td colspan="8">客户名称:$!item.CLIENT_NAME &nbsp;&nbsp;&nbsp;&nbsp; 融资租赁合同编号:$!item.LEASE_CODE</td>
					<tr>
				</thead>
				<tbody>
					 <tr>
					      <td><input type="checkbox" name="DATA_ID_ALL" id="DATA_ID_ALL"> </td>
					      <td>权证类型</td>
					      <td>权证资料</td>
					      <td>原件/复印件</td>
					      <td>原件份数</td>
					      <td>复印件份数</td>
					      <td>支付表编号</td>
					      <td>移交分数</td>
					   </tr>
					#foreach($ite in $!transferList)
					 #if($ite.LEASE_CODE==$!item.LEASE_CODE)
					   <tr class="ziliao">
					      <td><input type="checkbox" class="dataid" name="STORAGE_ID" value="$!ite.ID" lease="$!ite.LEASE_CODE"> </td>
					     
					      <td>$!ite.FILE_NAME</td>
					       <td>$!ite.FILF_FLAG</td>
					      <td><input type="radio" name="DOSSIER_TEMP$velocityCount" value="1" #if($!ite.DOSSIER_TEMP=="1") checked #end/>原件
					      <input type="radio" name="DOSSIER_TEMP$velocityCount" value="DOSSIER_TEMP" #if($!ite.DOSSIER_TEMP=="2") checked #end/>复印件</td>
					      <td>#if($!ite.DOSSIER_TEMP=="1")$!ite.DOSSIER_COUNT #end</td>
					      <td>#if($!ite.DOSSIER_TEMP=="2")$!ite.DOSSIER_COUNT #end</td>
					      <td>$!ite.PAY_CODE</td>
					      <td><input type="text" name="TRANSFER_NUMBER" value="1" /></td>
					   </tr>
					  #end
					#end
				</tbody>
			</table>
			#end
		</td>
    </tr>
 </table>
 <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
		    <tr>
		       <td align="center"><a href="javascript:void('0');" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="save1" onclick="save1();">保存</a></td>
			</tr>
		</table>
</form>