<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
        <script type="text/javascript">
        $(function(){
            	
				
				$("#customersTab").datagrid({
            		pagination:true,//是否分页 true为是
            		rownumbers:true,//左侧自动显示行数
            		singleSelect:true,		
            		fit:true,
            		fitColumns:true,
            		toolbar:'#pageForm',
            		queryParams:{TYPE:$("#TYPE").val(),FIELD_ZH:$("#FIELD_ZH").val(),REQUIRED:$("#REQUIRED").val()},
            		url:_basePath+"/customers/Customers!findCustFieldPage.action",
            		columns:[[
            		          	{field:'FIELD_ZH',width:80,align:'center',title:'表单名称'},
            		          	{field:'TYPE_NAME',width:150,align:'center',title:'客户类型'},
                              	{field:'REQUIRED',width:140,align:'center',title:'必填',formatter:function(value,row,rowIndex){
                             
                              		var html="<a href='javascript:void(0)' class='easyui-linkbutton' iconCls='icon-update' plain='true' onclick='updateRequired(" + JSON.stringify(row) + ")'>"+row.REQUIRED_NAME+"</a>";
                                	return  html ;
                              	}}
            		         ]]
            	});
            	
            	
            });
			
			function updateRequired(row){
				var REQUIRED = row.REQUIRED==1?2:1 ;
				
				$.messager.confirm('提示信息', '你确定要修改当前状态?', function(r){
					if (r){
						jQuery.ajax({
            			url : _basePath+"/customers/Customers!updateRequired.action?ID="+row.ID+"&REQUIRED="+REQUIRED,
						dataType :"json",
						success : function(json){
							if(json.flag){
								alert("成功");
								tofindData()  ;
							}else{
								alert(json.msg);
							}
						}
            			}) ;
					}
				});
			}
			
			function tofindData() {
            	var TYPE = $("#TYPE").val();
            	var FIELD_ZH = $("#FIELD_ZH").val();
            	var REQUIRED = $("#REQUIRED").val();
            	
            	$('#customersTab').datagrid('load', {
            		"TYPE" : TYPE,
            		"FIELD_ZH" : FIELD_ZH,
            		"REQUIRED" : REQUIRED
            	});
            }
			
			function emptyData(){
            	$("#CREATE_TIME1").datebox('clear');
            	$("#CREATE_TIME2").datebox('clear');
            	$(".paramData").each(function(){
            		$(this).val("");
            	});
            }
            
            //生成必填项信息
            function dataGenerate(){
            	jQuery.ajax({
            			url : _basePath+"/customers/Customers!dataGenerate.action?TYPE="+$("#TYPE").val(),
						dataType :"json",
						success : function(json){
							if(json.flag){
								alert("成功");
								tofindData()  ;
							}else{
								alert(json.msg);
							}
						}
            	}) ;
            }
            
            //同步必填项信息
            function dataSynchronization(){
            	jQuery.ajax({
            			url : _basePath+"/customers/Customers!dataSynchronization.action?TYPE="+$("#TYPE").val(),
						dataType :"json",
						success : function(json){
							if(json.flag){
								alert("成功");
								tofindData()  ;
							}else{
								alert(json.msg);
							}
						}
            	}) ;
            }
        </script>
    </head>
	<body >
        <div id="pageForm" border="true">
        	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="">
        		<tr>
                    <td colspan="6" height="10"></td>
        		</tr>
        		<tr >
        		
        			 <td align="right">
        				
        				<span style="font-size:12">表单名称： </span>
                    </td>
                    <td align="left">
        				<input class="input_03 paramData" type="text" size="20" name="FIELD_ZH" id="FIELD_ZH" value=""/>
        			</td>
        		
        			 <td align="right">
        				
        				<span style="font-size:12">客户类型： </span>
                    </td>
                    <td align="left">
        				<select name="TYPE" id="TYPE" >
        					<option value="NP">个人</option>
        					<option value="LP">法人</option>
        				</select>
        			</td>
        			
                   
        			<td align="right">
        				<span style="font-size:12">必填：</span>
                    </td>
                    <td align="left">
        				<select name="REQUIRED" id="REQUIRED">
        					<option value="">--请选择--<option>
        					<option value="2">是</option>
        					<option value="1">否</option>
        				</select>
        			</td>
          
        				<td  align="left">
        					##<a id="generate" href="javascript:void(0);" class="easyui-linkbutton"  onclick='dataGenerate();'>生成</a>
	        				
	        				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='tofindData();'>查询</a>
	        				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" onclick='emptyData();'>清空</a>
	        				<a id="synchronization" href="javascript:void(0);" class="easyui-linkbutton" onclick='dataSynchronization();'>同步</a>
	        			</td>	
        			</tr>
        			<tr>
                    <td colspan="6" height="10"></td>
        		</tr>
            </table>
           
        </div>
        <table id="customersTab">
        </table>
    </body>
</html>