<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>	
	#parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
	<script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>
	<script type="text/javascript">
    	function se(){
    	    var SUP_SHORTNAME = $("#SUP_SHORTNAME").val(); 
			var START_TIME = $("#START_TIME").datebox("getValue");
			var END_TIME = $("#END_TIME").datebox("getValue");
			var PRO_CODE = $("#PRO_CODE").val();
			var PLATFORM_TYPE = $("#PLATFORM_TYPE").val();
			var CLIENT_NAME = $("#CLIENT_NAME").val();
			var ON_CARD = $("#ON_CARD").val();
			var FUND_NAME = $("#FUND_NAME").val();
			var IF_EXPORT_FP = $("#IF_EXPORT_FP").val();
			var TAX_TYPE = $("#TAX_TYPE").val();
			var PAYLIST_CODE = $("#PAYLIST_CODE").val();
			var LEASE_CODE=$("#LEASE_CODE").val();
    	    $('#pageTable').datagrid('load', {"SUP_SHORTNAME":SUP_SHORTNAME,"START_TIME":START_TIME,"END_TIME":END_TIME,"PRO_CODE":PRO_CODE,"PLATFORM_TYPE":PLATFORM_TYPE,"CLIENT_NAME":CLIENT_NAME,"ON_CARD":ON_CARD,"FUND_NAME":FUND_NAME,"IF_EXPORT_FP":IF_EXPORT_FP,"TAX_TYPE":TAX_TYPE,"PAYLIST_CODE":PAYLIST_CODE,"LEASE_CODE":LEASE_CODE});
    	}
		
		function clearMess(){
		    $("#form01").form('clear');
		}
		
		function importReceipt(){
		    $("#verificInvoice").val("");
		    $("#importReceipt").dialog('open').dialog('setTitle','增值税发票核销');
		}
		
		//上传 
		function uploadSave(){
	       jQuery.ajaxFileUpload({
            	url:"$_basePath/addTax/VatFirstPay!uploadReceiptMethod.action",
            	secureuri:false,
            	fileElementId:"verificInvoice",	 
            	dataType: "json",
				success: function (data,status)  //服务器成功响应处理函数
                {    
					var d = JSON.parse(data);
				    $("#importReceipt").dialog('close');
					 if(d.flag){
					    jQuery.messager.alert("提示",d.msg);
					 }else{
        			    jQuery.messager.alert("提示",d.msg);
					 }
                },
    
            });	
		}
		
       //导出
        function exportExcel(flag){
        	//url
        	var url = "$_basePath/addTax/VatFirstPay!getVatHeXiaoExcelData.action";
        	var datagridList=$("#pageTable").datagrid('getChecked');
        	var sqlData = [];	
        	for(var i = 0; i < datagridList.length; i++)
        	{
        		sqlData.push("'"+datagridList[i].ID+"'");
        	}
        	if(flag == 'all')
        	{
				url += "?IS_TQKJ=1";
        		if($("#pageTable").datagrid('getRows').length <= 0){
        			$.messager.alert('提示','无数据请勿点击导出','info',null);
        			return;
        		}
        	}else
        	{
        		url += "?exportAll=false";
        		if(datagridList.length == 0){
        			alert("请选择要导出的数据");
        			return;
        		}
        	}
			
        	$('#form01').form('submit',{
                url:url,
                onSubmit: function(){
        			//导出标识
        			if($('#sqlData').length<=0){
        				$('#form01').append('<input name=\"sqlData\"  id=\"sqlData\" type=\"hidden\" />');
        			}
					$('#sqlData').val(sqlData.join(','));
                },
                success : function(res){
				    var result = JSON.parse(res);
                	if(result.flag ==false){
					   jQuery.messager.alert('提示',result.msg);
					}
					se();
                }
            });
        	$('#sqlData').remove();
        	
        }
 
		$(function(){
            $('#pageTable').datagrid({
                view: detailview,
                detailFormatter:function(index,row){
                    return '<div style="padding:2px"><table id="ddv-'+index+'"></table></div>';
                },
                onExpandRow: function(index,row){
                    $('#ddv-'+index).datagrid({
                        url:'$_basePath/addTax/VatFirstPay!getDropInvoiceList.action?INVOICE_ID='+row.ID,
                        singleSelect:true,
                        rownumbers:true,
                        loadMsg:'',
                        height:'auto',
                        columns:[[
                            {field:'SUP_SHORTNAME',title:'经销商',width:150,align:'center'},
							{field:'CLIENT_NAME',title:'客户名称',width:150,align:'center'},
                            {field:'LEASE_CODE',title:'融资租赁合同号',width:150,align:'center'},
							{field:'PAYLIST_CODE',title:'支付表号',width:150,align:'center'},
                            {field:'PROJECT_MODEL',title:'业务模式',width:120,align:'center'},
							{field:'ON_CARD',title:'是否上牌',width:100,align:'center'},
                            {field:'RENT_LIST',title:'期次',width:80,align:'center'},
							{field:'INVOICE_AMT',title:'金额',width:120,align:'center',formatter:formatPrice},
						    {field:'ERRFLAG',title:'导出失败描述',width:150,align:'center'}
                        ]],
                        onResize:function(){
                            $('#pageTable').datagrid('fixDetailRowHeight',index);
                        },
                        onLoadSuccess:function(){
                            setTimeout(function(){
                                $('#pageTable').datagrid('fixDetailRowHeight',index);
                            },0);
                        }
                    });
                    $('#pageTable').datagrid('fixDetailRowHeight',index);
                }
            });
        });
		
		function formatPrice(val,row){
            return val.toFixed(2);
        }

		function reJectApply(){
			 var datagridList=$("#pageTable").datagrid('getChecked');
			 if(datagridList.length<=0){
			 	alert("请先选中数据在驳回！");
				return false;
			 }
			 var sqlData = [];		
			 for(var i = 0; i < datagridList.length; i++)
        	 {
        		sqlData.push("'"+datagridList[i].ID+"'");
        	 }
			 $('#form01').append('<input name=\"reJectData\"  id=\"reJectData\" type=\"hidden\" />');
			 $('#reJectData').val(sqlData.join(','));
			 
		     if(confirm("确定要驳回该申请吗？")){
    		    jQuery.ajax({
    				url: "$_basePath/addTax/VatFirstPay!rejectVat.action",
    				data: "reJectData="+encodeURI($("#reJectData").val()),
    				dataType:"json",
    				success: function(res){
    					if(res.flag==true){
    						jQuery.messager.alert("提示",res.msg);
    						$('#pageTable').datagrid('reload');
    				   }
    				   else{
    					   jQuery.messager.alert("提示",res.msg);
    				   }
    				}
    			 });
			 }
		}
		
		function mergerInvoice(){
    		 jQuery.ajax({
    			url: "$_basePath/addTax/VatFirstPay!mergerInvoice.action?IS_TQKJ=1",
    			dataType:"json",
    			success: function(res){
    				if(res.flag==true){
    					jQuery.messager.alert("提示",res.msg);
    					$('#pageTable').datagrid('reload');
    			   }
    			   else{
    				   jQuery.messager.alert("提示",res.msg);
    			   }
    			}
    		 });
		}
		
		function splitInvoice(){
		   jQuery.ajax({
    			url: "$_basePath/addTax/VatFirstPay!splitInvoice.action?IS_TQKJ=1",
    			dataType:"json",
    			success: function(res){
    				if(res.flag==true){
    					jQuery.messager.alert("提示",res.msg);
    					$('#pageTable').datagrid('reload');
    			   }
    			   else{
    				   jQuery.messager.alert("提示",res.msg);
    			   }
    			}
    		 });
		}
    </script>
	</HEAD>
	<body >
   <div id="pageForm" style="padding:20px;height:auto">   
	 <form id="form01" method="post">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
			  <td colspan="8" >
				  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="exportExcel('all')">全导出</a>
              &nbsp;
                  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="exportExcel('search')">导出选中项</a>
              &nbsp;
                  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="importReceipt()">上传回执</a>
              &nbsp;
                  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="reJectApply()">驳回</a>
			  &nbsp;
                  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-merger" plain="true" onclick="mergerInvoice()">合并</a>
              &nbsp;
                  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-split" plain="true" onclick="splitInvoice()">拆分</a>
              </td>
            </tr>
			<tr>
				<td align="right">项目编号： </td>
				<td >
					<input class="input_03" type="text" size ="20" id="PRO_CODE" name="PRO_CODE" value="$!param.PRO_CODE" />&nbsp;&nbsp;
				</td>
				<td align="right">融资租赁合同号： </td>
				<td >
					<input class="input_03" type="text" size ="20" id="LEASE_CODE" name="LEASE_CODE" value="$!param.LEASE_CODE" />&nbsp;&nbsp;
				</td>
				<td align="right">支付表号： </td>
				<td >
					<input class="input_03" type="text" size ="20" id="PAYLIST_CODE" name="PAYLIST_CODE" value="$!param.PAYLIST_CODE" />&nbsp;&nbsp;
				</td>
				<td rowspan="4" align="center">
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="se()">查询</a>&nbsp;
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearMess()">清空</a>
				</td>
			</tr>
			<tr>
			  <td align="right">业务类型：</td>
			  <td  align="left">
						   <select name="PLATFORM_TYPE" id="PLATFORM_TYPE" style="width:100px">
								 <option value="">--请选择--</option>
            						#foreach($item in $!PLATFORMTYPEList)
                                        <option value="$!item.CODE" #if($!PContext.PLATFORM_TYPE==$!item.CODE) selected #end>$!item.FLAG</option>
            						#end
						   </select>
			  </td>
			  <td align="right">经销商：</td>
			  <td>
				<input class="input_03" type="text" size ="20" id="SUP_SHORTNAME" name="SUP_SHORTNAME" value="$!param.SUP_SHORTNAME" />&nbsp;&nbsp;
              </td>
			  <td align="right">客户名称： </td>
			  <td>
				<input class="input_03" type="text" size ="20" id="CLIENT_NAME" name="CLIENT_NAME" value="$!param.CLIENT_NAME" />&nbsp;
              </td>
            </tr>
			<tr>
			  <td align="right">票据类别： </td>
			  <td >
				<select id="FUND_NAME" name="FUND_NAME" style="width:100px">
					<option value="">--全部--</option>
					#foreach($!item in $!invoiceTypes)
					  <option value="$!item.FLAG">$!item.FLAG</option>
					#end
                 </select>&nbsp;&nbsp;
              </td> 
			  <td align="right">票据类型： </td>
			  <td >
				 <select id="TAX_TYPE" name="TAX_TYPE" style="width:100px">
					<option value="">--全部--</option>
					<option value="专票">专票</option>
					<option value="普票">普票</option>
					<option value="其他">其他</option>
                 </select>&nbsp;&nbsp;
              </td>
			  <td align="right">是否已导出： </td>
			  <td >
				 <select id="IF_EXPORT_FP" name="IF_EXPORT_FP" style="width:100px">
					<option value="">--全部--</option>
					<option value="0">未导出</option>
					<option value="1">已导出</option>
                 </select>&nbsp;&nbsp;
              </td>
            </tr>
			<tr>
				<td align="right">
				是否上牌：
              </td>
			  <td>
				 <select id="ON_CARD" name="ON_CARD" style="width:100px">
					<option value="">--全部--</option>
					<option value="上牌">上牌</option>
					<option value="不上牌">不上牌</option>
                 </select>&nbsp;&nbsp;
              </td>
        	   <td align="right">起租确认日期： </td>
			   <td align="left" colspan="3"><input class="easyui-datebox" type="text" id="START_TIME" name="START_TIME" value="$!param.START_TIME" style="width:100px"/>-<input class="easyui-datebox" type="text" id="END_TIME" name="END_TIME" value="$!param.END_TIME" style="width:100px"/>
				</td>
            </tr>
			
	    </table>
	    </form>
	</div>		    
	<table id="pageTable"  fit="true" singleSelect="false" selectOnCheck="true" checkOnSelect="true"  pagination="true" rownumbers="true" url="$_basePath/addTax/VatFirstPay!vatHeXiaoPageData.action" toolbar="#pageForm" >
		<tr>
			<thead>
                <th data-options="field:'ck',checkbox:true"></th>
				<th data-options="field:'ID',width:100,align:'center'">导出标示</th>
				<th data-options="field:'COUNT_NO',width:100,align:'center'">拆分后张数</th>
			    <th data-options="field:'SUP_SHORTNAME',width:150,align:'center'">经销商</th>
	            <th data-options="field:'LEASE_CODE',width:150,align:'center'">融资租赁合同号</th>
				<th data-options="field:'PAYLIST_CODE',width:150,align:'center'">支付表号</th>
				<th data-options="field:'PROJECT_MODEL',width:150,align:'center'">业务类型</th>
		        <th data-options="field:'CLIENT_NAME',width:150,align:'center'">客户名称</th>
				<th data-options="field:'TAX_RATE',width:100,align:'center'">税率</th>
				##<th data-options="field:'PRODUCT_NAME',width:100,align:'center'">品牌名称</th>
				<th data-options="field:'ON_CARD',width:100,align:'center'">是否上牌</th>
				<th data-options="field:'TAX_TYPE',width:100,align:'center'">票据类型</th>
				<th data-options="field:'FUND_TYPE',width:150,align:'center'">票据类别</th>
				<th data-options="field:'FUND_NAME',width:150,align:'center'">票据内容</th>
				##<th data-options="field:'FUND_NAME',width:100,align:'center'">发票号  </th>
				<th data-options="field:'TARGET_NAME',width:100,align:'center'">开票对象</th>
				<th data-options="field:'TARGET_TAX_QUALIFICATION',width:100,align:'center'">纳税人资质</th>
				<th data-options="field:'RENT_LIST',width:100,align:'center'">期次</th>
				<th data-options="field:'INVOICE_AMT',width:100,align:'center'">总金额</th>
				<th data-options="field:'AMOUNT_MEMO',width:100,align:'center'">票据金额描述</th>
				<th data-options="field:'AMOUNT_MEMO',width:100,align:'center'">备注</th>
				<th data-options="field:'TARGET_ID',width:100,align:'center'">购方协议编号</th>
				<th data-options="field:'TARGET_TAX_CODE',width:100,align:'center'">购方税号</th>
				<th data-options="field:'TARGET_ADD',width:150,align:'center'">购方地址</th>
				<th data-options="field:'TARGET_TEL',width:100,align:'center'">购方电话</th>
				<th data-options="field:'TARGET_BANK_ACCOUNT',width:200,align:'center'">购方银行账号</th>
				<th data-options="field:'EMS_FLAG',width:100,align:'center'">邮寄地址对号</th>
				<th data-options="field:'EMS_TO_NAME',width:100,align:'center'">收件人姓名</th>
				<th data-options="field:'EMS_TO_PHONE',width:100,align:'center'">收件人电话</th>
				<th data-options="field:'EMS_TO_DW',width:200,align:'center'">单位名称</th> 
				<th data-options="field:'EMS_TO_ADDR',width:100,align:'center'">地址</th>
				<th data-options="field:'EMS_TO_CITY',width:100,align:'center'">城市</th>
				<th data-options="field:'EMS_TO_CODE',width:100,align:'center'">邮编</th>
				<th data-options="field:'ERRFLAG',width:200,align:'center'">导出失败信息描述</th>
            </thead>
		</tr>
     </table>
		
	 <div id="importReceipt" class="easyui-dialog" style="width:400px;height:150px;padding:10px" closed="true" buttons="#importReceipt-buttons">
		<form id="uploadReceipt" enctype="multipart/form-data" method="post" >
    		<table  class="table_01" cellpadding="0" cellspacing="0">
    			<tr>
    				<td >
    				    上传文件
    				</td>
    				<td>
    				    <input type="file" name="verificInvoice" id="verificInvoice"/>
    				</td>
                </tr>
            </table>
		</form>
    </div>
    <div id="importReceipt-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="uploadSave()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#importReceipt').dialog('close')">关闭</a>
    </div> 
    </body>
</html>