
<div id="evaluateDialog" >
<script >
$(document).ready(function() {
    if("$!param.tab"!="update"){
     // $('input').attr('disabled',true);
      //$('select').attr('disabled',true);
      $('#evaluateSave textarea').attr('disabled',true);
     }
});

function evaluateAdd() {
	
	jQuery.ajax({
		type: 'POST',
		url: '$!_basePath/credit/CreditEvaluate!doSaveEval.action',
		data: $("#evaluateSave").serialize(),
		dataType: 'json',
		success: function(json) {
			if(json.flag) {
				alert('保存成功');
			}
		}
	});
}

function evaluateUpdate() {
	jQuery.ajax({
		type: 'POST',
		url: '$!_basePath/credit/CreditEvaluate!doUpdateEval.action',
		data: $("#evaluateSave").serialize(),
		dataType: 'json',
		success: function(json) {
			if(json.flag) {
				alert('修改成功');
			}
		}
	});
}
</script>
    <form id="evaluateSave" method="post" action="">
		<table cellpadding="0" cellspacing="0" class="table_01" style="text-align:center;">
		<input type="hidden" id="evaluate_CREDIT_ID" name="CREDIT_ID" value="$!param.CREDIT_ID">
		<input type="hidden" id="evaluate_ID" name="ID" value="$!creditEval.ID">
			<tr>
            <td style="text-align:center;">
			  <table cellpadding="0" cellspacing="0" class="table_01" style="text-align:center;">
              <tr> 
                <td>
					<textarea name="EVALUATE" Id ="EVALUATE" style="width:80%" rows="15">$!creditEval.EVALUATE</textarea>
                </td>
             </tr>
        </table>
			</td>
			</tr>
        </table>
</form>  
</div>
#if($!param.tab=="update")
    #if(!$creditEval)
    <div style="text-align:center;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="evaluateAdd()">保存</a>
    </div>
    #else
    <div style="text-align:center;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="evaluateUpdate()">修改</a>
    </div>
    #end
#end

