 ##parse("content/importBase.vm")
 <script type="text/javascript" src="$_basePath/credit/js/credit.js"></script>
 <script type="text/javascript" src="$_basePath/customers/js/yanzheng.js"></script>
 <script  type="text/javascript">
 
 </script>
 ##if("$!param.GUARANTORTYPE"=="法人"&& "$!param.DBR_ID"!=null){
 <div class="easyui-panel" fit="true" title="">
 <div id="DBRLB">
	   <table cellpadding="0" cellspacing="0" class="table_01">
	        <tr>
		        <td colspan="13">担保人信息&nbsp;&nbsp;&nbsp;
                    ##<div title="添加" style="padding:10px" href="$_basePath/credit/Credit!toAddGuarantorPage.action">添加</div>
					##<a id="ADDDBR"class="easyui-linkbutton " iconcls="icon-add" plain="true">添加</a> 
				</td>
		    </tr>
	        <tr style="font-weight:bold; text-align:center; background:#EFEFEF">
			    <td>序号</td>
				<td>担保人名称</td>
				<td>身份证/组织机构</td>
				<td>客户类型</td>
				<td>创建时间</td>
				<td>操作</td>
			</tr>
			#foreach($item in $!dbrxx)
			<tr align="center">
			    <td>$velocityCount</td>
				<td>$!item.UNIT_NAME</td>
				<td>#if($!item.GUARANTORTYPE=='个人')$!item.NATU_IDCARD#else $!item.ORGANIZATION_CODE#end</td>
				<td>$!item.GUARANTORTYPE</td>
				<td>$!item.CREATE_DATE</td>##CREATE_ID,ID,,ORGANIZATION_CODE,NATU_IDCARD,
				<td><a href="#" onclick="javascript:toGuarantorViewInfo('$!item.ID','$!item.GUARANTORTYPE')">查看</a></td>
			</tr>
			#end
	   </table>
 </div>
  
			
</div>