<link rel="stylesheet" type="text/css" href="$_basePath/Index.action_files/css/icon.css"/>
        <LINK rel="stylesheet" type="text/css" href="$_basePath/Index.action_files/css/easyui.css">
        <script type="text/javascript" src="$_basePath/res/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="$_basePath/Index.action_files/js/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="$_basePath/res/jquery/easyui/easyui-lang-zh_CN.js"></script>

<table width="100%"  class="table_01">
        </td>
			<td >担保人类型</td>
			<td >
				<select name="GUARANTORTYPE" id="GUARANTORTYPE" onchange="toAddPage()">
					<option value="法人">法人</option>
					<option value="个人">个人</option>
					<option value="供货商">供货商</option>
            		<option value="厂商">厂商</option>
				</select>
        </td>
		<td colspan="3">
        </td>
        </tr>
		<tr >
			<td width="5%" rowspan="11">
				担
				<br />
				保
				<br />
				人
				<br />
				法
				<br />
				人
				<br />
				基
				<br />
				本
				<br />
				信
				<br />
				息
			</td>
			<td width="13%" rowspan="2" class="text_right">
				单位名称
			</td>
			<td width="6%" class="text_right">
				中文：
			</td>
			<td width="26%"  >
				<input type="text" name="UNIT_NAME" id="UNIT_NAME" class="mastInput" style="float:left; margin-left:5px; margin-top:5px;"><font color="red">*</font>
				&nbsp;&nbsp;<img class="flag_y" src="images/ytq.gif"/><img class="flag_n" src="images/x.jpg"/>
			</td>
			<td width="13%"  class="text_right">
				职工人数：
			</td>
			<td   >
				<input   type="text" name="NUMBER_EMPLOYEES"   onkeyup="zero(this);"  id="NUMBER_EMPLOYEES" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
		</tr>
		<tr>
			<td  class="text_right">
				英文：
			</td>
			<td  >
				<input type="text" name="UNIT_NAME_E" value=""
					class="txtk"   style="float:left; margin-left:5px; margin-top:5px;"/>
					&nbsp;&nbsp;
			</td>
			<td  class="text_right">
				企业类型：
			</td>
			<td   >
			<input type="text" name="TYPE_ENTERPRISE" id="TYPE_ENTERPRISE"	value=""	 style="float:left; margin-left:5px; margin-top:5px;" class="txtk">
			</td>
		</tr>
		<tr>
			<td  class="text_right">
				营业执照注册号：
			</td>
			<td colspan="2"  >
				<input type="text" name="BUSINESS_NUMBER" id="BUSINESS_NUMBER" value="" class="mastInput"  style="float:left; margin-left:5px; margin-top:5px;"><font color="red">*</font>
					&nbsp;&nbsp;<img class="flag_y" src="images/ytq.gif"/><img class="flag_n" src="images/x.jpg"/>
			</td>
			<td  class="text_right">
				营业期限：
			</td>
			<td   >
				<input type="text" name="OPERATING_PERIOD" id="OPERATING_PERIOD" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
		</tr>
		<tr>
			<td  class="text_right">
				组织机构代码证号：
			</td>
			<td colspan="2"  >
				<input type="text" name="ORGANIZATION_CODE" id="ORGANIZATION_CODE" value="" class="mastInput"   style="float:left; margin-left:5px; margin-top:5px;"><font color="red">*</font>
					&nbsp;&nbsp;<img class="flag_y" src="images/ytq.gif"/><img class="flag_n" src="images/x.jpg"/>
			</td>
			<td  class="text_right">
				年检情况：
			</td>
			<td   >
				<input type="text" name="INSPECTION" id="INSPECTION" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
		</tr>
		<tr>
			<td  class="text_right">
				税务登记号：
			</td>
			<td colspan="2"  >
				<input type="text" name="REGISTRATION_NUMBER" id="REGISTRATION_NUMBER" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
			<td  class="text_right">
				成立日期：
			</td>
			<td   >
				<input type="text" name="DATE_ESTABLISHMENT" id="DATE_ESTABLISHMENT" class="submitDate" readonly  style="float:left; margin-left:5px; margin-top:5px;"><font color='red'>*</font>
				##	&nbsp;&nbsp;<img class="flag_y" src="images/ytq.gif"/><img class="flag_n" src="images/x.jpg"/>
            </td>
		</tr>
		<tr>
			<td  class="text_right">
				注册资本(万元)：  
				<select id="ZC_MONEY_TYPE">
					<option value="RMB">人民币</option>
					<option value="DOLLAR">美元</option>
                </select>
			</td>
			<td colspan="2"  >
				<input type="text" name="REGISTERED_CAPITAL" id="REGISTERED_CAPITAL" value=""  style="float:left; margin-left:5px; margin-top:5px;" onkeyup="zeroMoney(this)">
			</td>
			<td  class="text_right">
				实收资本(万元)：
			</td>
			<td   >
				<input type="text" name="PAID_CAPITAL" id="PAID_CAPITAL" value=""  style="float:left; margin-left:5px; margin-top:5px;" onkeyup="zeroMoney(this)" >
			</td>
		</tr>
		<tr>
			<td  class="text_right">
				公司注册地址：
			</td>
			<td colspan="2"  >
				<input type="text" name="COMPANY_REGISTERED_ADDRESS" id="COMPANY_REGISTERED_ADDRESS" value=""    style="float:left; margin-left:5px; margin-top:5px; width:300px;">
				
			</td>
			<td  class="ui-widget-content jqgrow ui-row-ltr">
				所属行业：
			</td>
			<td colspan="3"  class="ui-widget-content jqgrow ui-row-ltr">
				<select name="CR_TRADE_TYPE" id="CR_TRADE_TYPE" style="float:left;margin-left:5px; margin-top:5px;width:68%">
					<option value="0" >请选择...</option>
				</select>
			</td>
		</tr>
		<tr>
			<td  class="text_right">
				经营范围：
			</td>
			<td colspan="2" >
				<input type="text" name="PRODUCTS" id="PRODUCTS" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
			<td class="text_right">担保方式</td>
			<td>
				<select name="GUARANTEE_TYPE" id="GUARANTEE_TYPE" style="float:left; margin-left:5px; margin-top:5px;width:150px;">
					#foreach($!guType in $guaranteeType)
						<option value="$!guType.CODE">$!guType.FLAG</option>
					#end
                </select>
			</td>
		</tr>
		<tr>
			<td class="text_right">
				公司电话：
			</td>
			<td colspan="2"  >
				<input type="text" name="COMPANY_TEL" id="COMPANY_TEL" value=""  style="float:left; margin-left:5px; margin-top:5px;" onchange="IsTelephone(this)">
			</td>
			<td style="text-align: center" class="text_right">
				传真：
			</td>
			<td   >
				<input type="text" name="FAX" id="FAX" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
		</tr>
		<tr>
			<td class="text_right">
				网址：
			</td>
			<td colspan="2" >
				<input type="text" name="WEBSITE" id="WEBSITE" value=""  style="float:left; margin-left:5px; margin-top:5px;">
			</td>
			<td style="text-align: center" class="text_right">
				邮编：
			</td>
			<td   >
				<input type="text" name="ZIP_CODE" id="ZIP_CODE" value=""  style="float:left; margin-left:5px; margin-top:5px;"> 
			</td>
		</tr>
		<tr>
			<td class="text_right">
				最高保证金额
			</td>
			<td colspan="4"   style="text-align: left">
				<input type="text" name="INFORMATION_MONEY" id="INFORMATION_MONEY" value="" onkeyup="zero(this);" style="float:left; margin-left:5px; margin-top:5px;"> 
			</td>
		</tr>
		
		<tr>
			<td height="80" class="text_right">
				备注：
			</td>
			<td colspan="6" >
				<textarea name="REMARK" id="REMARK" style="width: 500px; height: 50px; font-size: 12px  ;float:left; margin-left:5px; margin-top:5px;">
				</textarea>
			</td>
		</tr>
		
		</table>