<title>项目测算</title>
#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/js/util.js"></script>
<script type="text/javascript" src="$_basePath/projectBudget/js/projectBudget.js"></script>
<script type="text/javascript">
	jQuery(function(){
		rzsfbl();
		fhhdsj();
		yhsj();
	});
</script>
<div id="paramDiv">
	<input type="hidden" name="MONTH_PRICE" id="MONTH_PRICE" value="$!param.MONTH_PRICE"/>
	<input type="hidden" name="RATE_PRICE" id="RATE_PRICE" value="$!param.RATE_PRICE"/>
	<table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
    		<td colspan="8" class="table_th">
    			项目方案信息
			</td>
    	</tr>
     <tr>
                <td class="text_right">设备总额</td>
                <td>
	                <input type="text" name="LEASE_TOPRIC" id="LEASE_TOPRIC" value="$!param.LEASE_TOPRIC" onblur="jsrze()"/>
                </td>
        		<td class="text_right">融资额</td>
                <td><input type="text" name="FINANCE_TOPRIC" readonly id="FINANCE_TOPRIC" value="$!param.FINANCE_TOPRIC"/></td>
        		<td class="text_right">残值回购价</td>
                <td><input type="text" name="CZHGJ" id="CZHGJ" value="0" onblur="fhhdsj()"/></td>
				<td class="text_right">租期</td>
                <td>
					<input type="text" name="LEASE_TERM" id="LEASE_TERM" value="$!param.LEASE_TERM" style="width:70px;"/>
					<select name="LEASE_PERIOD" id="LEASE_PERIOD">
						#foreach($!item in $dicTag.getCodeFLAGList("租赁周期"))
							<option value="$!item.CODE" #if($!param.LEASE_PERIOD==$!item.CODE) selected #end>$!item.FLAG</option>
						#end
					</select>
				</td>
    		</tr>
    		<tr>
                <td class="text_right">年利率</td>
        		<td>
					#set($yearRate=$!param.YEAR_INTEREST*100)
					<input type="text" name="YEAR_RATE" id="YEAR_RATE" value="$yearRate"/> % </td>
				<td class="text_right">手续费率</td>
				<td><input type="text" name="POUNDAGE_PERCENT" id="POUNDAGE_PERCENT" value="$!param.POUNDAGE_RATE" onblur="projectCalculateMoney(this)"/> % </td>
				<td class="text_right">手续费</td>
    			<td><input type="text" name="POUNDAGE_MONEY" id="POUNDAGE_MONEY" value="$!param.POUNDAGE_PRICE"  onblur="projectCalculateRate(this)"/></td>
				<td class="text_right">开票情况(承兑汇票)</td>
    			<td>
    				<input type="text" name="KPQK" id="KPQK" value="0" style="width:60px;"/>个月承兑汇票
    			</td>
            </tr>
            <tr>
				<td class="text_right">融资比例</td>
                <td>
					<input type="text" readonly name="RZJEBL" id="RZJEBL" value="0"/>%
				</td>
				<td class="text_right">首付资金占比</td>
				<td>
					<input type="text" readonly name="SFZJZB" id="SFZJZB" value="0"/>%
				</td>
            </tr>
			<tbody id="addSchemeForm">
			#set($v=0)
		#foreach($!item in $!SCHEMELIST)
			#if($item.KEY_NAME_EN.contains('PERCENT')||$item.KEY_NAME_EN.contains('PAY_WAY')||$item.KEY_NAME_EN.contains('MONEY'))
			#set($v=$v+1)
				#if($v%4==1)
					<tr>
				#end
					<td class="text_right">
						$!item.KEY_NAME_ZN 
	                </td>
					<td 
					#if($velocityCount==$!SCHEMEDETAIL.size())
						#set($col=(4-$velocityCount%4+1)*2)
						colspan="$col"
					#end
					>
					 #if($item.KEY_NAME_EN.contains('PAY_WAY'))
						<select name="PAY_WAY" id="PAY_WAY" style="width:130px;">
							#foreach($!d in $dicTag.getCodeFLAGList("支付方式"))
								<option value="$!d.FLAG" #if($!item.VALUE_STR==$!d.CODE) selected #end>$!d.FLAG</option>
							#end
						</select>
					 #else
						<input type="text" name="$item.KEY_NAME_EN" id="$item.KEY_NAME_EN" 
						 #if($item.KEY_NAME_EN.contains('PERCENT'))
						  onblur="projectCalculateMoney(this)"
						 #else
						   onblur="projectCalculateRate(this)"
						 #end
						 #if($dicTag.getFLAG($!item.KEY_NAME_ZN,$!item.VALUE_STR)!='')
						 	 value="$dicTag.getFLAG($!item.KEY_NAME_ZN,$!item.VALUE_STR)" 
						 #else 
						 	value="0" 
						 #end
						 
						 #if($item.KEY_NAME_EN.contains('GLF_PRICE'))
						 	onblur="fhhdsj()"
						 #end
						 />
					 #end
					 #if($item.KEY_NAME_EN.contains('PERCENT')) % #end
	                </td>
				#if($v%4==0)
	            </tr>
				#end
			#end
		#end
            </tbody>
         </table>
     <div style="height:20px"></div>
    <table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
    		<td colspan="8" class="table_th">
    			信贷信息
			</td>
    	</tr>
 		<tr>
 			<td class="text_right">开票占比</td>
 			<td><input type="text" name="KPZB" id="KPZB" value="0" onblur="xjzfzb()"/>%</td>
 			<td class="text_right">现金支付占比</td>
 			<td><input type="text" name="XJZFZB" id="XJZFZB" value="0" onblur="KPZB()"/>%</td>
 			<td class="text_right">开票保证金比例</td>
 			<td><input type="text" name="KPBZJBL" id="KPBZJBL" value="0"/>%</td>
 			<td class="text_right">贷款占比</td>
 			<td><input type="text" name="DKZB" id="DKZB" value="0"/>%</td>
 		</tr>
 		<tr>
 			<td class="text_right">开票手续费率</td>
 			<td><input type="text" name="KPSXFL" id="KPSXFL" value="0"/>%</td>
 			<td class="text_right">贷款利率</td>
 			<td><input type="text" name="DKLL" id="DKLL" value="0"/>%</td>
 			<td class="text_right">敞口费率</td>
 			<td><input type="text" name="CKFL" id="CKFL" value="0"/>%</td>
 			<td class="text_right">贷款月数</td>
 			<td><input type="text" name="DKYS" id="DKYS" value="0"/></td>
 		</tr>
 		<tr>
 			<td class="text_right">保证金利率</td>
 			<td><input type="text" name="BZJLL" id="BZJLL" value="0"/>%</td>
 			<td class="text_right">票据贴现利率</td>
 			<td colspan="5"><input type="text" name="PJTXLL" id="PJTXLL" value="0"/>%</td>
 		</tr>
     </table>
     <div style="height:20px"></div>
    <table  cellpadding="0" cellspacing="0" class="table_01">
    	<tr>
    		<td colspan="8" class="table_th">
    			税费信息
			</td>
    	</tr>
 		<tr>
 			<td class="text_right">印花税率</td>
 			<td><input type="text" name="YHSL" id="YHSL" value="0.005"/>%</td>
 			<td class="text_right">印花税基</td>
 			<td><input type="text" name="YHSJ" id="YHSJ" readonly value="0"/></td>
 			<td class="text_right">营业税及附加税率</td>
 			<td><input type="text" name="YYSJFJSL" id="YYSJFJSL" value="5.55"/>%</td>
 			<td class="text_right">营业税及附加税基</td>
 			<td><input type="text" name="YYSJFJSJ" id="YYSJFJSJ" readonly value="0"/></td>
 		</tr>
 		<tr>
 			<td class="text_right">防洪护堤费税率</td>
 			<td><input type="text" name="FHHDFSL" id="FHHDFSL" value="0.1"/></td>
 			<td class="text_right">防洪护堤费税基</td>
 			<td colspan="5"><input type="text" name="FHHDFSJ" readonly id="FHHDFSJ" value="0"/></td>
 		</tr>
     </table>
</div>
<div style="text-align:center">
	<br/><a href="javascript:void(0)" class="easyui-linkbutton" onclick="calculate()" iconCls="icon-calculator">测算</a>
</div>
<div style="height:20px"></div>
<div id="calculateIRR">

</div>