<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加经销商授信</title>
	#parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/js/util.js"></script>	
	<script type="text/javascript">
		function submitForm(){
			if(jQuery("#ALL_GRANT_PRICE").val()==null||jQuery("#ALL_GRANT_PRICE").val()==''){
				alert("授信总额度不能为空");
			}else if(jQuery("#LAST_PRICE").val()==null||jQuery("#LAST_PRICE").val()==''){
				alert("授信余额及控制额度不能为空");
				return;
			}else
				jQuery("#formId").submit();
		}
		
		function changemoney(){
			jQuery("#GRANT_PRICE").val(jQuery("#ALL_GRANT_PRICE").val());
			jQuery("#LAST_PRICE").val(jQuery("#ALL_GRANT_PRICE").val());
		}
		jQuery(function(){
			if($MSG && $!MSG=='0'){
				alert("添加失败!");
			}else if($MSG && $!MSG=='1') {
				jQuery("#save").attr("disabled","disabled");
				jQuery("#save").linkbutton("disable");
				alert("授信申请已发起,流程编号为：$!RST");
			}
		});
		
		function changelastmoney(){
			
			var GRANT_PRICE=jQuery("#GRANT_PRICE").val();
			var ALL_GRANT_PRICE=jQuery("#ALL_GRANT_PRICE").val();
			if(Subtr(ALL_GRANT_PRICE,GRANT_PRICE)>=0)
			jQuery("#LAST_PRICE").val(GRANT_PRICE);
			else{
				alert("控制额度不能高于授信总额度");
				jQuery("#GRANT_PRICE").val('');
				jQuery("#LAST_PRICE").val('');
			}
		}
		
		function jsbzj(){
			var RWBZJBL=jQuery("#RWBZJBL").val();
			var RWBZJGZ=jQuery("#RWBZJGZ").val();
			var GRANT_PRICE=jQuery("#GRANT_PRICE").val();
			if(RWBZJGZ=='1'){
				jQuery("#RWBZJJE").val(accMul(RWBZJBL,GRANT_PRICE));
			}else{
				jQuery("#RWBZJJE").val('0');
			}
		}
	</script>
</head>
<body>
	<form action="$_basePath/base/grantCredit/SupplierCreditManager!doAddSupplierCredit.action" method="post" id="formId" enctype="multipart/form-data" >
	<table  cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td class="text_right">
				经销商名称
			</td>
			<td>
				<input type="hidden" name="CUST_ID" id="CUST_ID" value="$!param.SUP_ID"/>
				$!param.SUP_NAME
			</td>
			<td class="text_right">
				协议编号
			</td>
			<td>
				<input type="text" name="CUGP_CODE" id="CUGP_CODE" value="$!CUGP_CODE" readonly/>
			</td>
		</tr>
		<tr>
			<td class="text_right">
				授信总额度
			</td>
			<td>
				<input type="text" name="ALL_GRANT_PRICE" id="ALL_GRANT_PRICE" value="$!map.ALL_GRANT_PRICE" onchange="changemoney()"/>
			</td>
			<td class="text_right">
				控制额度
			</td>
			<td>
				<input type="text" name="GRANT_PRICE" id="GRANT_PRICE" value="$!map.GRANT_PRICE" onchange="changelastmoney()"/>
			</td>
		</tr>
		<tr>
			<td class="text_right">
				授信余额
			</td>
			<td>
				<input type="text" name="LAST_PRICE" id="LAST_PRICE" readonly  value="$!map.ALL_GRANT_PRICE" />
			</td>
			<td class="text_right">
				是否循环授信
			</td>
			<td>
				<input type="radio" name="REPEAT_CREDIT" id="REPEAT_CREDIT" #if($!map.REPEAT_CREDIT=='0') checked #elseif(!$map.REPEAT_CREDIT)checked #end value="0"/>是 &nbsp;&nbsp;
				<input type="radio" name="REPEAT_CREDIT" id="REPEAT_CREDIT" #if($!map.REPEAT_CREDIT=='1') checked #end value="1"/>否
			</td>
		</tr>
		<tr>
			<td class="text_right">
				授信有效期
			</td>
			<td>
				<input type="text" name="START_DATE" class="easyui-datebox" id="START_DATE" value="$!map.START_DATE"/>-
				<input type="text" name="END_DATE" class="easyui-datebox" id="END_DATE" value="$!map.END_DATE"/>
			</td>
			<td class="text_right">
				附件
			</td>
			<td>
				<input type="file" name="FUJIAN" id="FUJIAN"/>
			</td>
		</tr>
		#if($RWBZJ && $!RWBZJ!='')
			<input type="hidden" name="RWBZJBL" id="RWBZJBL" value="$!RWBZJBL.CODE"/>
			<tr>
			<td class="text_right">
				入网保证金规则
			</td>
			<td>
				<select name="RWBZJGZ" id="RWBZJGZ" onchange="jsbzj()">
					<option value="">请选择</option>
					#foreach($!item in $!RWBZJ)
						<option value="$!item.CODE">$!item.FLAG</option>
					#end
				</select>
			</td>
			<td class="text_right">
				入网保证金金额
			</td>
			<td>
				<input type="text" name="RWBZJJE" id="RWBZJJE" value="0" readonly/>
			</td>
			</tr>
		#else
			<input type="hidden" name="RWBZJJE" id="RWBZJJE" value="0" readonly/>
			<input type="hidden" name="RWBZJGZ" id="RWBZJGZ" value="0" readonly/>
		#end
		<tr>
			<td class="text_right">
				备注
			</td>
			
			<td colspan="3">
				<textarea cols=100 rows=5 name="REMARK" ID="REMARK">$!map.REMARK</textarea>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<br/>&nbsp;
				<a href="javascript:void(0)" id="save" class="easyui-linkbutton"  iconCls="icon-save" onclick="submitForm()">保存</a>
			</td>
		</tr>
	</table>
	</form>
</body>
</html>