<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>厂商管理</title>       
	#parse("content/importBase.vm")
    <script >
		//打开dialog
		function openDialog(div,name){
		    $('#'+div).dialog('open').dialog('setTitle',name);
		}
		
		//关闭dialog
		function closeDialog(name){
		   $('#'+name).dialog('close')
		}
		
		function saveUpLoad(){
    		var f=$("#fileid").val();
    		var FIL_MEMO=$("#FIL_MEMO").val();
    		if(f==null||f==""){
    			alert("请选择要上传的文件");
    			return false;
    		}else if(FIL_MEMO==""){
    			alert("文件描述不能为空");
    			return false;
    		}else{
			    var supplier_name = $("#SUPPLIERS_NAME").val();
    			var ID=$("#SUP_ID").val();
        		jQuery.ajaxFileUpload({
                	    url:"Suppliers!uploadFile.action?FIL_MEMO="+encodeURI(FIL_MEMO)+"&SUP_ID="+ID+"&SUP_NAME="+encodeURI(supplier_name),
                	    secureuri:false,
                	    fileElementId:"fileid",	 
                	    dataType: "json",
						success: function (data,status)  //服务器成功响应处理函数
                        {
						     var data = JSON.parse(data);
        					 var bsdte="";
    						 for(var i=0;i<data.length;i++){
    							bsdte=bsdte+"<tr>";
                    			bsdte=bsdte+"<td align='center' title='"+data[i].FIL_NAME+"'>"+data[i].FIL_NAME+"</td>";
                    			bsdte=bsdte+"<td align='center' title='"+data[i].FIL_MEMO+"'>"+data[i].FIL_MEMO+"</td>";
                                bsdte=bsdte+"<td align='center'><a href='Suppliers!downLoadSupFile.action?FIL_ID="+data[i].FIL_ID+"'>下载</a>   ";
            					bsdte=bsdte+"<a href='javascript:void(0);' onclick='delFile("+data[i].FIL_ID+",this)'>删除</a></td></tr>";
    						 }
    						 $("#tblfsg").html(bsdte);	 
 
                        },
        
               	});	
        		 $("#dialoguploadfile1").dialog('close');
        	}
		}
		
		//删除附件
    	function delFile(fil_id,obj){
    		if(confirm("是否确定删除")){
            	jQuery.ajax({
            		type: "POST",
            		url: "Suppliers!deleteSupFile.action",
            		data: "FIL_ID="+fil_id,
            		dataType: "json",
            		success: function(res){
						if(res.flag==true){
							jQuery.messager.alert("提示",res.msg);
							var tab=obj.parentNode.parentNode.parentNode;
							var tr=obj.parentNode.parentNode;
							tab.removeChild(tr);  
						}else{
						    jQuery.messager.alert("提示",res.msg);
						}
            		}
            	});
    		}
    	}
		//根据条件取数据，需jQuery json支持
        function getFromData(str){
        	var data={};
        	$(str +' [name]').each(function(){
        		if($(this).is(":checkbox,:radio")){
        			if($(this).attr("checked")){
        				data[$(this).attr("name")]=$(this).val();
        			}
        		}else{
        			if($(this).is("select")){
        				data[$(this).attr("name")]=$(this).find(":selected").val();
        			}else{
        				data[$(this).attr("name")]=$(this).val();
        			}
        		}
        	});
        	 
        	return JSON.stringify(data);
        }
		function saveApply(){
	        var data = getFromData("#fmApply");
			if(confirm("保存申请单后将自动发起评审流程，确认保存吗？")){
        	    jQuery.ajax({
            		type: "POST",
            		url: "CreditManager!saveApply.action",
            		data: "json="+data,
            		dataType: "json",
            		success: function(data){
            			 if(data.flag==false){
        				     jQuery.messager.alert("提示",data.msg) ;
        				 }else{
        				    jQuery.messager.alert("提示",data.msg); 
        				 }
            		}
            	});  
			}
		}
		
		function spLimitChange(v){
		   var CREDIT_MONEY = $("#fmApply input[name='CREDIT_MONEY']").val();
		   var GUARANT_MONEY = $("#fmApply input[name='GUARANT_MONEY']").val();
		   var money = (parseFloat(CREDIT_MONEY) + parseFloat(GUARANT_MONEY))* parseFloat(v.value);
		   $("#fmApply input[name='APPLY_MONEY']").val(parseFloat(money));
		}
		function spMoneyChange(v){
		   var CREDIT_MONEY = $("#fmApply input[name='CREDIT_MONEY']").val();
		   var GUARANT_MONEY = $("#fmApply input[name='GUARANT_MONEY']").val();
		   var limitRate = v.value/(parseFloat(CREDIT_MONEY) + parseFloat(GUARANT_MONEY));
		   $("#fmApply input[name='ADJUST_LIMIT']").val(parseFloat(limitRate));
		}
    </script>
	</head>
	<body style="margin:0">
	<form id="fmApply" name="fmApply" action ="CreditManager!saveApply.action"   method="post">
		<table class="table_01" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td colspan="4" class="table_th">
				#if($!APPLY_TYPE=='1')转正 #elseif($!APPLY_TYPE=='2')标准额度变更 #elseif($!APPLY_TYPE=='3')特别调整额度变更
							#elseif($!APPLY_TYPE=='4')临时保证额度变更 #elseif($!APPLY_TYPE=='5')一单一议额度变更#end 申请单
			  </td>
			</tr>
			<tr>
				<td class="text_right"> 供应商名称: 
				</td>
				<td >
                     $!credits.SUP_NAME 
				</td>
				<td class="text_right"> 首单项目起租日期: 
				</td>
				<td >
                     $!credits.FIRST_PROJECT_ACCRUEDATE 
				</td>
            </tr>
			<tr>
				<td class="text_right"> 在租项目数量: 
				</td>
				<td >
                    $!credits.PROJECT_COUNT 
				</td>
				
				<td class="text_right"> 在租项目租金余额: 
				</td>
				<td >
                     $!credits.PROJECT_RENT_BALANCE 
				</td>
            </tr>
			<tr>
				<td class="text_right">上月月底在租项目已还租金额: 
				</td>
				<td >
                  $!credits.LASTMONTH_REPAY_RENT 
				</td>
				
				<td class="text_right"> 上月月底逾期项目数量: 
				</td>
				<td >
                    $!credits.LASTMONTH_OVERDUE_COUNT 
				</td>
            </tr>
			<tr>
				<td class="text_right"> 上月月底逾期项目总期数: 
				</td>
				<td >
                   $!credits.LASTMONTH_OVERDUE_STAGES 
				</td>
				
				<td class="text_right"> 上月月底逾期租金总额: 
				</td>
				<td >
                    $!credits.LASTMONTH_OVERDUE_TOTALMONEY 
				</td>
            </tr>
			<tr>
				<td class="text_right"> 上月月底到期应收租金逾期率: 
				</td>
				<td >
                    $!credits.LASTMONTH_OVERDUE_RATE 
				</td>
				
				<td class="text_right"> 上月月底台量逾期率: 
				</td>
				<td >
                    $!credits.LASTMONTH_TLOVERDUE_RATE 
				</td>
            </tr>
			<tr>
				<td class="text_right"> 上月月底租金逾期率: 
				</td>
				<td >
                    $!credits.LASTMONTH_ZJOVERDUE_RATE 
				</td>
				
				<td colspan="2">
					 <input type="hidden" name="APPLY_TYPE" value="$!APPLY_TYPE"/>
					 <input type="hidden" name="CREDIT_ID" value="$!credits.CREDIT_ID"/>
					 <input type="hidden" name="SUP_ID" value="$!credits.SUP_ID"/>
				</td>
				 
            </tr>
			<tr>
				<td class="text_right"> 基础授信额度: 
				</td>
				<td >
                     $!credits.CREDIT_MONEY 
				</td>
				
				<td class="text_right"> 担保人授信额度: 
				</td>
				<td >
                    $!credits.GUARANT_MONEY 
				</td>
            </tr>
			#if($!APPLY_TYPE=='3')
			<tr>
				<td class="text_right">特别调整比例: 
				</td>
				<td >
                     $!credits.ADJUST_LIMIT 
				</td>
				
				<td class="text_right">特别调整临额度: 
				</td>
				<td >
                    $!credits.APPLY_MONEY 
				</td>
            </tr>
			#end
			#if($!APPLY_TYPE=='4')
			<tr>
				<td class="text_right"> 临时保证放大倍数: 
				</td>
				<td >
                    $!credits.ADJUST_LIMIT 
				</td>
				
				<td class="text_right"> 临时保证额度: 
				</td>
				<td >
                    $!credits.APPLY_MONEY 
				</td>
            </tr>
			#end
			#if($!APPLY_TYPE=='5')
			<tr>
				<td class="text_right"> 一单一议申请额度: 
				</td>
				<td >
                    $!credits.APPLY_MONEY 
				</td>
				
				<td colspan="2" >
					&nbsp;
				</td>
            </tr>
			#end
			<tr>
				<td colspan="4">
                     <form method="post" action="" id="OPENBANK">
                       <table id='subtab-dbgrid' class="table_01" cellpadding="0" cellspacing="0" width="98%" style="margin:10px auto;">
                			<tr align="left" bgcolor="#f4f4f4">
                				<td colspan="5"><strong>上传附件信息</strong></td>
                			</tr>	
                            <tr>
                				<td align="center">文件名称</td>
                				<td align="center">文件描述</td>
                				<td width="18%" align="center"></td>
                			</tr>
                			<tbody id="tblfsg">
                    	    #foreach($!file in $!files)
                    		<tr>
                    			<td title="$!file.FIL_NAME" align="center" >$!file.FIL_NAME</td>
                    			<td title="$!file.FIL_MEMO" align="center">$!file.FIL_MEMO</td>
                                <td align="center"><a href="Suppliers!downLoadSupFile.action?FIL_ID=$!file.FIL_ID">下载</a>
                					<a href="javascript:void(0);" onclick="delFile($!file.FIL_ID,this)">删除
                                    </a>
                				</td>
                    		</tr>
                    	    #end 
                		    </tbody>
                       </table>
                    </form>
				</td>
            </tr>
        </table>
		#if($!APPLY_TYPE=='4')
		<table class="table_01" cellpadding="0" cellspacing="0" align="center">
            <tr>
			  
			</tr>
        </table>
		#end
	</form>
   </body>
</html>			