<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户授信管理</title>
	#parse("content/importBase.vm")
	<script>
		function se(){
			var CLIENT_NAME=$("#CLIENT_NAME").val();
			$('#pageTable').datagrid('load',{"CLIENT_NAME":CLIENT_NAME});
		}
		
		function clearMess(){
		    $("#form01 input").val("");
		}
		
		function addConfig(value,row){
			if(row.CUGP_ID==''||row.CUGP_ID==null||row.CUGP_ID==undefined||row.CUGP_ID=='undefined'){
				return "<a href='javascript:void(0)' onclick='addclientCredit("+row.CLIENT_ID+")'>添加授信</a>";
			}else{
				return "<a href='javascript:void(0)' onclick='addclientCredit("+row.CLIENT_ID+")'>添加授信</a>||<a href='javascript:void(0)' onclick='showclientCredit("+row.CUGP_ID+")'>查看</a>";
			}
		}
		function addclientCredit(CLIENT_ID){
			top.addTab("添加授信","$_basePath/base/grantCredit/ClientCreditManager!toAddClientCredit.action?CLIENT_ID="+CLIENT_ID);
		}
		function showclientCredit(CUGP_ID){
			top.addTab("查看授信","$_basePath/base/grantCredit/ClientCreditManager!toShowClientCredit.action?CUGP_ID="+CUGP_ID);
		}
    </script>
</head>
<body  class="easyui-layout">
  
<div  region="center" border="false">
		<div id="pageForm" style="padding:20px;height:auto">	
			<form id="form01" method="post" >
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
    			<tr>
            	  <td>
					客户名称：
					<input class="input_03" type="text" size ="20" id="CLIENT_NAME"/>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查询</a>&nbsp;
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearMess()">清空</a>
    			  </td>
                </tr>
    	    </table>
			</form>
		</div>		    
		<table id="pageTable" class="easyui-datagrid" fit="true" pagination="true" data-options="rownumbers:true,singleSelect:true,url:'$_basePath/base/grantCredit/ClientCreditManager!pageData.action',toolbar:'#pageForm'">
    		<tr>
 				<thead data-options="frozen:true">
			        <th data-options="field:'CUGP_ID',width:150,formatter: addConfig" align="center">操作</th>
			    </thead>
				<thead>
    				<th data-options="field:'CLIENT_NAME',width:200">客户全称</th>
					<th data-options="field:'STATUS',width:100">授信状态</th>
					<th data-options="field:'CUGP_CODE',width:100">授信编号</th>
					<th data-options="field:'ALL_GRANT_PRICE',width:100">授信总额</th>
					<th data-options="field:'GRANT_PRICE',width:100">控制额度</th>
					<th data-options="field:'LAST_PRICE',width:100">授信余额</th>
					<th data-options="field:'REPEAT_CREDIT',width:100">授信方式</th> 	
					<th data-options="field:'START_DATE',width:100">授信开始日期</th>
					<th data-options="field:'END_DATE',width:100">授信结束日期</th>
					<th data-options="field:'CREATE_DATE',width:100">授信创建日期</th>
                </thead>
    		</tr>
         </table>
     </div>
  </body>
</html>