<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>增加保证金</title>
	#parse("content/importBase.vm")
	<script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>
 <script type="text/javascript">
 	$(function(){
		$("#bzjTab").datagrid({
			url:'$_basePath/base/grantCredit/CompanyCreditManager!getBZJ_Info.action?T_HEAD_ID=$!map.ID',
			pagination:true,
			pageList:[10,18,20,30],
			pageSize:18,
			singleSelect:true,
			rownumbers:true,
			fit:true,
			fitColumns:true,
			toolbar:'#pageForm',
			columns:[[
				{field:'TYPE',align:'center',width:20,title:'类型',formatter:function(value,rowData,rowIndex){
					if(value==3){
						return "新增";
					}else if(value==1){
						return "退款";
					}else if(value==2){
						return "转来款";
					}
				}},
				{field:'COMEMONEY_TIME',align:'center',width:20,title:'时间'},
				{field:'COMEMONEY',align:'center',width:20,title:'额度'},
				{field:'REMARK',align:'center',width:20,title:'备注'},
				{field:'ID',align:'center',width:20,title:'操作',formatter:function(value,rowData,rowIndex){
					return "<a href='$_basePath/base/grantCredit/CompanyCreditManager!showDetail.action?ID="+rowData.ID+"'>查看明细</a>";
				}}
			]]
		});
	});
	function openDiv(mm){
		$("#"+mm).dialog("open");
	}
	var sysaccountDialog;
	$(function(){
		sysaccountDialog=$(".sysaccountDialog");
		$(".sysaccount").click(function(){
			sysaccountDialog.load("$_basePath/base/grantCredit/CompanyCreditManager!showClientInfo.action?COMPANY_ID="+$!map.COMPANY_ID);
			sysaccountDialog.dialog({
				autoOpen:true,
				width:500,
				height:400,
				title:'承租人信息',
				modal:true
			});
		});
	});
	function optionClient(vv,dd){
		$(".sysaccountCode[name='CLIENT_NAME']").val(vv);
		$(".sysaccountCode[name='CLIENT_ID']").val(dd);
		sysaccountDialog.dialog("close");
	}
	function submit_add(aa){
		var COMPANY_MONEY_BZJ = $("input[name='COMPANY_MONEY_BZJ']").val();
        var COMPANY_MONEY_BZJ_YE = $("input[name='COMPANY_MONEY_BZJ_YE']").val();
        var T_HEAD_ID = $("input[name='ID']").val();
		var COMPANY_ID = $("input[name='COMPANY_ID']").val();
		var COMEMONEY_TIME = '';
		var ACCEPTMONEY_NAME = '';
		var COMEMONEY = '';
		var ACCEPTMONEY_ZH = '';
		var COMEMONEY_NAME = '';
		var OPENBANK = '';
		var COMEMONEY_ZH = '';
		var REMARK = '';
		var COMEMONEY_OPENBANK = '';
		$("#addF").each(function(){
			COMEMONEY_TIME = $("input[name='COMEMONEY_TIME']").val();
			ACCEPTMONEY_NAME = $("input[name='ACCEPTMONEY_NAME']").val();
			COMEMONEY = $("input[name='COMEMONEY']").val();
			ACCEPTMONEY_ZH = $("input[name='ACCEPTMONEY_ZH']").val();
			COMEMONEY_NAME = $("input[name='COMEMONEY_NAME']").val();
			OPENBANK = $("input[name='OPENBANK']").val();
			COMEMONEY_ZH = $("input[name='COMEMONEY_ZH']").val();
			REMARK = $("#REMARK").val();
			COMEMONEY_OPENBANK = $("input[name='COMEMONEY_OPENBANK']").val();
		});
		if(COMEMONEY_TIME=='' || COMEMONEY=='' ){
			$.messager.alert("提示","新增保证金金额和时间不能为空，请输入",'info',function(){
			
			});
		}else{
			if(COMEMONEY <= 0){
				$.messager.alert("提示","新增保证金金额不能小于零，请重新输入正值",'info',function(){
					
				});
			}else{
				if(COMEMONEY_ZH=='' || COMEMONEY_OPENBANK==''){
					$.messager.alert("提示","来款账号、来款开户行不能为空，请输入",'info',function(){
			
					});
				}else{
					jQuery.ajaxFileUpload({
            		  url:"$_basePath/base/grantCredit/CompanyCreditManager!insertBZJ_Info.action?COMPANY_MONEY_BZJ="+COMPANY_MONEY_BZJ+"&COMPANY_MONEY_BZJ_YE="+COMPANY_MONEY_BZJ_YE+"&T_HEAD_ID="+T_HEAD_ID+"&COMPANY_ID="+COMPANY_ID
            		  +"&COMEMONEY_TIME="+COMEMONEY_TIME+"&ACCEPTMONEY_NAME="+ACCEPTMONEY_NAME+"&COMEMONEY="+COMEMONEY+"&ACCEPTMONEY_ZH="+ACCEPTMONEY_ZH+"&COMEMONEY_NAME="+COMEMONEY_NAME+"&OPENBANK="+OPENBANK
            		  +"&COMEMONEY_ZH="+COMEMONEY_ZH+"&REMARK="+REMARK+"&COMEMONEY_OPENBANK="+COMEMONEY_OPENBANK,
            		  dataType:'json',
            		  fileElementId:'FILE_PATH',
            		  success:function(rel){
            		  	eval("rel="+rel);
            		  	if(rel.flag==true){
            			  $("input[name='COMPANY_MONEY_BZJ']").val(rel.data.COMPANY_MONEY_BZJ);
            			  $("input[name='COMPANY_MONEY_BZJ_YE']").val(rel.data.COMPANY_MONEY_BZJ_YE);
            			  $("input[name='COMPANY_MONEY_RATIO']").val(rel.data.COMPANY_MONEY_RATIO);
            			  $("#addF").form("reset");	
            			  $("#add").dialog("close");
            			  $("#bzjTab").datagrid("reload");
            			}
            		  }
            		});
				}
			}
		}
		
	}
	function submit_refund(aa){
		var REFUND_TIME = '';
		var COMEMONEY = '';
		var BZJMONEY_YE = $!map.COMPANY_MONEY_BZJ_YE;
		$("#reF").each(function(){
			COMEMONEY = $("input[name='REFUND_NUMBER']").val();
			REFUND_TIME = $("input[name='REFUND_TIME']").val();
		});
		if(REFUND_TIME=='' || COMEMONEY==''){
			$.messager.alert("提示","退款金额和退款时间不能为空，请输入！！",'info',function(){
			});
		}else{
			if(COMEMONEY > BZJMONEY_YE || COMEMONEY <= 0){
    			$.messager.alert("提示","您输入金额大于保证金余额"+BZJMONEY_YE+"或小于零,请重新输入",'info',function(){
        			
        		});
    		}else{
            	jQuery.ajax({
            	  url:'$_basePath/base/grantCredit/CompanyCreditManager!refund_BZJ_Info.action',
            	  data:"param="+getParam(aa),
            	  dataType:'json',
            	  success:function(rel){
            	  	if(rel.flag==true){
            		  $("#reF").form("reset");	
            		  $("#refund").dialog("close");
            		  $.messager.alert("提示","发起流程成功！",'info',function(){
            			$.messager.alert("提示",rel.msg+rel.data,"info",function(){
            				;
            			});
            		  });
            			$("#showPage").html("");
            		    $("#showPage").load("$_basePath/base/grantCredit/CompanyCreditManager!pageDataCS.action");
            		}else {
            			$.messager.alert("提示","发起流程失败！",'info',function(){
            				
            			});
            		}
            	  }
            	});
    		}
		}
		
	}
	function submit_convert(aa){
		var COMEMONEY = '';
		var CONVERT_TIME = '';
		var CLIENT_NAME = '';
		var BZJMONEY_YE = $!map.COMPANY_MONEY_BZJ_YE;
		
		$("#convertF").each(function(){
			COMEMONEY = $("input[name='CONVERT_MONEY']").val();
			CONVERT_TIME = $("input[name='CONVERT_TIME']").val();
			CLIENT_NAME = $("input[name='CLIENT_NAME']").val();
		});
		if(COMEMONEY=='' || CONVERT_TIME=='' || CLIENT_NAME==''){
			$.messager.alert("提示","转来款金额、时间和承租人不能为空，请输入！！",'info',function(){
			
			});
		}else{
			if(COMEMONEY > BZJMONEY_YE || COMEMONEY <= 0){
    			$.messager.alert("提示","您输入金额大于保证金余额"+BZJMONEY_YE+"或小于零,请重新输入",'info',function(){
        			
        		});
    		}else{
    			jQuery.ajax({
        		  url:'$_basePath/base/grantCredit/CompanyCreditManager!convert_BZJ_Info.action',
        		  data:"param="+getParam(aa),
        		  dataType:'json',
        		  success:function(rel){
        		  	$("input[name='COMPANY_MONEY_BZJ']").val(rel.data.COMPANY_MONEY_BZJ);
        			  $("input[name='COMPANY_MONEY_BZJ_YE']").val(rel.data.COMPANY_MONEY_BZJ_YE);
        			  $("input[name='COMPANY_MONEY_RATIO']").val(rel.data.COMPANY_MONEY_RATIO);
        			  $("#convertF").form("reset");	
        			  $("#convert_ComeMoney").dialog("close");
        			  $("#bzjTab").datagrid("reload");
        		  }
        		});
    		}
		}
	}
	function getParam(attr){
		var sub2 = new Array();
		var tem = {};
		tem.COMPANY_MONEY_BZJ = $("input[name='COMPANY_MONEY_BZJ']").val();
        tem.COMPANY_MONEY_BZJ_YE = $("input[name='COMPANY_MONEY_BZJ_YE']").val();
        tem.T_HEAD_ID = $("input[name='ID']").val();
		if(attr=='refund'){
			$("#reF").each(function(){
				tem.COMEMONEY_TIME = $("input[name='REFUND_TIME']").val();
				tem.RECEIVEMONEY_COMPANY = $("input[name='RECEIVEMONEY_COMPANY']").val();
    			tem.ACCEPTMONEY_NAME = $("input[name='RECEIVEMONEY_NAME']").val();
    			tem.COMEMONEY = $("input[name='REFUND_NUMBER']").val();
    			tem.ACCEPTMONEY_ZH = $("input[name='RECEIVEMONEY_ZH']").val();
    			tem.COMEMONEY_NAME = $("input[name='PAYMENT_NAME']").val();
    			tem.OPENBANK = $("input[name='OPENBANK_CS']").val();
    			tem.COMEMONEY_ZH = $("input[name='PAYMENT_ZH']").val();
				tem.REMARK = $("#REMARK2").val();
    			tem.COMEMONEY_OPENBANK = $("input[name='OPENBANK_RZZL']").val();
			});
		}else if(attr=='convert'){
			$("#convertF").each(function(){
				tem.COMEMONEY_TIME = $("input[name='CONVERT_TIME']").val();
    			tem.COMEMONEY = $("input[name='CONVERT_MONEY']").val();
				tem.CLIENT_NAME = $("input[name='CLIENT_NAME']").val();
			    tem.CLIENT_ID = $("input[name='CLIENT_ID']").val();
    			tem.REMARK = $("#REMARK3").val();
				tem.ACCEPTMONEY_NAME = $("input[name='ACCEPTMONEY_NAME']").val();
    			tem.ACCEPTMONEY_ZH = $("input[name='ACCEPTMONEY_ZH']").val();
    			tem.OPENBANK = $("input[name='OPENBANK']").val();
    			tem.COMEMONEY_NAME = $("input[name='COMEMONEY_NAME']").val();
    			tem.COMEMONEY_ZH = $("input[name='COMEMONEY_ZH']").val();
    			tem.COMEMONEY_OPENBANK = $("input[name='COMEMONEY_OPENBANK']").val();
			});
		}
		sub2.push(tem);
		return encodeURI(JSON.stringify(sub2));
	}
	
 </script>
</head>
<body>
<div id="pageForm" style="padding:20px;height:auto">
	<table style="margin:5px;width:80%;" >
		<tr>
			<td><input type="hidden" name="ID" value="$!map.ID" /></td>
			<td><input type="hidden" name="COMPANY_ID" value="$!map.COMPANY_ID" /></td>
		</tr>
		<tr>
			<td align="right">厂商：</td>
			<td><input type="text" name="COMPANY_NAME" value="$!map.COMPANY_NAME"></td>
			<td align="right">保证金合计：</td>
			<td><input type="text" name="COMPANY_MONEY_BZJ" value="$!map.COMPANY_MONEY_BZJ"></td>
			<td><a href="javascript:void(0);" onclick="openDiv('add');" class="easyui-linkbutton" iconCls="icon-add">添加</a></td>
			#if($!map.ID!=0)
			<td><a href="javascript:void(0);" onclick="openDiv('refund');" class="easyui-linkbutton" iconCls="icon-cancel">退款</a></td>
			<td><a href="javascript:void(0);" onclick="openDiv('convert_ComeMoney');" class="easyui-linkbutton" iconCls="icon-save">转来款</a></td>
			#end
		</tr>
		<tr>
			<td align="right">保证金余额：</td>
			<td><input type="text" name="COMPANY_MONEY_BZJ_YE" value="$!map.COMPANY_MONEY_BZJ_YE"></td>
			<td align="right">使用率：</td>
			<td colspan="3"><input type="text" name="COMPANY_MONEY_RATIO" value="$!map.COMPANY_MONEY_RATIO"></td>
		</tr>
	</table>
 </div>
 <table id="bzjTab"></table>
 <div id="add" style="width:550px; height:300px; padding: 10px 20px;" class="easyui-dialog" closed="true" title="添加" modal="true">
		<form id="addF" method="post" action="" enctype="multipart/form-data">
			<table width="100%" cellspacing="1" cellpadding="0">
				<tr>
					<td align="right">来款时间：</td>
					<td><input type="text" name="COMEMONEY_TIME" class="easyui-datebox" required="true" /></td>
					<td align="right">收款户名：</td>
					<td><input type="text" name="ACCEPTMONEY_NAME" value="$!map.COMPANY"/></td>
				</tr>
				<tr>
					<td align="right">来款金额：</td>
					<td><input type="text" name="COMEMONEY" required="true"/></td>
					<td align="right">收款账号：</td>
					<td><input type="text" name="ACCEPTMONEY_ZH" value="$!map.FA_ACCOUNT" /></td>
				</tr>
				<tr>
					<td align="right">来款户名：</td>
					<td><input type="text" name="COMEMONEY_NAME" required="true" value="$!map.COMPANY_NAME"/></td>
					<td align="right">收款开户行：</td>
					<td><input type="text" name="OPENBANK" value="$!map.FA_BINK"/></td>
				</tr>
				<tr>
					<td align="right">来款账号：</td>
					<td><input type="text" name="COMEMONEY_ZH" value="$!map.OPEN_BANK_ACCOUNT" required="true"/></td>
					<td align="right">上传附件：</td>
					<td><input type="file" name="FILE_PATH" id="FILE_PATH"/></td>
				</tr>
				<tr>
					<td align="right">来款开户行：</td>
					<td><input type="text" name="COMEMONEY_OPENBANK" value="$!map.OPEN_BANK" required="true"/></td>
					<td align="right">备注：</td>
					<td><textarea name="REMARK" id="REMARK"/></td>
				</tr>
			</table>
		</form>
		<div>
			<center>
			<a href="javascript:void(0);" class="easyui-linkbutton" onclick="submit_add('add');" iconCls="icon-save">保存</a>
			</center>
		</div>
	</div>
	<div id="refund" class="easyui-dialog" title="退款" closed="true" modal="true" style="width:500px; height:250px; padding: 10px 20px;" >
		<form id="reF">
			<table width="100%" cellspacing="1" cellpadding="0">
				<tr>
					<td align="right">退款时间：</td>
					<td><input type="text" name="REFUND_TIME" class="easyui-datebox" required="true" /></td>
					<td align="right">收款单位：</td>
					<td><input type="text" name="RECEIVEMONEY_COMPANY" value="$!map.COMPANY_NAME"/></td>
				</tr>
				<tr>
					<td align="right">退款额度：</td>
					<td><input type="text" name="REFUND_NUMBER" /></td>
					<td align="right">收款户名：</td>
					<td><input type="text" name="RECEIVEMONEY_NAME" value="$!map.COMPANY_NAME"/></td>
				</tr>
				<tr>
					<td align="right">付款户名：</td>
					<td><input type="text" name="PAYMENT_NAME" value="$!map.COMPANY" /></td>
					<td align="right">收款账号：</td>
					<td><input type="text" name="RECEIVEMONEY_ZH" value="$!map.OPEN_BANK_ACCOUNT"/></td>
				</tr>
				<tr>
					<td align="right">付款账号：</td>
					<td><input type="text" name="PAYMENT_ZH" value="$!map.FA_ACCOUNT" /></td>
					<td align="right">收款开户行：</td>
					<td><input type="text" name="OPENBANK_CS" value="$!map.OPEN_BANK"/></td>
				</tr>
				<tr>
					<td align="right">来款开户行：</td>
					<td><input type="text" name="OPENBANK_RZZL" value="$!map.FA_BINK" /></td>
					<td align="right">备注：</td>
					<td><textarea name="REMARK" id="REMARK2"/></td>
				</tr>
			</table>
		</form>
		<div>
			<center>
			<a href="javascript:void(0);" class="easyui-linkbutton" onclick="submit_refund('refund');" iconCls="icon-save">保存</a>
			</center>
		</div>
	</div>
	<div id="convert_ComeMoney" class="easyui-dialog" title="转来款" modal="true" closed="true" style="width:500px; height:250px; padding: 10px 20px;">
		<form id="convertF">
			<table width="100%" cellspacing="2" cellpadding="0">
				<tr>
					<td align="right">时间：</td>
					<td><input type="text" name="CONVERT_TIME" class="easyui-datebox" required="true" /></td>
					<td align="right">额度：</td>
					<td><input type="text"  name="CONVERT_MONEY" /></td>
				</tr>
				<tr>
					<td align="right">承租人：</td>
					<td>
						<input type="text" readonly class="sysaccountCode sysaccount noEmpty" name="CLIENT_NAME" />
						<input type="hidden" readonly class="sysaccountCode sysaccount noEmpty" name="CLIENT_ID" />
					</td>
					<td align="right">备注：</td>
					<td><textarea name="REMARK" id="REMARK3"/></td>
				</tr>
				<tr>
					<input type="hidden" name="ACCEPTMONEY_NAME" value="$!map.COMPANY"/>
					<input type="hidden" name="ACCEPTMONEY_ZH" value="$!map.FA_ACCOUNT"/>
					<input type="hidden" name="OPENBANK" value="$!map.FA_BINK"/>
					<input type="hidden" name="COMEMONEY_NAME" value="$!map.COMPANY_NAME"/>
					<input type="hidden" name="COMEMONEY_ZH" value="$!map.OPEN_BANK_ACCOUNT"/>
					<input type="hidden" name="COMEMONEY_OPENBANK" value="$!map.OPEN_BANK"/>
				</tr>
			</table>
		</form>
		<div>
			<center>
			<a href="javascript:void(0);" class="easyui-linkbutton" onclick="submit_convert('convert');" iconCls="icon-save">保存</a>
			</center>
		</div>
	</div>
 <div class="sysaccountDialog ui-jqgrid"></div>
</body>
</html>