<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>供应商授信管理</title>
	#parse("content/importBase.vm")
	<script>
		$(function(){
			$("#pageTable").datagrid({
				pagination:true,
				fit:true,
				fitColumns:true,
				rownumbers:true,
				singleSelect:true,
				url:'$_basePath/base/grantCredit/SupplierCreditManager!pageData.action',
				toolbar:'#pageForm',
				columns:[[
					{field:'bb',width:20,title:'操作',align:'center',formatter:function(value,rowData,rowIndex){
						if(rowData.CUGP_ID==''||rowData.CUGP_ID==null||rowData.CUGP_ID==undefined||rowData.CUGP_ID=='undefined'){
							return "<a href='javascript:void(0)' onclick='addSupplierCredit("+rowData.SUP_ID+")'>添加授信</a>";
						}else{
							return "<a href='javascript:void(0)' onclick='addSupplierCredit("+rowData.SUP_ID+")'>添加授信</a>||<a href='javascript:void(0)' onclick='showSupplierCredit("+rowData.CUGP_ID+")'>查看</a>";
						}
					}},
					{field:'SUP_NAME',width:20,title:'供应商全称',align:'center'},
					{field:'SUPPLIERS_BZJ',width:20,title:'保证金',align:'center'},
					{field:'SUPPLIERS_BZJ_YE',width:20,title:'保证金余额',align:'center'},
					{field:'SUPPLIERS_BZJ_RATIO',width:20,title:'保证金比率',align:'center'},
					{field:'STATUS',width:20,title:'授信状态',align:'center'},
					{field:'CUGP_CODE',width:20,title:'授信编号',align:'center'},
					{field:'ALL_GRANT_PRICE',width:20,title:'授信总额',align:'center'},
					{field:'GRANT_PRICE',width:20,title:'控制额度',align:'center'},
					{field:'LAST_PRICE',width:20,title:'授信余额',align:'center'},
					{field:'REPEAT_CREDIT',width:20,title:'授信方式',align:'center'},
					{field:'START_DATE',width:20,title:'授信开始日期',align:'center'},
					{field:'END_DATE',width:20,title:'授信结束日期',align:'center'},
					{field:'CREATE_DATE',width:20,title:'授信创建日期',align:'center'},
					{field:'ID',width:20,hidden:true,title:'ID',align:'center'}
				]],
				onLoadSuccess:function(date){
					if (data.rows.length > 0) {
                    	$('#pageTable').datagrid('selectRow', 0);
                    	$("#SUP_ID").val(data.rows[0].SUP_ID);
                    	$("#SUP_NAME").val(data.rows[0].SUP_NAME);
						$("#SUPPLIERS_BZJ").val(data.rows[0].SUPPLIERS_BZJ);
        				$("#SUPPLIERS_BZJ_YE").val(data.rows[0].SUPPLIERS_BZJ_YE);
        				$("#SUPPLIERS_BZJ_TATIO").val(data.rows[0].SUPPLIERS_BZJ_TATIO);
        				$("#ID").val(data.rows[0].ID);
                    }
				},
				onClickRow:function(index,data){
					$("#SUP_ID").val(data.SUP_ID);
        			$("#SUP_NAME").val(data.SUP_NAME);
        			$("#SUPPLIERS_BZJ").val(data.SUPPLIERS_BZJ);
        			$("#SUPPLIERS_BZJ_YE").val(data.SUPPLIERS_BZJ_YE);
        			$("#SUPPLIERS_BZJ_RATIO").val(data.SUPPLIERS_BZJ_RATIO);
        			$("#ID").val(data.ID);
				}
			});
		});
		function se(){
			var SUP_NAME=$("input[name='SUP_NAME']").val();
			$('#pageTable').datagrid('load',{"SUP_NAME":SUP_NAME});
		}
	##	 function rowformater(value,row,index){
    ##        return "<a href=javascript:void(0) onclick=addParentTabs('供应商明细','$!_basePath/base/suppliers/Suppliers!getShowDetail.action?SUP_ID="+row.SUP_ID+"')>"+value+"</a>";
    ##    }
		
		function clearMess(){
		    $("#form01 input").val("");
		}
		
		function addConfig(value,row){
			if(row.CUGP_ID==''||row.CUGP_ID==null||row.CUGP_ID==undefined||row.CUGP_ID=='undefined'){
				return "<a href='javascript:void(0)' onclick='addSupplierCredit("+row.SUP_ID+")'>添加授信</a>";
			}else{
				return "<a href='javascript:void(0)' onclick='addSupplierCredit("+row.SUP_ID+")'>添加授信</a>||<a href='javascript:void(0)' onclick='showSupplierCredit("+row.CUGP_ID+")'>查看</a>";
			}
		}
		function addSupplierCredit(SUP_ID){
			top.addTab("添加授信","$_basePath/base/grantCredit/SupplierCreditManager!toAddSupplierCredit.action?SUP_ID="+SUP_ID);
		}
		function showSupplierCredit(CUGP_ID){
			top.addTab("查看授信","$_basePath/base/grantCredit/SupplierCreditManager!toShowSupplierCredit.action?CUGP_ID="+CUGP_ID);
		}
    </script>
</head>
<body  class="easyui-layout">
		<div id="pageForm" style="padding:20px;height:auto">	
			<form id="form01" method="post" >
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
    			<tr>
            	  <td>
					供应商名称：
					<input class="input_03" type="text" size ="20" name="SUP_NAME"/>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查询</a>&nbsp;
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearMess()">清空</a>
    			  </td>
                </tr>
    	    </table>
			</form>
		</div>		    
		<table id="pageTable"></table>
  </body>
</html>