
<div id="suveryDialog" >

    <form id="suverySave" method="post" action="CreditRepayment!doSaveSurvey.action">
		<input type="hidden" id="alldata" name="alldata"/>
	</form>
		<table cellpadding="0" cellspacing="0" class="table_01" style="text-align:center;">
		<input type="hidden" id="suvery_CREDIT_ID" name="CREDIT_ID" value="$!param.CREDIT_ID">
		<input type="hidden" id="suvery_ID" name="ID" value="$!survey.ID">
			<tr>
            <td style="text-align:center;">
			  <table cellpadding="0" cellspacing="0" class="table_01" style="text-align:center;">
              <tr> 
                <td>
                    <input type="checkbox" disabled="disabled" name="FINANCING_PURP_CHECK" id="FINANCING_PURP_CHECK" #if($!survey.FINANCING_PURP_CHECK=='1')checked #end value="1">
                </td>
                <td>
                    融资用途是否真实
                </td>
                <td>
					<input type="radio" disabled="disabled" name ="FINANCING_PURP_TYPE" #if($!survey.FINANCING_PURP_TYPE=='1')checked #end value="1"/>是<input type="radio" name ="FINANCING_PURP_TYPE" #if($!survey.FINANCING_PURP_TYPE=='0')checked #end value="0"/>否
				</td>		
                <td>
					<textarea name="FINANCING_PURP" disabled="disabled" Id ="FINANCING_PURP"cols=60>$!survey.FINANCING_PURP</textarea>
                </td>
             </tr>
			
			 <tr> 
                <td>
                    <input type="checkbox" disabled="disabled" name="FALSE_INFORM_CHECK" id="FALSE_INFORM_CHECK" #if($!survey.FALSE_INFORM_CHECK=='1')checked #end value="1">
                </td>
                <td>
                    提供虚假信息 
                </td>
                <td>
					<input type="radio" disabled="disabled" name ="FALSE_INFORM_TYPE" #if($!survey.FALSE_INFORM_TYPE=='1')checked #end value="1"/>是<input type="radio" name ="FALSE_INFORM_TYPE"#if($!survey.FALSE_INFORM_TYPE=='0')checked #end value="0"/>否
				</td>		
                <td>
					<textarea name="FALSE_INFORM" disabled="disabled" id="FALSE_INFORM" cols=60>$!survey.FALSE_INFORM</textarea>
                </td>
            </tr>
			
			 <tr> 
                <td>
                    <input type="checkbox" disabled="disabled" name="PATROL_CHECK" id="PATROL_CHECK" #if($!survey.PATROL_CHECK=='1')checked #end value="1">
                </td>
                <td>
                    配合巡视 
                </td> 
                <td>
					<input type="radio" disabled="disabled" name ="PATROL_TYPE" #if($!survey.PATROL_TYPE=='1')checked #end value="1"/>是<input type="radio" name ="PATROL_TYPE" #if($!survey.PATROL_TYPE=='0')checked #end value="0"/>否
				</td>		
                <td>
					<textarea name="PATROL" disabled="disabled" id="PATROL" cols=60>$!survey.PATROL</textarea>
                </td>
            </tr>
			
			 <tr> 
                <td>
                    <input type="checkbox" disabled="disabled" name="INSURANCE_CHECK" id="INSURANCE_CHECK" #if($!survey.INSURANCE_CHECK=='1')checked #end value="1">
                </td>
                <td>
                    是否上保险 
                </td>
                <td>
					<input type="radio" disabled="disabled" name ="INSURANCE_TYPE" #if($!survey.INSURANCE_TYPE=='1')checked #end value="1"/>是<input type="radio" name ="INSURANCE_TYPE" #if($!survey.INSURANCE_TYPE=='0')checked #end value="0"/>否
				</td>		
                <td>
					<textarea name="INSURANCE" disabled="disabled" id="INSURANCE" cols=60>$!survey.INSURANCE</textarea>
                </td>
            </tr>
			
			<tr> 
                <td>
                    <input type="checkbox" disabled="disabled" name="INSTALL_GPS_CHECK" id="INSTALL_GPS_CHECK" #if($!survey.INSTALL_GPS_CHECK=='1')checked #end value="1">
                </td>
                <td>
                    是否安装gps
                </td>
                <td>
					<input type="radio" disabled="disabled" name ="INSTALL_GPS_TYPE" #if($!survey.INSTALL_GPS_TYPE=='1')checked #end value="1"/>是<input type="radio" name ="INSTALL_GPS_TYPE" #if($!survey.INSTALL_GPS_TYPE=='0')checked #end value="0"/>否
				</td>		
                <td>
					<textarea name="INSTALL_GPS" disabled="disabled" id="INSTALL_GPS"cols=60>$!survey.INSTALL_GPS</textarea>
                </td>
            </tr>
			
			<tr> 
                <td>
                    <input type="checkbox" disabled="disabled" name="REPAYMENT_CHECK" id="REPAYMENT_CHECK" #if($!survey.REPAYMENT_CHECK=='1')checked #end value="1">
                </td>
                <td>
                    是否恶意不还款  
                </td>
                <td>
					<input type="radio" disabled="disabled" name ="REPAYMENT_TYPE" #if($!survey.REPAYMENT_TYPE=='1')checked #end value="1"/>是<input type="radio" name ="REPAYMENT_TYPE"#if($!survey.REPAYMENT_TYPE=='0')checked #end value="0"/>否
				</td>		
                <td>
					<textarea name="REPAYMENT" disabled="disabled" id="REPAYMENT" cols=60>$!survey.REPAYMENT</textarea>
                </td>
            </tr>
        </table>
			
			</td>
			</tr>
        </table>
     
</div>


