<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>待办审批任务</title>
#parse("/content/weixin/importBaseWx.vm")

<style type="text/css">
	.div01 .css_color{
		color:#979797
	}
</style>
<script type="text/javascript">
	$(function (){
		getData(false);
	});
	function getData(isappend){
		getPageData({
			isappend : isappend
			,htmlurl : '$!_basePath/weixin/Process!mytaskHTML.action'
			,dataurl : '$!_basePath/weixin/Process!nextPageJson.action'
			,dataParam : $('#qry_FM').serialize() +"&"+ $.param({
				page: isappend ? ( $('#__page').val()? parseInt($('#__page').val())+1 : 1) : 1 
				,rows: $("#__rows").val() ? $("#__rows").val() : 10 
				,t:'bc'
			})
		});
	}
</script>
</head>

<body>
#parse('/content/weixin/query_form.vmf')
<div class="" id="main_container">数据加载中...</div>
<div style="height:48px;"></div>
#parse('/content/weixin/flooter.vmf')
<input type="hidden" id="__page" value="1"/>
<input type="hidden" id="__rows" value="$!page.rows"/>
</body>
</html>
