<!DOCTYPE html>
<html>
<head>
	<title>审批批复</title>
	#parse("content/importBase.vm")
    <script type="text/javascript" src="$_basePath/approveComments/js/approveComment.js"></script>
</head>
<body>
	<div id="tabBox" class="easyui-tabs tabs-container" style="width:auto;height:500px;"></div>
	<script>
	   $(document).ready(function(){
	      top.addTab("test",_basePath+"/approveComments/ApproveComments.action?project_id=557936");
	   });
    </script>
</body>
</html>