<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="menu">
	
	<select id="getMenus" resultType="com.pqsoft.entity.Tree" parameterType="map">
		select id,name text,' ' iconCls,parent_id pid,'{url:"'||url||'"}' attributes from secu_menu 
		<if test="menu_id != null and menu_id != ''"> start with   parent_id = '${menu_id}'</if>
		connect by prior id = parent_id
		ORDER SIBLINGS BY ORDERNO 
	</select>
	
	<select id="getMenusOther" resultType="com.pqsoft.entity.Tree" parameterType="map">
SELECT ID,
       NAME TEXT,
       ' ' ICONCLS,
       PARENT_ID PID,
       '{url:"' || URL || '"}' ATTRIBUTES
  FROM SECU_MENU_V
 START WITH ID IN (SELECT SM1.ID
                     FROM (SELECT SM.ID,
                                  NAME,
                                  PARENT_ID,
                                  URL,
                                  ORDERNO,
                                  REPLACE(REGEXP_REPLACE(SM.PER_CODE, '[" ]*', ''), ',', '-') PER_CODE
                             FROM SECU_MENU SM
                            WHERE URL IS NOT NULL) SM1
                    WHERE SM1.PER_CODE IN
                          (SELECT REPLACE(PER_NAME, ',', '-') PER_NAME
                             FROM SECU_ORG B, SECU_ROLE_PER D, SECU_PER SP
                            WHERE B.ROLE_ID = D.ROLE_ID
                              AND SP.CODEALL = D.PER_NAME
                              AND SP.ADMIN != 2
                              AND B.ID = #{ORG_ID}
                              AND PER_NAME IS NOT NULL
                            GROUP BY PER_NAME)
                       OR PER_CODE IS NULL)
CONNECT BY PRIOR PARENT_ID = ID
 GROUP BY ID, NAME, PARENT_ID, URL, ORDERNO
 ORDER BY ORDERNO
	</select>
	
</mapper>
