    <style >
    	.text_height{height:36px;}
    </style>
	<script type ="text/javascript" src ="$_basePath/project/js/bigProject.js"></script>
    <form id="form01" method="post">
	<input type="hidden" name="shortLoan" id="shortLoan"/>
	<input type="hidden" name="longLoan" id="longLoan"/>
	<input type="hidden" name="landHouse" id="landHouse"/>
	<input type="hidden" name="bankCun" id="bankCun"/>
	<input type="hidden" name="haveEqs" id="haveEqs"/>
	<input type="hidden" name="otherAssets" id="otherAssets"/>
	<input type="hidden" name="assureLandHouse" id="assureLandHouse"/>
	<input type="hidden" name="assureBankCun" id="assureBankCun"/>
	<input type="hidden" name="assureHaveEqs" id="assureHaveEqs"/>
	<input type="hidden" name="assureOtherAssets" id="assureOtherAssets"/>
    <table  cellpadding="0" cellspacing="0" class="table_01">
    	#if($!proInfo.TYPE=='2')
    		##个人
			<tbody id="NP">
            <tr class="text_height">
        		<td colspan="4" align="center">
					<font style="font-size:24;font-weight:900">大项目情况介绍(个人)</font>
				</td>
                <td align="center" style="width:180px">
					<font style="font-size:24;font-weight:900">信审部门意见</font>
				</td>
        	</tr>
        	<tr class="text_height">
        		<td colspan="5"><font style="font-size:24;font-weight:900">一、项目信息</font></td>
        	</tr>
        	<tr class="text_height">
                <td>租赁物</td>
                <td><input type="text" name="LEASE" id="LEASE" value="$!proInfo.LEASE"/></td>
                <td >数量</td>
                <td><input type="text" name="AMOUNT" id="AMOUNT" value="$!proInfo.AMOUNT"/></td>
                <td rowspan="6">
    				<textarea name="PROJECT_OPINION" id="PROJECT_OPINION" cols="25" rows="10">$!proInfo.PROJECT_OPINION</textarea>
    			</td>
            </tr>
        	<tr class="text_height">
                <td >项目金额</td>
                <td><input type="text" name="PROJECT_MONEY" id="PROJECT_MONEY" value="$!proInfo.PROJECT_MONEY"/></td>
                <td >首付比例</td>
                <td><input type="text" name="FIRST_PERCENT" id="FIRST_PERCENT" value="$!proInfo.FIRST_PERCENT"/></td>
            </tr>
        	<tr class="text_height">
                <td >租赁期限</td>
                <td><input type="text" name="LEASE_TERM" id="LEASE_TERM" value="$!proInfo.LEASE_TERM"/></td>
                <td >首付垫款</td>
                <td><input type="text" name="FIRST_ADVANCES" id="FIRST_ADVANCES" value="$!proInfo.FIRST_ADVANCES"/></td>
            </tr>
        	<tr class="text_height">
                <td  colspan="4">项目资料情况介绍(资料是否齐全，所差资料及原因)</td>
            </tr>
        	<tr class="text_height">
                <td rowspan="2" colspan="4">
    				<textarea id="PROJECT_DATE_INTRODUCT" name="PROJECT_DATE_INTRODUCT" rows="2" cols="100">$!proInfo.PROJECT_DATE_INTRODUCT</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="4">&nbsp;</td>
            </tr>
			
    		<tr class="text_height">
        		<td colspan="5"><font style="font-size:24;font-weight:900">二、承租人情况介绍</font></td>
            </tr>
    		<tr class="text_height">
                <td >姓名</td>
                <td><input type="text" name="CLIENT_NAME" id="CLIENT_NAME" value="$!proInfo.CLIENT_NAME"/></td>
                <td >年龄</td>
                <td><input type="text" name="CLIENT_AGE" ID="CLIENT_AGE" value="$!proInfo.CLIENT_AGE"/></td>
                <td rowspan="$!client_row"><textarea name="CLIENT_OPINION" id="CLIENT_OPINION" cols="25" rows="80">$!proInfo.CLIENT_OPINION</textarea></td>
            </tr>
    		<tr class="text_height">
    			<td >籍贯</td>
                <td><input type="text" name="CLIENT_HOMETOWN" id="CLIENT_HOMETOWN" value="$!proInfo.CLIENT_HOMETOWN"/></td>
    			<td >住所地</td>
                <td><input type="text" name="LOCATION_ADDRESS" id="LOCATION_ADDRESS" value="$!proInfo.LOCATION_ADDRESS"/></td>
            </tr>
    		<tr  class="text_height">
                <td colspan="4" >承租人个人简介(施工经验、社会关系等)</td>
            </tr>
    		<tr  class="text_height">
    			<td colspan="4" rowspan="2">
    				<textarea id="CLIENT_SUMMARY" name="CLIENT_SUMMARY" rows="2" cols="100">$!proInfo.CLIENT_SUMMARY</textarea>
                </td>
            </tr>
    		<tr  class="text_height">
    			<td colspan="4">&nbsp;</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">承租人资产实力评估</font></td>
            </tr>	
    		<tr class="text_height">
    			<td >项目</td>
    			<td >明细</td>
    			<td colspan="2">评估价值</td>
            </tr>
##			<tbody id="CLIENT_FANG" style="height:36px">
    		<tr class="text_height" id="CLIENT_FANG" >
                <td >房产</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_FANG','one')">添加</a></td>
            </tr>
			#foreach($item in $!landHouse)
			<tr class="text_height">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##    		<tbody id="CLIENT_CUN" style="height:36px">
    		<tr class="text_height" id="CLIENT_CUN">
                <td >银行存款</td>
                <td  colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_CUN','one')">添加</a></td>
            </tr>
			#foreach($item in $!bankCun)
			<tr class="text_height">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody id="CLIENT_EQ" style="height:36px">
    		<tr class="text_height" id="CLIENT_EQ">
                <td>现有设备</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_EQ','one')">添加</a></td>
            </tr>
    		#foreach($item in $!haveEqs)
			<tr class="text_height">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody id="CLIENT_OTHER" style="height:36px">
    		<tr class="text_height" id="CLIENT_OTHER">
                <td>其他有价证券（国库券、股票等）</td>
    			<td colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_OTHER','one')">添加</a></td>
            </tr>
			#foreach($item in $!otherAssets)
			<tr class="text_height">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
    		<tr class="text_height">	
                <td  colspan="2">合计</td>
    			<td colspan="2">
    				<input type="text" name="CLIENT_ASSETS_TOTAL" id="CLIENT_ASSETS_TOTAL" value="$!proInfo.CLIENT_ASSETS_TOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td >银行流水</td>
				<td>
					<input type="text" name="BANK_WATER" id="BANK_WATER" value="$!proInfo.BANK_WATER"/>
                </td>
                <td>平均月入账</td>
    			<td>
    				<input type="text" name="BANK_WATER_AVGMONTH" id="BANK_WATER_AVGMONTH" value="$!proInfo.BANK_WATER_AVGMONTH"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td >工程结款单</td>
				<td>
					<input type="text" name="SETTLE_BILL" id="SETTLE_BILL" value="$!proInfo.SETTLE_BILL"/>
                </td>
                <td>平均月入账</td>
    			<td >
    				<input type="text" name="SETTLE_BILL_AVGMONTH" id="SETTLE_BILL_AVGMONTH" value="$!proInfo.SETTLE_BILL_AVGMONTH"/>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">工程施工情况介绍</font></td>
            </tr>	
    		<tr class="text_height">
                <td  colspan="4">矿方简介</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">
    				<textarea name="MINE_CLC" id="MINE_CLC" cols="100" rows="2">$!proInfo.MINE_CLC</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">工程开工情况介绍（是否开工、工况情况、爆破量等）</td>
            </tr> 	
    		<tr class="text_height">
                <td  colspan="4">
    				<textarea name="START_CONDITION" id="START_CONDITION" cols="100" rows="2">$!proInfo.START_CONDITION</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">工程结算(结算方式、以往结款单、每月结款是否顺畅)</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">
    				<textarea name="SETTLE_CONDITION" id="SETTLE_CONDITION" cols="100" rows="2">$!proInfo.SETTLE_CONDITION</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td>
    				矿方是否担保
    			</td>
    			<td colspan="3">
    				<textarea name="MINE_IF_ASSURE" id="MINE_IF_ASSURE" cols="100" rows="2">$!proInfo.MINE_IF_ASSURE</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">盈利分析(台/月)</font></td>
            </tr>
    		<tr class="text_height">
                <td colspan="4" >收入:</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >1、运价</td>
                <td colspan="2">
    				<input type="text" name="TRAIFFS" id="TRAIFFS" value="$!proInfo.TRAIFFS"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >2、运量</td>
                <td colspan="2">
    				<input type="text" name="TRAFFIC" id="TRAFFIC" value="$!proInfo.TRAFFIC"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >3、平均出勤</td>
                <td colspan="2">
    				<input type="text" name="AVG_ATTENDANCE" id="AVG_ATTENDANCE" value="$!proInfo.AVG_ATTENDANCE"/> 	
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >4、收入小计(注:4=1*2*3)</td>
                <td colspan="2">
    				<input type="text" name="INCOME_SUBTOTAL" id="INCOME_SUBTOTAL" value="$!proInfo.INCOME_SUBTOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="4" >费用</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >6、燃油</td>
                <td colspan="2">
    				<input type="text" name="FUEL_PRICE" id="FUEL_PRICE" value="$!proInfo.FUEL_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >7、工资</td>
                <td colspan="2">
    				<input type="text" name="WAGE_PRICE" id="WAGE_PRICE" value="$!proInfo.WAGE_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >8、配件</td>
                <td colspan="2">
    				<input type="text" name="FITTING_PRICE" id="FITTING_PRICE" value="$!proInfo.FITTING_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >9、维修</td>
                <td colspan="2">
    				<input type="text" name="SERVICE_PRICE" id="SERVICE_PRICE" value="$!proInfo.SERVICE_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >10、费用小计(注:10=6+7+8+9)</td>
                <td colspan="2">
    				<input type="text" name="OUTLAY_SUBTOTAL" id="OUTLAY_SUBTOTAL" value="$!proInfo.OUTLAY_SUBTOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >11、利润合计(注:11=4-10)</td>
                <td colspan="2">
    				<input type="text" name="PROFIT_TOTAL" id="PROFIT_TOTAL" value="$!proInfo.PROFIT_TOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >12、应付月租金</td>
                <td colspan="2">
    				<input type="text" name="COPE_RENT" id="COPE_RENT" value="$!proInfo.COPE_RENT"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >13、盈利净值(注:13=11-12)</td>
                <td colspan="2">
    				<input type="text" name="NET_PROFIT" id="NET_PROFIT" value="$!proInfo.NET_PROFIT"/>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">三、担保人基本情况</font></td>
                <td>&nbsp;</td>
            </tr>
    		<tr class="text_height">
                <td >姓名</td>
                <td>
    				<input type="text" name="ASSURE_NAME" id="ASSURE_NAME" value="$!proInfo.ASSURE_NAME"/>
    			</td>
                <td >年龄</td>
                <td>
    				<input type="text" name="ASSURE_AGE" id="ASSURE_AGE" value="$!proInfo.ASSURE_AGE"/>
    			</td>
                <td rowspan="$!assure_row"> 	 	
    				&nbsp;<textarea name="ASSURE_OPINION" id="ASSURE_OPINION" cols="25" rows="26">$!proInfo.ASSURE_OPINION</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td >籍贯</td>
                <td>
    				<input type="text" name="ASSURE_HOMETOWN" id="ASSURE_HOMETOWN" value="$!proInfo.ASSURE_HOMETOWN"/>
    			</td>
                <td >住所地</td>
                <td>
    				<input type="text" name="ASSURE_LOCATION" id="ASSURE_LOCATION" value="$!proInfo.ASSURE_LOCATION"/>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">担保人简介</font></td>
            </tr>
    		<tr class="text_height">
                <td colspan="4">
    				<textarea name="ASSURE_PERSON_MESS" id="ASSURE_PERSON_MESS" cols="100" rows="3">$!proInfo.ASSURE_PERSON_MESS</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">担保人资产实力评估</font></td>
            </tr>
    		<tr class="text_height">
                <td >项目</td>
                <td >明细</td>
                <td >评估价值</td>
                <td></td>
            </tr>
##			<tbody id="ASSURE_FANG">
    		<tr class="text_height" id="ASSURE_FANG">
                <td >房产</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_FANG','one')">添加</a> </td>
            </tr>
			#foreach($item in $!assureLandHouse)
    		<tr class="text_height">
				<td>&nbsp;</td>
                <td>
    				<input type="text" name="DETAIL"  />
    			</td>
                <td>
    			    <input type="text" name="WORTH_MONEY" />
    			</td>
                <td></td>
            </tr>
			#end
##            </tbody>
			
##			<tbody id="ASSURE_CUN">
    		<tr class="text_height" id="ASSURE_CUN">
                <td >银行存款</td>
				<td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_CUN','one')">添加</a> </td>
            </tr>
			#foreach($item in $!assureBankCun)
    		<tr class="text_height">
				<td>&nbsp;</td>
                <td>
    				<input type="text" name="DETAIL"  />
    			</td>
                <td>
    			    <input type="text" name="WORTH_MONEY" />
    			</td>
                <td></td>
            </tr>
			#end
##            </tbody>
##			<tbody id="ASSURE_EQ">
    		<tr class="text_height" id="ASSURE_EQ">
                <td>现有设备</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_EQ','one')">添加</a> </td>
            </tr>
    		#foreach($item in $!assureHaveEqs)
    		<tr class="text_height">
				<td>&nbsp;</td>
                <td>
    				<input type="text" name="DETAIL"  />
    			</td>
                <td>
    			    <input type="text" name="WORTH_MONEY" />
    			</td>
                <td></td>
            </tr>
			#end
##            </tbody>
##			<tbody id="ASSURE_OTHER">
    		<tr class="text_height" id="ASSURE_OTHER">
                <td>其他有价证券（国库券、股票等）</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_OTHER','one')">添加</a></td>
            </tr>
			#foreach($item in $!assureOtherAssets)
    		<tr class="text_height">
				<td>&nbsp;</td>
                <td>
    				<input type="text" name="DETAIL"  />
    			</td>
                <td>
    			    <input type="text" name="WORTH_MONEY" />
    			</td>
                <td></td>
            </tr>
			#end
			
 ##           </tbody>
    		<tr class="text_height">
                <td colspan="2">合计</td>
                <td>
    			    <input type="text" name="ASSURE_ASSETS_TOTAL" id="ASSURE_ASSETS_TOTAL" value="$!proInfo.ASSURE_ASSETS_TOTAL"/>
    			</td>
                <td></td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">四、项目风险分析</font></td>
                <td align="center"></td>
            </tr>
    		<tr class="text_height">
    			<td colspan="4">
    				<textarea name="PROJECT_RISK_ANALYZE" id="PROJECT_RISK_ANALYZE" cols="100" rows="3">$!proInfo.PROJECT_RISK_ANALYZE</textarea>
                </td>
                <td></td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">五、现场结论</font></td>
                <td align="center"></td>
            </tr>
    		<tr class="text_height">
    			<td colspan="4">
    				<textarea name="SITE_CONCLUSION" id="SITE_CONCLUSION" cols="100" rows="3">$!proInfo.SITE_CONCLUSION
    				
    				
    				
    				供应商(签字盖章):
    				</textarea>
                </td>
                <td></td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">六、厂家办事处意见</font></td>
                <td align="center"></td>
            </tr>
    		<tr class="text_height">
    			<td colspan="4">
    				<textarea name="COMPANY_SUGGEST" id="COMPANY_SUGGEST" cols="100" rows="3">$!proInfo.COMPANY_SUGGEST
    				
    				
    				
    				厂家办事处(签字):
    				</textarea>
                </td>
                <td></td>
            </tr>
			</tbody>
    	#else
    		##法人
			<tbody id="LP">
            <tr class="text_height">
        		<td colspan="4" align="center"><font style="font-size:24;font-weight:900">大项目情况介绍(法人)</font></td>
                <td align="center" style="width:180px"><font style="font-size:24;font-weight:900">信审部门意见</font></td>
        	</tr>
        	<tr class="text_height">
        		<td colspan="5"><font style="font-size:24;font-weight:900">一、项目信息</font></td>
        	</tr>
        	<tr class="text_height">
                <td>租赁物</td>
                <td><input type="text" name="LEASE" id="LEASE" value="$!proInfo.LEASE"/></td>
                <td >数量</td>
                <td><input type="text" name="AMOUNT" id="AMOUNT" value="$!proInfo.AMOUNT"/></td>
                <td rowspan="6">
    				<textarea name="PROJECT_OPINION" id="PROJECT_OPINION" cols="25" rows="10">$!proInfo.PROJECT_OPINION</textarea>
    			</td>
            </tr>
        	<tr class="text_height">
                <td >项目金额</td>
                <td><input type="text" name="PROJECT_MONEY" id="PROJECT_MONEY" value="$!proInfo.PROJECT_MONEY"/></td>
                <td >首付比例</td>
                <td><input type="text" name="FIRST_PERCENT" id="FIRST_PERCENT" value="$!proInfo.FIRST_PERCENT"/></td>
            </tr>
        	<tr class="text_height">
                <td >租赁期限</td>
                <td><input type="text" name="LEASE_TERM" id="LEASE_TERM" value="$!proInfo.LEASE_TERM"/></td>
                <td >首付垫款</td>
                <td><input type="text" name="FIRST_ADVANCES" id="FIRST_ADVANCES" value="$!proInfo.FIRST_ADVANCES"/></td>
            </tr>
        	<tr class="text_height">
                <td  colspan="4">项目资料情况介绍(资料是否齐全，所差资料及原因)</td>
            </tr>
        	<tr class="text_height">
                <td rowspan="2" colspan="4">
    				<textarea id="PROJECT_DATE_INTRODUCT" name="PROJECT_DATE_INTRODUCT" rows="2" cols="100">$!proInfo.PROJECT_DATE_INTRODUCT</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="4">&nbsp;</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="5"><font style="font-size:24;font-weight:900">二、承租人情况介绍</font></td>
            </tr>
    		<tr class="text_height">
                <td >公司名称</td>
                <td><input type="text" name="CLIENT_NAME" id="CLIENT_NAME" value="$!proInfo.CLIENT_NAME"/></td>
                <td >注册资本</td>
                <td><input type="text" name="REGIST_CAPITAL" ID="REGIST_CAPITAL" value="$!proInfo.REGIST_CAPITAL"/></td>
                <td rowspan="$!client_row"><textarea name="CLIENT_OPINION" id="CLIENT_OPINION" cols="25" rows="100">$!proInfo.CLIENT_OPINION</textarea></td>
            </tr>
    		<tr class="text_height">
    			<td >住所地</td>
                <td><input type="text" name="LOCATION_ADDRESS" id="LOCATION_ADDRESS" value="$!proInfo.LOCATION_ADDRESS"/></td>
    			<td >法人代表</td>
                <td><input type="text" name="LEGAL_REP" id="LEGAL_REP" value="$!proInfo.LEGAL_REP"/></td>
            </tr>
    		<tr  class="text_height">
    			<td >公司主营业务</td>
                <td><input type="text" name="MAIN_BUSINESS" id="MAIN_BUSINESS" value="$!proInfo.MAIN_BUSINESS"/></td>
    			<td >员工人数</td>
                <td><input type="text" name="STAFF_NUMBER" id="STAFF_NUMBER" value="$!proInfo.STAFF_NUMBER"/></td>
            </tr>
    		<tr  class="text_height">
                <td colspan="4" >公司简介(公司发展历程及相关经历)</td>
            </tr>
    		<tr  class="text_height">
    			<td colspan="4" rowspan="2">
    				<textarea id="CLIENT_SUMMARY" name="CLIENT_SUMMARY" rows="2" cols="100">$!proInfo.CLIENT_SUMMARY</textarea>
                </td>
            </tr>
    		<tr  class="text_height">
    			<td colspan="4">&nbsp;</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">承租人财务信息</font></td>
            </tr>	
    		<tr class="text_height">
    			<td colspan="4">项目</td>
            </tr>
    		<tr class="text_height">
                <td>上年度营业收入</td>
                <td colspan="3"><input type="text" name="FIRSTHALF_OPERATE_INCOME" id="FIRSTHALF_OPERATE_INCOME" value="$!proInfo.FIRSTHALF_OPERATE_INCOME"/></td>
            </tr>
    		<tr class="text_height">
                <td>上年度净利润</td>
    			<td colspan="3">
    				<input type="text" name="FIRSTHALF_NET_PROFIT" id="FIRSTHALF_NET_PROFIT" value="$!proInfo.FIRSTHALF_NET_PROFIT"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td >截至目前今年营业收入</td>
    			<td colspan="3">
    				<input type="text" name="TOTAL_OPERATE_INCOME" id="TOTAL_OPERATE_INCOME" value="$!proInfo.TOTAL_OPERATE_INCOME"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td>截止目前今年净利润</td>
                <td colspan="3"><input type="text" name="TOTAL_NET_PROFIT" id="TOTAL_NET_PROFIT" value="$!proInfo.TOTAL_NET_PROFIT"/></td>
            </tr>
    		<tr class="text_height">
                <td ></td>
                <td >贷款银行</td>
                <td>到期日</td>
    			<td>
    				金额
    			</td>
            </tr>
##			<tbody id="CLIENT_SHORT_JIE">
    		<tr class="text_height" id="CLIENT_SHORT_JIE">
                <td>短期借款</td>
    			<td colspan="3">
					<a href="javascript:void(0)" onclick="addrow('CLIENT_SHORT_JIE','two')">添加</a>
				</td>
            </tr>
			#foreach($item in $!shortLoan)
			<tr class="text_height" name="CLIENT_SHORT_JIE">
                <td>&nbsp;</td>
    			<td>
    				<input type="text" name="DETAIL"  value="$!item.DETAIL"/>
    			</td>
    			<td>
    				<input type="text" name="END_TIME" value="$!item.END_TIME"/>
    			</td>
    			<td>
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody id="CLIENT_LONG_JIE">
    		<tr class="text_height" id="CLIENT_LONG_JIE">
                <td>长期借款</td>
    			<td colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_LONG_JIE','two')">添加</a></td>
            </tr>
			#foreach($item in $!longLoan)
			<tr class="text_height" name="CLIENT_LONG_JIE">
                <td>&nbsp;</td>
    			<td>
    				<input type="text" name="DETAIL"  value="$!item.DETAIL"/>
    			</td>
    			<td>
    				<input type="text" name="END_TIME" value="$!item.END_TIME"/>
    			</td>
    			<td>
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
    		<tr class="text_height">
                <td>公司净资产</td>
    			<td colspan="3">
    				<input type="text" name="COMPANY_NET_ASSETS"  id="COMPANY_NET_ASSETS" value="$!proInfo.COMPANY_NET_ASSETS"/>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">承租人资产情况</font></td>
            </tr>	
    		<tr class="text_height">
                <td>项目</td>
                <td>明细</td>
                <td colspan="2">评估价值</td>
            </tr>
##			<tbody id="CLIENT_FANG">
    		<tr class="text_height" id="CLIENT_FANG">
                <td>土地房产</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_FANG','one')">添加</a></td>
            </tr>
			#foreach($item in $!landHouse)
			<tr class="text_height" name="CLIENT_FANG" >
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody >
    		<tr class="text_height" id="CLIENT_EQ">
                <td >现有设备</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('CLIENT_EQ','one')">添加</a></td>
            </tr>
    		#foreach($item in $!haveEqs)
			<tr class="text_height" name="CLIENT_EQ">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody >
    		<tr class="text_height" id="CLIENT_OTHER">
                <td >其他有价证券（国库券、股票等）</td>
                <td colspan="3"> <a href="javascript:void(0)" onclick="addrow('CLIENT_OTHER','one')">添加</a></td>
            </tr>
			#foreach($item in $!otherAssets)
			<tr class="text_height" name="CLIENT_OTHER" >
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
    		<tr class="text_height">
                <td colspan="2">合计</td>
                <td colspan="2"><input type="text" name="CLIENT_ASSETS_TOTAL" id="CLIENT_ASSETS_TOTAL" value="$!proInfo.CLIENT_ASSETS_TOTAL"/></td>
            </tr>
    		<tr class="text_height">
                <td>银行流水</td>
                <td><input type="text" name="BANK_WATER" id="BANK_WATER" value="$!proInfo.BANK_WATER"/></td>
                <td>平均月入账</td>
                <td><INPUT type="text" name="BANK_WATER_AVGMONTH" id="BANK_WATER_AVGMONTH" value="$!proInfo.BANK_WATER_AVGMONTH"/></td>
            </tr>
    		<tr class="text_height">
                <td>工程结款单</td>
				<td><input type="text" name="SETTLE_BILL" id="SETTLE_BILL" value="$!proInfo.SETTLE_BILL"/></td>
                <td>平均月入账</td>
                <td><INPUT type="text" name="SETTLE_BILL_AVGMONTH" id="SETTLE_BILL_AVGMONTH" value="$!proInfo.SETTLE_BILL_AVGMONTH"/></td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">工程施工情况介绍</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">矿方简介</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">
    				<textarea name="MINE_CLC" id="MINE_CLC" cols="100" rows="2">$!proInfo.MINE_CLC</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">工程开工情况介绍（是否开工、工况情况、爆破量等）</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">
    				<textarea name="START_CONDITION" id="START_CONDITION" cols="100" rows="2">$!proInfo.START_CONDITION</textarea>
    			</td>
            </tr> 	
    		<tr class="text_height">
                <td  colspan="4">工程结算(结算方式、以往结款单、每月结款是否顺畅)</td>
            </tr>
    		<tr class="text_height">
                <td  colspan="4">
    				<textarea name="SETTLE_CONDITION" id="SETTLE_CONDITION" cols="100" rows="2">$!proInfo.SETTLE_CONDITION</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td>
    				矿方是否担保
    			</td>
    			<td colspan="3">
    				<textarea name="MINE_IF_ASSURE" id="MINE_IF_ASSURE" cols="100" rows="2"> $!proInfo.MINE_IF_ASSURE</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">盈利分析(台/月)</font></td>
            </tr>
    		<tr class="text_height">
                <td colspan="4" >收入:</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >1、运价</td>
                <td colspan="2">
    				<input type="text" name="TRAIFFS" id="TRAIFFS" value="$!proInfo.TRAIFFS"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >2、运量</td>
                <td colspan="2">
    				<input type="text" name="TRAFFIC" id="TRAFFIC" value="$!proInfo.TRAFFIC"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >3、平均出勤</td>
                <td colspan="2">
    				<input type="text" name="AVG_ATTENDANCE" id="AVG_ATTENDANCE" value="$!proInfo.AVG_ATTENDANCE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >4、收入小计(注:4=1*2*3)</td>
                <td colspan="2">
    				<input type="text" name="INCOME_SUBTOTAL" id="INCOME_SUBTOTAL" value="$!proInfo.INCOME_SUBTOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="4" >费用</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >6、燃油</td>
                <td colspan="2">
    				<input type="text" name="FUEL_PRICE" id="FUEL_PRICE" value="$!proInfo.FUEL_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >7、工资</td>
                <td colspan="2">
    				<input type="text" name="WAGE_PRICE" id="WAGE_PRICE" value="$!proInfo.WAGE_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >8、配件</td>
                <td colspan="2">
    				<input type="text" name="FITTING_PRICE" id="FITTING_PRICE" value="$!proInfo.FITTING_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >9、维修</td>
                <td colspan="2">
    				<input type="text" name="SERVICE_PRICE" id="SERVICE_PRICE" value="$!proInfo.SERVICE_PRICE"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >10、费用小计(注:10=6+7+8+9)</td>
                <td colspan="2">
    				<input type="text" name="OUTLAY_SUBTOTAL" id="OUTLAY_SUBTOTAL" value="$!proInfo.OUTLAY_SUBTOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >11、利润合计(注:11=5-10)</td>
                <td colspan="2"> 	
    				<input type="text" name="PROFIT_TOTAL" id="PROFIT_TOTAL" value="$!proInfo.PROFIT_TOTAL"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >12、应付月租金</td>
                <td colspan="2">
    				<input type="text" name="COPE_RENT" id="COPE_RENT" value="$!proInfo.COPE_RENT"/>
    			</td>
            </tr>
    		<tr class="text_height">
                <td colspan="2" >13、盈利净值(注:13=11-12)</td>
                <td colspan="2">
    				<input type="text" name="NET_PROFIT" id="NET_PROFIT" value="$!proInfo.NET_PROFIT"/>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">三、担保人基本情况</font></td>
				<td>&nbsp;</td>
            </tr>
    		<tr class="text_height">
                <td >姓名</td>
                <td>
    				<input type="text" name="ASSURE_NAME" id="ASSURE_NAME" value="$!proInfo.ASSURE_NAME"/>
    			</td>
                <td >年龄</td>
                <td>
    				<input type="text" name="ASSURE_AGE" id="ASSURE_AGE" value="$!proInfo.ASSURE_AGE"/>
    			</td>
                <td rowspan="$!assure_row">
    				&nbsp;<textarea name="ASSURE_OPINION" id="ASSURE_OPINION" cols="25" rows="30">$!proInfo.ASSURE_OPINION</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
                <td >籍贯</td>
                <td>
    				<input type="text" name="ASSURE_HOMETOWN" id="ASSURE_HOMETOWN" value="$!proInfo.ASSURE_HOMETOWN"/>
    			</td>
                <td >住所地</td>
                <td>
    				<input type="text" name="ASSURE_LOCATION" id="ASSURE_LOCATION" value="$!proInfo.ASSURE_LOCATION"/>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">担保人简介</font></td>
            </tr>
    		<tr class="text_height">
                <td colspan="4">
    				<textarea name="ASSURE_PERSON_MESS" id="ASSURE_PERSON_MESS" cols="100" rows="3">$!proInfo.ASSURE_PERSON_MESS</textarea>
    			</td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:16;font-weight:600">担保人资产实力评估</font></td>
            </tr>
    		<tr class="text_height">
                <td >项目</td>
                <td >明细</td>
                <td >评估价值</td>
                <td></td>
            </tr>
##			<tbody id="ASSURE_FANG">
    		<tr class="text_height" id="ASSURE_FANG">
                <td >房产</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_FANG','one')">添加</a></td>
            </tr>
    		#foreach($item in $!assureLandHouse)
			<tr class="text_height" name="ASSURE_FANG">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody id="ASSURE_CUN">
    		<tr class="text_height" id="ASSURE_CUN">
                <td >银行存款</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_CUN','one')">添加</a></td>
            </tr>
			#foreach($item in $!assureBankCun)
			<tr class="text_height" name="ASSURE_CUN">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody id="ASSURE_EQ">
    		<tr class="text_height" id="ASSURE_EQ">
                <td >现有设备</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_EQ','one')">添加</a></td>
            </tr>
    		#foreach($item in $!assureHaveEqs)
			<tr class="text_height" name="ASSURE_EQ">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
##			<tbody id="ASSURE_OTHER">
    		<tr class="text_height" id="ASSURE_OTHER">
                <td >其他有价证券（国库券、股票等）</td>
                <td colspan="3"><a href="javascript:void(0)" onclick="addrow('ASSURE_OTHER','one')">添加</a></td>
            </tr>
			#foreach($item in $!assureOtherAssets)
			<tr class="text_height" name="ASSURE_OTHER">
                <td >&nbsp;</td>
                <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
    			<td colspan="2">
    				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
    			</td>
            </tr>
			#end
##            </tbody>
    		<tr class="text_height">
                <td  colspan="2">合计</td>
                <td>
    			<input type="text" name="ASSURE_ASSETS_TOTAL" id="ASSURE_ASSETS_TOTAL" value="$!proInfo.ASSURE_ASSETS_TOTAL"/>
    			</td>
                <td></td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">四、项目风险分析</font></td>
                <td align="center"></td>
            </tr>
    		<tr class="text_height">
    			<td colspan="4">
    				<textarea name="PROJECT_RISK_ANALYZE" id="PROJECT_RISK_ANALYZE" cols="100" rows="3">$!proInfo.PROJECT_RISK_ANALYZE</textarea>
                </td>
                <td></td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">五、现场结论</font></td>
                <td align="center"></td>
            </tr>
    		<tr class="text_height">
    			<td colspan="4">
    				<textarea name="SITE_CONCLUSION" id="SITE_CONCLUSION" cols="100" rows="3">$!proInfo.SITE_CONCLUSION
    				
    				
    				
    				供应商(签字盖章):
    				</textarea>
                </td>
                <td></td>
            </tr>
    		<tr class="text_height">
        		<td colspan="4"><font style="font-size:24;font-weight:900">六、厂家办事处意见</font></td>
                <td align="center"></td>
            </tr>
    		<tr class="text_height">
    			<td colspan="4">
    				<textarea name="COMPANY_SUGGEST" id="COMPANY_SUGGEST" cols="100" rows="3">$!proInfo.COMPANY_SUGGEST
    				
    				
    				
    				厂家办事处(签字):
    				</textarea>
                </td>
                <td></td>
            </tr>
			</tbody>
		#end
		<tr class="text_height" style="display:none" id="one">
            <td >&nbsp;</td>
            <td><input type="text" name="DETAIL" value="$!item.DETAIL"/></td>
			<td colspan="2">
				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
			</td>
        </tr>
		<tr class="text_height" style="display:none" id="two">
            <td>&nbsp;</td>
			<td>
				<input type="text" name="DETAIL"  value="$!item.DETAIL"/>
			</td>
			<td>
				<input type="text" name="END_TIME" value="$!item.END_TIME"/>
			</td>
			<td>
				<input type="text" name="WORTH_MONEY" value="$!item.WORTH_MONEY"/>
			</td>
        </tr>
    </table>
	<div align="center">
		<input type="hidden" name="PROJECT_ID" id="PROJECT_ID" value="$!PROJECT_ID"/>
		<input type="hidden" name="HEAD_ID" id="HEAD_ID" value="$!proInfo.HEAD_ID"/>
		<input type="hidden" name="REPORT_TYPE" id="REPORT_TYPE" value="$!proInfo.TYPE"/>
		<a href="javascript:void('0')" id="saveButton" class="easyui-linkbutton" iconCls="icon-save" onclick="saveMessForBigPro()">保存</a>
    </div>
    </form>