#parse("content/importBase.vm")
<script type="text/javascript">
	$(function(){
		$("#zcbimpdiv").dialog("close");
	})
</script>
<script type="text/javascript" src="$_basePath/project/js/project.js"></script>
<script type="text/javascript" src="$_basePath/project/finance_Project/js/util.js"></script>
<input type="hidden" name="PLATFORM" id="PLATFORM" value="$!conMap.PLATFORM"/>
<input type="hidden" name="CUSTOMER_ID" id="CUSTOMER_ID" value="$!param.CUSTOMER_ID" alt="客户ID">
<input type="hidden" name="CUSTOMER_TYPE" id="CUSTOMER_TYPE" value="$!param.CUSTOMER_TYPE"  alt="客户类型">
<input type="hidden" name="CUSTOMER_NAME" id="CUSTOMER_NAME" value="$!param.CUSTOMER_NAME"  alt="客户名称">
<input type="hidden" name="SUPPLIERS_FLAG" id="SUPPLIERS_FLAG" value="$!conMap.SUPPLIERS_FLAG"  alt="供应商唯一标示">
<input type="hidden" name="PROJECT_ADD" id="PROJECT_ADD" value="PROJECT_ADD"/>
<input type="hidden" name="SUP_ID" id="SUP_ID" value="$!conMap.SUPPLIERS_ID"/>
<input type="hidden" name="SUP_SHORTNAME" id="SUP_SHORTNAME" value="$!conMap.SUP_SHORTNAME"/>
<input type="hidden" name="COMPANY_ID_" id="COMPANY_ID_" value="$!conMap.COMPANY_ID"/>
<input type="hidden" name="BUSINESS_SECTOR" id="BUSINESS_SECTOR" value="$!conMap.BUSINESS_SECTOR"/>
<table class="table_01" cellpadding="0" cellspacing="0" width="98%" id='projectTab'  fit="true">
		<tr align="left">
			<td class="text_right">项目名称：</td>
			<td >
				<input type="text" id="PROJECT_NAME" name="PROJECT_NAME" size="40" value="$!PROJECT_NAME">&nbsp;&nbsp;<span style="color:red">*</span>
			</td>
			<td  class="text_right">使用区域：</td>
			<td>
				<select name="PROJECT_AREA" id="PROJECT_AREA" class="headClass">
					<option value="">--请选择--</option>	
					#foreach($item in $AREAS)
						<option sid="$!item.ID" #if($!custProject.PROJECT_AREA==$!item.NAME)selected#end value="$!item.ID">$!item.NAME</option>						
					#end
				</select>
			</td>
		</tr>
		<tr align="left">
			<td  class="text_right">组织机构名称：</td>
			<td>
				<select class="ORD_ID" id="ORD_ID" name="ORD_ID">
					#foreach($item in $ORG)
						<option #if($!custProject.ORD_ID==$!item.ORG_ID)selected #end value="$!item.ORG_ID">$!item.ORG_NAME</option>
					#end
                </select>
			</td>
			<td  class="text_right">供应商：</td>
			<td>
				$!conMap.SUPPLIERS_NAME
			</td>
		</tr>
		<tr>
			<td  class="text_right">厂商：</td>
			<td>
				$!conMap.COMPANY_NAME
				<input type="hidden" name="COMPANY_NAME1" value="$!conMap.COMPANY_NAME"/>
			</td>
			<td  class="text_right">验收日期：</td>
			<td>
				<input type="text" id="DELIVER_DATE" name="DELIVER_DATE" size="15" class="easyui-datebox">&nbsp;&nbsp;<span style="color:red">*</span>
			</td>			
		 </tr>
		 <tr>
			<td  class="text_right">交货地点：</td>
			<td  #if($!conMap.COMPANY_NAME!='陕重汽'||$!conMap.SUP_LEVEL!='A')colspan="3"#end>
				<input type="text" id="DELIVER_ADDRESS" name="DELIVER_ADDRESS" size="40" >&nbsp;&nbsp;<span style="color:red">*</span>
			</td>
			#if($!conMap.COMPANY_NAME=='陕重汽'&&$!conMap.SUP_LEVEL=='A')
			<td  class="text_right">厂方编号：</td>
			<td >
				<input type="text" name="COMPANY_CODE" id="COMPANY_CODE" size="15"/>(供厂方审核使用)&nbsp;&nbsp;<span style="color:red">*</span>
				<input type="hidden" name="SUP_LEVEL" id="SUP_LEVEL" value="$!conMap.SUP_LEVEL"/>
			</td>
			#else
				<input type="hidden" name="SUP_LEVEL" id="SUP_LEVEL"/>
				<input type="hidden" name="COMPANY_CODE" id="COMPANY_CODE"/>
			#end
			<input type="hidden" name="PROJECT_MODEL" id="PROJECT_MODEL" value="$!conMap.PROJECT_MODEL"  #foreach($item in $PROJECT_MODEL_LIST) #if($!conMap.PROJECT_MODEL==$!item.CODE) SHOT_NAME="$!item.SHORTNAME"  MODEL_NAME="$!item.FLAG"  #end #end/>
		 </tr>
		</table>
		
		<DIV style="height:20PX"></DIV>
    
		<div style="overflow-x:scroll;height:auto;" class="easyui-panel"  data-options="border:false" >
            		<table id="equipmentTab" cellpadding="0" cellspacing="0" class="table_02" >
        				<tr>
							<td #if($!conMap.PROJECT_MODEL=='3')  colspan="14" #else colspan="12" #end class="table_th">设备信息
        						<a href="#" onclick="copyTr('eq_template','eq_body')" class="easyui-linkbutton"  plain="true" iconCls="icon-add">添加</a>&nbsp;&nbsp;&nbsp;
        						<a href="#" onclick="deleteTr('eq_body');countMoney()" class="easyui-linkbutton"  plain="true" iconCls="icon-remove">删除</a>
        						#if($!conMap.PROJECT_MODEL=='6')
									<a href="#" onclick="ExpZCBModel()" class="easyui-linkbutton"  plain="true" iconCls="icon-down">导出资产包模板</a>
									<a href="#" onclick="OPENZCBModel()" class="easyui-linkbutton"  plain="true" iconCls="icon-up">导入资产包明细</a>
									<a href="#" onclick="DELZCBModel()" class="easyui-linkbutton"  plain="true" iconCls="icon-remove">删除资产包明细</a>
									<a href="#" onclick="QUERYZCBModel()" class="easyui-linkbutton"  plain="true" iconCls="icon-search">查看明细</a>
								#end
							</td>
        				</tr>
        				<tr class="trHead">
        					<td bgcolor="#fbfcfc" width="150">
        						<a style="width:60px; display: block; color:#000;">操作</a>
        					</td>
        					<td bgcolor="#fbfcfc"  width="80" >
        						设备名称
        					</td>
        					<td bgcolor="#fbfcfc" width="50" >
        						设备系列
        					</td>
                            <td bgcolor="#fbfcfc" width="40">
								型号
        					</td>
							<td bgcolor="#fbfcfc" width="50">
								出厂编号
        					</td>
							<td bgcolor="#fbfcfc" width="50">
								出厂日期
        					</td>
							<td bgcolor="#fbfcfc" width="50">
								发动机编号
        					</td>
							<td bgcolor="#fbfcfc" width="40">
								整机编号/车架号
        					</td>
        					##<td bgcolor="#fbfcfc"  width="60" >
        					##	留购价(元)
        					##</td>
        					<td bgcolor="#fbfcfc"  width="70" > 
        						指导价(元)
        					</td>
        					<td bgcolor="#fbfcfc"  width="30" >
        						数量
        					</td>
        					<td bgcolor="#fbfcfc"  width="40" >
        						单位
        					</td>
        					<td bgcolor="#fbfcfc"  width="80" >
        						小计（元）
        					</td>
							#if($!conMap.COMPANY_NAME=='潍柴重机')
							<td bgcolor="#fbfcfc" width="150px" class="hiddenTD">
								发电机型号
                            </td>
							<td bgcolor="#fbfcfc" width="150px" class="hiddenTD">
								发电机编号
                            </td>
							#elseif($!conMap.PROJECT_MODEL=='1')
								<td bgcolor="#fbfcfc" width="80px" class="hiddenTD">
									<span style="color:red">*</span>产地
								</td>
								<td bgcolor="#fbfcfc" width="100" class="hiddenTD">
									合格证书
								</td>
								<td bgcolor="#fbfcfc" width="100" class="hiddenTD">
									<span style="color:red">*</span>限乘人数
								</td>
								<td bgcolor="#fbfcfc" width="170" class="hiddenTD">
									<span style="color:red">*</span>机动车辆生产企业名称（全称）
								</td>
								<td bgcolor="#fbfcfc" width="100" class="hiddenTD">
									进口证明书号
								</td>
								<td bgcolor="#fbfcfc" width="100" class="hiddenTD">
									商检单号
								</td>
								<td bgcolor="#fbfcfc" width="100"  class="hiddenTD">
									吨位
								</td>
								<td bgcolor="#fbfcfc" width="250" class="hiddenTD">
									<span style="color:red">*</span>实际车辆开票名称（<span style="color:red">车辆类型</span>）
								</td>
								<td bgcolor="#fbfcfc" width="250" class="hiddenTD">
									<span style="color:red">*</span>实际车辆开票型号（<span style="color:red">车厂牌型号</span>）
								</td>
							#elseif($!conMap.PROJECT_MODEL=='3')
								<td bgcolor="#fbfcfc" width="250" class="hiddenTD">
									<span style="color:red">*</span>实际车辆开票名称（<span style="color:red">车辆类型</span>）
								</td>
								<td bgcolor="#fbfcfc" width="250" class="hiddenTD">
									<span style="color:red">*</span>实际车辆开票型号（<span style="color:red">车厂牌型号</span>）
								</td>
							#end
        				</tr>
        				<tbody id="eq_body">
        					#set($eqTotal=0)
        					<tr class="eq_body_tr">
                                <td><input name="biaoji" id="biaoji" type="hidden" value="0"/>
                                      <input type="checkbox">
										
        						</td>
        						<td>
									<input name="COMPANY_CODE" ID="COMPANY_CODE" value="$!conMap.COMPANY_CODE" type="hidden">
        							<input name="COMPANY_ID" ID="COMPANY_ID" value="$!conMap.COMPANY_ID" type="hidden">
        							<input name="COMPANY_NAME" ID="COMPANY_NAME" value="$!conMap.COMPANY_NAME" type="hidden">
        							<input name="SUPPLIERS_ID" ID="SUPPLIERS_ID" value="$!conMap.SUPPLIERS_ID" type="hidden">
        							<input name="SUPPLIERS_NAME" ID="SUPPLIERS_NAME" value="$!conMap.SUPPLIERS_NAME" type="hidden">
        							<select name="THING_NAME" style="width:80px;" class="eqClass" onchange="queryEqType(this);BusPol()">
										<option value="">--请选择--</option>
        								#foreach($item in $!thingList)
        									<option value="$!item.PRODUCT_ID" test="$!item.PRODUCT_NAME">$!item.PRODUCT_NAME</option>
        								#end
        							</select>
        						</td>
        						<td >
        							<select name="PRODUCT_CATENA" style="width:90px;" onchange="queryEqSpec(this)" >
        								<option value="">--请选择--</option>
        							</select>
        						</td>
        						<td>
        							<select name="THING_SPEC"  style="width:90px;" CLASS="eqClass" onchange="getEqPrice(this)">
                                        <option >--请选择--</option>
                                    </select>
                                </td>
								<td>
        							<input type="text" name="WHOLE_ENGINE_CODE" size=10  value=""   style="width:90px;">
        						</td>
								<td>
        							<input type="text" name="CERTIFICATE_DATE" size=10  value=""   class="easyui-datebox" style="width:90px;">
        						</td>
								<td>
        							<input type="text" name="ENGINE_TYPE" size=8  value="" style="width:90px;"  >
        						</td>
								<td>
        							<input type="text" name="CAR_SYMBOL" size=8  value="" style="width:90px;" >
        						</td>
        						##<td>
        						##	<input type="text" name="STAYBUY_PRICE" size=8  value="" style="width:90px;"  onkeyup="doubleValue(this)">
        						##</td>
        						<td>
        							<input type="text" value="" size=8  name="UNIT_PRICE"  style="width:90px;text-align: right"  onchange="doubleValue(this);getTotal(this)">
        						</td>
								
        						<td>
        							<input type="text" name="AMOUNT" readonly  value="1" size=8  style="width:90px;"  onchange="zero(this);getTotal(this)">
        						</td>
        						<td>
        							<select name="UNIT" id="UNIT" style="width:90px;">
        								#foreach($item in $!unitList)
            								<option value="$!item.CODE" #if($item.CODE==$!eq.UNIT) selected="selected" #end>$!item.FLAG</option>
        								#end
        							</select>
        						</td>
        						<td>
        							#set($eqTotal=$eqTotal+$!eq.TOTAL)
        							<input type="text" name="TOTAL" readonly value="" size=10 onchange="getAllTotal()" class="eqClass">
        						</td>
    							#if($!conMap.COMPANY_NAME=='潍柴重机')
									<td bgcolor="#fbfcfc" width="150px" class="hiddenTD">
										<input name="GENERATOR_MODEL" id="GENERATOR_MODEL" style="width:90px">
									</td>
									<td bgcolor="#fbfcfc" width="150px" class="hiddenTD">
										<input name="GENERATOR_NUMBER" id="GENERATOR_NUMBER" style="width:90px">
									</td>
    							#elseif($!conMap.PROJECT_MODEL=='1')
									<td class="hiddenTD">
										<input name="PRODUCT_ADDRESS" id="PRODUCT_ADDRESS" style="width:90px">
									</td>
									<td class="hiddenTD">
										<input name="CERTIFICATE_NUM" id="CERTIFICATE_NUM" style="width:90px">
									</td>
									<td class="hiddenTD">
										<input name="LIMIT_NUM" id="LIMIT_NUM" style="width:90px">
									</td>
									<td class="hiddenTD">
										<input name="COMPANY_FULLNAME" id="COMPANY_FULLNAME" style="width:190px">
									</td>
									<td class="hiddenTD">
										<input name="IMPORT_NUM" id="IMPORT_NUM" style="width:90px">
									</td>
									<td class="hiddenTD">
										<input name="INSPEC_NUM" id="INSPEC_NUM" style="width:90px">
									</td>
									<td class="hiddenTD">
										<input name="TONNAGE" id="TONNAGE" style="width:90px">
									</td>
									<td class="hiddenTD">
										<input name="ACTUAL_PRODUCT_NAME" id="ACTUAL_PRODUCT_NAME" style="width:190px">
									</td>
									<td class="hiddenTD">
										<input name="ACTUAL_PRODUCT_TYPE" id="ACTUAL_PRODUCT_TYPE" style="width:190px">
									</td>
								#elseif($!conMap.PROJECT_MODEL=='3')
									<td class="hiddenTD">
										<input name="ACTUAL_PRODUCT_NAME" id="ACTUAL_PRODUCT_NAME" style="width:190px">
									</td>
									<td class="hiddenTD">
										<input name="ACTUAL_PRODUCT_TYPE" id="ACTUAL_PRODUCT_TYPE" style="width:190px">
									</td>
								#end
            				</tr>
        					
        				</tbody>
                           
        				   <tr style="display:none" id="eq_template">
                                <td><input name="biaoji" id="biaoji" type="hidden" value="0"/>
                                    <input type="checkbox" >
        						</td>
        						<td>
									<input name="COMPANY_CODE" ID="COMPANY_CODE" value="$!conMap.COMPANY_CODE" type="hidden">
        							<input name="COMPANY_ID" ID="COMPANY_ID" value="$!conMap.COMPANY_ID" type="hidden">
        							<input name="COMPANY_NAME" ID="COMPANY_NAME" value="$!conMap.COMPANY_NAME" type="hidden">
        							<input name="SUPPLIERS_ID" ID="SUPPLIERS_ID" value="$!conMap.SUPPLIERS_ID" type="hidden">
        							<input name="SUPPLIERS_NAME" ID="SUPPLIERS_NAME" value="$!conMap.SUPPLIERS_NAME" type="hidden">
        							<select name="THING_NAME" style="width:80px;" class="eqClass" onchange="queryEqType(this);BusPol()">
										<option value="">--请选择--</option>
        								#foreach($item in $!thingList)
        									<option value="$!item.PRODUCT_ID" test="$!item.PRODUCT_NAME">$!item.PRODUCT_NAME</option>
        								#end
        							</select>
        						</td>
        						<td>
        							<select name="PRODUCT_CATENA" style="width:90px;" onchange="queryEqSpec(this)" >
        								<option value="">--请选择--</option>
        							</select>
        						</td>
        						<td>
        							<select name="THING_SPEC"  style="width:90px;" CLASS="eqClass" onchange="getEqPrice(this)">
                                        <option >--请选择--</option>
                                    </select>
                                </td>
								<td>
        							<input type="text" name="WHOLE_ENGINE_CODE" size=10  value="" style="width:90px;"  >
        						</td>
								<td>
        							<input type="text" name="CERTIFICATE_DATE" size=10  value="" style="width:90px;" >
        						</td>
								<td>
        							<input type="text" name="ENGINE_TYPE" size=8  value="" style="width:90px;"  >
        						</td>
								<td>
        							<input type="text" name="CAR_SYMBOL" size=8  value="" style="width:90px;" >
        						</td>
        						##<td>
        						##	<input type="text" name="STAYBUY_PRICE" size=8  value="" style="width:90px;"   precision="2" onkeyup="doubleValue(this)">
        						##</td>
        						<td>
        							<input type="text" value="" size=8  name="UNIT_PRICE"  style="width:90px;text-align: right"  precision="2" onchange="doubleValue(this);getTotal(this)">
        						</td>
								
        						<td>
        							<input type="text" name="AMOUNT" readonly value="1" size=8 onchange="zero(this);getTotal(this)" style="width:90px;" >
        						</td>
        						<td>
        							
        							<select name="UNIT" id="UNIT" style="width:90px;">
        								#foreach($item in $!unitList)
            								<option value="$!item.CODE" #if($item.CODE==$!eq.UNIT) selected="selected" #end>$!item.FLAG</option>
        								#end
        							</select>
        						</td>
        						<td>
        							#set($eqTotal=$eqTotal+$!eq.TOTAL)
        							<input type="text" name="TOTAL" readonly value="" size=10 onchange="getAllTotal()" class="eqClass">
        						</td>
        				   </tr>
        				
        			</table>
			
        </div>
		
		 <table  cellpadding="0" cellspacing="0" class="table_01">
			<tr align="right">
				<td>合计（大写）：<span id="chinaAllTotal"></span> <input type="hidden"  chinese="#chinaAllTotal" value="$!eqTotal"/></td>
				<td width="100px">&nbsp;</td>
				<td>（小写：￥）<input name="LEASE_TOPRIC"  readonly="readonly"  value="$!eqTotal" id="LEASE_TOPRIC" style="text-align: right;"></td>
			</tr>
         </table>
		
			
        	<table cellpadding="0" cellspacing="0" class="table_01">
				<tr>
					<td class="table_th">商务政策（选择设备筛选商务政策）</td>
				</tr>
				<tr>
					<td id="BusinessPolicy_DIV"></td>
				</tr>
            </table>
        <DIV style="height:20PX"></DIV>
        
		<div style="text-align:center">
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-back" onclick="javascript:history.go(-1)">上一步</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-next" onclick="submitAddCustProject();">下一步</a>
    	</div>	
		<form action="$_basePath/project/project!projectAddForm.action" method="post" id="formPrjoctView" name="formPrjoctView">
    		<input id="ChangeViewData" name="ChangeViewData" type="hidden">
        </form>
			
		
		<div id="dlgFaPiao" class="easyui-dialog" title="查看" style="width:900px;height:450px;padding:10px; postion:absolute; top:10px; left:150px;">
			#parse("content/project/FAPIAOUPDAT.vm")
		</div>
		
		<div id="zcbimpdiv" class="easyui-dialog" title="资产包导入" style="width:300px;height:130px;padding:10px;">
			<form method="post" id="zcbform" enctype="multipart/form-data">
				<input type="file" name="ZCB" id="ZCB"/><br/><br/>
				<input type="hidden" name="FILE_PROJECT_NAME" id="FILE_PROJECT_NAME"/>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" onclick="IMPZCB();">导入</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeZCB();">关闭</a>
            </form>
		</div>