
		<script type="text/javascript" src="$_basePath/project/js/follow.js"></script>
		<script>
		$(document).ready(function(){
        			$(".datebox :text").attr("readonly","readonly");
        		});
        </script>

	<table class="table_02" cellpadding="0" cellspacing="0" width="98%">
		<tr align="left">
			<td class="BOX_title" width="100">项目名称</td>
			<td colspan="3">
				<input type="text" id="PROJECT_NAME" name="PROJECT_NAME"  readonly value="$!map.PRO_NAME">&nbsp;&nbsp;<span style="color:red">*</span>
				<input type="hidden" id="PROJECT_ID" name="PROJECT_ID" value="$!map.PROJECT_ID"/>
				##<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="addfollow('followproject','one1','one2')">添加</a>
			</td>
		</tr>
    </table>
	<table class="table_02" cellpadding="0" cellspacing="0" width="98%" id="Monitor">
		<tr align="left"  >
			<td colspan="6">
				<h2 >项目进度
                </h2>
            </td>
        </tr>
		<tr>
		<td class="BOX_title" width="100">预计成交时间</td>
		<td class="BOX_title" width="100">状态</td>
		<td class="BOX_title" width="100">跟进时间(开始)</td>
		<td class="BOX_title" width="100">跟进时间(结束)</td>
		<td class="BOX_title" width="100" >简述</td>
		<td class="BOX_title" width="100" >操作</td>
        </tr>
		#foreach($!item in $!custProject)
			<tr >
				<td >$!item.EXPECTED_DATE</td>
				<td >#foreach($!cust in $!codeType) #if($!cust.CODE==$!item.STATUS)$!cust.FLAG#end#end</td>
				<td >$!item.FOLLOW_START</td>
				<td >$!item.FOLLOW_END</td>
				<td >$!item.MEMO</td>
				<td ><a href="javascript:void(0)"   onclick="delfollow(this,$!item.ID)">删除</a></td>
            </tr>
		#end
    </table>
	<table class="table_02" cellpadding="0" cellspacing="0" width="98%" id='projectTab'>
		<tr align="left" class="followtr1">
			<td class="BOX_title" width="100">预计成交时间</td>
			<td width="150"><input type="text" name="EXPECTED_DATE" id="EXPECTED_DATE"  class="easyui-datebox" value=""><font color="red">*</font></td>
			<td class="BOX_title" width="100">状态</td>
			<td ><select id="STATUS" name="STATUS" class="headClass" >
					#foreach($!code in $!codeType)
                        <option value="$!code.CODE">$!code.FLAG</option>
					#end
                    </option>
				</select></td>
			<td class="BOX_title" width="100">跟进时间</td>
			<td >
				开始<input type="text" name="FOLLOW_START" id="FOLLOW_START" class="easyui-datebox" value=""><font color="red">*</font>
				结束<input type="text" name="FOLLOW_END" id="FOLLOW_END" class="easyui-datebox" value=""><font color="red">*</font>
			</td>
        </tr>
		<tr class="followtr2">
			<td class="BOX_title" width="100" >简述</td>
			<td colspan="5"><textarea id="MEMO" name="MEMO"  rows="3" cols="120" style="height:100" ></textarea></td>
		</tr >
		<tr id="followproject">
			<td colspan="6" align="center"   >
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" id="addsave" onclick="save2()">保存</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData()">清空</a>
            </td>
        </tr>
		##<tr class="text_height" style="display:none" id="one1" class="followtr1">
    	##	<td class="BOX_title" width="100">预计成交时间</td>
		##	<td width="100"><input type="text" name="EXPECTED_DATE"  class="easyui-datebox" value=""></td>
		##	<td class="BOX_title" width="100">状态</td>
		##	<td ><select id="STATUS" name="STATUS" class="headClass" >
		##			<option value="1">1
        ##            </option>
		##		</select></td>
		##	<td class="BOX_title" width="100">跟进时间</td>
		##	<td >
		##		开始<input type="text" name="FOLLOW_START"  class="easyui-datebox" value="">
		##		结束<input type="text" name="FOLLOW_END"  class="easyui-datebox" value="">
		##		<a href="#" sid="22"  plain="true" onclick="delfollow(this)">删除</a></td>
        ##    </td>
    	##	</tr > 
    	##	<tr class="text_height" style="display:none" id="one2" class="followtr2">
    	##		<td class="BOX_title" width="100" >內容</td>
    	##		<td colspan="5"><textarea id="MEMO" name="MEMO"  rows="3" cols="120" style="height:100" ></textarea></td>
    	##	</tr >
		</table>
		<table class="table_02" cellpadding="0" cellspacing="0" width="98%" id="Monitor1">
			<tr align="left"  >
			<td colspan="6">
				<h2 >花费记录
                </h2>
            </td>
        </tr>
    		<tr>
        		<td class="BOX_title" width="100">时间</td>
        		<td class="BOX_title" width="100">花费项目</td>
        		<td class="BOX_title" width="100">花费金额</td>
        		<td class="BOX_title" width="100" >备注</td>
				<td class="BOX_title" width="100">操作</td>
            </tr>
		#foreach($!item in $!SPEND)
			<tr >
				<td >$!item.SPEND_DATE</td>
				<td >#foreach($!cust1 in $!codeType1) #if($!cust1.CODE==$!item.SPEND_STATUS)$!cust1.FLAG#end#end</td>
				<td >$!item.SPEND_MONEY</td>
				<td >$!item.SPEND_MEMO</td>
				<td ><a href="javascript:void(0)"   onclick="delspend(this,$!item.ID)">删除</a></td>
            </tr>
		#end
    </table>
	<table class="table_02" cellpadding="0" cellspacing="0" width="98%" >
		<tr align="left" class="followtr1">
			<td class="BOX_title" width="100">时间</td>
			<td width="150"><input type="text" name="SPEND_DATE" id="SPEND_DATE"  class="easyui-datebox" value=""><font color="red">*</font></td>
			<td class="BOX_title" width="100">花费项目</td>
			<td ><select id="SPEND_STATUS" name="SPEND_STATUS" class="headClass" >
					#foreach($!code1 in $!codeType1)
                        <option value="$!code1.CODE">$!code1.FLAG</option>
					#end
                    </option>
				</select>
			</td>
			<td class="BOX_title" width="100">花费金额</td>
			<td >
				<input type="text" name="SPEND_MONEY" id="SPEND_MONEY" value="" class="easyui-numberbox"><font color="red">*</font>
			</td>
        </tr>
		<tr class="followtr2">
			<td class="BOX_title" width="100" >备注</td>
			<td colspan="5"><textarea id="SPEND_MEMO" name="SPEND_MEMO"  rows="3" cols="120" style="height:100" ></textarea></td>
		</tr >
		<tr id="followproject">
			<td colspan="6" align="center"   >
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" id="addsave1" onclick="save1()">保存</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData1()">清空</a>
            </td>
        </tr>
       </table>
