#if($param.QD && $!param.QD=='show')
#parse("content/importBase.vm")
#end
<script type="text/javascript"  src="$!_basePath/project/js/callCheckForJbpm.js"></script>
<form id="fm" method="post" style="padding:0px;">
#if($!TYPE=="NP")
<table cellpadding="0" cellspacing="0" class="table_01">
	<tr>
		<td class="table_th">承租人基本信息</td>
	</tr>
</table>
<div >
	<table class="table_01" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right" bgcolor="#fbfbfb">承租人名称：</td>
			<td>$!custNPInfo.CUST_NAME</td>	##客户名称
			<td align="right" bgcolor="#fbfbfb">项目编号：</td>
			<td>$!custNPInfo.PROJ_ID</td> 		##项目编号
			#if($!custNPInfo.IS_MARRY=='4' || $!custNPInfo.IS_MARRY=='1' || $!custNPInfo.IS_MARRY=='4Marriage' || $!custNPInfo.IS_MARRY=='1Marriage')
                <td rowspan="4" width="150px" align="center" id="CUST_PHOTO">
    				#if($!custNPPhote.IDCARD_CHECK=="CHECKSUCCESS")
    					<img src="data:image/png;base64,$!custNPPhote.IDCARD_PHOTO" style="padding:5px;margin:0px;"/>
    				#else
    					<img src="$_basePath/img/on-ph.jpg" style="padding:5px;margin:0px;"/>
    				#end
				</td>
			#else
				<td rowspan="6" width="150px" align="center" id="CUST_PHOTO">
					#if($!custNPPhote.IDCARD_CHECK=="CHECKSUCCESS")
    					<img src="data:image/png;base64,$!custNPPhote.IDCARD_PHOTO" style="padding:5px;margin:0px;"/>
    				#else
    					<img src="$_basePath/img/on-ph.jpg" style="padding:5px;margin:0px;"/>
    				#end
				 </td>
			#end
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">承租人联系方式：</td>
			<td>$!custNPInfo.PHONE </td>	##联系方式
			<td align="right" bgcolor="#fbfbfb">电话是否正确：</td>
			<td>#if($custNPInfo.ISTRUE1)$!custNPInfo.ISTRUE1#else 否#end</td>	##是否正确
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb"><font color=red>*</font>证件号：</td>
			<td>$!custNPInfo.CARD_NO </td>	##身份证号
			<td align="right" bgcolor="#fbfbfb">证件号是否正确：</td>
			<td>#if($custNPInfo.ISTRUE3)$!custNPInfo.ISTRUE3#else 否#end</td>	##是否正确
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">户籍所在地：</td>
			<td>$!custNPInfo.RESIDENCE</td>	##户籍所在地
			<td align="right" bgcolor="#fbfbfb">户籍是否正确：</td>
			<td>#if($custNPInfo.ISTRUE4)$!custNPInfo.ISTRUE4#else 否#end</td>	##是否正确
		</tr>
		
		<tr>
			<td align="right" bgcolor="#fbfbfb">婚姻状况：</td>
			<td>
				$!custNPInfo.ISMARRI
			</td>	##婚姻状况
			<td align="right" bgcolor="#fbfbfb">婚姻状况是否正确：</td>
			<td>#if($custNPInfo.ISTRUE5)$!custNPInfo.ISTRUE5#else 否 #end</td>	##是否正确
			#if($!custNPInfo.IS_MARRY=='4' || $!custNPInfo.IS_MARRY=='1' || $!custNPInfo.IS_MARRY=='4Marriage' || $!custNPInfo.IS_MARRY=='1Marriage')
                <td rowspan="4" width="150px"  align="center" id="SPOUSE_PHOTO">
    				#if($!custNPPhote.SPOUSTIDCARD_CHECK=="CHECKSUCCESS")
        					<img src="data:image/png;base64,$!custNPPhote.SPOUSTIDCARD_PHOTO" style="padding:5px;margin:0px;"/>
        			#else
        					<img src="$_basePath/img/on-ph.jpg" style="padding:5px;margin:0px;"/>
        			#end
    			</td>
			#end
		</tr>
		#if($!custNPInfo.IS_MARRY=='4' || $!custNPInfo.IS_MARRY=='1' || $!custNPInfo.IS_MARRY=='4Marriage' || $!custNPInfo.IS_MARRY=='1Marriage')
		<tr>
			<td align="right" bgcolor="#fbfbfb">配偶姓名：</td>
			<td>$!custNPInfo.SPOUSE_NAME</td>	##配偶姓名
			<td align="right" bgcolor="#fbfbfb">配偶姓名是否正确：</td>
			<td>#if($custNPInfo.ISTRUE6)$!custNPInfo.ISTRUE6#else 否#end</td>		##备注
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">配偶证件号：</td>
			<td>$!custNPInfo.SPOUSE_CARD_NO</td>	##配偶姓名
			<td align="right" bgcolor="#fbfbfb">证件号是否正确：</td>
			<td>#if($custNPInfo.ISTRUE7)$!custNPInfo.ISTRUE7#else 否#end</td>		##备注
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">配偶联系方式：</td>
			<td>$!custNPInfo.POPHONE</td>	##配偶姓名
			<td align="right" bgcolor="#fbfbfb">联系方式是否正确：</td>
			<td>#if($custNPInfo.ISTRUE8)$!custNPInfo.ISTRUE8#else 否#end</td>		##备注
		</tr>
		#end
		<tr>
			<td align="right" bgcolor="#fbfbfb">是否本人接听：</td>
			<td>#if($custNPInfo.ISTRUE2)$!custNPInfo.ISTRUE2#else 否 #end</td>	##是否本人接听
			<td align="right" bgcolor="#fbfbfb">是否通过：</td>
			<td colspan="2">#if($custNPInfo.ISAGREE)$!custNPInfo.ISAGREE#else 否 #end</td>	##是否通过
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">通讯地址：</td>
			<td colspan="4">$!custNPInfo.ADDRESS &nbsp;</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">备注：</td>
			<td colspan="4"><textarea name="REMARK_NP" cols="130" disabled>$!custNPInfo.REMARK</textarea></td>
		</tr>
	</table>
</div>
#else
<table cellpadding="0" cellspacing="0" class="table_01">
	<tr>
		<td class="table_th">法人身份信息验证</td>
	</tr>
</table>
<div style="height:260px;">
	<table class="table_01" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right" bgcolor="#fbfbfb"><font color=red>*</font>承租人名称：</td>
			<td>$!custLPInfo.CUST_NAME</td>	##承租人名称
			<td align="right" bgcolor="#fbfbfb">项目编号：</td>
			<td>$!custLPInfo.PROJ_ID</td> 		##项目编号
			
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">联系方式：</td>
			<td>$!custLPInfo.PHONE</td>	##联系方式
			<td align="right" bgcolor="#fbfbfb">电话是否正确：</td>
			<td>#if($custLPInfo.ISTRUE1)$!custLPInfo.ISTRUE1#else 否#end</td>	##是否正确
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb"><font color=red>*</font>注册资本金(万元)：</td>
			<td>$!custLPInfo.REG_AMT</td>	##注册资本金(万元)
			<td align="right" bgcolor="#fbfbfb">注册资金是否正确：</td>
			<td>#if($custLPInfo.ISTRUE3)$!custLPInfo.ISTRUE3 #else 否 #end</td>	##是否正确
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb"><font color=red>*</font>公司属性：</td>
			<td>$!custLPInfo.CUST_PEOPERTY</td>##公司属性
			<td align="right" bgcolor="#fbfbfb">公司属性是否正确：</td>
			<td>#if($custLPInfo.ISTRUE4)$!custLPInfo.ISTRUE4 #else 否#end</td>	##是否正确
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb"><font color=red>*</font>法人代表：</td>
			<td>$!custLPInfo.LEGAL_REPRESENT</td>	##法人代表
			<td align="right" bgcolor="#fbfbfb">法人代表是否正确：</td>
			<td>#if($custLPInfo.ISTRUE5)$!custLPInfo.ISTRUE5#else 否#end</td>	##是否正确
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">通讯地址：</td>
			<td>$!custLPInfo.ADDRESS &nbsp;</td>
			<td align="right" bgcolor="#fbfbfb">是否通过：</td>
			<td>#if($custLPInfo.ISAGREE)$!custLPInfo.ISAGREE#else 否 #end</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">备注：</td>
			<td colspan="4"><textarea name="REMARK_NP" cols="130" disabled>$!custLPInfo.REMARK</textarea></td>
		</tr>
	</table>
</div>
#end
<table cellpadding="0" cellspacing="0" class="table_01">
	<tr>
		<td class="table_th">租赁物信息验证</td>
	</tr>
</table>
<div style="overflow-y: auto; overflow-x:auto; height: 200px;">
	<table cellpadding="0" cellspacing="0" class="table_02">
		<tr>
			<td bgcolor="#fbfbfb" >供应商</td>
			<td bgcolor="#fbfbfb" >是否正确</td>
			<td bgcolor="#fbfbfb">设备名称</td>
			<td bgcolor="#fbfbfb">设备数量</td>
			<td bgcolor="#fbfbfb">是否正确</td>
			
			<td bgcolor="#fbfbfb">租赁物购买价款</td>
			<td bgcolor="#fbfbfb">是否正确</td>
			
			##<td bgcolor="#fbfbfb">合同签署</td>
			<td bgcolor="#fbfbfb">使用商务政策</td>
			<td bgcolor="#fbfbfb">是否通过</td>
		</tr>
	#foreach($item in $!productInfo)
		<tr>
			<td>
				$!item.DLD
			</td>
			<td>#if($item.ISTRUE7)$!item.ISTRUE7#else 否#end</td>
			<td>
				$!item.EQ_NAME
			</td>
			<td>
				$!item.EQUIP_AMOUNT
			</td>
			<td>#if($item.ISTRUE8)$!item.ISTRUE8#else 否#end</td>
			<td>
				$!item.EQUIP_AMT
			</td>
			<td>#if($item.ISTRUE3)$!item.ISTRUE3#else 否 #end</td>
			##<td>#if($item.ISTRUE5)$!item.ISTRUE5 #else 否#end</td>
			<td>$!item.SCHEME_NAME</td>
			<td>#if($item.ISAGREE)$!item.ISAGREE#else 否#end</td>
		</tr>
	#end
		<tr>
			<td align="right" bgcolor="#fbfbfb">客户评价：</td>
			<td colspan="9"><textarea name="REMARK_NP" cols="130" disabled>#if($!TYPE=="NP") $!custNPInfo.CUST_PJ #else $!custLPInfo.CUST_PJ #end &nbsp;</textarea></td>
		</tr>
		<tr>
			<td align="right" bgcolor="#fbfbfb">客户经理评价：</td>
			<td colspan="9"><textarea name="REMARK_NP" cols="130" disabled>#if($!TYPE=="NP") $!custNPInfo.CUST_JL_PJ #else $!custLPInfo.CUST_JL_PJ #end &nbsp;</textarea></td>
		</tr>
	</table>
</div>
</form>
