<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
		#parse("content/importBase.vm")
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>立项查看</title>
	</head>

<body class="easyui-layout" style="background-image:none;">
	<div region="center" fit="true" border="false">
        <div id="base_ifo" class="easyui-tabs" fit="true">
        	<script>
        		$(document).ready(function(){
        			$('#base_ifo').tabs({tabPosition:"left"});
        		});
    		jQuery(function(){
    			jQuery("#FIRSTMONEYHELP").dialog('close');
    		});
			
			$(document).ready(function(){
        			$('#tttt').tabs({tabPosition:"top"});
        		});
        	</script>
			#set($num=0)
			#if($!param.PLATFORM_TYPE=='4')
			#set($num=$num+1)
			<div title="${num} 租赁方案销售型-直接租赁" >
					#parse("content/project/project_scheme_updateNew1.vm")
            </div>
			#set($num=$num+1)
			<div title="${num} 租赁方案销售型-售后回租" href="$_basePath/project/project!projectUpdate_VM.action?PROJECT_ID=$!param.PROJECT_ID"></div>
			#else
			 #set($num=$num+1)
             <div title="${num} 租赁方案" >
					#parse("content/project/project_scheme_updateNew1.vm")
            </div>
			#end
		##	#if($!param.CUST_STATUS==0)
				##外部报价  临时客户	
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/customers/Customers!toUpdateCustInfoMain.action?CLIENT_ID='+$!{param.ID}+'&TYPE='+$!{param.CUST_TYPE}+'&tab=update&JD=JBPM&PROJECT_ID='+$!{param.PROJECT_ID})
	            <div title="${num} 承租人" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
	##		#else
            	##<div title="承租人信息"  href="$_basePath/customers/Customers!toViewCustInfoProject.action?CLIENT_ID=$!param.ID&TYPE=$!param.CUST_TYPE&tab=view&JD=JBPM"></div>
	##			#set($num=$num+1)
	##			<div title="${num} 承租人"  href="$_basePath/customers/Customers!toViewCustInfo.action?CLIENT_ID=$!param.ID&TYPE=$!param.CUST_TYPE&tab=view&JD=JBPM"></div>
	##		#end
			#if($param.JOINT_TENANT_ID && $!param.JOINT_TENANT_ID!='')
				##<div title="共同承租人"  href="$_basePath/customers/Customers!toViewCustInfoGTCZR.action?CLIENT_ID=$!param.JOINT_TENANT_ID&TYPE=$!param.JOINT_TENANT_TYPE&tab=view&JD=JBPM"></div>
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/customers/Customers!toUpdateCustInfoGTCZR.action?CLIENT_ID='+$!{param.JOINT_TENANT_ID}+'&TYPE='+$!{param.JOINT_TENANT_TYPE}+'&tab=update&JD=JBPM&PROJECT_ID='+$!{param.PROJECT_ID})
				<div title="${num} 共同承租人" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#end
	##		#if($!param.ISGUARANTOR =='2' || $!param.ISGUARANTOR =='3')
	##			#set($num=$num+1)
	##			#set($tempurl=$_basePath+'/credit/CreditGuarantor!toUpdateGuarantorInfo.action?CLIENT_ID='+$!{dbr.CLIENT_ID}+'&CREDIT_ID='+$!{param.PROJECT_ID}+'&TYPE='+$!{dbr.TYPE}+'&tab=update&date='+$!{dbr.TIME})
	##			<div title="${num} 担保人" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
				
	##		#end
			#if($param.GUARANTEE !='1')
				#set($num=$num+1)
				<div title="${num} 担保人" cache="false"  href="$_basePath/credit/CreditGuarantor!toGuarantorCreditMgCredit.action?CREDIT_ID=$!param.PROJECT_ID"></div>
			#end
			#if($!param.CUST_TYPE=='LP')
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/customers/FinancialStatistics!manageFinancialProject.action?CUST_ID='+$!{param.CLIENT_ID}+'&PROJECT_ID='+$!{param.PRO_CODE}+'&NAME='+$!{param.NAME})
				<div title="${num} 财报报表" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
				#if($PSYJB&&$!PSYJB=='ON')
					#set($num=$num+1)
					#set($tempurl=$_basePath+'/consider/Consider!toApplication.action?TYPE=1&CUST_ID='+$!{param.CLIENT_ID}+'&PROJECT_ID='+$!{param.PROJECT_ID})
					<div title="${num} 资信分析" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
				#else
					#set($num=$num+1)
					#set($tempurl=$_basePath+'/consider/Consider!toApplication.action?TYPE=1&CUST_ID='+$!{param.CLIENT_ID}+'&PROJECT_ID='+$!{param.PROJECT_ID})
					<div title="${num} 评审申请书" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
					#set($num=$num+1)
					#set($tempurl=$_basePath+'/consider/Consider!toConsider.action?TYPE=1&CUST_ID='+$!{param.CLIENT_ID}+'&PROJECT_ID='+$!{param.PROJECT_ID})
					<div title="${num} 评审意见表" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
				#end
			#elseif($PSYJB&&$!PSYJB=='ON')
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/consider/Consider!toApplication.action?TYPE=1&CUST_ID='+$!{param.CLIENT_ID}+'&PROJECT_ID='+$!{param.PROJECT_ID})
				<div title="${num} 资信分析" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#end
			#if($!param.PLATFORM_TYPE=='5'&&$!BIGPROJCOUNT>=1)
				#set($tempurl=$_basePath+'/project/TrialReport!showTrialReport.action?PROJECT_ID='+$!{param.PROJECT_ID})
				<div title="${num} 初审报告" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#elseif($!param.PLATFORM_TYPE=='5')
				#set($tempurl=$_basePath+'/project/TrialReport!execute.action?PROJECT_ID='+$!{param.PROJECT_ID})
				<div title="${num} 初审报告" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#end
			#if($param.JBPM_ID)
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/crm/Customer!toMgElectronicPhotoAlbum11.action?PRO_CODE='+$!{param.PRO_CODE}+'&PROJECT_ID='+$!{param.PROJECT_ID}+'&PHASE=立项')
				<div title="${num} 资料上传" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#elseif($!param.CQTYPE=='cq')
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/crm/Customer!toMgElectronicPhotoAlbum11.action?JFBG=JFBG&CLIENT_ID='+$!{param.CLIENT_ID}+'&PRO_CODE='+$!{param.PRO_CODE}+'&PROJECT_ID='+$!{param.PROJECT_ID}+'&PHASE=立项&updateStart=cqjdbpm&CQTYPE=cq')
				<div title="${num} 资料上传" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#else
				#set($num=$num+1)
				#set($tempurl=$_basePath+'/crm/Customer!toMgElectronicPhotoAlbum11.action?JFBG=JFBG&CLIENT_ID='+$!{param.CLIENT_ID}+'&PRO_CODE='+$!{param.PRO_CODE}+'&PROJECT_ID='+$!{param.PROJECT_ID}+'&PHASE=立项&updateStart=jdbpm')
				<div title="${num} 资料上传" href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			#end
            ##<div title="生成合同列表" href="$_basePath/project/ProjectContractManager!toShowPdfList.action?PROJECT_ID=$!param.PROJECT_ID"></div>
			##if($param.GUARANTEE !='1')
				#set($num=$num+1)
				#set($tempurl=$_basePath + '/telephonenumberlist/TelephoneNumberList!toReport.action?projectId='+ $!param.PROJECT_ID)
				<div title="${num} 电话清单" cache="false"  href="$_basePath/customers/Customers!toUrl.action?url=$FORMAT.urlEncode($tempurl)"></div>
			##end
        </div>
    </div>
</body>
</HTML>
<script type="text/javascript" src="finance_Project/js/finance_debtUpdate.js"></script>
    	<script type="text/javascript" src="finance_Project/js/dateUtil.js"></script>
        <script type="text/javascript" src="finance_Project/js/financeDebt_countNum.js"></script>
    	<script type="text/javascript" src="finance_Project/js/util.js"></script>
		<script type="text/javascript" src="finance_Project/js/finnceReport.js"></script>
