<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
		#parse("content/importBase.vm")
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>立项查看</title>
		<script type="text/javascript" language="JavaScript">
		jQuery(function(){
			jQuery("#FIRSTMONEYHELP").dialog('close');
		});
        	function toMgEdossier1(CLIENT_ID){
            	top.addTab("电子档案",_basePath+"/crm/Customer!toMgEdossier.action");
            	
            }
        	
        	function toMgCallLog1(CLIENT_ID){
            	alert(CLIENT_ID);
            	top.addTab("沟通记录",_basePath+"/crm/Customer!toMgCallLog.action");
            	
            }
        	
        	function toMgCredit1(CLIENT_ID){
            	top.addTab("信用档案",_basePath+"/crm/CreditDossier.action?CLIENT_ID="+CLIENT_ID);
            	
            }
        	
        	function goAssetsMg1(CLIENT_ID){
            	top.addTab("资产档案",_basePath+"/crm/AssetsDossier.action?CLIENT_ID="+CLIENT_ID);
            	
            }
        </script>
	</head>

<body class="easyui-layout" style="background-image:none;">
	<div region="center" fit="true" border="false">
        <div id="base_ifo" class="easyui-tabs" fit="true">
        	<script>
        		$(document).ready(function(){
        			$('#base_ifo').tabs({tabPosition:"left"});
        		});
				
				$(document).ready(function(){
        			$('#tttt').tabs({tabPosition:"top"});
        		});
        	</script> 
                 <div style="background-color:#fff;" title="租赁方案" >#parse("content/project/project_scheme_view.vm")</div>
                <div title="承租人信息"  href="$_basePath/customers/Customers!toViewCustInfo.action?CLIENT_ID=$!param.CUST_ID&TYPE=$!param.CUST_TYPE&tab=view&JD=JBPM"></div>
    			#if($!param.CUST_TYPE=='LP')
    				<div title="财务报表">
    					        <div id="tttt" class="easyui-tabs" fit="true">
                                    <div title="资产负债表" style="padding:10px" id="debt_Div" data-options="href:'$_basePath/project/finance_Project/FinanceMain!finance_Show.action?SORT=1&PROJECT_ID=$!param.PROJECT_ID',cache:false"> </div>
                                    <div title="利润及利润分配表" id="dist_Div"  data-options="href:'$_basePath/project/finance_Project/FinanceMain!finance_Show.action?SORT=2&PROJECT_ID=$!param.PROJECT_ID',cache:false" fit="true" style="padding:10px"></div>
                                    <div title="现金流量表" id="cash_Div" data-options="href:'$_basePath/project/finance_Project/FinanceMain!finance_Show.action?SORT=3&PROJECT_ID=$!param.PROJECT_ID',cache:false"  style="padding:10px"></div>
                                </div>
    				</div>
				#end
    			#if($!param.FINAL_TYPE=='1')
    				<div title="终端客户信息" href="$_basePath/customers/Customers!toViewCustInfo1.action?CLIENT_ID=$!param.FINAL_CUST_ID&TYPE=$!param.CUST_TYPE1&tab=view&JD=JBPM&TASKNAME=$!TASKNAME">
    				 
    				</div>
				#end
    			#if($!param.PROJECT_MODEL=='5')
    				<div title="初审报告" href="$_basePath/project/TrialReport!showBigProjectDetail.action?PROJECT_ID=$!param.PROJECT_ID"></div>
    			#end
    			<div title="资料信息" href="$_basePath/project/ProjectContractManager!doShowElectronicPhotoAlbum1.action?PROJECT_ID=$!param.PROJECT_ID&CLIENT_ID=$!param.CUST_ID"></div>
    			<div title="合同附件" href="$_basePath/project/ProjectContractManager!toContractFile.action?PROJECT_ID=$!param.PROJECT_ID&CLIENT_ID=$!param.CUST_ID"></div>
				<div  style="background-color:#fff;" title="小助手" href="$_basePath/call/CallCenterFlow!showProductDetail.action?PROJ_ID=$!param.PRO_CODE&TYPE=$!param.CUST_TYPE"></div>
				##if($param.JBPM_ID)
				##<div title="生成合同列表" href="$_basePath/project/ProjectContractManager!toShowPdfList.action?PROJECT_ID=$!param.PROJECT_ID"></div>
				##end
        </div>
    </div>
</body>
</HTML>
<script type="text/javascript" src="finance_Project/js/finance_debtUpdate.js"></script>
    	<script type="text/javascript" src="finance_Project/js/dateUtil.js"></script>
        <script type="text/javascript" src="finance_Project/js/financeDebt_countNum.js"></script>
    	<script type="text/javascript" src="finance_Project/js/util.js"></script>
		<script type="text/javascript" src="finance_Project/js/finnceReport.js"></script>
