<title>项目资料列表</title>
    <script type="text/javascript" src="$_basePath/project/js/projectJbpm.js"></script>
<script >
	function batDown(){
		var fileIds = "";
		$("[name='fileId']:checked").each(function(){
			fileIds = fileIds + $(this).val()+",";
		});
		window.open("$_basePath/project/ProjectContractManager!batDownByFileId.action?fileIds="+fileIds);
	}
	function fileAll(e){
		if($(e).attr("checked")){
			if($("[name='fileId']").attr("disabled")!="disabled"){
				$("[name='fileId']").attr("checked","checked");
			}
		}else{
			$("[name='fileId']").removeAttr("checked");
		}
	}
	function upDialogFile(){
		$("#upDialogFile").dialog("open");
	}
	function upDialogFile2(id){
		$("#upDialogFile2 [name='ID']").val(id);
		$("#upDialogFile2 [name='upload']").val("");
		$("#upDialogFile2").dialog("open");
	}
	function profileSave(){
		$('#uploadFileForm').form('submit', {
			url:"$_basePath/project/ProjectContractManager!doUploadProjectFile.action?PROJECT_ID=$!param.PROJECT_ID&CLIENT_ID=$!param.CLIENT_ID&TPM_TYPE="+$("#uploadFileForm [name='TPM_TYPE'] :selected").val(),
			success:function(json){
				json = jQuery.parseJSON(json);
				if(json.flag){
					alert("保存成功");
					$("#upDialogFile").dialog('close');
					$('#base_ifo').tabs('getSelected').panel('refresh');
				}else{
					alert(json.msg);
				}
			}
		});
	}
	function profileSave2(){
		$('#uploadFileForm2').form('submit', {
			url:"$_basePath/project/ProjectContractManager!doUploadProjectFileUp.action?ID="+$("#upDialogFile2 [name='ID']").val(),
			success:function(json){
				json = jQuery.parseJSON(json);
				if(json.flag){
					alert("保存成功");
					$("#upDialogFile2").dialog('close');
					$('#base_ifo').tabs('getSelected').panel('refresh');
				}else{
					alert(json.msg);
				}
			}
		});
	}
	function delFile(id){
		if(confirm("确认删除？")){
    		jQuery.ajax({
    			url : "$_basePath/project/ProjectContractManager!doDelFile.action?id="+id,
    			dataType:"json",
    			success : function(json){
    				if(json.flag){
    					$('#base_ifo').tabs('getSelected').panel('refresh');
    				}else{
    					alert(json.msg);
    				}
    			}
    		});
		}
	}
	$(function(){
		$("#upDialogFile").dialog({
		 	title: '上传文件',
            width: 350,
            height: 200,
            cache: false,
			closed:true,
			iconCls : "icon-group",
			buttons : "#upDialogFile-buttons"
		});
		$("#upDialogFile2").dialog({
		 	title: '上传文件',
            width: 350,
            height: 200,
            cache: false,
			closed:true,
			iconCls : "icon-group",
			buttons : "#upDialogFile2-buttons"
		});
		$(".ui-linkbutton").linkbutton();
	});
</script>
<table  cellpadding="0" cellspacing="0" class="table_02">
	<thead >
    	<tr>
			##<td class="text_left">序号</td>
            <td class="text_left">文本类型</td>
            ##<td class="text_left">文本编号</td>
            <td class="text_left">文本名称</td>
            ##<td class="text_left">适用客户</td>
            <td class="text_center">
				操作##[<a href="javascript:void(0);" onclick="batDown()">批量下载</a>]
					[<a style="color:blue" href="javascript:void(0);" onclick='upDialogFile()'>添加附件</a>]
			</td>
        </tr>
    </thead>
	<tbody id="detailForm">
    	#foreach($!item in $!FILELIST)
    	<tr class="proFileTr">
			##<td>$velocityCount</td>
            <td class="TPM_TYPE">$!item.TPM_TYPE</td>
           ## <td>$!item.TPM_CODE</td>
            <td>$!item.NAME</td>
           ## <td>$!item.TPM_CUSTOMER_TYPE</td>
            <td align="center">
				#if($item.PDF_PATH)
                <a href="$_basePath/project/ProjectContractManager!doDownProjectFile.action?FILE_ID=$!item.FILE_ID&PROJECT_ID=$!param.PROJECT_ID">下载</a> 
				|
				<a href="javascript:void('0')" onclick="showImg('$_basePath/project/ProjectContractManager!doDownProjectFile.action','$!item.FILE_ID','$!param.PROJECT_ID')">查看</a>
				#elseif($item.TPM_TYPE && ($item.TPM_TYPE.contains("其他资料") || $item.TPM_TYPE.contains("合同资料")))
				<a href="javascript:void(0)" onclick="upDialogFile2($item.FILE_ID)">上传</a>
				#end
				#if($item.TPM_TYPE && ($item.TPM_TYPE.contains("其他资料") || $item.TPM_TYPE.contains("合同资料")))
				|
				<a href="javascript:void(0)" onclick="delFile($item.FILE_ID)">删除</a>
				#end
			</td>
        </tr>
		#end
    </tbody>
</table>
<div style="display:none;">
    <div id="upDialogFile">
    	<form id="uploadFileForm" enctype="multipart/form-data" method="post">
    		<div style="padding:10px">
				资料类型：
				<select name="TPM_TYPE" style="width:150px" readonly>
			        #foreach($item in $FILE_LIST1)
						#if($item.FLAG && ($item.FLAG.contains("其他资料") || $item.FLAG.contains("合同资料")))
							#if($param.CUSTOMER_TYPE == $item.REMARK)
								<option value="$!item.FLAG">$!item.FLAG</option>
							#end
						#end
					#end
				 </select>
            </div>
    		<div style="padding:10px">
				选择文件：
				<input type="file" style="width: 150px;margin:0px" name="upload"/>
            </div>
    	</form>
    </div>
	<div id="upDialogFile-buttons">
        <a href="javascript:void(0)" class="ui-linkbutton" onclick="profileSave()">保存</a>
	</div>
    <div id="upDialogFile2">
    	<form id="uploadFileForm2" enctype="multipart/form-data" method="post">
			<input name="ID" type="hidden" />
    		<div style="padding:10px">
				选择文件：
				<input type="file" style="width: 150px;margin:0px" name="upload"/>
            </div>
    	</form>
    </div>
	<div id="upDialogFile2-buttons">
        <a href="javascript:void(0)" class="ui-linkbutton" onclick="profileSave2()">保存</a>
	</div>
</div>
<script >
$(function(){
	var c = 1;
	var temp = "";
	var f = null;
	$(".proFileTr").each(function(){
		var t = $(this).find(".TPM_TYPE");
		if(t.text()==temp){
			t.remove();
			c++;
		}else{
			if(f!=null){
				f.attr("rowspan",c);
			}
			temp = t.text();
			f = t;
			c = 1;
		}
	});
	if(f!=null){
		f.attr("rowspan",c);
	}
});
</script>