<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
		#parse("content/importBase.vm")
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>立项</title>
		<script type="text/javascript" src="$_basePath/project/js/quoteCalculate.js"></script>
		<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
		<script type ="text/javascript" src ="$_basePath/project/js/jquery.form.js"></script>
	</head>

<body class="easyui-layout" style="background-image:none;">
	<div region="center" fit="true" border="false">
        <div id="base_ifo" class="easyui-tabs" fit="true">
        	<script>
        		$(document).ready(function(){
        			$('#base_ifo').tabs({tabPosition:"left"});
        		});
        	</script> 
             <div title="租赁方案">
                #parse("content/project/project_schemeAppend.vm")
            </div>
            <div title="承租人信息" href="$_basePath/customers/Customers!toViewCustInfoProject.action?CLIENT_ID=$!param.CLIENT_ID&TYPE=$!param.TYPE&tab=view&JD=JBPM">
            </div>
			#if($!param.PROJECT_MODEL==5)
			<div title="初审报告" href="$_basePath/project/TrialReport!execute.action?PROJECT_ID=$!param.project_head_id"></div>
			#end
        </div>
    </div>
	</div>
</body>
</HTML>
<script type="text/javascript" src="finance_Project/js/finance_debtUpdate.js"></script>
    	<script type="text/javascript" src="finance_Project/js/dateUtil.js"></script>
        <script type="text/javascript" src="finance_Project/js/financeDebt_countNum.js"></script>
    	<script type="text/javascript" src="finance_Project/js/util.js"></script>
		<script type="text/javascript" src="finance_Project/js/finnceReport.js"></script>
