#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/project/js/project.js"></script>
<script type="text/javascript" src="$_basePath/baseScheme/js/schemeCompute.js"></script>
<script type="text/javascript" src="$_basePath/baseScheme/js/projectScheme.js"></script>
<script type="text/javascript" src="$_basePath/project/js/quoteCalculate.js"></script>
<script type="text/javascript" src="$_basePath/project/finance_Project/js/util.js"></script>
<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
<script type="text/javascript" src="$_basePath/base/channel/js/util.js"></script>
<script>
jQuery(function(){
	jQuery("#FIRSTMONEYHELP").dialog('close');
	jQuery("#zcbimpdiv").dialog('close');
	
	jQuery("#GTCZRDIV").dialog({
					autoOpen:false,
					title:'共同承租人筛选',
					width:600,
					height:300
				});
				jQuery("#GTCZRDIV").dialog('close');
		var i =0;
		if(i==0){
	$("#showPage").html("");
			var SCHEME_ID="9de23fdc-1585-41fd-ba26-cb5428c971ae";
			$("#showPage").load("$_basePath/project/project!schemeComparisonNew.action?SCHEME_ROW_NUM=528127&PROJECT_ID=565845&PLATFORM_TYPE=13&SCHEME_ID="+SCHEME_ID+"&SCHEME_ID_ACTUAL=7978035&_datetime=1456198518067");
i=1;
}
	

});
</script> 
<table class="table_01" cellpadding="0" cellspacing="0" width="98%" id='projectTab'  fit="true">
	<input id="SCHEME_ROW_NUM" name="SCHEME_ROW_NUM" type="hidden" value="$!param.SCHEME_ROW_NUM"/>
	<input id="SCHEME_ID_ACTUAL" name="SCHEME_ID_ACTUAL" type="hidden" value="$!param.SCHEME_ID_ACTUAL"/>
	<input id="PROJECT_ID" name="PROJECT_ID" type="hidden" value="$!param.PROJECT_ID"/>
	<input id="PRO_ID"  name="PRO_ID" type="hidden" value="$!param.PROJECT_ID">
		<tr>
    		<td colspan="4" class="table_th">基本信息</td>
    	</tr>
		<tr>
            <td align="right" bgcolor="#fbfbfb">客户名称：</td>
            <td>$!baseMap.CUST_NAME</td>
    		<td align="right" bgcolor="#fbfbfb">客户类型：</td>
            <td>#if($!baseMap.CUST_TYPE=='LP') 法人 #else 个人 #end</td>
            
        </tr>
		<!--
		<tr>
            <td align="right" bgcolor="#fbfbfb">项目编号：</td>
            <td>$!baseMap.PRO_CODE</td>
            <td align="right" bgcolor="#fbfbfb">项目名称：</td>
            <td>$!baseMap.PRO_NAME</td>
        </tr>
		-->
		 <input type="hidden" name="PLATFORM_TYPE" id="PLATFORM_TYPE" value="$!param.PLATFORM_TYPE"/>
</table>
<input type="hidden" id="PROJECT_NAME" value="$!baseMap.PRO_NAME"/>
<DIV style="height:20PX"></DIV>
<div style="height:auto;width:50%;float:left;"  data-options="border:false">
<table cellpadding="0" cellspacing="0" class="table_01" width="30%"fit="true">
	<tr>
		<td  colspan="2"  class="table_th">
			设备信息
		</td>
	</tr>
							
							#set($eq_count=0)
							#set($eqTotalView=0)
							<tbody id="eq_body">
							#foreach($!eq in $!eqList)
								#set($eqTotalView=$eqTotalView+$!item.TOTAL)
								#set($eqTotal=0)
								 <tr ><td  class="text_right">经销商  &nbsp;&nbsp;</td>
									<td>
										<a href "0" onchange="RefreshScore();queryCompany(this);BusPol()">重置</a><select name="SUPPLIERS_ID" style="width:140px;" onchange="RefreshScore();queryCompany(this);BusPol()" class="eqClass" >
											#foreach($!item in $!suppliersList)
												<option value="$!item.SUP_ID"  test="$!item.SUP_NAME" score="$!item.SCORE" #if($!item.SUP_NAME==$!eq.SUPPLIERS_NAME) selected #end>$!item.SUP_NAME</option>
											#end
										</select>
									</td></tr>
									
									<tr ><td  class="text_right">厂商  &nbsp;&nbsp;</td>
										<td>
										<select name="COMPANY_ID" id="COMPANY_ID" style="width:160px;" class="eqClass" onchange="queryComType(this);BusPol()" >
											<option value="$!eq.COMPANY_ID" test="$!eq.COMPANY_NAME">$!eq.COMPANY_NAME</option>
										</select>
									</td></tr>
									<tr >
										<td  class="text_right">品牌  &nbsp;&nbsp;</td>
										<td>
										<select name="THING_NAME" style="width:160px;" class="eqClass" onchange="queryEqType(this);BusPol()">
											<option value="$eq.PRODUCT_ID" test="$!eq.PRODUCT_NAME">$!eq.PRODUCT_NAME</option>
										</select>
									    </td></tr>
									<tr ><td  class="text_right">车系  &nbsp;&nbsp;</td>
										<td >
										<select name="PRODUCT_CATENA" style="width:90px;" onchange="queryEqSpec(this);BusPol();" >
											<option value="$eq.CATENA_ID">$!eq.CATENA_NAME</option>
										</select>
									    </td></tr>
									<tr ><td  class="text_right">型号  &nbsp;&nbsp;</td>
										<td>
										<select name="THING_SPEC"  style="width:90px;" CLASS="eqClass" onchange="getEqPrice(this);RefreshScore();BusPol();">
						                    <option value="$eq.SPEC_ID">$!eq.SPEC_NAME</option>
						                </select>
										</td></tr>
									<tr ><td  class="text_right">4S店采购价(元)</td>
										<td>
										<input type="text" size=8  name="UNIT_PRICE" value="$!eq.UNIT_PRICE"  style="width:90px;text-align: right"  onchange="doubleValue(this);getTotal(this)">
										<input type="hidden" value="" size=8  id="UNIT_PRICE_HIDDEN"  style="width:100px;text-align: right">
										<input type="hidden" value="" size=8  id="UNIT_WKPRICE_HIDDEN"  style="width:100px;text-align: right">
										</td></tr>
									<tr ><td  class="text_right"> 	实际融车价(元) </td>
										<td>
										<input type="text" size=8  name="ACTUAL_PRICE" value="$!eq.ACTUAL_PRICE" style="width:90px;text-align: right" disabled="disabled"  onchange="doubleValue(this);getTotal(this)">
									    </td></tr>
									<tr >
										<td  class="text_right">数量  &nbsp;&nbsp;</td>
										<td>
										<input type="text" name="AMOUNT"  value="1" size=8  style="width:90px;"  onchange="zero(this);getTotal(this)">
										</td></tr>
									<tr ><td  class="text_right">单位  &nbsp;&nbsp;</td>
										<td>
										<select name="UNIT" id="UNIT" style="width:90px;">
											#foreach($item in $!unitList)
												<option value="$!item.CODE" #if($item.CODE==$!eq.UNIT_PRICE) selected="selected" #end>$!item.FLAG</option>
											#end
										</select>
										</td></tr>
									<tr ><td class="text_right">小计  &nbsp;&nbsp;</td>
										<td>
										#set($eqTotal=$eqTotal+$!eq.TOTAL)
										<input type="text" name="TOTAL" readonly value="$!eq.TOTAL" size=10 onchange="getAllTotal()" class="eqClass">
										</td></tr>
									
							#end
		<!--					
</table>
<table id="" cellpadding="0" cellspacing="0" class="table_01" >
-->
			#set($eqTotal=0)
				#foreach($!eq in $!eqList)
				<tr >
                 <td  class="text_right">颜色: &nbsp;&nbsp;</td>
				 <td  style="width:163px;" align="left">
					<input type="text" id="CAR_COLOR" name="CAR_COLOR" value="$!eq.CAR_COLOR"  style="width:80px;">
				</td>
				</tr>
				<tr >
					<td  class="text_right">型号参数: &nbsp;&nbsp;</td>
					<td  style="width:123px;" align='left'>
					<input type="text" id="XH_PARAM" name="XH_PARAM" value="$!eq.XH_PARAM"  style="width:80px;">
				</td></tr>
				
				<tr >
					<td  class="text_right">商业险（元）:&nbsp;&nbsp</td>
					<td  style="width:152px;" align="left">
					<input name="BX" id="BX" class="BX" value="$!eq.BX" style="width:80px" onkeyup="doubleValue(this)" onchange="bx_cc();">	
				</td></tr>
				<tr >
					<td  class="text_right">交强险（元）:&nbsp;&nbsp</td>
					<td  style="width:152px;" align="left">
					<input name="JQX" id="JQX" class="JQX" value="$!eq.JQX" style="width:80px" onkeyup="doubleValue(this)" onchange="bx_cc();">	
				</td></tr>
				<tr >
					<td  class="text_right">车船税（元）:&nbsp;&nbsp;</td>
					<td   style="width:146px;" align="left">
					<input type="text" id="CCS" name="CCS" value="$!eq.CCS"  class="CCS"   style="width:90px;" onkeyup="doubleValue(this)" onchange="bx_cc();">
				</td></tr>
				<tr >
					<td  class="text_right">备注:&nbsp;&nbsp;</td>
					<td  style="width:109px;" align="left">
					<textarea name="PRO_REMARK" id="PRO_REMARK" class="PRO_REMARK" style="width:100px;height:25px" >$!eq.PRO_REMARK</textarea>
				</td></tr>
				#end
			
			
				
		

<!--
</table>
<table cellpadding="0" cellspacing="0" class="table_01">
	<tr  align="right">
##		<td colspan="4">指导价合计（大写）：<span id="chinaAllTotal"></span><script type="text/javascript"> document.getElementById("chinaAllTotal").innerHTML=atoc('$!baseMap.LEASE_TOPRIC')</script></td>
##		<td colspan="7">指导价合计（小写：￥）：$FORMAT.number($!baseMap.LEASE_TOPRIC,'#############0.00')</td>
		<input type="hidden" id="LEASE_TOPRIC_ZD" value="$!baseMap.LEASE_TOPRIC"/>
		<INPUT TYPE="HIDDEN" NAME="EQ_COUNT" ID="EQ_COUNT" VALUE="$FORMAT.number($eq_count,'#############0.00')"/>
		<td colspan="4">指导价合计（大写）<span id="chinaAllTotal"></span> <input type="hidden"  chinese="#chinaAllTotal" value="$!eqTotal"/><script type="text/javascript"> document.getElementById("chinaAllTotal").innerHTML=atoc('$!baseMap.LEASE_TOPRIC')</script></td>
		<td width="100px">&nbsp;</td>
		<td colspan="7">指导价合计（小写￥）<input name="LEASE_TOPRIC_ZD" readonly="readonly"  value="$!eqTotal" id="LEASE_TOPRIC_ZD" style="text-align: right;"></td>
	</tr>
</table>

<DIV style="height:20PX"></DIV>
	
	<input type="hidden" id="SCHEME_TYPE" value="standard"/>
	<input type="hidden" id="SCHEME_CODE" value="$!baseMap.POB_ID"/>
	#foreach($!item in $!supAccountList)
		<input type="hidden" name="supAccount"  companyid="$!item.LOANS_COMPANY_ACCOUNT"  value="$!item.LOANS_OWN_ACCOUNT" sid="$!item.LOANS_TOTAL_ACCOUNT"/>
	#end

	<table  cellpadding="0" cellspacing="0" class="table_01">
	-->
    	 <tr>
    	 	<td  class="text_right">产品方案名称</td>
        	<td align="left">
				<select id="SCHEME_CODE1"  name="SCHEME_CODE1" onchange="updSchemeCode(this)">

					#foreach($!bs in $!BASE_SCHEME1)
						<option value="$!bs.SCHEME_CODE" #if($!bs.SCHEME_CODE==$!baseMap.POB_ID) selected #end>$!bs.SCHEME_NAME$!bs.ALIASES</option>
					#end
				</select>
			</td>
            <input type="hidden" id="PROJECT_ID" value="$!PROJECT_ID"/> <input type="hidden" id="SCHEME_ROW_NUM" value="$!SCHEME_ROW_NUM"/><input type="hidden" id="SCHEME_ID" value="$!SCHEME_ID"/>
         </tr>
    	 <tr>
            <td  class="text_right">实际成交价</td>
            <td><input name="LEASE_TOPRIC" id="LEASE_TOPRIC" type="text" style="width:70px;" value="$FORMAT.number($!schemeBase.LEASE_TOPRIC,'################0.00')" onChange="changeEqumentMoney()" disabled/></td>
         </tr>
		 <tr>
			<td  class="text_right">融资额</td>
            <td><input name="FINANCE_TOPRIC" id="FINANCE_TOPRIC"  style="width:70px;" type="text" value="$FORMAT.number($!schemeBase.FINANCE_TOPRIC,'###############0.00')"  disabled/><input id="INSURANCE_MONEY1" type="hidden" value="0"/></td>
    		</tr>
		 <tr>
			<td class="text_right">
    			业务类型
    		</td>
            <td>
            	#foreach($!item in $!ywlx)
            		#if($!item.CODE==$!schemeBase.PLATFORM_TYPE)
            			$!item.FLAG
            		#end
            	#end
    		</td>
            </tr>
		 <tr>
			<td  class="text_right">租金总额</td>
            <td>
    			<input type="text" disabled name="MONEYALL" ID="MONEYALL"  value="$!schemeBase.TOTAL_MONTH_PRICE"  style="width:70px;background-color:#FBEC88"/>
        		<input type="hidden" disabled id="FIRSTMONTHPRICE"  value="$!baseMap.ONEMONEY"/>
    		</td>
    	</tr>
    	 <tr>
    		<td  class="text_right"><font color='red'><b>期限</b></font></td>
            <td>
				<!--<input name="lease_term" id="lease_term"  style="width:70px;background-color:yellow" value="$!schemeBase.LEASE_TERM" class="easyui-numberbox" #if($!param.POB_ID!='自定义-标准') onchange="getYearRate()" #end type="text"/>-->
				<select id="lease_term" name="lease_term" style="width:50px;" #if($!param.SCHEME_NAME!='自定义-标准') onchange="getYearRate()" #end>
					    #if($!schemeBase.LEASE_TERM == 12)
							<option value="12" selected >12</option>
							<option value="24">24</option>
							<option value="36">36</option>
							<option value="48">48</option>
							
						#elseif($!schemeBase.LEASE_TERM == 24)
							<option value="12">12</option>
							<option value="24" selected>24</option>
							<option value="36">36</option>
							<option value="48">48</option>
							
						#elseif($!schemeBase.LEASE_TERM == 36)
							<option value="12">12</option>
							<option value="24">24</option>
							<option value="36" selected>36</option>
							<option value="48">48</option>
						#elseif($!schemeBase.LEASE_TERM == 48)
							<option value="12">12</option>
							<option value="24">24</option>
							<option value="36">36</option>
							<option value="48" selected>48</option>
						#end
                </select>
					
					
				<select id="lease_period"  style="width:50px;" name="LEASE_PERIOD" #if($!param.POB_ID!='自定义-标准') onchange="getYearRate()" #end >
					#foreach($!item in $ZLZQ)
						<option value="$!item.CODE" #if($!schemeBase.LEASE_PERIOD==$!item.CODE) selected #end>$!item.FLAG</option>
					#end
                </select>
			</td>
			</tr>
		 <tr><!-- modify by lishuo 25.11.2015 start -->
            <td class="text_right" style="display: none;">租金收益率</td>
			<td style="display: none;">
				<a href="javascript:void('0')" onclick="showIrr()">查看</a>
				<div id="showIrrDiv" style="display:none"><span id="showIrrSpan"></span>%</div>
##				<input type="text" name="INTERNAL_RATE" id="INTERNAL_RATE" disabled  style="width:70px"/>%
##				<div id="SYLCOM" style="float:right;width:20px;" class="">&nbsp;</div>
				
##				<input type="text" name="INTERNAL_RATE" value="$!schemeBase.INTERNAL_RATE" id="INTERNAL_RATE" disabled  style="width:70px"/>%
			</td>
            </tr>
		 <tr>
			<td  class="text_right" style="display: none;">首期付款日期</td>
            <td style="display: none;"><input type="text" class="easyui-datebox" value="$!schemeBase.FIRSTPAYDATE"  name="FIRSTPAYDATE" ID="FIRSTPAYDATE" style="width:70px"/></td>
            </tr>
		 <tr>
    		<td  class="text_right">首期付款合计</td>
            <td><input type="text"  value="$!schemeBase.FIRSTPAYALL" disabled name="FIRSTPAYALL" ID="FIRSTPAYALL" style="width:70px;background-color:#FBEC88"/></td>
    	</tr>
    	<tr>
            <td  class="text_right">租赁利率</td>
			#set($yearRate=$!schemeBase.YEAR_INTEREST * 100) 
    		<td><input name="YEAR_INTEREST" id="YEAR_INTEREST" type="text" style="width:70px;" value="$yearRate" disabled="disabled"/> % </td>
			</tr>
		 <tr>
			<td class="text_right" style="display: none;">手续费率</td>
			<td style="display: none;"><input name="fees" id="fees" type="text" onchange="onchanageFee(),changeMoney(this)" style="width:70px;" value="$!schemeBase.POUNDAGE_RATE" > % </td>
			</tr>
		 <tr>
			<td class="text_right" style="display: none;">手续费</td>
			<td style="display: none;"><input name="FEES_PRICE" id="FEES_PRICE" type="text" onchange="changefeelv()" style="width:70px;background-color:#FBEC88" value="$!schemeBase.POUNDAGE_PRICE" ></td>
            </tr>
		 <tr>
			<td class="text_right" style="display: none;">
				手续费收取方式
    		</td>
    		<!-- modify by lishuo 25.11.2015 end
            	Change CSS add style="display: none;"
             -->
            <td>
				$!dicTag.getSiteFLAG("收取方式","$!schemeBase.MANAGEMENT_FEETYPE")
				<input type="hidden" name="MANAGEMENT_FEETYPE" value="$!schemeBase.MANAGEMENT_FEETYPE" id="MANAGEMENT_FEETYPE"/>
				<input type="hidden" name="MANAGEMENT_FEEDSTYPE" value="$!schemeBase.MANAGEMENT_FEEDSTYPE" id="MANAGEMENT_FEEDSTYPE"/>
			</td>
        </tr>		
			<tbody id="addSchemeForm">
			 #set($count=1)
		#foreach($!item in $!SCHEMEDETAIL)
			#if(($!item.VALUE_STATUS==1||$!item.ROW_NUM<=0)&&$!item.KEY_NAME_EN !='LEASE_PERIOD')
				##只读
				<div class="addSchemeFormDivHidden">#parse('/content/project/projectUpdateScheme_read_params.vmf')</div>
			#elseif($!item.KEY_NAME_EN !='LEASE_PERIOD')
				<tr> 
				
				<td class="text_right"> $!item.KEY_NAME_ZN </td>
				
					</td>
					<td>
					#parse('/content/project/projectUpdateScheme_writable_params.vmf')
	                </td>
	            </tr>
	            #set($count=$count+1)
			#end
		#end
            </tbody>
         </table>
	</div>	 
<div id="showPage" style="height:auto;width:40%;float:left;">
	
</div>
<!--		 
<DIV style="height:20PX"></DIV>
<div style="text-align:center">
		        <input type="hidden" name="JBPM_ID" ID="JBPM_ID" #if($param.JBPM_ID)value="$!param.JBPM_ID"#else value="-1"#end/>
				<a href="javascript:void(0)" class="easyui-linkbutton"  onclick="calculate()" iconCls="icon-calculator">第一步测算</a>
				<a href="javascript:void(0)" class="easyui-linkbutton"   plain="true" iconCls="icon-arrow_right"> </a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-track-start" id="submitAddScheme_1" onclick="submitUpdateSchemeSave();">第二步保存</a>
 </div>
		
<DIV style="height:20PX"></DIV>

 <style type="text/css">
	.dataDiv{
		width:auto;
		height:465px;
		margin-top:10px;
	}
</style>


<div class="dataDiv">
	<table  id="pageTable"  cellpadding="0" cellspacing="0" class="table_02">
	     <thead>
		 	<tr>
				<th data-options="field:'PAY_DATE',width:12">支付时间 </th>
				<th data-options="field:'qc',width:8">期次</th>
				<th data-options="field:'zj',width:12,editor:'text'">租金</th>
				<th data-options="field:'bj',width:12">本金</th>
				<th data-options="field:'lx',width:12">利息</th>
##	    		#if($!schemeBase.CALCULATE.contains('平息法'))
	    		<td data-options="field:'lx',width:12">利息增值税</td>
##	    		#end
				<th data-options="field:'sxf',width:12">手续费</th>
				<th data-options="field:'glf',width:12">管理费</th>
				<th data-options="field:'sybj',width:12">剩余本金</th>
	    	</tr>
	    </thead>
		<tbody >
        	##set($PMTZJ=0)
        	#set($ZJ=0)
        	#set($BJ=0)
        	#set($LX=0)
        	#set($SXF=0)
        	#set($GLF=0)
        	#set($LXZZS=0)
        	#foreach($!item in $!detailList)
        	 <tr>
				<td>$!item.PAY_DATE &nbsp;</td>
                <td>$!item.PERIOD_NUM &nbsp;</td>
                ##<td>$FORMAT.currency($!item.PMTZJ)</td>
                <td style="text-align:right">$FORMAT.currency($!item.ZJ)</td>
                <td style="text-align:right">$FORMAT.currency($!item.BJ)</td>
                <td style="text-align:right">$FORMAT.currency($!item.LX)</td>
##	            #if($!schemeBase.CALCULATE.contains('平息法'))
	            <td style="text-align:right">&nbsp;$FORMAT.currency($!item.LXZZS)</td>
	    		 #set($LXZZS=$LXZZS+$!item.LXZZS)
##	            #end
                <td style="text-align:right">$FORMAT.currency($!item.SXF)</td>
                <td style="text-align:right">$FORMAT.currency($!item.GLF)</td>
                <td style="text-align:right">$FORMAT.currency($!item.SYBJ)</td>
             </tr>
        	 ##set($PMTZJ=$PMTZJ+$!item.PMTZJ)
        	 #set($ZJ=$ZJ+$!item.ZJ)
        	 #set($BJ=$BJ+$!item.BJ)
        	 #set($LX=$LX+$!item.LX)
        	 #set($SXF=$SXF+$!item.SXF)
        	 #set($GLF=$GLF+$!item.GLF)
        	#end
        	<tr>
                <td colspan="2" class="text_right">合计</td>
                ##<td>$FORMAT.currency($PMTZJ)</td>
                <td style="text-align:right">$FORMAT.currency($ZJ)</td>
                <td style="text-align:right">$FORMAT.currency($BJ)</td>
                <td style="text-align:right">$FORMAT.currency($LX)</td>
	            #if($!schemeBase.CALCULATE.contains('平息法'))
	            <td style="text-align:right">&nbsp;$FORMAT.currency($LXZZS)</td>
	            #end
                <td style="text-align:right">$FORMAT.currency($SXF)</td>
                <td style="text-align:right">$FORMAT.currency($GLF)</td>
                <td></td>
             </tr>
        </tbody>
	 </table>
</div>-->
<!-- 
<div  class="easyui-dialog"  id="FIRSTMONEYHELP" title="友情提示" style="width:400px;height:auto;left:center;top:260;padding-left:10px;">
	<br/>
	首期付款合计=首期租金+手续费+保证金+保险费+担保费+(其他在金融产品中设置计入首期款的费用)<br/>
	<font color="red">注意：当为期初模式时，首期付款合计中包含第一期租金</font>
	#if($!param.rateList.size()>0)
		<div style="height:20px"></div>
		<div><b>利率规则</b></div>
		<table  cellpadding="0" cellspacing="0" class="table_02">
			<thead >
				<tr>
					<td class="text_left">租赁期限区间(月)</td>
					<td class="text_left">首期租金比例区间(%)</td>
					<td class="text_left">年利率(%)</td>
				</tr>
			</thead>
			<tbody>
				#foreach($!item in $!param.rateList)
					<tr>
						<td>$!item.LEASE_TERM_S --$!item.LEASE_TERM_E</td>
						<td>$!item.START_PERCENT_S -- $!item.START_PERCENT_E</td>
						<td>$!item.YEAR_RATE</td>
					</tr>
				#end
			</tbody>
		</table>
		<font color="red"> 注意：区间值均为闭区间 格式为0,1 表示大于等于0 小于等于1</font>
		 <div style="height:20px"></div>
	 #end
 </div>

<div id="zcbimpdiv" class="easyui-dialog" title="资产包导入" style="width:300px;height:130px;padding:10px;">
	<form method="post" id="zcbform" enctype="multipart/form-data">
		<input type="file" name="ZCB" id="ZCB"/><br/><br/>
		<input type="hidden" name="FILE_PROJECT_NAME" id="FILE_PROJECT_NAME"/>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" onclick="IMPZCB();">导入</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeZCB();">关闭</a>
    </form>
</div>
<input type="hidden" name="JOINT_TENANT_ID" ID="JOINT_TENANT_ID" value="$!baseMap.JOINT_TENANT_ID"/>
<div id="GTCZRDIV"  style="width:600px;height:auto;padding-left:10px;">
	<table  cellpadding="0" cellspacing="0" class="table_02">
		<tr>
			<td>共同承租人名称</td>
			<td>	
				<input type="text" name="GT_CLIENT_NAME" ID="GT_CLIENT_NAME"/>
				<input type="hidden" name="GT_CLIENT_TYPE" ID="GT_CLIENT_TYPE"/>
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="showGTCZRD()" iconCls="icon-search">查询</a>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>客户类型</td>
			<td>	
				客户名称
			</td>
			<td>操作</td>
		</tr>
		<tbody id="showGtzcr">
		</tbody>
	</table>
</div>
-->