##	<script type="text/javascript" src="$_basePath/baseScheme/js/schemeCompute.js"></script>
##	<script type="text/javascript" src="$_basePath/baseScheme/js/projectScheme.js"></script>
##	<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
##	<script type="text/javascript">
##		jQuery(function(){
##			jQuery("#BAPROJECTCODEDIV").dialog('close');
##			jQuery("#FIRSTMONEYHELP").dialog('close');
##		});
##    </script>
##	<input id="SCHEME_CODE" name="SCHEME_CODE" type="hidden" value="$!param.SCHEME_CODE">
##	<input id="SCHEME_ROW_NUM" name="SCHEME_ROW_NUM" type="hidden" value="$!param.SCHEME_ROW_NUM"/>
##	<input id="PROJECT_ID" name="PROJECT_ID" value="$!param.PROJECT_ID" type="hidden">
##	<input id="DELIVER_DATE" name="DELIVER_DATE" type="hidden" value="$!param.DELIVER_DATE" alt="交货时间:即预估起租日">
## 
##	#foreach($!item in $!supAccountList)
##		<input type="hidden" name="supAccount"  companyid="$!item.LOANS_COMPANY_ACCOUNT"  value="$!item.LOANS_OWN_ACCOUNT" sid="$!item.LOANS_TOTAL_ACCOUNT"/>
##	#end
##	<input type="hidden" id="SCHEME_TYPE" value="standard"/>
##	<table cellpadding="0" cellspacing="0" class="table_01">
##    	<tr>
##    		<td colspan="8" class="table_th">
##				商务政策【$!param.SCHEME_NAME】
##				&nbsp;&nbsp;
##                <a href="javascript:void('0')" onclick="showHelp()"><font color='red'>友情提示</font></a>
##			</td>
##    	</tr>
##        <tr>
##            <td class="text_right">设备总额</td>
##            <td><input name="LEASE_TOPRIC" id="LEASE_TOPRIC" type="text" style="width:100px;" value="$!param.LEASE_TOPRIC" onChange="changeEqumentMoney()" disabled/></td>
##    		<td class="text_right">融资额</td>
##            <td><input name="FINANCE_TOPRIC" id="FINANCE_TOPRIC" style="width:100px;" type="text" value=""  disabled/></td>
##            <td class="text_right">业务类型</td>
##            <td>
##				#foreach($!item in $dicTag.getCodeFLAGList("业务类型"))
##					#if($!item.CODE==$!param.PLATFORM_TYPE)
##						$!item.FLAG
##					#end
##				#end
##			</td>
##            <td class="text_right">租金总额</td>
##            <td>
##				<input type="text"  name="MONEYALL" ID="MONEYALL"  disabled style="width:100px; font-weight:800;background-color:#FBEC88"/>
##				<input type="hidden" id="FIRSTMONTHPRICE" value="0"/>
##			</td>          
##        </tr>
##		<tr>
##            <td class="text_right"><font color='red'><b>期限</b></font></td>
##            <td>
##				<input name="lease_term" id="lease_term" style="width:100px;background-color:yellow" class="easyui-numberbox" value="1" #if($!param.SCHEME_NAME!='自定义-标准') onchange="getYearRate()" #end type="text"/>
##				<select id="lease_period"  style="width:50px;"  name="LEASE_PERIOD" #if($!param.SCHEME_NAME!='自定义-标准') onchange="getYearRate()" #end>
##					#foreach($!item in $dicTag.getCodeFLAGList("租赁周期"))
##						<option value="$!item.CODE">$!item.FLAG</option>
##					#end
##                </select>
##			</td>
##			<td class="text_right">租金收益率</td>
##			<td>
##				<input type="text" name="INTERNAL_RATE" id="INTERNAL_RATE" disabled  style="width:100px"/>%<div id="SYLCOM" style="float:right;width:20px;" class="">&nbsp;</div>
##			</td>
##            <td class="text_right">首期付款日期</td>
##            <td><input type="text" class="easyui-datebox" name="FIRSTPAYDATE" ID="FIRSTPAYDATE" style="width:100px"/></td>
##            <td class="text_right">首期付款合计</td>
##            <td><input type="text"  name="FIRSTPAYALL" ID="FIRSTPAYALL"  disabled style="width:100px; font-weight:800;background-color:#FBEC88"/></td>
##		</tr>
##		<tr>
##			<td class="text_right">年利率</td>
##    		<td><input name="YEAR_INTEREST" id="YEAR_INTEREST" style="width:100px;" type="text" #if($!param.SCHEME_NAME.contains('自定义')) #else disabled #end/> % 
##			</td>
##    		<td class="text_right">手续费率</td>
##            <td><input name="fees" id="fees" type="text" style="width:100px;" onchange="onchanageFee()"> % 
##			</td>
##			<td class="text_right">手续费</td>
##			<td><input name="FEES_PRICE" id="FEES_PRICE"  style="width:100px; font-weight:800;background-color:#FBEC88" type="text"  ></td>
##			<td class="text_right">手续费收取方式</td>
##            <td>
##                <font id="sxfsqfs"></font>
##				<input type="hidden" name="MANAGEMENT_FEETYPE" id="MANAGEMENT_FEETYPE"/>
##			</td>
##         </tr>
##		 <tbody id="addSchemeForm">
##		#foreach($!item in $!SCHEMEDETAIL)
##			#if($velocityCount%4==1)
##				<tr>
##			#end
##				<td class="text_right">
##					$!item.KEY_NAME_ZN 
##                </td>
##				#if($velocityCount==$!SCHEMEDETAIL.size())
##					#set($col=(4-$velocityCount%4+1)*2)
##					<td colspan="$col">
##				#else
##					<td>
##				#end
##					 #if($dicTag.getCodeFLAGList($!item.KEY_NAME_ZN).size()>0)
##							<select style="width:100px" name="$!item.KEY_NAME_EN" id="$!item.KEY_NAME_EN" 
##								ITEM_FLAG="$!item.ITEM_FLAG"   SID="$!item.KEY_NAME_ZN" ROW_NUM="$!item.ROW_NUM"
##								FYGS="$!item.FYGS"
##								#if($!item.VALUE_STATUS=="1")
##									VALUE_STATUS="$!item.VALUE_STATUS" 
##									disabled 
##								#end 
##								#if($!item.KEY_NAME_EN=='START_PERCENT') 
##									minValue="$!item.VALUE_STR"  
##								#elseif($!item.KEY_NAME_EN=='REFINSNCING_RENT')
##									onchange="refinsnChage(this)" 
##								#elseif($!item.KEY_NAME_EN=='LOAN_ACCOUNT_NAME')
##									onchange="loadSupAccount(this)"
##									class="zhanghu"
##								#elseif($!item.KEY_NAME_EN=='INSURANCE'||$!item.KEY_NAME_EN=='THREE_PARTY_INSURANCEE')
##									onchange="insurance()"
##								##elseif($!item.KEY_NAME_EN=='PAYMENT_STATUS'||$!item.KEY_NAME_EN=='DATE_COMPLEMENT')
##								##	onchange="LOAN_MONEY_JS()"
##								#elseif($!item.KEY_NAME_EN=='GUARANTEE_MODEL')
##									onchange="GUARANTEE_MODEL()"
##								#elseif($!item.KEY_NAME_EN=='SCAN_TICKET'&&$!SUP_SWITCH.SCAN_SWITCH=='1')
##									disabled
##								#end 
##
##								#if($!item.ORNUMBER=='1') 
##									compute="$!item.CODE_MONEY" CALCULATE="$!item.CALCULATE"  
##									onChange="changeMoney(this)"  class="change" 
##								#end
##								>
##                                <option value=''></option>
##								#foreach($!s in $dicTag.getDataList("$!item.KEY_NAME_ZN","$!param.SCHEME_CODE"))
##									<option 
##										#if($!item.VALUE_STR==$!s.FLAG) selected #end 
##										#if($!item.KEY_NAME_EN=='BUSINESS_MODEL' && $!param.PLATFORM_NAME ==$!s.FLAG)
##											selected 
##										#end 
##										#if($!item.KEY_NAME_EN=='SCAN_TICKET'&&$!SUP_SWITCH.SCAN_SWITCH=='1'&&$!s.CODE=='0')
##											selected
##										#end
##										value="$!s.CODE">
##										#if($!item.KEY_NAME_EN=='AFFILIATED_COMPANY')
##											$!s.FLAG /$!s.ORGAN_CODE
##										#else
##											$!s.FLAG
##										#end
##									</option>
##								#end
##                            </select>
##							 #if($item.ORNUMBER=='1') % #end
##					#else 
##						<input type="text" name="$!item.KEY_NAME_EN"  id="$!item.KEY_NAME_EN" 
##							value="$!item.VALUE_STR"  SID="$!item.KEY_NAME_ZN"  ITEM_FLAG="$!item.ITEM_FLAG"
##							 ROW_NUM="$!item.ROW_NUM"
##							#if($!item.KEY_NAME_EN=='START_PERCENT') 
##								onblur="getYearRate()" minValue="$!item.VALUE_STR" 
##							#end 
##							onChange="changeMoney(this)"  
##							#if($!item.VALUE_STATUS=='1')
##								VALUE_STATUS="$!item.VALUE_STATUS" 
##								disabled 
##							#end 
##							#if($!item.KEY_NAME_EN=='STARTING_DATE_PROJECT')
##								class="easyui-datebox"
##							#end
##							##if($!item.KEY_NAME_EN.contains("_MONEY")||$!item.KEY_NAME_EN=="PURCHASE_PRICE"||$!item.KEY_NAME_EN=="MANAGEMENT_SERVICE_PRICE")
##								##style="width:100px; font-weight:800;background-color:#FBEC88"
##							##else
##    							style="width:100px;"
##							##end
##							#if($item.ORNUMBER=='1')  
##								CALCULATE="$!item.CALCULATE" compute="$!item.CODE_MONEY"   class="change"  
##							#elseif($!item.KEY_NAME_EN.contains('MONEY')||$!item.KEY_NAME_EN.contains('PRICE'))
##								FYGS="$!item.FYGS" class="moneygs"
##							#end   
##							/> 
##							#if($item.ORNUMBER=='1') % #end
##					#end
##                </td>
##			#if($velocityCount%4==0)
##            </tr>
##			#end
##		#end
##            </tbody>
##         </table>
##<div class="easyui-dialog"  id="FIRSTMONEYHELP" title="友情提示" style="width:400px;height:auto;padding-left:10px;">
##	<br/>
##	首期付款合计=首期租金+手续费+保证金+保险费+担保费+(其他在金融产品中设置计入首期款的费用)<br/>
##	<font color="red">注意：当为期初模式时，首期付款合计中包含第一期租金</font>
##	#if($!param.rateList.size()>0)
##		<div style="height:20px"></div>
##		<div><b>利率规则</b></div>
##		<table  cellpadding="0" cellspacing="0" class="table_02">
##			<thead >
##				<tr>
##					<td class="text_left">租赁期限区间(月)</td>
##					<td class="text_left">首期租金比例区间(%)</td>
##					<td class="text_left">年利率(%)</td>
##				</tr>
##			</thead>
##			<tbody>
##				#foreach($!item in $!param.rateList)
##					<tr>
##						<td>$!item.LEASE_TERM_S --$!item.LEASE_TERM_E</td>
##						<td>$!item.START_PERCENT_S -- $!item.START_PERCENT_E</td>
##						<td>$!item.YEAR_RATE</td>
##					</tr>
##				#end
##			</tbody>
##		</table>
##		<font color="red"> 注意：区间值均为闭区间 格式为0,1 表示大于等于0 小于等于1</font>
##		 <div style="height:20px"></div>
##	 #end
##</div>