#parse("content/importBase.vm")
<table cellpadding="0" cellspacing="0" class="table_02">
	<thead>
		<tr>
             <td class="text_left">流程名称</td>
             <td class="text_left">状态</td>
             <td class="text_left">发起人</td>
             <td class="text_left">创建时间</td>
             <td class="text_left">结束时间</td>
             <td class="text_left">操作</td>
        </tr>
    </thead>
	<tbody >
		#foreach($!item in $!subList)
		<tr>
            <td>$!item.ID_ &nbsp;</td>
                 <td>#if($!item.STATE_=='ended')结束 #else 进行中#end</td>
                 <td>$!item.OP_NAME &nbsp;</td>
                 <td>$!item.START_DATE &nbsp;</td>
                 <td>$!item.END_DATE &nbsp;</td>
                <td><a href='javascript:void(0)' onclick="openJbpmInfo('$!item.ID_','$!item.MEMEID')">查看</a></td>
        </tr>
		#end
    </tbody>
</table>
<script type="text/javascript">
    function openJbpmInfo(jbpmId,MEMEID){
     top.addTab(jbpmId,"$_basePath/bpm/Task!toShowOld.action?MEMO_ID="+MEMEID+"&JBPM_ID"+encodeURI(jbpmId));
    }
</script>