#parse("content/importBase.vm")
<LINK rel="stylesheet" type="text/css" href="$_basePath/project/css/StartProject.css">
<script type="text/javascript" src="$_basePath/project/js/project.js"></script>
<script type="text/javascript" src="$_basePath/project/js/startProject.js"></script>
<input id="divIdShowValue" name="divIdShowValue" type="hidden" value="$!divIdShow"/>
<input type="hidden" name="customer_ID" id="customer_ID" value="$!param.CUSTOMER_ID" alt="客户ID">
<input type="hidden" name="customer_Type" id="customer_Type" value="$!param.CUSTOMER_TYPE"  alt="客户类型">
<input type="hidden" name="customer_Name" id="customer_Name" value="$!param.CUSTOMER_NAME"  alt="客户名称">
		<div >
			<table cellpadding="0"  cellspacing="0" border="0" style="width:98%; margin:1% auto;" class="table_01">
				<tr bgcolor="#fbfcfc" align="center">
					<td>
                        <div class="reType #if($enableType.contains('直租'))reType-1-y direct#else reType-1-n #end" id="0" title="直租"></div>
							<div id="preview$!divIdShow"></div>
					</td>
					<td >
						<div class="reType #if($enableType.contains('标准型售后回租业务'))reType-2-y direct#else reType-2-n #end" id="1" title="标准型售后回租" ></div>
						
					</td>
					<td >
						<div class="reType #if($enableType.contains('销售型售后回租业务'))reType-3-y direct#else reType-3-n #end" id="2" title="销售型售后回租" ></div>
					</td>
                </tr>
				<tr bgcolor="#fbfcfc" align="center">
                    <td style="text-align:center">
						<a href="javascript:void(0);" id="0" tabid="tab_business_new" title="项目申请"  #if($enableType.contains('直租'))class="direct"#end>直租</a>
					</td>
					<td style="text-align:center">
						<a href="javascript:void(0);" tabid="tab_business_new" id="1" title="项目申请" #if($enableType.contains('标准型售后回租业务'))class="direct"#end>标准型售后回租业务</a>
					</td>
					<td style="text-align:center">
						<a href="javascript:void(0);" tabid="tab_business_new" id="2" title="项目申请" #if($enableType.contains('销售型售后回租业务'))class="direct"#end>销售型售后回租业务</a>
					</td>
                </tr>
				<tr bgcolor="#fbfcfc"  align="center">
					<td>
						<div class="reType #if($enableType.contains('大项目融资租赁业务'))reType-4-y direct#else reType-4-n #end" id="3" title="大项目融资租赁" ></div>
					</td>
					<td >
						<div class="reType #if($enableType.contains('经营租赁业务'))reType-5-y direct#else reType-5-n #end" id="4" title="经营租赁业务" ></div>
					</td>
					<td>
                        <div class="reType #if($enableType.contains('委托租赁业务'))reType-6-y direct#else reType-6-n #end" id="5" title="委托租赁业务"></div>
					</td>
                </tr>
				<tr bgcolor="#fbfcfc"  align="center">
					<td style="text-align:center">
						<a id="3" href="javascript:void(0);" tabid="tab_business_new" #if($enableType.contains('大项目融资租赁业务'))class="direct"#end>大项目融资租赁业务</a>
					</td>
					<td style="text-align:center">
						<a id="4" href="javascript:void(0);" tabid="tab_business_new" #if($enableType.contains('经营租赁业务'))class="direct"#end>经营租赁业务</a>
					</td>
                    <td style="text-align:center">
						<a id="5" href="javascript:void(0);" tabid="tab_business_new" #if($enableType.contains('委托租赁业务'))class="direct"#end>委托租赁业务</a>
					</td>
                </tr>
				<tr bgcolor="#fbfcfc"  align="center">
					<td>
						<div id="6" class="reType #if($enableType.contains('杠杆租赁业务'))reType-7-y direct#else reType-7-n #end" title="杠杆租赁业务"></div>
					</td>
					<td>
                        <div id="7" class="reType #if($enableType.contains('联合租赁业务'))reType-8-y direct#else reType-8-n #end" title="联合租赁业务"></div>
					</td>
					<td>
						<div id="8" class="reType #if($enableType.contains('转租赁业务'))reType-9-y direct#else reType-9-n #end" title="转租赁业务" ></div>
					</td>
                </tr>
				<tr bgcolor="#fbfcfc"  align="center">
                    <td style="text-align:center">
						<a id="6" href="javascript:void(0);" tabid="tab_business_new"  #if($enableType.contains('杠杆租赁业务'))class="direct"#end>杠杆租赁业务</a>
					</td>
					<td style="text-align:center">
						<a id="7" href="javascript:void(0);" tabid="tab_business_new"  #if($enableType.contains('联合租赁业务'))class="direct"#end>联合租赁业务</a>
					</td>
					<td style="text-align:center">
						<a id="8" href="javascript:void(0);" tabid="tab_business_new" #if($enableType.contains('转租赁业务'))class="direct"#end>转租赁业务</a>
					</td>
                </tr>
            </table>
        </div>
		