#if($param.QD&&$!param.QD=='show')
#parse("content/importBase.vm")
#end
<script type="text/javascript" src="$_basePath/project/js/uploadFile.js"></script>
<div region="center" border="false" fit="true">
	<table class="easyui-datagrid" title="" style="" id="uploadFileGrid" data-options="fitColumns:'true',toolbar: '#uploadFile',singleSelect:false,rownumbers:true,collapsible:true,url:'$_basePath/project/project!findAttachments.action?PROJECT_ID=$!param.PROJECT_ID',method:'post'">
		<thead >
    		<tr >
				<th data-options="field:'ID',hidden:true">主键id </th>
    			<th data-options="field:'FILE_NAME',width:100">文件名称 </th>
				<th data-options="field:'FILE_SIZE',width:100">文件大小 </th>
				<th data-options="field:'REMARK',width:100">备注</th>
            </tr>
        </thead>
    </table>
</div>

</div>
#if($!param.tab_1=="update")
<div id="uploadFile" style="height:auto;">
<a  href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openDialog('uploadFile_')">
			添加
</a>
##<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick=""></a>
<a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon-remove',plain:true" onclick="deleteFile();">
			删除
</a>
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-down',plain:true" onclick="downloadFile();">下载</a>
</div>
#else
	<div id="uploadFile" style="height:auto;">
	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-down',plain:true" onclick="downloadFile();">下载</a>
</div>
#end

<input type="hidden" id="PROJECT_ID_HIDDEN" value="$!param.PROJECT_ID">
<div id="uploadFile_" title="资料上传" class="easyui-dialog"  modal="true" data-options="resizable:true" buttons="#uploadFile_dialogButtons" closed="true" style="width:700px;height:auto;top:15px">
	<form id="addUploadFile_"  enctype="multipart/form-data"   method="post"  novalidate>
		<input type="hidden" name="PROJECT_ID" id="PROJECT_ID" value="$!param.PROJECT_ID">
		<input type="hidden" name="CUST_ID" id="CUST_ID" value="$!param.CUST_ID">
		<table class="table_01" cellpadding="0" cellspacing="0">
           
			<tr>
                <td>文件上传：</td>
                <td><input type='file' name='FIL_NAME' class='uploadfile' id='uploadFileId' size='10' /></td>&nbsp;
			</tr>
			
			<tr>
				<td>备注:</td>
				<td >
				<textarea   name="REMARK" id="REMARK_ID"></textarea>&nbsp;
				</td>	
			</tr>
			
        </table>
		
    </form>
	
</div>

<div id="uploadFile_dialogButtons">
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveFile();">保存</a>
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeDialog('uploadFile_');">关闭</a>
</div>
