<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退款审批单</title>
	#parse("content/importBase.vm") 
    </head>
    <body >	
        <div align="center"><h2 style="color:red">$!REFUND_TYPE</h3></div>
        <table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
          <thead>
			<tr bgcolor="#fbfcfc" align="center">
			  <td width="5%" >序号</td>
              <td width="15%">供应商</td>
			  <td width="10%">厂商</td>
			  <td width="15%">收款单位</td>
              <td width="15%">开户行</td>
              <td width="20%">开户行所在地</td>
			  <td width="10%">账号</td>
			  <td width="10%">保证金金额</td>
            </tr>
		 </thead>
        #foreach($item in $!listApply)
         <tr>
          <td align="center">$velocityCount</td>
          <td align="center">$!item.SUP_SHORTNAME</td>
	      <td align="center">$!item.COMPANY_NAME </td>
	      <td align="center">$!item.RE_PAYEE_UNIT </td>
	      <td align="center">$!item.RE_PAYEE_BANK </td>
	      <td align="center">$!item.RE_PAYEE_BANK_ADDR </td>
	      <td align="center">$!item.RE_PAYEE_ACCOUNT </td>
		  <td align="center">$FORMAT.currency($!item.RE_MONEY) </td>
	    </tr>
	   #end
      </table>  
      <div align="center"><h2 style="color:red">$!REFUND_TYPE 明细</h3></div>
	  <table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
          <thead>
			<tr bgcolor="#fbfcfc" align="center">
			  <td width="5%" >序号</td>
			  <td width="10%">供应商</td>
			  <td width="10%">项目编号</td>
			  <td width="10%">客户名称</td>
			  <td width="10%">厂商</td>
			  <td width="5%">租赁物名称</td>
			  <td width="5%">机型</td>
			  <td width="5%">出厂编号</td>
			  <td width="5%">台量</td>
			  <td width="5%">租赁到期日</td>
			  <td width="5%">结束状态</td>
			  <td width="5%">款项名称</td>
			  <td width="5%">实收金额</td>
			  <td width="5%">保证金金额</td>
			  <td width="10%">收款单位</td>
            </tr>
		 </thead>
        #foreach($item in $!listApplyDetail)
         <tr>
          <td align="center">$velocityCount</td>
          <td align="center">$!item.SUP_SHORTNAME</td>
	      <td align="center">$!item.PRO_CODE</td>
		  <td align="center">$!item.CLIENT_NAME </td>
	      <td align="center">$!item.COMPANY_NAME </td>
	      <td align="center">$!item.PRODUCT_NAME </td>
	      <td align="center">$!item.TYPE_NAME </td>
		  <td align="center">$!item.WHOLE_ENGINE_CODE </td>
		  <td align="center">$!item.AMOUNT </td>
		  <td align="center">$!item.DELIVER_DATE </td>
		  <td align="center">$!item.PROJECT_STATUS </td>
		  <td align="center">$!item.TYPE_NAME1 </td>
		  <td align="center">$FORMAT.currency($!item.BASE_MONEY) </td>
		  <td align="center">$FORMAT.currency($!item.RE_MONEY) </td>
		  <td align="center">$!item.RE_PAYEE_UNIT </td>
	    </tr>
	   #end
      </table>
  </body>
</html>