<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/res/jquery/easyui/datagrid-detailview.js"></script>
    </head>		
	<script type="text/javascript">
    	function search2(){
		    var RE_DATE_BEGIN = $("#RE_DATE_BEGIN").datebox("getValue");
			var RE_DATE_END = $("#RE_DATE_END").datebox("getValue");
    	    var SUP_SHORTNAME = $("#SUP_SHORTNAME").val(); 
			var RE_PAYEE_UNIT = $("#RE_PAYEE_UNIT").val();
			var RE_CODE = $("#RE_CODE").val();
			var PRO_CODE = $("#PRO_CODE").val();
			var CUST_NAME = $("#CUST_NAME").val();
			var BUSINESS_SECTOR = $("#BUSINESS_SECTOR").val();
			var RE_STATUS = $("#RE_STATUS").val();
    	    $('#pageTable2').datagrid('load', {"SUP_SHORTNAME":SUP_SHORTNAME,"RE_PAYEE_UNIT":RE_PAYEE_UNIT,"RE_CODE":RE_CODE,"PRO_CODE":PRO_CODE,
			"RE_DATE_BEGIN":RE_DATE_BEGIN,"RE_DATE_END":RE_DATE_END,"RE_STATUS":RE_STATUS,"CUST_NAME":CUST_NAME,"BUSINESS_SECTOR":BUSINESS_SECTOR});
    	}
 
		function exportRefundMess(){
        	var url = "$_basePath/capitalPool/supplierPool/SupplierBailPool!exportRefundMess.action";
        	var datagridList=$("#pageTable2").datagrid('getChecked');
        	var sqlData = [];		
        	for(var i = 0; i < datagridList.length; i++) {
        		sqlData.push("'"+datagridList[i].RE_ID+"'");
        	}
        	
    		if(datagridList.length == 0){
    			alert("请选择要导出的数据");
    			return;
    		}
        	$('#form01').form('submit',{
                url:url,
                onSubmit: function(){
        			//导出标识
        			if($('#sqlData').length<=0){
        				$('#form01').append('<input name=\"sqlData\"  id=\"sqlData\" type=\"hidden\" />');
        			}
        			$('#sqlData').val(sqlData.join(','));
                },
                success : function(){
                	se();
                }
            });
        	$('#sqlData').remove();
		}
		$(function(){
		    $('.linkbutton').linkbutton();
            $('.datebox').datebox();
		})
    </script>
	<body>
		<div id="pageForm2" style="padding:20px;height:auto">    
			<form id="form01" method="post">
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
				  <td colspan="6">
				   ## <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-down" plain="true" onclick="exportRefundMess()">导出选中项</a>
				   &nbsp;
                  </td>
				</tr>
    			<tr>
            	  <td>退款单号：</td>
				  <td ><input class="input_03" type="text" size ="20" id="RE_CODE" name="RE_CODE" value="$!param.RE_CODE" /></td>
				  <td >项目编号： </td>
				  <td ><input class="input_03" type="text" size ="20" id="PRO_CODE" name="PRO_CODE" value="$!param.PRO_CODE" /></td>
				  <td >退款日期：</td>
				  <td ><input type="text" size ="20" id="RE_DATE_BEGIN" name="RE_DATE_BEGIN" class="datebox" />
				     -至-
				     <input type="text" size="20" id="RE_DATE_END" name="RE_DATE_END" class="datebox" />
                  </td>
				  <td> &nbsp;</td>
                </tr>
				<tr>
				  <td >收款人单位：</td>
				  <td ><input class="input_03" type="text" size ="20" id="RE_PAYEE_UNIT" name="RE_PAYEE_UNIT" value="$!param.RE_PAYEE_UNIT" /></td>
				  <td >供应商名称：</td>
				  <td><input class="input_03" type="text" size ="20" id="SUP_SHORTNAME" name="SUP_SHORTNAME" value="$!param.SUP_SHORTNAME" /></td>
				  <td>退款状态：</td>
				  <td>
					<select id="RE_STATUS" name="RE_STATUS" style="width:135px">
						<option value="">--全部--</option>
    					#foreach($!item in $!refundStatus)
							<option value="$!item.CODE" #if($!item.FLAG==$!Param.RE_STATUS)selected #end>$!item.FLAG</option>
						#end
                     </select>
                  </td>
				  <td> &nbsp; </td>
                </tr>
				<tr>
				  <td >承租人：</td>
				  <td ><input class="input_03" type="text" size ="20" id="CUST_NAME" name="CUST_NAME" value="$!param.CUST_NAME" /></td>
				  <td>商务板块：</td>
				  <td>
    				<select id="BUSINESS_SECTOR" name="BUSINESS_SECTOR" style="width:135px">
    					<option value="">-全部-</option>
    					#foreach($!item in $!busPlate)
    				      <option value="$!item.CODE"  #if($!item.FLAG==$!Param.BUSINESS_SECTOR)selected #end>$!item.FLAG</option>
    					#end
                    </select>
                  </td>
				  <td colspan="2"> &nbsp;</td>
				  <td>
				     <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="search2()">查询</a>
                  </td>
                </tr>
    	    </table>
            </form>
		</div>		    
		<table id="pageTable2" class="easyui-datagrid" fit="true" fitColumns="true" pagination="true" rownumbers="true" singleSelect="true" url="$_basePath/refund/RefundBailApply!getSearchDetailPageData.action" toolbar="#pageForm2" >
    		<tr>
				<thead>
		            <th data-options="field:'RE_CODE',width:100">退款单号</th>
    				<th data-options="field:'SUP_SHORTNAME',width:100">供应商名称</th>
					<th data-options="field:'CUST_NAME',width:100">承租人</th>
					<th data-options="field:'PRO_CODE',width:100">项目编号</th>
    				<th data-options="field:'RE_PAYEE_UNIT',width:100">收款单位</th>
			        <th data-options="field:'RE_PAYEE_ADDRESS',width:150">地址</th>
					<th data-options="field:'RE_PAYEE_BANK',width:150">开户行</th>
					<th data-options="field:'RE_PAYEE_BANK_ADDR',width:150">开户行所在地</th>
					<th data-options="field:'RE_PAYEE_ACCOUNT',width:150">退款账号</th>
					<th data-options="field:'BASE_MONEY',width:100">保证金额</th>
					<th data-options="field:'CANUSE_MONEY',width:150">退款金额</th>
					<th data-options="field:'RE_DATE',width:150">退款日期</th>
					<th data-options="field:'RE_REAL_TIME',width:150">实际退款日期</th>
					<th data-options="field:'RE_STATUS',width:100">状态</th>
                </thead>
    		</tr>
         </table>
    </body>
</html>