<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBaseS.vm")
		<script type="text/javascript" src="$_basePath/overdue/js/exemptApply.js"></script>
	</head>
	<body>
		<table id="pageTable" fit="true" fitColumns="true" pagination="true" rownumbers="true" toolbar="#pageForm" >
		</table>
		<div id="pageForm" style="height:auto;" border="true">
    		<form id="queryForm">
				<table width="80%" cellspacing="0" cellpadding="4px;" border="0">
                    <tr>
                       <td align="right">支付表号：</td>
    				   <td><input class="input_03" type="text"  name="PAY_CODE" /></td>
                       <td align="right">经销商：</td>
    				   <td><input class="input_03" type="text"  name="SUP" /></td>
    				   <td align="right">客户名称：</td>
    				   <td><input class="input_03" type="text"  name="CUST_NAME" /></td>
    				  
                   </tr>
    			   <tr>
    			   	  <td align="right">品牌名称：</td>
    				  <td><select name="EQUI" >
    						<option value="">全部</option>
    						#foreach($!item in $EQUI)
    							<option value="$!item.PRODUCT_NAME">$!item.PRODUCT_NAME</option>
    						#end
    				  </select></td>
    				  <td align="right">计划收取日：</td>
    				    <td colspan="3">
                        	<input class="easyui-datebox" type="text" name="RENT_DATE_START"  />-<input class="easyui-datebox" type="text"  name="RENT_DATE_END" />
                       </td>
    				   <td>
    				   <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>搜 索</a>
    				   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-cancel" onclick='clear_();'>清 空</a>
    				   </td>
    			   </tr>
    			   <tr><td colspan="9">
    				<input type="checkbox" id="check1" onclick="selectPage(this)" />
    				<label for="check1">页面全选</label>
    				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="approval('yes')">确认申请</a>
                    ##<input type="checkbox" id="check2"  name="selectAll" /> 
    				##<label for="check2">数据全选</label>
    				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="appAll()">申请所有(所有逾期)</a>
    				</td></tr>
    			</table>
            </form>
        </div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#pageTable").datagrid({
					url:"$_basePath/overdue/Overdue!toExemptOverdueApplyPage.action",
					pageSize:50,
                    columns:[[
                        {field:'SUP',width:200,title:'经销商',align:'center'},
                        {field:'PAY_CODE',width:200,title:'支付表号',align:'center'},
                        {field:'CUST_NAME',width:200,title:'客户',align:'center'},
                        {field:'EQUI',width:200,title:'品牌类型',align:'center'},
                        {field:'RENT_DATE',width:200,title:'计划还款日期',align:'center'},
                        {field:'PERIOD',width:50,title:'期次',align:'center'},
                        {field:'SUMFUN_C',width:200,title:'违约金金额',align:'center'},
                    ]]
                });
				
			});
        </script>
	</body>
</html>