<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
		<script type="text/javascript">
			function upMoney(id){
				$("#ID").val(id);
				$('#upDialog').dialog("open");
			}
			function doSave(){
				var data = {
					ID : $("#ID").val(),
					MONEY : $("#MONEY").val()
				};
				jQuery.ajax({
					url : "$_basePath/overdue/Overdue!doExemptUp.action",
					data :data,
					dataType : "json",
					success : function(json){
						if(json.flag){
							window.location.reload();
						}else{
							alert(json.msg);
						}
					}
				});
			}
			$(function(){
				$('#upDialog').dialog({
                    width: 250,
                    height: 150,
                    cache: true,
					closed:true,
					buttons : "#upDialog-buttons"
                });
			});
        </script>
	</head>
	<body fit="true">
		<table cellspacing="0" cellpadding="0" class="table_01">
        	<thead >
                <tr>
                    <td bgcolor="#fbfbfb">供应商</td>
                    <td bgcolor="#fbfbfb">承租人</td>
                    <td bgcolor="#fbfbfb">租赁设备</td>
                    <td bgcolor="#fbfbfb">还款计划编号</td>
            		<td bgcolor="#fbfbfb">逾期期数</td>
            		<td bgcolor="#fbfbfb">减免金额</td>
            		<td bgcolor="#fbfbfb">违约金金额</td>
            		<td bgcolor="#fbfbfb">操作</td>
                </tr>
            </thead>
			<tbody>
				#foreach($item in $list)
				<tr>
					<td align="left" >$!item.SUP</td>
					<td align="left" >$!item.CUST_NAME</td>
					<td align="left" >$!item.EQUI</td>
					<td align="left" >$!item.PAY_CODE</td>
					<td align="left" >$!item.PERIOD</td>
					<td align="right" >$format.currency($!item.MONEY)</td>
					<td align="right" >$format.currency($!item.MONEY_SRC)</td>
                    <td><a href="javascript:void(0);" onclick="upMoney('$!item.ID');">修改</a></td>
                </tr>
				#end
			</tbody>
		</table>
		<div style="display:none;">
			<div class="easyui-dialog" id="upDialog" title="请输入修改后减免金额" style="padding:20px">
				<input id="ID" type="hidden" />
				<input id="MONEY" value=""/>
            </div>
    		<div id="upDialog-buttons">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="doSave()">保存</a>
    		</div>
        </div>
	</body>
</html>