	<!-- 路径定义-->
	#set ( $_basePath = $request.ContextPath )
	<input type="hidden" id="KHMC" value="$!KHMC"/>
	<input type="hidden" id="PAYLIST_CODEYQ" value="$!param.PAYLIST_CODE"/>
	<link type="text/css" href="$_basePath/css/index/css.css" rel="stylesheet"></link>
	<!--'区域'、'分支机构'、'支付表编号'、'项目名称'、'客户名称'、'期次(已还至哪一期)'、'应收日期'、'逾期金额'、'逾期天数'、'累计逾期次数'。(按照书写次序显示)-->
	<script type="text/javascript">
		var _basePath = "$!_basePath";
		$(function(){
			$(".datagrid").datagrid();
			$(".layout").layout();
    	 	$("#dg").datagrid({
				url:_basePath+'/call/OverdueClientStatistics!pageDataOnlyRead.action?KHMC='+encodeURI($("#KHMC").val())+'&PAYLIST_CODE='+encodeURI($("#PAYLIST_CODEYQ").val()),
				fitColumns:true,
				columns:[[
                  	{field:'QY',align:'center',width:150,title:'区域'},
					{field:'SUB_COM',align:'center',width:150,title:'分支机构'},
                  	{field:'PROJ_FUND_ID',align:'center',width:150,title:'支付表编号'},
					{field:'PRO_NAME',align:'center',width:150,title:'项目名称'},
					{field:'KHMC',align:'center',width:150,title:'客户名称'},
					{field:'RENT_LIST',align:'center',width:150,title:'期次'},
					{field:'YS_DATE',align:'center',width:150,title:'应收日期'},
                  	{field:'OVER_MONEY',align:'center',width:150,title:'逾期金额'},
                  	{field:'OVER_DAY',align:'center',width:150,title:'逾期天数'},
                  	{field:'COUNT_',align:'center',width:150,title:'累计逾期期次数'}
					
					/*{field:'DLD',align:'center',width:150,title:'供应商'},                  
                  	{field:'PROJ_FUND_ID',align:'center',width:150,title:'资金计划编号'},
                  	{field:'PROJ_ID',align:'center',width:150,title:'项目编号'},                  	
                  	{field:'EQUIP_AMT',align:'center',width:150,title:'台量'},
                  	{field:'PROD_TYPE',align:'center',width:150,title:'租赁物类型'},
                  	{field:'ZZS',align:'center',width:150,title:'厂商'},
                  	{field:'MODEL',align:'center',width:150,title:'机型'},
                  	{field:'PRO_NO',align:'center',width:150,title:'出厂编号'},
                  	{field:'YQQK',align:'center',width:150,title:'逾期情况'},
                  	{field:'QZ_CONFIRM_DATE',align:'center',width:150,title:'起租确认日期'}*/
    		  	]]
    	 	});
		});
	</script>
</head>
<body  class="layout">
<div  region="center" border="false">
	<table id="dg" class="datagrid"  pagination="true" data-options="rownumbers:true,singleSelect:true,toolbar:'#pageForm',fit:true,fitColumns:false">
		<tr>
            <td>正在查询......请稍后......</td>
        </tr>
	</table>
</div>
<div>
