<script type="text/javascript">
$(function(){
	$("td").each(function(){
		$(this).attr("title",$(this).text());
	});
});
</script>
<div style="width:100%;height: 99%;margin: 1% 0 0 1%;" align="center">
<table  cellpadding="0" cellspacing="0" class="table_01">
	<tr>
        <td class="text_right">客户</td>
        <td>$!RENTHEAD.NAME</td>
        <td class="text_right">支付表编号</td>
        <td>$!RENTHEAD.PAYLIST_CODE</td>
        <td class="text_right">项目编号</td>
        <td>$!RENTHEAD.PRO_CODE</td>
        <td class="text_right">起租日期</td>
        <td>#if($RENTHEAD.START_DATE)$!RENTHEAD.START_DATE#else &nbsp;#end</td>
    </tr>
	<tr>
        <td class="text_right">项目名称</td>
        <td>$!RENTHEAD.PRO_NAME</td>
        <td class="text_right">设备总价值</td>
        <td>$!RENTHEAD.LEASE_TOPRIC</td>
        <td class="text_right">项目融资额</td>
        <td>$!RENTHEAD.TOPRIC_SUBFIRENT</td>
        <td class="text_right">年利率</td>
        <td>#set($YEARRATE=$!RENTHEAD.YEAR_INTEREST*100) $YEARRATE% 
			##(#if($!RENTHEAD.YEAR_TYPE=='0')固定 #else 浮动 #end)
		</td>
    </tr>
	<tr>
        <td class="text_right">手续费率</td>
        <td>#if($RENTHEAD.FEES)$!RENTHEAD.FEES%#else&nbsp;#end</td>
        <!--
		<td class="text_right">方案名称</td>
        <td>$!RENTHEAD.POB_ID</td>
		-->
		<td class="text_right">租赁期数</td>
        <td>$!RENTHEAD.LEASE_TERM</td>
        <td class="text_right">租赁周期</td>
        <td colspan="3">$!RENTHEAD.LEASE_PERIOD</td>
    </tr>
	<tr>
        <td colspan="8">&nbsp;</td>
    </tr>
</table>
<div style="height:20px"></div>
<div style="height:20px"></div>
<table  cellpadding="0" cellspacing="0" class="table_02">
	<thead>
    	<tr>
            <td class="text_left">费用类型</td>
            <td class="text_left">费用名称</td>
            <td class="text_left">费用金额</td>
            <td class="text_left">应收时间</td>
        </tr>
    </thead>
	<tbody>
    	#foreach($!item in $!OTHERFEElIST)
    	<tr>
            <td>$!item.ITEM_FLAG</td>
            <td>$!item.ITEM_NAME</td>
            <td>$Format.currency($!item.ITEM_MONEY)</td>
            <td>#if($item.PAY_DATE)$!item.PAY_DATE#else&nbsp;#end</td>
        </tr>
    	#end
    </tbody>
</table>
<table id='subtab-dbgrid' cellpadding="0" cellspacing="0" width="100%">
    <TBODY>
        <tr>
            <td>
                <DIV class='gridbox' style="OVERFLOW-X: hidden;width:100%">
                    <table class="table_01" id='subtab-dbgrid_leftTable' cellpadding="0" cellspacing="0" width="98%">
                        <tr class="BOX_title" align="center">
                            <td width="4%">
                                批次
                            </td>
                            <td width="12%">
                                付款金额（元）
                            </td>
                            <td width="12%">
                                首付款
                            </td>
                            <td width="12%">
                                贴息金额
                            </td>
                            <td width="10%">
                                预计付款时间
                            </td>
                            <td width="35%">
                                满足申请条件
                            </td>
                        </tr>
                        <tbody class="pay_body">
							 #foreach($item in $paymentDetails)
							
                            <tr align="center" class="pay_tr">
                                <input type="hidden" name="paymentDetailId" value="$item.ID" />
								<td>
                                    <span class="BATCH" >$!velocityCount</span>
                                </td>
                                <td>
                                    $item.PAY_MONEY
                                </td>
								<td>
                                    $item.SQ_PRICE
                                </td>
								<td>
                                </td>
								
                                <td>
                                	$!item.RESERVE_DATE
                                </td>
                                <td>
                                    #foreach($norms in $!normList) 
										<input type="checkbox" name="checkbox"  nameValue="$norms.NORM_NAME" value="$norms.ID" 
										 #foreach($p in $item.paymentTerms)
											#if($norms.ID == $p.TERM_ID) idValue="$p.ID" checked="checked" #end
										 #end
										disabled/>$norms.NORM_NAME  
										#if($velocityCount%5 == 0)<br/>#end
                                    #end 
                                </td>
                            </tr>
							
							 #end
                        </tbody>
                    </table>
                </DIV>
            </td>
        </tr>
    </TBODY>
</table>
</div>