<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>催收记录列表</title>
			 #parse("content/importBase.vm")
		
	
</head>
	<body>
		<div class="BOX">
    		<div class="BOX_title" style="line-height: 24px;text-align: left;">
                <strong><span>$!param.PAYLIST_CODE 逾期记录</span></strong>
    		</div>
		<div class="BOX" style="margin-left:1%;margin-right:1%;width:98%;margin-top:10px;">
			<table  cellpadding="0" cellspacing="0" class="table_01" fit="true" > 
				<tr class="ui-widget-content jqgrow ui-row-ltr" height="28">
					<td  style="text-align: center;">还款计划</td>
					<td  style="text-align: center;">期次</td>
					<td  style="text-align: center;">应收日期</td>
					<td  style="text-align: center;">应收租金总额</td>
					<td  style="text-align: center;">实收租金总额</td>
					<td  style="text-align: center;">代理商垫付租金</td>
					<td  style="text-align: center;">应收罚息总额</td>
					<td  style="text-align: center;">实收罚息总额</td>
					<td  style="text-align: center;">代理商垫付罚息</td>
				</tr>
				<tbody>
				#foreach($item in $ovarDueAll)
					<tr class="ui-widget-content jqgrow ui-row-ltr" >
						<td style="text-align: center;" title="$!item.PAY_CODE">$!item.PAY_CODE</td>
						<td style="text-align: center;" title="$!item.PERIOD">$!item.PERIOD</td>
						<td style="text-align: center;" title="$!item.BEGINNING_RECEIVE_DATA">$!item.BEGINNING_RECEIVE_DATA</td>
						<td style="text-align: right;" title="$FORMAT.currency($!item.RENT_RECE)">$FORMAT.currency($!item.RENT_RECE)</td>
						<td style="text-align: right;" title="$FORMAT.currency($!item.RENT_PAID)">$FORMAT.currency($!item.RENT_PAID)</td>
						<td style="text-align: right;" title="$FORMAT.currency($!item.VINUAL_MONEY)">$FORMAT.currency($!item.VINUAL_MONEY)</td>
						<td style="text-align: right;" title="$FORMAT.currency($!item.PENALTY_RECE)">$FORMAT.currency($!item.PENALTY_RECE)</td>
						<td style="text-align: right;" title="$FORMAT.currency($!item.PENALTY_PAID)">$FORMAT.currency($!item.PENALTY_PAID)</td>
						<td style="text-align: right;" title="$FORMAT.currency($!item.VINUAL_PAID)">$FORMAT.currency($!item.VINUAL_PAID)</td>
					</tr>
				#end
				</tbody>
                 </table>
				
			   <div style="text-align:center;">
    				<input type="button" value="返 回" onclick="history.go(-1)" class="Button" />
    			</div>
			</div>
	</body>
	
</html>	