##parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/base/sp/creditDossier/js/hj_util.js"></script>
<script type="text/javascript" src="$_basePath/base/sp/creditDossier/js/debt.js"></script>##债务调查
<script type="text/javascript" src="$_basePath/base/sp/creditDossier/js/court.js"></script>##法院信息
<script type="text/javascript" src="$_basePath/base/sp/creditDossier/js/reputation.js"></script>##信誉记录
<script type="text/javascript" src="$_basePath/base/sp/creditDossier/js/repayment.js"></script>##银行征信
<script >
	$(function(){
		$(".autoPanel").panel();
	});
</script>
	<input type="hidden" id="supId" value="$!param.SUP_ID">
    <div title="债务调查" id="debt"  class="autoPanel" style="overflow:auto;"  
    data-options="href:'$_basePath/base/sp/CreditDossier!toMgDebt.action?SUP_ID=$!param.SUP_ID&tab_1=+$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#debt').panel('refresh', '$_basePath/base/sp/CreditDossier!toMgDebt.action?SUP_ID=$!param.SUP_ID&tab_1=+$!param.tab_1');}}]" ></div>
    
    <DIV style="height:20PX"></DIV>
	<div title="银行征信" id="payment" class="autoPanel" style="overflow:auto;" 
	data-options="href:'$_basePath/base/sp/CreditDossier!toMgPayment.action?SUP_ID=$!param.SUP_ID&tab=+$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#payment').panel('refresh', '$_basePath/base/sp/CreditDossier!toMgPayment.action?SUP_ID=$!param.SUP_ID&tab=+$!param.tab_1');}}]" ></div>
    
    <DIV style="height:20PX"></DIV>
	<div title="法院信息" id="court" class="autoPanel"  style="overflow:auto;"  
	data-options="href:'$_basePath/base/sp/CreditDossier!toMgCourt.action?SUP_ID=$!param.SUP_ID&tab_1=+$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#court').panel('refresh', '$_basePath/base/sp/CreditDossier!toMgCourt.action?SUP_ID=$!param.SUP_ID&tab_1=+$!param.tab_1');}}]" ></div>
    
    <DIV style="height:20PX"></DIV>
##	<div title="信誉记录" id="reputation" class="autoPanel" style="overflow:auto;"  data-options="href:'$_basePath/crm/CreditDossier!toMgReputation.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=+$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#reputation').panel('refresh', '$_basePath/crm/CreditDossier!toMgReputation.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=+$!param.tab_1');}}]" ></div>
					
					#*  
					<div title="债务调查" id="debt"  class="easyui-panel" style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/CreditDossier!toMgDebt.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#debt').panel('refresh', '$_basePath/crm/CreditDossier!toMgDebt.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addDebt}]" ></div>
				    <div title="法院信息" id="court" class="easyui-panel"  style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/CreditDossier!toMgCourt.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#court').panel('refresh', '$_basePath/crm/CreditDossier!toMgCourt.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addCourt}]" ></div>
				    <div title="信誉记录" id="reputation" class="easyui-panel" style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/CreditDossier!toMgReputation.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#reputation').panel('refresh', '$_basePath/crm/CreditDossier!toMgReputation.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addReputation}]" ></div>
					*#
