<!DOCTYPE HTML>
<html>
    <head>
        #parse("content/importBase.vm")
        <script type="text/javascript" src="$_basePath/js/util.js"></script>
    </head>
    <body>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
            <tbody>
                <tr>
                    <td colspan="8">
                        <strong>资金基本信息</strong>
                    </td>
                </tr>
                <tr style="color: rgb(0, 0, 0);" class="table_01_tr_odd">
                    <td style="width:10%">资金编号</td>
                    <td style="width:15%">$!data.FUND_FUNDCODE</td>
                    <td style="width:10%">资金状态</td>
                    <td>
                        <span class="fund_isnewAdd">
							#if($!data.FUND_STATUS=='0')
								源资金
							#elseif($!data.FUND_STATUS=='1')
								分解中
							#elseif($!data.FUND_STATUS=='2')
								待审核
							#elseif($!data.FUND_STATUS=='3')
								审核不通过
							#elseif($!data.FUND_STATUS=='4')
								已审核
							#elseif($!data.FUND_STATUS=='5')
								转出
							#elseif($!data.FUND_STATUS=='6')
								待确认资金
							#elseif($!data.FUND_STATUS=='7')
								确认未通过
							#elseif($!data.FUND_STATUS=='8')
								未审核
							#elseif($!data.FUND_STATUS=='9')
								审核通过
							#end
						</span>
                    </td>
                    <td style="width:10%"></td>
                    <td style="width:15%"></td>
                    <td style="width:10%"></td>
                    <td style="width:15%" id="commonCompanyId"></td>
                </tr>
                <tr style="color: rgb(0, 0, 0);" class=" table_01_tr_click">
                    <td>收款人</td>
                    <td>$!data.FUND_ACCEPT_NAME</td>
                    <td>收款帐号 </td>
                    <td>$!data.FUND_ACCEPT_CODE</td>
                    <td>来款人</td>
                    <td>$!data.FUND_COMENAME <input id="FI_TO_THE_PAYEE" type="hidden" value="$!data.FUND_COMENAME" /></td>
                    <td>来款帐号</td>
                    <td>$!data.FUND_COMECODE <input id="FI_TO_THE_ACCOUNT" type="hidden" value="$!data.FUND_COMECODE" /></td>
                </tr>
                <tr style="color: rgb(0, 0, 0);" class="table_01_tr_odd">
                    <td>来款金额</td>
                    <td>$!FORMAT.currency($!data.FUND_RECEIVE_MONEY)</td>
                    <td>承租人</td>
                    <td>$!data.FUND_CLIENT_NAME</td>
                    <td>资金到帐日期</td>
                    <td style="width:15%">$!FORMAT.date($!data.FUND_ACCEPT_DATE,'yyyy-MM-dd')
                    <input id="FUND_ACCEPT_DATE" type="hidden" value="$!FORMAT.date($!data.FUND_ACCEPT_DATE,'yyyy-MM-dd')" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="color: rgb(0, 0, 0);" class="">
                    <td>摘要</td>
                    <td colspan="7"></td>
                </tr>
                <tr style="color: rgb(0, 0, 0);" class="table_01_tr_odd">
                    <td class="BOX_title" colspan="8">
                        <strong>资金操作信息</strong>
                    </td>
                </tr>
                <tr style="color: rgb(0, 0, 0);" class="">
                    <td>导入人</td>
                    <td>$!data.FUND_IMPORT_PERSON $!FORMAT.date($!data.FUND_IMPORT_DATE)</td>
                    <td>认款人</td>
                    <td>$!data.FUND_PIDENTIFY_PERSON</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr style="border-color: #FFF;" />
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
            <thead>
                <tr class="table_01_tr_click">
                    <td width="9%" class="BOX_title" colspan="8">
                        <strong>可分解应收列表</strong>
                    </td>
                </tr>
                <tr class="init-tr">
                    <td style="width: 5%"></td>
                    <td style="width: 20%">支付表</td>
                    <td style="width: 5%">期次</td>
                    <td style="width: 15%">应收项目</td>
                    <td style="width: 12%">应收日期</td>
                    <td style="width: 12%">应收金额</td>
                    <td style="width: 12%">已收金额</td>
                    <td style="width: 12%">剩余金额</td>
                    <td style="width: 12%">本次实收</td>
                </tr>
            </thead>
            <tbody id="decList">
                #set($tempPayCode="")
                #set($flagItem=false)
                #foreach($item in $list)
                    #if($item.PAYLIST_CODE != $tempPayCode)
                        <tr style="color: rgb(0, 0, 0);" class="table_01_tr_odd">
                            <td style="text-align:left;font-weight: bold;padding-left: 5px;color:#2E6E9E;" colspan="8">
                            <input type="checkbox" onclick="autoClick(this)"/>
                            $item.PAYLIST_CODE
                            </td>
                        </tr>
                        #set($tempPayCode=$item.PAYLIST_CODE)
	                    #set($flagItem=false)
                    #end
                    <tr class="decItem" style="color: rgb(0, 0, 0);">
                        <td>
                            <input type="checkbox" class="baseItem" sid="$!item.FRBJ_ID" #if($item.BEGINNING_NUM) iszj='iszj'#end  #if($flagItem)disabled #end />
                        </td>
                        <td>$!item.PAYLIST_CODE</td>
                        <td>$!item.BEGINNING_NUM</td>
                        <td>$!item.BEGINNING_NAME</td>
                        <td>$!FORMAT.date($!item.BEGINNING_RECEIVE_DATA,'yyyy-MM-dd')</td>
                        <td style="text-align: right;">$!FORMAT.currency($!item.BEGINNING_MONEY)</td>
                        <td style="text-align: right;">$!FORMAT.currency($!item.BEGINNING_PAID)</td>
                        <td style="text-align: right;">$!FORMAT.currency($!item.MONEY)</td>
                        <td style="text-align: right;">
                            <input type="text" maxvalue="$!item.MONEY" name="r_arard" value="0" style="text-align: right;" disabled="" />
                        </td>
                    </tr>
                    #if(!$flagItem&&$item.BEGINNING_NUM)
                    #set($flagItem=true)
                    #end
                #end
                <tr class="beDecomposed" style="color: rgb(0, 0, 0);">
                    <td></td>
                    <td>--</td>
                    <td>--</td>
                    <td>待分解</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td style="text-align: right;">
                        <input type="text" readonly value="$!data.FUND_RECEIVE_MONEY" style="text-align: right;" id="txtLaveMoney" />
                    </td>
                </tr>
                <tr class="beDecomposed" id="trBeDecomposed" style="color: rgb(0, 0, 0);">
                    <td colspan="8">
                        <a class="easyui-linkbutton" href="javascript:void(0);" onclick="getSubParam();">提交</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript">
            var maxMoney = $!data.FUND_RECEIVE_MONEY;
            var FUND_ID = $!id;
			var FI_FAG= $!FI_FLAG;
        </script>
        <script type="text/javascript" src="$_basePath/fi/payin/fund_dec_op.js"></script>
    </body>
</html>
