<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>授信申请单管理</title>
	#parse("content/importBase.vm")
	<script>
	function se(){
		var SUP_SHORTNAME=$("#SUP_SHORTNAME").val();
		var APPLY_TYPE=$("#APPLY_TYPE").val();
		var CREDIT_ID = $("#CREDIT_ID").val();
		$('#pageTable').datagrid('load', {"SUP_SHORTNAME":SUP_SHORTNAME,"APPLY_TYPE":APPLY_TYPE,"CREDIT_ID":CREDIT_ID});
	}
	
	function clearMess(){
	    $("#form01").form('clear');
	}
 
	function applyDanDetail(id){
	   top.addTab("查看授信申请单","$_basePath/base/channel/ChannelApplyDan!detailApplyDan.action?APPLY_ID="+id);
	}
	
	function addApplyDan(){
	   top.addTab("担保额度申请单","$_basePath/base/channel/AssureCredit!showAssureCreditPage.action") ;
	}
	
	function editApplyDan(apply_id){
	   top.addTab("编辑授信申请单","$_basePath/base/channel/ChannelApplyDan!editApplyDan.action?APPLY_ID="+apply_id);
	}
	
	function delApplyDan(apply_id){
	    jQuery.ajax({
    		type: "POST",
    		url: "$_basePath/base/channel/ChannelApplyDan!delApplyDan.action",
    		data: "APPLY_ID="+apply_id,
    		dataType: "json",
    		success: function(res){
				if(res.flag==true){
					jQuery.messager.alert("提示",res.msg);
					se();
				}else{
				    jQuery.messager.alert("提示",res.msg);
				}
    		}
    	});
	}
	
	function startProcess(row){
       jQuery.ajax({
    		type: "POST",
    		url: "$_basePath/base/channel/AssureCredit!saveApplyAndStartProcess.action",
    		data: "APPLY_ID="+row.APPLY_ID+"&SUP_ID="+row.SUP_ID+"&CREDIT_ID="+row.CREDIT_ID,
    		dataType: "json",
    		success: function(res){
				if(res.flag==true){
					jQuery.messager.alert("提示",res.msg);
					se();
				}else{
				    jQuery.messager.alert("提示",res.msg);
				}
    		}
    	});
	}
	
	$(document).ready(function(){
    	var SUP_SHORTNAME = $("#SUP_SHORTNAME").val();
		var APPLY_TYPE = $("#APPLY_TYPE").val();
		var CREDIT_ID = $("#CREDIT_ID").val();
    	$("#pageTable").datagrid({
    		url:"$_basePath/base/channel/ChannelApplyDan!getApplyPage.action",
    		pagination:true,//是否分页 true为是
    		rownumbers:true,//左侧自动显示行数
			fit:true, 
			fitColumns:true,
    		singleSelect:true,
    		toolbar:'#pageForm',
    		queryParams:{"SUP_SHORTNAME":SUP_SHORTNAME,"APPLY_TYPE":APPLY_TYPE,"CREDIT_ID":CREDIT_ID},
    		columns:[[
    	      	{field:'SCODE',title:'供应商编号',width:50},
    	      	{field:'SUP_SHORTNAME',title:'供应商简称',width:100},
    	      	{field:'SUP_NAME',title:'供应商全称',width:100},
    	      	{field:'APPLY_SALE_ID',title:'申请人',width:100},
    	      	{field:'APPLY_TIME',title:'申请时间',width:100},
    	      	{field:'APPLY_TYPE',title:'申请单类型',width:100},
    	      	{field:'APPLY_STATUS',title:'申请状态',width:100},
    	      	{field:'APPLY_ID',title:'操作',width:100,align:'center',formatter:function(value,row,rowIndex){
				        var html = "<a href=javascript:void(0) onclick='applyDanDetail("+value+")'>查看</a>&nbsp;";
						if(row.APPLY_STATUS =="未评审"){
						    html += "|<a href=javascript:void(0) onclick='editApplyDan("+value+")'>编辑</a>&nbsp";
							html += "|<a href=javascript:void(0) onclick='delApplyDan("+value+")'>删除</a></br>";
							html += "&nbsp;<a href=javascript:void(0) onclick='startProcess("+JSON.stringify(row)+")'>发起评审</a>&nbsp;";
						}
    	      			return html;
    			        }
    	      	}
    	     ]]
    	});
    });
	</script>
</head>
<body  class="easyui-layout">
  
<div  region="center" border="false">
	<div id="pageForm" style="padding:20px;height:auto">	
       <form id="form01" method="post">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
        	  <td>
				供应商(名称)简称：
				<input class="input_03" type="text" size ="20" id="SUP_SHORTNAME" value="$!param.SUP_SHORTNAME" />
			         申请单类型：
				 <select name="APPLY_TYPE" id="APPLY_TYPE">
    				<option value="">-请选择-</option>
    					#foreach($!item in $!applyTypes)
    						<option value="$!item.CODE" #if($!item.CODE==$!param.APPLY_TYPE) selected  #end>$!item.FLAG
                            </option>
    					#end
                   </select>
				   <input type="hidden" name="CREDIT_ID" id="CREDIT_ID" value="$!param.CREDIT_ID"/>
			#if($!SUP_ID !='')<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" onclick='addApplyDan();'>添加担保额度申请单</a>#end
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查询</a>
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick='clearMess();'>清空</a>
			  </td>
            </tr>
	    </table>
       </form>
	</div>		    
	<table id="pageTable">
		
    </table>
 </div>	 
	
  </body>
</html>