<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
		#set ( $_basePath = $request.ContextPath )
		#parse("content/importBase.vm")
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>查看</title>
		<script type="text/javascript" language="JavaScript">
			jQuery(function(){
    			jQuery("#FIRSTMONEYHELP").dialog('close');
    		});
			/*
        	function toMgEdossier1(CLIENT_ID){
            	top.addTab("电子档案",_basePath+"/crm/Customer!toMgEdossier.action");
            	
            }
        	function toMgCallLog1(CLIENT_ID){
            	alert(CLIENT_ID);
            	top.addTab("沟通记录",_basePath+"/crm/Customer!toMgCallLog.action");
            	
            }
        	function toMgCredit1(CLIENT_ID){
            	top.addTab("信用档案",_basePath+"/crm/ ?CLIENT_ID="+CLIENT_ID);
            	
            }
        	function goAssetsMg1(CLIENT_ID){
            	top.addTab("资产档案",_basePath+"/crm/AssetsDossier.action?CLIENT_ID="+CLIENT_ID);
            	
            }*/
			$(function(){
				var app_name = "$!AppInfos.APPLY_NAME";
				var app_type = "$!AppInfos.APPLY_TYPE";
				if(app_type==1){
				   $("#table_04").css('display','none');
				}else{
				   $("#table_04").css('display','');
				}
			});
        </script>
		<style type="text/css">
            table th {white-space:nowrap;}
            table td {white-space:nowrap;}
        </style>
		<script type="text/javascript" src="js/finance_debtUpdate.js"></script>
        <script type="text/javascript" src="js/dateUtil.js"></script>
        <script type="text/javascript" src="js/financeDebt_countNum.js"></script>
        <script type="text/javascript" src="js/util.js"></script>
        <script type="text/javascript" src="js/finnceReport.js"></script>
    	<script type="text/javascript">
    		var _basePath = "$!_basePath";
    	</script>
    	<script type="text/javascript" src="$_basePath/res/jquery/plugins/jquery.form.js"></script>
    	<script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>
    	<link type="text/css" href="$_basePath/css/index/css.css" rel="stylesheet"></link>  
    	<script type="text/javascript"  src="js/suppliers.js"></script> 
	</head>

    <body class="easyui-layout" style="background-image:none;">
    	<div region="center" fit="true" border="false">
        
    	<form id="frmSearch" name="frmSearch" action ="ProSupPliers!modifySupPage.action"   method="post"> 
    		<input type="hidden" name="SUPPLIERS_NAME" id="SUPPLIERS_NAME" value="$!supplier.SUP_NAME"/>
			<input type="hidden" id="APP_ID" name="APP_ID" value="$!APP_ID"/>
    		<input type="hidden" name="SUP_ID" id="SUP_ID" value="$!supplier.SUP_ID"/>
    		<input type="hidden" name="STATUS" id="STATUS" value="$!supplier.STATUS"/>
			<input type="hidden" name="COMPANY_ID" id="COMPANY_ID" value="$!supplier.COMPANY_ID"/> 
    		<br/>
             <table class="table_04" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
                <tr align="left">
                    <td width="4%" rowspan="29" align="center"  bgcolor="#fbfcfc" style="border-left:1;">
                        <b>代<br/>理<br/>商<br/>基<br/>本<br/>情<br/>况</b>
                	</td>
                </tr>
                 <tr>
                	<td  class="text-r" align="right" style="width:10%"><b>供应商全称</b></td>
                    <td style="width:20%" align="center"> $!supplier.SUP_NAME </td>
                    <td  class="text-r" align="right" style="width:10%"><b>厂商</b></td>
                    <td style="width:20%" align="center">
    					$!supplier.COMPANY_NAME  
    				</td>
    				<td  class="text-r" align="right" style="width:10%"><b>供应商模式</b></td>
                    <td style="width:20%"  align="center">  $!supplier.SUP_LEVEL  </td>		
                </tr>
    			<tr>
                	<td  class="text-r" align="right"><b>营业执照号</b></td>
                    <td  align="center"> $!supplier.TAX_CODE </td>
        			<td  class="text-r" align="right"><b>注册资本(万元)</b></td>
                    <td  align="center"> $!supplier.REGISTE_CAPITAL      </td>
                    <td  class="text-r" align="right"><b>成立日期</b></td>
                    <td  align="center"> $!supplier.SETUP_DATE </td>
                </tr>
                <tr>
                    <td  class="text-r" align="right"><b>组织机构代码</b></td>
                    <td  align="center"> $!supplier.ORAGNIZATION_CODE </td>
                    <td  class="text-r" align="right"><b>实收资本(万元)</b></td>
                    <td  align="center"> $!supplier.PAICLUP_CAPITAL     </td>
                    <td  class="text-r" align="right"><b>法定代表人</b></td>
                    <td  align="center">$!supplier.SUP_LEGAL_NAME </td>
                </tr>
                <tr>
        			<td class="text-r" align="right"><b>纳税人识别号</b></td>
        			<td  align="center"> $!supplier.TAX_IDEN_NUM  
        			<td  class="text-r" align="right"><b>纳税资质</b></td>
                    <td  align="center"> $!supplier.TAX_QUAL </td>
    				<td  class="text-r" align="right"><b>注册地址</b></td>
    				<td  align="center"> $!supplier.BILL_ADDRESS  </td>
                </tr>
        		 <tr>
    				<td class="text-r" align="right"><b>#if($!supplier.STATUS==0) 已获批初始额度#elseif($!supplier.STATUS==-1) 未授信 #else 已获批标准额度#end </b></td>
    				<td  align="center">#if($!supplier.STATUS==0) $!supplier.INITIAL_AMOUNT #else $!supplier.STANDARD_AMOUNT  #end </td>
    				<td class="text-r" align="right"><b>已获批担保额度</b></td>
    				<td  align="center">$!supplier.ASSURE_AMOUNT</td>
    				<td class="text-r" align="right"><b>已获批“一单一议”额度</b></td>
    				<td  align="center">$!supplier.SINGLE_AMOUNT</td>
        		  </td>	 
        		</tr>
			 </table>
       <br/>
	   #if($!supplier.STATUS!=-1) 
		
       <table id="table_04" class="table_04" cellpadding="0" cellspacing="0" style="margin-top:5px;display:none;" width="100%">
    		<tr align="left">
                <td width="4%" rowspan="29" align="center"  bgcolor="#fbfcfc" style="border-left:1;">
					<b><br/>历<br/>史<br/>信<br/>用<br/>记<br/>录</b>
    			</td>
    		</tr>
        	<tr>
                <td align="left" colspan="7"> <font style="color:red">历史逾期记录/网银扣划率(近一年每月)</font>
    			</td>
    		</tr>
    		<tr>
    			<td width="10%" align="center" class="text-r">月份</td>
    			<td width="10%" align="center" class="text-r">在租台量</td>
        		<td width="10%" align="center" class="text-r">台量逾期率</td>
    			<td width="10%" align="center" class="text-r">租金余额</td>
        		<td width="10%" align="center" class="text-r">租金逾期率</td>
        		<td width="10%" align="center" class="text-r">到期应收租金逾期率</td>
        		<td width="10%" align="center" class="text-r">本月应收租金逾期率</td>
    		</tr>
    		#foreach($!man in $!overdueInfos)
            <tr>
        		<td width="10%" align="center">$!man.CUR_MONTH</td>
        		<td width="10%" align="center">$!man.AMOUNT1</td>
        		<td width="10%" align="center">$!man.AMOUNT%</td>
        		<td width="10%" align="center">$!man.RENT1</td>
        		<td width="10%" align="center">$!man.CUR_RENT%</td>
        		<td width="10%" align="center">$!man.RENT%</td>
        		<td width="10%" align="center">$!man.UK_RAT%</td>
        	</tr>
           #end 
    	   <tr>
                <td align="left" colspan="7"> <font style="color:red">历史逾期记录/网银扣划率(近六个月平均)</font>
    			</td>
    		</tr>
    		<tr>
    			
    			<td width="10%" align="left" class="text-r">月份<input id="AVG_MONTH" name="AVG_MONTH" value="$!AVG_MONTH" type="text" readonly></td>
    			<td width="10%" align="center" class="text-r">台量逾期率<input id="AVG_AMOUNT1" name="AVG_AMOUNT1" value="$!AVG_AMOUNT1" type="hidden" readonly></td>
        		<td width="10%" align="left" class="text-r"><input id="AVG_AMOUNT" name="AVG_AMOUNT" value="$!AVG_AMOUNT%" type="text" readonly></td>
    			<td width="10%" align="center" class="text-r">租金逾期率<input id="AVG_RENT1" name="AVG_RENT1" value="$!AVG_RENT1" type="hidden" readonly></td>
        		<td width="10%" align="left" class="text-r"><input id="AVG_RENT" width="20px" name="AVG_RENT" value="$!AVG_RENT%" type="text" readonly></td>
        		<td width="10%" align="left" class="text-r">到期应收租金逾期率<input id="AVG_CUR_RENT" name="AVG_CUR_RENT" value="$!AVG_CUR_RENT%" type="text" readonly></td>
				<td width="10%" align="left" class="text-r">本月应收租金逾期率<input id="AVG_UK_RAT" name="AVG_UK_RAT" value="$!AVG_UK_RAT%" type="text" readonly></td>
			</tr>
       </table>
	   #else   #end
        <br/>
		<table class="table_04" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
                <tr align="left">
                    <td width="4%" rowspan="100" align="center"  bgcolor="#fbfcfc" style="border-left:1;">
							资<br/>产<br/>现<br/>状</b>
                	</td>
                </tr>
                <tr>
                	<td width="11%" class="text-r" align="right"><b>净资产总额</b></td>
                    <td width="16%" align="center"><input type="text" name="netasset" id="netasset" value="$!AppInfos.NETASSET" onchange="dosum()" style="height:30px;width:180px"/> </td>
					<td  width="4%" class="text-r" align="center" rowspan="10">
						<b>
							财<br/>务<br/>报<br/>表
						</b>
					</td>
					<td  class="text-r" align="right" rowspan="10" style="white-space: nowrap; margin-top:0px;">
						<div style="overflow:auto; height:300px;margin:0px;">  
    						<table class="table_04" cellpadding="0"  class="table_01"  cellspacing="0" style ="margin-left:0px;" >
                        		<tr>
                        			<input type="hidden" id="fil_type" name="fil_type"/>
                        			<td  align="center">描述
    								<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="$('#fil_type').val('财务报表');openDialog('dialoguploadfile1','附件上传')"></a>
    								</td>
                        			<td width="25%" align="center">操作 </td>
                        		</tr>
                        		
                        		<tbody id="bgid">
                        			#foreach($!file in $!bgfiles)
                            		<tr>
                            			<td title="$!file.FIL_MEMO" align="center">$!file.FIL_MEMO</td>
                                        <td align="left">
                        					<a href="Channel!downLoadSupFile.action?FIL_ID=$!file.FIL_ID" class="easyui-linkbutton" iconCls="icon-down" plain="true">下载</a>
                                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delFile($!file.FIL_ID,this)">删除</a>
                        				</td>
                            		</tr>
                            	    #end 
                        		</tbody>
                            </table>
						<div>
					</td>
                </tr>
    			<tr>
                    <td  class="text-r" align="right"><b>减：不可回收资产项目总额</b></td>
                    <td align="center">
    					<input type="text" name="unrecyclableAsset" id="unrecyclableAsset" value="$!AppInfos.UNRECYCLABLEASSET" onchange="dosum()" style="height:30px;width:180px"/>
    				</td>
                	
                </tr>
                <tr>
                    <td  class="text-r" align="right"><b>预估坏账总额</b></td>
                    <td align="center"> 
    					<input type="text" name="badDebt" id="badDebt" value="$!AppInfos.BADDEBT" style="height:30px;width:180px" onchange="dosum()" /> 
					</td>
                </tr>
                 <tr>
        			<td class="text-r" align="right"><b>非营运资产</b></td>
        			<td align="center"> 
    					<input type="text" id="non_performing_assets" name="non_performing_assets"  value="$!AppInfos.NON_PERFORMING_ASSETS" onblur="statlimit()" onchange="dosum()" style="height:30px;width:180px"/> 
					</td>
                </tr>
				 <tr>
        			<td class="text-r" align="right"><b>其他应剔除资产</b></td>
        			<td align="center"> 
    					<input type="text" id="eliminate_assets" name="eliminate_assets"  value="$!AppInfos.ELIMINATE_ASSETS" onblur="statlimit()" onchange="dosum()" style="height:30px;width:180px"/> 
					</td>
                </tr>
				 <tr>
        			<td class="text-r" align="right"><b>加：实际控制人/股东固定借款</b></td>
        			<td align="center"> 
    					<input type="text" id="actual_controller" name="actual_controller"  value="$!AppInfos.ACTUAL_CONTROLLER" onblur="statlimit()" onchange="dosum()" style="height:30px;width:180px"/> 
					</td>
                </tr>
				 <tr>
        			<td class="text-r" align="right"><b>其他实际运营资产</b></td>
        			<td align="center"> 
    					<input type="text" id="actual_operating_assets" name="actual_operating_assets"  value="$!AppInfos.ACTUAL_OPERATING_ASSETS" onblur="statlimit()" onchange="dosum()" style="height:30px;width:180px"/> 
					</td>
                </tr>
				<tr>
        			<td class="text-r" align="right"><b>真实运营净资产总额</b></td>
        			<td align="center"> 
    					<input type="text" id="realyassets" name="realyassets"  value="$!AppInfos.REAL_OPERATIONS_ASSETS" onblur="statlimit()" onchange="format('realyassets')" style="height:30px;width:180px"/> 
					</td>
                </tr>
				
			 </table>
			 <br/>
		<table class="table_04" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
                <tr align="left">
                    <td width="4%" rowspan="29" align="center"  bgcolor="#fbfcfc" style="border-left:1;">
                        <b>代<br/>理<br/>商<br/>经<br/>营<br/>能<br/>力<br/>评<br/>估</b>
                	</td>
                </tr>
				<tr>
                    <td width="16%" class="text-r" align="center"><b>评价对象</b></td>
                    <td width="10%" class="text-r" align="center"><b>得分</b></td>
                    <td width="10%" class="text-r" align="center"><b>满分</b></td>
                    <td class="text-r" align="center"><b>评估说明</b></td>
				</tr>
				#if($!supplier.STATUS==-1) 
				<tr>
                    <td align="center"><b>1、企业背景及综合管理能力：</b></td>
                    <td align="center"><input type="text" id="score01" name="score01" onchange="getscore1()" value="$!score.SCORE01" style="height:30px;width:50px;"/></td>
                    <td align="center"><input type="text" id="scoreSum01" name="scoreSum01" onchange="getscorebz1()"  value="$!score.SCORESUM01" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip01" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP01</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>2、营销能力：</b></td>
                    <td align="center"><input type="text" id="score02" name="score02" onchange="getscore1()"  value="$!score.SCORE02" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum02"  name="scoreSum02" onchange="getscorebz1()"  value="$!score.SCORESUM02" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip02" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP02</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>3、服务能力：</b></td>
                    <td align="center"><input type="text" id="score03" name="score03" onchange="getscore1()"  value="$!score.SCORE03" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum03"  name="scoreSum03" onchange="getscorebz1()"  value="$!score.SCORESUM03" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip03" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP03</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>4、风险资产管理能力：</b></td>
                    <td align="center"><input type="text" id="score04" name="score04" onchange="getscore1()"  value="$!score.SCORE04" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum04"  name="scoreSum04" onchange="getscorebz1()"  value="$!score.SCORESUM04" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip04" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP04</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>5、厂家信用记录：</b></td>
                    <td align="center"><input type="text" id="score05"  name="score05" onchange="getscore1()"  style="height:30px;width:50px" value="$!score.SCORE05"/></td>
                    <td align="center"><input type="text" id="scoreSum05"  name="scoreSum05" onchange="getscorebz1()"  value="$!score.SCORESUM05" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip05" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP05</textarea></td>
				</tr>
				#else 
				<tr>
                    <td align="center"><b>1、合同管理合规性：</b></td>
                    <td align="center"><input type="text" id="score11" name="score11" onchange="getscore2()"  value="$!score.SCORE11" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum11" name="scoreSum11"  onchange="getscorebz2()" value="$!score.SCORESUM11" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip11" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP11</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>2、还款卡管理合规性：</b></td>
                    <td align="center"><input type="text" id="score12" name="score12" onchange="getscore2()"  value="$!score.SCORE12" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum12" name="scoreSum12" onchange="getscorebz2()" value="$!score.SCORESUM12" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip12" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP12</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>3、监控设备有效性：</b></td>
                    <td align="center"><input type="text" id="score13" name="score13" onchange="getscore2()"  value="$!score.SCORE13" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum13" name="scoreSum13" onchange="getscorebz2()" value="$!score.SCORESUM13" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip13" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP13</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>4、低首付成交率：</b></td>
                    <td align="center"><input type="text" id="score14" name="score14" onchange="getscore2()"  value="$!score.SCORE14" style="height:30px;width:50px"/></td>
                    <td align="center"><input type="text" id="scoreSum14" name="scoreSum14" onchange="getscorebz2()" value="$!score.SCORESUM14" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip14" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP14</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>5、平均租赁完成度：</b></td>
                    <td align="center"><input type="text" id="score15" name="score15" onchange="getscore2()"  style="height:30px;width:50px" value="$!score.SCORE15"/></td>
                    <td align="center"><input type="text" id="scoreSum15" name="scoreSum15" onchange="getscorebz2()" value="$!score.SCORESUM15" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip15" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP15</textarea></td>
				</tr>
				<tr>
                    <td align="center"><b>6、累计到期回款率：</b></td>
                    <td align="center"><input type="text" id="score16" name="score16" onchange="getscore2()"  style="height:30px;width:50px" value="$!score.SCORE16"/></td>
                    <td align="center"><input type="text" id="scoreSum16" name="scoreSum16" onchange="getscorebz2()" value="$!score.SCORESUM16" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descrip16" rows="1" cols="90" style="height:10;width:200" >$!score.DESCRIP16</textarea></td>
				</tr>
				#end
				<tr>
                    <td align="center"><b>总分：</b></td>
                    <td align="center"><input type="text" id="scoreSum" name="scoreSum" style="height:30px;width:50px" value="$!AppInfos.SCORESUM"/></td>
                    <td align="center"><input type="text" id="SCORESUMBZ" name="SCORESUMBZ" value="$!AppInfos.SCORESUMBZ" style="height:30px;width:50px"/></td>
                    <td class="text-r" align="center"><textarea name="descripSum" rows="1" cols="90" style="height:10;width:200" >$!AppInfos.DESCRIPSUM</textarea></td>
				</tr>
			 </table>
	    <br/>
		
		<table class="table_04" cellpadding="0" cellspacing="0" style="margin-top:5px; ">
                <tr align="left">
                    <td width="4%" rowspan="29" align="center"  bgcolor="#fbfcfc" style="border-left:1;">
                        <b>合<br/>作<br/>建<br/>议</b>
                	</td>
                </tr>
				#if($!supplier.STATUS==-1) 
				#else 
				<tr>
                    <td width="14%" class="text-r" align="right"><b>重大合作风险说明</b></td>
                    <td colspan="10" class="text-r" align="center"><textarea id="riskDesc" name="riskDesc" rows="4" cols="140" >$!AppInfos.RISKDESC
                    </textarea></td>
				</tr>	
				<tr>
                    <td width="14%" class="text-r" align="right"><b>建议风控措施</b></td>
                    <td colspan="10" class="text-r" align="center"><textarea id="instructions" name="instructions" rows="4" cols="140" >$!AppInfos.APPLY_EXPLAIN
                    </textarea></td>
				</tr>	
				#end
				<tr>
                    <td width="14%"   align="right"><b>商权评估价值</b></td>
                    <td width="10%"   align="center">
						<input type="text" id="creditAdvice" name="creditAdvice" onchange="dosum1()" value="$!AppInfos.CREDITADVICE" style="height:30px;width:100px"/>
					</td>
                    <td align="right"><b>真实运营资产评估值</b></td>
                    <td>
                    <td align="center"><input type="text" id="channelCreditAdvice" name="channelCreditAdvice" onchange="dosum1()" value="$!AppInfos.CHANNELCREDITADVICE" style="height:30px;width:100px"/></td>
                    </td>
					<td class="text-r" align="center"><b>建议放大系数：</b></td>
                    <td align="center"> 
						<input id="adviceamplification" name="adviceamplification" type="text" style="height:30px;width:100px" onblur="dosum1()" value="$!AppInfos.ENLARGE_MULTIPLE"/></input>
					</td>
					<td class="text-r" width="10%" align="center"><b>非运营资产：</b></td>
                    <td align="center"> 
						<input id="operating_assets" name="operating_assets" type="text" style="height:30px;width:100px" onblur="dosum1()" value="$!AppInfos.OPERATING_ASSETS"/></input>
					</td>
					 <td class="text-r" align="center"><b>担保评估价值：</b></td>
                    <td align="center"> 
						<input id="evaluation_guarantee" name="evaluation_guarantee" type="text" style="height:30px;width:100px" onblur="dosum1()" value="$!AppInfos.EVALUATION_GUARANTEE"/></input>
					</td>
				</tr>
				<tr>
				</tr>
				<tr>
                    <td align="right"><b>建议授信额度</b></td>
                    <td align="center"><input type="text" id="advicelimit" name="advicelimit" value="$!AppInfos.APPLY_AMOUNT" style="height:30px;width:100px"/></td>
                <td colspan="9" style="font-size:12px;color:green">测算依据： 授信额度 = 商权评估价值 + 真实运营净资产 * 建议放大倍数 + 非营运资产 + 担保评估价值</td></tr>
				<tr>
					<td rowspan="5" class="text-r" align="center">
						<b>
							综合评估报告
						</b>
					</td>
					<td  class="text-r" align="right" rowspan="6" colspan="6">
						<div style="overflow:auto;height:150px;">
    						<table class="table_04" cellpadding="0"  class="table_01"  cellspacing="0" style = "margin-top:5px;" width="96%">
                        		<tr>
                        			<td>
                        				描述:
                        				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="$('#fil_type').val('打分卡');openDialog('dialoguploadfile1','附件上传')"></a>
                        			</td>
                        			<td width="25%" align="center">操作 </td>
                        		</tr>
                        		
                        		<tbody id="dfkid">
                        			#foreach($!file in $!dfkfiles)
                            		<tr>
                            			<td title="$!file.FIL_MEMO" align="center">$!file.FIL_MEMO</td>
                                        <td align="center">
                        					<a href="Channel!downLoadSupFile.action?FIL_ID=$!file.FIL_ID" class="easyui-linkbutton" iconCls="icon-down" plain="true">下载</a>
                                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delFile($!file.FIL_ID,this)">删除</a>
                        				</td>
                            		</tr>
                            	    #end 
                        		</tbody>
                            </table>
						</div>
					</td>
					
                    <td rowspan="6"  colspan="1" align="center"><b>申请单</b></td>
                    <td rowspan="6"  colspan="2" align="center"><span style="font-size:18px;color:red">$!AppInfos.APPLY_NAME【$!APP_ID】</span> 
					</td>
					<td rowspan="6"  colspan="1" align="center">
						<a  href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-save'" onclick="savestat()">保存</a>
					</td>
				</tr>
			 </table>
		<br/>
               <table id='subtab-dbgrid' class="table_01" cellpadding="0" cellspacing="0" >
        			<tr align="left" bgcolor="#fbfbfb">
        				<td width="4%" rowspan="29" align="center"  bgcolor="#fbfcfc" style="border-left:1;">
							上<br/>传<br/>附<br/>件
						</td>
        			</tr>	
					<tr>
						<td>
							<div style="overflow:auto;height:150px;">
    						<table cellpadding="0"  class="table_01"  cellspacing="0" style = "border:0px;margin:0px;" width="100%">
                        		<tr>
                        			<td>
                        				文件描述:
                        				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="$('#fil_type').val('基本材料');openDialog('dialoguploadfile1','附件上传')"></a>
                        			</td>
                        			<td width="25%" align="center">相关操作 </td>
                        		</tr>
                        		
                        		<tbody id="tblfsg">
                        			#foreach($!file in $!files)
                            		<tr>
                            			<td title="$!file.FIL_MEMO" align="center">$!file.FIL_MEMO</td>
                                        <td align="center">
                        					<a href="Channel!downLoadSupFile.action?FIL_ID=$!file.FIL_ID" class="easyui-linkbutton" iconCls="icon-down" plain="true">下载</a>
                                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delFile($!file.FIL_ID,this)">删除</a>
                        				</td>
                            		</tr>
                            	    #end 
                        		</tbody>
                            </table>
						</div>
						</td>
        			</tr>
               </table>
    	   <br/>
    	   <br/>
    	     <div id ="dialoguploadfile1" class="easyui-dialog" style="width:400px;height:300px;padding:10px 20px" closed="true" buttons="#dialoguploadfile1-buttons" title="附件上传" >
            	<form  enctype="multipart/form-data"  method="post" id="fileUploadFrom">
            			<table class="table_01" border="0" cellpadding="0" cellspacing="0" width="99%" id="#table1">
            			 <tr>
            				<td align="center">文件描述:</td>
            				<td ><textarea  id="FIL_MEMO"  name="FIL_MEMO" style="width:230px"></textarea></td>
               			 </tr>
            			 <tr>
            				<td align="center">上传文件:</td>
            				<td >
								<input type="file" id="fileid" name="fileid"/>
							</td>
               			 </tr>
            		    </table>
            	</form>	
    		</div>
    		<div id="dialoguploadfile1-buttons">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveUpLoad()">保存</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:closeDialog('dialoguploadfile1')">关闭</a>
            </div>
        </form>
		</div>
    </body>
</HTML>
