<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>
		<script>
		//打开dialog
        function openDialog(div,name){
            $('#'+div).dialog('open').dialog('setTitle',name);
        }
        //关闭dialog
        function closeDialog(name){
           $('#'+name).dialog('close');
        }
        function saveUpLoad(){
        	var f=$("#fileid").val();
        	var FIL_MEMO=$("#FIL_MEMO").val();
			var FIL_TYPE = $("#FILE_TYPE").val();
        	if(f==null||f==""){
        		alert("请选择要上传的文件");
        		return false;
        	}else if(FIL_MEMO==""){
        		alert("文件描述不能为空");
        		return false;
        	}else if(FIL_TYPE==""){
			    alert("请选择上传文件类型！");
        		return false;
			}else{
        	    var supplier_name = $("#SUP_NAME").val();
        		var ID=$("#SUP_ID").val();
				var APPLY_ID = $("#APPLY_ID").val();
        		jQuery.ajaxFileUpload({
            	    url:"Channel!uploadFile.action?FIL_MEMO="+FIL_MEMO+"&FIL_TYPE="+FIL_TYPE+"&SUP_ID="+ID+"&SUP_NAME="+supplier_name+"&APP_ID="+APPLY_ID,
            	    secureuri:false,
            	    fileElementId:"fileid",	 
            	    dataType: "json",
    				success: function (data,status)  //服务器成功响应处理函数
                    {
    				     var data = JSON.parse(data);
    					 var bsdte="";
    					 for(var i=0;i<data.length;i++){
    						bsdte=bsdte+"<tr>";
    						bsdte=bsdte+"<td align='center' title='"+data[i].FIL_TYPE+"'>"+data[i].FIL_TYPE+"</td>";
                			bsdte=bsdte+"<td align='center' title='"+data[i].FIL_NAME+"'>"+data[i].FIL_NAME+"</td>";
                			bsdte=bsdte+"<td align='center' title='"+data[i].FIL_MEMO+"'>"+data[i].FIL_MEMO+"</td>";
                            bsdte=bsdte+"<td align='center'><a href='Channel!downLoadSupFile.action?FIL_ID="+data[i].FIL_ID+"'>下载</a>   ";
        					bsdte=bsdte+"<a href='javascript:void(0);' onclick='delFile("+data[i].FIL_ID+",this)'>删除</a></td></tr>";
    					 }
    					 
						 $("#tblfsg").html(bsdte);	
                     },
        
               	   });	
        		   $("#dialoguploadfile1").dialog('close');
        	   }
            }
            //删除附件
            function delFile(fil_id,obj){
            	if(confirm("是否确定删除")){
                	jQuery.ajax({
                		type: "POST",
                		url: "Channel!deleteSupFile.action",
                		data: "FIL_ID="+fil_id,
                		dataType: "json",
                		success: function(res){
            				if(res.flag==true){
            					jQuery.messager.alert("提示",res.msg);
            					var tab=obj.parentNode.parentNode.parentNode;
            					var tr=obj.parentNode.parentNode;
            					tab.removeChild(tr);  
            				}else{
            				    jQuery.messager.alert("提示",res.msg);
            				}
                		}
                	});
            	}
            }
			
			function saveMethod(){
			   var ASSURE_PAYMENT_MODE = $("#ASSURE_PAYMENT_MODE").val();
			   var APPLY_ID = $("#APPLY_ID").val();
			   jQuery.ajax({
            		type: "POST",
            		url: "AssureCredit!updateApplyMess.action",
            		data: "APPLY_ID="+APPLY_ID+"&ASSURE_PAYMENT_MODE="+ASSURE_PAYMENT_MODE,
            		dataType: "json",
            		success: function(res){
        				if(res.flag==true){
        					jQuery.messager.alert("提示",res.msg);
        				}else{
        				    jQuery.messager.alert("提示",res.msg);
        				}
            		}
            	});
			}
        </script>
    </head>
  <body class="easyui-layout">
  <table width="100%" cellspacing="0" class="table_01" cellpadding="0" border="0">
		 <tr>
           <td colspan ="6" align="left" class="table_th">供应商授信状况</td>
		 </tr>
		 <tr>
			<td class="text_right">初始授信额度：</td>
            <td >$!applyDanMess.INITIAL_AMOUNT </td>
			<td class="text_right">标准授信额度：</td>
			<td>$!applyDanMess.STANDARD_AMOUNT</td>
			<td class="text_right">担保额度：</td>
			<td>$!applyDanMess.ASSURE_AMOUNT </td>
		 </tr>
		 <tr>
			<td class="text_right">标准可用额度：</td>
            <td >$!applyDanMess.CANUSE_MONEY</td>
			<td class="text_right">标准已用额度：</td>
			<td>$!applyDanMess.USE_MONEY</td>
			<td class="text_right">一单一议可用额度：</td>
			<td>$!applyDanMess.SINGLE_USEMONEY</td>
		 </tr>
    </table>
	<table width="100%" cellspacing="0" class="table_01" cellpadding="0" border="0">
		<tr>
		  <td>申请额度：</td>
		  <td>
			  $!applyDanMess.APPLY_AMOUNT  (担保价值=申请额度/放大倍数)
          </td>
		  <td>放大倍数：</td>
          <td>
		    $!applyDanMess.ENLARGE_MULTIPLE
		  </td>
		</tr>
        <tr>
		  <td>担保价值：</td>
		  <td>
			$!applyDanMess.ASSURE_MONEY
          </td>
		  <td>担保资产类型 </td>
    	  <td>
			#if($!applyDanMess.ASSURE_TYPE==1) 保证金  #elseif($!applyDanMess.ASSURE_TYPE==2) 固定资产  #elseif($!applyDanMess.ASSURE_TYPE==3) 有价证券 #end
			<input type="hidden" name="APPLY_ID" id="APPLY_ID" value="$!param.APPLY_ID"/>
          </td>
		</tr>
    </table>
	<table class="table_01">
		<tr>
    	  <td colspan ="2" align="left" class="table_th">资料附件</td>
    	</tr>
		#if($!applyDanMess.ASSURE_TYPE ==2 || $!applyDanMess.ASSURE_TYPE ==3)
	    <tbody id="Other">
    		<tr>
    		  <td>《申请书》 </td>
    		  <td>
    			<table>
					<tr>
					   <td>描述</td>
					   <td>文件名</td>
					   <td>操作</td>
                    </tr>
				   #foreach($!item in $!applyBook)
					<tr>
                      <td>$!item.FIL_MEMO</td>
					  <td>$!item.FIL_NAME</td>
					  <td><a href="Channel!downLoadSupFile.action?FIL_ID="+$!item.FIL_ID>下载</a></td>
					</tr>
					#end
                </table>
              </td>
    		</tr>
    		<tr>
    		  <td>《不动产/有价证券照片》</td>
    		  <td>
    			<table>
					<tr>
					   <td>描述</td>
					   <td>文件名</td>
					   <td>操作</td>
                    </tr>
					#foreach($!item in $!assets)
					<tr>
                      <td>$!item.FIL_MEMO</td>
					  <td>$!item.FIL_NAME</td>
					  <td><a href="Channel!downLoadSupFile.action?FIL_ID="+$!item.FIL_ID>下载</a></td>
					</tr>
					#end
                </table>
              </td>
    		</tr>
    		<tr>
    		  <td>其他资料 </td>
    		  <td>
				<table>
					<tr >
					   <td>描述</td>
					   <td>文件名</td>
					   <td>操作</td>
                    </tr>
					#foreach($!item in $!OtherData)
					<tr>
                      <td>$!item.FIL_MEMO</td>
					  <td>$!item.FIL_NAME</td>
					  <td><a href="Channel!downLoadSupFile.action?FIL_ID="+$!item.FIL_ID>下载</a></td>
					</tr>
					#end
                </table>
              </td>
    		</tr>
		</tbody>
		#else
		<tbody id="MONEY">
			<tr>
    		  <td>《申请书》 </td>
    		  <td>
    			 <table>
					<tr >
					   <td>描述</td>
					   <td>文件名</td>
					   <td>操作</td>
                    </tr>
					#foreach($!item in $!applyBook)
					<tr>
                      <td>$!item.FIL_MEMO</td>
					  <td>$!item.FIL_NAME</td>
					  <td><a href="Channel!downLoadSupFile.action?FIL_ID="+$!item.FIL_ID>下载</a></td>
					</tr>
					#end
                 </table> 
              </td>
    		</tr>
			<tr>
    		  <td>预缴额度保证金金额 </td>
    		  <td>
				  $!applyDanMess.ASSURE_MONEY
              </td>
    		</tr>
        </tbody>
        #end
    </table>
	<table class="table_01">
		<tr>
    	  <td colspan ="4" align="left" class="table_th">资金资料</td>
    	</tr>
		#if($!applyDanMess.ASSURE_TYPE==1)
		<tr>
		  <td>保证金付款方式</td>
		  <td colspan="2">
			<select name="ASSURE_PAYMENT_MODE" id="ASSURE_PAYMENT_MODE">
				<option value="">-请选择-</option>
                <option value="0">先付</option>
				<option value="1">后付</option>
            </select>
		  </td>
		  <td><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveMethod()">保存</a></td>
        </tr>
		#end
		<tr>
		  <td>文件类型 </td>
		  <td>文件名</td>
		  <td align="center">文件描述</td>
		  <td align="center">上传:
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-up" plain="true" onclick="openDialog('dialoguploadfile1','附件上传')"></a>
		  </td>
        </tr>
		<tbody id="tblfsg">
	    #foreach($!file in $!files)
		<tr>
		  <td align="center" >$!file.FIL_TYPE</td>
		  <td align="center" >$!file.FIL_NAME</td>
		  <td align="center">$!file.FIL_MEMO</td>
          <td align="center">
			  <a href="Channel!downLoadSupFile.action?FIL_ID="+$!file.FIL_ID class="easyui-linkbutton" iconCls="icon-down" plain="true">下载</a>
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delFile($!file.FIL_ID,this)">删除</a>
		  </td>
		</tr>
	    #end 
	    </tbody>
    </table>
	
	<div id ="dialoguploadfile1" class="easyui-dialog" style="width:400px;height:300px;padding:10px 20px" closed="true" buttons="#dialoguploadfile1-buttons" title="附件上传" >
    	<form  enctype="multipart/form-data"  method="post" id="fileUploadFrom">
			<table class="table_01" border="0" cellpadding="0" cellspacing="0" width="99%" id="#table1">
			  <tr>
				<td align="center">文件类型:</td>
				<td >
					<select id="FILE_TYPE" name="FILE_TYPE">
						<option value="">-请选择-</option>
						#foreach($!item in $!fileType_Items)
						<option value="$!item.CODE">$!item.FLAG</option>
						#end 
                    </select>
					<input type="hidden" name="SUP_NAME" id="SUP_NAME" value="$!param.SUP_NAME"/>
					<input type="hidden" name="SUP_ID" id="SUP_ID" value="$!param.SUP_ID"/>
				</td>
   			  </tr>
			  <tr>
				<td align="center">文件描述:</td>
				<td ><textarea  id="FIL_MEMO"  name="FIL_MEMO" style="width:230px"></textarea></td>
   			  </tr>
			  <tr>
				<td align="center">上传文件:</td>
				<td ><input type="file" id="fileid" name="fileid"/></td>
   			  </tr>
		    </table>
    	</form>	
	</div>
	<div id="dialoguploadfile1-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveUpLoad()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:closeDialog('dialoguploadfile1')">关闭</a>
    </div>
   </body>
</html>