
<div region="center" border="false" fit="true">
    <div id="otherForm" style="height:auto;" border="true">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td align=right>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addOther()">添加其他资产</a>
                </td>
            </tr>
        </table>
    </div>
    <table fitColumns="true" id="otherTable" class="easyui-datagrid" style="height:100px" pagination="false" data-options="rownumbers:true,autoRowHeight:false,singleSelect:true,url:'$_basePath/crm/AssetsDossier!doSelectOther.action',toolbar:'#pForm'">
        <tr>
            <thead>
                <th data-options="field:'OWNER_NAME',width:30">
                    所有人
                </th>
                <th data-options="field:'OTHER_TYPENAME',width:30">
                    资产类型 
                </th>
                <th data-options="field:'OTHER_NAME',width:30">
                    资产名称
                </th>
                <th data-options="field:'OTHER_PRESENT',width:30,title:'CALL_TIME'">
                    现值
                </th>
                <th data-options="field:'OTHER_PROFIT',width:30,title:'CONTENT'">
                    收益
                </th>
                <th data-options="field:'BUY_TIME',width:30,title:'FEEDBACK'">
                    购买时间
                </th>
                <th data-options="field:'REMARK',width:30">
                    备注
                </th>
                <th data-options="field:'ID',width:30,formatter:setOtherDel">
                    操作
                </th>
            </thead>
        </tr>
    </table>
</div>
## 添加其他资产
<div id="otherDialog"  modal="true" class="easyui-dialog" style="width:600px;height:auto" closed="true" buttons="#other-buttons">
    <form id="otherAdd" method="post">
    	<input type="hidden" name="CLIEN_ID" value="15">
        <table cellpadding="0" cellspacing="0" class="table_01">
            <tr>
                <td>
                    所有人：
                </td>
                <td>
                    <input type="text" name="OWNER_NAME" size="20">
                </td>
                <td>
                    资产类型：
                </td>
                <td>
                    <input type="text" name="OTHER_TYPEID" size="20">
                </td>
            </tr>
            <tr> 
                <td>
                    资产名称：
                </td>
                <td>
                    <input type="text" name="OTHER_NAME" size="20">
                </td>
                <td>
                    现值：
                </td>
                <td>
                    <input type="text" name="OTHER_PRESENT" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    收益：
                </td>
                <td >
                    <input type="text" name="OTHER_PROFIT" size="20">
                </td>
                <td>
                    购买时间：
                </td>
                <td >
                    <input type="text" name="BUY_TIME" size="20">
                </td>
            </tr>
            <tr>
                <td>
                    备注：
                </td>
                <td colspan="3">
                    <textarea name="REMARK" cols=60>
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    ##<input type="hidden" class="easyui-validatebox" name="ID"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="other-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="saveOther()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#otherDialog').dialog('close')">关闭</a>
</div>
