<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<title>授权</title>
        #parse("content/importBase.vm")
		<script type="text/javascript" src="js/auth_js.js"></script>
    </head>
    <body class="easyui-layout">
        <div data-options="region:'north',split:true" style="height:50px;padding:10px">
			角色名称：<input type="text" style="width:80px;" id="ROLE_NAME"/>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="btnGetRole()">查询</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="$('#dlg').dialog('open')">添加</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" onclick="updateBtnGetRole()">修改</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" onclick="deleteBtnGetRole()">删除</a>
			资源/权限：<input type="text" style="width:80px;" id="RES_NAME" value="$!param.RES_NAME"/>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="btnGetRes()">查询</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="btnUpRes()">更新</a>
        </div>
        <div data-options="region:'west',split:true" style="width:400px;padding:10px">
				<div id="roleContent" style="overflow-y: auto;"></div>
        </div>
        <div data-options="region:'center'" style="padding:10px">
				<div id="resContent" style="overflow-y: auto;">
					#parse("content/secu/auth_res.vm")
				</div>
        </div>
		 <div id="dlg" class="easyui-dialog" title="添加" style="width:400px;height:300px;padding:10px"  data-options="
            buttons: [{
            text:'保存',
            iconCls:'icon-save',
            handler:function(){
				var ROLE_NAME = $('#CHARACTER_NAME').val();
				var ROLE_MEMO = $('#INSTRUCTIONS').val();
				var TAB_RIGHTS = $('#TAB_RIGHTS').val();
				if(ROLE_NAME == null || ROLE_NAME == ''){
					alert('请填写带星号的必填项！');
					return;
				}
				var param = {
				        'ROLE_NAME': ROLE_NAME,
				        'ROLE_MEMO': ROLE_MEMO,
				        'TAB_RIGHTS': TAB_RIGHTS,
					};
					var data = {param:JSON.stringify(param)};
					jQuery.ajax({
					url:_basePath+'/secu/Auth!addBtnGetRole.action',
					data: data,
					dataType: 'json',
					success:function(json){
    					if(json.flag==true){
    						alert(json.errorMsg);
    						$('#ROLE_NAME').val(ROLE_NAME);
    						$('#dlg').dialog('close');
    						$('#btnGetRole').click();
    					}else{
    						alert(json.errorMsg);
    					}
					}
				});
            }},{
                text:'取消',
				iconCls:'icon-cancel',
                handler:function(){
    				$('#dlg').dialog('close');
                }
            }]
           ">
            <table>
				<tr>
					<td>角色名称：</td>
					<td>
						<input type="text" class="mastInput" id="CHARACTER_NAME" name="CHARACTER_NAME" style="width:150px;"/><font color="red">*</font>
					</td>
                </tr>
				<tr>
					<td>说明：</td>
					<td><textarea id="INSTRUCTIONS" name="INSTRUCTIONS" cols="30" rows="5" style="margin:5px;"></textarea></td>
                </tr>
                <tr>
					<td>tab权限：</td>
					<td>
						<input type="text" class="mastInput" id="TAB_RIGHTS" name="TAB_RIGHTS" style="width:150px;"/>
					</td>
                </tr>
            </table>
        </div>
		
		<div id="dlgUp" class="easyui-dialog"  title="修改" style="width:400px;height:300px;padding:10px"  data-options="
            buttons: [{
            text:'修改',
            iconCls:'icon-save',
            handler:function(){
				var ROLE_ID = $('#ROLE_ID_UPDAE').val();
					var ROLE_NAME = $('#CHARACTER_NAME1').val();
					var ROLE_MEMO = $('#INSTRUCTIONS1').val();
					var TAB_RIGHTS = $('#TAB_RIGHTS1').val();
					if(ROLE_NAME == null || ROLE_NAME == ''){
						alert('请填写带星号的必填项！');
						return;
					}
					var param = {
				        'ROLE_ID': ROLE_ID,
				        'ROLE_NAME': ROLE_NAME,
				        'ROLE_MEMO': ROLE_MEMO,
				        'TAB_RIGHTS': TAB_RIGHTS,
					};
					var data = {param:JSON.stringify(param)};
					jQuery.ajax({
						url:_basePath+'/secu/Auth!updateBtnGetRole.action',
						data : data,
						dataType: 'json',
						success:function(json){
							if(json.flag==true){
	        					alert(json.errorMsg);
	        					$('#ROLE_NAME').val(ROLE_NAME);
	        					$('#btnGetRole').click();
								$('#dlgUp').dialog('close');
							}else{
	        					alert(json.errorMsg);
	        				}	
						}
					});
					
            }},{
                text:'取消',
				iconCls:'icon-cancel',
                handler:function(){
    				$('#dlgUp').dialog('close');
                }
            }]
           ">
           <table>
            	<input type="hidden" id="ROLE_ID_UPDAE" name="ROLE_ID_UPDAE" style="width:150px;" value="$!roleMap.ROLE_ID"/>
            	<tr>
            		<td>角色名称：</td>
            		<td>
            			<input type="text" id="CHARACTER_NAME1" name="CHARACTER_NAME1" style="width:150px;" value="$!roleMap.ROLE_NAME"/><font color="red">*</font>
            		</td>
                </tr>
            	<tr>
            		<td>说明：</td>
            		<td><textarea id="INSTRUCTIONS1" name="INSTRUCTIONS1" cols="30" rows="5" style="margin:5px;">$!roleMap.ROLE_MEMO</textarea></td>
                </tr>
                <tr>
					<td>tab权限：</td>
					<td>
						<input type="text" class="mastInput" id="TAB_RIGHTS1" name="TAB_RIGHTS1" style="width:150px;"/>
					</td>
                </tr>
            </table>
        </div>
    </body>
</html>