<div>
	<div style="height:365px;overflow-y:auto;overflow-x:hidden;">
        <div class="SideBar_infor">
    		<ul class="rootMenu">
    			#foreach($item in $!menu)
					#if($item.MENU_LEVEL==0)
					<li SID="$item.MENU_ID"><a href="javascript:void(0);"><ins>&nbsp;</ins>$item.MENU_NAME</a></li>
					#end
    			#end
    		</ul>
        </div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() { 

	#foreach($item in $!menu)
	    #if($item.MENU_LEVEL==1)
		$("li[SID='$item.MENU_PARENT_ID']").addClass("closed");
		if($(".SideBar_infor ul[SID='$item.MENU_PARENT_ID']").length==0){
			$("li[SID='$item.MENU_PARENT_ID']").append($("<ul>").attr("SID","$item.MENU_PARENT_ID"));
		}
		var ele=$(".SideBar_infor ul[SID='$item.MENU_PARENT_ID']");
		ele.append("<li><a href='javascript:void(0);' class='perCl' SID='$!item.PERMISSION_ID'><ins>&nbsp;</ins>$item.MENU_NAME</a></li>");
		#end
    #end

	$(".SideBar_infor").tree({
		ui : {
			theme_name : "checkbox"
		},
		types	: {
	        	"default" : {
        		draggable	: false,	//设置菜单不可拖动
        		max_depth	: 2			//设置菜单的深度为2（包括父节点三层）
        	}
	    },
		plugins : { 
			checkbox : { }
		}
	});
});
</script>