<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>融资租赁GPS管理</title>
		<!-- JQuery Core -->
		<script type="text/javascript" src="../resources/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="../resources/jquery/jquery-ui-1.8.1.min.js"></script>
		<link type="text/css" href="../resources/jquery/themes/redmond/jquery-ui-1.8.1.custom.css" rel="stylesheet"></link>
		<script Language="JavaScript" src="js/datagridobject.js"> </script>
		<script Language="JavaScript" src="../js/dataeflow/eflow.js"></script>
		<!-- 分页样式 -->
		<script type="text/javascript"  src="../resources/jquery/plugins/bean.pager/bean.jquery.pager.js"></script>
		 <link href="../css/datacss/datagrid.css"  type=text/css rel=STYLESHEET>
			<link href="../css/datacss/ajaxtab.css" rel="STYLESHEET" type="text/css">
		<script type="text/javascript"  src="js/utilLLL.js"></script>
		<script type="text/javascript"  src="js/GreditInfoN.js"></script>
		<script type="text/javascript"  src="js/contract_manage.js"></script>
	    <script type="text/javascript" src="../js/pageTemp.js"></script>
		
		##<link href="css/css.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
			.left{
				float:left;
				margin-left:5px;
			}
			.right{
				float:right;
				margin-right:5px;
			}
			.hidden{
				display:none;
			}
			.Label_hu{cursor:pointer;background:url(../images/tab_02.png) no-repeat; width:97px; height:31px; line-height:30px; text-align:center; float:left; margin-left:8px; color:#7d90a6;}
			.Label_act_hu{cursor:pointer;background:url(../images/tab_01.png) no-repeat; width:97px; height:31px; line-height:30px; text-align:center; float:left; margin-left:8px; color:#7d90a6;}


			.Page_tab_hu{float:right; width:179px; height:24px; margin-top:6px;}
			.Page_tab_01_hu{ background:url(../images/tab_page_01.png) no-repeat; width:46px; height:24px; border:0;}
			.Page_tab_02_hu{ background:url(../images/tab_page_03.jpg) no-repeat; width:46px; height:24px; border:0;}
			.Page_tab_03_hu{ background:url(../images/tab_page_04.png) no-repeat; width:45px; height:24px; border:0;}
			.Page_tab_04_hu{ background:url(../images/tab_page_02.png) no-repeat; width:42px; height:24px; border:0;}

		</style>
   		
		<script>
		$(function(){
		$(".btnShowDetail").click(function(){
			var t = $(this);
			var contract = t.attr("contract");
			var FINANCE_TYPE=t.attr("PLATFORM");
			t.attr("rowspan",t.attr("rowspan")==2?1:2);
			t.find(".ui-icon").toggleClass("ui-icon-minusthick");
			var td = t.parents("tr").next().toggle().find("td");
			if(!td.data("__isLoad__")){
				$(".waiting").show();
					jQuery.get("GpsPlanManage!EquipmentByContractId.action?RECT_ID="+contract+"&FINANCE_TYPE="+FINANCE_TYPE,function(text){
						$(".waiting").hide();
						td.html(text);
						td.data("__isLoad__",true);
					});
				}
			});
			});
        </script>
	</head>
	 #parse("content/importBase.vm")
	<body onload="onLoad();">
		<div style="display:none">
        </div>
		<div class="BOX">
    		
		<!-- 每个页面必须加入center.main以及div#main -->
			<div class="PageBox" style="margin-left:0%;margin-right:0%;width:100%;margin-top:0px;">
				<div class="BOX">
				 <div class="Search" id="search">
                      <div class="content">
						<form id="frmSearch" action="GpsPlanManage!toManager.action" method="post">
							<input type="hidden" name="PAGE_CURR" value="1"/>
							<input type="hidden" name="PAGE_COUNT" value="10"/>
							<input type="hidden" name="rowNum" id="rowNum" value=""/>
                            <table cellpadding="0" cellspacing="0" border="0">
                                  <tr>
            						<td>
                                    <span class="SousuoBox blue">客户名称：</span></td>
                                    <td><input class="input_02" type="text" name="RENTER_NAME" value="$!RENTER_NAME"/></td>
                                    <td><span class="SousuoBox blue">业务员：</span></td>
                                    <td><input class="input_02" type="text" name="CLERK_NAME" value="$!CLERK_NAME"/></td>
                                   
									<td rowspan="2"><div class="Left"><span class="cx_01"></span><button type="submit" class="Button" style="border:0">搜 索</button><span class="cx_03"></span></div></td>
								  </tr>
								  <tr>
									<td><span class="SousuoBox blue">项目编号：</span> </td>
                                   <td> <input class="input_03" type="text" name="LEASE_CODE" value="$!LEASE_CODE"/> </td>
                                   <td> <span class="SousuoBox blue">业务类型:</span> </td>
            						<td>
										<select class="textarea_01" name="PLATFORM" style="width:100px;">
                                            <option value="">全部</option>
                							#foreach($item in $platformlist)
            								  <option value="$item.CODE" #if($!PLATFORM==$item.CODE)selected#end  >$item.FLAG</option>
            								#end
                                        </select> </td>
								</tr>
                                </table>
							</form>
					  </div>
                 </div>
					
							
						<DIV class='gridbox' style="OVERFLOW-X: hidden;width:100%">
            					<table id='subtab-dbgrid_leftTable' class="tab_03 openInfo table_01" cellspacing="0" cellpadding="0" >
									<thead>
            						<tr class="tab_tit blue" bgcolor="#fbfcfc" contract_id="" seq="">
                    				  <td width="5%"><!--<input type="checkbox" id="zhangzhe" name="checkAll" onclick="selectAll();">&nbsp;--></td>
                                      <td width="15%">项目编号</td>
									  <td width="15%">项目名称</td>
									  <td width="10%">申请号</td>
                    				  <td width="10%">业务类型</td>
                                      <td width="10%">客户类型</td>
                                      <td width="15%">客户名称</td>
                    				  <td width="10%">签定时间</td>
                                      <td width="10%">业务员</td>
                                    </tr>
									</thead>
                    				#foreach($key in $!data.data)
                                    <tr class="text_td" onclick="getThisRow('$velocityCount');"  credit_id="$!key.ID" contract_id="$!key.CONTRACT_ID" SEQ="$velocityCount">
   
                                      <td align="center" class="btnShowDetail" contract="$!key.CONTRACT_ID" PLATFORM="$!key.PLATFORM"><span class="ui-icon ui-icon-plusthick"></span><!--<input type="checkbox" name="checkAll" onclick="selectAllOne(this);" value="$!key.CONTRACT_ID">--><input type="hidden" id="contract_id$velocityCount" value="$!key.CONTRACT_ID"><input type="hidden" id="checkAll$velocityCount" value="$!key.ID"><input type="hidden" id="emp$velocityCount" value="$!key.EMP_ID"><input type="hidden" id="business$velocityCount" value="$!key.BUSINESS_ID"></td>
                                      <td>#if($key.CONTRACT_ID)<a onclick="window.parent.parent.clickTab(this, {tabId:'contract',tabName:'合同查看', location:'$request.ContextPath/contract/Contract!toSelectContractByContractId.action?CONTRACT_ID=$!key.CONTRACT_ID'});"  href="#">$!key.LEASE_CODE</a>#else $!key.LEASE_CODE #end #if($!key.STATUS==3)(作废)#end</td>
								      #set($RECORD1=$key.PROJECT_NAME) 
									  #if($RECORD1) 
										#if($RECORD1.length()>10)#set($RECORD1=$RECORD1.substring(0,10)+"...") 
										#end
									  #end
                    				  <td title="$!key.PROJECT_NAME">#if($RECORD1&&$key.LESSEE_RECORD_BASE_ID)$!RECORD1#end</td>
									  <td>$!key.PLAN_ID</td>
									  <td align="center">#foreach($item in $platformlist)   #if($!key.PLATFORM==$item.CODE)$item.FLAG#end  #end</td>
                                      <td>#if($!key.TYPE=='1') 个人 #else 法人 #end</td>
									  #set($CustomerType=$!key.TYPE)
									  
									  
									  #set($RECORD=$key.RENTER_NAME) 
									  #if($RECORD) 
										#if($RECORD.length()>6)#set($RECORD=$RECORD.substring(0,6)+"...") 
										#end
									  #end

                                      <td title="$!key.RENTER_NAME">#if($key.RENTER_NAME&&$key.LESSEE_RECORD_BASE_ID)<a  onclick="window.parent.parent.clickTab(this, {tabId:'contract',tabName:'客户信息', location:'$request.contextPath/customer/Customer!queryCustomerInfo.action?tab=1&BECR_ID=$!key.EMP_ID&BECR_TYPE=$CustomerType'});" href="#">$!RECORD</a>#{else}$!key.RENTER_NAME#end</td>
                    				  <td>$!key.LESSEE_TIME</td>
                                     
									  #set($RECORD_NAME=$key.RENTER_NAME) 
									 
									  <td title="$!key.CLERK_NAME">#if($key.CLERK_NAME)<span >$!key.CLERK_NAME #end</span></td>
                                     
                                      </tr>
									  <tr class="ui-widget-content jqgrow ui-row-ltr ui-jqgrid-labels" style="display: none;">
										<td colspan="9" style="white-space: normal;text-align: center;"> <br><br> <span class="waiting" style="display:none;text-algin:center"> <img src="../images/loading.gif"></span> <br><br> </td>
									</tr>
									<!--  
									<tr >
												<td colspan="10">
                                                                    <div id="show_Attch$!key.CONTRACT_ID" style="display:none"></div>
                                                 </td>
                                      </tr>
									  -->
                    				#end
                                  </table>
                        </DIV>
						           
                   
					<div style="text-align:center;" class="pageTemplate">$!data.page</div>
								   <SCRIPT language=JavaScript>
                                             var grddbgrid = new dataGridObject('subtab-dbgrid');
                                 	</SCRIPT>                                         
                                    <script>
                                             var grddbgrid = null;
                                             if (document.getElementById("subtab-dbgrid"))
                                             grddbgrid = new dataGridObject("subtab-dbgrid");
                                    </script>
                                    
								  </DIV>
                            	
                                
			  	
				</div>
									</div>
	</body>
</html>