#parse("content/importBase.vm")
<script type="text/javascript">
    function submitForm(){
       		var ID = $("#ID").val();
    		var REPAYMENT_TYPE = $("#REPAYMENT_TYPE").val();
       		var REMARK = $("#REMARK").val();
       		var OPERATE_NAME = $("#OPERATE_NAME").val();
			
       		var CAR_PLACE = $("#CAR_PLACE").val();
       		var PLAQUE = $("#PLAQUE").val();
       		var CAR_TYPE = $("#CAR_TYPE").val();
			
       		var RECEIVE_STATUS = $("#RECEIVE_STATUS").val();
       		var CAR_SIGN_NAME = $("#CAR_SIGN_NAME").val();
       		var CAR_STOP_PLACE = $("#CAR_STOP_PLACE").val();
       		var STOP_TIME = $("#STOP_TIME").datebox('getValue');
    		var data = "ID="+ID+"&REPAYMENT_TYPE="+REPAYMENT_TYPE+ "&REMARK="+REMARK+"&OPERATE_NAME="+OPERATE_NAME+"&CAR_PLACE="+CAR_PLACE+"&PLAQUE="+PLAQUE;
       			data = data + "&CAR_TYPE="+CAR_TYPE + "&CAR_STOP_PLACE="+CAR_STOP_PLACE + "&RECEIVE_STATUS="+RECEIVE_STATUS + "&CAR_SIGN_NAME="+CAR_SIGN_NAME+ "&STOP_TIME="+STOP_TIME;
			jQuery.ajax({
    					url : "$_basePath/crm/OverdueUrge!addUrgeForce.action",
    					dataType:"json",
    					type: 'POST',
    					data:data,
    					success : function(json){
    						if(json.flag){
    							alert("保存成功");
								top.removeTab('法务催收添加');
    						}else{
    							alert("保存失败");
    						}
    					}
    				});
    }
    function  winBack(){
			top.removeTab('法务催收添加');
    		//window.location = _basePath + "/crm/OverdueUrge!urgeForce.action";
        }
</script>
<style type="text/css">
	.sel {
		vertical-align:middle;
        border: 1px solid #000000;
        height: 400px;
        margin: 10px 10px 10px 10px;
        width: 100%;
		margin:0 auto;
	}
	table {
	}
    td {
        font-size: 14px!important;
		color: #696969 ;
    }
	
</style>
<div class="sel">
<form id="custSave"  method="post">
<input type="hidden" id="ID" name="ID" value="$!map.ID"/>
<table cellpadding="0" cellspacing="0" class="table_02"  >
	
    <tbody>
        <tr>
            <td align="right">承租人：</td>
			<td ><input type="text"  style="width:250px;height:25px" name="CLIENT_NAME" id="CLIENT_NAME" value="$!map.CLIENT_NAME" disabled></td>
        </tr>
		<tr>
            <td align="right">支付表号：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="PAY_CODE" id="PAY_CODE" value="$!map.PAY_CODE" disabled></td>
        </tr>
		 <tr>
             <td align="right">未还款原因：</td>
			 <td colspan=""><select   name="REPAYMENT_TYPE" id="REPAYMENT_TYPE" >
						<option value="">--请选择--</option>
						#foreach($item in $!PAY_REASON)
    					<option value="$!item.CODE" #if($!item.CODE == $!map.REPAYMENT_TYPE)selected#end >$!item.FLAG</option>
						#end
				</select>
			 </td>
 		</tr>
		 <tr>
            <td  align="right">目前车辆所在地：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="CAR_PLACE" id="CAR_PLACE" value="$!map.CAR_PLACE"></td>
        </tr>
		 <tr>
            <td  align="right">车辆品牌：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="PLAQUE" id="PLAQUE" value="$!map.PLAQUE" disabled></td>
        </tr>
		 <tr>
            <td  align="right">车辆车型：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="CAR_TYPE" id="CAR_TYPE" value="$!map.CAR_TYPE" disabled></td>
        </tr>
		<tr>
            <td  align="right">停车时间：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="STOP_TIME" id="STOP_TIME" value="$!map.STOP_TIME" class="easyui-datebox"></td>
        </tr>
		<tr>
            <td  align="right">停车操作人：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="OPERATE_NAME" id="OPERATE_NAME" value="$!map.OPERATE_NAME"></td>
        </tr>
		 <tr>
            <td  align="right">收车状态：</td>
			<td  > <select   name="RECEIVE_STATUS" id="RECEIVE_STATUS">
						<option value="">--请选择--</option>
						#foreach($item in $!PHASELIST)
    					<option value="$!item.CODE" #if($!item.CODE == $!map.RECEIVE_STATUS)selected#end >$!item.FLAG</option>
						#end
				</select>
			</td>
        </tr>
		
		 <tr>
            <td  align="right">车辆接收人</td>
			<td  ><input type="text" style="width:250px;height:25px" name="CAR_SIGN_NAME" id="CAR_SIGN_NAME" value="$!map.CAR_SIGN_NAME"></td>
        </tr>
		 <tr>
            <td  align="right">车辆停放位置：</td>
			<td  ><input type="text" style="width:250px;height:25px" name="CAR_STOP_PLACE" id="CAR_STOP_PLACE" value="$!map.CAR_STOP_PLACE"></td>
        </tr>
		<tr>
            <td  align="right">简要记录：</td>
			<td  ><textarea id="REMARK"  style="width: 350px; height: 95px;" name="REMARK">$!map.REMARK</textarea></td>
        </tr>
        <tr>
			<td colspan="2" align="center" style="height:40px;">
				<a href="javascript:void(0)" id="doSaveCust" class="easyui-linkbutton" iconCls="icon-save" onclick="submitForm()" >保 存</a>
				<a href="javascript:void(0)" id="doSaveCust1" class="easyui-linkbutton" iconCls="icon-back" onclick="winBack()">返 回</a>
            </td>
		</tr>
    </tbody>
</table>
</form>
</div>	