

<script type="text/javascript">

$(function(){
	$(".imageClick").click(function(){
	   $(this).parent("span").parent("td").find("#content").toggle();
	})

	/**如果合同撤销，不显示起租申请begin**/
	var id=$!map.PROJECT_ID;
	//alert(id);
	$.ajax({
			url:_basePath+"/contractProjectManage/ContractProjectManage!getCacelTypeProjectById.action?_dateTime="+new Date(),
			data:'ID='+id,
			dataType:'json',
			type:'post',
			success:function(json){
				//alert(json.data);
				if(0==json.data){
					$("#cacelControl").hide();
				}
			}
		});
	/**如果合同撤销，不显示起租申请end**/
})

function PayListView(PAY_ID,PAYLIST_CODE,PROJECT_ID){
	//top.addTab(PAYLIST_CODE+"查看",_basePath+"/leaseApplication/LeaseApplication!leaseApplication_viewProject.action?PAY_ID="+PAY_ID);
	top.addTab(PAYLIST_CODE+"查看",_basePath+"/pay/PayTask!toMgshowDetail.action?ID="+PAY_ID+"&PROJECT_ID="+PROJECT_ID);
	
}
			
function qzApp(LEASE_CODE,PROJECT_ID,LEASE_TOPRIC_SY){
    top.addTab("起租申请",_basePath+"/leaseApplication/LeaseApplication!queryEQListProject.action?PROJECT_ID="+PROJECT_ID+"&LEASE_TOPRIC_SY="+LEASE_TOPRIC_SY);
}

function qzAppLH(LEASE_CODE,PROJECT_ID){
    top.addTab(LEASE_CODE+"起租申请",_basePath+"/leaseApplication/LeaseApplication!queryEQListProjectLH.action?PROJECT_ID="+PROJECT_ID);
}

function creditPay(LEASE_CODE,PROJECT_ID){
    top.addTab(LEASE_CODE+"生成支付表",_basePath+"/leaseApplication/LeaseApplication!queryEQCrditList.action?PROJECT_ID="+PROJECT_ID);
}
</script>

						
<div class="ui-widget-content ui-corner-all" style="padding: 5px; margin: 5px; min-height: 400px;">
##	#if($!map.PLATFORM_TYPE == '11')
##		<table class="tab_13 text_td table_01" id="detailInfo" style="margin:5px;width:97%;" contract_id="$!CONTRACT_ID" cellspacing="0" cellpadding="0">
##    		<tr  class="tit_01 tit_02">
##                <td width="8%">序号  </td>
##                <td width="72%">资料名称 </td>
##    			<td width="20%">&nbsp;</td>
##    		</tr>
##    		<tr onMouseOver="this.style.background='#CEF7FB'" onMouseOut="this.style.background=''" bgcolor="#f2f2f2">
##                <td>01</td>
##                <td>
##    				<span style="float:left;">
##    					<img src="../img/jia.gif" width="16" height="16" class="imageClick"/>  支付表 ($!listPayDXMED.size())
##    				</span>
##            		#if($listPay.size()==0)
##    					<span style="float:right;"><img src="../img/wancheng.gif" width="16" height="16"  /> 完成</span>
##            		#else
##            			   <span style="float:right;"> 
##    						<img src="../img/child3.gif" width="16" height="16"  />&nbsp;<a href="javascript:void(0)" onclick="creditPay('$!map.LEASE_CODE','$!map.PROJECT_ID')" >新建</a>
##    					   </span>
##    				#end	   
##        		    <div style="float:left;display:none" id="content" >
##            		  #foreach($key in $!listPayDXMED)<br>
##                		<span class="con_01 left"><a href="javascript:void(0)" onclick="PayListView('$key.PAY_ID','$key.PAYLIST_CODE','$!map.PROJECT_ID')">$velocityCount.租赁支付表$!key.PAYLIST_CODE（版本:$!key.VERSION_CODE）</a> 
##        				</span>
##            		  #end
##        		     </div>
##         		</td>
##                <td>&nbsp;</td>
##      		</tr>
##    		
##    		<tr onMouseOver="this.style.background='#CEF7FB'" onMouseOut="this.style.background=''" bgcolor="#f2f2f2">
##            	<td>02</td>
##                <td><span style="float:left;"><img src="../img/jia.gif" width="16" height="16" class="imageClick" id="buyContract"/>买卖合同  ( $!listBuyEd.size() )</span>
##    			<span style="float:right;">
##    				#if($!buyNotCreate.size()==0)
##    			 <img src="../img/wancheng.gif" width="16" height="16"  /> 	完成	
##                    #else   <a onclick="fp('$!map.PROJECT_ID','buyContract')"  href="#"><img src="../img/child3.gif" width="16" height="16" border="0" />新建</a>  #end</span>
##                	 <div style="float:left;display:none" id="content">
##                       #foreach($key in $!listBuyEd)<br>
##                           <span class="con_01 left">
##                            <a href="javascript:void(0)" onclick="showContract('$!key.BUY_ID','$!map.PROJECT_ID')" >$velocityCount.买卖合同（$!key.PRODUCT_CODE）</a>
##                    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #if($key.STATUS=='0')<a href="javascript:void(0)" onclick="editBuyContract('$!key.BUY_ID','$!map.PROJECT_ID')" >修改    </a>#end
##    						</span>
##            			#end
##            		   </div>
##                </td>
##                <td>&nbsp;</td>
##              </tr>
##			  
##			  <tr onMouseOver="this.style.background='#CEF7FB'" onMouseOut="this.style.background=''" bgcolor="#f2f2f2">
##            	<td>03</td>
##                <td><span style="float:left;"><img src="../img/jia.gif" width="16" height="16" class="imageClick" id="buyContract"/>开票协议 ($!listInvoiceApp.size())</span>
##    			<span style="float:right;">
##    				#if($!invoiceAppNotCreate.size()==0)
##    			 <img src="../img/wancheng.gif" width="16" height="16"  /> 	完成	
##                    #else   <a onclick="fp('$!map.PROJECT_ID','invoiceApplication')"  href="#"><img src="../img/child3.gif" width="16" height="16" border="0" />新建</a>  #end</span>
##                	 <div style="float:left;display:none" id="content">
##                        #foreach($invoiceApps in $!listInvoiceApp)<br>
##                           <span class="con_01 left">
##                            <a href="javascript:void(0)" onclick="showInvoiceApp('$!invoiceApps.ID')" >$velocityCount.开票协议$invoiceApps.NO</a>
##                    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" onclick="editInvoiceApp('$!invoiceApps.ID')" >修改    </a>
##    						</span>
##            			#end
##            		   </div>
##                </td>
##                <td>&nbsp;</td>
##              </tr>
##    	</table>
##	#else
    	<table class="tab_13 text_td table_01" id="detailInfo" style="margin:5px;width:97%;" contract_id="$!CONTRACT_ID" cellspacing="0" cellpadding="0">
    		<tr  class="tit_01 tit_02">
                <td width="8%">序号  </td>
                <td width="72%">资料名称 <input name="LEASE_CODE" id="LEASE_CODE" type="hidden" value="$!LEASE_CODE"></td>
    			<td width="20%">&nbsp;</td>
    		</tr>
    		 <tr onMouseOver="this.style.background='#CEF7FB'" onMouseOut="this.style.background=''" bgcolor="#f2f2f2">
                <td>01</td>
                <td>
    				<span style="float:left;">
    					<img src="../img/jia.gif" width="16" height="16" class="imageClick"/>  支付表 (&nbsp;#if($listPayQZED.size()>0) $listPayQZED.size()#end #if($listPayQZING.size()>0) &nbsp;起租流程中：$listPayQZING.size() #end&nbsp;)
    				</span>
            		#if($!listPay.LEASE_TOPRIC_SY<=0)
    					<span style="float:right;"><img src="../img/wancheng.gif" width="16" height="16"  /> 完成</span>
            		#else
            			   <span style="float:right;" id="cacelControl"> 
    						<img src="../img/child3.gif" width="16" height="16"  />&nbsp;<a href="javascript:void(0)" #if($!map.PLATFORM_TYPE == '8') onclick="qzAppLH('$!map.LEASE_CODE','$!map.PROJECT_ID')" #else onclick="qzApp('$!map.LEASE_CODE','$!map.PROJECT_ID','$!listPay.LEASE_TOPRIC_SY')" #end >起租申请 </a>
    					   </span>
    				#end	   
        		    <div style="float:left;display:none" id="content" >
            		  #foreach($key in $listPayQZED)<br>
                		<span class="con_01 left"><a href="javascript:void(0)" onclick="PayListView('$key.PAY_ID','$key.PAYLIST_CODE')">$velocityCount.租赁支付表$!key.PAYLIST_CODE（版本:$!key.VERSION_CODE）</a> 
        				</span>
            		  #end
        		     </div>
         		</td>
                <td>&nbsp;</td>
      		</tr>
##    		#if($!map.PLATFORM_TYPE != '7')
##    		<tr onMouseOver="this.style.background='#CEF7FB'" onMouseOut="this.style.background=''" bgcolor="#f2f2f2">
##            	<td>02</td>
##                <td><span style="float:left;"><img src="../img/jia.gif" width="16" height="16" class="imageClick" id="buyContract"/>买卖合同  (&nbsp;$!listBuyEd.size()&nbsp;)</span>
##    			<span style="float:right;">
##    				#if($!buyNotCreate.size()==0)
##    			 <img src="../img/wancheng.gif" width="16" height="16"  /> 	完成	
##                    #else   <a onclick="fp('$!map.PROJECT_ID','buyContract')"  href="#"><img src="../img/child3.gif" width="16" height="16" border="0" />新建</a>  #end</span>
##                	 <div style="float:left;display:none" id="content">
##                       #foreach($key in $!listBuyEd)<br>
##                           <span class="con_01 left">
##                            <a href="javascript:void(0)" onclick="showBuyContract('$!key.BUY_ID','$!map.PROJECT_ID')" >$velocityCount.买卖合同（$!key.PRODUCT_CODE）</a>
##                    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #if($key.STATUS=='0')<a href="javascript:void(0)" onclick="editBuyContract('$!key.BUY_ID','$!map.PROJECT_ID','$!map.CLIENT_ID')" >修改    </a>#end
##    						</span>
##            			#end
##            		   </div>
##                </td>
##                <td>&nbsp;</td>
##             </tr>
##			 #end
			 <tr onMouseOver="this.style.background='#CEF7FB'" onMouseOut="this.style.background=''" bgcolor="#f2f2f2">
            	#if($!map.PLATFORM_TYPE == '7')
					<td>02</td>
				#else
					<td>03</td>
				#end
                <td><span style="float:left;"><img src="../img/jia.gif" width="16" height="16" class="imageClick" id="buyContract"/>开票协议 (&nbsp;$!listInvoiceApp.size()&nbsp;) </span>
    			<span style="float:right;">
    				#if($!invoiceAppNotCreate.size()==0)
    			 <img src="../img/wancheng.gif" width="16" height="16"  /> 	完成	
                    #else   <a onclick="fp('$!map.PROJECT_ID','invoiceApplication')"  href="#"><img src="../img/child3.gif" width="16" height="16" border="0" />新建</a>  #end</span>
                	 <div style="float:left;display:none" id="content">
                       #foreach($invoiceApps in $!listInvoiceApp)<br>
                           <span class="con_01 left">
                            <a href="javascript:void(0)" onclick="showInvoiceApp('$!invoiceApps.ID')" >$velocityCount.开票协议$invoiceApps.NO</a>
                    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" onclick="editInvoiceApp('$!invoiceApps.ID')" >修改    </a>
    						</span>
            			#end
            		   </div>
                </td>
                <td>&nbsp;</td>
              </tr>
			 
    	</table>
##	#end
</div>
	
 
<script type="text/javascript">
			function fp(ID,type){
				jQuery.ajax({
					type:"post",
					url:_basePath+"/project/Contract!selectPayplanById.action",
					data:{
						PROJECT_ID:ID,
						TYPE:type
					},
					dataType:"json",
					success :function(dataArr)
					{
						updateTable(dataArr,type);
					}
				});
				$("#dialogProduct").dialog({
                				modal: true,
                				autoOpen: false,
								height:300,
								width:500,
                				title:'选择还款计划'
                		 });
				$("#dialogProduct").dialog('open');
			}
			
			function checkValue(v){
				if(v==undefined || typeof(v)==undefined || v=='undefined'){
					return "" ;
				}
				return v ;
			}
			
			function updateTable(dataArr,type){
			
				$(".sss").remove();
				if(type=="buyContract"){
				 for(var i=0;i<dataArr.length;i++){
				 	var PAYLIST_CODE = checkValue(dataArr[i].PAYLIST_CODE) ;
    				var VERSION_CODE = checkValue(dataArr[i].VERSION_CODE) ;
    				var CREATE_DATE =  checkValue(dataArr[i].CREATE_DATE) ;
                   	    $("<tr class='sss'><td>"+PAYLIST_CODE+"</td><td>"+VERSION_CODE+"</td><td>"+CREATE_DATE+"</td><td><a href='#' onclick='tz("+dataArr[i].PAY_ID+")'>选择</a></td></tr>").appendTo(".ttt");
					}
				}else if(type=="invoiceApplication"){
				 for(var i=0;i<dataArr.length;i++){
				 		var PAYLIST_CODE = checkValue(dataArr[i].PAYLIST_CODE) ;
        				var VERSION_CODE = checkValue(dataArr[i].VERSION_CODE) ;
        				var CREATE_DATE =  checkValue(dataArr[i].CREATE_DATE) ;
                   	    $("<tr class='sss'><td>"+PAYLIST_CODE+"</td><td>"+VERSION_CODE+"</td><td>"+CREATE_DATE+"</td><td><a href='#' onclick='addInvoiceApplication("+dataArr[i].PAY_ID+")'>选择</a></td></tr>").appendTo(".ttt");
					}
				}
				
				
			}
			
			//添加开票协议
			
			function addInvoiceApplication(PAY_ID){
					var PROJECT_ID=$("#PROJECT_ID_CONTRACT").val();
					top.addTab("添加开票协议", _basePath + "/delivery/InvoiceApplication!addInvoiceApplicationPage.action?PAY_ID=" + PAY_ID + "&PROJECT_ID=" + PROJECT_ID);
			}
			
			function editInvoiceApp(id){
				top.addTab("更新开票协议",_basePath+"/delivery/InvoiceApplication!editInvoiceApplicationPageProject.action?ID="+id);
			}		
			
			function showInvoiceApp(id){
				top.addTab("查看开票协议",_basePath+"/delivery/InvoiceApplication!showInvoiceApplicationPageProject.action?ID="+id);
			}
			
			//添加买卖合同
			function tz(ID){
				var PROJECT_ID_CONTRACT=$("#PROJECT_ID_CONTRACT").val();
				top.addTab("添加买卖合同", _basePath + "/contract/BuyContract!addBuyContractPage.action?ID=" + ID + "&PROJECT_ID=" + PROJECT_ID_CONTRACT);
				
			}
			
			//更新买卖合同
			function editBuyContract(ID,PROJECT_ID,CLIENT_ID){
				//top.addTab("更新买卖合同",_basePath+"/contract/BuyContract!editBuyContractPageProject.action?ID="+ID+"&PROJECT_ID="+PROJECT_ID);
				top.addTab("更新买卖合同",_basePath+"/contract/BuyContract!editBuyContractPage.action?ID="+ID+"&PROJECT_ID="+PROJECT_ID+"&CLIENT_ID="+CLIENT_ID);
			}
			
			//查看买卖合同
			function showBuyContract(ID,PROJECT_ID){
				//top.addTab("查看买卖合同",_basePath+"/contract/BuyContract!showBuyContractPageProject.action?ID="+ID+"&PROJECT_ID="+PROJECT_ID );
				top.addTab("查看买卖合同",_basePath+"/contract/BuyContract!showBuyContractPage.action?ID="+ID+"&PROJECT_ID="+PROJECT_ID );
			}
		

		   function showContract(ID,PROJECT_ID,METHOD_TYPE){
//            		top.addTab("买卖合同",_basePath+"/contract/BuyContract!buyContractHandle.action?ID="+ID+"&PROJECT_ID="+PROJECT_ID +"&METHOD_TYPE=" + METHOD_TYPE );
			   showBuyContract(ID,PROJECT_ID);
           		
           }
</script>