<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
	</head>
	<body>
		<div id="pageForm" style="height:auto;" border="true">
		   <form id="queryForm">
    		<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
                <tr>
						<td align="right">备注：</td>
						<td align="left"><input class="input_03" type="text"  name="NOTE" /></td>
						<td align="right">账号：</td>
						<td align="left"><input class="input_03" type="text"  name="ACCOUNT_NUMBER" /></td>
						<td align="right">账号名：</td>
						<td align="left"><input class="input_03" type="text"  name="ACCOUNT_NAME" /></td>
						<td align="right">分支行名称：</td>
						<td align="left"><input class="input_03" type="text"  name="BRANCH_NAME" /></td>
						<td rowspan="2">
								<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='se();'>查 &nbsp;&nbsp;询&nbsp;&nbsp;&nbsp;</a>
								<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick='upd();'>&nbsp;&nbsp;&nbsp;更&nbsp;&nbsp; 新</a>
								</br>
						</td>
               </tr>
			   <tr>
			   	 <td align="right">客户名称：</td>
				 <td align="left">		 
				 	<input class="input_03" type="text" name="CUST_NAME"/>
				 </td>
				 <td align="right">合同号：</td>
				 <td align="left">		 
				 	<input class="input_03" type="text" name="LEASE_CODE"/>
				 </td>
				 <td align="right">使用状态：</td>
				 <td align="left">
                	<select name="USE_STATE" style="width:100px;">
						<option value="">--全部--</option>
						<option value="-1">待提交数据</option>
						<option value="0">银行未反馈</option>
						<option value="1">银行已反馈</option>
						<option value="2">系统已处理</option>
					</select>
				 </td>
                 <td align="right">提交时间：</td>
                 <td align="left"><input class="easyui-datebox" type="text"  name="B_START_DATE" />-<input class="easyui-datebox" type="text" size ="14" name="E_START_DATE" /></td>
			   </tr>
          </table>
		  </form>
		</div>
		<table id="pageTable"></table>
		<div id="zhongjin-dialog" class="easyui-dialog" title="重新发起" >
			<form id="zhongjin" >
			<input type="hidden" name="ID" id="ID" value="">
			<table width="100%" cellspacing="0" cellpadding="4px;" border="0">
				<tr>
					<td align="right">
						银行名称：
					</td>
					<td>
						<input type="text"  name="BANK_NAME" id="BANK_NAME"/>
					</td>
				</tr>
				<tr>
					<td align="right">
						账户名称：
					</td>
					<td>
						<input type="text"  name="ACOUNT_NAME" id="ACOUNT_NAME"/>
					</td>
				</tr>
				<tr>
					<td align="right">
						账户号码:
					</td>
					<td>
						<input type="text"  name="ACOUNT_NUMBER" id="ACOUNT_NUMBER"/>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				
				$("#pageTable").datagrid({
					url:"$_basePath/zhongjin/ZhongjinLog!getZhongjinLogPage.action",
					pageSize:20,
					fit : true,
					pagination : true,
					rownumbers : true,
					singleSelect : true,
					toolbar : "#pageForm",
					frozenColumns:[[
					{field:'aaa',title:'操作',width:80,align:'center',formatter:function(value,row,rowIndex){
							 var USE_STATE=row.USE_STATE;
							 var RETURN_STATUS=row.RETURN_STATUS;
							 var FFPDID = row.FFPDID;
							 if(RETURN_STATUS=='undefined'){
							 	RETURN_STATUS=0;
							 }
							 var rehtml="";
							 if(USE_STATE=='系统已处理' && RETURN_STATUS!=30 &&FFPDID!=null)
							 {
								rehtml = "<a href='javascript:void(0)' class='easyui-linkbutton' iconCls='icon-add' plain='true' onclick='openDialog(" + JSON.stringify(row) + ")'>重新发起</a>";
							 }
							 return rehtml;
					 }
					}
                ]],
                    columns:[[
                    	{field:'ID',hidden:true},
						{field:'BATCH_NO',width:200,title:'批次号'},
						{field:'ITEM_NO',width:120,title:'流水号'},
                        {field:'AMOUNT',width:80,title:'金额'},
                        {field:'BANK_CODE',width:80,title:'银行代码'},
                        {field:'BRANCH_NAME',width:180,title:'分支行'},
                        {field:'CITY',width:100,title:'分支行城市',align:'center'},
                        {field:'PROVINCE',width:100,title:'分支行省份'},
                        {field:'ACCOUNT_TYPE',width:100,title:'账户类型'},
                        {field:'ACCOUNT_NAME',width:100,title:'账户名称'},
                        {field:'ACCOUNT_NUMBER',width:180,title:'账户号码'},
##                        {field:'CONTRACT_NO',width:200,title:'协议号'},
##                        {field:'CONTRACT_USERID',width:80,title:'协议用户编号'},
##                        {field:'EMAIL',width:80,title:'邮箱'},
                        {field:'IDENTIFICATION_TYPE',width:80,title:'开户证件类型'},
                        {field:'IDENTIFICATION_NUMBER',width:180,title:'开户证件号码'},
##                        {field:'PHONE_NUMBER',width:200,title:'手机号'},
						{field:'CUST_NAME',width:150,title:'客户名称'},
						{field:'LEASE_CODE',width:150,title:'合同号'},
                        {field:'NOTE',width:200,title:'备注'},
##                        {field:'SETTLEMENT_FLAG',width:200,title:'结算标识'},
                        {field:'SUBMIT_DATE',width:150,title:'提交时间'},
                        {field:'RETURN_DATE',width:150,title:'返回时间'},
                        {field:'TYPE',width:50,title:'类型'},
                        {field:'USE_STATE',width:100,title:'使用状态'},
                        {field:'SUBMIT_STATE',width:100,title:'提交状态'},
                        {field:'SUBMIT_ERR_MSG',width:200,title:'提交文本'},
                        {field:'RETURN_STATUS',width:100,title:'返回状态'},
                        {field:'RETURN_ERR_MSG',width:200,title:'返回文本'},
                        {field:'FFPDID',width:100,title:'放款ID'},
                    ]]
                });
                
                $('#zhongjin-dialog').dialog("close");
			});
			
			function se(){
				var content = {};
				$('#pageForm :input').each(function(){
					content[$(this).attr('name')] = $(this).val();
				});
				console.debug(content);
				$('#pageTable').datagrid('load',content);
			}
			
			function upd(){
				jQuery.ajax({
						url: _basePath+"/payment/PaymentApply!updLendingLog.action",  
						type:"post",
						dataType:"json",
						success: function(res){
							if(res.flag==true){
						    	jQuery.messager.alert("提示",res.msg);
							}else{
								alert("重新发起失败");
							}
	                    }
               });  
			}
			
			function openDialog(row){
				$(':input','#zhongjin').val('');
				$('#ID').val(row.ID);
				$('#BANK_NAME').val(row.BRANCH_NAME);
				$('#ACOUNT_NAME').val(row.ACCOUNT_NAME);
				$('#ACOUNT_NUMBER').val(row.ACCOUNT_NUMBER);
				$('#zhongjin-dialog').dialog({
					width:400,
					higth:200,
					buttons :[{
						text: '确定', 
						iconCls: 'icon-ok', 
						handler: function (){
							if (row){
								 var data = $('#zhongjin').serialize();
								 console.debug(data);
								 jQuery.ajax({
									url: 'ZhongjinLog!Restart.action',  
									data:data,
									type:"post",
									dataType:"json",
									success: function(res){
									    if(res.msg){
									    	jQuery.messager.alert("提示",res.msg);
									    	$('#zhongjin-dialog').dialog('close'); 
									    	$('#pageTable').datagrid('load');
										}else{
											alert("重新发起失败");
										}
				                    },  
				                    error: function (XMLHttpRequest, textStatus, errorThrown) {  
				                    	validate=false;
				                       alert("重新发起失败");
				                    }
			               });  
							}else{
								$.messager.alert("请选择一个项目!");
							}
						}
					},{
						text: '取消',
						handler: function() { 
							$('#zhongjin-dialog').dialog('close'); 
						} 
					}]
				});
			}
        </script>
	</body>
</html>
