<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>组织架构管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	#set ( $_basePath = $request.ContextPath )
	#parse("content/importBase.vm")
	 <link type="text/css" href="$_basePath/css/index/css.css" rel="stylesheet"></link>
    <link type="text/css" href="$_basePath/res/jquery/plugins/jsTree.v.0.9.9a2/themes/default/style.css" rel="stylesheet"></link>
	<script type="text/javascript" src="$_basePath/res/jquery/plugins/jsTree.v.0.9.9a2/jquery.tree.js"></script>
	<script type="text/javascript">
	 	$(document).ready(function() { 
			$("#ORG_ID").val("");

			$(".toAdd1").click(function(){
				var ORG_ID=$(".ORG_ID").val();
				if(ORG_ID=='')
				{
					alert('请选择组织机构!');
				}
				else
				{
		            location.href="$_basePath/base/organization/Add!update.action?ID="+ORG_ID;
				}
				
			});		
			
			$(".todel").click(function(){
				var ORG_ID=$(".ORG_ID").val();
				if(ORG_ID=='') {alert('请选择组织机构!');}
				else {
    				if(!confirm("是否删除？")){return;}
					jQuery.ajax({
						url : "$_basePath/base/organization/Del!doDelCase.action?ID="+ORG_ID,
						dataType:"json",
						success : function(json){
							if(json.flag){
            					window.location.reload();
							}else{
								alert(json.msg);
							}
						}
					});
				}
				
			});			
		});
		
		 //左侧菜单
    	function  getSonOragain(ele){
			var cont = $(ele).attr("sid");
			var ORGNAME = $(ele).attr("sname");
			var roleName = $(ele).attr("srole");
			$("#roleName").html(roleName);
			jQuery.ajax({
    			url : "$_basePath/base/organization/Manage!getUser.action?ORG_ID="+cont,
    			dataType:"json",
				cache: false,
    			success : function(json){
					$("#Userbody").html(json.data);
    			}
			});
						
    		var lnk = $(".SideBar_infor ul[SID='"+cont+"']");
    		var lnkli = $(".SideBar_infor li[SID='"+cont+"']");
			$(".ORG_ID").val(cont);
			$("#orgLabel").text(cont+":"+ORGNAME);
			jQuery(".PAGE_CURR").val("1");

    		if(lnk.length>0){
        		if(lnkli.hasClass("closed")){
            		lnkli.removeClass("closed");
            		lnkli.addClass("open");
        		}else if(lnkli.hasClass("open")){
            		lnkli.removeClass("open");
            		lnkli.addClass("closed");
        		}	
    		}else{
        		jQuery.ajax({
            		url:"$_basePath/base/organization/Manage!getOrganizations.action",
            		data:"PARENT_ID="+cont,
            		type:"post",
            		dataType:"json",
            		success:function(json){
            			var lengthOrgain=eval(json.data).length;
                		if(lengthOrgain!=0){
							lnkli.addClass("open");	
        					lnkli.append("<ul SID='"+cont+"'></ul>");
							var ele = $(".SideBar_infor ul[SID='"+cont+"']");
        					var count=0;
        					jQuery.each(json.data,function(){
        						count++;
    	    					if(lengthOrgain==count){
    	    						ele.append("<li SID='"+this.ID+"' name='"+this.NAME+"' class='last'><a href='javascript:void(0)' sid='"+this.ID+"' sname='"
									+this.NAME+"' srole='"+this.ROLE_NAME+"' onclick=getSonOragain(this)><ins>&nbsp;</ins>"+this.NAME+"</a></li>");	
    	    					}else{
    	    						ele.append("<li SID='"+this.ID+"' name='"+this.NAME+"'><a href='javascript:void(0)' sid='"+this.ID+"' sname='"+this.NAME
									+"' srole='"+this.ROLE_NAME+"' onclick=getSonOragain(this)><ins>&nbsp;</ins>"+this.NAME+"</a></li>");	
    	    					}
        					});
                		 }
                	  }
            	});
				
    		}
			
   		 }
        $(document).ready(function() {
		
    		$("#btnSearchRole").click(function(){
    			var cont = $(".ORG_ID").val();
    			if(cont==""){return;}
    			var roleContent = $("input[name='roleContent']").val();
    			jQuery.post("$_basePath/base/organization/Manage!getRole.action?ORG_ID="+cont+"&roleContent="+encodeURI(roleContent),function(html){
    				$("#Rolebody").html(html);
    			});
    		});	
		
			//左侧菜单
    		$(".SideBar_infor").tree({
    			types	: {
    		        	"default" : {
                		draggable	: false,	//设置菜单不可拖动
                		max_depth	: 2		//设置菜单的深度为2（包括父节点三层）
            		}
    			}
    		})
				
		})
		
    </script>
</head>
<body>
	 <div class="easyui-layout" fit="true">
        <div data-options="region:'north'" style="height:40px;padding:5px;border:1px solid #ddd;">
			<a class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="window.location.reload();" >刷新</a>
    		<a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="addParentTabs('添加组织机构','$!_basePath/base/organization/Add.action');" >添加组织架构</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="addParentTabs('添加人员','$!_basePath/base/user/Manage!add.action');" >添加用户</a>
            <a class="easyui-linkbutton toAdd1" data-options="iconCls:'icon-edit'" >修改</a>
            <a class="easyui-linkbutton todel" data-options="iconCls:'icon-remove'" >删除</a>
			<input type="hidden"  class="ORG_ID"/>
			[<label id="orgLabel"></label>]->对应角色->[<label id="roleName"></label>]
        </div>
        <div data-options="region:'west'" style="width:250px;">
			<div class="SideBar_infor easyui-panel" fit="true">
        		<ul class="rootMenu">
        			#foreach($organization in $!data)
        				#if($organization.PARENT_ID==0)
        					<li SID="$organization.ID" name="$organization.NAME"><a href="javascript:void(0)" sid="$!organization.ID" sname="$organization.NAME" srole="$organization.ROLE_NAME" onclick="getSonOragain(this)"><ins>&nbsp;</ins>$organization.NAME </a></li>
        				#end
        			#end
        		</ul>
        	 </div>
		</div>
        <div id="Userbody" data-options="region:'center'" style="width:100px;"></div>
     </div>
</body>
</html>
