<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>添加用户</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        #parse("content/importBase.vm")
        <script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>	
        <script type="text/javascript" src="$_basePath/base/organization/js/sale_manage_user.js"></script>
        
    </head>
    <body>
		<form action="Manage!doAddSale.action" method="post" id="userInfo" >
			<input type="hidden" value="$!addResult" id="flag">
			<input type="hidden" name="EMPLOYEE_HEAD" />
			<input name="ORG_ID" type="hidden" id="ORG_ID" value="$!param.ORG_ID"/>
    		<table border="0" cellpadding="0" cellspacing="0" class="table_01">
    			<tr>
    				<td class="text_right">工号：</td>
					<td>
						<input type="text" name="EMPLOYEE_CODE" class="noEmpty" onblur="findCodeBlur(this)" style="width:110px;" />&nbsp;&nbsp;<font color="red">*</font>
						<span class="checkCode" style="float:right"></span>
						<input type="hidden" class="IsUserCode" value="" />
					</td>
				</tr>
				<tr>
					<td class="text_right">姓名：</td>
					<td>
    			       <input type="text" name="EMPLOYEE_NAME" style="width:110px;"class="noEmpty">&nbsp;&nbsp;<font color="red">*</font>
                    </td>
                </tr>
                <tr>
    				<td class="text_right">手机号：</td>
    				<td>
						<input type="text" name="EMPLOYEE_MOBILE_TEL" id="EMPLOYEE_MOBILE_TEL" style="width:110px;"> 
					</td>
				</tr>
				<tr>
					<td class="text_right">身份证号：</td>
					<td>
						<input type="text" name="EMPLOYEE_ID_CARD" id="EMPLOYEE_ID_CARD" style="width:110px;"> 
					</td>
                </tr>
                <tr>
					<td colspan="8" style="height:50px" align="center">
					    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="SaveUser(this)">保存</a>&nbsp;&nbsp;
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="clearText()">清空</a>&nbsp;&nbsp;
						<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:top.removeTab('添加人员')">关闭</a>
                    </td>
				</tr>
            </table>
		</form>
    </body>
</html>