<!DOCTYPE HTML>
<html>
	<head>
		#parse("content/importBase.vm")
	</head>
	<body>
		<div id="pageForm" style="padding:20px;height:auto">
			<div>
				<input name="content" style="width:250px"/>
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" id="search">查询</a>
			</div>
		</div>
		<table id="pageTable"></table>
		
		<div id="dialogOperator" class="easyui-dialog" title="设置操作人">
			
	    </div>
	    
		<script type="text/javascript">
			$(document).ready(function(){
				$.ajaxSetup ({
		   			 cache: false //关闭AJAX相应的缓存
				});
				$('#dialogOperator').dialog({
					height:500,
    				width:350,
    				cache: false,
    				url:'$_basePath/bpm/AllTasks!findOperator.action',
    				modal: true
    				
        	    });
				$('#dialogOperator').dialog("close");
				$("#search").click(function(){
    				$('#pageTable').datagrid('load', { "content":$("[name='content']").val()});
				});
				
				$("#pageTable").datagrid({
					url:"$_basePath/bpm/AllTasks!getPage2.action",//modify by lishuo 12-30-2015 为了区别团队任务和流程任务人管理
					pageSize:20,
					fit : true,
					pagination : true,
					rownumbers : true,
					singleSelect : true,
					toolbar : "#pageForm",
                    columns:[[
                        {field:'ID',title: '操作',width:50,formatter:function(value,rowData,rowIndex){
								var re = "<a href='javascript:void(0);' onclick='findOperator(\""+rowData.EXECUTIONID+"\","+value+")'>设置</a>";
                                return re;
                        	}
						},
						{field:'NAME',width:100,title:'操作人'},
						{field:'PRO_CODE',width:120,title:'项目编号'},
                        {field:'CUST_NAME',width:100,title:'客户'},
                        {field:'SUP_SHORTNAME',width:180,title:'经销商'},
                        {field:'PROVINCE_NAME',width:70,title:'省份'},
                        {field:'LEASE_TOPRIC',width:80,title:'融资金额',align:'center'},
                        {field:'CREATETIME',width:130,title:'创建时间'},
                        {field:'DISTRIBUTION_DATE',width:130,title:'分配/认领时间'},
                        {field:'ACTIVITYNAME',width:80,title:'任务名'},
                        {field:'LAST_NODE',width:80,title:'上一节点名'},
                        {field:'SUNAME',width:80,title:'金融顾问'},
                        {field:'SUMOBILE',width:80,title:'金融顾问电话'},
                        {field:'EXECUTIONID',width:200,title:'任务编号'}
                    ]]
                });
			});
			//打开设置操作人dialog
			function findOperator(EXECUTIONID,DBID){
				$('#dialogOperator').dialog('open');
				$('#dialogOperator').dialog('refresh', '$_basePath/bpm/AllTasks!findOperator.action?DBID='+DBID);
			}
			
        </script>
	</body>
</html>