
#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/project/js/project.js"></script>
<script type="text/javascript" src="$_basePath/baseScheme/js/schemeCompute.js"></script>
<script type="text/javascript" src="$_basePath/baseScheme/js/projectScheme.js"></script>
<script type="text/javascript" src="$_basePath/project/js/quoteCalculate.js"></script>
<script type="text/javascript" src="$_basePath/project/finance_Project/js/util.js"></script>
<script type="text/javascript" language="JavaScript" src="$_basePath/pay/js/hj_util.js"></script>
<script type="text/javascript" src="$_basePath/bpm/js/projectChange.js"></script>

<style type="text/css"> 
.comments { 
    width:100%;
    overflow:auto; 
    word-break:break-all; 
}
</style>

<input type="hidden" id="JBPM_ID" name="JBPM_ID" value="$!param.JBPM_ID" />
<input type="hidden" id="PROJECT_ID" name="PROJECT_ID" value="$!PROJECT_ID" />
<input type="hidden" id="SCHEME_ROW_NUM" name="SCHEME_ROW_NUM" value="$!SCHEME_ROW_NUM" />
<input type="hidden" id="SCHEME_ID" name="SCHEME_ID" value="$!SCHEME_ID" />
<fieldset>
	<legend>操作</legend>
	<table border="0px;" cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td align="center" colspan="2">
				<a href="#" class="easyui-linkbutton" onclick="saveChange()">保存</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="easyui-linkbutton" onclick="submitChange()">提交</a>
            </td>
        </tr>
	</table>
</fieldset>
<br/>
<div>
	申请状态&nbsp;&nbsp;&nbsp;
    <select id="askStatus" disabled>
        <option value="1" #if($!FABGSQ_STATUS == '1') selected #end >新建</option>
		<option value="2" #if($!FABGSQ_STATUS == '2') selected #end >申请</option>
		<option value="3" #if($!FABGSQ_STATUS == '3') selected #end >信审同意</option>
		<option value="4" #if($!FABGSQ_STATUS == '4') selected #end >信审拒绝</option>
	</select>
</div>
<br/>
<fieldset>
	<legend>车辆信息</legend>
	<div title="车辆信息" width="100%">
		<!--
		<table border="1px;" cellpadding="0" cellspacing="0" class="table_01">
			<tr>
			
    			<td class="text_center" width="15%" bgcolor="#eeeeee">车辆品牌</td>
    			<td class="text_center" width="15%"><input type="text" id="clpp" value="$!eqMap.PRODUCT_NAME" /></td>
    			<td class="text_center" width="15%" bgcolor="#eeeeee">车型</td>
    			<td class="text_center" width="15%"><input type="text" id="cx1" value="$!eqMap.SPEC_NAME" /></td>
    			<td class="text_center" width="15%" bgcolor="#eeeeee">车系</td>
    			<td class="text_center" width="15%"><input type="text" id="cx2" value="$!eqMap.CATENA_NAME" /></td>
			
            </tr>
    		<tr>
    			<td class="text_center" width="15%" bgcolor="#eeeeee">颜色</td>
    			<td class="text_center" width="15%"><input type="text" id="ys" value="$!eqMap.CAR_COLOR" /></td>
    			<td class="text_center" width="15%" bgcolor="#eeeeee">型号</td>
    			<td class="text_center" width="15%"><input type="text" id="xh" value="$!eqMap.XH_PARAM" /></td>
    			<td class="text_center" width="15%" bgcolor="#eeeeee">备注</td>
    			<td class="text_center" width="15%"><input type="text" id="bz" value="$!eqMap.PRO_REMARK" /></td>
			</tr>
		</table>
		-->
		<table cellpadding="0" cellspacing="0" class="table_01" fit="true">
			<!--<tr>
    				<td  colspan="17"  class="table_th">
    					设备信息
            			#if($!param.PLATFORM_TYPE=='11' || $!param.PLATFORM_TYPE=='2')
            				<a href="#" onclick="QUERYZCBModel()" class="easyui-linkbutton"  plain="true" iconCls="icon-search">查看资产包明细</a>
            			#end
    				</td>
			    </tr>
			-->
			<tr class="trHead">
				<th bgcolor="#fbfcfc" style="width:90px;" align="left">采购类型</th>
				<th bgcolor="#fbfcfc" style="width:90px;" align="left">经销商</th>
            	<th bgcolor="#fbfcfc" style="width:90px;" align="left">厂商</th>
            	<th bgcolor="#fbfcfc" style="width:90px;" align="left">品牌</th>
            	<th bgcolor="#fbfcfc" style="width:90px;"align="left">车系</th>
                <th bgcolor="#fbfcfc" style="width:90px;" align="left">型号</th>
            </tr>
			#set($eq_count=0)
			#set($eqTotalView=0)
			<tbody id="eq_body">
				#foreach($!eq in $!eqList)
				#set($eqTotalView=$eqTotalView+$!item.TOTAL)
				<tr class="eq_body_tr">
					#set($eqTotal=0)
					<td>
						<select name="WHETHER_SALES_SI" disabled style="width:140px;"  onchange="querySuppliers(this);BusPol()" class="eqClass" >
							<option value="" test="">--请选择--</option>
							#foreach($!item in $!whetherSalesSi)
								<option value="$!item.CODE" #if($!item.CODE==$!eq.WHETHER_SALES_SI) selected #end>$!item.FLAG</option>
							#end
						</select>
					</td>
					<td>
						<select name="SUPPLIERS_ID" disabled id="SUPPLIERS_ID" style="width:90px;" onchange="RefreshScore();queryCompany(this);BusPol()" class="eqClass" >
							#foreach($!item in $!suppliersList)
							<option value="$!item.SUP_ID"  test="$!item.SUP_NAME" score="$!item.SCORE" #if($!item.SUP_NAME==$!eq.SUPPLIERS_NAME) selected #end>$!item.SUP_NAME</option>
							#end
						</select>
					</td>
					<td>
						<select name="COMPANY_ID" disabled id="COMPANY_ID" style="width:90px;" class="eqClass" onchange="queryComType(this);BusPol()" >
							<option value="$!eq.COMPANY_ID" test="$!eq.COMPANY_NAME">$!eq.COMPANY_NAME</option>
						</select>
					</td>
					<td>
						<select name="THING_NAME" disabled id="PRODUCT_ID" style="width:90px;" class="eqClass" onchange="queryEqType(this);BusPol()">
							<option value="$eq.PRODUCT_ID" test="$!eq.PRODUCT_NAME">$!eq.PRODUCT_NAME</option>
						</select>
					</td>
					<td >
						<select name="PRODUCT_CATENA" disabled id="CATENA_ID" style="width:90px;" onchange="queryEqSpec(this);BusPol();" >
							<option value="$eq.CATENA_ID">$!eq.CATENA_NAME</option>
						</select>
					</td>
					<td>
						<select name="THING_SPEC" disabled id="SPEC_ID" style="width:90px;" CLASS="eqClass" onchange="getEqPrice(this);RefreshScore();BusPol();">
							<option value="$eq.SPEC_ID">$!eq.SPEC_NAME</option>
						</select>
					</td>
				</tr>
				#end
			<tr>
                
            	<!--<th bgcolor="#fbfcfc" style="width:90px;" align="left">留购价(元)</th>-->
				<th bgcolor="#fbfcfc" style="width:90px;" align="left">颜色</th>
				<th bgcolor="#fbfcfc" style="width:90px;" align="left">厂牌型号</th>
				<th bgcolor="#fbfcfc" style="width:90px;" align="left">备注</th>
            	<!--
    				<th bgcolor="#fbfcfc" style="width:90px;" align="left">指导价(元)</th>
    				<th bgcolor="#fbfcfc" style="width:90px;" align="left">实际单价(元)</th>
				-->
			</tr>
			<input type="hidden" name="COMPANY_NAME1" id="COMPANY_NAME1" value="$!param.COMPANY_NAME1"/>
			#set($eq_count=0)
			#set($eqTotalView=0)
			<tbody id="eq_body">
				#foreach($!eq in $!eqList)
				#set($eqTotalView=$eqTotalView+$!item.TOTAL)
				<tr class="eq_body_tr">
					#set($eqTotal=0)
					<td>
						<!--<input type="text" name="STAYBUY_PRICE" value="$!eq.STAYBUY_PRICE" size=8   style="width:90px;"  onkeyup="doubleValue(this)">-->
						<input type="text" id="CAR_COLOR" readonly name="CAR_COLOR" value="$!eq.CAR_COLOR" style="width:90px;">
					</td>
					<td>
						<input type="text" id="XH_PARAM" readonly name="XH_PARAM" value="$!eq.XH_PARAM" style="width:90px;">
					</td>
					<td>
						<input type="text" id="PRO_REMARK" readonly name="PRO_REMARK" value="$!eq.PRO_REMARK" style="width:90px;">
					</td>
				</tr>
				#end
		</table>
    </div>
</fieldset>
<br/>
<fieldset>
	<legend>产品信息</legend>
	<div title="产品信息" width="67%">
	<table border="0" cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td align="center" width="5%" bgcolor="#eeeeee">产品名称</td>
			<td align="center" width="5%">
				<select id="SCHEME_CODE" disabled name="SCHEME_CODE">
					#foreach($!bs in $!BASE_SCHEME1)
						<option value="$!bs.SCHEME_CODE" #if($!bs.SCHEME_CODE==$!baseMap.POB_ID) selected #end>$!bs.SCHEME_NAME$!bs.ALIASES</option>
					#end
				</select>
			</td>
			<td align="center" width="10%" bgcolor="#eeeeee">期数</td>
			<td align="center" width="10%">
				<select id="lease_term" name="lease_term" disabled style="width:50px;">
					    #if($!schemeBase.LEASE_TERM == 12)
							<option value="12" selected >12</option>
							<option value="24">24</option>
							<option value="36">36</option>
							<option value="48">48</option>
							
						#elseif($!schemeBase.LEASE_TERM == 24)
							<option value="12">12</option>
							<option value="24" selected>24</option>
							<option value="36">36</option>
							<option value="48">48</option>
							
						#elseif($!schemeBase.LEASE_TERM == 36)
							<option value="12">12</option>
							<option value="24">24</option>
							<option value="36" selected>36</option>
							<option value="48">48</option>
						#elseif($!schemeBase.LEASE_TERM == 48)
							<option value="12">12</option>
							<option value="24">24</option>
							<option value="36">36</option>
							<option value="48" selected>48</option>
						#end
                </select>
			</td>
        </tr>
	</table>
	</div>
</fieldset>
<br/>
<fieldset>
	<legend>融资信息</legend>
	<div title="融资信息" width="100%">
	<table border="0px;" cellpadding="0" cellspacing="0" class="table_01">
		<tr>
			<td align="center" width="20%" bgcolor="#eeeeee">车辆实际采购价</td>
			<td align="center" width="10%"><input type="text" readonly id="sscgj" value="$!eqMap.TOTAL" /></td>
			<td align="center" width="20%" bgcolor="#eeeeee">车辆购置税</td>
			<td align="center" width="10%"><input type="text" readonly id="gzs" value="$!GZS" /></td>
			<td align="center" width="20%" bgcolor="#eeeeee">商业险</td>
			<td align="center" width="10%"><input type="text" readonly id="syx" value="$!eqMap.BX" /></td>
        </tr>
		<tr>
			<td align="center" width="20%" bgcolor="#eeeeee">车船税</td>
			<td align="center" width="10%"><input type="text" readonly id="ccs" value="$!eqMap.CCS" /></td>
			<td align="center" width="20%" bgcolor="#eeeeee">上牌费</td>
			<td align="center" width="10%"><input type="text" readonly id="spf" value="$!SPF" /></td>
			<td align="center" width="20%" bgcolor="#eeeeee">路桥费</td>
			<td align="center" width="10%"><input type="text" readonly id="lqf" value="$!LQF" /></td>
        </tr>
		<tr>
			<td align="center" width="20%" bgcolor="#eeeeee">临牌费</td>
			<td align="center" width="10%"><input type="text" readonly id="lpf" value="$!LPF" /></td>
			<td align="center" width="20%" bgcolor="#eeeeee">环保标费</td>
			<td align="center" width="10%"><input type="text" readonly id="hbbf" value="$!HBBF" /></td>
			<td align="center" width="20%" bgcolor="#eeeeee">交强险</td>
			<td align="center" width="10%"><input type="text" readonly id="jqx" value="$!eqMap.JQX" /></td>
        </tr>
		<tr>
			<td align="center" width="20%" bgcolor="#eeeeee">其他费用</td>
			<td align="center" width="10%"><input type="text" id="qtfy" readonly value="$!QTFY" /></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
			<td align="center"></td>
        </tr>
	</table>
    </div>
</fieldset>
<br/>
<fieldset>
	<legend></legend>
	<div width="100%">
    	<table border="0px;" cellpadding="0" cellspacing="0" class="table_01">
    		<tr>
    			<td align="center" width="20%" bgcolor="#eeeeee">变更原因</td>
                <td colspan="4" width="80%"><textarea rows="5" class="comments" id="bgyy" >$!mapPro.CHANGERES</textarea></td>
            </tr>
    		<tr>
    			<td align="center" width="20%" bgcolor="#eeeeee">变更备注</td>
                <td colspan="4" width="80%"><textarea rows="6" class="comments" id="bgbz">$!mapPro.CHANGEMEMO</textarea></td>
            </tr>
    	</table>
    </div>
</fieldset>
<br/>
		
