<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset=utf-8 />
        <title>待办任务</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
        <link href="$_basePath/bpm/wx_task_.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="nav">
                <div class="left">待办任务</div>
                <div class="right">已办任务</div>
            </div>
            <div class="con">
                #foreach($item in $page.data)
                    <div class="content">
                        <h1>$!item.EXECUTIONID<span>$!item.CREATETIME</span>
                        </h1>
                        <p>$!item.CUST_NAME</p>
                        <a href="$_basePath/bpm/Task!toShow.action?taskId=$item.ID" class="input">处理任务</a>
                        <a href="javascript:void(0);" class="pz input">拍照</a>
                    </div>
                #end
            </div>
        </div>
        <script type="text/javascript">
        alert("$wxcfg");
        wx.config({
            debug: $wxcfg.debug, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '$wxcfg.appid', // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: $wxcfg.timestamp, // 必填，生成签名的时间戳
            nonceStr: '$wxcfg.nonceStr', // 必填，生成签名的随机串
            signature: '$wxcfg.signature',// 必填，签名，见附录1
            jsApiList: ['checkJsApi',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareWeibo',
                        'hideMenuItems',
                        'showMenuItems',
                        'hideAllNonBaseMenuItem',
                        'showAllNonBaseMenuItem',
                        'translateVoice',
                        'startRecord',
                        'stopRecord',
                        'onRecordEnd',
                        'playVoice',
                        'pauseVoice',
                        'stopVoice',
                        'uploadVoice',
                        'downloadVoice',
                        'chooseImage',
                        'previewImage',
                        'uploadImage',
                        'downloadImage',
                        'getNetworkType',
                        'openLocation',
                        'getLocation',
                        'hideOptionMenu',
                        'showOptionMenu',
                        'closeWindow',
                        'scanQRCode',
                        'chooseWXPay',
                        'openProductSpecificView',
                        'addCard',
                        'chooseCard',
                        'openCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        
        document.querySelector('.pz').onclick = function () {
            wx.chooseImage({
              success: function (res) {
                //images.localId = res.localIds;
                alert('已选择 ' + res.localIds.length + ' 张图片');
                wx.uploadImage({
                    localId: res.localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1,// 默认为1，显示进度提示
                    success: function (res1) {
                        var serverId = res1.serverId; // 返回图片的服务器端ID
                        alert(serverId);
                    }
                });
              }
            });
         };
          
        </script>
    </body>
</html>
