
<div region="center" border="false" fit="true">
	<table class="easyui-datagrid" title="" style="" id="Experience1" 
	data-options="fitColumns:'true',toolbar: '#Exp',singleSelect:true,collapsible:true,url:'$_basePath/base/suppliersInfo/SuppMainRelation!findSuppExperience.action?SUP_ID=$!param.SUP_ID',method:'post'">
		<thead >
    		<tr >
				<th data-options="field:'START_DATE',width:100">开始日期</th>
				<th data-options="field:'END_DATE',width:100">结束时间</th>
				<th data-options="field:'COMPANYNAME',width:100">公司名称</th>
				<th data-options="field:'OCCUPATION',width:100">职务</th>
				<th data-options="field:'REMARK',width:100">简述</th>
            </tr>
        </thead>
    </table>
</div>
###if($!param.tab_1=="update")
<div id="Exp" style="height:auto;">
<a  href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="toExperience('Experience_')">
			添加
</a>
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="getUpdateExperience_()">
			修改
</a>
<a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon-remove',plain:true" onclick="delExperience()">
			删除
</a>
<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-preview',plain:true" onclick="getLookExperience_()">
			查看
</a>
</div>
##else
##	<div id="Exp" style="height:auto;">
##	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-preview',plain:true" onclick="getLookExperience_()">
##			查看
##</a>
##</div>
###end
	
<div id="Experience_" title="从业经历" class="easyui-dialog"  modal="true" data-options="resizable:true" buttons="#Exp_dialogButtons" closed="true" style="width:700px;height:auto;top:15px">
	<form id="addExperience_" action="$_basePath/base/suppliersInfo/SuppMainRelation!doInsertWoekExp.action" method="post" novalidate>
		<input type="hidden" name="SUP_ID" id="EXP_SUP_ID" value="$!param.SUP_ID">
		<table class="table_01" cellpadding="0" cellspacing="0">
##            <tr>
##				<td >项目类型：</td>
##                <td ><input type="hidden" name="PROJECT_TYPE" id="PROJECT_TYPE"/>
##					<select name="PROJECT_TYPE1" id="PROJECT_TYPE1" onchange="choseTypeExp(this.value,'project')">
##						<option value="">--请选择--</option>
##						#foreach($item in $!project_type)
##							<option value="$!item.CODE">
##								$!item.FLAG
##                            </option>
##						#end
##                    </select></td>
##				<td >工程项目：</td>
##				<td ><input type="text" name="PROJECT_NAME" id="PROJECT_NAME" /></td>
##			</tr>
##			<tr>
##                <td>行业：</td>
##                <td><input type="text" name="INDUSTRY" id="INDUSTRY" /></td>
##                <td>工程期限(月)：</td>##class="validate[required,custom[onlyNumber]]"  
##                <td colspan=""><input type="text" style="" name="PROJECT_TERM" id="PROJECT_TERM" class="easyui-numberbox" /></td>
##			</tr>
			<tr>
##                <td>开工日期：</td>
				<td>开始日期：</td>
                <td><input type="text" name="START_DATE" id="START_DATE" class="easyui-datebox" required="true"/></td>
##                <td>完工时间：</td>
                <td>结束时间：</td>
                <td colspan=""><input type="text" style="" name="END_DATE" id="END_DATE" class="easyui-datebox" required="true"/></td>
			</tr>
##			<tr >
##                <td>施工地点：</td>
##                <td colspan="3"><input type="text" size="35" name="CONS_PLACE" id="CONS_PLACE"/></td>
##            </tr>
##			<tr>
##                <td>联系人：</td>
##                <td colspan=""><input type="text" style="" name="CONTACT_PERSON" id="CONTACT_PERSON"/></td>
##				<td>手机号码：</td>
##                <td><input type="text" name="TEL" id="TEL" value="$!cust.PRDB_PHONE1" class="validate[required,custom[phone]]"></td>
##			</tr>
##			<tr>
##                <td>承包期限（月）：</td> ## class="validate[required,custom[onlyNumber]]"  
##                <td><input type="text" name="CONT_TERM" id="CONT_TERM" class="easyui-numberbox" /></td>
##                <td>工程总造价（万元）：</td>
##                <td colspan=""><input type="text" style="" name="PROJECT_AMT" id="PROJECT_AMT" class="easyui-numberbox"/></td>
##			</tr>
##			<tr>
##                <td>承包价值：</td>
##                <td><input type="text" name="CONT_AMT" id="CONT_AMT"/></td>
##                <td>资源来源：</td>
##                <td colspan=""><input type="text" style="" name="AMT_RESOURCE" id="AMT_RESOURCE"/></td>
##			</tr>
##			<tr>
##                <td>月收入（万元）：</td>
##                <td><input type="text" name="MONTH_INCOME" id="MONTH_INCOME" class="easyui-numberbox"/></td>
##                <td>施工内容：</td>
##                <td colspan=""><input type="text" style="" name="CONS_CONTENT" id="CONS_CONTENT"/></td>
##			</tr>
##			<tr>
##                <td>到位情况：</td>
##                <td><input type="text" name="AMT_INFO" id="AMT_INFO" /></td>
##                <td>收益情况：</td>
##                <td colspan=""><input type="text" name="INCOME_INFO" id="INCOME_INFO" /></td>
##			</tr>
			<tr>
                <td>公司名称：</td>
                <td><input type="text" name="COMPANYNAME" id="COMPANYNAME" /></td>
                <td>职务：</td>
                <td colspan=""><input type="text" name="OCCUPATION" id="OCCUPATION" /></td>
			</tr>
			<tr >
				<td>简述：</td>
				<td colspan="3">
					<textarea name="REMARK" style="width:460px;"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="Exp_dialogButtons">
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="toSaveExperience();">保存</a>
	<a  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="closeDailogExp('Experience_');">关闭</a>
</div>
	
<div id="updateExperience_" style="display:none;width:700px;height:auto;top:15px"
	data-options="title:'修改从业经历',modal:true,resizable:true,
		buttons:[{
			text:'保 存',
			iconCls:'icon-save',
			handler:function(){toUpdateExperience()}
		},{
			text:'关 闭',
			iconCls:'icon-cancel',
			handler:function(){closeDailogExp('updateExperience_')}
		}]">
		<div id="opDialogUp"></div>
</div>

<div id="lookExperience_" style="display:none;width:700px;height:auto;top:15px"
	data-options="title:'查看从业经历',modal:true,resizable:true,">
		<div id="opDialogUplook"></div>
</div>
