#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/pay/js/hj_util.js"></script>
<script type="text/javascript" src="$_basePath/crm/assetsDossier/js/equipment.js"></script>##设备档案
<script type="text/javascript" src="$_basePath/crm/assetsDossier/js/estate.js"></script>##土地档案
<script type="text/javascript" src="$_basePath/crm/assetsDossier/js/house.js"></script>##房产档案
<script type="text/javascript" src="$_basePath/crm/assetsDossier/js/other.js"></script>##其他资产档案
<script >
	$(function(){
		$(".autoPanel").panel();
	});
</script>
##<body class="easyui-layout" style="background-image:none;">
	<input type="hidden" id="clientId" value="$!param.CLIENT_ID">
	#*
    <div title="设备档案" id="equipment" class="easyui-panel" style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/AssetsDossier!toMgEquipment.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#equipment').panel('refresh', '$_basePath/crm/AssetsDossier!toMgEquipment.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addEquipment}]" ></div>
    <div title="房产档案" id="house" class="easyui-panel" style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/AssetsDossier!toMgHouse.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#house').panel('refresh', '$_basePath/crm/AssetsDossier!toMgHouse.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addHouse}]" ></div>
    <div title="土地档案" id="estate" class="easyui-panel" style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/AssetsDossier!toMgEstate.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#estate').panel('refresh', '$_basePath/crm/AssetsDossier!toMgEstate.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addEstate}]" ></div>
	<div title="其他资产档案" id="other" class="easyui-panel" style="overflow:auto;padding:10px;"  data-options="href:'$_basePath/crm/AssetsDossier!toMgOther.action?CLIENT_ID='+$!param.CLIENT_ID,cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#other').panel('refresh', '$_basePath/crm/AssetsDossier!toMgOther.action?CLIENT_ID='+$!param.CLIENT_ID);}},{iconCls:'icon-add',handler:addOther}]" ></div>
	*#
	
	<div title="设备档案" id="equipment" class="autoPanel" data-options="href:'$_basePath/crm/AssetsDossier!toMgEquipment.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#equipment').panel('refresh', '$_basePath/crm/AssetsDossier!toMgEquipment.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1');}}]" ></div>
    <DIV style="height:20PX"></DIV>
	<div title="房产档案" id="house" class="autoPanel" data-options="href:'$_basePath/crm/AssetsDossier!toMgHouse.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#house').panel('refresh', '$_basePath/crm/AssetsDossier!toMgHouse.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1');}}]" ></div>
    <DIV style="height:20PX"></DIV>
	<div title="土地档案" id="estate" class="autoPanel" data-options="href:'$_basePath/crm/AssetsDossier!toMgEstate.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#estate').panel('refresh', '$_basePath/crm/AssetsDossier!toMgEstate.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1');}}]" ></div>
	<DIV style="height:20PX"></DIV>
	<div title="其他资产档案" id="other" class="autoPanel" data-options="href:'$_basePath/crm/AssetsDossier!toMgOther.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1',cache:false,tools:[{iconCls:'icon-reload',handler:function(){$('#other').panel('refresh', '$_basePath/crm/AssetsDossier!toMgOther.action?CLIENT_ID=$!param.CLIENT_ID&tab_1=$!param.tab_1');}}]" ></div>
	
##</body>	
	