    <title>商务政策添加</title>
	#parse("content/importBase.vm")
	<script type="text/javascript"  src="$_basePath/baseScheme/js/baseScheme.js"></script>
    <script type="text/javascript">
	$(function(){
	
		$.ajaxSetup ({
   			 cache: false //关闭AJAX相应的缓存
		});
		
		$("#BUSINESS_PLATFORM").combobox({
		 	onSelect: function (record) {
        		var array=new Array();
        		var FMA_NAME='';
				var array=$("#BUSINESS_PLATFORM").combobox('getValues');
				for(var i=0;i<array.length;i++){
							FMA_NAME+=array[i]+",";
				}
				FMA_NAME=FMA_NAME.substring(0,FMA_NAME.length-1);
				
				//行业
				$('#INDUSTRY_INVOLVED').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getHY.action?FMA_NAME="+FMA_NAME+"&_TYPE=行业类型", 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//业务
				$('#BUSINESS_TYPE').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getFHFA_MANAGERYW.action?FMA_NAME="+FMA_NAME+"&_TYPE=业务类型", 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//区域
				$('#AREA').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getArea.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				//大区
				$('#BIG_AREA').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getFhfaAreaBig.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//厂商
				$('#COMPANY_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getCompany.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//供应商
				$('#SUPPLIER_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!doShowSupplierInfo.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
        	    //租赁物
				$('#PRODUCT_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getProBig.action?COMPANY_ID=", 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 },
			 onUnselect: function (record) {
        		var array=new Array();
        		var FMA_NAME='';
				var array=$("#BUSINESS_PLATFORM").combobox('getValues');
				for(var i=0;i<array.length;i++){
							FMA_NAME+=array[i]+",";
				}
				FMA_NAME=FMA_NAME.substring(0,FMA_NAME.length-1);
				
				//行业
				$('#INDUSTRY_INVOLVED').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getHY.action?FMA_NAME="+FMA_NAME+"&_TYPE=行业类型", 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//业务
				$('#BUSINESS_TYPE').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getFHFA_MANAGERYW.action?FMA_NAME="+FMA_NAME+"&_TYPE=业务类型", 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//区域
				$('#AREA').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getArea.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				//大区
				$('#BIG_AREA').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getFhfaAreaBig.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//厂商
				$('#COMPANY_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getCompany.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//供应商
				$('#SUPPLIER_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!doShowSupplierInfo.action?FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
        	    //租赁物
				$('#PRODUCT_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getProBig.action?COMPANY_ID=", 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 }
			});
			
		$("#COMPANY_ID").combobox({
		 	onSelect: function (record) {
        		var array=new Array();
        		var COMPANY_ID=',';
				var array=$("#COMPANY_ID").combobox('getValues');
				for(var i=0;i<array.length;i++){
							COMPANY_ID+=array[i]+",";
				}
				
				var comarray=new Array();
				var FMA_NAME='';
				var comarray=$("#BUSINESS_PLATFORM").combobox('getValues');
				for(var i=0;i<comarray.length;i++){
							FMA_NAME+=comarray[i]+",";
				}
				FMA_NAME=FMA_NAME.substring(0,FMA_NAME.length-1);
				
				
				//供应商
				$('#SUPPLIER_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!doShowSupplierInfo.action?COMPANY_ID="+COMPANY_ID+"&FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//租赁物
				$('#PRODUCT_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getProBig.action?COMPANY_ID="+COMPANY_ID, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 },
			 onUnselect: function (record) {
			 var array=new Array();
        		var COMPANY_ID=',';
				var array=$("#COMPANY_ID").combobox('getValues');
				for(var i=0;i<array.length;i++){
							COMPANY_ID+=array[i]+",";
				}
				
				var comarray=new Array();
				var FMA_NAME='';
				var comarray=$("#BUSINESS_PLATFORM").combobox('getValues');
				for(var i=0;i<comarray.length;i++){
							FMA_NAME+=comarray[i]+",";
				}
				FMA_NAME=FMA_NAME.substring(0,FMA_NAME.length-1);
				
				
				//供应商
				$('#SUPPLIER_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!doShowSupplierInfo.action?COMPANY_ID="+COMPANY_ID+"&FMA_NAME="+FMA_NAME, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
				
				//租赁物
				$('#PRODUCT_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getProBig.action?COMPANY_ID="+COMPANY_ID, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 }
			 });
			 
			$("#PRODUCT_ID").combobox({
		 	onSelect: function (record) {
        		var array=new Array();
        		var PRODUCT_ID=',';
				var array=$("#PRODUCT_ID").combobox('getValues');
				for(var i=0;i<array.length;i++){
							PRODUCT_ID+=array[i]+",";
				}
				
				//车系
				$('#CATENA_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getProCATENA.action?PRODUCT_ID="+PRODUCT_ID, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 },
			 onUnselect: function (record) {
        		var array=new Array();
        		var PRODUCT_ID=',';
				var array=$("#PRODUCT_ID").combobox('getValues');
				for(var i=0;i<array.length;i++){
							PRODUCT_ID+=array[i]+",";
				}
				
				//车系
				$('#CATENA_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getProCATENA.action?PRODUCT_ID="+PRODUCT_ID, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 }
			 });
			$("#CATENA_ID").combobox({
		 	onSelect: function (record) {
        		var array=new Array();
        		var CATENA_ID=',';
				var array=$("#CATENA_ID").combobox('getValues');
				for(var i=0;i<array.length;i++){
							CATENA_ID+=array[i]+",";
				}
				
				var comarray=new Array();
				var COMPANY_ID=',';
				var comarray=$("#COMPANY_ID").combobox('getValues');
				for(var i=0;i<comarray.length;i++){
							COMPANY_ID+=comarray[i]+",";
				}
				
				//车型
				$('#PRODUCT_TYPE_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getAllProductType.action?CATENA_ID="+CATENA_ID+"&COMPANY_ID="+COMPANY_ID, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 },
			 onUnselect:function (record) {
        		var array=new Array();
        		var CATENA_ID=',';
				var array=$("#CATENA_ID").combobox('getValues');
				for(var i=0;i<array.length;i++){
							CATENA_ID+=array[i]+",";
				}
				
				var comarray=new Array();
				var COMPANY_ID=',';
				var comarray=$("#COMPANY_ID").combobox('getValues');
				for(var i=0;i<comarray.length;i++){
							COMPANY_ID+=comarray[i]+",";
				}
				
				//车型
				$('#PRODUCT_TYPE_ID').combobox({ 
        	    url:_basePath+"/baseScheme/BaseScheme!getAllProductType.action?CATENA_ID="+CATENA_ID+"&COMPANY_ID="+COMPANY_ID, 
        	    cache: false,
        	    multiple:true,
        	    panelHeight: 'auto',//自动高度适合
        	    valueField:'CODE',   
        	    textField:'FLAG'});
			 }
			 });
		})
	</script>
<body>
    <table  cellpadding="0" cellspacing="0" class="table_01">
		<thead>
		<tr>
			<td class="text_right">产品名称</td>
			<td colspan="5">
				<input type="hidden" name="SCHEME_CODE" ID="SCHEME_CODE" VALUE="$!SCHEME_CODE"/>
				<input type="text" name="SCHEME_NAME" id="SCHEME_NAME"/>
				<select class="easyui-combobox" name="ALIASES" id="ALIASES" onchange="scheme_name_check()">
					#foreach($!item in $!ALIASES)
						<option value="$!item.FLAG">$!item.FLAG</option>
					#end
                </select>
			</td>
        </tr>
        </thead>
		<tbody id="addSchemeForm">
		#foreach($!item in $!DATALIST)
			#if($velocityCount%3==1)
				<tr>
			#end
            <td  class="text_right">
				$!item.FLAG
				<select name="STATUS" class="STATUS">
                    <option value="0">启动</option>
                    <option value="1">停用</option>
                </select>
				<select name="VALUE_STATUS" id="VALUE_STATUS"  class="VALUE_STATUS">
                    <option value="0">读写</option>
                    <option value="1">只读</option>
                </select>
				#if($!item.isPercent=="true")
					<input type="text" name="VALUE_DOWN" id="VALUE_DOWN" style="width:30px;" class="VALUE_DOWN" title="限制下限"/>-
					<input type="text" name="VALUE_UP" id="VALUE_UP"  style="width:30px;" class="VALUE_UP" title="限制上限"/>
					<select name="CALCULATE" id="CALCULATE" title="计算费用所参考的基数">
						#foreach($!js in $!FYJSJS)
                            <option value="$!js.CODE">$!js.FLAG</option>
						#end
                    </select>
				#elseif($!item.isMoney=="true")
						#if($!item.CODE=='DISCOUNT_MONEY')
							<select name="FYGS" id="FYGS" style='display:none' title="费用归属">
								<option value=''></option>
		                    </select>
						#else
							<select name="FYGS" id="FYGS" title="费用归属">
								#foreach($!fy in $!FYLX)
		                            <option value="$!fy.CODE">$!fy.FLAG</option>
								#end
		                    </select>
						#end
					<select name="DSFS" id="DSFS" title="代收方式">
						#foreach($!fy in $!DSFS)
                            <option value="$!fy.CODE">$!fy.FLAG</option>
						#end
                    </select>
				#end
			</td>
				<td class="vtd"
				#if($velocityCount==$!SCHEMEDETAIL.size())
					#set($col=(3-$velocityCount%3+1)*2)
					 colspan="$col" 
				#end
				>	
				
        			#if($item.LIST&&$!item.LIST.size()>0)
    					<select name="$!item.CODE" id="$!item.CODE"  style="width:120px;" 
							class="easyui-combobox" multiple="true"  ROW_NUM="$!item.SHORTNAME" 
							SID="$!item.FLAG" ITEM_FLAG="$!item.LEVEL_NUM" 
##							#if($!item.CODE=='BUSINESS_PLATFORM')
##								onchange="getFMAYW()"
##							#end
						>
##    						<option value="">全部</option>
    						#foreach($!s in $!item.LIST)
								#if($!item.CODE=='COMPANY_ID'||$!item.CODE=='SUPPLIER_ID'
										||$!item.CODE=='PRODUCT_ID'||$!item.CODE=='INDUSTRY_INVOLVED'
										||$!item.CODE=='BUSINESS_TYPE'||$!item.CODE=='AREA'||$!item.CODE=='CATENA_ID'||$!item.CODE=='PRODUCT_TYPE_ID'
										||$!item.CODE=='SP'||$!item.CODE=='QUOTA_ID'||$!item.CODE=='SUPPLIER_GROUP'||$!item.CODE=='COOPERATION_AGENCY'
										||$!item.CODE=='LEASE_PERIOD')
									<option value="$!s.CODE">$!s.FLAG</option>
								#else
									<option value="$!s.FLAG">$!s.FLAG</option>
								#end
    						#end
                        </select>
        			#else
        				<input type="text" width="10" ID="$!item.CODE" name="$!item.CODE"  style="width:120px;" 
							SID="$!item.FLAG" ROW_NUM="$!item.SHORTNAME"  ITEM_FLAG="$!item.LEVEL_NUM"
							#if($!item.CODE.contains("DATE"))class="easyui-datebox"#end
						/>
        			#end
				</td> 
			#if($velocityCount%3==0)
           	 </tr>
			#end
		#end
        </tbody>
     </table>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" id="saveScheme" class="easyui-linkbutton"  iconCls="icon-save" onclick="submitForm()">保存</a>
    </div>
	<div style="height:20px;"></div>
	 <table  id="addYearRate" cellpadding="0" cellspacing="0" class="table_02">
    	<thead >
			<tr>
				<td class="table_th" colspan="8">
					年利率&nbsp;&nbsp;<font style='font-size:12px;color:red'>区间值均为闭区间 格式为0,1  表示大于等于0 小于等于1</font>
                </td>
				<td class="table_th">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openYearRateDialog()">添加</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delYearRate()">删除</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="openUpdateYearRate()">修改</a>
				</td>
            </tr>
        	<tr>
                <td class="text_left" style="width:20px;"></td>
                <td class="text_left">起租比例起始(%)</td>
                <td class="text_left">起租比例结束(%)</td>
                <td class="text_left">租赁期限起始(月)</td>
                <td class="text_left">租赁期限结束(月)</td>
                <td class="text_left">GPS费用</td>
                <td class="text_left">GPS费用归属</td>
                <td class="text_left">年利率下限</td>
                <td class="text_left">年利率上限</td>
            </tr>
        </thead>
		<tbody id="addYearRateBody">
        </tbody>
	 </table>
	<div style="height:20px;"></div>
		 <table  id="addFeeRate" cellpadding="0" cellspacing="0" class="table_02">
    	<thead >
			<tr>
				<td class="table_th" colspan="5">
					手续费率&nbsp;&nbsp;<font style='font-size:12px;color:red'>区间值均为闭区间 格式为0,1  表示大于等于0 小于等于1</font>
                </td>
				<td class="table_th">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openFeeRateDialog()">添加</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delFeeRate()">删除</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="openUpdateFeeRate()">修改</a>
				</td>
            </tr>
        	<tr>
                <td class="text_left" style="width:20px;"></td>
                <td class="text_left">租赁期限起始(月)</td>
                <td class="text_left">租赁期限结束(月)</td>
                <td class="text_left">手续费率(%/租期)</td>
                <td class="text_left">手续费金额(租期)</td>
                <td class="text_left">收取方式</td>
            </tr>
        </thead>
		<tbody id="addFeeRateBody">
        </tbody>
	 </table>	
		#parse("content/baseScheme/baseSchemeDialog.vm")
</body>