#parse("content/importBase.vm")
<script type="text/javascript" src="$_basePath/fiForRed/js/fiForRedApp.js"></script>
<title>冲红申请</title>
<div id="fiForRedForm" style="padding:10px;height:auto">
    	<table  cellspacing="10" cellpadding="0" border="0" width="100%">
            <tr>
               <td align="right">融资租赁合同号：</td>
    		   <td align="left">
                	<input  type="text" name="LEASE_CODE" id="LEASE_CODE" />
               </td>
    		    <td align="right">客户名称：</td>
				<td align="left">
					<input type="text" name="CUST_NAME" id="CUST_NAME"/>
                </td>
               <td align="right">付款时间段：</td>
    		   <td align="left">
                	<input type="text" name="RECEIVE_DATE_BEGIN" id="RECEIVE_DATE_BEGIN" class="easyui-datebox"/>
					-
					<input type="text" name="RECEIVE_DATE_END" id="RECEIVE_DATE_END" class="easyui-datebox"/>
               </td>
    		   
            </tr>
			<tr>
    		    <td align="right">经销商名称：</td>
    		   <td align="left">
					<input type="text" name="SUPPLIER_NAME" id="SUPPLIER_NAME"/>
               </td>
                <td align="right">期次：</td>
				<td align="left">
					<input type="text" name="PERIOD" id="PERIOD"/>
                </td>
    	   	   <td align="right" >到账时间段：</td>
    		   <td colspan="2">
                	<input type="text" class="easyui-datebox" name="REALITY_DATE_BEGIN" id="REALITY_DATE_BEGIN"/>
                	-
					<input type="text" class="easyui-datebox" name="REALITY_DATE_END" id="REALITY_DATE_END"/>
               </td>
    		   <td colspan="3">
    		   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='seFiForRedTable()'>查询</a>
    		   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clean" onclick='cleanFiForRedTable()'>清 空</a>
    		   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-application" onclick='FiForRedApp(1)'>申请冲红</a>
    		   	<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-application" onclick='FiForRedApp(2)'>申请作废</a>
				<a href="$_basePath/fiForRed/FiForRed!toMgFiForRedApp2.action" class="easyui-linkbutton" >跳转</a>
    		   </td>
    	   </tr>
      </table>
   </div>
	<table id="fiForRedTable">
		<tr>
			<thead>
                <th data-options="field:'checkId',checkbox:true"></th>
                <th data-options="field:'LEASE_CODE',width:100,align:'center'">融资租赁合同号</th>
                <th data-options="field:'D_PAY_CODE',width:100,align:'center'">支付表号</th>
                <th data-options="field:'PAY_STATUS_NAME',width:100,align:'center'">支付表状态</th>
                <th data-options="field:'CLIENT_NAME',width:100,align:'center'">客户名称</th>
                <th data-options="field:'BANK_CUSTNAME',width:100,align:'center'">开户名</th>
                <th data-options="field:'SUPPLIER_NAME',width:100,align:'center'">经销商</th>
                <th data-options="field:'FI_FLAG',width:100,align:'center'">付款方式</th>
                <th data-options="field:'D_PAY_PROJECT',width:100,align:'center'">类别</th>
                <th data-options="field:'D_RECEIVE_MONEY',width:100,align:'center'">付款金额</th>
                <th data-options="field:'PERIOD',width:100,align:'center'">期次</th>
                <th data-options="field:'D_RECEIVE_DATE',width:100,align:'center'">计划收款日期</th>
                <th data-options="field:'D_REALITY_DATE',width:100,align:'center'">到账日期</th>
                <th data-options="field:'STATUS',width:100,align:'center'">状态</th>
				<th data-options="field:'FI_DETAIL_ID',hidden:true,width:100"></th>
				<th data-options="field:'FI_FUND_ID',hidden:true,width:100"></th>
            </thead>
        </tr>
    </table>