<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>(补差收取)申请</title>
	<!-- 路径定义-->
	#set ( $_basePath = $request.ContextPath )
	#parse("content/importBase.vm")
	<link type="text/css" href="$_basePath/css/index/css.css" rel="stylesheet"></link>
	<script type="text/javascript">
		var _basePath = "$!_basePath";
	</script>
	<script type="text/javascript"  src="$!_basePath/insure_bxbc/js/insureBXBReceive.js"></script>
</head>
<body  class="easyui-layout">
<div  region="center" border="false">
	<div id="pageForm" style="padding:10px;height:auto">	
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td align="right"><label>付款单号：</label></td>
				<td align="left"><input id="GLIDE_ID" name="GLIDE_ID" size ="25" class="easyui-validatebox paramData" /></td>
				<td align="right"><label>付款日期：</label></td>
				<td align="left"><input id="FK_DATE_BEGIN" type="text" size ="15" name="FK_DATE_BEGIN" class="easyui-datebox" editable="false" />至<input id="FK_DATE_END" type="text" size ="15" name="FK_DATE_END" class="easyui-datebox" editable="false" /></td>
				<td align="left"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="dosearch()">查询</a></td>
				<td align="left"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clean" onclick="emptyData()">清空</a></td>
			</tr>
			<tr>
				<td colspan="6">
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showAddPage()">新增</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delItem()">删除</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-pass" plain="true" onclick="commitItem()">提交</a>
				</td>
            </tr>
		</table>
	</div>
	<table id="dg" class="easyui-datagrid" pagination="true" data-options="singleSelect:true,rownumbers:true,url:'$_basePath/insurebxbc/InsureBXBCReceive!pageData.action',toolbar:'#pageForm',fit:true,fitColumns:true">
		<tr>
            <thead>
				<th data-options="field:'TEMP',align:'center',checkbox:true,width:60"></th>
                <th data-options="field:'ID',align:'center',width:60,formatter:setOperation">付款单号</th>
                <th data-options="field:'PAY_AMT',align:'center',width:60">付款金额</th>
                <th data-options="field:'PAY_DATE',align:'center',width:60">付款日期</th>
                <th data-options="field:'AMOUNT',align:'center',width:60">项目数量</th>
                <th data-options="field:'IS_SUB',align:'center',width:60">状态</th>
            </thead>
        </tr>
	</table>
</div>
</body>
</html>