<title>档案借阅申请查看</title>
 #parse("content/importBase.vm")
 <script type="text/javascript" src="$_basePath/js/ajaxfileupload.js"></script>
 <script type="text/javascript" src="$_basePath/dossierBorrow/js/dossierBorrowApply.js"></script>
 <form id="borrowform">
 <table  cellpadding="0" cellspacing="0" class="table_01">
	<tr>
        <td class="text_right">借阅人姓名</td>
		<td>
			<input type="text" name="BORROWNAME" id="BORROWNAME" class="easyui-validatebox" data-options="required:true" value="$!DOSSIERINFO.BORROWNAME"/>
		</td>
        <td class="text_right">身份证/组织机构代码证</td>
        <td>
			<input type="text" name="BORROWIDCARD" id="BORROWIDCARD" value="$!DOSSIERINFO.BORROWIDCOARD"/>
		</td>
        <td class="text_right">联系电话</td>
        <td>
			<input type="text" name="BORROWPHONE" id="BORROWPHONE"  class="easyui-validatebox" data-options="required:true" value="$!DOSSIERINFO.BORROWPHONE"/>
		</td>
    </tr>
	<tr>
		<td class="text_right">预计归还时间</td>
        <td>
			<input type="text"  class="easyui-datebox"  name="INTENDRESTOREDATE" id="INTENDRESTOREDATE" class="easyui-validatebox" data-options="required:true" value="$!DOSSIERINFO.PREDICTTIME"/>
		</td>
		<td class="text_right">接收方式</td>
		<td>
			<input type="radio"  value="1"    #if($!DOSSIERINFO.RECIEVETYPE==1)checked #end name="RECIEVETYPE" class="RECIEVETYPE"/>邮寄&nbsp;&nbsp;
			<input type="radio"    #if($!DOSSIERINFO.RECIEVETYPE==2)checked #end  value="2" name="RECIEVETYPE" class="RECIEVETYPE"/>直取
        </td>
        <td class="text_right">承诺函</td>
        <td>
            #if($DOSSIERINFO.FILEPATH)<a href="javascript:void('0')" id="download" spath="$!DOSSIERINFO.FILEPATH" sname="$!DOSSIERINFO.FILEPATH_NAME" onclick="downFile()">$!DOSSIERINFO.FILEPATH_NAME</a> #else 
			<input type="file" name="FILEPATH" id="FILEPATH" class="FILEPATH" value="$!FILEPATH"/>
			#end
		</td>
	</tr>
	<tr>
        <td class="text_right">联系地址</td>
        <td colspan="3" style="text-align:left;padding-left:10px">
			<input type="text" style="width:90%" name="BORROWADDRESS" ID="BORROWADDRESS" value="$!DOSSIERINFO.BORROWADDRESS"/>
		</td>
		<td class="text_right">邮政编码</td>
        <td>
			<input type="text" name="POSTCODE" ID="POSTCODE" value="$!DOSSIERINFO.POSTCODE"/>
		</td>
    </tr>
</table>
</form>
<INPUT TYPE="HIDDEN" NAME="CLIENT_ID" VALUE="$!DOSSIERINFO.CLIENT_ID"/>
<INPUT TYPE="HIDDEN" NAME="BORROWID" id="BORROWID" VALUE="$!DOSSIERINFO.ID"/>
<INPUT TYPE="HIDDEN" NAME="PROJECT_CODE" id="PROJECT_CODE" VALUE="$DOSSIERINFO.PROJECT_CODE"/>
<INPUT TYPE="HIDDEN" NAME="CLIENT_NAME" id="CLIENT_NAME" VALUE="$!DOSSIERINFO.CLIENT_NAME"/>
  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
	<thead>
	<tr>
		<td colspan="5" style="text-align:left;padding-left:10px;">
            <b>名称：$!DOSSIERINFO.CLIENT_NAME</b>
			#if($DOSSIERINFO.PROJECT_CODE)
            <b>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目编号：$!DOSSIERINFO.PROJECT_CODE</b>
			#end
		</td>
    </tr>
	<tr>
		<td class="text_left"><input type="checkbox" name="checkAll" id="checkAll"/></td>
		<td class="text_left">文件类型</td>
		##<td class="text_left">文本编号</td>
		<td class="text_left">原件/复印件</td>
	    <td class="text_left">数量</td>
        <td class="text_left">文件页数</td>
		<td class="text_left">文件状态</td>
		<td class="text_left">对应还款计划</td>
    </tr>
    </thead>
	<tbody  id="addTbody">
		#foreach($!dossier in $!FILELIST)
	<tr class="addData">
		<td>
			<input type="checkbox" class="DOSSIERID" name="DOSSIERID" value="$!dossier.DOSSIERID"/>
			<input type="hidden" name="FILE_NAME" VALUE="$!dossier.FILE_NAME"/>
			<input type="hidden" name="DOSSIER_CODE" VALUE="$!dossier.DOSSIER_CODE"/>
			<input type="hidden" name="PAYLIST_CODE" VALUE="$!dossier.PAYLIST_CODE"/>
			<input type="hidden" name="PORTFOLIO_NUMBER" VALUE="$!dossier.PORTFOLIO_NUMBER"/>
			<input type="hidden" name="CABINET_NUMBER" VALUE="$!dossier.CABINET_NUMBER"/>
		</td>
		<td>$!dossier.FILE_NAME&nbsp;</td>
		##<td>$!dossier.DOSSIER_CODE&nbsp;</td>
		<td>
			<input type="radio"  class="DOSSIER_TEMP" name="DOSSIER_TEMP$velocityCount" value="1" #if($!dossier.DOSSIER_TEMP==1)checked #end/>原件 &nbsp;&nbsp;
			<input type="radio" class="DOSSIER_TEMP" name="DOSSIER_TEMP$velocityCount" value="2" #if($!dossier.DOSSIER_TEMP!=1)checked #end/> 复印件
        </td>
		<td><input type="text" class="DOSSIER_COUNT" name="DOSSIER_COUNT" VALUE="$!dossier.DOSSIER_COUNT"/></td>
		<td>
			<input type="text" class="FILEPAGE" name="FILEPAGE" VALUE="$!dossier.FILEPAGE"/>
		</td>
		<td>
			$!dossier.DOSSIER_STATUS &nbsp;
			<input type="hidden" class="DOSSIER_STATUS" name="DOSSIER_STATUS" VALUE="$!dossier.STATUS_NAME"/>
		</td>
		<td>$!dossier.PAYLIST_CODE &nbsp;</td>
	</tr>
	#end
	</tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
    <tr>
        <td class="text_right"  width="150">借阅用途说明</td>
		<td style="text-align:left;padding:5px;">
			<textarea cols="100%" rows="3"  name="RESTOREPURPOSE" id="RESTOREPURPOSE">$!DOSSIERINFO.RESTOREPURPOSE</textarea>
        </td>
	</tr>
</table>
	<div style="padding:20px;text-align:center">
        <a href="javascript:void('0');" class="easyui-linkbutton" data-options="iconCls:'icon-save'"id="updateRecordButton">保存</a>
    </div>