<title>档案借出登记</title>
 #parse("content/importBase.vm")
 <script type="text/javascript" src="$_basePath/dossierBorrow/js/dossierBorrowApply.js"></script>
 <form id="borrowform">
 <table  cellpadding="0" cellspacing="0" class="table_01">
	<tr>
        <td class="text_right">借阅人姓名</td>
		<td>
			$!DOSSIERINFO.BORROWNAME
			<input type="hidden" name="BORROWNAME" id="BORROWNAME" value="$!DOSSIERINFO.BORROWNAME"/>
			<input type="hidden" name="DOSSIER_BORROWAPPID" id="DOSSIER_BORROWAPPID" value="$!DOSSIERINFO.ID"/>
		</td>
        <td class="text_right">身份证/组织机构代码证</td>
        <td>
			$!DOSSIERINFO.BORROWIDCOARD
			<input type="hidden" name="BORROWIDCARD" id="BORROWIDCARD" value="$!DOSSIERINFO.BORROWIDCOARD"/>
		</td>
        <td class="text_right">联系电话</td>
        <td>
			$!DOSSIERINFO.BORROWPHONE
			<input type="hidden" name="BORROWPHONE" id="BORROWPHONE" value="$!DOSSIERINFO.BORROWPHONE"/>
		</td>
    </tr>
	<tr>
		<td class="text_right">预计归还时间</td>
        <td>
			$!DOSSIERINFO.PREDICTTIME
			<input type="hidden" name="INTENDRESTOREDATE" id="INTENDRESTOREDATE" value="$!DOSSIERINFO.PREDICTTIME"/>
		</td>
		<td class="text_right">接收方式</td>
		<td>
			<input type="radio"  value="1" readonly #if($!DOSSIERINFO.RECIEVETYPE==1)checked #end name="RECIEVETYPE" class="RECIEVETYPE"/>邮寄&nbsp;&nbsp;
			<input type="radio"  readonly #if($!DOSSIERINFO.RECIEVETYPE==2)checked #end  value="2" name="RECIEVETYPE" class="RECIEVETYPE"/>直取
        </td>
        <td class="text_right">承诺函</td>
        <td>
			 #if($DOSSIERINFO.FILEPATH)<a href="javascript:void('0')" id="download" spath="$!DOSSIERINFO.FILEPATH" sname="$!DOSSIERINFO.FILEPATH_NAME" onclick="downFile()">$!DOSSIERINFO.FILEPATH_NAME</a> #else &nbsp 无;#end
			<input type="hidden" name="FILEPATH" id="FILEPATH" value="$!DOSSIERINFO.FILEPATH"/>
			<input type="hidden" name="FILEPATH_NAME" id="FILEPATH_NAME" value="$!DOSSIERINFO.FILEPATH_NAME"/>
		</td>
	</tr>
	<tr>
        <td class="text_right">联系地址</td>
        <td colspan="3" style="text-align:left;padding-left:10px">
			$!DOSSIERINFO.BORROWADDRESS
			<input type="hidden" name="BORROWADDRESS" id="BORROWADDRESS" value="$!DOSSIERINFO.BORROWADDRESS"/>
		</td>
		<td class="text_right">邮政编码</td>
        <td>
			$!DOSSIERINFO.POSTCODE
			<input type="hidden" name="POSTCODE" id="POSTCODE" value="$!DOSSIERINFO.POSTCODE"/>
		</td>
    </tr>
</table>
</form>
  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
	<thead>
	<tr>
		<td colspan="5" style="text-align:left;padding-left:10px;">
            <b>名称：$!DOSSIERINFO.CLIENT_NAME</b>
			#if($DOSSIERINFO.PROJECT_CODE)
            <b>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目编号：$!DOSSIERINFO.PROJECT_CODE</b>
			#end
			<input type="hidden" name="CLIENT_ID" id="CLIENT_ID" value="$!DOSSIERINFO.CLIENT_ID"/>
			<input type="hidden" name="PROJECT_CODE" id="PROJECT_CODE" value="$!DOSSIERINFO.PROJECT_CODE"/>
		</td>
    </tr>
	<tr>
		<td class="text_left"><input type="checkbox" name="checkAll" id="checkAll"/></td>
		<td class="text_left">文件类型</td>
		##<td class="text_left">文本编号</td>
		<td class="text_left">原件/复印件</td>
	    <td class="text_left">数量</td>
        <td class="text_left">文件页数</td>
		<td class="text_left">文件状态</td>
		<td class="text_left">对应还款计划</td>
		<td class="text_left">档案袋编号</td>
		<td class="text_left">档案柜编号</td>
    </tr>
    </thead>
	<tbody  id="addTbody">
		#foreach($!dossier in $!FILELIST)
	<tr class="addData">
		<td>
			<input type="checkbox" #if($!dossier.STATUS!=0) disabled="true"  #end class="DOSSIERID" name="DOSSIERID" value="$!dossier.DOSSIERID"/>
			<input type="hidden" name="DOSSIERNAME" id="DOSSIERNAME" value="$!dossier.FILE_NAME"/>
			<input type="hidden" name="DOSSIER_CODE" id="DOSSIER_CODE" value="$!dossier.DOSSIER_CODE"/>
			<input type="hidden" name="DOSSIER_TEMP" id="DOSSIER_TEMP" value="$!dossier.DOSSIER_TEMP"/>
			<input type="hidden" name="DOSSIERCOUNT" id="DOSSIERCOUNT" value="$!dossier.DOSSIER_COUNT"/>
			<input type="hidden" name="FILEPAGE" id="FILEPAGE" value="$!dossier.FILEPAGE"/>
			<input type="hidden" name="PAYLIST_CODE" id="PAYLIST_CODE" value="$!dossier.PAYLIST_CODE"/>
			<input type="hidden" name="DOSSIERPACKAGECODE" id="DOSSIERPACKAGECODE" value="$!dossier.PORTFOLIO_NUMBER"/>
			<input type="hidden" name="DOSSIERBOXCODE" id="DOSSIERBOXCODE" value="$!dossier.CABINET_NUMBER"/>
		</td>
		<td>$!dossier.FILE_NAME &nbsp;</td>
		##<td>$!dossier.DOSSIER_CODE &nbsp;</td>
		<td>
			#if($!dossier.DOSSIER_TEMP==1)原件#else 复印件 #end &nbsp;
        </td>
		<td>$!dossier.DOSSIER_COUNT &nbsp;</td>
		<td>$!dossier.FILEPAGE &nbsp;</td>
		<td>
			#if($!dossier.STATUS!=0)
                <font color="red">$!dossier.DOSSIER_STATUS</font>
			#else
				$!dossier.DOSSIER_STATUS
			#end &nbsp;
		</td>
		<td>$!dossier.PAYLIST_CODE &nbsp;</td>
		<td>$!dossier.PORTFOLIO_NUMBER &nbsp;</td>
		<td>$!dossier.CABINET_NUMBER &nbsp;</td>
	</tr>
	#end
	</tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_01">
    <tr>
        <td class="text_right"  width="150">借阅用途说明</td>
		<td style="text-align:left;padding:5px;">
			<textarea cols="100%" rows="3" readonly  name="RESTOREPURPOSE" id="RESTOREPURPOSE">$!DOSSIERINFO.RESTOREPURPOSE</textarea>
        </td>
	</tr>
</table>
	
<div style="padding:20px;text-align:center">
    <a href="javascript:void('0');" class="easyui-linkbutton" data-options="iconCls:'icon-lend'"id="BORROW_OUT_BTN">借出登记</a>
</div>