<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			
		<script type="text/javascript" language="JavaScript" src="$_basePath/buyCertificate/js/buyCertificate.js"></script>
		<title>合格证查看</title>
		#parse("content/importBase.vm")
		<!-- JQuery Core -->
		
		<style type="text/css">
			#main table td{
				height:30px;
			}
        </style>
		
</head>
	<body>
		<div id="main" class="BOX">
			<form action="" name="certificateEntry" id="certificateEntry" method="post">
				<input type="hidden" name="buyid" value="$!param.buyid"/>
					<div class="content">
						<table width="1250" border="0" align="left"
								cellpadding="2" cellspacing="2"
								 style="margin: 0 auto; margin-top: 10px; border: #afd3ff dotted 2px;" 
								id="hg">
								<!--<tr bgcolor="#fbfcfc">
									<td width="29%" height="26" align="right">合格证流水号：</td>
									<td width="38%" bgcolor="#fbfcfc" class="pa1">
										<input name="NO" type="hidden" class="txtkl" value="$!NO" />$!certificateinfo.NO</td>
								</tr>
								-->
								<tr>
									<td height="26" align="right">车架号：</td>
									<td class="pa1">$!certificateinfo.CERTIFICATE_NO</td>
        							<td height="26" align="right">发动机号：</td>
									<td class="pa1">$!certificateinfo.ENGINENUM</td>
        						</tr>
        						
        						<tr>
        							<td height="26" align="right">牌照类型：</td>
        							<td>#if($!certificateinfo.CARNUM_TYPE=='0')临时车牌  #else 正式车牌 #end</td>
        							<td height="26" align="left">牌号：</td>
        							<td>$!certificateinfo.CARNUM</td>
        							<td height="26" align="right">下次验车时间：</td>
									<td class="pa1">$!certificateinfo.INSPECTIONTIME</td>
        						</tr>
        						
        						<tr>
									<td height="26" align="right">合格证图片:</td>
									<td class="pa1"><a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.FILE_URL&file_name=$!certificateinfo.FILE_NAME">$!certificateinfo.FILE_NAME</a></td>
									<tr>
										<td height="26" align="right">购车发票图片:</td>
										<td class="pa1"><a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.FINC_CONTRACT_URL&file_name=$!certificateinfo.FINC_CONTRACT_NAME">$!certificateinfo.FINC_CONTRACT_NAME</a></td>
									</tr>
									<tr>
										<td height="26" align="right">购置税发票图片:</td>
										<td class="pa1"><a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.BUYCAR_INVOICE_URL&file_name=$!certificateinfo.BUYCAR_INVOICE_NAME">$!certificateinfo.BUYCAR_INVOICE_NAME</a></td>
									</tr>
									<tr>
										<td height="26" align="right">交强险保单图片:</td>
										<td class="pa1"><a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.CAR_INSURANCE_URL&file_name=$!certificateinfo.CAR_INSURANCE_NAME">$!certificateinfo.CAR_INSURANCE_NAME</a></td>
									</tr>
									<tr>
										<td height="26" align="right">承诺书图片:</td>
										<td class="pa1"><a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.PROMISE_BOOK_URL&file_name=$!certificateinfo.PROMISE_BOOK_NAME">$!certificateinfo.PROMISE_BOOK_NAME</a></td>
									</tr>
									<tr>
										<td height="26" align="right">行驶本扫描件:</td>
										<td class="pa1"><a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.DRIVING_BOOK_FILE_URL&file_name=$!certificateinfo.DRIVING_BOOK_FILE_NAME">$!certificateinfo.DRIVING_BOOK_FILE_NAME</a></td>
									</tr>
								</tr>
								<tr bgcolor="#fbfcfc">
								<td height="26" align="right">承租人：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!param.CUST_SIGN_NAME</td>
								##<tr>
								##	<td height="26" align="right">联系人：</td>
								##	<td class="pa1">$!dataInfo.CONTACT</td>
								##</tr>
									<td height="26" align="right">融资租赁合同编号：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!param.LEASE_CODE</td>
								</tr>
								<tr bgcolor="#fbfcfc">
									<td height="26" align="right">还款计划编号：</td>
									<td class="pa1">$!dataInfo.PAYLIST_CODE</td>
									<td height="26" align="right">租赁物名称：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.THING_NAME</td>
								</tr><!--
								##<tr>
								##	<td height="26" align="right">原始型号：</td>
								##	<td class="pa1">$!equipcode.SPEC_NAME</td>
								##</tr>
								--><!-- <tr bgcolor="#fbfcfc">
									<td height="26" align="right">型号：</td>
									<td class="pa1">$!certificateinfo.CAR_TYPE   CARTYPENUM</td>
								</tr> -->
								<tr>
        							<td height="26" align="right">厂牌型号：</td>
									<td class="pa1">$!certificateinfo.CAR_TYPE</td>
        							<td height="26" align="right">颜色：</td>
									<td class="pa1">$!certificateinfo.CARCOLOR</td>
        						</tr>
        						#foreach($!gps in $!GPSInfo)
        						<tr>
        							<td height="26" align="right">GPS厂商：</td>
									<td class="pa1">$!gps.FLAG</td>
        							<td height="26" align="right">GPS类型：</td>
									<td class="pa1">$!gps.GPS_TYPE</td>
									<td height="26" align="right">GPSID号：</td>
									<td class="pa1">$!gps.GPS_ID</td>
        						</tr>
        						#end
								<!-- <tr>
									<td height="26" align="right">整机编号/车架号：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.CAR_SYMBOL</td>
								</tr>
								#foreach($!item in $findcrelist)
								<tr bgcolor="#fbfcfc">
									<td height="26" align="right">$!item.FLAG：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.get($!item.FLAG_INTNA)</td>
								</tr>
								#end
								<tr>
									<td height="26" align="right">GPS地址：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.GPSURL</td>
								</tr>
								 <tr>
        							<td height="26" align="right">车牌号：</td>
									<td  class="pa1">$!certificateinfo.CARNUM</td>
        						</tr>	
        						<tr>
        							<td height="26" align="right">车型型号：</td>
									<td class="pa1">$!certificateinfo.CARTYPENUM</td>
        						</tr>		
        						<tr>
        							<td height="26" align="right">颜色：</td>
									<td class="pa1">$!certificateinfo.CARCOLOR</td>
        						</tr>				 
								 <tr>
        							<td height="26" align="right">用户名：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.USER_NAME</td>
        						</tr>
        						<tr>
        							<td height="26" align="right">密码：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.PASSWORD</td>
        						</tr> -->
								<!--
								<tr bgcolor="#fbfcfc">
									<td height="26" align="right">出厂编号：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.WHOLE_ENGINE_CODE</td>
								</tr>
								<tr>
									<td height="26" align="right">发动机型号：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.ENGINE_TYPE</td>
								</tr>
								<tr bgcolor="#fbfcfc">
									<td height="26" align="right">发动机号/许可证号：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.ENGINE_CODE</td>
								</tr>
								<tr>
									<td height="26" align="right">整备质量：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.WHOLE_MASS</td>
								</tr>
								<tr bgcolor="#fbfcfc">
									<td height="26" align="right">底盘号：</td>
									<td bgcolor="#fbfcfc" class="pa1">$!certificateinfo.CHASSIS_CODE</td>
								</tr>
								<tr>
									<td height="26" align="right">发证日期：</td>
									<td class="pa1">$!certificateinfo.CERTIFICATE_DATE</td>
								</tr>
								<tr>
									<td height="26" align="right">GPS外部链接：</td>
									<td class="pa1">$!certificateinfo.GPS_URL</td>
								</tr>
								<tr>
									<td height="26" align="right">GPS账号：</td>
									<td class="pa1">$!certificateinfo.GPS_NUMBER</td>
								</tr>
								<tr>
									<td height="26" align="right">GPS密码：</td>
									<td class="pa1">$!certificateinfo.GPS_PWD</td>
								</tr>
								<tr>
									<td height="26" align="right">额定载质量：</td>
									<td class="pa1">$!certificateinfo.RATED_LOAD</td>
								</tr>
								<tr>
									<td height="26" align="right">准牵引总质量：</td>
									<td class="pa1">$!certificateinfo.TRACTION_MASS</td>
								</tr>
								<tr>
									<td height="26" align="right">驾驶室准乘人数：</td>
									<td class="pa1">$!certificateinfo.CAB_NUMBER</td>
								</tr>
								-->	
								<tr bgcolor="#fbfcfc">
									<td  colspan="2"><div  id="certificate"></div></td>
								</tr>
									#if($!equipcode.EQUIPMENT_INVOICE_ID)
								<tr>
									<td align="center" colspan="2"><a href="../buyInvoice/BuyInvoice!goEquipmentInvoice.action?id=$!equipcode.EQUIPMENT_INVOICE_ID&PLATFORM=8610&lease_code=$!param.LEASE_CODE&paylist_code=$!param.PAYLIST_CODE&renterName=$!param.RENTER_NAME&renterCode=$!param.RENTER_CODE#if($!equipcode.FLAG==1)&FALG=1#end">查看发票</a></td>
								</tr>
									#end
								<tr>
									<td colspan="2">
									#foreach($item in $upload)
										<div id="preview1" class="Left" style="width:300px; margin-right:10px; height:300px;display:block">
                                             <span class="Left">
												<a href="../creditWind/CreditWind!downloadPictureFile.action?FILE_ID=$!item.ID">
													<img src="../creditWind/CreditWind!downloadPictureFile.action?FILE_ID=$!item.ID" style="width:208px; height:250px;display:block">
												</a>
											</span>
                                            <br />
                                             ##<span class="Left">合格证上传时间<br />$!item.CREATE_DATE </span>
										</div>
									#end
                                     </td>
								  </tr>
								</table>
													
								<div>	
    								<table align="center" width="850">
    									<tr>
    										<td>    									
        										<input  type="button" value="关闭" style="border:0;"  class="Button" onclick="closetab();"/>&nbsp;&nbsp;&nbsp;    					
    										</td>	
    									</tr>
								</table>
								</div>	
					</div>
                 </form>
            </div>
		##</center>
	</body>
</html>
	
