<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>合格证信息修改</title>
		#parse("content/importBase.vm")
		<script type="text/javascript" language="JavaScript" src="$_basePath/buyCertificate/js/buyCertificate.js"></script>	
		<script Language="JavaScript" src="$_basePath/buyCertificate/js/ajaxfileupload.js"></script>
		<script Language="JavaScript" src="$_basePath/buyCertificate/js/ajaxfileuploadUtil.js"></script>	
		<style type="text/css">
			#main table td{
				height:30px;
			}
			.red
			{
			 border:2px solid red;
			}
        </style>
		<script Language="JavaScript">
		$(document).ready(function(){
			if($("#carnum_type").val()=='0'){
				$("#PROMISE_BOOK").show(); 
			}else{
				$("#PROMISE_BOOK").hide(); 
			}		
		});
		
		function uploadFile(obj){
			var id =$(obj).attr("id");
			jQuery.ajaxFileUpload({
        	    url:"BuyCertificate!FileUploadOneByOne.action",
        	    secureuri:false,
        	    fileElementId:id,
        	    dataType: "json",
        	    success: function (s){
					 if(s.flag==true){
						 if(s.msg != null && s.msg != ''){
							 $("#"+id+"_ID").val(s.msg);
							 $("#"+id+"_ID_TEMP").val(s.msg.split(",")[1]);
						 }
					 }else{
						 alert(s.msg);
					 }
        	    },
            	    error: function (callback){
        	    	alert("上传失败,请重新选择");
        	    }
           	});	
			return true;
		}
		
		//临时车牌承诺书必填
		function checkPromiseBook(){
			if($("#carnum_type").val()=='0'){
				$("#PROMISE_BOOK").show(); 
				/* if (($("#PROMISE_BOOK_FILE_ID_TEMP").val() == '' || $("#PROMISE_BOOK_FILE_ID_TEMP").val() == null)) {
					$("#PROMISE_BOOK_FILE").addClass('red');
				  return false;
			}else{
				$("#PROMISE_BOOK_FILE").removeClass('red');
			} */
		}else if($("#carnum_type").val()!='0'){
			$("#PROMISE_BOOK").hide();
		}
	}
		function updateCertificate(v){
			//add by lishuo 01-14-2016 必填项校验
			
			$(".warm").each(function() {
			if (($(this).find("option:selected").val() == '' || $(this).find("option:selected").val() == null)) {
				$(this).addClass('red');
			} else {
				$(this).removeClass('red');
			}
		});
			
			/* if($("#carnum_type").val()=='0'){
				if (($("#PROMISE_BOOK_FILE_ID_TEMP").val() == '' || $("#PROMISE_BOOK_FILE_ID_TEMP").val() == null)) {
					$("#PROMISE_BOOK_FILE").addClass('red');
				  return false;
				} else {
					$("#PROMISE_BOOK_FILE").removeClass('red');
				}
			} */
			if (($("#uploadfile_ID_TEMP").val() == '' || $("#uploadfile_ID_TEMP").val() == null)) {
			
				$("#uploadfile").addClass('red');
			  return false;
			} else {
				$("#uploadfile").removeClass('red');
			}
			if (($("#FINC_CONTRACT_FILE_ID_TEMP").val() == '' || $("#FINC_CONTRACT_FILE_ID_TEMP").val() == null)) {
				
				$("#FINC_CONTRACT_FILE").addClass('red');
			  return false;
			} else {
				$("#FINC_CONTRACT_FILE").removeClass('red');
			}
			
			if (($("#CAR_INSURANCE_FILE_ID_TEMP").val() == '' || $("#CAR_INSURANCE_FILE_ID_TEMP").val() == null)) {
				
				$("#CAR_INSURANCE_FILE").addClass('red');
			  return false;
			} else {
				$("#CAR_INSURANCE_FILE").removeClass('red');
			}			
			
			if($("#GPS_TYPE1").val() == "") {
				$("#GPS_TYPE1").addClass('red');
				return false;
			}else{
				$("#GPS_TYPE1").removeClass('red');
			}
			if(!$("form").form('validate')){
				return ;
			} 
        	var cd=$("#CERTIFICATE_NO").val();
        	if(cd==null||cd==''){
        		alert("合格证编号不能为空！");
        		return false;
        	}
        	debugger ;
        	var bool=true;
        	$('#upfile').each(function(){
 				var ruValue = $(this).val() ;
				debugger;
				if(ruValue!="" && ruValue!=undefined){
					var ru=ruValue.split(".");
            	var typeName = ru[1].toUpperCase();
            	var type2 = ["PNG","JPG","GIF"];
            	if (typeName=="PNG"||typeName=="JPG"||typeName=="GIF"){
                		
                	} else {
                		alert("只能上传"+type2+"文件");
                		bool=false;
                        return false;
                	}
				}	
        	});
        	
        	if(bool)
        	{
        		if(confirm("确定保存吗？")){
        			
        			$("#status").val(v);
        			String.prototype.trim = function () {  
        		        return this.replace(/^\s*((.|\n)*\S)?\s*$/, '$1' );  
        		    }  
        			var cn=$("#CERTIFICATE_NO").val();
        			var cn1=$("#CERTIFICATE_NO").val(cn.trim());
        			var temp = {} ;
        			  $("#certificateUpdate input").each(function(){
        				   var name = $(this).attr("name") ;
        				   var value = $(this).val() ;
        				 
        				   if(name!=undefined){
        					   temp[name]=value;
        				   }
        			   });
        			  $("#certificateUpdate select").each(function(){
	       				   var name = $(this).attr("name") ;
	       				   var value = $(this).val() ;
	       				   if(name!=undefined){
	       					   temp[name]=value;
	       				   }
       			 	  });	
        			 	   temp["uploadfile"]=$("#uploadfile_ID").val();
		       			   temp["FINC_CONTRACT_FILE"]=$("#FINC_CONTRACT_FILE_ID").val();
		       			   temp["BUYCAR_INVOICE_FILE"]=$("#BUYCAR_INVOICE_FILE_ID").val();
		       			   temp["CAR_INSURANCE_FILE"]=$("#CAR_INSURANCE_FILE_ID").val();
		       			   temp["PROMISE_BOOK_FILE"]=$("#PROMISE_BOOK_FILE_ID").val();
	        			   temp["carnum_type"] =$("#carnum_type").val();
	       			   for(var i =1;i<5;i++){
	       				   var  ty="GPS_TYPE"+i;
	       				    if(temp["GPS_TYPE"+i] != ""){
	       				    	temp[ty] =$("#"+ty).val();
	       				   } 
	       			   }
        			    var  paramJson = JSON.stringify(temp);	
					    var leaseCodeV=$("#leaseCodeId").val() ;
					    var payListCodeV=$("#payListCodeId").val() ;
					    var noV=$("#noId").val() ;
					    var codeV=$("#CERTIFICATE_NO").val();
					   
					     var file_path =  "合格证管理/融资租赁合同编号"+leaseCodeV+"/还款计划编号"+payListCodeV+"/合格证"+codeV+"/流水号"+noV;
					     jQuery.ajaxFileUpload({
                    	    url:"BuyCertificate!subcertificateInfo.action?paramJson="+paramJson+"&FILE_PATH="+file_path,
                    	    secureuri:false,
                    	    fileElementId:"upfile",
                    	    dataType: "json",
                    	    success: function (s){
            					 if(s.flag==true){
            						 alert(s.msg);
            						 $("#showStatus").val() =="菜单" ? window.location.href="BuyCertificate!execute.action" : window.location.href="BuyCertificate!toExecuteForCW.action?LEASE_CODE="+leaseCodeV;
            						 //window.location.href="BuyCertificate!toExecuteForCW.action?LEASE_CODE="+leaseCodeV;//execute
            					 }else{
            						 alert(s.msg);
            					 }
                    	    },
                        	    error: function (callback){
                    	    	//alert(callback);
                    	    	alert("上传失败,请重新选择");
                    	    }
                       	});	
        		}else{
        			return false;
        		}
        	}
	
		}			
       </script>
</head>
	<body>
		#if($!doOkOrNo=='ok') <script>  alert('修改成功！'); window.location.href="BuyCertificate!getCertificateEntryManage.action?LEASE_CODE=$!LEASE_CODE";</script> #end
		<div id="main" class="BOX">
		<!-- add by lishuo 02-17-2016 Start -->
		 <input type="hidden" #if($!param.ClickType=='菜单') #end name="showStatus" id="showStatus" value="$!param.ClickType" />
		<!-- add by lishuo 02-17-2016 End -->
			<form action="BuyCertificate!subcertificateInfo.action?LEASE_CODE=$!param.LEASE_CODE" name="certificateUpdate" enctype="multipart/form-data" id="certificateUpdate" method="post">
					<input type="hidden" name="status" id="status"/>
					<input type="hidden" id="handler" value="edit"/>	
							<table width="1250" border="0" align="left"
									cellpadding="2" cellspacing="2"
									style="margin: 0 auto; margin-top: 10px; border: #afd3ff dotted 2px;"
									id="hg">
									<!--<tr bgcolor="#fbfcfc">
										<td width="29%" height="26" align="right">合格证流水号：</td>
										<td width="38%" bgcolor="#fbfcfc" class="pa1">
											<input id="noId" name="NO" type="hidden"   class="txtkl" value="$!NO" />
											<input type="hidden" name="NO_1" value="$!certificateinfo.NO"/>
											<input name="CERTIFICATE_ID" type="hidden" class="txtkl" value="$!certificateinfo.ID" />
												$!certificateinfo.NO
										</td>
									</tr>
									-->
									<tr>
										<td height="26" align="right">车架号：</td>
										<td class="pa1">
											<input type="hidden" id="initCertificateNo"  name="CERTIFICATE_CODE" value="$!certificateinfo.CERTIFICATE_NO"/>
											<input name="CERTIFICATE_NO" id="CERTIFICATE_NO" #if($!adminFlag!=1)#end type="text"   value="$!certificateinfo.CERTIFICATE_NO" class="easyui-validatebox"  required="required" data-options="validType:'checkCode'" /><font  color="red"> *</font>
										</td>
										<td height="26" align="right">发动机号：</td>
										<td class="pa1">
											<input name="EngineNum" type="text" id="EngineNum" size="25"  value="$!certificateinfo.ENGINENUM"  class="easyui-validatebox" required="required"/><font  color="red"> *</font>
										</td>
									</tr>
									<tr>
										<td height="26" align="right">牌照类型：</td>
										<td class="pa1">
										<!-- class="warm" -->
											<select id="carnum_type" name ="carnum_type"  onchange="checkPromiseBook()">
											#if($!certificateinfo.CARNUM_TYPE)
												<option value="请选择">请选择</option>
												<option value="0" #if($!certificateinfo.CARNUM_TYPE == 0)selected#end>临时车牌</option>
												<option value="1" #if($!certificateinfo.CARNUM_TYPE == 1)selected#end>正式车牌</option>
											#end
											<!-- </select><font  color="red"> *</font> -->
											<input name="CarNum" type="text" id="carum" value="$!certificateinfo.CARNUM"/>  <!-- class="easyui-validatebox" required="required"/><font  color="red"> *</font> -->
										<td height="26" align="right">下次验车时间：</td>
										<td class="pa1">
											<input type="text" name="INSPECTIONTIME" id="INSPECTIONTIME" class="easyui-datebox" value="$!certificateinfo.INSPECTIONTIME">
										</td>
									</tr>
									<tr>
										<td height="26" align="right">合格证图片:</td>
    									<td class="pa1">
    										<a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.FILE_URL&file_name=$!certificateinfo.FILE_NAME">$!certificateinfo.FILE_NAME</a>
    										<input type="hidden"  id="uploadfile_ID_TEMP"  value="$!certificateinfo.FILE_URL">
    										<input type="hidden" name='uploadfile' id='uploadfile_ID'/>
    										<input type='file' name='tmp' class='uploadfile'  id='uploadfile'  onchange="uploadFile(this);"  size='10'  class="easyui-validatebox" required="required"/><font  color="red"> *</font>
										</td>
									</tr>
									
									<tr>
										<td height="26" align="right">购车发票图片</td>
										<td class="pa1">	
											<a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.FILE_URL&file_name=$!certificateinfo.FILE_NAME">$!certificateinfo.FINC_CONTRACT_NAME</a>
											<input type="hidden"  id="FINC_CONTRACT_FILE_ID_TEMP"  value="$!certificateinfo.FINC_CONTRACT_URL">
											<input type="hidden" name='FINC_CONTRACT_FILE' id="FINC_CONTRACT_FILE_ID"/>
											<input type='file'  class='uploadfile' name="tmp" id='FINC_CONTRACT_FILE'   onchange="uploadFile(this);"size='10' class="easyui-validatebox" required="required"/><font  color="red"> *</font>
										</td>
									</tr>
									
									<tr>
										<td height="26" align="right">购置税发票图片</td>
										<td class="pa1">	
										<a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.BUYCAR_INVOICE_URL&file_name=$!certificateinfo.BUYCAR_INVOICE_NAME">$!certificateinfo.BUYCAR_INVOICE_NAME</a>
											<input type="hidden" name="BUYCAR_INVOICE_FILE" id="BUYCAR_INVOICE_FILE_ID"/>
											<input type='file' class='uploadfile' name="tmp" id='BUYCAR_INVOICE_FILE'   onchange="uploadFile(this);"  size='10' />
										</td>
									</tr>
									
									<tr>
										<td height="26" align="right">交强险保单图片</td>
										<td class="pa1">	
								        <a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.CAR_INSURANCE_URL&file_name=$!certificateinfo.CAR_INSURANCE_NAME">$!certificateinfo.CAR_INSURANCE_NAME</a>
											<input type="hidden"  id="CAR_INSURANCE_FILE_ID_TEMP"  value="$!certificateinfo.CAR_INSURANCE_URL">
											<input type="hidden" name='CAR_INSURANCE_FILE' id="CAR_INSURANCE_FILE_ID"/>
											<input type='file' class='uploadfile' name="tmp" id='CAR_INSURANCE_FILE'  size='10'  onchange="uploadFile(this);"/>
											<font  color="red"> *</font>
										</td>
									</tr>
									
									##if($!certificateinfo.CARNUM_TYPE=='0')
									<tr id="PROMISE_BOOK">
										<td height="26" align="right">承诺书图片</td>
										<td class="pa1">	
										<a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.PROMISE_BOOK_URL&file_name=$!certificateinfo.PROMISE_BOOK_NAME">$!certificateinfo.PROMISE_BOOK_NAME</a>
											<input type="hidden" id='PROMISE_BOOK_FILE_ID_TEMP'  value="$!certificateinfo.PROMISE_BOOK_URL" />
											<input type="hidden" name="PROMISE_BOOK_FILE" id="PROMISE_BOOK_FILE_ID" />
											<input type='file' class='uploadfile' name="tmp" id='PROMISE_BOOK_FILE' size='10' onchange="uploadFile(this);"/><!-- <font  color="red"> *</font> -->
										</td>
									</tr>
									##end
									
									
									<tr>
										<td height="26" align="right">行驶本扫描件</td>
										<td class="pa1">	
								        <a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.DRIVING_BOOK_FILE_URL&file_name=$!certificateinfo.DRIVING_BOOK_FILE_NAME">$!certificateinfo.DRIVING_BOOK_FILE_NAME</a>
											<input type="hidden" name='DRIVING_BOOK_FILE' id="DRIVING_BOOK_FILE_ID"/>
											<input type='file' class='uploadfile' name="tmp" id='DRIVING_BOOK_FILE'  size='10'  onchange="uploadFile(this);"/>
										</td>
									</tr>
									
									
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">承租人：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											$!param.CUST_SIGN_NAME
										</td>
									##<tr>
									##	<td height="26" align="right">联系人：</td>
									##	<td class="pa1">$!dataInfo.CONTACT</td>
									##</tr>
										<td height="26" align="right">融资租赁合同编号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input id="leaseCodeId" type="hidden" name="LEASE_CODE" value="$!param.LEASE_CODE"/>
											$!param.LEASE_CODE
										</td>
									</tr>
									<tr>
										<td height="26" align="right">还款计划编号：</td>
										<td class="pa1">
											<input type="hidden" name="ID" value="$!dataInfo.ID"/>
											<input id="payListCodeId" type="hidden" name="PAYLIST_CODE" value="$!dataInfo.PAYLIST_CODE"/>
											$!dataInfo.PAYLIST_CODE
										</td>
										<td height="26" align="right">租赁物名称</td>
										<td bgcolor="#fbfcfc" class="pa1">
											$!certificateinfo.THING_NAME
										</td>
									</tr>
									##<tr>
									##	<td height="26" align="right">原始型号：</td>
									##	<td class="pa1">$!equipcode.SPEC_NAME</td>
									##</tr>
									<tr>
										<td height="26" align="right">厂牌型号:</td>	
										<td class="pa1">
										<!-- class="txtkl" 原先型号css -->
											<input name="car_type" ID="car_type" type="text" #if($!adminFlag!=1)#end  value="$!certificateinfo.CAR_TYPE" class="easyui-validatebox" required="required"/><font  color="red"> *</font>	
										</td>
										<td height="26" align="right">颜色：</td>
										<td class="pa1">
											<input name="CarColor" type="text" id="CarColor" size="25"  value="$!certificateinfo.CARCOLOR"  class="easyui-validatebox" required="required"/><font  color="red"> *</font>
										</td>
        								<!-- <td height="26" align="right">用户名：</td>
        								<td class="pa1">
        									<input name="user_Name" type="text" maxlength="50" id="user_Name" size="25" #if($!adminFlag!=1)#end  value="$!certificateinfo.USER_NAME"  class="easyui-validatebox" />
        								</td> -->
        							</tr>
        							
        							<tr>
										<td height="26" align="right">GPS厂商：</td>
										<td class="pa1">
										    <input type="hidden" name="GPS_INFO_ID1"  value="$!GPSInfo1.ID">
										    <input type="hidden" name="GPS_COMPANY_TYPE1"  value="1">
										    <select name="GPS_COMPANY1" id="GPS_COMPANY1" style="width:120px">
					                            <option value="请选择">--请选择--</option>
					    						#foreach($item in $!list)
					                                <option value="$!item.CODE" #if($!item.CODE==$!GPSInfo1.GPS_COMPANY) selected #end>$!item.FLAG</option>
					    						#end	
    										</select>
										    
											<!-- <input name="GPS_COMPANY1" type="text"   size="25"  value="$!GPSInfo1.FLAG"  class="easyui-validatebox" required="required"/><font  color="red"> *</font> -->
										</td>
										<td height="26" align="right">GPS类型：</td>
										<td class="pa1">
											<select id="GPS_TYPE1"   name="GPS_TYPE1"  class="easyui-validatebox" required="required">
												<option value="">请选择</option>
												<option value="有线" #if($!GPSInfo1.GPS_TYPE == "有线")selected#end>有线</option>
												<option value="无线" #if($!GPSInfo1.GPS_TYPE == "无线")selected#end>无线</option>
											</select><font  color="red"> *</font>
										</td>
										<td height="26" align="right">GPSID号：</td>
										<td class="pa1">
											<input name="GPS_ID1" type="text"  size="25"  value="$!GPSInfo1.GPS_ID"  class="easyui-validatebox" required="required"/>
										</td>
									</tr>
									
										<tr>
										<td height="26" align="right">GPS厂商：</td>
										<td class="pa1">
											<input type="hidden" name="GPS_INFO_ID2"  value="$!GPSInfo2.ID">
											<input type="hidden" name="GPS_COMPANY_TYPE2"  value="2">
											<select name="GPS_COMPANY2" id="GPS_COMPANY2" style="width:120px">
					                            <option value="请选择">--请选择--</option>
					    						#foreach($item in $!list)
					                                <option value="$!item.CODE" #if($!item.CODE==$!GPSInfo2.GPS_COMPANY) selected #end>$!item.FLAG</option>
					    						#end	
    										</select>
											<!-- <input name="GPS_COMPANY2" type="text"  size="25"  value="$!GPSInfo2.FLAG"  /> -->
										</td>
										<td height="26" align="right">GPS类型：</td>
										<td class="pa1">
											<select id="GPS_TYPE2"  name="GPS_TYPE2" >
												<option value="">请选择</option>
												<option value="有线" #if($!GPSInfo2.GPS_TYPE == "有线")selected#end>有线</option>
												<option value="无线" #if($!GPSInfo2.GPS_TYPE == "无线")selected#end>无线</option>
											</select>
										</td>
										<td height="26" align="right">GPSID号：</td>
										<td class="pa1">
											<input name="GPS_ID2" type="text"  size="25"  value="$!GPSInfo2.GPS_ID" />
										</td>
									</tr>
									
									
									<tr>
										<td height="26" align="right">GPS厂商：</td>
										<td class="pa1">
											<input type="hidden" name="GPS_INFO_ID3"  value="$!GPSInfo3.ID">
											<input type="hidden" name="GPS_COMPANY_TYPE3"  value="3">
											<select name="GPS_COMPANY3" id="GPS_COMPANY3" style="width:120px">
					                            <option value="请选择">--请选择--</option>
					    						#foreach($item in $!list)
					                                <option value="$!item.CODE" #if($!item.CODE==$!GPSInfo3.GPS_COMPANY) selected #end>$!item.FLAG</option>
					    						#end	
    										</select>
											<!-- <input name="GPS_COMPANY3" type="text"  size="25"  value="$!GPSInfo3.FLAG" /> -->
										</td>
										<td height="26" align="right">GPS类型：</td>
										<td class="pa1">
											<select id="GPS_TYPE3"  name="GPS_TYPE3" >
												<option value="">请选择</option>
												<option value="有线" #if($!GPSInfo3.GPS_TYPE == "有线")selected#end>有线</option>
												<option value="无线" #if($!GPSInfo3.GPS_TYPE == "无线")selected#end>无线</option>
											</select>
										</td>
										<td height="26" align="right">GPSID号：</td>
										<td class="pa1">
											<input name="GPS_ID3" type="text"   size="25"  value="$!GPSInfo3.GPS_ID"  />
										</td>
									</tr>
									
									
									<tr>
										<td height="26" align="right">GPS厂商：</td>
										<td class="pa1">
										    <input type="hidden" name="GPS_INFO_ID4"  value="$!GPSInfo4.ID">
										    <input type="hidden" name="GPS_COMPANY_TYPE4"  value="4">
										    <select name="GPS_COMPANY4" id="GPS_COMPANY4" style="width:120px">
					                            <option value="请选择">--请选择--</option>
					    						#foreach($item in $!list)
					                                <option value="$!item.CODE" #if($!item.CODE==$!GPSInfo4.GPS_COMPANY) selected #end>$!item.FLAG</option>
					    						#end	
    										</select>
											<!-- <input name="GPS_COMPANY4" type="text"  size="25"  value="$!GPSInfo4.FLAG" /> -->
										</td>
										<td height="26" align="right">GPS类型：</td>
										<td class="pa1">
											<select id="GPS_TYPE4"  name="GPS_TYPE4" >
												<option value="">请选择</option>
												<option value="有线" #if($!GPSInfo4.GPS_TYPE == "有线")selected#end>有线</option>
												<option value="无线" #if($!GPSInfo4.GPS_TYPE == "无线")selected#end>无线</option>
											</select>
										</td>
										<td height="26" align="right">GPSID号：</td>
										<td class="pa1">
											<input name="GPS_ID4" type="text"  size="25"  value="$!GPSInfo4.GPS_ID" />
										</td>
									</tr>
        							
									<!-- <tr bgcolor="#fbfcfc">
										<td height="26" align="right">整机编号/车架号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input type="hidden" value="$!certificateinfo.CAR_SYMBOL" id="initCarSymbol"/>
											<input name="CAR_SYMBOL" ID="CAR_SYMBOL" type="text" #if($!adminFlag!=1)#end   value="$!certificateinfo.CAR_SYMBOL"  class="easyui-validatebox"  required="required" data-options="validType:'checkCarSysmle'"/><font  color="red"> *</font>
										</td>
									</tr>
									#foreach($!item in $upcrelist)
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">$!item.FLAG：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="$!item.FLAG_INTNA" ID="$!item.FLAG_INTNA" #if($!adminFlag!=1)#end type="text" class="txtkl" value="$!certificateinfo.get($!item.FLAG_INTNA)" />
										</td>
									</tr>
									#end
									<tr>
        								<td height="26" align="right">GPS网址：</td>
        								<td class="pa1">
        									<input name="gpsURL" type="text" maxlength="100" id="gpsURL" size="25" #if($!adminFlag!=1)#end  value="$!certificateinfo.GPSURL"  class="easyui-validatebox" required="required"/><font  color="red"> *</font>
        								</td>
        							</tr>
									<tr>
										<td height="26" align="right">车牌号：</td>
										<td class="pa1">
											<input name="CarNum" type="text" id="CarNum" size="25"  value="$!certificateinfo.CARNUM"  class="easyui-validatebox" required="required"/><font  color="red"> *</font>
										</td>
									</tr> 
									
									<tr>
										<td height="26" align="right">车型型号：</td>
										<td class="pa1">
											<input name="CarTypeNum" type="text" id="CarTypeNum" size="25"  value="$!certificateinfo.CARTYPENUM"  class="easyui-validatebox" required="required"/><font  color="red"> *</font>
										</td>
									</tr>
        							<tr>
        								<td height="26" align="right">密码：</td>
        								<td class="pa1">
        									<input name="password" type="text" maxlength="50" id="password" size="25" #if($!adminFlag!=1)#end  value="$!certificateinfo.PASSWORD"  class="easyui-validatebox" />
        								</td>
        							</tr>-->
									<!--<tr bgcolor="#fbfcfc">
										<td height="26" align="right">出厂编号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="WHOLE_ENGINE_CODE" ID="WHOLE_ENGINE_CODE" #if($!adminFlag!=1)#end type="text" class="txtkl" value="$!certificateinfo.WHOLE_ENGINE_CODE" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">发动机型号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input type="hidden" value="$!certificateinfo.ENGINE_TYPE" id="initEngineType"/>
											<input name="ENGINE_TYPE" ID="ENGINE_TYPE" type="text" #if($!adminFlag!=1)#end  value="$!certificateinfo.ENGINE_TYPE" class="easyui-validatebox"  required="required" data-options="validType:'checkEngineType'"/>
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">发动机号/许可证号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="ENGINE_CODE" ID="ENGINE_CODE" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.ENGINE_CODE" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">整备质量：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="WHOLE_MASS" ID="WHOLE_MASS" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.WHOLE_MASS" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">底盘号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="CHASSIS_CODE" id="CHASSIS_CODE" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.CHASSIS_CODE" />
										</td>
									</tr>
									<tr>
										<td height="26" align="right">发证日期：</td>
										<td class="pa1">
											<input  class="easyui-datebox"  name="CERTIFICATE_DATE"  type="text"  value="$!certificateinfo.CERTIFICATE_DATE" />
										</td>
                                    </tr>	
									<tr>
										<td height="26" align="right">发证日期：</td>
										<td class="pa1">
											<div style="display:" id="dateinfo">
												<input type="text" name="CERTIFICATE_DATE" class="easyui-datebox"   #if($!adminFlag!=1)#end value="$!certificateinfo.CERTIFICATE_DATE" onmousemove="hidtext();"/>
                                             </div>
											 <div style="display:none" id="certifi">
												<input name="CERTIFICATE_DATE" class="easyui-datebox"  id="CERTIFICATE_DATE" #if($!adminFlag!=1)#end type="text" class="submitDate" value="$!certificateinfo.CERTIFICATE_DATE" />
                                              </div>
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">GPS外部链接：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="GPS_URL" id="GPS_URL" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.GPS_URL" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">GPS账号：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="GPS_NUMBER" id="GPS_NUMBER" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.GPS_NUMBER" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">GPS密码：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input type="hidden"  name="RENTER_CODE" value="$!param.RENTER_CODE"/>
											<input type="hidden"  name="RENTER_NAME" value="$!param.RENTER_NAME"/>
											<input name="GPS_PWD" id="GPS_PWD" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.GPS_PWD" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">额定载质量：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="RATED_LOAD" id="RATED_LOAD" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.RATED_LOAD" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">准牵引总质量：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="TRACTION_MASS" id="TRACTION_MASS" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.TRACTION_MASS" />
										</td>
									</tr>
									<tr bgcolor="#fbfcfc">
										<td height="26" align="right">驾驶室准乘人数：</td>
										<td bgcolor="#fbfcfc" class="pa1">
											<input name="CAB_NUMBER" id="CAB_NUMBER" type="text" #if($!adminFlag!=1)#end class="txtkl" value="$!certificateinfo.CAB_NUMBER" />
										</td>
									</tr>
									--><!-- <tr>
    									<td height="26" align="right">合格证图片:</td>
    									<td class="pa1">
    										<a href="BuyCertificate!downLoadRecordFile.action?file_url=$!certificateinfo.FILE_URL&file_name=$!certificateinfo.FILE_NAME">$!certificateinfo.FILE_NAME</a>
    										<input type='file' name='uploadfile' class='uploadfile' id='upfile' size='10' value="!certificateinfo.FILE_URL" />
										</td>
									</tr> -->
									
									<tr>
										<td  colspan="2">
											<div  id="certificate"></div>
										</td>
									</tr>
									<!--<tr>
										<td class=" pa" >
											 <img src="../images/tj.gif" width="16" height="16" hspace="3">
											  <a href="javascript:void(0)" onClick="addFilesDoc()">添加合格证图片</a></td>		      
						      			<td><div id="file"></div></td>
									</tr>-->
									<tr>
										<td colspan="2">
											 #foreach($item in $upload)
												<div id="preview1" name="$!item.ID" class="Left" style="width:300px; margin-right:10px; height:260px;display:block">
													<span class="Left">
														<a href="../creditWind/CreditWind!downloadPictureFile.action?FILE_ID=$!item.ID">
															<img src="../creditWind/CreditWind!downloadPictureFile.action?FILE_ID=$!item.ID" style="width:208px; height:250px;display:block">
														</a>
													</span>
                                                    <span class="Left" style="margin-top:240px;padding-left:5px;"><a href="javascript:void(0)"  onclick="deleteFile($!item.ID)" >删除</a></span>
											    </div>
											 #end
										</td>
									</tr>
								</table>
								<div>	
										<table width="850" border="0" align="center">
											<tr>
												<td>
													<input  type="button" value="返回" style="border:0;"  class="Button" onclick="javascript:history.go(-1)"/>&nbsp;&nbsp;&nbsp;
													<input  type="button" value="保存" style="border:0;"  class="Button" onclick="updateCertificate(1);"/>&nbsp;&nbsp;&nbsp;
													<input type="button" value="重置" style="border:0;" class="Button" onclick="qingkong()" />
												</td>	
											</tr>
										</table>
										
								</div>	
									<!--<div class="but_02 Left"><span class="Left"></span>
									##<input type="button" value="保存未录全" style="border:0;"  class="Button" onclick="updateCertificate(0);"/>
									<input type="button" value="保存" style="border:0;"  class="Button" onclick="updateCertificate(1);"/>
									<input type="button" value="重置" style="border:0;" class="Button" onclick="qingkong()" />
								</div>-->	
                    	</form>
			       </div>
            </div>
            <iframe id= "iiiiframe"   name="iiiiframe" style="display: none;"> </iframe>
		##</center>
	</body>
</html>
	<script type="text/javascript">
		$(function(){
			$(":button,:reset,:submit").unbind("focus");
		});
		function qingkong(){

			$("#certificateUpdate").form("clear");
			   $("#carnum_type").val('');
			   checkPromiseBook();
			   for(var i = 1; i<5; i++){
				   $("#GPS"+i).val('');
			   }
		   }
	</script>
