#parse("content/importBase.vm")
<script type="text/javascript">
        $(function(){//不通过原因根据是否通过状态进行加载,4表示通过,5表示不通过
        	var isMarry = $('input[name="PROJECT_STATUS"]:checked').val();//判断是否通过
        	if(isMarry == 5) {
        		$('#reasonShow').show();
        	}else {
        		$('#reasonShow').hide();
        	}
        	$($('input[name="PROJECT_STATUS"]')).click(function(){
        		var marryObj = $(this);
        		if(marryObj.val()==5) {//不通过
        			$('#reasonShow').show();
        		}else {//通过
        			$('#reasonShow').hide();
        			var txts = $('#reasonShow input[type="text"],textarea');
        			txts.each(function(i,e){
        				$(this).val('');
        			});
        		}
        	});
        });
		//通过与不通过
        function changeResource(){
           	var elements = document.getElementsByName("PROJECT_STATUS");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].type == "radio" && elements[i].checked) {
                    if (i == 1) 
					{
						$("#reasonShow").addClass("hidden");
						$("#NOTTHROUGHREASON").focus();
					}
        			if (i == 0) {$("#reasonShow").removeClass("hidden");}
                }
            }
        }
		//如果审核不通过，则必须填写不通过的原因
		function checkNull(){
			var PROJECT_STATUS =  $('input[name="PROJECT_STATUS"]:checked').val();
			var NOTTHROUGHREASON = $("#NOTTHROUGHREASON").val();
			if(PROJECT_STATUS==5){
				if(NOTTHROUGHREASON==null||NOTTHROUGHREASON==""){
					alert("审核不通过的原因不能为空!");
					$("#NOTTHROUGHREASON").focus();
					return false;
				}
			}
			return true;
		}
</script>
<div class="">
<form id="mainForm" name="mainForm" action="RefundLoan!auditLoan.action" onSubmit="return checkNull();" method="post">
	<input type="hidden" name="PROJECT_ID" value="$!loanmap.PROJECT_ID">
	<input type="hidden" name="ID" value="$!loanmap.ID">
	<div class='gridbox' style="OVERFLOW-X: hidden;width:100%">
	<table class="table_01" cellpadding="0" cellspacing="0" width="98%">
		<tbody>
			<tr>
				<td>项目名称:</td>
				<td align="center">$!loanmap.PROJECT_NAME</td>
				<td>项目编号:</td>
				<td align="center">$!loanmap.PROJECT_CODE</td>
			</tr>   
			<tr>
				<td>项目状态:</td>
				<td align="center">#if($!loanmap.PROJECT_STATUS=='1')提交银行#elseif($!loanmap.PROJECT_STATUS=='2')银行通过#elseif($!loanmap.PROJECT_STATUS=='4')审核通过#elseif($!loanmap.PROJECT_STATUS=='5')审核不通过#elseif($!loanmap.PROJECT_STATUS=='6')确认放款#elseif($!loanmap.PROJECT_STATUS=='2')放款失败#end</td>
				<td>创建时间:</td>
				<td align="center">$!loanmap.CREATE_TIME</td>
			</tr> 
			#if($!loanmap.PROJECT_STATUS!='3')
				<tr>
					<td>贷款总额:</td>
					<td align="center">$!loanmap.PAY_TOTAL</td>
					<td>放款金额:</td>
					<td align="center">$!loanmap.LOAN_AMOUNT</td>
				</tr> 
				<tr>
					<td>支付类型:</td>
					<td align="center">
						#foreach($!item in $!repayMap)
							$!item.FLAG 
						#end</td>
						<td>项目创建人:</td>
						<td align="center">$!loanmap.CREATE_NAME</td>
				</tr> 
				<tr>
					<td>放款时间:</td>
					<td align="center" colspan="3">$!loanmap.LOAN_TIME</td>
				</tr>   
			#end
		</tbody>
	</table>	   
   <div style="height:20px;"></div>
   <table class="table_01">
        <tr>
			<td align="center">
				<a href="javascript:history.go(-1)" class="easyui-linkbutton" iconCls="icon-return">返回</a>
            </td>
		</tr>
   </table>
   </div>
 </form> 
</div>