#parse("content/importBase.vm")
<script type="text/javascript"  src="$_basePath/refundLoan/js/loanAdd.js"></script>
<body >
    <div class="">
		<table class="table_01" cellpadding="0" cellspacing="0" border="0">
			<tr>
              <td width="18%" class="text_right">项目名称：</td>
              <td width="15%">$!project.PROJECT_NAME</td>
              <td width="18%" class="text_right">项目编号 ：</td>
              <td width="15%">$!project.PROJECT_CODE</td>
              <td width="18%"class="text_right">&nbsp;</td>
              <td width="15%">&nbsp;</td>
          </tr>
          <tr>
			  <td class="text_right">融资比例：</td>
              <td>$!project.BAILOUTWAY_NSFR %</td>
			  <td class="text_right">手续费比例：</td>			  
              <td>$!project.POUNDAGE_SCALE %</td>
			   <td class="text_right">手续费：</td>			  
              <td>$!project.POUNDAGE_MONEY</td>             
          </tr>
          <tr>
              <td class="text_right">融资基数：</td>
              <td>
        		#if($!project.FINANCING_BASE==1)设备金额#end
        		#if($!project.FINANCING_BASE==2)剩余本金#end
        		#if($!project.FINANCING_BASE==3)剩余租金#end
        		#if($!project.FINANCING_BASE==4)融资额#end
        	  </td>
              <td class="text_right">保险费比例：</td>
              <td>$!project.PREMIUM_SCALE %</td>
			  <td class="text_right">保险费：</td>
              <td>$!project.PREMIUM_MONEY</td>
          </tr>
          <tr>
			  <td class="text_right">利率类型：</td>
              <td>
        		#if($!project.RATE_TYPE==1)上浮#end
        		#if($!project.RATE_TYPE==2)固定#end
        		#if($!project.RATE_TYPE==3)下浮#end
        	  </td>
              <td class="text_right">其他比例：</td>
              <td>$!project.REST_SCALE %</td>
			  <td class="text_right">其他费用：</td>
              <td>$!project.REST_MONEY</td>              
          </tr>
          <tr>
			  <td class="text_right">利率比例(%)：</td>
              <td>$!project.RATE_SCALE %</td>
			  <td class="text_right">保证金比例(%)：</td>
              <td>$!project.MARGIN_SCALE</td>
              <td class="text_right">保证金：</td>
              <td>$!project.MARGIN_MONEY</td>
		  </tr>
		</table>
        <div style="height:20px;"></div>
		<form id="mainForm" name="mainForm" action="../refundLoan/RefundLoan!doLoanPayment.action" method="post">
			##<input type="hidden" name="REPAY_TYPES" id="REPAY_TYPES" value=""/>	
			<input type="hidden" name="PROJECT_ID" id="PROJECT_ID" value="$!data.PROJECT_ID">
				
			<div style="OVERFLOW-X: hidden;width:100%">
                <table class="table_01" cellpadding="0" cellspacing="0" width="98%">
                    <tr>
						<td align="right">
							费用合计：
                        </td>
                        <td align="center">
							#set($cost_total_=0)
							#set($POUNDAGE_MONEY=$!project.POUNDAGE_MONEY)##手续费
							#set($PREMIUM_MONEY=$!project.PREMIUM_MONEY)##保险费
							#set($REST_MONEY=$!project.REST_MONEY)##其他费用
							#set($MARGIN_MONEY=$!project.MARGIN_MONEY)##保证金
							#set($cost_total=$cost_total_+$MARGIN_MONEY+$REST_MONEY+$PREMIUM_MONEY+$POUNDAGE_MONEY)##费用金额
							<input type="text" value="$cost_total" name="COST_TOTAL" id="COST_TOTAL" onkeyup="value=value.replace(/[^\d\.]/g,'')"/><span style="color:red;">*</span></td>
						</td>
						<td align="right">
							预计支付费用时间：
                        </td>
                        <td align="center">
							<input type="text" class="easyui-datebox" value="" name="EXPECT_TIME" id="EXPECT_TIME"/><span style="color:red;">*</span></td>
						</td>
						<td align="right">
							扣款账户：
                        </td>
                        <td align="center">
							<select name="DEDUCT_ACCOUNT" id="DEDUCT_ACCOUNT">
								<option value="">--请选择--</option>
								#foreach($item in $!bankAccount)
									<option value="$!item.ACCOUNT_NO">$!item.ACCOUNT_NO</option>
								#end
                            </select>
							##<input type="text" value="" name="DEDUCT_ACCOUNT" id="DEDUCT_ACCOUNT"/>
						</td>
					</tr>
				</table>
            </div>
			<table class="table_01"  cellpadding="0" cellspacing="0" width="98%">
				<tr>
					<td align="center">
						<a href="#" id="checkSave" class="easyui-linkbutton" iconCls="icon-save" onclick="checkImport()">保存</a>
						##<a href="#" class="easyui-linkbutton" iconCls="icon-return" onclick="goBack()">返回</a>
					</td>
				</tr>
		    </table>		
        </form>
	</div>
</body>