<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="refresh" content="600">
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/rentDraw/js/rentDrawDetail.js"></script>
	</head>
	<body>
		<input type="hidden" id="BATCH" value="$!param.BATCH" />
		<input type="hidden" id="OVERDUE" value="$!param.OVERDUE" />
		<div id="pageForm" style="padding:10px;height:auto">
			合同号：<input id="LEASE_CODE" style="width:150px" value="" />
			客户姓名：<input id="CUST_NAME" style="width:100px" value="" />
			期次：<input id="PERIOD_NUM" style="width:100px" value="" onKeyUp="this.value=this.value.replace(/\D/g,'')" />
			扣款方式：
			<select id="DEDUCT_TYPE">
				<option value="">请选择</option>
				<option value="系统划扣">系统划扣</option>
				<option value="人工划扣">人工划扣</option>
			</select>
			<a href="javascript:search();" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		</div>
		<table id="pageTable"></table>
	</body>
</html>