<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="refresh" content="600">
		#parse("content/importBase.vm")
		<script type="text/javascript" src="$_basePath/rentDraw/js/rentDrawLog.js"></script>
	</head>
	<body>
		<input type="hidden" id="LEASE_CODE" value="$!param.LEASE_CODE" />
		<input type="hidden" id="PERIOD_NUM" value="$!param.PERIOD_NUM" />
		<div id="pageForm" style="padding:10px;height:auto">
		</div>
		<table id="pageTable"></table>
	</body>
</html>