<div class="BOX">
	 <table class="table_01 table_02" cellspacing="0" cellpadding="0" border="0">
     <tr><td colspan="7" id="atd"> </td></tr>
	 <tbody class="EQ_BODY" >
	 <tr>
       <td ><span style="font-weight:bold">客户名称</span></td>
	   <td ><span style="font-weight:bold">项目编号</span></td>
	   <td ><span style="font-weight:bold">设备名称</span></td>
	   <td ><span style="font-weight:bold">还款计划编号</span></td>
	   <td ><span style="font-weight:bold">合同编号</span></td>
	   <td ><span style="font-weight:bold">出厂编号</span></td>
	   <td ><span style="font-weight:bold">GPS编号</span></td>
	   <td ><span style="font-weight:bold">GPS状态</span></td>
	   <td ><span style="font-weight:bold">期次</span></td>
	   <td ><span style="font-weight:bold">项目未收金额</span></td>
	   <td ><span style="font-weight:bold">项目实收金额</span></td>
	   <td ><span style="font-weight:bold">定位时间</span></td>
	   <td ><span style="font-weight:bold">地址</span></td>
	 </tr>
	 #foreach($item in $detail)
		<td >$!item.CUST_NAME</td>
	   <td >$!item.PRO_CODE</td>
	   <td >$!item.PRODUCT_NAME</td>
	   <td >$!item.PAYLIST_CODE</td>
	   <td >$!item.LEASE_CODE</td>
	   <td >$!item.WHOLE_ENGINE_CODE</td>
	   <td >$!item.GPS_CODE</td>
	   <td >$!item.GPS_STATUS</td>
	   <td >$!item.BEGINNING_NUM</td>
	   <td >$!item.BEGINNING_MONEY</td>
	   <td >$!item.BEGINNING_PAID</td>
	   <td >$!item.LOCATE_DATE</td>
	   <td >$!item.ADDRESS</td>
	 #end
     </tbody>
   </table>
   <table class="table_01 table_02" cellspacing="0" cellpadding="0" border="0" >
	    <tr>
	    <td colspan="7"><span style="font-weight:bold;color:red;">逾期情况</span></td>
	 </tr>
	 <tbody class="EQ_BODY"  >
	  <tr>
       <td ><span style="font-weight:bold">逾期日期</span></td>
	   <td ><span style="font-weight:bold">逾期天数</span></td>
	   <td ><span style="font-weight:bold">逾期金额</span></td>
	   <td ><span style="font-weight:bold">罚息金额</span></td>
	   <td ><span style="font-weight:bold">应收金额</span></td>
	 </tr>
	 #set($a=0)
	 #foreach($item in $overdue)
		#set($a=1)
        <tr>
		<td >$!item.DUN_DATE</td>
	   <td >$!item.DUNDAY</td>
	   <td >$FORMAT.currency($!item.CURR_OVERDUN_PRICE)</td>
	   <td >$FORMAT.currency($!item.SUM_FINE)</td>
	   <td >$FORMAT.currency($!item.CURR_SUM_MONEY)</td>
		</tr>
	 #end
	 #if($a==0)
		<td ></td>
	   <td >0</td>
	   <td >0</td>
	   <td >0</td>
	   <td >0</td>
	   <td >0</td>
	    <td ></td>
	 #end
	  </tbody>	
   </table>
    <table class="table_01 table_02" cellspacing="0" cellpadding="0" border="0" >
		 <tr><td colspan="8"><span style="font-weight:bold;">租赁物信息</span> </td></tr>
	 <tbody class="EQ_BODY" >
	 <tr>设备名称
       <td ><span style="font-weight:bold">设备名称</span></td>
	   <td ><span style="font-weight:bold">型号</span></td>
	   <td ><span style="font-weight:bold">系别</span></td>
	   <td ><span style="font-weight:bold">车架号</span></td>
	    <td ><span style="font-weight:bold">厂商</span></td>
	   <td ><span style="font-weight:bold">供应商</span></td>
	   
	 </tr>
	 #foreach($item in $eqdetail)
		<td >$!item.PRODUCT_NAME</td>
		<td >$!item.SPEC_NAME</td>
		<td >$!item.CATENA_NAME</td>
		<td >$!item.CAR_SYMBOL</td>
		<td >$!item.COMPANY_NAME</td>
	   <td >$!item.SUPPLIERS_NAME</td>
	   
	 #end
     </tbody>
    </table>	
  
<script >
    jQuery(".EQ_BODY tr td").css('border','0');
    jQuery(".table_02").css('border','solid thin #DBDBDC');
	
    var flag=jQuery("#open_flag").val();
	  
	  if(flag == '1'){
	    jQuery("#atd").html("<a href='#' onclick='javascript:window.close();'>关闭全屏</a> ");
	  }else{
	    jQuery("#atd").html("<a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-search' onclick='toViewCust(open_flag);'>全屏</a>");
	  }
	  function toViewCust(open_flag) {
		top.addTab("查看位置", _basePath + "/GPS/GPSds/GPSds!quanping.action?open_flag=1");

}
</script>
</div>