<script type="text/javascript">
	$(function(){
		$(".linkbutton").linkbutton();
		$(".autoPanel").panel();
		$(".datebox").datebox();
		$(".datagrid").datagrid();
		$(".dialog").dialog();
	});
</script>
<script >
	$(document).ready(function(){
	    not_profitfuzhai('H34','C100','C37','D37');
    });
</script>
<body >
	 <form action="$_basePath/base/sp/FinancialStatistics!doInsertProfitDistri.action" id="formView" name="formView" method="post" target="myiframe" style="display:none">	
    	<input type="hidden" name="ChangeViewData" id="ChangeViewData">		
    	<input name="PEOPLE_ID" type="hidden" value="$!param.CUST_ID" id="PEOPLE_ID">
			<input type="hidden"  name="MANAGEID" value="$!param.MANAGEID">
    </form>
<form id="validForm">	
	<table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-right:0;width:100%;text-align:center">
    	<tr align="center">
            <td style="padding-left:60px;">单位名称：</td>
    		<td >
    			<input name="CLIENT_ID" type="hidden" value="$!param.CUST_ID" class="notNum">	
    			<input type="text" name="UNIT_NAME" value="" class="easyui-validatebox notNum"/></td>
            </td>
            <td>查验人员:</td>
    		<td><input type="text" name="CHECK_PEOPLE" value="" class="easyui-validatebox notNum"/></td>
            <td>   日期：</td>
    		<td><input type="text" name="CHECK_DATE" id="CHECK_DATE" date="" class="datebox" value="$!mapHead.CHECK_DATE"/></td>
            <td> 索引号：</td>
    		<td><input type="text" name="INDEX_CODE" value="" class="easyui-validatebox notNum"/></td>
    	</tr>	
    	<tr>
            <td>所属时期或截至时间：</td>
    		<td><input type="text" name="BELONG_DATE" value="" date="" class="datebox"/></td>
            <td>复核人员：</td>
    		<td><input type="text" name="REVIEW_PEOPLE" value="" class="easyui-validatebox notNum"/></td>
            <td>日期：</td>
    		<td><input type="text" class="input_03 datebox" date=""  value="" name="REVIEW_DATE" id="REVIEW_DATE"/></td>
    		<td colspan="2">金额单位：人民币元</td>
    	</tr>
    </table>
    <table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-center:0;width:100%;text-align:center">
				<tr name="IN_DATE">
					<td style="text-align:center" bgcolor="#fbfcfc" style="border-bottom:0"><strong>项目名称 </strong></td>
					<td name="td_data0" bgcolor="#fbfcfc" style="border-left:0"><input required="required" class="input_03 datebox" name="IN_DATE"  date="" value="$!param.IN_DATE" /><font color="red">*</font></td>
					<td name="td_data1" bgcolor="#fbfcfc" style="border-left:0"><input required="required" class="input_03 datebox" name="IN_DATE" date="" value="$!param.IN_DATE1" /><font color="red">*</font></td>
					<td name="td_data2" bgcolor="#fbfcfc" style="border-left:0"><input required="required" class="input_03 datebox" name="IN_DATE"  date="" value="$!param.IN_DATE2"/><font color="red">*</font></td>
				</tr>
				
				<tr name="ISAUDIT">
                    <td style="text-align:center" bgcolor="#fbfcfc" style="border-bottom:0"><strong>是否经过审计</strong></td>
                    <td name="td_data0" bgcolor="#fbfcfc" style="border-left:0"><input class="input_03" date="" type="radio" name="ISAUDIT0" value="0"/>是<input class="input_03" date=""   type="radio" name="isAudit0" value="1"/>否</td>
                    <td name="td_data1" bgcolor="#fbfcfc" style="border-left:0"><input class="input_03" date="" type="radio" name="ISAUDIT1"   value="0"/>是<input class="input_03" date="" type="radio" name="ISAUDIT1"  value="1"/>否</td>
                    <td name="td_data2" bgcolor="#fbfcfc" style="border-left:0"><input class="input_03" date="" type="radio" name="ISAUDIT2"   value="0"/>是<input class="input_03" date="" type="radio" name="ISAUDIT2"   value="1"/>否</td>
            	</tr>
				
				<tr name="MAIN_INCOME">
                    <td align="center"><strong>一、主营业务收入</strong></td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_INCOME1" id="C4" onblur="addSubfun('C',4,4,'C',5,6,'C7'),CoordinateAccAdd('C',4,4,'F7')"  /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_INCOME2" id="D4" onblur="addSubfun('D',4,4,'D',5,6,'D7'),CoordinateAccAdd('D',4,4,'G7')"/></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_INCOME3" id="H4" onblur="addSubfun('H',4,4,'H',5,6,'H7'),CoordinateAccAdd('H',4,4,'I7')" /></td>
				</tr>
				
				<tr name="MAIN_COST">
					<td align="center">减:主营业务成本</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_COST1" id="C5" onblur="addSubfun('C',4,4,'C',5,6,'C7')"/></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_COST2" id="D5" onblur="addSubfun('D',4,4,'D',5,6,'D7')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_COST3" id="H5" onblur="addSubfun('H',4,4,'H',5,6,'H7')" /></td>
				</tr>
				
				<tr name="MAIN_TAXES">
					<td align="center">主营业务税金及附加</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_TAXES1" id="C6" onblur="addSubfun('C',4,4,'C',5,6,'C7')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_TAXES2" id="D6" onblur="addSubfun('D',4,4,'D',5,6,'D7')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_TAXES3" id="H6" onblur="addSubfun('H',4,4,'H',5,6,'H7')"/></td>
				</tr>
				
				<tr name="MAIN_PROFIT">
                    <td align="center"><strong>二、主营业务利润</strong></td>
					<td name="td_data0" align="center" title="(前年)主营业务收入-主营业务成本-主营业务税金及附加"><input type="text" class="" name="MAIN_PROFIT1" id="C7" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('C',7,8,'C',9,11,'C12')" /></td>
					<td name="td_data1" align="center" title="(上年)主营业务收入-主营业务成本-主营业务税金及附加"><input type="text" class="" name="MAIN_PROFIT2" id="D7" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('D',7,8,'D',9,11,'D12')"/></td>
					<td name="td_data2" align="center" title="(本年)主营业务收入-主营业务成本-主营业务税金及附加"><input type="text" class="" name="MAIN_PROFIT3" id="H7" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('H',7,8,'H',9,11,'H12')" /></td>
				</tr>
				
				<tr name="MAIN_OTHER_PROFIT">
					<td align="center">加:其他业务利润</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_OTHER_PROFIT1" id="C8" onblur="addSubfun('C',7,8,'C',9,11,'C12')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_OTHER_PROFIT2" id="D8" onblur="addSubfun('D',7,8,'D',9,11,'D12')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_OTHER_PROFIT3" id="H8" onblur="addSubfun('H',7,8,'H',9,11,'H12')"/></td>
				</tr>
				
				<tr name="MAIN_OPER_COST">
					<td align="center">减:营业费用</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_OPER_COST1" id="C9" onblur="addSubfun('C',7,8,'C',9,11,'C12')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_OPER_COST2" id="D9" onblur="addSubfun('D',7,8,'D',9,11,'D12')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_OPER_COST3" id="H9" onblur="addSubfun('H',7,8,'H',9,11,'H12')" /></td>
				</tr>
				
				<tr name="MAIN_MAN_FEE">
					<td align="center">管理费用</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_MAN_FEE1" id="C10" onblur="addSubfun('C',7,8,'C',9,11,'C12')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_MAN_FEE2" id="D10" onblur="addSubfun('D',7,8,'D',9,11,'D12')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_MAN_FEE3" id="H10" onblur="addSubfun('H',7,8,'H',9,11,'H12')" /></td>
				</tr>
				
				<tr name="MAIN_FINNA_FEE">
					<td align="center">财务费用</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_FINNA_FEE1" id="C11" onblur="addSubfun('C',7,8,'C',9,11,'C12')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_FINNA_FEE2" id="D11" onblur="addSubfun('D',7,8,'D',9,11,'D12')"/></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="MAIN_FINNA_FEE3" id="H11" onblur="addSubfun('H',7,8,'H',9,11,'H12')"/></td>
				</tr>
				
				<tr name="OPER_PROFIT"> 
                    <td align="center"><strong>三、营业利润</strong></td>
					<td name="td_data0" align="center" title="(前年)主营业务利润+其他业务利润-营业费用-管理费用-财务费用"><input type="text" class="" name="OPER_PROFIT1" id="C12" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('C',12,15,'C',16,16,'C17')" /></td>
					<td name="td_data1" align="center" title="(上年)主营业务利润+其他业务利润-营业费用-管理费用-财务费用"><input type="text" class="" name="OPER_PROFIT2" id="D12" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('D',12,15,'D',16,16,'D17')" /></td>
					<td name="td_data2" align="center" title="(本年)主营业务利润+其他业务利润-营业费用-管理费用-财务费用"><input type="text" class="" name="OPER_PROFIT3" id="H12" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('H',12,15,'H',16,16,'H17')" /></td>
				</tr>
				
				<tr name="INVESTMENT_PROFIT">
					<td align="center">加:投资收益</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INVESTMENT_PROFIT1" id="C13" onblur="addSubfun('C',12,15,'C',16,16,'C17')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INVESTMENT_PROFIT2" id="D13" onblur="addSubfun('D',12,15,'D',16,16,'D17')"/></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INVESTMENT_PROFIT3" id="H13" onblur="addSubfun('H',12,15,'H',16,16,'H17')" /></td>
				</tr>
				
				<tr name="SUBSIDY_INCOME">
					<td align="center">补贴收入</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="SUBSIDY_INCOME1" id="C14" onblur="addSubfun('C',12,15,'C',16,16,'C17')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="SUBSIDY_INCOME2" id="D14" onblur="addSubfun('D',12,15,'D',16,16,'D17')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="SUBSIDY_INCOME3" id="H14" onblur="addSubfun('H',12,15,'H',16,16,'H17')" /></td>
				</tr>
				
				<tr name="OPER_INCOME">
					<td align="center">营业外收入</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OPER_INCOME1" id="C15" onblur="addSubfun('C',12,15,'C',16,16,'C17')"/></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OPER_INCOME2" id="D15" onblur="addSubfun('D',12,15,'D',16,16,'D17')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OPER_INCOME3" id="H15" onblur="addSubfun('H',12,15,'H',16,16,'H17')"/></td>
				</tr>
				
				<tr name="OPER_EXPENDITURE">
					<td align="center">减:营业外支出</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OPER_EXPENDITURE1" id="C16" onblur="addSubfun('C',12,15,'C',16,16,'C17')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OPER_EXPENDITURE2" id="D16" onblur="addSubfun('D',12,15,'D',16,16,'D17')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OPER_EXPENDITURE3" id="H16" onblur="addSubfun('H',12,15,'H',16,16,'H17')"/></td>
				</tr>
				
				<tr name="PROFIT_TOTAL">
                    <td align="center"><strong>四、利润总额</strong></td>
					<td name="td_data0" align="center" title="(前年)营业利润+投资收益+补贴收入+营业外收入-营业外支出"><input type="text" class="easyui-validatebox" name="PROFIT_TOTAL1" id="C17" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C17','C18','C19')" liandong1="INCOME_TAX_RATE1()" /></td>
					<td name="td_data1" align="center" title="(上年)营业利润+投资收益+补贴收入+营业外收入-营业外支出"><input type="text" class="easyui-validatebox" name="PROFIT_TOTAL2" id="D17" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('D17','D18','D19')" liandong1="INCOME_TAX_RATE('D17','D18','C44','C45','D45')"/></td>
					<td name="td_data2" align="center" title="(本年)营业利润+投资收益+补贴收入+营业外收入-营业外支出"><input type="text" class="easyui-validatebox" name="PROFIT_TOTAL3" id="H17" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H17','H18','H19')" liandong1="INCOME_TAX_RATE('H17','H18','C45','C46','D46')" /></td>
				</tr>
				
				<tr name="INCOME_TAX">
					<td align="center">减:所得税</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INCOME_TAX1" id="C18" onblur="CoordinateAccSub('C17','C18','C19'),INCOME_TAX_RATE1()" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INCOME_TAX2" id="D18" onblur="CoordinateAccSub('D17','D18','D19'),INCOME_TAX_RATE('D17','D18','C44','C45','D45')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INCOME_TAX3" id="H18" onblur="CoordinateAccSub('H17','H18','H19'),INCOME_TAX_RATE('H17','H18','C45','C46','D46')" /></td>
				</tr>
				
				<tr name="PROFIT_NET">
                    <td align="center"><strong>五、净利润</strong></td>
					<td name="td_data0" align="center" title="(前年)利润总额-所得税"><input type="text" class="easyui-validatebox" name="PROFIT_NET1" id="C19" readonly="readonly" style="background-color:#CCC" liandong1="CoordinateAccAdd('C',19,21,'C22')" /></td>##liandong2="SURPLUS_RESERVE_RATE('C19','C23','C38','D38')" ##liandong="SURPLUS_RESERVE_RATEAll('C19','C23','C38','D38','C24','C41','D41')" 
					<td name="td_data1" align="center" title="(上年)利润总额-所得税"><input type="text" class="easyui-validatebox" name="PROFIT_NET2" id="D19" readonly="readonly" style="background-color:#CCC" liandong1="CoordinateAccAdd('D',19,21,'D22')"/></td>##liandong2="SURPLUS_RESERVE_RATE('D19','D23','C39','D39')" ##liandong="SURPLUS_RESERVE_RATEAll('D19','D23','C39','D39','D24','C42','D42')"
					<td name="td_data2" align="center" title="(本年)利润总额-所得税"><input type="text" class="easyui-validatebox" name="PROFIT_NET3" id="H19" readonly="readonly" style="background-color:#CCC" liandong1="CoordinateAccAdd('H',19,21,'H22')" /></td>##liandong2="SURPLUS_RESERVE_RATE('H19','H23','C40','D40')" ##liandong="SURPLUS_RESERVE_RATEAll('H19','H23','C40','D40','H24','C43','D43')"
				</tr> 
				
				<tr name="NOT_ASSIGNED_PROFIT">
					<td align="center">加:年初未分配利润</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="NOT_ASSIGNED_PROFIT1" id="C20" onblur="CoordinateAccAdd('C',19,21,'C22')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="NOT_ASSIGNED_PROFIT2" id="D20" onblur="CoordinateAccAdd('D',19,21,'D22'),notProfitRate('D20','C34','C35','D35')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="NOT_ASSIGNED_PROFIT3" id="H20" onblur="CoordinateAccAdd('H',19,21,'H22'),notProfitRate('H20','D34','C36','D36')" /></td>
				</tr>
				
				<tr name="OTHER_TRANSFER">
					<td align="center">其他转入</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OTHER_TRANSFER1" id="C21" onblur="CoordinateAccAdd('C',19,21,'C22')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OTHER_TRANSFER2" id="D21" onblur="CoordinateAccAdd('D',19,21,'D22')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="OTHER_TRANSFER3" id="H21" onblur="CoordinateAccAdd('H',19,21,'H22')" /></td>
				</tr>
				
				<tr name="DISTRIBUTION_PROFIT">
                    <td align="center"><strong>六、可供分配的利润</strong></td>
					<td name="td_data0" align="center" title="(前年)净利润+年初未分配利润+其他转入"><input type="text" class="easyui-validatebox" name="DISTRIBUTION_PROFIT1" id="C22" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('C',22,22,'C',23,28,'C29')"/></td>
					<td name="td_data1" align="center" title="(上年)净利润+年初未分配利润+其他转入"><input type="text" class="easyui-validatebox" name="DISTRIBUTION_PROFIT2" id="D22" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('D',22,22,'D',23,28,'D29')" /></td>
					<td name="td_data2" align="center" title="(本年)净利润+年初未分配利润+其他转入"><input type="text" class="easyui-validatebox" name="DISTRIBUTION_PROFIT3" id="H22" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('H',22,22,'H',23,28,'H29')" /></td>
				</tr>
				
				<tr name="STATU_SURPLUS_RESERVE">
					<td align="center">减:提取法定盈余公积</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="STATU_SURPLUS_RESERVE1" id="Z23" onblur="addSubfun('C',22,22,'Z',23,30,'C29')" /></td>##,SURPLUS_RESERVE_RATE('C19','C23','C38','D38')
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="STATU_SURPLUS_RESERVE2" id="Y23" onblur="addSubfun('D',22,22,'Y',23,30,'D29')" /></td>##,SURPLUS_RESERVE_RATE('D19','D23','C39','D39')
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="STATU_SURPLUS_RESERVE3" id="X23" onblur="addSubfun('H',22,22,'X',23,30,'H29')" /></td>##,SURPLUS_RESERVE_RATE('H19','H23','C40','D40')
				</tr>
				
				<tr name="STATU_SURPLUS_FUND">
					<td align="center">提取法定公益金</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="STATU_SURPLUS_FUND1" id="Z24" onblur="addSubfun('C',22,22,'Z',23,30,'C29'),WELFARE_FUND_RATE('C19','C24','C41','D41')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="STATU_SURPLUS_FUND2" id="Y24" onblur="addSubfun('D',22,22,'Y',23,30,'D29'),WELFARE_FUND_RATE('D19','D24','C42','D42')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="STATU_SURPLUS_FUND3" id="X24" onblur="addSubfun('H',22,22,'X',23,30,'H29'),WELFARE_FUND_RATE('H19','H24','C43','D43')" /></td>
				</tr>
				
				<tr name="BONUS_WELFARE_FUND">
					<td align="center">提取职工奖励及福利基金</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="BONUS_WELFARE_FUND1" id="Z25" onblur="addSubfun('C',22,22,'Z',23,30,'C29')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="BONUS_WELFARE_FUND2" id="Y25" onblur="addSubfun('D',22,22,'Y',23,30,'D29')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="BONUS_WELFARE_FUND3" id="X25" onblur="addSubfun('H',22,22,'X',23,30,'H29')"/></td>
				</tr>
				
				<tr name="RESERVE_FUND">
					<td align="center">提取储备基金</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="RESERVE_FUND1" id="Z26" onblur="addSubfun('C',22,22,'Z',23,30,'C29')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="RESERVE_FUND2" id="Y26" onblur="addSubfun('D',22,22,'Y',23,30,'D29')"/></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="RESERVE_FUND3" id="X26" onblur="addSubfun('H',22,22,'X',23,30,'H29')"/></td>
				</tr>
				
				<tr name="DEVELOPMENT_FUND">
					<td align="center">提取企业发展基金</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="DEVELOPMENT_FUND1" id="Z27" onblur="addSubfun('C',22,22,'Z',23,30,'C29')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="DEVELOPMENT_FUND2" id="Y27" onblur="addSubfun('D',22,22,'Y',23,30,'D29')"/></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="DEVELOPMENT_FUND3" id="X27" onblur="addSubfun('H',22,22,'X',23,30,'H29')" /></td>
				</tr>
				
				<tr name="PROFIT_RETURN_INVESTMENT">
					<td align="center">利润归还投资</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PROFIT_RETURN_INVESTMENT1" id="Z28" onblur="addSubfun('C',22,22,'Z',23,30,'C29')"/></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PROFIT_RETURN_INVESTMENT2" id="Y28" onblur="addSubfun('D',22,22,'Y',23,30,'D29')"/></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PROFIT_RETURN_INVESTMENT3" id="X28" onblur="addSubfun('H',22,22,'X',23,30,'H29')" /></td>
				</tr>
				<tr name="KGFPLR_A">
					<td align="center">补充流动资本</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="KGFPLR_A1" id="Z29" onblur="addSubfun('C',22,22,'Z',23,30,'C29')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="KGFPLR_A2" id="Y29" onblur="addSubfun('D',22,22,'Y',23,30,'D29')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="KGFPLR_A3" id="X29" onblur="addSubfun('H',22,22,'X',23,30,'H29')"/></td>
				</tr>
				<tr name="KGFPLR_B">
					<td align="center">单项留用利润</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="KGFPLR_B1" id="Z30" onblur="addSubfun('C',22,22,'Z',23,30,'C29')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="KGFPLR_B2" id="Y30" onblur="addSubfun('D',22,22,'Y',23,30,'D29')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="KGFPLR_B3" id="X30" onblur="addSubfun('H',22,22,'X',23,30,'H29')" /></td>
				</tr>
				
				<tr name="INVESTOR_PROFIT">
                    <td align="center"><strong>七、可供投资者分配的利润</strong></td>
					<td name="td_data0" align="center" title="(前年)可供分配的利润-(提取法定盈余公积+提取法定公益金+提取职工奖励及福利基金+提取储备基金+提取企业发展基金+利润归还投资)"><input type="text" class="easyui-validatebox" name="INVESTOR_PROFIT1" id="C29" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('C',29,29,'C',30,33,'C34')" /></td>
					<td name="td_data1" align="center" title="(上年)可供分配的利润-(提取法定盈余公积+提取法定公益金+提取职工奖励及福利基金+提取储备基金+提取企业发展基金+利润归还投资)"><input type="text" class="easyui-validatebox" name="INVESTOR_PROFIT2" id="D29" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('D',29,29,'D',30,33,'D34')" /></td>
					<td name="td_data2" align="center" title="(本年)可供分配的利润-(提取法定盈余公积+提取法定公益金+提取职工奖励及福利基金+提取储备基金+提取企业发展基金+利润归还投资)"><input type="text" class="easyui-validatebox" name="INVESTOR_PROFIT3" id="H29" readonly="readonly" style="background-color:#CCC" liandong="addSubfun('H',29,29,'H',30,33,'H34')"/></td>
				</tr>
				
				<tr name="PAININ_DIVIDEND">
					<td align="center">减:应付优先股股利</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PAININ_DIVIDEND1" id="C30" onblur="addSubfun('C',29,29,'C',30,33,'C34')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PAININ_DIVIDEND2" id="D30" onblur="addSubfun('D',29,29,'D',30,33,'D34')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PAININ_DIVIDEND3" id="H30" onblur="addSubfun('H',29,29,'H',30,33,'H34')" /></td>
				</tr>
				
				<tr name="EXTRACTION_SURPLUS_RESERVE">
					<td align="center">提取任意盈余公积</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="EXTRACTION_SURPLUS_RESERVE1" id="C31" onblur="addSubfun('C',29,29,'C',30,33,'C34')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="EXTRACTION_SURPLUS_RESERVE2" id="D31" onblur="addSubfun('D',29,29,'D',30,33,'D34')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="EXTRACTION_SURPLUS_RESERVE3" id="H31" onblur="addSubfun('H',29,29,'H',30,33,'H34')" /></td>
				</tr>
				
				<tr name="PAIDIN_ORDINARY_FUND"> 
					<td align="center">应付普通股股利</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PAIDIN_ORDINARY_FUND1" id="C32" onblur="addSubfun('C',29,29,'C',30,33,'C34')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PAIDIN_ORDINARY_FUND2" id="D32" onblur="addSubfun('D',29,29,'D',30,33,'D34')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="PAIDIN_ORDINARY_FUND3" id="H32" onblur="addSubfun('H',29,29,'H',30,33,'H34')" /></td>
				</tr>
				
				<tr name="CAPITAL_FUND">
					<td align="center">转作资本的普通股股利</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="CAPITAL_FUND1" id="C33" onblur="addSubfun('C',29,29,'C',30,33,'C34')" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="CAPITAL_FUND2" id="D33" onblur="addSubfun('D',29,29,'D',30,33,'D34')" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="CAPITAL_FUND3" id="H33" onblur="addSubfun('H',29,29,'H',30,33,'H34')" /></td>
				</tr>
				
				<tr name="UNDISTR_PROFIT">
                    <td align="center"><strong>八、未分配利润</strong></td>
					<td name="td_data0" align="center" title="(前年)可供投资者分配的利润-(应付优先股股利+提取任意盈余公积+应付普通股股利+转作资本的普通股股利)"><input type="text" class="easyui-validatebox" name="UNDISTR_PROFIT1" id="C34" readonly="readonly" style="background-color:#CCC" liandong="notProfitRate('D20','C34','C35','D35')" /></td>
					<td name="td_data1" align="center" title="(上年)可供投资者分配的利润-(应付优先股股利+提取任意盈余公积+应付普通股股利+转作资本的普通股股利)"><input type="text" class="easyui-validatebox" name="UNDISTR_PROFIT2" id="D34" readonly="readonly" style="background-color:#CCC" liandong="notProfitRate('H20','D34','C36','D36')" /></td>
					<td name="td_data2" align="center" title="(本年)可供投资者分配的利润-(应付优先股股利+提取任意盈余公积+应付普通股股利+转作资本的普通股股利)"><input type="text" class="easyui-validatebox" name="UNDISTR_PROFIT3" id="H34" readonly="readonly" style="background-color:#CCC" liandong="not_profitfuzhai('H34','C100','C37','D37')"/></td>
				</tr>
				
				<tr>
					<td  bgcolor="#fbfcfc" style="border-left:0"><strong>附注资料:</strong></td>
					<td  bgcolor="#fbfcfc" style="border-left:0">&nbsp;</td>
					<td  bgcolor="#fbfcfc" style="border-left:0">&nbsp;</td>
					<td  bgcolor="#fbfcfc" style="border-left:0">&nbsp;</td>
				</tr>
				
				<tr name="INTEREST_EXPENSES">
					<td align="center">1、财务费用中利息费用:</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INTEREST_EXPENSES1" id="F4" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INTEREST_EXPENSES2" id="G4" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="INTEREST_EXPENSES3" id="I4" /></td>
				</tr>
				
				<tr name="LONG_TERM_DEBT_BURDEN">
					<td align="center">其中:长期负债负担部分:</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="LONG_TERM_DEBT_BURDEN1" id="F5" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="LONG_TERM_DEBT_BURDEN2" id="G5" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="LONG_TERM_DEBT_BURDEN3" id="I5" /></td>
				</tr>
				
				<tr name="CURRENT_DEBT_BURDEN"> 
					<td align="center">流动负债负担部分:</td>
					<td name="td_data0" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="CURRENT_DEBT_BURDEN1" id="F6" /></td>
					<td name="td_data1" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="CURRENT_DEBT_BURDEN2" id="G6" /></td>
					<td name="td_data2" align="center"><input type="text" class="easyui-numberbox"  precision="2" name="CURRENT_DEBT_BURDEN3" id="I6" /></td>
				</tr>
				
				<tr name="NET_SALES">
					<td align="center">2、赊销收入净额:</td>
					<td name="td_data0" align="center" title='(前年)主营业务收入'><input type="text" class="easyui-validatebox" name="NET_SALES1" id="F7" readonly="readonly" style="background-color:#CCC"/></td>
					<td name="td_data1" align="center" title='(上年)主营业务收入'><input type="text" class="easyui-validatebox" name="NET_SALES2" id="G7" readonly="readonly" style="background-color:#CCC" /></td>
					<td name="td_data2" align="center" title='(本年)主营业务收入'><input type="text" class="easyui-validatebox" name="NET_SALES3" id="I7" readonly="readonly" style="background-color:#CCC"/></td>
				</tr>
				
				<tr name="UNDIST_PROFIT_DIFF">
					<td align="center">1、前年未分配利润勾稽差异：</td>
					<td name="td_data0" align="center" title="(上年)年初未分配利润-(前年)未分配利润"><input type="text" class="easyui-validatebox" name="UNDIST_PROFIT_DIFF1" id="C35" readonly="readonly" style="background-color:#CCC" /></td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr  name="UNDIST_PROFIT_DIFF">
					<td align="center">2、上年未分配利润勾稽差异：</td>
					<td name="td_data1" align="center" title="(本年)年初未分配利润-(上年)未分配利润"><input type="text" class="easyui-validatebox" name="UNDIST_PROFIT_DIFF2" id="C36" readonly="readonly" style="background-color:#CCC" /></td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr  name="UNDIST_PROFIT_DIFF">
					<td align="center">3、本年未分配利润勾稽差异：</td>
					<td name="td_data2" align="center" title="(本年)未分配利润-资产负债表!(本年)未分配利润"><input type="text" class="easyui-validatebox" name="UNDIST_PROFIT_DIFF3" id="C37" readonly="readonly" style="background-color:#CCC" liandong="not_profitfuzhai('H34','C100','C37','D37')" /></td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr name="SURPLUS_RESERVE_RATE">
					<td align="center">4、前年法定盈余公积提取比例：</td>
					<td name="td_data0" align="center" title='IF((前年)净利润=0,"",(前年)提取法定盈余公积/(前年)净利润)'><input type="text" class="easyui-validatebox" name="SURPLUS_RESERVE_RATE1" id="C38" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr  name="SURPLUS_RESERVE_RATE"> 
					<td align="center">5、上年法定盈余公积提取比例：</td>
					<td name="td_data1" align="center" title='IF((上年)净利润=0,"",(上年)提取法定盈余公积/(上年)净利润)'><input type="text" class="easyui-validatebox" name="SURPLUS_RESERVE_RATE2" id="C39" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr  name="SURPLUS_RESERVE_RATE">
					<td align="center">6、本年法定盈余公积提取比例：</td>
					<td name="td_data2" align="center" title='IF((本年)净利润=0,"",(本年)提取法定盈余公积/(本年)净利润)'><input type="text" class="easyui-validatebox" name="SURPLUS_RESERVE_RATE3" id="C40" readonly="readonly" style="background-color:#CCC"/>%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr name="WELFARE_FUND_RATE">
					<td align="center">7、前年法定公益金提取比例：</td>
					<td name="td_data0" align="center" title='IF((前年)净利润=0,"",(前年)提取法定公益金/(前年)净利润)'><input type="text" class="easyui-validatebox" name="WELFARE_FUND_RATE1" id="C41" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr name="WELFARE_FUND_RATE">
					<td align="center">8、上年法定公益金提取比例：</td>
					<td name="td_data1" lign="center" title='IF((上年)净利润=0,"",(上年)提取法定公益金/(上年)净利润)'><input type="text" class="easyui-validatebox" name="WELFARE_FUND_RATE2" id="C42" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr name="WELFARE_FUND_RATE"> 
					<td align="center">9、本年法定公益金提取比例：</td>
					<td name="td_data2" align="center" title='IF((本年)净利润=0,"",(本年)提取法定公益金/(本年)净利润)'><input type="text" class="easyui-validatebox" name="WELFARE_FUND_RATE3" id="C43" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
					
				</tr>
				
				<tr name="INCOME_TAX_RATE">
					<td align="center">10、前年所得税负：</td>
					<td name="td_data0" align="center" title='IF((前年)利润总额=0,"",(前年)所得税/(前年)利润总额)'><input type="text" class="easyui-validatebox" name="INCOME_TAX_RATE1" id="C44" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr name="INCOME_TAX_RATE">
					<td align="center">11、上年所得税负：</td>
					<td name="td_data1" align="center" title='IF((上年)利润总额=0,"",(上年)所得税/(上年)利润总额)'><input type="text" class="easyui-validatebox" name="INCOME_TAX_RATE2" id="C45" readonly="readonly" style="background-color:#CCC" onchange="INCOME_TAX_RATE('H17','H18','D45','C46','D46')" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
				
				<tr name="INCOME_TAX_RATE">
					<td align="center">12、本年所得税负：</td>
					<td name="td_data2" align="center" title='IF((本年)利润总额=0,"",(本年)所得税/(本年)利润总额)'><input type="text" class="easyui-validatebox" name="INCOME_TAX_RATE3" id="C46" readonly="readonly" style="background-color:#CCC" />%</td>
					<td align="center">&nbsp;</td>
					<td align="center">&nbsp;</td>
				</tr>
			 </table>
</form>			 
             <center>
				<a href="#" class="linkbutton" iconCls="icon-save" id="subButton" onclick="saveFinnce_ProfitDistriBution()">保存</a>
				##<input type="button" id="subButton" onclick="saveFinnce_ProfitDistriBution()"  value="保  存" class="Button" />
             </center>
	
</body>