<script type="text/javascript">
    $(function(){
    $(".linkbutton").linkbutton();
    $(".autoPanel").panel();
    $(".datebox").datebox();
    $(".datagrid").datagrid();
    $(".dialog").dialog();
    });
</script>
<script >
    $(document).ready(function(){
    cashJs('E6','LC19','B44','C44');
    cashJs('F6','LD19','B45','C45');
    cashJs('I6','LH19','B46','C46');
    cashJs('E29','ZB4','B47','C47');
    cashJs('F29','ZC4','B48','C48');
    cashJs('I29','ZH4','B49','C49');
    cashJs('I30','ZC4','B50','C50');
    cashJs1('H37','ZC4','ZH4','B51','C51');
    //统计
    tongji1('I7','ZH13','G7');
    tongji2('I8','ZC25','ZB25','G8');
    tongji2('I11','ZB20','ZC20','G11');
    tongji2('I12','ZF14','ZE14','G12');
    tongji3('I16','LD11','G16');
    tongji4('I17','LD13','G17');
    tongji2('I18','ZF22','ZC35','G18');
    tongji2('I19','ZB12','ZC12','G19');
    });
</script>
<body >
    <form action="$_basePath/base/sp/FinancialStatistics!doInsertCash.action" id="formView" name="formView" method="post" target="myiframe" style="display:none">
        <input type="hidden" name="ChangeViewData" id="ChangeViewData">
            <input name="PEOPLE_ID" type="hidden" value="$!param.CUST_ID" id="PEOPLE_ID">
				<input type="hidden"  name="MANAGEID" value="$!param.MANAGEID">
</form>
<form id="validForm">
<table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-right:0;width:100%;text-align:center">
    <tr align="center">
        <td style="padding-left:60px;">单位名称：</td>
        <td >
                <input type="text" name="UNIT_NAME" value="" class="easyui-validatebox notNum"/>
</td>
        </td>
        <td>查验人员:</td>
        <td>
            <input type="text" name="CHECK_PEOPLE" value="" class="easyui-validatebox notNum"/>
        </td>
        <td>   日期：</td>
        <td>
            <input type="text" name="CHECK_DATE" id="CHECK_DATE" date=""  value="" class="datebox"/>
        </td>
        <td> 索引号：</td>
        <td>
            <input type="text" name="INDEX_CODE" value="" class="easyui-validatebox notNum"/>
        </td>
    </tr>
    <tr>
        <td>所属时期或截至时间：</td>
        <td>
            <input type="text" name="BELONG_DATE" value="" date="" class="datebox" />
        </td>
        <td>复核人员：</td>
        <td>
            <input type="text" name="REVIEW_PEOPLE" value="" class="easyui-validatebox notNum"/>
        </td>
        <td>日期：</td>
        <td>
            <input class="input_03 datebox" date="" value="" name="REVIEW_DATE" id="REVIEW_DATE"/>
        </td>
        <td colspan="2">金额单位：人民币元</td>
    </tr>
</table>
<table class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-center:0;width:100%;text-align:center">
    <tr name="IN_DATE">
        <td style="text-align:center" bgcolor="#fbfcfc" style="border-bottom:0">
            <strong>项目名称</strong>
        </td>
        <td name="td_data0" bgcolor="#fbfcfc" style="border-left:0">
            <input class="input_03 datebox" name="IN_DATE1" date="" value="$!param.IN_DATE" required="required" /><font color="red">*</font>
        </td>
        <td name="td_data1" bgcolor="#fbfcfc" style="border-left:0">
            <input class="input_03 datebox" name="IN_DATE2" date="" value="$!param.IN_DATE1" required="required"/><font color="red">*</font>
        </td>
        <td name="td_data2" bgcolor="#fbfcfc" style="border-left:0">
            <input class="input_03 datebox" name="IN_DATE3" date="" value="$!param.IN_DATE2" required="required"/><font color="red">*</font>
        </td>
    </tr>
    <tr name="ISAUDIT">
        <td style="text-align:center" bgcolor="#fbfcfc" style="border-bottom:0">
            <strong>是否经过审计</strong>
        </td>
        <td name="td_data0" bgcolor="#fbfcfc" style="border-left:0">
            <input class="input_03" date="" type="radio" name="ISAUDIT0"   value="0"/>
                是<input class="input_03" date="" type="radio"name="ISAUDIT0" value="1"/>
                    否</td>
                    <td name="td_data1" bgcolor="#fbfcfc" style="border-left:0">
                        <input class="input_03" date="" type="radio" name="ISAUDIT1"  value="0"/>
                            是<input class="input_03" date="" type="radio" name="ISAUDIT1" value="1"/>
                                否</td>
                                <td name="td_data2" bgcolor="#fbfcfc" style="border-left:0">
                                    <input class="input_03" date="" type="radio" name="ISAUDIT2"  value="0"/>
                                        是<input class="input_03" date="" type="radio" name="ISAUDIT2" value="1"/>
                                            否</td>
    </tr>
    <tr>
        <td align="center">
            <strong>一、经营活动产生的现金流量</strong>
        </td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
    </tr>
    <tr name="PROVIDE_SERVICE_CASH">
        <td align="center">销售商品，提供劳务收到的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PROVIDE_SERVICE_CASH1" id="B5" onblur="CoordinateAccAdd('B',5,7,'B8')" value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PROVIDE_SERVICE_CASH2" id="C5" onblur="CoordinateAccAdd('C',5,7,'C8')"  value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PROVIDE_SERVICE_CASH3" id="H5" onblur="CoordinateAccAdd('H',5,7,'H8')"  value=""/>
        </td>
    </tr>
    <tr name="TAX_RETURN">
        <td align="center">收到的税费返还</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="TAX_RETURN1" id="B6" onblur="CoordinateAccAdd('B',5,7,'B8')" value=""/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="TAX_RETURN2" id="C6" onblur="CoordinateAccAdd('C',5,7,'C8')"  value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="TAX_RETURN3" id="H6" onblur="CoordinateAccAdd('H',5,7,'H8')" value="" />
        </td>
    </tr>
    <tr name="OTHER_OPERATE">
        <td align="center">收到的其他与经营活动有关的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_OPERATE1" id="B7" onblur="CoordinateAccAdd('B',5,7,'B8')" value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_OPERATE2" id="C7" onblur="CoordinateAccAdd('C',5,7,'C8')"  value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_OPERATE3" id="H7" onblur="CoordinateAccAdd('H',5,7,'H8')" value="" />
        </td>
    </tr>
    <tr name="OPERATE_INTO_TOTAL">
        <td align="center">现金流入小计</td>
        <td name="td_data0" align="center" title="(前年)销售商品，提供劳务收到的现金+(前年)收到的税费返还+(前年)收到的其他与经营活动有关的现金">
            <input type="text" class="easyui-validatebox" name="OPERATE_INTO_TOTAL1" id="B8" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('B8','B13','B14')" value="" />
        </td>
        <td name="td_data1" align="center" title="(上年)销售商品，提供劳务收到的现金+(上年)收到的税费返还+(上年)收到的其他与经营活动有关的现金">
            <input type="text" class="easyui-validatebox" name="OPERATE_INTO_TOTAL2" id="C8" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C8','C13','C14')"    value="" />
        </td>
        <td name="td_data2" align="center" title="(本年)销售商品，提供劳务收到的现金+(本年)收到的税费返还+(本年)收到的其他与经营活动有关的现金">
            <input type="text" class="easyui-validatebox" name="OPERATE_INTO_TOTAL3" id="H8" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H8','H13','H14')" value=""  />
        </td>
    </tr>
    <tr name="PROVIDE_PAYMENT_CASH">
        <td align="center">购买商品，接受劳务支付的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PROVIDE_PAYMENT_CASH1" id="B9" onblur="CoordinateAccAdd('B',9,12,'B13')"  value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PROVIDE_PAYMENT_CASH2" id="C9" onblur="CoordinateAccAdd('C',9,12,'C13')"  value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PROVIDE_PAYMENT_CASH3" id="H9" onblur="CoordinateAccAdd('H',9,12,'H13')"  value="" />
        </td>
    </tr>
    <tr name="PAYMENT_STAFF_CASH">
        <td align="center">支付给职工以及为职工支付的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAYMENT_STAFF_CASH1" id="B10" onblur="CoordinateAccAdd('B',9,12,'B13')" value=""/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAYMENT_STAFF_CASH2" id="C10" onblur="CoordinateAccAdd('C',9,12,'C13')" value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAYMENT_STAFF_CASH3" id="H10" onblur="CoordinateAccAdd('H',9,12,'H13')"  value=""/>
        </td>
    </tr>
    <tr name="PAY_ITEM_TAX">
        <td align="center">支付的各项税费</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAY_ITEM_TAX1" id="B11" onblur="CoordinateAccAdd('B',9,12,'B13')"  value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAY_ITEM_TAX2" id="C11" onblur="CoordinateAccAdd('C',9,12,'C13')"  value="" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAY_ITEM_TAX3" id="H11" onblur="CoordinateAccAdd('H',9,12,'H13')"  value="" />
        </td>
    </tr>
    <tr name="PAY_PROVIDE_CASH">
        <td align="center">支付的其他与经营活动有关的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAY_PROVIDE_CASH1" id="B12" onblur="CoordinateAccAdd('B',9,12,'B13')" value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAY_PROVIDE_CASH2" id="C12" onblur="CoordinateAccAdd('C',9,12,'C13')"  value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PAY_PROVIDE_CASH3" id="H12" onblur="CoordinateAccAdd('H',9,12,'H13')"   value="" />
        </td>
    </tr>
    <tr name="OPERATE_OUT_TOTAL">
        <td align="center">现金流出小计</td>
        <td name="td_data0" align="center" title="(前年)购买商品，接受劳务支付的现金+(前年)支付给职工以及为职工支付的现金+(前年)支付的各项税费+(前年)支付的其他与经营活动有关的现金">
            <input type="text" class="easyui-validatebox" name="OPERATE_OUT_TOTAL1" id="B13" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('B8','B13','B14')" value=""/>
        </td>
        <td name="td_data1" align="center" title="(上年)购买商品，接受劳务支付的现金+(上年)支付给职工以及为职工支付的现金+(上年)支付的各项税费+(上年)支付的其他与经营活动有关的现金">
            <input type="text" class="easyui-validatebox" name="OPERATE_OUT_TOTAL2" id="C13" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C8','C13','C14')"  value=""/>
        </td>
        <td name="td_data2" align="center" title="(本年)购买商品，接受劳务支付的现金+(本年)支付给职工以及为职工支付的现金+(本年)支付的各项税费+(本年)支付的其他与经营活动有关的现金">
            <input type="text" class="easyui-validatebox" name="OPERATE_OUT_TOTAL3" id="H13" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H8','H13','H14')"   value=""/>
        </td>
    </tr>
    <tr name="OPERATE_NET">
        <td align="center">经营活动产生的现金流量净额(A)</td>
        <td name="td_data0" align="center" title="(前年)现金流入小计-(前年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="OPERATE_NET1" id="B14" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('B14','B25','B35','B36','B37')" liandong1="CoordinateAccSub('E23','B14','B38')" value="" />
        </td>
        <td name="td_data1" align="center" title="(上年)现金流入小计-(上年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="OPERATE_NET2" id="C14" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('C14','C25','C35','C36','C37')" liandong1="CoordinateAccSub('F23','C14','B39')" value=""/>
        </td>
        <td name="td_data2" align="center" title="(本年)现金流入小计-(本年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="OPERATE_NET3" id="H14" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('H14','H25','H35','H36','H37')" liandong1="CoordinateAccSub('I23','H14','B40')"  value="" />
        </td>
    </tr>
    <tr name="">
        <td align="center">
            <strong>二、投资活动产生的现金流量</strong>
        </td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
    </tr>
    <tr name="INVEST_CASH">
        <td align="center">收回投资所收到的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_CASH1" id="B16" onblur="CoordinateAccAdd('B',16,19,'B20')"  value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_CASH2" id="C16" onblur="CoordinateAccAdd('C',16,19,'C20')"  value=""/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_CASH3" id="H16" onblur="CoordinateAccAdd('H',16,19,'H20')"   value="" />
        </td>
    </tr>
    <tr name="INVEST_INCOME">
        <td align="center">取得投资收益所收到的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_INCOME1" id="B17" onblur="CoordinateAccAdd('B',16,19,'B20')"  value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_INCOME2" id="C17" onblur="CoordinateAccAdd('C',16,19,'C20')"  value="" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_INCOME3" id="H17" onblur="CoordinateAccAdd('H',16,19,'H20')" value="" />
        </td>
    </tr>
    <tr name="ASSETS_CASH">
        <td align="center">处置固定资产无形资产其他资产收到的现金净额</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSETS_CASH1" id="B18" onblur="CoordinateAccAdd('B',16,19,'B20')" value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSETS_CASH2" id="C18" onblur="CoordinateAccAdd('C',16,19,'C20')"  value="" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSETS_CASH3" id="H18" onblur="CoordinateAccAdd('H',16,19,'H20')"  value="" />
        </td>
    </tr>
    <tr name="OTHER_INVEST">
        <td align="center">收到的其他与投资活动有关的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_INVEST1" id="B19" onblur="CoordinateAccAdd('B',16,19,'B20')"   value="" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_INVEST2" id="C19" onblur="CoordinateAccAdd('C',16,19,'C20')" value="" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_INVEST3" id="H19" onblur="CoordinateAccAdd('H',16,19,'H20')"  value="" />
        </td>
    </tr>
    <tr name="INVEST_INTO">
        <td align="center">现金流入小计</td>
        <td name="td_data0" align="center" title="(前年)收回投资所收到的现金+(前年)取得投资收益所收到的现金+(前年)处置固定资产无形资产其他资产收到的现金净额+(前年)收到的其他与投资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="INVEST_INTO1" id="B20" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('B20','B24','B25')" value="" />
        </td>
        <td name="td_data1" align="center" title="(上年)收回投资所收到的现金+(上年)取得投资收益所收到的现金+(上年)处置固定资产无形资产其他资产收到的现金净额+(上年)收到的其他与投资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="INVEST_INTO2" id="C20" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C20','C24','C25')" value="" />
        </td>
        <td name="td_data2" align="center" title="(本年)收回投资所收到的现金+(本年)取得投资收益所收到的现金+(本年)处置固定资产无形资产其他资产收到的现金净额+(本年)收到的其他与投资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="INVEST_INTO3" id="H20" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H20','H24','H25')"  value=""/>
        </td>
    </tr>
    <tr name="ASSET_PAY">
        <td align="center">购建固定资产无形资产其他资产支付的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_PAY1" id="B21" onblur="CoordinateAccAdd('B',21,23,'B24')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_PAY2" id="C21" onblur="CoordinateAccAdd('C',21,23,'C24')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_PAY3" id="H21" onblur="CoordinateAccAdd('H',21,23,'H24')" />
        </td>
    </tr>
    <tr name="INVEST_PAY">
        <td align="center">投资所支付的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_PAY1" id="B22" onblur="CoordinateAccAdd('B',21,23,'B24')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_PAY2" id="C22" onblur="CoordinateAccAdd('C',21,23,'C24')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_PAY3" id="H22" onblur="CoordinateAccAdd('H',21,23,'H24')" />
        </td>
    </tr>
    <tr name="OTHER_INVEST_PAY">
        <td align="center">支付的其他与投资活动有关的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_INVEST_PAY1" id="B23" onblur="CoordinateAccAdd('B',21,23,'B24')"/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_INVEST_PAY2" id="C23" onblur="CoordinateAccAdd('C',21,23,'C24')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_INVEST_PAY3" id="H23" onblur="CoordinateAccAdd('H',21,23,'H24')"/>
        </td>
    </tr>
    <tr name="INVEST_OUT">
        <td align="center">现金流出小计</td>
        <td name="td_data0" align="center" title="(前年)购建固定资产无形资产其他资产支付的现金+(前年)投资所支付的现金+(前年)支付的其他与投资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="INVEST_OUT1" id="B24" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('B20','B24','B25')" />
        </td>
        <td name="td_data1" align="center" title="(上年)购建固定资产无形资产其他资产支付的现金+(上年)投资所支付的现金+(上年)支付的其他与投资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="INVEST_OUT2" id="C24" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C20','C24','C25')"/>
        </td>
        <td name="td_data2" align="center" title="(本年)购建固定资产无形资产其他资产支付的现金+(本年)投资所支付的现金+(本年)支付的其他与投资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="INVEST_OUT3" id="H24" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H20','H24','H25')" />
        </td>
    </tr>
    <tr name="INVEST_NET">
        <td align="center">投资活动产生的现金流量净额</td>
        <td name="td_data0" align="center" title="(前年)现金流入小计-(前年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="INVEST_NET1" id="B25" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('B14','B25','B35','B36','B37')" />
        </td>
        <td name="td_data1" align="center" title="(上年)现金流入小计-(上年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="INVEST_NET2" id="C25" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('C14','C25','C35','C36','C37')" />
        </td>
        <td name="td_data2" align="center" title="(本年)现金流入小计-(本年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="INVEST_NET3" id="H25" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('H14','H25','H35','H36','H37')" />
        </td>
    </tr>
    <tr>
        <td align="center">
            <strong>三、筹资活动产生的现金流量</strong>
        </td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
    </tr>
    <tr name="ABSORB_INVEST">
        <td align="center">吸收投资收到的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ABSORB_INVEST1" id="B27" onblur="CoordinateAccAdd('B',27,29,'B30')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ABSORB_INVEST2" id="C27" onblur="CoordinateAccAdd('C',27,29,'C30')"/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ABSORB_INVEST3" id="H27" onblur="CoordinateAccAdd('H',27,29,'H30')" />
        </td>
    </tr>
    <tr name="LOAN">
        <td align="center">借款所收到的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="LOAN1" id="B28" onblur="CoordinateAccAdd('B',27,29,'B30')"/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="LOAN2" id="C28" onblur="CoordinateAccAdd('C',27,29,'C30')"/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="LOAN3" id="H28" onblur="CoordinateAccAdd('H',27,29,'H30')"/>
        </td>
    </tr>
    <tr name="OTHER_PREPARE_IN">
        <td align="center">收到的其他与筹资活动有关的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_PREPARE_IN1" id="B29" onblur="CoordinateAccAdd('B',27,29,'B30')"/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_PREPARE_IN2" id="C29" onblur="CoordinateAccAdd('C',27,29,'C30')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_PREPARE_IN3" id="H29" onblur="CoordinateAccAdd('H',27,29,'H30')"/>
        </td>
    </tr>
    <tr name="PREPARE_INCOM_TOTAL">
        <td align="center">现金流入小计</td>
        <td name="td_data0" align="center" title="(前年)吸收投资收到的现金+(前年)借款所收到的现金+(前年)收到的其他与筹资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="PREPARE_INCOM_TOTAL1" id="B30" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('B30','B34','B35')"/>
        </td>
        <td name="td_data1" align="center" title="(上年)吸收投资收到的现金+(上年)借款所收到的现金+(上年)收到的其他与筹资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="PREPARE_INCOM_TOTAL2" id="C30" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C30','C34','C35')"/>
        </td>
        <td name="td_data2" align="center" title="(本年)吸收投资收到的现金+(本年)借款所收到的现金+(本年)收到的其他与筹资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="PREPARE_INCOM_TOTAL3" id="H30" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H30','H34','H35')" />
        </td>
    </tr>
    <tr name="DEBT_PAY">
        <td align="center">偿还债务所支付的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="DEBT_PAY1" id="B31" onblur="CoordinateAccAdd('B',31,33,'B34')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="DEBT_PAY2" id="C31" onblur="CoordinateAccAdd('C',31,33,'C34')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="DEBT_PAY3" id="H31" onblur="CoordinateAccAdd('H',31,33,'H34')"/>
        </td>
    </tr>
    <tr name="INTEREST_PAY">
        <td align="center">分配股利利润或偿付利息支付的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INTEREST_PAY1" id="B32" onblur="CoordinateAccAdd('B',31,33,'B34')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INTEREST_PAY2" id="C32" onblur="CoordinateAccAdd('C',31,33,'C34')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INTEREST_PAY3" id="H32" onblur="CoordinateAccAdd('H',31,33,'H34')"/>
        </td>
    </tr>
    <tr name="OTHER_PREPARE_PAY">
        <td align="center">支付的其他与筹资活动有关的现金</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_PREPARE_PAY1" id="B33" onblur="CoordinateAccAdd('B',31,33,'B34')"/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_PREPARE_PAY2" id="C33" onblur="CoordinateAccAdd('C',31,33,'C34')"  />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="OTHER_PREPARE_PAY3" id="H33" onblur="CoordinateAccAdd('H',31,33,'H34')" />
        </td>
    </tr>
    <tr name="PREPARE_OUT_TOTAL">
        <td align="center">现金流出小计</td>
        <td name="td_data0" align="center" title="(前年)偿还债务所支付的现金+(前年)分配股利利润或偿付利息支付的现金+(前年)支付的其他与筹资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="PREPARE_OUT_TOTAL1" id="B34" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('B30','B34','B35')" />
        </td>
        <td name="td_data1" align="center" title="(上年)偿还债务所支付的现金+(上年)分配股利利润或偿付利息支付的现金+(上年)支付的其他与筹资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="PREPARE_OUT_TOTAL2" id="C34" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('C30','C34','C35')"/>
        </td>
        <td name="td_data2" align="center" title="(本年)偿还债务所支付的现金+(本年)分配股利利润或偿付利息支付的现金+(本年)支付的其他与筹资活动有关的现金">
            <input type="text" class="easyui-validatebox" name="PREPARE_OUT_TOTAL3" id="H34" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('H30','H34','H35')"/>
        </td>
    </tr>
    <tr name="PREPARE_NET">
        <td align="center">筹资活动产生的现金流量净额</td>
        <td name="td_data0" align="center" title="(前年)现金流入小计-(前年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="PREPARE_NET1" id="B35" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('B14','B25','B35','B36','B37')" />
        </td>
        <td name="td_data1" align="center" title="(上年)现金流入小计-(上年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="PREPARE_NET2" id="C35" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('C14','C25','C35','C36','C37')"/>
        </td>
        <td name="td_data2" align="center" title="(本年)现金流入小计-(本年)现金流出小计">
            <input type="text" class="easyui-validatebox" name="PREPARE_NET3" id="H35" readonly="readonly" style="background-color:#CCC" liandong="returnAccSubMore('H14','H25','H35','H36','H37')" />
        </td>
    </tr>
    <tr name="CHANGE_RATE">
        <td align="center">
            <strong>四，汇率变动对现金的影响</strong>
        </td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="CHANGE_RATE1" id="B36" onchange="returnAccSubMore('B14','B25','B35','B36','B37')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="CHANGE_RATE2" id="C36" onchange="returnAccSubMore('C14','C25','C35','C36','C37')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="CHANGE_RATE3" id="H36" onchange="returnAccSubMore('H14','H25','H35','H36','H37')"/>
        </td>
    </tr>
    <tr name="CASH_NET">
        <td align="center">
            <strong>五、现金及现金等价物增加净额(B)</strong>
        </td>
        <td name="td_data0" align="center" title="(前年)经营活动产生的现金流量净额(A)+(前年)投资活动产生的现金流量净额+(前年)筹资活动产生的现金流量净额+(前年)汇率变动对现金的影响">
            <input type="text" class="easyui-validatebox" name="CASH_NET1" id="B37" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('E33','B37','B41')" />
        </td>
        <td name="td_data1" align="center" title="(上年)经营活动产生的现金流量净额(A)+(上年)投资活动产生的现金流量净额+(上年)筹资活动产生的现金流量净额+(上年)汇率变动对现金的影响">
            <input type="text" class="easyui-validatebox" name="CASH_NET2" id="C37" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('F33','C37','B42')" />
        </td>
        <td name="td_data2" align="center" title="(本年)经营活动产生的现金流量净额(A)+(本年)投资活动产生的现金流量净额+(本年)筹资活动产生的现金流量净额+(本年)汇率变动对现金的影响">
            <input type="text" class="easyui-validatebox" name="CASH_NET3" id="H37" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('I33','H37','B43')" liandong1="cashJs1('H37','ZC4','ZH4','B51','C51')"/>
        </td>
    </tr>
    <tr name="BEGINNING_CASH_EQUIVALENTS">
        <td align="center">
            <strong>六、期初现金及现金等价物余额</strong>
        </td>
        <td name="td_data0" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="BEGINNING_CASH_EQUIVALENTS1" id="B37" value=""/>
        </td>
        <td name="td_data1" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="BEGINNING_CASH_EQUIVALENTS2" id="C37" value=""/>
        </td>
        <td name="td_data2" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="BEGINNING_CASH_EQUIVALENTS3" id="H36" value=""/>
        </td>
    </tr>
    <tr name="FINAL_CASH_EQUIVALENTS">
        <td align="center">
            <strong>七、期末现金及现金等价物余额</strong>
        </td>
        <td name="td_data0" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="FINAL_CASH_EQUIVALENTS1" id="C38" value=""/>
        </td>
        <td name="td_data1" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="FINAL_CASH_EQUIVALENTS2" id="B38" value=""/>
        </td>
        <td name="td_data2" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="FINAL_CASH_EQUIVALENTS3" id="H38" value=""/>
        </td>
    </tr>
    <tr name="NMLDFZ">
        <td align="center">
            <strong>八、年末流动负债</strong>
        </td>
        <td name="td_data0" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="NMLDFZ1" id="" value=""/>
        </td>
        <td name="td_data1" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="NMLDFZ2" id="" value=""/>
        </td>
        <td name="td_data2" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="NMLDFZ3" id="" value=""/>
        </td>
    </tr>
    <tr name="QMLDFZ">
        <td align="center">
            <strong>九、期末流动负债</strong>
        </td>
        <td name="td_data0" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="QMLDFZ1" id="" value=""/>
        </td>
        <td name="td_data1" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="QMLDFZ2" id="" value=""/>
        </td>
        <td name="td_data2" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="QMLDFZ3" id="" value=""/>
        </td>
    </tr>
    <tr name="INCOME_TAX">
        <td align="center">
            <strong>十、所得税</strong>
        </td>
        <td name="td_data0" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="INCOME_TAX1" id="" value=""/>
        </td>
        <td name="td_data1" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="INCOME_TAX2" id="" value=""/>
        </td>
        <td name="td_data2" align="center" title="">
            <input type="text" class="easyui-numberbox"  precision="2" name="INCOME_TAX3" id="" value=""/>
        </td>
    </tr>
    <tr>
        <td  bgcolor="#fbfcfc" style="border-left:0">
            <strong>补充资料:</strong>
        </td>
        <td  bgcolor="#fbfcfc" style="border-left:0"></td>
        <td  bgcolor="#fbfcfc" style="border-left:0"></td>
        <td  bgcolor="#fbfcfc" style="border-left:0"></td>
    </tr>
    <tr>
        <td align="center">1、将净利润调节为经营活动现金流量:</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
    </tr>
    <tr name="NET">
        <td align="center">净利润(C)</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="NET1" id="E6" onblur="CoordinateAccAdd('E',6,22,'E23'),('E6','LC19','B44','C44')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="NET2" id="F6" onblur="CoordinateAccAdd('F',6,22,'F23'),('F6','LD19','B45','C45')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="NET3" id="I6" onblur="CoordinateAccAdd('I',6,22,'I23'),('I6','LH19','B46','C46')" />
        </td>
    </tr>
    <tr name="ASSET_REDUCE">
        <td align="center">加：计提的资产减值准备</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_REDUCE1" id="E7" onblur="CoordinateAccAdd('E',6,22,'E23')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_REDUCE2" id="F7" onblur="CoordinateAccAdd('F',6,22,'F23')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_REDUCE3" id="I7" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji1('I7','ZH13','G7')"/>
        </td>
    </tr>
    <tr name="FIXED_DEP" >
        <td align="center">固定资产折旧</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="FIXED_DEP1" id="E8" onblur="CoordinateAccAdd('E',6,22,'E23')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="FIXED_DEP2" id="F8" onblur="CoordinateAccAdd('F',6,22,'F23')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="FIXED_DEP3" id="I8" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji2('I8','ZC25','ZB25','G8')" />
        </td>
    </tr>
    <tr name="INVISIBLE_DEP">
        <td align="center">无形资产摊销</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVISIBLE_DEP1" id="E9" onblur="CoordinateAccAdd('E',6,22,'E23')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVISIBLE_DEP2" id="F9" onblur="CoordinateAccAdd('F',6,22,'F23')"/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="INVISIBLE_DEP3" id="I9" onblur="CoordinateAccAdd('I',6,22,'I23')" />
        </td>
    </tr>
    <tr name="PREPAID_FEE">
        <td align="center">长期待摊费用摊销</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PREPAID_FEE1" id="E10" onblur="CoordinateAccAdd('E',6,22,'E23')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PREPAID_FEE2" id="F10" onblur="CoordinateAccAdd('F',6,22,'F23')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PREPAID_FEE3" id="I10" onblur="CoordinateAccAdd('I',6,22,'I23')"/>
        </td>
    </tr>
    <tr name="PREPAID_REDUCE">
        <td align="center">待摊费用减少(减:增加)</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PREPAID_REDUCE1" id="E11" onblur="CoordinateAccAdd('E',6,22,'E23')"/>
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PREPAID_REDUCE2" id="F11" onblur="CoordinateAccAdd('F',6,22,'F23')"/>
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="PREPAID_REDUCE3" id="I11" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji2('I11','ZB20','ZC20','G11')" />
        </td>
    </tr>
    <tr name="HOLD_ADD">
        <td align="center">预提费用增加(减:减少)</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="HOLD_ADD1" id="E12" onblur="CoordinateAccAdd('E',6,22,'E23')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="HOLD_ADD2" id="F12" onblur="CoordinateAccAdd('F',6,22,'F23')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="HOLD_ADD3" id="I12" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji2('I12','ZF14','ZE14','G12')"/>
        </td>
    </tr>
    <tr name="ASSET_LOSS">
        <td align="center">处理固定资产无形资产其他资产的损失(减:收益)</td>
        <td name="td_data0" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_LOSS1" id="E13" onblur="CoordinateAccAdd('E',6,22,'E23')" />
        </td>
        <td name="td_data1" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_LOSS2" id="F13" onblur="CoordinateAccAdd('F',6,22,'F23')" />
        </td>
        <td name="td_data2" align="center">
            <input type="text" class="easyui-numberbox"  precision="2" name="ASSET_LOSS3" id="I13" onblur="CoordinateAccAdd('I',6,22,'I23')" />
        </td>
    </tr>
    <input value="0" id="E14" type="hidden">
        <input value="0" id="F14" type="hidden">
            <input value="0" id="I14" type="hidden">
                <tr name="FIXED_LOSS">
                    <td align="center">固定资产报废损失</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FIXED_LOSS1" id="E15" onblur="CoordinateAccAdd('E',6,22,'E23')"/>
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FIXED_LOSS2" id="F15" onblur="CoordinateAccAdd('F',6,22,'F23')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FIXED_LOSS3" id="I15" onblur="CoordinateAccAdd('I',6,22,'I23')"/>
                    </td>
                </tr>
                <tr name="FINANCE_FEE">
                    <td align="center">财务费用</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FINANCE_FEE1" id="E16" onblur="CoordinateAccAdd('E',6,22,'E23')"/>
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FINANCE_FEE2" id="F16" onblur="CoordinateAccAdd('F',6,22,'F23')"/>
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FINANCE_FEE3" id="I16" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji3('I16','LD11','G16')" />
                    </td>
                </tr>
                <tr name="INVEST_LOSS">
                    <td align="center">投资损失(减:收益)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_LOSS1" id="E17" onblur="CoordinateAccAdd('E',6,22,'E23')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_LOSS2" id="F17" onblur="CoordinateAccAdd('F',6,22,'F23')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="INVEST_LOSS3" id="I17" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji4('I17','LD13','G17')" />
                    </td>
                </tr>
                <tr name="DEFERR">
                    <td align="center">递延税款贷项(减:借项)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="DEFERR1" id="E18" onblur="CoordinateAccAdd('E',6,22,'E23')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="DEFERR2" id="F18" onblur="CoordinateAccAdd('F',6,22,'F23')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="DEFERR3" id="I18" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji2('I18','ZF22','ZC35','G18')"/>
                    </td>
                </tr>
                <tr name="STOCK_REDUCE">
                    <td align="center">存货的减少(减:增加)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="STOCK_REDUCE1" id="E19" onblur="CoordinateAccAdd('E',6,22,'E23')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="STOCK_REDUCE2" id="F19" onblur="CoordinateAccAdd('F',6,22,'F23')"/>
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="STOCK_REDUCE3" id="I19" onblur="CoordinateAccAdd('I',6,22,'I23'),tongji2('I19','ZB12','ZC12','G19')" />
                    </td>
                </tr>
                <tr name="OPERATE_INCOME">
                    <td align="center">经营性应收项目的减少(减:增加)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_INCOME1" id="E20" onblur="CoordinateAccAdd('E',6,22,'E23')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_INCOME2" id="F20" onblur="CoordinateAccAdd('F',6,22,'F23')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_INCOME3" id="I20" onblur="CoordinateAccAdd('I',6,22,'I23')" />
                    </td>
                </tr>
                <tr name="OPERATE_PAY">
                    <td align="center">经营性应付项目的增加(减:减少)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_PAY1" id="E21" onblur="CoordinateAccAdd('E',6,22,'E23')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_PAY2" id="F21" onblur="CoordinateAccAdd('F',6,22,'F23')"/>
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_PAY3" id="I21" onblur="CoordinateAccAdd('I',6,22,'I23')" />
                    </td>
                </tr>
                <tr name="OTHE">
                    <td align="center">其他</td>
                    <td  name="td_data0"align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OTHE1" id="E22" onblur="CoordinateAccAdd('E',6,22,'E23')" />
                    </td>
                    <td  name="td_data1"align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OTHE2" id="F22" onblur="CoordinateAccAdd('F',6,22,'F23')" />
                    </td>
                    <td  name="td_data2"align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OTHE3" id="I22" onblur="CoordinateAccAdd('I',6,22,'I23')" />
                    </td>
                </tr>
                <tr name="OPERATE_NET_D">
                    <td align="center">经营活动产生的现金流量净额(D)</td>
                    <td name="td_data0" align="center" title="(前年)净利润(C)+(前年)计提的资产减值准备+(前年)固定资产折旧+(前年)无形资产摊销+(前年)长期待摊费用摊销+(前年)待摊费用减少+(前年)预提费用增加+(前年)处理固定资产无形资产其他资产的损失+(前年)固定资产报废损失+(前年)财务费用+(前年)投资损失+(前年)递延税款贷项+(前年)存货的减少+(前年)经营性应收项目的减少+(前年)经营性应付项目的增加+(前年)其他">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_NET_D1" id="E23" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('E23','B14','B38')" />
                    </td>
                    <td name="td_data1" align="center" title="(上年)净利润(C)+(上年)计提的资产减值准备+(上年)固定资产折旧+(上年)无形资产摊销+(上年)长期待摊费用摊销+(上年)待摊费用减少+(上年)预提费用增加+(上年)处理固定资产无形资产其他资产的损失+(上年)固定资产报废损失+(上年)财务费用+(上年)投资损失+(上年)递延税款贷项+(上年)存货的减少+(上年)经营性应收项目的减少+(上年)经营性应付项目的增加+(上年)其他">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_NET_D2" id="F23" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('F23','C14','B39')"/>
                    </td>
                    <td name="td_data2" align="center" title="(本年)净利润(C)+(本年)计提的资产减值准备+(本年)固定资产折旧+(本年)无形资产摊销+(本年)长期待摊费用摊销+(本年)待摊费用减少+(本年)预提费用增加+(本年)处理固定资产无形资产其他资产的损失+(本年)固定资产报废损失+(本年)财务费用+(本年)投资损失+(本年)递延税款贷项+(本年)存货的减少+(本年)经营性应收项目的减少+(本年)经营性应付项目的增加+(本年)其他">
                        <input type="text" class="easyui-numberbox"  precision="2" name="OPERATE_NET_D3" id="I23" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('I23','H14','B40')" />
                    </td>
                </tr>
                <tr>
                    <td align="center">2、不涉及现金收支的投资及筹资活动</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="DEBT_TO_CAPITAL">
                    <td align="center">债务转为资本</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="DEBT_TO_CAPITAL1" id="E25" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="DEBT_TO_CAPITAL2" id="F25" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="DEBT_TO_CAPITAL3" id="I25" />
                    </td>
                </tr>
                <tr name="YEAR_BOND">
                    <td align="center">一年内到期的可转换公司债券</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="YEAR_BOND1" id="E26" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="YEAR_BOND2" id="F26" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="YEAR_BOND3" id="I26"/>
                    </td>
                </tr>
                <tr name="FINANCE">
                    <td align="center">融资租入固定资产</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FINANCE1" id="E27"/>
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FINANCE2" id="F27"/>
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="FINANCE3" id="I27"/>
                    </td>
                </tr>
                <tr name="CASH_VALUE">
                    <td align="center">3、现金及现金等价物净增加情况</td>
                    <td name="td_data0" align="center" title="(前年)现金的期末余额(E)-(前年)现金的期初余额(F)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_VALUE1" id="E28" readonly="readonly" style="background-color:#CCC" onblur="CoordinateAccSub('E29','E30','E28'),('B37','E28','B52','C52')"/>
                    </td>
                    <td name="td_data1" align="center" title="(上年)现金的期末余额(E)-(上年)现金的期初余额(F)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_VALUE2" id="F28" readonly="readonly" style="background-color:#CCC" onblur="CoordinateAccSub('F29','F30','F28'),('C37','F28','B53','C53')" />
                    </td>
                    <td name="td_data2" align="center" title="(本年)现金的期末余额(E)-(本年)现金的期初余额(F)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_VALUE3" id="I28" readonly="readonly" style="background-color:#CCC" onblur="CoordinateAccSub('I29','I30','I28'),('D37','I28','B54','C54')"/>
                    </td>
                </tr>
                <tr name="END_BALANCE">
                    <td align="center">现金的期末余额(E)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="END_BALANCE1" id="E29" onblur="returnAccAddSubMore('E29','E30','E31','E32','E33'),('E29','ZB4','B47','C47'),CoordinateAccSub('E29','E30','E28'),('B37','E28','B52','C52')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="END_BALANCE2" id="F29" onblur="returnAccAddSubMore('F29','F30','F31','F32','F33'),('F29','ZC4','B48','C48'),CoordinateAccSub('F29','F30','F28'),('C37','F28','B53','C53')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="END_BALANCE3" id="I29" onblur="returnAccAddSubMore('I29','I30','I31','I32','I33'),('I29','ZH4','B49','C49'),CoordinateAccSub('I29','I30','I28'),('D37','I28','B54','C54')" />
                    </td>
                </tr>
                <tr name="BEGIN_BALANCE">
                    <td align="center">减:现金的期初余额(F)</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="BEGIN_BALANCE1" id="E30" onblur="returnAccAddSubMore('E29','E30','E31','E32','E33'),CoordinateAccSub('E29','E30','E28'),('B37','E28','B52','C52')"/>
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="BEGIN_BALANCE2" id="F30" onblur="returnAccAddSubMore('F29','F30','F31','F32','F33'),CoordinateAccSub('F29','F30','F28'),('C37','F28','B53','C53')"/>
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="BEGIN_BALANCE3" id="I30" onblur="returnAccAddSubMore('I29','I30','I31','I32','I33'),('I30','ZC4','B50','C50'),CoordinateAccSub('I29','I30','I28'),('D37','I28','B54','C54')"/>
                    </td>
                </tr>
                <tr name="THING_END_BALANCE">
                    <td align="center">加:现金等价物的期末余额</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="THING_END_BALANCE1" id="E31" onblur="returnAccAddSubMore('E29','E30','E31','E32','E33')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="THING_END_BALANCE2" id="F31" onblur="returnAccAddSubMore('F29','F30','F31','F32','F33')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="THING_END_BALANCE3" id="I31" onblur="returnAccAddSubMore('I29','I30','I31','I32','I33')" />
                    </td>
                </tr>
                <tr name="THING_BEGIN_BALANCE">
                    <td align="center">减:现金等价物的期初余额</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="THING_BEGIN_BALANCE1" id="E32" onblur="returnAccAddSubMore('E29','E30','E31','E32','E33')" />
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="THING_BEGIN_BALANCE2" id="F32" onblur="returnAccAddSubMore('F29','F30','F31','F32','F33')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="THING_BEGIN_BALANCE3" id="I32" onblur="returnAccAddSubMore('I29','I30','I31','I32','I33')" />
                    </td>
                </tr>
                <tr name="CASH_PAYMENTS">
                    <td align="center">减:偿付利息所支付的现金</td>
                    <td name="td_data0" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_PAYMENTS1" id="E33" onblur="returnAccAddSubMore('E30','E31','E32','E33','E34')"/>
                    </td>
                    <td name="td_data1" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_PAYMENTS2" id="F33" onblur="returnAccAddSubMore('F30','F31','F32','F33','F34')" />
                    </td>
                    <td name="td_data2" align="center">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_PAYMENTS3" id="I33" onblur="returnAccAddSubMore('I30','I31','I32','I33','I34')" />
                    </td>
                </tr>
                <tr name="CASH_INCREASE">
                    <td align="center">现金及现金等价物净增加额(G)</td>
                    <td name="td_data0" align="center" title="(前年)现金的期末余额(E)-(前年)现金的期初余额(F)+(前年)现金等价物的期末余额-(前年)现金等价物的期初余额">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_INCREASE1" id="E33" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('E33','B37','B41')" />
                    </td>
                    <td name="td_data1" align="center" title="(上年)现金的期末余额(E)-(上年)现金的期初余额(F)+(上年)现金等价物的期末余额-(上年)现金等价物的期初余额">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_INCREASE2" id="F33" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('F33','C37','B42')"/>
                    </td>
                    <td name="td_data2" align="center" title="(本年)现金的期末余额(E)-(本年)现金的期初余额(F)+(本年)现金等价物的期末余额-(本年)现金等价物的期初余额">
                        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_INCREASE3" id="I33" readonly="readonly" style="background-color:#CCC" liandong="CoordinateAccSub('I33','H37','B43')" />
                    </td>
                </tr>
                <tr name="A_COMPARE_D">
                    <td align="center">1、前年A和D比较:</td>
                    <td name="td_data0" align="center" title="(前年)经营活动产生的现金流量净额(D)-(前年)经营活动产生的现金流量净额(A)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="A_COMPARE_D1" id="B38" readonly="readonly" style="background-color:#CCC" liandong="compTure('B38','C38')" />
                    </td>
                   
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="A_COMPARE_D">
                    <td align="center">2、上年A和D比较:</td>
                    <td name="td_data1" align="center" title="(上年)经营活动产生的现金流量净额(D)-(上年)经营活动产生的现金流量净额(A)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="A_COMPARE_D2" id="B39" readonly="readonly" style="background-color:#CCC" liandong="compTure('B39','C39')"/>
                    </td>
                              <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="A_COMPARE_D">
                    <td align="center">3、本年A和D比较:</td>
                    <td name="td_data2" align="center" title="(本年)经营活动产生的现金流量净额(D)-(本年)经营活动产生的现金流量净额(A)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="A_COMPARE_D3" id="B40" readonly="readonly" style="background-color:#CCC" liandong="compTure('B40','C40')"/>
                    </td>
                             <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="B_COMPARE_G">
                    <td align="center">4、前年B和G比较:</td>
                    <td name="td_data0" align="center" title="(前年)现金及现金等价物净增加额(G)-(前年)现金及现金等价物增加净额(B)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="B_COMPARE_G1" id="B41" readonly="readonly" style="background-color:#CCC" liandong="compTure('B41','C41')" />
                    </td>
                            <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="B_COMPARE_G">
                    <td align="center">5、上年B和G比较:</td>
                    <td name="td_data1" align="center" title="(上年)现金及现金等价物净增加额(G)-(上年)现金及现金等价物增加净额(B)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="B_COMPARE_G2" id="B42" readonly="readonly" style="background-color:#CCC" liandong="compTure('B42','C42')"/>
                    </td>
                             <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="B_COMPARE_G">
                    <td align="center">6、本年B和G比较:</td>
                    <td name="td_data2" align="center" title="(本年)现金及现金等价物净增加额(G)-(本年)现金及现金等价物增加净额(B)">
                        <input type="text" class="easyui-numberbox"  precision="2" name="B_COMPARE_G3" id="B43" readonly="readonly" style="background-color:#CCC" liandong="compTure('B43','C43')" />
                    </td>
                            <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr name="C_COMPARE_PROFIT">
                    <td align="center">7、前年C和利润表净利润比较:<input type="hidden" id="LC19" ></td>
                                <td name="td_data0" align="center" title="(前年)净利润(C)-利润及利润分配表!(前年)净利润">
                                    <input type="text" class="easyui-numberbox"  precision="2" name="C_COMPARE_PROFIT1" id="B44" readonly="readonly" style="background-color:#CCC" />
                                </td>
                                       <td align="center">&nbsp;</td>
                                <td align="center">&nbsp;</td>
</tr>
<tr name="C_COMPARE_PROFIT">
    <td align="center">8、上年C和利润表净利润比较:<input type="hidden" id="LD19"  ></td>
                <td name="td_data1" align="center" title="(上年)净利润(C)-利润及利润分配表!(上年)净利润">
                    <input type="text" class="easyui-numberbox"  precision="2" name="C_COMPARE_PROFIT2" id="B45" readonly="readonly" style="background-color:#CCC" />
                </td>
                        <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
</tr>
<tr name="C_COMPARE_PROFIT">
    <td align="center">9、本年C和利润表净利润比较:<input type="hidden" id="LH19" ></td>
                <td name="td_data2" align="center" title="(本年)净利润(C)-利润及利润分配表!(本年)净利润">
                    <input type="text" class="easyui-numberbox"  precision="2" name="C_COMPARE_PROFIT3" id="B46" readonly="readonly" style="background-color:#CCC"  />
                </td>
                          <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
</tr>
<tr name="E_COMPARE_BEGIN">
    <td align="center">10、前年E和资产负债表货币资金期初数比较:<input type="hidden" id="ZB4"  ></td>
                <td name="td_data0" align="center" title="(前年)现金的期末余额(E)-资产负债表!(前年)货币资金">
                    <input type="text" class="easyui-numberbox"  precision="2" name="E_COMPARE_BEGIN1" id="B47" readonly="readonly" style="background-color:#CCC"  />
                </td>
                        <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
</tr>
<tr name="E_COMPARE_BEGIN">
    <td align="center">11、上年E和资产负债表货币资金期初数比较:<input type="hidden" id="ZC4"  ></td>
                <td name="td_data1" align="center" title="(上年)现金的期末余额(E)-资产负债表!(上年)货币资金">
                    <input type="text" class="easyui-numberbox"  precision="2" name="E_COMPARE_BEGIN2" id="B48" readonly="readonly" style="background-color:#CCC"  />
                </td>
                     <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
</tr>
<tr name="E_COMPARE_BEGIN">
    <td align="center">12、本年E和资产负债表货币资金期初数比较:</td>
                <td name="td_data2" align="center" title="(本年)现金的期末余额(E)-资产负债表!(本年)货币资金">
                    <input type="text" class="easyui-numberbox"  precision="2" name="E_COMPARE_BEGIN3" id="B49" readonly="readonly" style="background-color:#CCC"  />
                </td>
                         <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
</tr>
<tr name="F_COMPARE_BEGIN">
    <td align="center">13、本年F和资产负债表货币资金期初数比较:</td>
    <td name="td_data2" align="center" title="(本年)现金的期初余额(F)-资产负债表!(上年)货币资金">
        <input type="text" class="easyui-numberbox"  precision="2" name="F_COMPARE_BEGIN" id="B50" readonly="readonly" style="background-color:#CCC" />
    </td>
           <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
</tr>
<tr name="B_COMPARE_DEFFERENCE">
    <td align="center">14、本年B和资产负债表货币资金差额比较:</td>
    <td name="td_data2" align="center" title="(本年)现金及现金等价物增加净额(B)-(资产负债表!(本年)货币资金-资产负债表!(上年)货币资金)">
        <input type="text" class="easyui-numberbox"  precision="2" name="B_COMPARE_DEFFERENCE" id="B51" readonly="readonly" style="background-color:#CCC" />
    </td>
             <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
</tr>
<tr name="CASH_HOUJIA_VAVLE">
    <td align="center">15、前年先进及先进等久增加净额差额比较:</td>
    <td name="td_data0" align="center" title="(前年)现金及现金等价物增加净额(B)-(前年)现金及现金等价物净增加情况">
        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_HOUJIA_VAVLE1" id="B52" readonly="readonly" style="background-color:#CCC"  />
    </td>
              <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
</tr>
<tr name="CASH_HOUJIA_VAVLE">
    <td align="center">16、上年先进及先进等久增加净额差额比较:</td>
    <td name="td_data1" align="center" title="(上年)现金及现金等价物增加净额(B)-(上年)现金及现金等价物净增加情况">
        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_HOUJIA_VAVLE2" id="B53" readonly="readonly" style="background-color:#CCC" />
    </td>
              <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
</tr>
<tr name="CASH_HOUJIA_VAVLE">
    <td align="center">17、本年先进及先进等久增加净额差额比较:</td>
    <td name="td_data2" align="center" title="(本年)现金及现金等价物增加净额(B)-(本年)现金及现金等价物净增加情况">
        <input type="text" class="easyui-numberbox"  precision="2" name="CASH_HOUJIA_VAVLE3" id="B54" readonly="readonly" style="background-color:#CCC" />
    </td>     
	<td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
</tr>
</table>
<table  class="table_01" cellpadding="0" cellspacing="0" style="margin-top:5px; border-center:0;width:100%;text-align:center">
    <tr>
        <td>
            <strong>统计</strong>
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）计提的资产减值准备-资产负债表!（上年数）合计=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）计提的资产减值准备-资产负债表!上年数合计,"0.00")))'>
            <input type="text" class="easyui-numberbox"  precision="2" name="UNKNOWN_ONE" id="G7" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）固定资产折旧-(资产负债表!（本年数）减:累计折旧-资产负债表!（上年数）减:累计折旧)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）固定资产折旧-(资产负债表!（本年数）减:累计折旧-资产负债表!（上年数）减:累计折旧),"0.00")))'>
            <input type="text" class="" name="UNKNOWN_TWO" id="G8" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）待摊费用减少(减:增加)-(资产负债表!（上年数）待摊费用-资产负债表!（本年数）待摊费用)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）待摊费用减少(减:增加)-(资产负债表!（上年数）待摊费用-资产负债表!（本年数）待摊费用),"0.00")))'>
            <input type="text" class="" name="UNKNOWN_THREE" id="G11" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）预提费用增加(减:减少)-(资产负债表!（本年数）预提费用-资产负债表!（上年数）预提费用)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）预提费用增加(减:减少)-(资产负债表!（本年数）预提费用-资产负债表!（上年数）预提费用),"0.00")))'>
            <input type="text" class="" name="UNKNOWN_FOUR" id="G12" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）财务费用-利润及利润分配表!（本年数）财务费用=0,"与利润表数值相符",CONCATENATE("差额",TEXT(（本年数）财务费用-利润及利润分配表!（本年数）财务费用,"0.00")))'>
            <input type="text" class="easyui-numberbox"  precision="2" name="UNKNOWN_FIVE" id="G16" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）投资损失(减:收益)+利润及利润分配表!（本年数）加:投资收益=0,"与利润表数值相符",CONCATENATE("差额",TEXT(（本年数）投资损失(减:收益)+利润及利润分配表!（本年数）加:投资收益,"0.00")))'>
            <input type="text" class="easyui-numberbox"  precision="2" name="UNKNOWN_SIX" id="G17" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）递延税款贷项(减:借项)-(资产负债表!（本年数）递延税款贷项-资产负债表!（本年数）递延税款借项)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）递延税款贷项(减:借项)-(资产负债表!（本年数）递延税款贷项-资产负债表!（本年数）递延税款借项),"0.00")))'>
            <input type="text" class="" name="UNKNOWN_SEVEN" id="G18" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
    <tr>
        <td align="center" title='IF(（本年数）存货的减少(减:增加)-(资产负债表!（上年数）存货-资产负债表!（本年数）存货)=0,"与资产负债表数值相符",CONCATENATE("差额",TEXT(（本年数）存货的减少(减:增加)-(资产负债表!（上年数）存货-资产负债表!（本年数）存货),"0.00")))'>
            <input type="text" class="" name="UNKNOWN_EIGHT" id="G19" readonly="readonly" style="background-color:#CCC" />
        </td>
    </tr>
</table>
</form>
<center >
    <a href="#" class="linkbutton" iconCls="icon-save" id="subFinnceButton" onclick="saveFinnce_Cash()">保存</a>
    ##<input type="button" id="subButton" onclick="saveFinnce_Cash()" value="保  存" class="Button" >
</center>
</body>
