#parse("content/importBase.vm")
<div class="easyui-layout" fit="true">
	<div region="center">
		<div class="easyui-layout" fit="true">
        	<div style="text-align: center;padding:5px" region="north">
                <a id="prev" class="easyui-linkbutton" onclick="goPrevious()">上一页</a>
                <a id="next" class="easyui-linkbutton" onclick="goNext()">下一页</a>
                &nbsp; &nbsp;
                <span>页码: <span id="page_num"></span> / <span id="page_count"></span></span>
            	<input id="tiaozhuanshu" type="text" size="3px" class="easyui-numberbox"/>
            	<a id="tiaozhuan" class="easyui-linkbutton" onclick="tiaozhuan()">跳 转</a>
            	&nbsp; &nbsp;
                <span>显示比例：
            		<select id="scaleSelect" onchange="proportion()">
            			<option value="0.5">50%</option>
            			<option value="0.75" selected>75%</option>
            			<option value="1">100%</option>
            			<option value="1.25">125%</option>
            			<option value="1.5">150%</option>
            			<option value="2">200%</option>
            		</select>
            	</span>
            </div>
        	<div region="center">
                <div style="text-align: center">
            		<canvas id="the-canvas" style="border:1px solid black"></canvas>
            	</div>
            </div>
        </div>
    </div>
</div>
 <input type="hidden" id="ID" value="$!param.ID"/>
<script type="text/javascript" src="$_basePath/js/pdf.js"></script>
<script type="text/javascript" src="$_basePath/pdfTemplate/js/pdfShow.js"></script>