#parse("content/importBase.vm")
<script>
   //列的总数量
   var colSize = -1;
   var rowSize = 50;
   var tableId="insDialog";
   var toolbarId = "pageForm";
   var url = "$_basePath/suppliersReport/SuppliersReport!pageData.action";
</script>
<script type="text/javascript" src="$_basePath/suppliersReport/js/ReportBaseNew1.js"></script>
<div >
<div id="pageForm" border="true" style="padding:20px;height:auto;">
    <form id="form01" method="post">
	<table border="0" cellpadding="0" cellspacing="0" >
		<tr>
			<td align="right">省份:</td>
		    <td align="right">&nbsp;</td>
			<td align="left">
				<select id="PROVINCE_NAME" name="PROVINCE_NAME" class="paramData">
					<option value="">--请选择--</option>
					#foreach ($item in $proList)
						<option value="$!item.NAME">$!item.NAME</option>
					#end
				</select>
			</td>
		    <td align="right">经销商:</td>
		    <td align="right">&nbsp;</td>
			<td align="left">
				<input type="text" name="SUP_NAME" id="SUP_NAME" class="paramData" value="" style="width: 100px;"/>
			</td>
			<td align="right">车型:</td>
		    <td align="right">&nbsp;</td>
			<td align="left">
				<input type="text" name="TYPE_NAME" id="TYPE_NAME" class="paramData" value="" style="width: 100px;"/>
			</td>
			
			<td align="right">&nbsp;</td>
			<td algin="right">
			    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='tofindData("$_basePath/suppliersReport/SuppliersReport!pageData.action");'>查询</a>
				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" id="qingkong" onclick="qingkong();">清空</a>				
##				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-down'"  onclick="exportExcel('$_basePath/approve/ApproveReport!toExcelApproveAll.action')">导出</a>
			</td>
		</tr>
	</table>
	</form>
</div>
<div>
    #foreach($item in $!columnInit.columnList)
		<input type="hidden" id="COLUMN$velocityCount" value="$!item.FLAG"/>
	    <input type="hidden" id="FIELD$velocityCount" value="$!item.FIELD"/>
	#end
    <input type="hidden" id="COLUMN_NAMES" value="$!columnInit.COLUMN_NAMES"/>
    <input type="hidden" id="COLSIZE" value="$!columnInit.COLSIZE"/>
</div>
</div>
<table id="insDialog"></table>