    <script type="text/javascript" src="$!_basePath/analysisBySynthesis/industry/js/toMgIndustry.js"></script>
		
						##<td><a href="$!_basePath/industry/Industry!toShowIndustry.action?HY_ID=$!item.HY_ID">查看</a>
						##	|<a href="$!_basePath/industry/Industry!toUpdateIndustry.action?HY_ID=$!item.HY_ID">修改</a>							
						##	|<a href="#" onclick="delINDUSTRY($!item.HY_ID)">删除</a>
						##	|<a href="$!_basePath/industry/IndustryFinance.action?HY_ID=$!item.HY_ID">添加财报</a>
						##	##|<a href="#" onclick="delINDUSTRY($!item.HY_ID)">查看财报</a>
						##</td>
			
              <div id="pageForm" border="true">
			  <table border="0" cellpadding="0" cellspacing="0" >
                        <tr><input type="hidden" name="CREDIT_ID" id="CREDIT_ID" value="$!param.CREDIT_ID" />
							<td >行业代码:</td>
							<td ><input type="text" name="INDUSTRY_CODE" id="INDUSTRY_CODE" class="paramData" value="$!param.INDUSTRY_CODE" style="width: 150px;"/> </td>
							<td >行业名称:</td>
							<td ><input type="text" name="INDUSTRY_NAME" id="INDUSTRY_NAME" class="paramData" value="$!param.INDUSTRY_NAME" style="width: 150px;"/> </td>
							<td>
								 <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick='tofindData();'>查询</a>
								<!-- <input class="Button" type="button" id="qingkong" value="清空"/> Modify By:YangJ 2014年4月28日10:33:20 修改按钮样式-->
								 <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-clean'" id="qingkong">清空</a>
								 ## <input class="Button" type="button" id="tianjia" value="添加"/>
								 <!-- <input class="Button" type="button" id="tianjia" value="添加"/>Modify By:YangJ 2014年4月28日9:29:20 此页面仅提供查看功能，不需要添加-->
								 <input type="hidden" value="1" id="check"><!--此处用于提供给JS文件判断，为1则表明这是view页面，则加载适用于本页面的配置！-->
							</td>
						</tr>
                    </table>
			  </div>
        <table id="insDialog"></table>
