	<script type="text/javascript">
    	function searchOne(){
    	    var SUP_NAME = $("#SUP_NAME").val(); 
			var CUST_NAME = $("#CUST_NAME").val();
			var PRO_NAME = $("#PRO_NAME").val();
			var PRO_CODE = $("#PRO_CODE").val();
    	    $('#pageTable3').datagrid('load', {"SUP_NAME":SUP_NAME,"CUST_NAME":CUST_NAME,"PRO_NAME":PRO_NAME,"PRO_CODE":PRO_CODE});
    	}
		$(function(){
    	    $('#pageTable3').datagrid();
    	    $('.linkbutton').linkbutton();
		});
    </script>
	  <div id="pageForm3" style="padding:20px;height:auto">                        	
    		<table width="100%" cellspacing="0" cellpadding="0" border="0">
    			<tr>
            	  <td>
					供应商名称：
					<input class="input_03" type="text" size ="20" id="SUP_NAME" value="$!param.SUP_NAME" />
					承租人名称：
					<input class="input_03" type="text" size ="20" id="CUST_NAME" value="$!param.CUST_NAME" />
					项目名称：
					<input class="input_03" type="text" size ="20" id="PRO_NAME" value="$!param.PRO_NAME"  />
					项目编号：
					<input class="input_03" type="text" size ="20" id="PRO_CODE" value="$!param.PRO_CODE" />
					<a href="javascript:void(0);" class="linkbutton" iconCls="icon-search" onclick="searchOne()">查询</a>
    			  </td>
                </tr>
    	    </table>
		</div>		    
		<table id="pageTable3" fit="true"  fitColumns="true" pagination="true" rownumbers="true" singleSelect="true" url="$_basePath/renterpool/ResidualMoney!toMgResetFundData.action" toolbar="#pageForm3" >
    		<tr>
				<thead>
		            <th data-options="field:'SCODE',width:100">供应商编号</th>
    				<th data-options="field:'SUP_SHORTNAME',width:100">供应商名称</th>
    				<th data-options="field:'CUST_NAME',width:100">承租人名称</th>
			        <th data-options="field:'PRO_NAME',width:150">项目名称</th>
					<th data-options="field:'PRO_CODE',width:150">项目编号</th>
					<th data-options="field:'CANUSE_MONEY',width:150">可用客户余款</th>
					<th data-options="field:'FA_ACCOINT_MONEY',width:150">本次冲抵金额</th>
					<th data-options="field:'LAST_MONEY',width:150">剩余金额</th>
					<th data-options="field:'PAY_CODE',width:150">付款单号</th>
					<th data-options="field:'FI_ACCOUNT_DATE',width:150">操作日期</th>
					<th data-options="field:'FI_STATUS',width:150">状态</th>
                </thead>
    		</tr>
         </table>